  /**
* Copyright © 2017 Ecomteck. All rights reserved.
* See LICENSE.txt for license details.
*/
@media ( min-width:1200px) {
  #onestepcheckout-page .page-main {
    max-width: 1260px;
  }
}
  #onestepcheckout-page .opc-wrapper .form-login {
    border-bottom: none;
  }
  #onestepcheckout-page .opc-sidebar {
    display: block;
    width: 33.33%;
    float: right;
  }
  #onestepcheckout-page .opc-wrapper {
    width: 66.67%;
    margin-bottom: 0px;
    padding-right: 0;
    border: none!important;
  }
  #onestepcheckout-page .opc-block-summary .items-in-cart {
    margin-bottom: 20px;
  }
  #onestepcheckout-page .opc-wrapper .step-title {
    padding-bottom: 0px;
  }
  #onestepcheckout-page #checkout {
    clear: both;
    margin-bottom: 40px;
  }
  #onestepcheckout-page #welcome,
  #onestepcheckout-page #payment,
  #onestepcheckout-page #shipping,
  #onestepcheckout-page #opc-shipping_method,
  #onestepcheckout-page li.step,
  #onestepcheckout-page #opc-summary {
    width: 50%;
  }
  #onestepcheckout-page .opc-block-summary {
    width: 100%;
    margin-bottom: 0;
    background:#fff; 
  }
  #onestepcheckout-page #opc-sidebar {
    width: 33.33%;
    float: left;
  }
  #onestepcheckout-page .opc-wrapper .form-login,
  #onestepcheckout-page .opc-wrapper .form-shipping-address,
  #onestepcheckout-page .opc-wrapper .methods-shipping {
    background-color: transparent;
  }
  #onestepcheckout-page .opc-block-shipping-information {
    padding-right: 0px;
  }
  #onestepcheckout-page .logo-container .logo {
    margin:30px auto;
    width: 200px;
    margin-left:30px; 
  }
  #onestepcheckout-page .opc-wrapper .form-login {
    padding-bottom: 0px;
  }
  #onestepcheckout-page .one-step-checkout-footer-wrapper {
    margin-top: -35px;
    margin-bottom: 40px;
  }
  #onestepcheckout-page .opc-wrapper .form-shipping-address {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #onestepcheckout-page #opc-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
 
  

    #onestepcheckout-page #discount-form .payment-option-inner,
  #onestepcheckout-page #giftcard-form .payment-option-inner {
    width: 58%;
    float: left;
  }

  #onestepcheckout-page #discount-form .actions-toolbar,
  #onestepcheckout-page #giftcard-form .actions-toolbar {
    width: 42%;
    float: left;
    margin-top: 0; 
  }
  #onestepcheckout-page .opc-wrapper .step-content {
    margin-bottom: 30px;
}
#onestepcheckout-page .opc-wrapper .step-title .fa {
    display: none;
}
#onestepcheckout-page .opc-block-summary .fa {
    display: none;
}

@media (min-width:768px) and (max-width:1199px) {
    #onestepcheckout-page #welcome,
    #onestepcheckout-page #payment,
    #onestepcheckout-page #shipping,
    #onestepcheckout-page #opc-shipping_method,
    #onestepcheckout-page li.step,
    #onestepcheckout-page #opc-summary {
      width: 100%;
  }
}