/* ----------------------------------------------------------------------------------------*/
/******
 * Icon Default
 ******/
.icon, .icon12, .phone-header-icon, .arrow-down-icon, .icon16, .arrow, .maestro-icon, .icon20, .phone-footer-icon, .mail-icon, .menu-tray, .cart-icon, .add-orng-icon, .icon32, .fb-icon, .gplus-icon, .yt-icon, .tw-icon, .bing-icon, .pintrest-icon, .tablet-icon, .arrow-back, .suc-tick-icon, .icon40, .master-card-icon, .visa-icon, .icon42, .doctor-icon, .test-icon, .consultation-icon, .medicine-icon, .wellness-icon, .healthcare-icon, .corporate-icon, .symptoms-icon, .ask-question-icon, .knowledge-base-icon, .home-delivery-icon, .quality-icon, .return-icon, .delivery24-icon, .save-money-icon, .track-icon, .icon48, .icon80, .doctor-practice-icon, .labs-practice-icon, .clinics-practice-icon, .hospitals-practice-icon, .other-practice-icon, .icon100, .upload-prescription-icon, .customer-support-icon, .doorstep-delivery-icon, .icon120, .icon140, .body-ache-icon, .fracture-icon, .hair-fall-icon, .joint-pain-icon, .eardrum-swelling-icon, .body-groins-icon, .icon200 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  background: url(../images/zoylo-spritesheet.svg) no-repeat 0 0; }

/******
 * Icon sizes
 ******/
.icon12, .phone-header-icon, .arrow-down-icon {
  width: 12px;
  height: 12px; }

.icon16, .arrow, .maestro-icon {
  width: 16px;
  height: 16px; }

.icon20, .phone-footer-icon, .mail-icon, .menu-tray, .cart-icon, .add-orng-icon {
  width: 20px;
  height: 20px; }

.icon32, .fb-icon, .gplus-icon, .yt-icon, .tw-icon, .bing-icon, .pintrest-icon, .tablet-icon, .arrow-back, .suc-tick-icon {
  width: 32px;
  height: 32px; }

.icon40, .maestro-icon, .master-card-icon, .visa-icon {
  width: 40px;
  height: 40px; }

.icon42, .doctor-icon, .test-icon, .consultation-icon, .medicine-icon, .wellness-icon, .healthcare-icon, .corporate-icon, .symptoms-icon, .ask-question-icon, .knowledge-base-icon, .home-delivery-icon, .quality-icon, .return-icon, .delivery24-icon, .save-money-icon, .track-icon {
  width: 42px;
  height: 42px; }

.icon48 {
  width: 48px;
  height: 48px; }

.icon80, .doctor-practice-icon, .labs-practice-icon, .clinics-practice-icon, .hospitals-practice-icon, .other-practice-icon {
  width: 80px;
  height: 80px; }

.icon100, .upload-prescription-icon, .customer-support-icon, .doorstep-delivery-icon {
  width: 100px;
  height: 100px; }

.icon120 {
  width: 120px;
  height: 120px; }

.icon140, .body-ache-icon, .fracture-icon, .hair-fall-icon, .joint-pain-icon, .eardrum-swelling-icon, .body-groins-icon {
  width: 140px;
  height: 140px; }

.icon200 {
  width: 200px;
  height: 200px; }

.upload-prescription-icon {
  background-position: -16px -297px;
  height: 70px;
  width: 70px; }

.customer-support-icon {
  background-position: -218px -296px;
  height: 70px;
  width: 70px; }

.doorstep-delivery-icon {
  background-position: -300px -294px;
  height: 70px;
  width: 100px; }

.upload {
  position: relative; }
.upload .file-upload {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 115px;
  height: 40px; }

/* upload Prescription Content */
.upload-prescription-content {
  padding: 30px 0 0; }
  @media only screen and (max-width: 767px) {
    .upload-prescription-content {
      height: calc(100% - 130px);
      overflow: scroll; } }

.upload-flow-list {
  counter-reset: list; }
  .upload-flow-list li {
    position: relative;
    counter-increment: list;
    padding-left: 30px;
    text-align: left; }
    .upload-flow-list li:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 30px;
      height: 20px;
      content: counter(list, decimal-leading-zero);
      font-size: 24px;
      font-family: "DINPro-Bold"; }

.upload-prescription-area {
border: 2px dashed #e5e5e5;
box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
height: 460px;
border-radius: 2px;
padding: 20px;
position: relative; }
@media only screen and (max-width: 767px) {
.upload-prescription-area {
height: 250px; } }
.upload-prescription-area .presc-link {
position: absolute;
bottom: 10px;
right: 10px; }
.upload-prescription-area .presc-link a {
text-decoration: underline; }
.upload-prescription-area .prescription-guidelines {
position: absolute;
bottom: 0;
left: 0;
right: 0;
padding: 10px;
background: #f4f5f7; }

.button-container {
margin: 0 0 20px; }
@media only screen and (max-width: 767px) {
.button-container {
position: fixed;
left: 0;
bottom: 0;
height: 40px;
width: 100%;
margin: 0; }
.button-container .btn {
position: absolute;
width: 100%;
height: 100%;
bottom: 0; } }

.uploaded-list li {
padding: 15px 0; }
.uploaded-list li .pdf-icon {
width: 30px;
height: 30px;
margin: 0 10px 0 0;
display: inline-block; }
.uploaded-list li .progress {
height: 4px;
width: 300px; }
.uploaded-list li .progress .progress-bar {
  background: #a3cf62; }
.uploaded-list li .loader-content {
position: relative; }
.uploaded-list li .loader-content .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  line-height: 6px; }

.prescription-list {
/*padding: 20px;
margin: 20px 0;*/
height: 320px;
background: #f4f5f7; }
.prescription-list .card-list {
height: 100%;
overflow: auto;
}
.prescription-list .card {
width: 180px;
height: auto;
position: relative;
margin-top:10px;}
.prescription-list .card .presc-image {
  height: 100px;
  background: #e5e5e5;
  margin: 0 0 10px; }
.prescription-list .card .presc-details {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0 0; }

.presc-hover-content {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(29, 45, 61, 0.8); }
.presc-hover-content * {
color: #ffffff; }
.presc-hover-content .prec-hover-details {
border-top: 1px dashed #ffffff;
padding: 10px 0 0; }

.upload-moblie-options {
  margin: 30px 0; }
.upload-moblie-options li {
text-align: center;
margin: 0 0 10px; }
.upload-moblie-options li a {
  padding: 10px;
  border: 1px solid #e5e5e5;
  font-size: 1.4rem;
  font-family: "DINPro-Medium";
  width: 100%;
  text-align: left; }
.btn.btn-secondary.mt-3{
	border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
	background:#f3801a;
	color:#ffffff;
}
.uploadArea{ min-height:150px; width:350px; border:3px dotted #ccc; padding:10px; cursor:move; margin-bottom:10px; position:relative;}
.buttonUpload { display:inline-block; padding: 5px 18px 8px; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #0074cc;border-radius: 6px; border-color: #e6e6e6; border: 2px solid #cccccc; color:#fff; }
.card-list{
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.presc-card{
  width: 160px;
  height: 230px;
  position: relative;
  padding: 10px;
  background: #ffffff;
  border:1px solid rgba(0,0,0,0.13);
  margin: 20px 0;}

.presc-image{
  height: 100px;
  background: $greyLight;
  margin: 0 0 10px;
  width: 100%;
}
