<?php
$order = $block->getOrder();
$order_id = $order->getId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$grandTotal = $order->getGrandTotal();
$shippingAmount = $order->getShippingAmount();
$taxAmount = $order->getTaxAmount();
$payment = $order->getPayment();
$paymentMethod = $payment->getMethod();
$customer_id = $order->getCustomerId();
?>
<div class="checkout-success ">
    <div class="row">
        <div class="col-4 first-block-inforamtion">  
            <div class="col-12 ordersucess-content">
<?php if ($order->getIncrementId()) { ?>
                    <div class="ordersucess-icon"><i class="zoylo-icon ordersucess-click"></i></div>  
                    <div class="order-placed-block"><p><h3>Order Placed Successfully</h3></p>
                        <p><?php echo __('Thanks you for placing your order with Zoylo.com') ?></p>
                        <p><?php echo __('Our executive will get in touch with you shortly') ?></p>

                        <?php if ($block->getCustomerId()) { ?>
                                <p><?php echo "Your order number is: <strong>" . $order->getIncrementId()."</strong>"; ?></p>
                        <?php } else { ?>
                            <p><?php echo "Your order # is: <span>%1</span>." . $order->getIncrementId(); ?></p>
    <?php }
} ?>
                </div>
                <div class="order-summary "><table class="ordersummary-table-items"><tr><td colspan="2" class="tabledata-left"><h5>Order Summary</h5></td></tr>
                        <?php
                        $items = $order->getAllItems();
                        $total_items = count($items);
                        $sub_total = $order->getSubtotal();
                        $shipping_amount = $order->getShippingAmount();
                        $total = $sub_total + $shipping_amount;
                        $gift_cards_amount = $order->getGiftCardsAmount();
                        $base_discount_amount = $order->getBaseDiscountAmount();
                        $discount_description = $order->getDiscountDescription();
                        $grand_total = $order->getGrandTotal();
                        ?> 

                        <tr><td colspan="2"><h5 class="tabledata-left">Total items</h5><p class="tabledata-right"><?php echo $total_items; ?></p></td></tr>
                        <tr><td colspan="2"><p class="tabledata-left">Cart Subtotal</p><p class="tabledata-right"><?php echo number_format($sub_total, 2, '.', ''); ?></p></td></tr>
                        <tr><td colspan="2"><p class="tabledata-left">Shipping</p><p class="tabledata-right"><?php echo number_format($shipping_amount, 2, '.', ''); ?></p></td></tr>
                      <!--    <tr><td colspan="2" class="total-data"><p class="tabledata-left">Total</p><p class="tabledata-right"><?php //echo number_format($total, 2, '.', ''); ?></p></td></tr> 
                       <tr><td colspan="2"><p class="tabledata-left-gift">Gift card value</p><p class="tabledata-right-gift"><?php //echo $gift_cards_amount; ?></p></td></tr> -->
                        <?php if($base_discount_amount){ ?> 
                        <tr><td colspan="2"><p class="tabledata-left">Discount Amount ( <?php echo $discount_description; ?>)</p><p class="tabledata-right"><?php echo number_format($base_discount_amount, 2, '.', ''); ?></p></td></tr>
                        <?php } ?>
                        <tr><td colspan="2" class="last-grand-totl"><h5 class="grand-total-left">Grand Total </h5><h5 class="grand-total-rightl"><?php echo number_format($grand_total, 2, '.', ''); ?></h5></td></tr></table>
                </div>
            </div>
             <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('disclaimer')->toHtml(); ?> 
        </div>

        <div class="col-8 second-block-inforamtion">
            <div class="col-12 shipping-address"><h4>Shipping Address</h4>
                <?php
                $shippingAddress = $order->getShippingAddress();
                $fullname = $shippingAddress->getFirstname() . $shippingAddress->getLastname();
                $street = $shippingAddress->getStreet();
                $city = $shippingAddress->getCity();
                $region = $shippingAddress->getRegion();
                $country = $shippingAddress->getCountry();
                $phonenum = $shippingAddress->getTelephone();
                $post_code = $shippingAddress->getPostcode();
                ?>
                <h5 class="customer-name"><?php echo $fullname; ?></h5>
                <p><?php echo $phonenum; ?></p>
                <p><?php echo $street[0] . ', ' . $city . ', ' . $region . ', ' . $country . ', ' . $post_code; ?></p>
            </div>
            <div class="col-12 payment-address"><h4>Payment Method</h4>
                <?php
                $payment = $order->getPayment();
                $method = $payment->getMethodInstance();
                $methodTitle = $method->getTitle();
                ?>
                <p><?php echo $methodTitle; ?></p></div>

            <div class="col-12 item-in-order"><h4>Items in Order</h4>
                <?php
                $i = 1;
                $itemsData = [];
                foreach ($items as $item) {
                    $categoryName = '';
                    
                    $_product = $objectManager->create('Magento\Catalog\Model\Product')->load($item->getProductId());
                    $categoryIds = $_product->getCategoryIds();
                    foreach($categoryIds as $categoryId){
                        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($categoryId);
                        $categoryName = $cat->getName();
                    }
                    $sku=$item->getSku();
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $productObject = $objectManager->get('Magento\Catalog\Model\Product');
                    $product = $productObject->loadByAttribute('sku', $sku);
                    $itemsData[] = [
                        'sku' => $item->getSku(),
                        'name' => $item->getName(),
                        'category' => $categoryName,
                        'price' => $item->getPrice(),
                        'quantity' => $item->getQtyOrdered(),
                    ];

                    if ($item->getSku() != 'Free') {
                        ?>
                        <table><tr>
                                <td><?php echo $i; ?></td> 
                                <td><?php 
                                $sku_display_name = $product->getSkuDisplayName();
                                    if(isset($sku_display_name) && $sku_display_name != ''){
                                    echo $sku_display_name;
                                    }else{
                                    echo $product->getName();
                                    } ?>
                                <p><?php echo $product->getResource()->getAttribute('display_pack_size')->getFrontend()->getValue($product); ?>
                                </p></td>
                                <td class="item-in-order-price"><?php echo number_format($item->getPrice(), 2, '.', ''); ?></td></tr></table>
                        <?php //echo "<br>" ?>
                        <?php $i++;
                    }
                } ?>

<?php
$prescription_value = $order->getPrescriptionValues();
if (isset($prescription_value)) {
?>
	<style type="text/css">
	.cart-widget-container{display:none !important;}
        .messages{display:none;}
	</style>

<div class="precription-added"><h4><p><i class="fas fa-book-open"></i>Prescription Added</p>
	</h4></div>
<?php } ?> 
            </div>
        </div>

    </div>
</div>
<?php 
$incrementId        = $order->getIncrementId();
$scopeConfig        = $objectManager->create('\Magento\Framework\App\Config\ScopeConfigInterface');
$e_comm_transaction = $scopeConfig->getValue('zoylo_external_scripts/external_scripts/e_comm_transaction', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$facebook_pixel     = $scopeConfig->getValue('zoylo_external_scripts/external_scripts/facebook_pixel', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$hasoffer_pixel     = $scopeConfig->getValue('zoylo_external_scripts/external_scripts/hasoffer_pixel', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$m_trackit          = $scopeConfig->getValue('zoylo_external_scripts/external_scripts/m_trackit', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
?>
<?php if($e_comm_transaction == 1){ ?>
    <script type="text/javascript">
        var dic=[];
        <?php foreach($itemsData as $item) { ?>
            <?php if($item['sku']!='Free'){ $zoyloCategoryName = $item['category'];}else{ $zoyloCategoryName = "Rx";} ?>
            dic.push({
            'sku': '<?php echo $item['sku'];?>',
            'name': '<?php echo $item['name'];?>',
            'category': '<?php echo $zoyloCategoryName;?>',
            'price': '<?php echo $item['price'];?>',
            'quantity': '<?php echo $item['quantity'];?>'
            });
        <?php } ?>
    </script>
    <script>
    dataLayer.push({
    'event':'ecomm_event',
        'transactionId': '<?php echo $incrementId;?>', // Transaction ID - this is normally generated by your system.
        'transactionAffiliation': '<?php echo $paymentMethod;?>', // Affiliation or store name
        'transactionTotal': '<?php echo $grandTotal;?>', // Grand Total
        'transactionTax': '<?php echo $taxAmount;?>', // Tax.
        'transactionShipping':'<?php echo $shippingAmount;?>', // Shipping cost
        'transactionProducts':dic
    });
    </script>
<?php } 
    if($facebook_pixel == 1){
?>
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '162703714390622');
           fbq('track', 'Purchase', {value: '<?php echo $grandTotal;?>', currency: 'INR'});
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=162703714390622&ev=PageView&noscript=1"
        /></noscript>
<?php } 
    if($hasoffer_pixel == 1){
?>
        <iframe src="https://zoylo.go2cloud.org/aff_l?offer_id=20&adv_sub=<?php echo $incrementId;?>&amount=<?php echo $grandTotal;?>" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<?php } ?>
<?php if($m_trackit == 1) {
?>
    <img src="https://pixel.mtrackit.com/1.gif?revenue_amount=<?php echo $grandTotal;?>&order_id=<?php echo $incrementId;?>&cust_field1=<?php echo $customer_id;?>" style="position:absolute; visibility:hidden">
<?php } ?>
  