<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Geoip
 */
?>
<br/>
<button id="am-download-import" class="action-default scalable" data-ui-id="widget-button-0" type="button" title="<?php echo __('Download and Import') ?>">
    <span><?php echo __('Download and Import') ?></span>
</button>
<br/>

<div class="progressbar">
    <div class="am_download_container"><span class="begin"></span>

        <div class="am_line">
            <div class="am_download" style="width: <?php echo $this->getWidth() ?>%"><span>&nbsp</span></div>
        </div>
    </div>
    <div class="am_processer_container"><span class="<?php echo $this->getCompletedClass() ?>"></span>

        <div class="am_line">
            <div class="am_processer" style="width: <?php echo $this->getWidth() ?>%"><span>&nbsp</span></div>
        </div>
        <span class="<?php echo $this->getImportedClass() ?>"></span></div>
    <span class="download"><div class="bubble"><?php echo __("Download")?></div></span><span class="import"><div class="bubble"><?php echo __("Import")?></div></span>
    <span class="completed_import"><div class="bubble"><?php echo __("Completed")?></div></span>
</div>
<br/>
<?php echo $this->getImportDate() ?>
<script type="text/javascript">
    require([
        'jquery',
        'Amasty_Geoip/js/import'
    ], function ($) {
        var download = $('#am-download-import');

        download.amGeoip({
            importItems: <?php echo $this->getConfig(); ?>,
            type: 'download_n_import'
        });

    });

</script>
