  /* --------------------------------------- */
/* Fine Uploader Styles  */
/* ---------------------------------------  */
.opc-block-summary .minicart-items-wrapper{overflow:scroll;}
.shipping-address-item p.customer-title{  text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:180px }
.shipping-address-item span.address-type{width:64px;}
.upload-prescription-content {
  padding: 0px 0 0;
  margin: 0 -15px;
}
/* Buttons ------------------------------------------ */ 
.qq-btn {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.37) inset, 1px 0 1px rgba(255, 255, 255, 0.07) inset, 0 1px 0 rgba(0, 0, 0, 0.36), 0 -2px 12px rgba(0, 0, 0, 0.08) inset;
  padding: 3px 4px;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  color: inherit;
  background-color: #FFFFFF;
}

.qq-upload-delete, .qq-upload-pause, .qq-upload-continue {
  display: inline;
}

.qq-upload-delete {
  background-color: #e65c47;
  color: #FAFAFA;
  border-color: #dc523d;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.55);
}

.qq-upload-delete:hover {
  background-color: #f56b56;
}

.qq-upload-cancel {
  background-color: #F5D7D7;
  border-color: #e6c8c8;
}

.qq-upload-cancel:hover {
  background-color: #ffe1e1;
}

.qq-upload-retry {
  background-color: #EBF6E0;
  border-color: #d2ddc7;
}

.qq-upload-retry:hover {
  background-color: #f7ffec;
}

.qq-upload-pause, .qq-upload-continue {
  background-color: #00ABC7;
  color: #FAFAFA;
  border-color: #2dadc2;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.55);
}

.qq-upload-pause:hover, .qq-upload-continue:hover {
  background-color: #0fbad6;
}
/* Upload Button ------------------------------------------ */
.qq-upload-button {
  display: inline;
  margin-bottom: 10px;
  text-align: center;
  float: left;
  background: #fff;
  color: #faa74a;
  border-radius: 2px;
  border: 1px solid #faa74a;
  height: 36px;
  width: 114px;
  padding: 6px 10px;
  font-size: 14px;
  font-family: DINPro-Medium;
  margin: 0;
}
 /* .qq-upload-button-selector.qq-upload-button::before {
     content: "\f15b"; 
     font: normal normal normal 14px/1 FontAwesome;
     float: left;
     font-size: 16px;
     color: #faa74a; 
}
button#trigger-upload::before {
    content: "\f093"; 
     font: normal normal normal 14px/1 FontAwesome;
     float: left;
     font-size: 16px; 
     color: #fff;
     margin: 8px 5px 0 0;
} */  
.qq-upload-button-hover {
  background: #f4f5f7;
}

.qq-upload-button-focus {
  outline: 1px dotted #000000;
}

.flow-detail .font-12 {
  font-size: 12px;
  color: #1d2d3d;
}

.upload-flow-list li::before {
  color: #1d2d3d;
  display: none;
}

.card-body .font16 {
  font-size: 16px;
  color: #707070;
  width: 60%;
  line-height: 20px;
  margin-top: 20px !important;
}

.upload-flow-list h3 {
  color: #c3c3c3;
  font-size: 12px;
  margin: 0 0 5px;
  line-height: 1;
  float: left;
  width: 100%;
  font-family: DINPro-Medium;
}

.upload-flow-list .zoylo-icon-caption {
  margin: 5px 5px 0 5px;
  font-size: 12px;
}

.upload-flow-list li {
  list-style-type: none;
  padding-left: 15px;
}

#fine-uploader-manual-trigger {
  width: 55%;
  float: right;
  position: absolute;
  left: 40%;
  height: 320px;
  border: 2px dashed #e5e5e5;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  padding: 0px;
  background: url(../images/upload-bg.png) no-repeat 0 0;
}

.uploaded-prescriptions {
  position: relative;
  left: 24px;
  float: right;
}

.uploaded-prescriptions .continue-button {
  float: right;
  margin-top: 20px;
  margin-right: 0px;
}

.recently-uploadeded {
  position: relative;
  bottom: 120px;
}

.recently-uploadeded .col-md-8 {
  max-width: 64.666667%;
}

.prescription-list .recently-border {
  position: relative;
  top: 0px;
  left: 10px;
  color: #1d2d3d;
}

.prescription-list .recently-border:after {
  border-bottom: 1px solid #707070;
  content: "";
  width: 60%;
  float: right;
  position: absolute;
  top: 14px;
  margin-left: 10px;
}

.upload-process {
  border: 1px solid #eaeaea;
}

.upload-flow-list {
  padding: 5px;
  margin: 0px;
  border: 1px solid #eaeaea;
}

.uploadprescription-index-index .page-main>.page-title-wrapper .page-title {
  display: none;
}

.custom-card {
  margin-top: 10px;
}

p.any-assistance {
  font-size: 18px;
  font-family: DINPro-Medium;
}
/* Drop Zone ------------------------------------------ */
#fine-uploader-manual-trigger .buttons {
  position: relative;
  margin-top: 20px;
  margin: auto;
  width: 36%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.qq-uploader {
  position: absolute;
  width: inherit;
  border-radius: 6px;
  padding: 20px;
  top: auto;
  text-align: center;
  padding-top: 5%;
  width: 100%;
  bottom: 32%;
  top: 20%;
}

.remove-padd {
  padding-top: 5%;
}

.qq-uploader h3 {
  font-size: 18px;
  color: #1d2d3d;
}

.drag-drop {
  font-size: 18px;
  color: #1d2d3d;
}

.uploadprescription-index-index .prescription-list {
  margin-top: 15px;
}

.uploadprescription-index-specify .prescription-list {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 5px;
}

.uploadprescription-index-specify .page-title-wrapper .page-title {
  display: none;
}

.qq-uploader:before {
    /*content: attr(qq-drop-area-text) " "; */
  position: absolute;
  font-size: 200%;
  left: 0;
  width: 100%;
  text-align: center;
  top: 45%;
  opacity: 0.25;
}

.qq-upload-drop-area, .qq-upload-extra-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 30px;
  z-index: 2;
  background: #F9F9F9;
  border-radius: 4px;
  border: 1px dashed #c3c3c3;
  text-align: center;
}

.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -8px;
  font-size: 16px;
}

.qq-upload-extra-drop-area {
  position: relative;
  margin-top: 50px;
  font-size: 16px;
  padding-top: 30px;
  height: 20px;
  min-height: 40px;
}

.qq-upload-drop-area-active {
  background: #FDFDFD;
  border-radius: 4px;
  border: 1px dashed #c3c3c3;
}

.qq-upload-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 130px;
  overflow-y: auto;
  box-shadow: 0px 1px 0px rgba(15, 15, 50, 0.14);
  clear: both;
}

/* Uploaded Elements ------------------------------------------ */
.qq-upload-list li {
  margin: 0;
  padding: 9px;
  line-height: 15px;
  font-size: 16px;
  color: #424242;
  background-color: #F6F6F6;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  background-color: #e5e5e5;
  float: left;
  width: 100%;
  position: relative;
}

.qq-upload-list li:first-child {
  border-top: none;
}

.qq-upload-list li:last-child {
  border-bottom: none;
}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-failed-text, .qq-upload-delete, .qq-upload-pause, .qq-upload-continue {
  margin-right: 12px;
  display: inline;
}

.qq-upload-file {
  vertical-align: middle;
  display: inline-block;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  height: 18px;
}

.qq-upload-spinner {
  display: inline-block;
  background: url("loading.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}

.qq-drop-processing {
  display: block;
}

.qq-drop-processing-spinner {
  display: inline-block;
  background: url("processing.gif");
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}

.qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-delete, .qq-upload-pause, .qq-upload-continue {
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  vertical-align: middle;
}

.qq-upload-status-text {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.qq-upload-failed-text {
  display: none;
  font-style: italic;
  font-weight: bold;
}

.qq-upload-failed-icon {
  display: none;
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}

.qq-upload-fail .qq-upload-failed-text {
  display: inline;
}

.qq-upload-retrying .qq-upload-failed-text {
  display: inline;
}

.qq-upload-list li.qq-upload-success {
  background-color: #EBF6E0;
  color: #424242;
  border-bottom: 1px solid #D3DED1;
  border-top: 1px solid #F7FFF5;
}

.qq-upload-list li.qq-upload-fail {
  background-color: #F5D7D7;
  color: #424242;
  border-bottom: 1px solid #DECACA;
  border-top: 1px solid #FCE6E6;
}

.qq-progress-bar {
  display: block;
  display: block;
  background: #00abc7;
  width: 0%;
  height: 15px;
  border-radius: 6px;
  margin-bottom: 3px;
}

.qq-total-progress-bar {
  height: 25px;
  border-radius: 9px;
}

.qq-total-progress-bar-container {
  margin-left: 9px;
  display: none;
  float: right;
  width: 500px;
}

input.qq-edit-filename {
  position: absolute;
  opacity: 1;
  filter: alpha(opacity=0);
  z-index: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 38%;
  left: auto;
  right: 23%;
  margin: auto;
}

.qq-upload-file.qq-editable {
  cursor: pointer;
  margin-right: 4px;
  width: auto;
  margin: 12px 4px 0 4px;
  float: left;
}

.qq-edit-filename-icon.qq-editable {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 110px;
  z-index: 1;
  top: 20px;
}

input.qq-edit-filename.qq-editings {
  position: absolute;
  opacity: 1;
  filter: alpha(opacity=0);
  z-index: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 38%;
  left: auto;
  right: 23%;
  margin: auto;
}

.qq-edit-filename-icon {
  display: none;
  background: url("edit.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
  margin-right: 16px;
}

.qq-hide {
  display: none;
}
/* Thumbnail ------------------------------------------ */
.qq-thumbnail-selector {
  vertical-align: middle;
  margin-right: 12px;
  float: left;
}

button.qq-btn.qq-upload-cancel-selector.qq-upload-cancel {
  float: right;
}
/* <dialog> element styles */
.qq-uploader DIALOG {
  display: none;
}

.qq-uploader DIALOG[open] {
  display: block;
}

.qq-uploader DIALOG {
  display: none;
}

.qq-uploader DIALOG[open] {
  display: block;
}

.qq-uploader DIALOG .qq-dialog-buttons {
  text-align: center;
  padding-top: 10px;
}

.qq-uploader DIALOG .qq-dialog-buttons BUTTON {
  margin-left: 5px;
  margin-right: 5px;
}

.qq-uploader DIALOG .qq-dialog-message-selector {
  padding-bottom: 10px;
}

.qq-uploader DIALOG::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.uploadprescription-index-specify #tabs li {
  width: 48%;
}

.uploadprescription-index-specify #tabs {
  padding: 0px;
}

.order-comments h4 {
  color: #faa74a;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.order-comments h5 {
  padding-left: 15px;
  padding-right: 15px;
  color: #1d2d3d;
}

.input-tab-specify {
  float: left;
  position: relative;
  top: 10px;
}

.input-tab-heading {
  width: 75%;
  float: right;
}

.upload-prescription-content .custom-card {
  height: auto;
  border: 1px solid #eaeaea;
}

.col-sm-12.col-md-8.order-1.order-md-2 {
  min-height: 458px;
}

.uploadprescription-index-specify .minicart-wrapper.flyingcart-minicart-left .emthemes-flyingcart .flyingcart-co {
  display: none;
}

.uploadprescription-index-index .minicart-wrapper.flyingcart-minicart-left .emthemes-flyingcart .flyingcart-co {
  display: none;
}

.prescription-list .card-list {
  max-height: 300px;
  display: inline-block !important;
}

#fine-uploader-manual-trigger {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  border: 4px dashed #eaeaea;
}

.card-body {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}

.upload-process {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}

.uploadprescription-index-specify .table-responsive td, .uploadprescription-index-specify .table-responsive th {
  line-height: 40px;
  border-top: none;
  border: none;
  width: 200px;
}

.uploadprescription-index-specify .table-responsive th {
  font-size: 14px;
  font-family: DINPro-Regular;
  line-height: 16px;
}

.uploadprescription-index-specify .extra-items {
  float: right;
}

.uploadprescription-index-specify .btn_row_close {
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  height: 17px;
  padding: 0px;
  line-height: 10px;
  color: #000;
  font-size: 20px;
  position: relative;
  bottom: -5px;
}

.uploadprescription-index-specify .btn_row_close:active {
  background-color: #e08724;
  border-radius: 2px;
  color: #fff;
}

.uploadprescription-index-specify .btn_row_close:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}

.uploadprescription-index-specify .specify-add-more {
  color: #fff;
  background-color: #faa74a;
  border: 1px solid #faa74a;
  height: 30px;
  line-height: 30px;
}

.uploadprescription-index-specify .specify-add-more:active {
  background-color: #e08724;
  border-radius: 2px;
  color: #fff;
}

.uploadprescription-index-specify .specify-add-more:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}

.uploadprescription-index-specify .table-responsive {
  max-height: 242px;
  overflow-x: auto;
  overflow-y: scroll;
}

.uploadprescription-index-specify .table-responsive .table-bordered {
  border: none;
}

.uploadprescription-index-specify .upload-btn-secondary {
  float: right;
  margin-right: 15px !important;
  color: #fff;
  background-color: #faa74a;
  border: 1px solid #faa74a;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
}

.uploadprescription-index-specify .upload-btn-secondary:active {
  background-color: #faa74a;
  border-radius: 2px;
  color: #fff;
}

.uploadprescription-index-specify .upload-btn-secondary:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}

.uploadprescription-index-specify .add-all-button {
  text-align: center;
}

.btn.btn-secondary.mt-3 {
  border: 1px solid #faa74a;
  display: inline-block;
  cursor: pointer;
  background: #faa74a;
  color: #ffffff;
  width: auto;
  border-radius: 0;
  margin: 0 !important;
}

#tab2C .btn.btn-secondary.mt-3 {
  margin-right: 16px;
}

.subtitle-pr span {
  margin-left: 10px;
  font-size: 20px;
  color: #1d2d3d;
}

.allmedicines {
  background-position: -1200px -129px;
  width: 40px;
  height: 40px;
}

.specifymedicines {
  background-position: -1240px -129px;
  width: 40px;
  height: 40px;
}

.main-specify-block .prescription-list .containerbox {
  width: auto;
  float: left;
}

.packtype-icon {
  width: 30px;
  height: 31px;
  margin-right: 15px;
  background-position: -328px -133px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
/* */
.uploaded-prescriptions .continue-button button[disabled] {
  background: #cbcbcb;
  width: 100%;
  border-radius: 0;
  margin: 0 !important;
  height: 36px;
  border: 0;
  opacity: 1;
  border: 1px solid #cbcbcb;
}

.card-body h5 {
  color: #1d2d3d;
  font-size: 16px;
}

.uploadprescription-index-specify .prescription-list p.font14.font-medium.m-0 {
  margin-bottom: 10px !important;
  border-bottom: 2px solid #ccc;
  display: inline-block;
  width: 100%;
  padding: 0 15px 5px;
}

.customer-support-icon {
  background-position: -207px -294px;
}

.flow-detail .customer-support-icon {
  margin: 0px;
}

#fine-uploader-manual-trigger {
  width: 53%;
  left: 47%;
}

.drag-drop {
  font-size: 18px;
}

.prescription-list .containerbox {
  padding-left: 0px;
}

.main-specify-block {
  margin-top: 50px;
}

#tabs li a {
  padding-bottom: 40px;
}

.medicine-name input {
  width: 100px;
}
/* Mobile */
@media (max-width:767px) {
  .order-comments .tabs-textarea-design {
    width: 90%;
  }

  .main-specify-block .prescription-list .containerbox {
    width: 100%;
  }

  .main-specify-block #tabs li a {
    width: 100%;
  }

  .card-body {
    box-shadow: none;
  }

  .upload-process {
    border: 1px solid #c3c3c3;
    display: none;
  }

  .upload-prescription-content {
    padding: 0px;
  }

  .uploadprescription-index-index .upload-prescription-content .col-md-4 {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .upload-prescription-content .custom-card {
    height: auto;
  }

  .containerbox {
    margin: auto;
    padding-left: 0px !important;
  }

  .uploaded-prescriptions {
    position: relative;
    bottom: auto;
    left: auto;
    float: none;
  }

  #fine-uploader-manual-trigger {
    width: 100%;
    float: none;
    left: auto;
    position: static;
    height: 300px;
    margin-top: 30px;
    border: 2px dashed #eaeaea;
  }

  .qq-uploader h3 {
    font-size: 16px;
  }

  .upload-prescription-content {
    height: auto;
    overflow: scroll;
  }

  .recently-uploadeded .col-md-8 {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .uploadprescription-index-index .prescription-list {
    margin-top: 15px;
    padding: 10px;
  }

  .uploaded-prescriptions .continue-button {
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background: #fff;
  }

  .btn.btn-secondary.mt-3 {
    border: 1px solid #faa74a;
    display: inline-block;
    cursor: pointer;
    background: #faa74a;
    color: #ffffff;
    width: 100%;
    border-radius: 0;
    position: fixed;
    bottom: 0;
    z-index: 10;
    top: auto;
    z-index: 10;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
  }

  .prescription-list .card-list {
    max-height: 280px;
    width: 100%;
  }

 
  .upload-flow-list li:before {
    top: 10px;
    left: 55px;
  }

  .upload-flow-list li {
    padding-left: 125px;
  }

  .qq-upload-button {
    width: 97px;
  }

  #fine-uploader-manual-trigger .qq-upload-button {
    margin-right: 0px;
    left: 0px;
  }

  .qq-upload-file.qq-editable {
    width: 100%;
  }

  input.qq-edit-filename {
    position: static;
    left: auto;
    width: 85%;
  }

  .qq-edit-filename-icon.qq-editable {
    position: static;
    right: auto;
    top: auto;
  }

  .qq-thumbnail-selector {
    float: none;
  }

  button.qq-btn.qq-upload-cancel-selector.qq-upload-cancel {
    float: none;
    margin: 10px 0px;
  }

  .qq-edit-filename-icon.qq-editable {
    float: right;
  }

  .qq-edit-filename-icon {
    margin-bottom: 10px;
  }

  .modal-popup._show .modal-inner-wrap {
    border: 2px solid #faa74a;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 10px;
  }

  .uploadprescription-index-specify .prescription-list {
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .col-sm-12.col-md-8.order-1.order-md-2 {
    min-height: 0;
  }

  .uploadprescription-index-save .page-main>.page-title-wrapper .page-title { 
    margin-top: 20px;
  } 
}

@media (max-width:767px) {
  .input-tab-heading {
    width: 100%;
  }

  #tabs li a {
    padding-bottom: 55px!important;
    display: inline-block;
  }

  .tabs-textarea-design {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .uploadprescription-index-specify .containers {
    width: 100%;
  }

  .main-specify-block .col-sm-6 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .custom-price-block {
    float: none;
  }

  .recently-uploadeded {
    position: relative;
    bottom: 0px;
  }

  .uploadprescription-index-specify .specify-add-more {
    padding: 0 10px;
  }

  .custom-card.card.plain-card .btn.btn-secondary.mt-3 {
    display: none;
  }

  .main-specify-block {
    margin-top: 0;
  }
}

/********** Stylish Radio input *********/
.radio-container {
  display: block;
  position: relative;
  padding-left: 18px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #3d4d5d;
  padding: 0;
  border-radius: 1px;
}

.radio-container input:checked~.checkmark {
  background-color: #fff;
}

.radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked~.checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  margin: 0;
  width: 10px;
  height: 10px;
  background: #3d4d5d;
  border-radius: 2px;
  top: 0.05em;
  left: 0.04em;
}
/****** Checkbox ******/
.col-sm-6.col-md-6.col-lg-6 h3 {
  color: #1d2d3d;
  font-size: 18px;
  font-family: DINPRO-Medium;
  margin-top: 5px;
}

.prescription-checkbox-container {
  float: right;
}

.prescription-checkbox-container .toggle {
  position: relative;
  display: block;
  width: 51px;
  height: 25px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.prescription-checkbox-container .toggle::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 26px;
  display: block;
  background: #9A9999;
  border-radius: 15px;
  transition: background 0.2s ease;
}

.prescription-checkbox-container .toggle span {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}

.prescription-checkbox-container .toggle span::before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#prescription-checkbox:checked+.toggle::before {
  background: #8f59a8;
}

#prescription-checkbox:checked+.toggle span {
  background: #fff;
  transform: translateX(24px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
}

#prescription-checkbox:checked+.toggle span::before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}
/********** Stylish Radio input *********/

.prescription-list .card .presc-image img {
  max-height: 134px;
}

.uploadprescription-index-specify .upload-btn-secondary.btn.btn-secondary.mt-3 {
  margin: 15px 17px 0 0 !important;
}
/* */

.buttons #trigger-upload {
  color: white;
  background-color: #faa74a;
  font-size: 12px;
  background-image: none;
  border-color: #faa74a;
  font-family: DINPro-Medium;
  text-shadow: 0 -1px 0 rgba(0,0,0,.0);
  border-radius: 2px;
}

.prescription-list {
  height: 155px;
  background: #f4f5f7;
  padding: 10px 0;
}

.prescription-list .card .presc-image iframe {
  width: 96px;
  height: 80px;
}

.prescription-list .card-list {
  max-height: 126px;
  display: inline-block !important;
}

.prescription-list .containerbox {
  padding-left: 0px;
  float: left;
  margin: 0 0 15px 12px;
  display: inline-block !important;
}

.prescription-list .card {
  width: 120px;
}

.prescription-list .card .presc-image {
  height: 80px;
  background: #e5e5e5;
  margin: 0 0 0px;
}

.prescription-list .card .presc-image img {
  max-height: 80px;
  max-width: 100%;
}

.prescription-list .card .presc-details {
  border-top: 1px solid #e5e5e5;
  padding: 0px 0 0;
}

.prescription-list .font14 {
  margin-bottom: 0;
}

/* 23012019 After Live */

.custom-card #callmeback {
  font-size: 14px;
  font-family: DINPro-Regular;
  line-height: 32px;
  color: #faa74a;
  background-color: #fff;
  font-size: 14px;
  background-image: none;
  border: 1px solid #6d6e70;
}

.custom-card #callmeback a {
  color: #faa74a;
}

.custom-card #callmeback:hover {
  color: #faa74a;
  text-decoration: none;
  background-color: #f4f5f7;
  border-color: #faa74a;
}

.uploaded-prescriptions .continue-button button[disabled] {
  font-size: 14px;
}

.btn.btn-secondary.mt-3 {
  font-size: 14px;
  height: 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.uploadprescription-index-specify .specify-add-more {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.buttons #trigger-upload {
  font-size: 14px;
  line-height: 34px;
}
 

@media (max-width:1024px) {
  .symptoms {
    max-width: 100%;
  }

  .upload-flow-list .zoylo-icon-caption {
    font-size: 11px;
  }
}

@media (max-width:991px) {
  .upload-prescription-content .custom-card {
    height: 308px;
    border: 1px solid #eaeaea;
    clear: both;
    float: left;
    width: 100%;
  }

  .upload-flow-list {
    padding: 10px;
    width: 100%;
    float: left;
  }

  .upload-flow-list li {
    list-style-type: none;
    padding-left: 5px;
    clear: both;
    float: left;
  }

  .zoylo-icon.upload-your-prescription {
    margin-left: 0px;
    margin-right: 5px;
  }

  .zoylo-icon.call-confirm {
    margin-left: 0px;
    margin-right: 5px;
  }

  .zoylo-icon.delivery-doorstep {
    margin-left: 0px;
    margin-right: 5px;
  }

  .prescription-list .recently-border:after {
    width: 40%;
  }

  .input-tab-heading {
    width: 100%;
    float: right;
  }

  #fine-uploader-manual-trigger .qq-upload-button {
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 10px;
  }

  .qq-uploader {
    top: 4%;
  }
}

@media (max-width: 767px) {
  .uploadprescription-index-specify .containers {
    width: 100%;
  }

  .uploadprescription-index-specify #tabs li {
    width: 100%;
  }

  #fine-uploader-manual-trigger .buttons {
    width: 70%;
  }

  .qq-uploader {
    position: static;
  }

  .prescription-list .recently-border:after {
    width: 18%;
  }

  .qq-uploader-selector.qq-uploader h3 {
    display: none;
  }

  .recently-uploadeded {
    margin-top: 20px;
  }

  .qq-upload-list {
    max-height: 95px;
  }

  .qq-upload-list li {
    max-width: 100px;
    height: 100px;
    margin-right: 10px;
  }

  .qq-thumbnail-selector {
    float: none;
    max-width: 50px;
    margin: auto;
  }

  #fine-uploader-manual-trigger .qq-upload-button {
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .prescription-list {
    height: 170px;
  }

  .upload-prescription-content .custom-card {
    height: auto;
  }

  .upload-prescription-content .custom-card {
    display: none;
  }

  #fine-uploader-manual-trigger {
    margin-top: 0px;
  }

  .flyingcart-checkout {
    float: none;
  }
}

@media (max-width:479px) {
  #fine-uploader-manual-trigger .buttons {
    width: 74%;
  }
}

@media (max-width:359px) {
  #fine-uploader-manual-trigger .buttons {
    width: 84%;
  }
}

@media (min-width:768px) {
  #fine-uploader-manual-trigger .buttons {
    width: 70%;
    margin: 0 auto 20px;
    float: none;
    position: static;
  }

  .recently-uploadeded {
    position: relative;
    bottom: 240px;
  }

  .recently-uploadeded .col-md-8 {
    max-width: 59.666667%;
    left: 0;
  }

  .prescription-list .containerbox {
    padding-left: 0px;
    float: left;
    margin: 0 0 15px 15px;
    display: inline-block !important;
  }

  .uploadprescription-index-index .page-main {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .page-layout-1column .column.main {
    position: relative;
  }

  .upload-prescription-content .upload-process .upload-flow-list {
    height: 150px;
    padding: 10px 5px;
  }

  .user-profile {
    width: 25%;
  }

  #fine-uploader-manual-trigger {
    width: 64%;
    height: 400px;
    left: auto;
    right: 0px;
    top: 0px;
  }

  .recently-uploadeded .col-md-8 {
    max-width: 68%;
  }

  .recently-uploadeded {
    position: relative;
    bottom: 40px;
    left: 24px;
  }

  .col-sm-6.col-md-6.col-lg-6:first-child {
    border-right: 1px solid #ccc;
  }

  .medicine-name input {
    width: 250px;
  }

  #fine-uploader-manual-trigger .buttons {
    width: 340px; 
  }

  .upload-flow-list {
    padding: 5px;
  }

  .uploadprescription-index-index .upload-prescription-content .col-md-4 {
    max-width: 60%;
    width: 100%;
  }

  .uploadprescription-index-index .page-main {
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
     
  .upload-flow-list .zoylo-icon-caption {
    font-size: 12px;
  }
}

@media (min-width: 1445px) {
  .uploadprescription-index-index .column.main {
    width: 100%;
    position: relative;
  }

  #fine-uploader-manual-trigger {
    top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .columns .column.main {
    position: relative;
  }

  #fine-uploader-manual-trigger {
    top: 0px;
    width: 56%;
    margin-left: 15px;
    left: auto;
    right: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #fine-uploader-manual-trigger {
    top: 0px;
    width: 63%;
  }

  .input-tab-heading {
    width: 68%;
    float: right;
  }

  .upload-prescription-content {
    margin-top: 0px;
  }

  #fine-uploader-manual-trigger .qq-upload-button {
    margin-right: 0px;
  }

  .upload-flow-list li {
    padding-left: 0px;
  }
}

@media (min-width:1200px) and (max-width:1380px) {
     /*#fine-uploader-manual-trigger {
         top: 195px;
    }*/
  .uploadprescription-index-index .prescription-list {
    margin-top: 15px;
  }
     /*#fine-uploader-manual-trigger {
         width: 56%;
    }*/;
}

@media (min-width:1381px) and (max-width:1400px) {
     /*#fine-uploader-manual-trigger {
         top: 220px;
    }*/
  .uploadprescription-index-index .prescription-list {
    margin-top: 15px;
  }
}

body:not(._keyfocus) button:focus {
  box-shadow: none;
  outline: 0;
}



/* Check out */
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

/* CHECKOUT */
#onestepcheckout-page .logo-container .logo {
  margin: 30px 0;
}

#onestepcheckout-page .logo-container .logo:after {
  content: "Checkout";
  font-size: 28px;
  color: red;
  position: absolute;
  bottom: 0px;
  left: 100%;
  color: #fff;
  margin-left: 20px;
}

#onestepcheckout-page .logo-container .logo img {
  width: 120px;
  height: 41px;
  margin-left: 15px;
}

.checkout-payment-method {
  display: block !important;
  float: left;
  margin-top: 20px !important;
  width: 100%;
}

.checkout-payment-method .step-title {
  background: transparent;
}

#checkout-step-payment {
  border-top: 0px solid #c3c3c3;
  background: #fff;
}

#onestepcheckout-page *:focus {
  border-color: #c3c3c3;
}

li#payment {
  background-color: transparent;
  padding: 0 20px 20px 0;
  margin-top: 0 !important;
}

#onestepcheckout-page .field .control input[type=text], #onestepcheckout-page .field .control input[type=email], #onestepcheckout-page .field .control input[type=number], #onestepcheckout-page .field .control select, #onestepcheckout-page .checkout-payment-method .ccard .month .select, #onestepcheckout-page .checkout-payment-method .ccard .year .select {
  border-bottom: 2px solid #faa74a;
  color: #1d2d3d;
  font-size: 14px;
  font-family: DINPro-Medium;
  line-height: 18px;
  padding-left: 10px;
  height: 36px;
}

#onestepcheckout-page .fieldset.address .field .label {
  line-height: 16px;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  padding-left: 10px;
}

#onestepcheckout-page .fieldset.address>.field {
  margin-bottom: 18px;
}

#onestepcheckout-page .opc-wrapper .step-title {
  padding-bottom: 10px;
}

#onestepcheckout-page #opc-sidebar {
  background: transparent;
}

#onestepcheckout-page #checkout-step-shipping {
  margin-bottom: 0px;
  padding: 15px 20px 1px;
}

.opc-wrapper .shipping-address-item.selected-item {
  padding: 0px 30px 15px !important;
}

#onestepcheckout-page input[type="checkbox"]:checked {
  color: #fff;
  background: #faa74a;
}

#onestepcheckout-page input[type="checkbox"]:checked::after {
  font-size: 12px;
  left: 2px;
}

#onestepcheckout-page input[type="radio"]:checked {
  background: #fff;
  border: 4px solid #faa74a;
  top:3px;
}

#onestepcheckout-page .place-order .button {
  background-color: #faa74a;
  border-color: #faa74a;
  height: 40px;
  font-size: 14px;
  margin-top: 0;
}

.payment_methods_title:before {
  color: #faa74a;
}

.account_information_title:before {
  color: #faa74a;
}

.shipping_address_title:before {
  color: #faa74a;
}

.order_summary_title:before {
  color: #faa74a;
}

.billing_address_title:before {
  color: #faa74a;
}

.fa-edit:before, .fa-pencil-square-o:before {
  color: #faa74a;
}

#onestepcheckout-page #opc-sidebar .payment-option-title .action-toggle {
  color: #1d2d3d;
}

#onestepcheckout-page #opc-sidebar .payment-option-title .action-toggle:before, #onestepcheckout-page #opc-sidebar .gift-item-block .title:before, #onestepcheckout-page .opc-block-summary .items-in-cart>.title:after {
  color: #faa74a;
}

#onestepcheckout-page .minicart-items .product-item-details {
  padding-left: 100px;
}

#onestepcheckout-page .minicart-items .product-item-details .product-item-name {
  width: 90%;
  padding: 0;
}

#onestepcheckout-page .product-item-details .fa {
  margin-left: 20px;
  margin-top: 10px;
}

#onestepcheckout-page .fa-times-circle:before {
  color: #faa74a;
}

#onestepcheckout-page .fa-plus-square:before {
  color: #faa74a;
}

#onestepcheckout-page .fa-minus-square:before {
  color: #faa74a;
}

#onestepcheckout-page #opc-sidebar .payment-option._active .payment-option-title .action-toggle:before, #onestepcheckout-page #opc-sidebar .gift-item-block._active .title:before, #onestepcheckout-page .opc-block-summary .items-in-cart.active>.title:after {
  color: #faa74a;
}

#onestepcheckout-page .details-qty .qty {
  height: 30px;
  border-bottom: 1px solid transparent;
}

#onestepcheckout-page .minicart-items .product-item-details .details-qty .label {
  display: none;
}

#onestepcheckout-page .details-qty .qty-control {
  margin-left: 2px;
}
/* */
#onestepcheckout-page .back-to-store a {
  color: #8e5ba6;
  font-size: 18px;
}

#onestepcheckout-page .one-step-checkout-footer-wrapper>div {
  float: left;
  position: absolute;
  top: -22px; 
}

#onestepcheckout-page #checkout {
  margin-top: 20px;
}

#onestepcheckout-page .opc-wrapper .step-content .discount-code {
  display: none;
}

#onestepcheckout-page .billing-address-form {
  display: none;
}

#onestepcheckout-page .checkout-billing-address {
  display: none;
}

#onestepcheckout-page #discount-form .action {
  background-color: #faa74a;
  border-color: #faa74a;
  color: #fff;
  padding: 0;
}

#onestepcheckout-page #discount-form .action:active {
  background-color: #e08724;
  border-radius: 2px;
  color: #fff;
}

#onestepcheckout-page #discount-form .action:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}

#onestepcheckout-page #welcome::before, #onestepcheckout-page #payment::before, #onestepcheckout-page #shipping::before, #onestepcheckout-page #opc-shipping_method::before, #onestepcheckout-page li.step::before, #onestepcheckout-page #opc-sidebar::before {
  border: 1px solid transparent;
}

#onestepcheckout-page #welcome, #onestepcheckout-page #payment, #onestepcheckout-page #shipping, #onestepcheckout-page #opc-shipping_method, #onestepcheckout-page #opc-sidebar, #onestepcheckout-page li.step {
  border: solid 0em transparent;
}

.opc-wrapper .edit-address-link {
  display: block;
  float: right;
  position: absolute;
  bottom: 0px;
  color: #faa74a;
  top: 0;
  right: 0;
  margin: 0;
}

#onestepcheckout-page #welcome:hover::before, #onestepcheckout-page #payment:hover::before, #onestepcheckout-page #shipping:hover::before, #onestepcheckout-page li.step:hover::before, #onestepcheckout-page #opc-shipping_method:hover::before, #onestepcheckout-page #opc-sidebar:hover::before {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary>.title, .checkout-agreements-items .checkout-agreements-item-title {
  padding-bottom: 0px;
}

.opc-wrapper .shipping-address-item.selected-item:after {
  background: #faa74a;
}

.opc-wrapper .shipping-address-item.selected-item {
  border-color: #faa741;
}

#onestepcheckout-page #discount-code {
  height: 36px;
  border-bottom: 1px solid #cecece;
}

#checkout-step-shipping_method {
  border-top: 0px solid #c3c3c3;
}

.checkout-onepage-success .minicart-wrapper.flyingcart-minicart-left .emthemes-flyingcart .flyingcart-co {
  display: none;
}

.shipping-address {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 20px;
  border: 1px solid #c3c3c3;
}

.payment-address {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 20px;
  border: 1px solid #c3c3c3;
  margin-top: 15px;
}

.item-in-order {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 20px;
  border: 1px solid #c3c3c3;
  margin-top: 15px;
  height: 100%;
  max-height: 315px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.order-placed-block {
  background: #fff;
  padding: 10px;
  border-bottom: 2px solid #c3c3c3;
}

.order-summary {
  background: #fff;
  padding: 10px;
  margin-top: 15px;
}

.ordersucess-content {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid #c3c3c3;
  height: 600px;
}

.grand-total {
  border-top: 2px solid #1d2d3d;
}

.order-placed-block h3 {
  font-weight: 500;
  font-size: 14px;
  color: #0d1d2d;
  text-align: center;
}

.shipping-address h4 {
  font-size: 16px;
  font-weight: 500;
  color: #1d2d3d;
}

.shipping-address .customer-name {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #1d2d3d;
}

.shipping-address p {
  font-size: 14px;
  color: #6d6e70;
}

.payment-address h4 {
  font-size: 16px;
  font-weight: 500;
  color: #1d2d3d;
}

.item-in-order h4 {
  font-size: 16px;
  font-weight: 500;
  color: #1d2d3d;
}

.payment-address p {
  font-size: 14px;
  color: #6d6e70;
}

.item-in-orde p {
  font-size: 14px;
  color: #6d6e70;
}

.order-placed-block p a {
  font-size: 18px;
  color: #1d2d3d;
}

.order-placed-block p {
  font-size: 14px;
  color: #6d6e70;
  text-align: center;
}

.order-summary h5 {
  font-size: 16px;
  font-weight: 500;
  color: #1d2d3d;
  display: inline-block;
}

p.tabledata-left {
  display: inline-block;
}

.ordersummary-table-items .grand-total-left {
  float: left;
}

.ordersummary-table-items .grand-total-rightl {
  float: right;
}

.ordersummary-table-items .last-grand-totl {
  border-top: 2px solid #1d2d3d;
  position: relative;
  top: 10px;
}

.ordersummary-table-items .tabledata-left {
  float: left;
}

.ordersummary-table-items .tabledata-right {
  float: right;
}

.ordersummary-table-items tr td {
  padding: 0px;
}

tabledata-left-gift {
  float: left;
  font-size: 14px;
  color: #a2cf62;
}

tabledata-right-gift {
  float: right;
  font-size: 14px;
  color: #a2cf62;
}

.ordersummary-table-items .total-data p {
  color: #1d2d3d;
  font-weight: 500;
  font-size: 14px;
}

.opc-wrapper .shipping-address-item:before {
  background: transparent;
}

#onestepcheckout-page .shipping-address-item .radio {
  position: absolute;
  top: 2px;
  left: 5px;
}

.opc-wrapper .shipping-address-item {
  padding: 18px 32px 18px 38px;
}

.ordersucess-click {
  width: 96px;
  height: 97px;
  margin: 0 0 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background-position: -864px -523px;
}

.ordersucess-icon {
  text-align: center;
  margin-top: 40px;
}

.item-in-order-price {
  text-align: right;
}

.item-in-order table td {
  color: #1d2d3d;
  font-weight: 500;
  padding: 0px;
}

.precription-added {
  border-top: 2px solid #c3c3c3;
  padding: 10px 0px;
}

.view-cart-right a:hover {
  color: #fff;
}

#onestepcheckout-page .shipping-address-item .radio.selected-item {
  border: 4px solid #faa74a;
  background-color: #fff;
}
/* */
#onestepcheckout-page .shipping-address-item .radio.not-selected-item {
  border: 4px solid #c2c2c2;
  background-color: #fff;
}

#onestepcheckout-page input[type="radio"] {
  background: #fff;
  border: 4px solid #c2c2c2;
}

.page-with-filter .modal-popup .modal-footer {
  padding-bottom: 10px;
  padding-top: 10px;
}

.page-with-filter .modal-popup._show .modal-inner-wrap {
  border: 2px solid #faa74a;
}

#onestepcheckout-page #opc-sidebar .payment-option, #onestepcheckout-page #opc-sidebar .cart-gift-item {
  margin-bottom: 0px;
  padding: 0 0 15px;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 20px;
  background: #fff;
}

#onestepcheckout-page .payment-option-content {
  display: block !important;
}
/* */
.opc-wrapper .shipping-address-item.selected-item {
  border-color: #faa741;
  border: 0;
}

.opc-wrapper .shipping-address-item.selected-item::after {
  background: #faa74a;
  display: none;
}

#onestepcheckout-page .opc-wrapper .shipping-address-item.not-selected-item:hover {
  border-color: transparent;
}

#onestepcheckout-page .opc-wrapper .shipping-address-item {
  width: 100% !important;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
  line-height: 20px;
  padding-top: 0;
  font-size: 14px;
  color: #6d6e70;
}

p.customer-title {
  font-size: 18px;
  color: #1d2d3d;
  width: 26%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.customer-phone a {
  color: #6d6e70;
}
/* */
#onestepcheckout-page .opc-block-summary>.title {
  display: block;
  margin-bottom: 10px;
  position: absolute;
  top: -45px;
  left: 0;
}

#onestepcheckout-page #opc-sidebar {
  width: 32.33%;
  float: left;
  margin-left: 0.9%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .15);
  border: solid 0 #ebebeb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
  margin-top: 66px;
}

#onestepcheckout-page .opc-block-summary .items-in-cart {
  margin-bottom: 10px;
  padding: 0 0px 0px;
  border-bottom: #c3c3c3 1px solid;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
  background: #fff;
}

.column.main .opc-block-summary .product-item {
  margin: 0;
  padding-left: 0;
  background: #fff;
  padding: 10px 10px;
}

#onestepcheckout-page .opc-block-summary .items-in-cart>.title {
  border-bottom: 0px solid #c3c3c3;
  padding: 20px 36px 20px 20px;
}

#onestepcheckout-page .cart-totals tbody .mark, #onestepcheckout-page .cart-totals tfoot .mark, #onestepcheckout-page .opc-block-summary .table-totals tbody .mark, #onestepcheckout-page .opc-block-summary .table-totals tfoot .mark {
  border: 0;
  font-weight: 400;
  padding: 6px 20px;
}

#onestepcheckout-page .cart-totals tbody .amount, #onestepcheckout-page .cart-totals tfoot .amount, #onestepcheckout-page .opc-block-summary .table-totals tbody .amount, #onestepcheckout-page .opc-block-summary .table-totals tfoot .amount {
  padding: 10px 20px 10px 14px;
}

#onestepcheckout-page .cart-totals .grand.totals {
  background: #f8f8f8;
  padding: 20px;
  border-bottom: 1px solid #c3c3c3;
}

#onestepcheckout-page .term-condition {
  padding: 10px 20px;
}

#onestepcheckout-page .term-condition label {
  display: inline;
  margin-bottom: .5rem;
  padding: 10px 0;
}

#onestepcheckout-page .cart-totals, #onestepcheckout-page .opc-block-summary .table-totals {
  border-top: 0px solid #ccc;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}

#onestepcheckout-page .opc-block-summary .table-totals {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

#onestepcheckout-page .cart-totals .grand .mark, #onestepcheckout-page .opc-block-summary .table-totals .grand .mark {
  border-top: 1px solid #c3c3c3;
  font-size: 1.8rem;
  padding-right: 9px;
  padding: 20px 20px;
  background: #f8f8f8;
}

#onestepcheckout-page .cart-totals .grand .amount, #onestepcheckout-page .opc-block-summary .table-totals .grand .amount {
  border-top: 1px solid #c3c3c3;
  font-size: 1.8rem;
  padding: 20px 20px;
  background: #f8f8f8;
}

#onestepcheckout-page .opc-block-summary .items-in-cart>.title::after {
  position: absolute;
  right: 15px;
  top: 22px;
}

#onestepcheckout-page .fa.fa-long-arrow-left {
  font-size: 24px;
  position: relative;
  top: 3px;
}

#onestepcheckout-page .prescription-added {
  margin-left: 20px;
  color: green;
  font-size: 18px;
}

#onestepcheckout-page .opc-block-summary .items-in-cart .product .fa {
  display: inline;
  float: right;
  position: absolute;
  top: -10px;
  right: 0;
}

#onestepcheckout-page .opc-block-summary .items-in-cart .product .fa.fa-check {
  top: 0;
}

#onestepcheckout-page .modal-footer .action.secondary.action-hide-popup {
  border: 1px solid #ccc;
  color: #faa74a;
  line-height: 36px;
  padding: 0 20px;
  height: 36px;
  background-color: #fff;
}

#onestepcheckout-page .modal-footer .action.secondary.action-hide-popup:hover {
  color: #faa74a;
  background: #f4f5f7;
  border: 1px solid #faa74a;
}
/* 04022019 */
.subtitle-pr span {
  margin-left: 10px;
  font-size: 20px;
  color: #1d2d3d;
}

.packtype-icon {
  width: 30px;
  height: 31px;
  margin-right: 15px;
  background-position: -328px -133px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.opc-block-summary .product-item .subtotal {
  clear: both;
  float: left;
  width: 100%;
  text-align: left;
}

.opc-block-summary .product-item .product-item-name-block {
  display: table-cell;
  padding-right: 4.5px;
  text-align: left;
  width: 90%;
  float: left;
}

.opc-block-summary .minicart-items-wrapper {
  padding: 10px 15px 0 0;
}

.customer-support-icon {
  background-position: -207px -294px;
}

.flow-detail .customer-support-icon {
  margin: 0px;
}

.content.minicart-items {
  display: none;
  padding: 0 10px;
}

.checkout-payment-method .payment-method-title {
  border-top: 0px solid #ccc;
  padding: 0 0 5px !important;
}

.opc-block-summary .product-item .subtotal {
  clear: both;
  float: left;
  width: 100%;
  text-align: left;
}

.opc-block-summary .product-item .product-item-name-block {
  display: table-cell;
  padding-right: 4.5px;
  text-align: left;
  width: 90%;
  float: left;
}

#onestepcheckout-page .opc-block-summary .items-in-cart .product .fa.fa-check {
  top: 0;
}

.opc-block-summary .minicart-items-wrapper {
  padding: 10px 15px 0 0;
}

.opc-block-summary .content.minicart-items {
  border-top: 1px solid #cecece;
}

#onestepcheckout-page .opc-wrapper .shipping-address-item {
  padding-top: 0px !important;
}

.opc-block-summary .block.items-in-cart .actions-toolbar {
  display: none;
}

#onestepcheckout-page .opc-block-summary .items-in-cart {
  border-bottom: 0px solid #c3c3c3;
  margin-bottom: 0px;
}

span.address-type {
  position: absolute;
  top: 0;
  left: 30%;  
  background: #232176;
  padding: 0 12px;
  line-height: 22px;
  color: rgba(250,250,250,0.7);
  height: 22px;
  text-transform: capitalize;
  font-size: 12px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  width: 60px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

@media (max-width:767px) {
  span.address-type {
    left: auto;
    right: 8%;
    max-width: 50px;
    padding: 0; 
  }
  .opc-wrapper .shipping-address-item {
    padding: 15px 20px 15px 30px; 
  }
  #onestepcheckout-page .logo-container .logo {
    float: left;
    display: block;
    margin: 30px auto 0px;
  }
    /*one step checkout start*/
  #onestepcheckout-page .logo-container .logo img {
    width: 80px;
    height: auto;
    margin-left: 15px;
    margin: 6px 15px;
  }

  #onestepcheckout-page #welcome, #onestepcheckout-page #payment, #onestepcheckout-page #shipping, #onestepcheckout-page #opc-shipping_method, #onestepcheckout-page #opc-summary, #onestepcheckout-page li.step, #onestepcheckout-page #opc-sidebar {
    padding: 0px !important;
  }
    /*one step checkout end*/
  #onestepcheckout-page .logo-container .logo img {
    width: 80px;
    height: auto;
    margin-left: 15px;
    margin: 6px 15px;
  }

  #onestepcheckout-page #maincontent {
    background-color: #f2f2f2;
  }

  #onestepcheckout-page .logo-container .logo:after {
    content: "Checkout";
    font-size: 24px;
    color: red;
    position: absolute;
    bottom: 0px;
    left: 100%;
    color: #fff;
    margin-left: 20px;
  }

  #onestepcheckout-page .product-item-details .fa {
    margin-left: 0px;
  }

  .opc-block-summary .product-item .product-item-name-block {
    display: inline-block;
  }

  .opc-block-summary .product-item .product-item-inner {
    display: inline-block;
  }

  .flyingcart-checkout {
    float: none;
  }

  .custom-price-block {
    float: none;
  }
  .item-in-order {
    max-height: 225px; 
  }
     
      
    /* */
  #onestepcheckout-page #opc-sidebar {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }

  #onestepcheckout-page .fieldset.address>.field {
    flex: 100%;
  }

  .opc-wrapper .step-content {
    padding-bottom: 0px;
  }

  .back-to-store span {
    display: none;
  }

  .opc-wrapper .shipping-address-item.selected-item {
    padding: 0px 40px 15px !important;
  }

  .opc-wrapper .form-login, .opc-wrapper .form-shipping-address, .opc-wrapper .methods-shipping {
    background: #f4f4f4;
    margin: 18px 15px 15px;
    padding: 18px 15px;
  }

  #onestepcheckout-page .cart-totals, #onestepcheckout-page .opc-block-summary .table-totals {
    border-top: 0px solid #ccc;
  }

  #onestepcheckout-page .opc-wrapper .shipping-address-item.not-selected-item:hover {
    border-color: transparent;
  }

  #onestepcheckout-page .shipping-address-item .radio.selected-item {
    border: 4px solid #faa74a;
    background-color: #fff;
  }

  #onestepcheckout-page .shipping-address-item .radio.not-selected-item {
    border: 3px solid #707070;
    background-color: #fff;
  }

  .opc-wrapper .step-content {
    padding: 15px 10px 20px;
  }

  .checkout-index-index .logo-container {
    height: 60px;
    border-bottom: 4px solid #8e5ba6;
  }

  #onestepcheckout-page .logo-container .logo {
    margin: 8px auto 0px;
  }

  #onestepcheckout-page input[type="radio"] {
    vertical-align: top;
  }
  #onestepcheckout-page input[type="radio"]:checked {
    vertical-align: top;
  }
  .checkout-payment-method .payment-method-title .label {
      width: 80%; 
  }
}

@media only screen and (max-width: 639px) {
  .opc-wrapper .shipping-address-item.selected-item {
    padding: 15px 30px !important;
  }

  #onestepcheckout-page .minicart-wrapper {
    display: none;
  }

  #onestepcheckout-page .one-step-checkout-footer-wrapper>div {
    top: -15px;  
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .columns .column.main {
    position: relative;
  }

  #onestepcheckout-page .minicart-items .product-item-details {
    padding-left: 80px;
  }

  .opc-block-summary .product-item .product-item-name-block {
    display: block;
  }

  #onestepcheckout-page .cart-totals .grand .amount, #onestepcheckout-page .opc-block-summary .table-totals .grand .amount {
    padding: 20px 14px;
  }

  #onestepcheckout-page .checkout-payment-method .payment-methods label {
    display: inline;
  }
  span.address-type { left: 70%; }
}

@media (max-width:1024px) {
  .symptoms {
    max-width: 100%;
  }
}
/****** Checkbox ******/
@media (max-width:767px) {
  #onestepcheckout-page .modal-footer .action.secondary.action-hide-popup {
    margin: 0 0 0 15px;
  }

  .modal-popup.modal-slide {
    left: 0;
    z-index: 900;
  }

  .modal-popup .modal-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
  }
}

@media (min-width:768px) {
  #onestepcheckout-page #discount-form .payment-option-inner, #onestepcheckout-page #giftcard-form .payment-option-inner {
    width: 54%;
    float: left;
  }

  #onestepcheckout-page #discount-form .actions-toolbar, #onestepcheckout-page #giftcard-form .actions-toolbar {
    width: 44%;
    float: left;
    margin-top: 0;
  }
}

@media (min-width:992px) {
  #onestepcheckout-page #discount-form .payment-option-inner, #onestepcheckout-page #giftcard-form .payment-option-inner {
    width: 78%;
    float: left;
  }

  #onestepcheckout-page #discount-form .actions-toolbar, #onestepcheckout-page #giftcard-form .actions-toolbar {
    width: 22%;
    float: left;
    margin-top: 0;
  }
}

 


 