<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<!--<button type="button" onclick="history.back();" class="go-back">Go Back</button>-->
<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
 
 <?php 
 	if (isset($_POST['onlyuploadflow'])) {
	if ($_POST['onlyuploadflow'] == 1) {  
		if (isset($_POST['checkboxvar'])) {
		   foreach($_POST['checkboxvar'] as $check) {
			$resultstr[] = $check;
		  }
		}

$blockObjs = $block->getLayout()->createBlock('I95Dev\UploadPrescription\Block\Index\Specify');

if (!empty($resultstr)) {
 $blockObjs->setMyValue(implode(",", $resultstr));
}

// get Customer id from Session
$objmanager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objmanager->create('Magento\Customer\Model\Session');

if($customerSession->isLoggedIn()) {
	$customerid = $customerSession->getCustomer()->getId();
	// get Customer Prescriptions
	$blockObj = $block->getLayout()->createBlock('I95Dev\UploadPrescription\Block\Index\Index');
	if (isset($resultstr)) {
   $collection = $blockObj->getSelectedPrescriptions($customerid, $resultstr);
 }
	?>

         <div class="specify-prescription-list checkout-attached-prescriptions">  
           <p class="attached-prescriptions">Attached Prescriptions</p>  
          <div class="card-list">
            <div class="card-list-overflow">
            <input type="hidden" name="prescription_values" value="<?php echo $blockObj->getMyValue(); ?>"> 
            <input type="hidden" name="onlyuploadflow" value="1">
            <?php	if(isset($collection)) { 
             foreach ($collection as $item) 
             {
              ?>	<label class="containerbox">
               <div class="card plain-card">
                <div class="card-body"> 
                 <div class="presc-main-content">
                   <div class="presc-image">
                     <?php
                     $filepath = $item->getValue();
                     $needle = ".pdf";
                     if (strpos($filepath, $needle) !== false) { ?>
                      <iframe width="50" height="50" src="<?php echo $item->getValue(); ?>" ></iframe>
                    <?php } else { ?>
                      <img alt="<?php echo $item->getData('customer_name'); ?>" width="50" height="50" src="<?php echo $item->getValue(); ?>"/>
                    <?php } ?>
                  </div>
                  <div class="checkbox-container">
                   <div class="custom-checkbox">
                    <input type="checkbox" name="checkboxvar[]" class="case" value="<?php
                    echo $item->getPrescriptionId(); ?>" <?php if(in_array($item->getPrescriptionId(), $resultstr)){echo "checked";}?>>
                    <span class="checkmark"></span>
                  </div>
                </div>
                <div class="presc-details">
                  <p class="font14"><?php echo $item->getData('customer_name'); ?></p>
                </div>
              </div>

            </div>
          </div>	
        </label>
      <?php }  } else {
       $redirect = $objmanager->get('\Magento\Framework\App\Response\Http');
       $redirect->setRedirect($this->getBaseUrl().'uploadprescription/index/index');
     } ?>		
   </div>   
    </div> 


    

 </div>
          


	<?php	} } } ?>
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif') ?>"
                 alt="<?= /* @escapeNotVerified */ __('Loading...') ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?= /* @escapeNotVerified */ $block->getSerializedCheckoutConfig() ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?= /* @escapeNotVerified */ $block->getViewFileUrl('images/loader-1.gif') ?>");
            return url.setBaseUrl('<?= /* @escapeNotVerified */ $block->getBaseUrl() ?>');
        })
    </script>

          <div class="upload-offers upload-responsive"> 
              <div class="upload-offers-checked">
                  <span class="coupon-applied"> Best Coupon Applied </span> 
              </div>
             
          </div>   
</div>

  <script type="text/javascript"> 
    require([
        'jquery', 'jquery/ui' 
    ], function ($) {
        $(document).ready(function () {
         
            $(".checkout-upload" ).clone() .prependTo( ".checkout-container");           
            
        });
    });
</script>

