<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: isEnabled() -->
    <!-- ko if: getInitialCollapseState() == 2 -->
    <div class="payment-option opc-payment-additional discount-code _active">
        <div class="payment-option-content" data-role="content" style="display:block;">
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <form class="form form-discount" id="discount-form">
                <div class="payment-option-inner">
                    <div class="field">
                        <div class="control">
                            <input class="input-text"
                                type="text"
                                id="discount-code"
                                name="discount_code"
                                data-validate="{'required-entry':true}"
                                data-bind="value: couponCode, attr:{placeholder: $t('Enter discount code')} " />
                        </div>
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <!-- ko ifnot: isApplied() -->
                            <button class="action action-apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply">
                                <span><!-- ko i18n: 'Apply Discount'--><!-- /ko --></span>
                            </button>
                        <!-- /ko -->
                        <!-- ko if: isApplied() -->
                            <button class="action action-cancel" type="submit" data-bind="'value': $t('Cancel'), click: cancel">
                                <span><!-- ko i18n: 'Cancel coupon'--><!-- /ko --></span>
                            </button>
                        <!-- /ko -->
                    </div>
                </div>
            </form>
        </div>
        <div style="clear:both;"></div>
    </div>
    <!-- /ko -->

    <!-- ko if: getInitialCollapseState() != 2 -->
    <div class="payment-option _collapsible opc-payment-additional discount-code _active"
        data-bind="mageInit: {'collapsible':{'openedState': '_active', 'active': isInitialStateOpened()}}">
        <div class="payment-option-title field choice" data-role="title">
            <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
                <!-- ko i18n: 'Use Coupon Code'--><!-- /ko -->
            </span>
        </div>
        <div class="payment-option-content" data-role="content" style="display:block;">
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <form class="form form-discount" id="discount-form">
                <div class="payment-option-inner">
                    <div class="field">
                        <div class="control">
                            <input class="input-text"
                                type="text"
                                id="discount-code"
                                name="discount_code"
                                data-validate="{'required-entry':true}"
                                data-bind="value: couponCode, attr:{placeholder: $t('Enter discount code')} " />
                        </div>
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <!-- ko ifnot: isApplied() -->
                            <button class="action action-apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply">
                                <span><!-- ko i18n: 'Apply Discount'--><!-- /ko --></span>
                            </button>
                        <!-- /ko -->
                        <!-- ko if: isApplied() -->
                            <button class="action action-cancel" type="submit" data-bind="'value': $t('Cancel'), click: cancel">
                                <span><!-- ko i18n: 'Cancel coupon'--><!-- /ko --></span>
                            </button>
                        <!-- /ko -->
                    </div>
                </div>
            </form>
        </div>
        <div style="clear:both;"></div>
    </div>
    <!-- /ko -->
<!-- /ko -->