<!-- ko if: isEnabled() -->
<div class="place-order">
    <button data-role="opc-continue" type="submit" data-bind="click:placeOrder" class="button action primary enabled">
        <span data-bind="i18n: 'Place Order'"></span>
    </button>
</div>
<!-- /ko -->
<!-- ko if: !isEnabled() -->
<div class="place-order">
    <button data-role="opc-continue" type="submit" data-bind="click:placeOrder" class="button action primary disabled">
        <span data-bind="i18n: 'Place Order'"></span>
    </button>
</div>
<!-- /ko -->