<fieldset class="fieldset admin__fieldset-wrapper">
    <legend class="legend admin__legend">
        <span><?php /* @escapeNotVerified */ echo $block->getHeaderText() ?></span>
    </legend>
    <br>
    <div class="form-inline">
        <?php /* @escapeNotVerified */ echo $block->getForm()->toHtml() ?>
    </div>
</fieldset>