@font-face {
  font-family: 'DINPro';
  src: url('DINPro.eot');
  src: url('DINPro.woff2') format('woff2'),
       url('DINPro.woff') format('woff'),
       url('DINPro.ttf') format('truetype'),
       url('DINPro.svg#DINPro') format('svg'),
       url('DINPro.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-CondensedRegular';
  src: url('DINPro-CondensedRegular.eot');
  src: url('DINPro-CondensedRegular.woff2') format('woff2'),
       url('DINPro-CondensedRegular.woff') format('woff'),
       url('DINPro-CondensedRegular.ttf') format('truetype'),
       url('DINPro-CondensedRegular.svg#DINPro-CondensedRegular') format('svg'),
       url('DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



