<?php
/**
 * Multiple Layered Navigation
 * 
 * @author Slava Yurthev
 */
?>
<!--<div id="loadMore">Load more12</div>
<div id="showLess">Show less</div>-->
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$url = $storeManager->getStore()->getBaseUrl(); 
?>
<div id='loadingmessage' style='display:none'><img src='<?php echo $url;?>pub/media/wysiwyg/64x64.gif'/></div>

<ol class="items sy-multiple-layered-navigation-items term-list expandible">
  
	<?php foreach ($filterItems as $filterItem): 
            ?>
  		<li class="term-item">
                   <label for="random-1" class="playlist-name">
			<?php if ($filterItem->getCount() > 0): ?>
				<a href="<?php echo $block->escapeUrl($filterItem->getUrl()); ?>">
                                    <span class="label-title"><?php echo $filterItem->getLabel(); ?></span>
					
				</a>
			<?php else:?>
				<span class="label-title"<?php echo $filterItem->getLabel(); ?></span>
				<?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
					<span class="count"><?php echo $filterItem->getCount() ?><span class="filter-count-label"><?php if ($filterItem->getCount() == 1):?><?php echo __('item'); ?><?php else: ?><?php echo __('items'); ?><?php endif; ?></span></span>
				<?php endif; ?>
			<?php endif; ?>
                                         </label>
		</li>
        
        <?php
        endforeach;
       ?>
   
</ol>

<script>
require(['jquery'],function($){
$(document).ready(function(){ 	
$(".keyword").on('keyup', function(e) {
      
      
    var $this = $(this);
    var exp = new RegExp($this.val(), 'i');
    $(".addto-playlists li label").each(function() {
       
      var $self = $(this);
      if(!exp.test($self.text())) {
        $self.parent().hide();
      } else {
        $self.parent().show();
      }
    });
  });

$('ol.expandible').each(function(){
    var lis = $(this).find('li:gt(4)');
    if(!$(this).hasClass('expanded')) {
        lis.hide();
    } else {
        lis.show();
    }
    
    if(lis.length>0){
        $(this).append($('<li class="expand"><span>More</span></li>').click(function(event){
            var $expandible = $(this).parents('.expandible');
            $expandible.toggleClass('expanded');
            if ( !$expandible.hasClass('expanded')) {
                $(this).text('More');
            } else {
                $(this).text('Less');
            };
            lis.toggle();
            event.preventDefault();
        }));
    }
});
});
});
</script>
<script> 
 require(['jquery'],function($){
var jq = $.noConflict();	 
jq(document).ready(function(){ 
jq("ol.sy-multiple-layered-navigation-items li a").click(function(){ 
				//alert('hahahaha');
                     jq('#loadingmessage').show(); 
                }); 
            }); 
  }); 			
</script>
<style>
.sy-multiple-layered-navigation-items li:nth-child(17) {display:none !important;}
.sy-multiple-layered-navigation-items li:nth-child(18) {display:none !important;}
</style>    