<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

<?php if ($block->canShowBlock()): ?>
    <div class="block filter" id="layered-filter-block" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'>
        <?php $filtered = count($block->getLayer()->getState()->getFilters()) ?>
        <div class="block-title filter-title" data-count="<?php /* @escapeNotVerified */ echo $filtered; ?>">
            <strong data-role="title"><?php /* @escapeNotVerified */ echo __('Shop By') ?></strong>
        </div>
        <div class="block-content filter-content">
            <?php echo $block->getChildHtml('state') ?>

            <?php if ($block->getLayer()->getState()->getFilters()): ?>
                <div class="block-actions filter-actions">
                    <a href="<?php /* @escapeNotVerified */ echo $block->getClearUrl() ?>" class="action clear filter-clear"><span><?php /* @escapeNotVerified */ echo __('Clear All') ?></span></a>
                </div>
            <?php endif; ?>
            <?php $wrapOptions = false; $i=0; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
                <?php if ($filter->getItemsCount()): ?>
                    <?php if (!$wrapOptions): ?>
                        <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?php /* @escapeNotVerified */ echo __('Shopping Options') ?></strong>
                        <div class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": false}}'>
                    <?php  $wrapOptions = true; endif; ?>
                    
                     <?php 
                     
                      $objectManager = \Magento\Framework\App\ObjectManager::getInstance();  
                      $request = $objectManager->get('Magento\Framework\App\Request\Http');  
                      $string = $request->getParam('q');

                       if(isset($string) && $string !=''){
                         
                          if($filter->getName() == 'Brands'){ ?>
                            <div data-role="collapsible"  class="filter-options-item <?php if($i==0): ?>allow active<?php endif; ?>">
                        <div data-role="title" class="filter-options-title"><?php /* @escapeNotVerified */ echo __($filter->getName()) ?></div>
                            <div class="form-input">
                                <input placeholder="Search" class="keyword" type="text"> 
                                <button class="search-button"><i class="fa fa-search"></i></button>
                            </div>
                        <div class="addto-playlists">
                        <div data-role="content" class="filter-options-content"><?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?></div>
                        </div></div>
                      <?php } else { ?>
                         <div data-role="collapsible"  class="filter-options-item <?php if($i==0): ?>allow active<?php endif; ?>">
                        <div data-role="title" class="filter-options-title"><?php /* @escapeNotVerified */ echo __($filter->getName()) ?></div>
                        <div data-role="content" class="filter-options-content"><?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?></div></div>
                      <?php  } ?>
                          
                      <?php }  else {
                      
                      //if(isset($string) && $string !=''){
                         if($filter->getName() == 'Brands'){
?>                            <div data-role="collapsible"  class="filter-options-item <?php if($i==0): ?>allow active<?php endif; ?>">
                        <div data-role="title" class="filter-options-title"><?php /* @escapeNotVerified */ echo __($filter->getName()) ?></div>
                            <div class="form-input">
                                <input placeholder="Search" class="keyword" type="text"> 
                                <button class="search-button"><i class="fa fa-search"></i></button>
                            </div>
                        <div class="addto-playlists">
                        <div data-role="content" class="filter-options-content"><?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?></div>
                        </div></div>
                    <?php }else{ ?>
                            <div data-role="collapsible"  class="filter-options-item <?php if($i==0): ?>allow active<?php endif; ?>">
                        <div data-role="title" class="filter-options-title"><?php /* @escapeNotVerified */ echo __($filter->getName()) ?></div>
                        <div data-role="content" class="filter-options-content"><?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?></div>
                    </div>

                    <?php  } ?>
          <?php  } ?>                  
                  <?php //} 
                  $i++; ?>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($wrapOptions): ?>
                </div>
            <?php else: ?>
                <script>
                    require([
                        'jquery'
                    ], function ($) {
                        $('#layered-filter-block').addClass('filter-no-options'); 
                    });
                </script>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
<script>
require(['jquery'],function($){
$(document).ready(function(){ 	
$(".keyword").on('keyup', function(e) {
      
      
    var $this = $(this);
    var exp = new RegExp($this.val(), 'i');
    $(".addto-playlists li label").each(function() {
       
      var $self = $(this);
      if(!exp.test($self.text())) {
        $self.parent().hide();
      } else {
        $self.parent().show();
      }
    });
  });

$('ol.expandible').each(function(){
    var lis = $(this).find('li:gt(4)');
    if(!$(this).hasClass('expanded')) {
        lis.hide();
    } else {
        lis.show();
    }
    
    if(lis.length>0){
        $(this).append($('<li class="expand"><span>More</span></li>').click(function(event){
            var $expandible = $(this).parents('.expandible');
            $expandible.toggleClass('expanded');
            if ( !$expandible.hasClass('expanded')) {
                $(this).text('More');
            } else {
                $(this).text('Less');
            };
            lis.toggle();
            event.preventDefault();
        }));
    }
});
});
});
</script>