<?php
/**
 * @var \Cminds\TrueEditOrder\Block\Adminhtml\Sales\Order\View\Items $block
 */
$_order = $block->getOrder()
?>
<div class="admin__table-wrapper">
    <form id="order-items_grid">
        <input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>"/>
        <table class="data-table admin__table-primary edit-order-table">
            <thead>
                <tr class="headings">
                    <?php $i = 0;
                    $columns = $block->getColumns();
                    $lastItemNumber = count($columns) ?>
                    <?php foreach ($columns as $columnName => $columnTitle):?>
                        <?php $i++; ?>
                        <th class="col-<?php /* @noEscape */ echo $columnName ?><?php /* @noEscape */ echo ($i === $lastItemNumber ? ' last' : '')?>"><span><?php /* @noEscape */ echo $columnTitle ?></span></th>
                    <?php endforeach; ?>
                    <?php if ($block->actionColumnEnabled()): ?>
                        <th><?= __('Actions') ?></th>
                    <?php endif; ?>
                </tr>
            </thead>
            <?php $_items = $block->getItemsCollection();?>
                <?php $i = 0; foreach ($_items as $_item):?>
                    <?php if ($_item->getParentItem()) {
                        continue;
                    } else {
                        $i++;
                    } ?>
                    <tbody class="<?php /* @noEscape */ echo $i%2 ? 'even' : 'odd' ?>">
                            <?php echo $block->getItemHtml($_item) ?>
                            <?php echo $block->getItemExtraInfoHtml($_item) ?>
                    </tbody>
                <?php endforeach; ?>
        </table>
    </form>
    <?php echo $block->getChildHtml('remove_order_item_form'); ?>
</div>
