<?php
$clevertapStatus = $this->getClevertapStatus();
$customerNumber = $this->getCustomerMobileNo();
if($clevertapStatus==1){
    $params         = array_keys($this->getRequest()->getParams());
    $data           = base64_decode($params[0]);
    $data           = json_decode($data, true);
    $order_id       = $data[0]['orderData']['id'];
    if($order_id!=''){
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $order = $objectManager->create('\Magento\Sales\Model\Order')->loadByIncrementId($order_id);
        $orderTotal = $order->getGrandTotal();
        $incrementId = $order->getIncrementId();
        $couponCode = $order->getCouponCode();
        $orderItems = $order->getAllItems();
        //print_r($orderItems->getData());
        $itemNamesArray = array();
        $rxArray = $nonRxArray = array();
        if(!empty($orderItems)){
            foreach ($orderItems as $item) {
                $sku = $item->getSku();
                if($sku !=''){
                    $productCollectionFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
                        $collection = $productCollectionFactory->create();
                        $collection->addAttributeToSelect('*');
                        $collection->addAttributeToFilter('sku', array('eq' => $sku));
                        $count = count($collection->getData());
                        if($count>0){
                            $fcol = $collection->getData();
                            foreach($fcol as $product){
                            $productEntityId = $product['entity_id'];
                                if(!empty($productEntityId)){
                                    $productInfo = $objectManager->create('Magento\Catalog\Model\Product')->load($productEntityId);
                                    if($productInfo->getPrescriptionRequired() == 'required') {
                                       $rxArray[] = "RX";
                                    }elseif($productInfo->getPrescriptionRequired() == 'not_required'){
                                       $nonRxArray[] = "Non-Rx";
                                    }
                                }
                            }
                        }
                }
                $itemNamesArray[] = $item->getName();
            }
        }
        
        $skuType = '';
        if(!empty($rxArray) && empty($nonRxArray)){
            $skuType = "RX";
        }
        if(empty($rxArray) && !empty($nonRxArray)){
            $skuType = "Non-RX";
        }
        if(!empty($rxArray) && !empty($nonRxArray)){
            $skuType = "Rx AND Non-RX";
        }

         if(!empty($itemNamesArray)){
            $implodeItemNames = implode(",", $itemNamesArray);
         }else{
            $implodeItemNames = '';
         }

         if($couponCode!=''){
            $couponCode = $couponCode;
         }else{
            $couponCode = 'NA';
         }

    ?>
        <script type="text/javascript"> 
            clevertap.event.push("Medicine_Order",{
                "OrderId": "<?php echo $incrementId;?>",
                "SKU_Name":"<?php echo $implodeItemNames; ?>",
                "Order_Total": "<?php echo $orderTotal; ?>",
                "Coupon_Name":"<?php echo $couponCode; ?>",
                "Cust_Mobile_Number":"<?php echo $customerNumber; ?>",
                "SKU_Type":"<?php echo $skuType; ?>"
              });
            //window.alert(JSON.stringify(clevertap));
        </script>
    <?php   
    }
}
?>
<script type="text/javascript">
    var len = localStorage.length;
    jQuery(document).ready(function() {
        var clevrarray = [];
        for ( var i = 0; i < len; i++ ) {
        var resultValue = localStorage.getItem( localStorage.key( i ) );
        var res = resultValue.match(/clevertaptrue/i);
        if(res){
            var removeKey = localStorage.key( i );
            clevrarray.push(removeKey);
            //localStorage.removeItem(removeKey);
        }
    }
    //console.log('Removed array'+clevrarray);
    if(clevrarray.length > 0){
        clevrarray.forEach(function(entry) {
        if(entry !='mage-cache-storage'){
             localStorage.removeItem(entry);
             //localStorage.clear();
             //console.log('Removed array'+entry);
        }
    });
    }
    
});
</script>