<div class="field">
    <label class="label">Delivery Date</label>
    <div class="control">
        <input class="input-text" type="text" data-bind="datetimepicker: true"  name="delivery_date" id="delivery_date" readonly="true"/>
    </div>
    <br/>
    <label class="label">Comment</label>
    <div class="control">
        <textarea name="delivery_comment" id="delivery_comment"></textarea>
    </div>
</div>
