<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currentuser = $objectManager->create('Magento\Backend\Model\Auth\Session')->getUser()->getUsername();
?>
<input type="hidden" value="<?php echo $currentuser; ?>" name="currentuser">
<div class="admin__page-section-title">
    <span class="title"><?= /* @escapeNotVerified */ __('Add Prescriptions Here') ?></span>
</div>
<div class="admin__page-section-content">
 <div class="admin__field-control" style="padding-top:18px;">
			<input id="pic" type="file" name="pic[]" multiple="multiple" />
    </div>
</div><br>
<style>
input.upload-button{
	background-color:#eb5202;
	border-color:#eb5202;
	color:#ffffff;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.25);
	padding:5px;
}
</style>

<div class="admin__page-section-title <?= /* @escapeNotVerified */ $block->getHeaderCssClass() ?>">
    <span class="title"><?= /* @escapeNotVerified */ $block->getHeaderText() ?></span>
    <div class="actions"></div>
</div>
<div id="customer_account_fieds" class="admin__page-section-content">
    <?= $block->getForm()->getHtml() ?>
</div>

<script>
    require(["prototype", "Magento_Sales/order/create/form"], function(){
        order.accountFieldsBind($('customer_account_fieds'));
    });
</script>
