<div class="row">
  <?php
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
  $mediaUrl =  $objectManager->get('Magento\Store\Model\StoreManagerInterface') 
  ->getStore()
  ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA); 
//$categoryId = 345; // fetching products in Deals of the Products category 
$categoryId = $block->getCatogeryId();
$categoryProducts = $block->getCategoryProducts($categoryId);
$categoryproductcount=count($categoryProducts);

if($categoryproductcount >= 4) {
  $optiontitle = 0;
  foreach ($categoryProducts as $product) {
  $proId = $product->getId(); 
    if($this->isCountdownEnabled2($proId) && $this->getPriceCountDown2($proId)){
   $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct'); 
   $singlesku = $product->getSku();
   $productRepository = $objectManager->create('Magento\Catalog\Api\ProductRepositoryInterface')->get($singlesku);
   $dealsIcon =  $productRepository->getDealsOfBannerImage();
  if($optiontitle == 0){
   ?>
      <div class="container">
      <div class="row">
      <div class="col-sm-12" >
      <div class="title"><h3><?php echo $block->getTitle(); ?></h3></div>
      </div>
      </div>
      </div>
   <?php } ?>
   <div class="col-sm-12 col-md-3 deal4">  
    <div class="deals-block">
    <div class="row">
      <div class="col-sm-12" ><div class="deals-of-item"><a href="<?php echo $product->getProductUrl(); ?>?utm_source=<?php echo $singlesku; ?>&utm_medium=HP-Banner&utm_campaign=DealoftheDay"><img src="<?php echo $mediaUrl."catalog/product".$dealsIcon ?>" width="280" height="250" /> </a>
        <span class="hm-price"><?php echo $abstractProductBlock->getProductPrice($product) ?></span> 

     </div> 
   </div>

    <div class="title"><?php //echo $block->getTitle(); ?></div>
    <div id="countdowntimer-<?php echo $proId;?>" class="countdowntimer"><span class="future_date" id="demo-<?php echo $proId;?>"><span></div>
<?php 
$ts1 = str_replace('-', '/', $this->getCountdownEndDate2($proId));
$ts2 = str_replace('-', '/', $this->getCountdownStartDate2($proId));
?>          
        <script>
          require(['jquery'], function ($) {
          $(document).ready(function() {
            var fromcount = new Date("<?php echo $ts2;?>");
            fromcount.setMinutes( fromcount.getMinutes() + 330 );
            var tocount = new Date("<?php echo $ts1;?>");
            tocount.setMinutes( tocount.getMinutes() + 330 );
            var count = tocount - fromcount;
            var x = setInterval( function() { startTimer('demo-<?php echo $proId;?>',count,fromcount); }, 1000 );
            function startTimer(id,countDownDate,fromcount)
            {
               var now = new Date().getTime();
               var diff = now - fromcount;
               var distance = countDownDate - diff;        
               var days = Math.floor(distance / (1000 * 60 * 60 * 24));
               var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
               var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)); 
               var seconds = Math.floor((distance % (1000 * 60)) / 1000);

               var mutipledaysbyhrs = hours + (24*days); 
               var sigledaysbyhrs = hours; 
			   if(days > 0){
				 document.getElementById(id).innerHTML = "<button>Sale Ends In:</button>" + mutipledaysbyhrs + "<button>Hrs</button>" 
				+ minutes + "<button>Mins</button>" + seconds + "<button>Secs</button>";  
			   }else{
				document.getElementById(id).innerHTML = "<button>Sale Ends In:</button>" + sigledaysbyhrs + "<button>Hrs</button>" 
				+ minutes + "<button>Mins</button>" + seconds + "<button>Secs</button>";   
			   }    
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("deals-day").style.display = "none";
              } 


            }
      });

});
        </script>
    <?php } ?>
  </div>
</div>
</div>
<?php $optiontitle++;?>
<?php } 


}elseif($categoryproductcount == 3){ 
$optiontitle = 0;
  foreach ($categoryProducts as $product) {
  $proId = $product->getId(); 
    if($this->isCountdownEnabled2($proId) && $this->getPriceCountDown2($proId)){
   $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
   $singlesku = $product->getSku();
   $productRepository = $objectManager->create('Magento\Catalog\Api\ProductRepositoryInterface')->get($singlesku);
   $dealsIcon =  $productRepository->getDealsOfBannerImage();
 if($optiontitle == 0){
   ?>
      <div class="container">
      <div class="row">
      <div class="col-sm-12" >
      <div class="title"><h3><?php echo $block->getTitle(); ?></h3></div>
      </div>
      </div>
      </div>
   <?php } ?> 
   <div class="col-sm-12 col-md-4 deal3">  
    <div class="deals-block">
    <div class="row">
      <div class="col-sm-12" ><div class="deals-of-item"><a href="<?php echo $product->getProductUrl(); ?>?utm_source=<?php echo $singlesku;?>&utm_medium=HP-Banner&utm_campaign=DealoftheDay"><img src="<?php echo $mediaUrl."catalog/product".$dealsIcon ?>" width="280" height="250" /> </a>
      <span class="hm-price"><?php echo $abstractProductBlock->getProductPrice($product) ?></span>

     </div>
   </div>

    <div class="title"><?php //echo $block->getTile(); ?></div>
    <div id="countdowntimer-<?php echo $proId;?>" class="countdowntimer"><span class="future_date" id="demo-<?php echo $proId;?>"><span></div>
<?php 
$ts1 = str_replace('-', '/', $this->getCountdownEndDate2($proId));
$ts2 = str_replace('-', '/', $this->getCountdownStartDate2($proId));
?>          
        <script>
          require(['jquery'], function ($) {
          $(document).ready(function() {
            var fromcount = new Date("<?php echo $ts2;?>");
            fromcount.setMinutes( fromcount.getMinutes() + 330 );
            var tocount = new Date("<?php echo $ts1;?>");
            tocount.setMinutes( tocount.getMinutes() + 330 );
            var count = tocount - fromcount;
            var x = setInterval( function() { startTimer('demo-<?php echo $proId;?>',count,fromcount); }, 1000 );
            function startTimer(id,countDownDate,fromcount)
            {
               var now = new Date().getTime();
               var diff = now - fromcount;
               var distance = countDownDate - diff;        
               var days = Math.floor(distance / (1000 * 60 * 60 * 24));
               var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
               var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)); 
               var seconds = Math.floor((distance % (1000 * 60)) / 1000);
               var mutipledaysbyhrs = hours + (24*days); 
               var sigledaysbyhrs = hours; 
			   if(days > 0){
				 document.getElementById(id).innerHTML = "<button>Sale Ends In:</button>" + mutipledaysbyhrs + "<button>Hrs</button>" 
				+ minutes + "<button>Mins</button>" + seconds + "<button>Secs</button>";  
			   }else{
				document.getElementById(id).innerHTML = "<button>Sale Ends In:</button>" + sigledaysbyhrs + "<button>Hrs</button>" 
				+ minutes + "<button>Mins</button>" + seconds + "<button>Secs</button>";   
			   } 
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("deals-day").style.display = "none";
              } 


            }
      });

});
        </script>
    <?php } ?>
  </div>
</div>
</div>
<?php $optiontitle++;?>
<?php } 

}elseif($categoryproductcount == 2){
  $optiontitle = 0;
  foreach ($categoryProducts as $product) {
  $proId = $product->getId(); 
    if($this->isCountdownEnabled2($proId) && $this->getPriceCountDown2($proId)){  
   $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
   $singlesku = $product->getSku();
   $productRepository = $objectManager->create('Magento\Catalog\Api\ProductRepositoryInterface')->get($singlesku);
   $dealsIcon =  $productRepository->getDealsOfBannerImage();
    if($optiontitle == 0){
   ?>
      <div class="container">
      <div class="row">
      <div class="col-sm-12" >
      <div class="title"><h3><?php echo $block->getTitle(); ?></h3></div>
      </div>
      </div>
      </div>
   <?php } ?> 
   <div class="col-sm-12 col-md-6 deal2"> 
    <div class="deals-block">
    <div class="row">
      <div class="col-sm-12" ><div class="deals-of-item"><a href="<?php echo $product->getProductUrl(); ?>?utm_source=<?php echo $singlesku; ?>&utm_medium=HP-Banner&utm_campaign=DealoftheDay"><img src="<?php echo $mediaUrl."catalog/product".$dealsIcon ?>"   /> </a>
      <span class="hm-price"><?php  echo $abstractProductBlock->getProductPrice($product) ?></span>

     </div>
   </div>

   <div class="title"><?php //echo $block->getTile(); ?></div>
  <div id="countdowntimer-<?php echo $proId;?>" class="countdowntimer"><span class="future_date" id="demo-<?php echo $proId;?>"><span></div>
<?php 
$ts1 = str_replace('-', '/', $this->getCountdownEndDate2($proId));
$ts2 = str_replace('-', '/', $this->getCountdownStartDate2($proId));
?>          
        <script>
          require(['jquery'], function ($) {
          $(document).ready(function() {
            var fromcount = new Date("<?php echo $ts2;?>");
            fromcount.setMinutes( fromcount.getMinutes() + 330 );
            var tocount = new Date("<?php echo $ts1;?>");
            tocount.setMinutes( tocount.getMinutes() + 330 );
            var count = tocount - fromcount;
            var x = setInterval( function() { startTimer('demo-<?php echo $proId;?>',count,fromcount); }, 1000 );
            function startTimer(id,countDownDate,fromcount)
            {
               var now = new Date().getTime();
               var diff = now - fromcount;
               var distance = countDownDate - diff;        
               var days = Math.floor(distance / (1000 * 60 * 60 * 24));
               var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
               var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)); 
               var seconds = Math.floor((distance % (1000 * 60)) / 1000);
               var mutipledaysbyhrs = hours + (24*days); 
               var sigledaysbyhrs = hours; 
			   if(days > 0){
				 document.getElementById(id).innerHTML = "<button>Sale Ends In:</button>" + mutipledaysbyhrs + "<button>Hrs</button>" 
				+ minutes + "<button>Mins</button>" + seconds + "<button>Secs</button>";  
			   }else{
				document.getElementById(id).innerHTML = "<button>Sale Ends In:</button>" + sigledaysbyhrs + "<button>Hrs</button>" 
				+ minutes + "<button>Mins</button>" + seconds + "<button>Secs</button>";   
			   }  
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("deals-day").style.display = "none";
              } 


            }
      });

});
        </script>
     
    <?php } ?>
  </div>
</div>
</div>
<?php $optiontitle++;?>
<?php } 


}elseif($categoryproductcount == 1){ 
  $optiontitle = 0;
  foreach ($categoryProducts as $product) {
     $proId = $product->getId(); 
     if($this->isCountdownEnabled2($proId) && $this->getPriceCountDown2($proId)){
   $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
   $singlesku = $product->getSku();
   $productRepository = $objectManager->create('Magento\Catalog\Api\ProductRepositoryInterface')->get($singlesku);
   $dealsIcon =  $productRepository->getDealsOfBannerImage();
   if($optiontitle == 0){
   ?>
      <div class="container">
      <div class="row">
      <div class="col-sm-12" >
      <div class="title"><h3><?php echo $block->getTitle(); ?></h3></div>
      </div>
      </div>
      </div>
   <?php } ?> 
   <div class="col-sm-12 deal1">  
    <div class="deals-block">
      <div class="row">
        <div class="col-sm-12" ><div class="deals-of-item"><a href="<?php echo $product->getProductUrl(); ?>?utm_source=<?php echo $singlesku; ?>&utm_medium=HP-Banner&utm_campaign=DealoftheDay"><img src="<?php echo $mediaUrl."catalog/product".$dealsIcon ?>"/> </a>
         <span class="hm-price"><?php  echo $abstractProductBlock->getProductPrice($product) ?></span>

       </div>
     </div>
   
      <div class="title"><?php //echo $block->getTile(); ?></div>
      <div id="countdowntimer-<?php echo $proId;?>" class="countdowntimer"><span class="future_date" id="demo-<?php echo $proId;?>"><span></div>
<?php 
$ts1 = str_replace('-', '/', $this->getCountdownEndDate2($proId));
$ts2 = str_replace('-', '/', $this->getCountdownStartDate2($proId));
?>          
        <script>
          require(['jquery'], function ($) {
          $(document).ready(function() {
            var fromcount = new Date("<?php echo $ts2;?>");
            fromcount.setMinutes( fromcount.getMinutes() + 330 );
            var tocount = new Date("<?php echo $ts1;?>");
            tocount.setMinutes( tocount.getMinutes() + 330 );
            var count = tocount - fromcount;
            var x = setInterval( function() { startTimer('demo-<?php echo $proId;?>',count,fromcount); }, 1000 );
            function startTimer(id,countDownDate,fromcount)
            {
               var now = new Date().getTime();
               var diff = now - fromcount;
               var distance = countDownDate - diff;        
               var days = Math.floor(distance / (1000 * 60 * 60 * 24));
               var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
               var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)); 
               var seconds = Math.floor((distance % (1000 * 60)) / 1000);
			   var mutipledaysbyhrs = hours + (24*days); 
               var sigledaysbyhrs = hours; 
			   if(days > 0){
				 document.getElementById(id).innerHTML = "<button>Sale Ends In:</button>" + mutipledaysbyhrs + "<button>Hrs</button>" 
				+ minutes + "<button>Mins</button>" + seconds + "<button>Secs</button>";  
			   }else{
				document.getElementById(id).innerHTML = "<button>Sale Ends In:</button>" + sigledaysbyhrs + "<button>Hrs</button>" 
				+ minutes + "<button>Mins</button>" + seconds + "<button>Secs</button>";   
			   }
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("deals-day").style.display = "none";
              } 


            }
      });

});
        </script>
      <?php } ?>
    </div>
  </div>
</div>
<?php $optiontitle++;

}   

}
?>

</div>



