<fieldset class="fieldset create account" data-hasrequired="<?php echo '* Required Fields'; ?>">
<p>
    <div class="field regulation">
        <label for="regulation" class="label"><span><?php echo "Mobile Number"; ?></span></label>
        <div class="control">
            
            <input type="text" id="mobile_number" name="mobile_number" value="" title="Mobile Number" class="input-text" data-validate="{required:true}" autocomplete="off" aria-required="true">
        </div>
    </div>
    </p>
</fieldset>