<head>
  <style>
  .error {
    color: red;
    margin-left: 5px;
    position: absolute;
    left: auto;
    right: 0;
    top: 10px;
  }
  .enquiry-support-section .enquiry-form-block{position: relative;}
  label.error {display: inline;}
  #successMessage{color:green;font-size: 15px;font-weight: 700;position: absolute;}
  #loadingmessage {float: left;max-width: 30%; position: absolute;bottom:45%;text-align: center;left: 50px;right: 50px;margin: auto;}
  #loadingmessage img{max-width: 26%;}    
</style>
</head>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeInformation = $objectManager->create('Magento\Store\Model\Information');
$store          = $objectManager->create('Magento\Store\Model\Store');
$storeInfo      = $storeInformation->getStoreInformationObject($store);
$phone          = $storeInfo->getPhone();
$url = $storeManager->getStore()->getBaseUrl();
?>

<!-- Starts Enquiry Form --> 
<div class="enquiry-support-section" id="submitEnquiry">
  <div class="container">
   <div class="enquiry-block">  
    <div class="col-sm-12 col-md-6 enquiry-form-block">
     <div class="enquiry-section">
      <div class="card plain-card text-center">
       <h2>Not finding what you are looking for!</h2>
       <h3>Submit an enquiry</h3>
       <div class="enquiry-form">
        <form id="form" method="post" action="">
         <div class="form-group">
           <label for="pass" class="label"><span>Name</span></label>
           <input type="text" class="form-control" id="name">
         </div>
         <div class="form-group">
          <label for="pass" class="label"><span>Query</span></label>
          <input type="text" class="form-control" id="query">
        </div>
        <div class="form-group">
         <label for="pass" class="label"><span>Email/ Number</span></label>   
         <input type="text" class="form-control" id="email">
       </div>
       <button type="submit" class="btn btn-secondary" name="submit" id="submit">Submit</button>
       <div id='loadingmessage' style='display:none'><img src='<?php echo $url;?>pub/media/wysiwyg/64x64.gif'/></div>
     </form>
     <div id="successMessage" ></div>                  
   </div>

 </div>
</div>
</div>
<div class="col-sm-12 col-md-6 support-section">
 <div class="position-relative brd-lft"> 
   <i class="zoylo-icon talkto"></i>
   <h3>TALK TO AN EXPERT</h3>
   <h2><?php echo $phone;?></h2> 
   <i class="zoylo-icon writeus"></i>
   <h3>WRITE TO US</h3>
   <h2><a href="mailto:contactus@zoylo.com">contactus@zoylo.com</a></h2>
 </div>
</div>
</div>
</div>
</div>


<script type="text/javascript">
  require([
    'jquery'
    ], function ($) {
      $(document).ready(function() {

        $('#form').submit(function(e) {
          e.preventDefault();
          var first_name = $('#name').val();
          var query_name = $('#query').val();
          var email = $('#email').val();
          

          $(".error").remove();

          if (first_name.length < 1) {
            $('#name').after('<span class="error">This field is required</span>');
            return false;
          }
          if (query_name.length < 1) {
            $('#query').after('<span class="error">This field is required</span>');
            return false;
          }
          if (email.length < 1) {
            $('#email').after('<span class="error">This field is required</span>');
            return false;
          } 
          
          $('#loadingmessage').show(); 
          
    //ajax call
    var myjson =
    {
      "fields":{
        "project":{
          "key":"SUPPORT"
        },
        "summary":"New General Enquiry",
        "issuetype":{
          "name":"General Enquiry"
        },
        "customfield_10949":first_name,
        "customfield_10951":query_name,
        "customfield_10952":email
      }
    };
    
    $.ajax('https://gateway.zoylo.com/zoylogateway-0.0.1-SNAPSHOT/zoyloadmin/zoyloadmin-0.0.1-SNAPSHOT/api/jiratickets',{
    'data': JSON.stringify(myjson), //{action:'x',params:['a','b','c']}
    'type': 'POST',
    'processData': false,
    'contentType': 'application/json',
    success: function() {
     $("#successMessage").html("Your needs matter to us! Our team will get in touch with you shortly.");
     $('#loadingmessage').hide();
     $('input[type="text"],input[type="email"]').val('');
   }
 });                  
  });
      });
    });
  </script>