<?php
$symtomscollections = $block->getSymptomsCollection();
 foreach ($symtomscollections as $symtoms) {
    
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $mediaurl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore()
            ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

    $baseurl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl();
    $symtomname = $symtoms['name']; 
    $imageurl = $mediaurl.'symptom/';
     $url_key = $imageurl. $symtomname.'.svg'; 
     $syptomurl = $baseurl.'catalogsearch/result/?q='.$symtomname;
    ?>
   <div class="symptoms"><a href="<?php echo $syptomurl; ?>"><img src="<?php echo $url_key ?>" alt="<?php echo $symtomname; ?>" height="42" width="42"></a>
       <p class="symptoms-name"><a href="<?php echo $syptomurl; ?>"><?php echo  $symtomname;  ?></a></p>
   </div>
   

<?php } ?>
