/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Base
 * @copyright   Copyright (c) 2015-2017 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */

.admin__menu #menu-plumrocket-base-elements > a:before  {
    opacity: 0.65;
    content: '';
    font-size: 2.4rem;
    display: block;
    position: relative;
    top: -0.3rem;
    width: 28px;
    height: 23px;
    background: url(../images/plumlogo.svg);
    background-size: 28px 23px;
    margin: 0 auto;
}

.admin__menu #menu-plumrocket-base-elements:hover > a:before {opacity: 1;}

.admin__menu #menu-plumrocket-base-elements>.submenu>ul>.level-1:only-of-type>.submenu-group-title {
    display: block;
}