<!--@subject {{trans "Your Zoylo order has been cancelled "}}  @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">Dear  {{trans "%customer_name," customer_name=$order.getCustomerName()}}</p>
<p>Your order {{var order.increment_id}} {{var firstline}}</p>
<p>In case of any queries or assistance, please call us on our Toll Free Helpline 1800 208 5454 or send an mail to contactus@zoylo.com </p>
<p>Thank you for choosing us</p>
<p>Team Zoylo</p>

{{template config_path="design/email/footer_template"}}