<!--@subject {{trans "Prescription Pending for your Zoylo order"}}  @-->

{{template config_path="design/email/header_template"}}
<p class="greeting">Dear  {{trans "%customer_name" customer_name=$order.getCustomerName()}},</p>
<p>Your prescription is pending for zoylo order {{var order.increment_id}}. Please <span><a href='https://upload.zoylo.com/Orderid/{{var firstline}}'> <b>Click here</b> </a> </span> to attach Prescription. </p>
<p>SMS will be also sent to you on your registered mobile number with the prescription link to upload the prescription.</p>
<p>In case of any queries or assistance, please call us on our Toll Free Helpline 1800 208 5454 or send an mail to contactus@zoylo.com 
</p>
<p>Thank you for choosing us</p>
<p>Team Zoylo</p>
{{template config_path="design/email/footer_template"}}
