<!--@subject {{trans "Customer Order Delivery Failed"}}  @-->

{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
         <td>
           
           <p>Zoylo order with AWB number {{var cp_way_bill}} failed to deliver due to {{var cp_ndr_status_desc}} </p>
           <p>Clickpost Response: </p>
           <p>{{var cp_response}}</p>
        </td>
    </tr>
    
     

</table>
{{template config_path="design/email/footer_template"}}