
<!--@subject {{trans "Your Zoylo order is out for delivery"}}  @-->

{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
         <td>
           <p class="greeting">Dear  {{trans "%customer_name," customer_name=$order.getCustomerName()}}</p>
           <p>Your Zoylo order {{var order.increment_id}} is out for delivery and will be delivered today. </p>
        </td>
    </tr>
    
      <tr class="email-information">
        <td>
            <h3>{{trans "Order Summary:"}}</h3>
            {{layout handle="sales_email_order_items" order=$order area="frontend"}}

            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <h3>{{trans "Shipping Address:"}}</h3>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                </tr>
            </table>
            
        </td>
    </tr>
	<tr>
<td>
<p>In case of any queries or assistance, please call us on our Toll Free Helpline 1800 208 5454 or send an mail to contactus@zoylo.com </p>
<p>Thank you for choosing us
<br/>Team Zoylo</p></td>
	</tr>
</table>
{{template config_path="design/email/footer_template"}}