ul.ui-autocomplete {max-height:400px;overflow-y: scroll;background-color:#fff;width:250px;}
ul.ui-autocomplete li{padding:10px  5px;}#newcustomer_details{width:100%;display:none}#newcustomer_details .field1{width:100%;padding:10px}#newcustomer_details .field1 label{padding:10px;width:100%;color:#000}#newcustomer_details .field1 input[type=text], #newcustomer_details .field1 input[type=email], #newcustomer_details .field1 select{border-bottom:2px solid #faa74a;height:30px;}th.email-text{line-height:33px;width:20%}.customer_mobile{width:55%;float:left;height:auto;color:red;}.customer_mobile input.mobile-info{height:auto;border-radius:3px;border:1px solid #ccc;width:350px}.removerow a{background:#ea8008;border-radius:100%;color:#fff;height:30px;width:30px;display:table;text-align:center;line-height:28px;font-size:15px;font-weight:900}.quick-order-submit,span.addnewrow{background-color:#faa74a;float:right}span.addnewrow{padding:10px 36px;-moz-border-radius:2px;margin:10px 0 10px 10px}span.addnewrow a{color:#fff}.quick-order-submit{border:0;text-align:center;color:#fff;font-size:13px;padding:10px 25px;text-transform:uppercase;-webkit-border-radius:2px;-moz-border-radius:2px;margin-top:10px}.skucontainer{width:100%;display:table;border:1px solid #ccc}.skucontainer tr th{background:#ccc;color:#000}.skucontainer tr td{color:#000}.skucontainer tr td .qty{width:60px;height:40px;border-radius:3px;border:1px solid #ccc}.skucontainer tr td .skusearch{width:80%;height:40px;border-radius:3px;border:1px solid #ccc}
input.file-upload {margin-top:8px;}
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
			width:225px;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 10px solid whitesmoke;			
        }

#newcustomer_details .field1 {width:50%;}
#newcustomer_details .field1 input[type=text], #newcustomer_details .field1 input[type=email], #newcustomer_details .field1 select {
    border-bottom: 2px solid #faa74a;height: 30px;border-top:0px;border-left:0px;border-right:0px;}
#newcustomer_details .field1 input[type=text]{width:150px;}
#newcustomer_details .field1 input[type=email]{width:250px;}
#newcustomer_details .field1 select{width:200px;}
#newcustomer_details .field1 label{padding:0px;}
#newcustomer_details .field1 label:after{content:'*'}
.skucontainer{margin-top:35px;}
.moddile-content-table{margin-top:35px;}
.moddile-content-table tr td{padding:10px;}
.quickorderdiv .quick-order-submit{margin-top:20px;}
.skucontainer tr th{height:40px;}
.skucontainer tr td{padding:10px;}
.customer_mobile input.mobile-info{height:30px;}
.skucontainer tr td{text-align:center;}
.skucontainer tr td .skusearch{height:30px;}
.quantity{height:30px;text-align: center;width:30%;}
.ui-helper-hidden-accessible{display:none;}
.quicl-order-header{margin-top:30px;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.quicl-order-header th.email-text {
    line-height: 33px;
    width: 180px;
    font-size: 12px;
    float: left;
}

.quicl-order-header .customer_mobile {
    width: 180px;
}

.quicl-order-header .customer_mobile input.mobile-info {
    height: 30px;
    max-width: 160px;
}

.quicl-order-header .quicl-order-header select.mobile-info {
    width: 160px;
}


.quicl-order-header #newcustomer_details .field1 input[type=text] {
    width: 160px;
}

.quicl-order-header #newcustomer_details .field1 {
    width: auto;
    max-width: 180px;
}

.quicl-order-header #newcustomer_details .field1 input[type="email"] {
    width: 160px;
}

.quicl-order-header #newcustomer_details .field1 select {
    width: 160px;
}