<?php if ($_item = $block->getItem()): ?>
    <table class="qty-table">
        <tr>
            <th><?= /* @escapeNotVerified */ __('Ordered') ?></th>
            <td class="original-fields"><?= /* @escapeNotVerified */ $_item->getQtyOrdered()*1 ?></td>
            <td class="col-qty edited-fields">
                <input name="item[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                   class="input-text item-qty admin__control-text"
                   value="<?= /* @escapeNotVerified */ $_item->getQtyOrdered()*1 ?>"
                   maxlength="12"/>
            </td>
        </tr>

        <?php if ((float) $_item->getQtyInvoiced()): ?>
            <tr>
                <th><?= /* @escapeNotVerified */ __('Invoiced') ?></th>
                <td><?= /* @escapeNotVerified */ $_item->getQtyInvoiced()*1 ?></td>
            </tr>
        <?php endif; ?>

        <?php if ((float) $_item->getQtyShipped()): ?>
            <tr>
                <th><?= /* @escapeNotVerified */ __('Shipped') ?></th>
                <td><?= /* @escapeNotVerified */ $_item->getQtyShipped()*1 ?></td>
            </tr>
        <?php endif; ?>

        <?php if ((float) $_item->getQtyRefunded()): ?>
            <tr>
                <th><?= /* @escapeNotVerified */ __('Refunded') ?></th>
                <td><?= /* @escapeNotVerified */ $_item->getQtyRefunded()*1 ?></td>
            </tr>
        <?php endif; ?>

        <?php if ((float) $_item->getQtyCanceled()): ?>
            <tr>
                <th><?= /* @escapeNotVerified */ __('Canceled') ?></th>
                <td><?= /* @escapeNotVerified */ $_item->getQtyCanceled()*1 ?></td>
            </tr>
        <?php endif; ?>

    </table>
<?php endif; ?>



