<?php
/** @var $block \Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\Payment\Edit */

$order = $block->getOrder();
$paymentMethod = $order->getPayment()->getMethod();
?>
<select class="order-payment-list select admin__control-select hidden">
    <?php foreach ($block->getPaymentOptions() as $code => $title): ?>
        <option
            <?= $code == $paymentMethod ? 'selected="selected"' : '' ?>
            value="<?= $code ?>" data-title="<?= /* @escapeNotVerified */ $title ?>">
            <?= /* @escapeNotVerified */ "$title ($code)" ?>
        </option>
    <?php endforeach; ?>
</select>