<?php
/**
 * Cminds TrueEditOrder order info search items template.
 *
 * @category Cminds
 * @package  Cminds_TrueEditOrder
 * @author   Piotr Pierzak <piotrek.pierzak@gmail.com>
 */
?>
<?php /** @var $block \Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\SearchItems */ ?>
<div id="cminds-trueeditorder-items-container"
     style="display:none;"
     class="admin__page-section order-search-items">
    <?= $block->getChildHtml('search') ?>
</div>

<form id="cminds-trueeditorder-additems-form">
    <input type="hidden" name="form_key" value="<?= $block->getFormKey() ?>"/>
</form>

<!-- dummy div to prevent console errors -->
<div id="edit_form" data-order-config="test"></div>

<script>
    require([
        'trueeditorder',
        "Magento_Sales/order/create/form",
        'Magento_Sales/order/create/scripts',
        "Magento_Catalog/catalog/product/composite/configure",
        "Magento_ConfigurableProduct/js/configurable",
        'domReady!'
    ], function (trueeditorder) {
        trueeditorder.init({
            orderId: <?= $block->getOrderId() ?>,
            addItemsUrl: '<?= $block->getAddItemsUrl() ?>',
            editItemsUrl: '<?= $block->getEditItemsUrl() ?>',
            askConfirmation: <?= $block->needToAskConfirmation() ?>
        });
        window.trueeditorder = trueeditorder;

        function addSidebarCompositeListType() {
            productConfigure.addListType('product_to_add', {
                urlFetch: '<?= $block->getUrl('sales/order_create/configureProductToAdd') ?>'
            });

            productConfigure.addListType('quote_items', {
                urlFetch: '<?= $block->getUrl('trueeditorder/order_items/configureOrderItems') ?>'
            });
        }

        if (!window.sidebarListTypeWorkedOn) {
            if (typeof(productConfigure) == 'undefined') {
                Event.observe(window, 'load', function () {
                    setTimeout(addSidebarCompositeListType, 10);
                })
            } else {
                addSidebarCompositeListType();
            }
            window.sidebarListTypeWorkedOn = true;
        }

        window.addSidebarCompositeListType = addSidebarCompositeListType;
    });
</script>