<?php
/**
* Copyright © 2015 Magento. All rights reserved.
* See COPYING.txt for license details.
*/

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of Object Manager
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
$discountprice = $_item->getDiscountAmount();
$formattedPrice = $priceHelper->currency($discountprice, true, false);


$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);


$productdata = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());

		$helper = $this->helper('I95Dev\UploadPrescription\Helper\Data');
		$mediaurl = $helper->getMediaUrl();
	    $zoylo_product_type =  $productdata->getZoyloProductType(); 
        $sku_display_name =  $productdata->getSkuDisplayName();
		$display_pack_size = $productdata->getResource()->getAttribute('display_pack_size')->getFrontend()->getValue($productdata);
	    $pack_type = $productdata->getResource()->getAttribute('drug_type')->getFrontend()->getValue($productdata);

		if (isset($pack_type) && $pack_type != '' && $pack_type != 'no_selection') {
		  $packtype_url = $mediaurl . 'packtype/' . ucwords(strtolower($pack_type)) . '.png';
		}
			/*custom product category id start*/
               $categoryIds= $product->getCategoryIds();
                $_imgUrl = '';
                foreach ($categoryIds as $catId){
                    if($catId == 1 || $catId == 2 || $catId == 3|| $catId == 6 ||$catId == 7)
                        continue;
                    
                    $category = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
                    if($category->getLevel() == 3) {
                        $_outputhelper    = $objectManager->get('Magento\Catalog\Helper\Output');
						$_imgUrl = $category->getImageUrl();
                        
                    }
                }
            /*custom product category id end*/
                

?>

<tbody class="cart item">
<tr class="item-info">
<td data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item">
    <?php if ($block->hasProductUrl()):?>
        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"
           title="<?php echo $block->escapeHtml($block->getProductName()) ?>"
           tabindex="-1"
           class="product-item-photo">
    <?php else:?>
        <span class="product-item-photo">
    <?php endif;?>
	<?php if (strpos($block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(), 'placeholder') !== false) { 
	
	if($zoylo_product_type == "OTC"){
		if($_imgUrl){
			$productImageUrl = $_imgUrl; ?>
			<span class="product-image-container" style="width:165px;">
	<span class="product-image-wrapper" style="padding-bottom: 100%;">
	<img class="product-image-photo" src="<?php echo $productImageUrl; ?>" width="165" height="165" alt="<?php echo $block->escapeHtml($block->getProductName()) ?>"></span></span>
<?php 	}else{
		$productImageUrl = $mediaurl . 'packtype/OTC.png';  ?>
	<span class="product-image-container" style="width:165px;">
	<span class="product-image-wrapper" style="padding-bottom: 100%;">
	<img class="product-image-photo" src="<?php echo $productImageUrl; ?>" width="165" height="165" alt="<?php echo $block->escapeHtml($block->getProductName()) ?>"></span></span>
<?php }	}elseif(isset($pack_type) && $pack_type != '') { 
		if($_imgUrl){
			$productImageUrl = $_imgUrl;  ?>
			<span class="product-image-container" style="width:165px;">
	<span class="product-image-wrapper" style="padding-bottom: 100%;">
	<img class="product-image-photo" src="<?php echo $productImageUrl; ?>" width="165" height="165" alt="<?php echo $block->escapeHtml($block->getProductName()) ?>"></span></span>
	<?php	}else{
		$productImageUrl = $packtype_url;  ?>
	<span class="product-image-container" style="width:165px;">
<span class="product-image-wrapper" style="padding-bottom: 100%;">
<img class="product-image-photo" src="<?php echo $productImageUrl; ?>" width="165" height="165" alt="<?php echo $block->escapeHtml($block->getProductName()) ?>"></span></span>
		<?php } } }
	else{
		echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml();
	} ?>
    <?php if ($block->hasProductUrl()):?>
        </a>
    <?php else: ?>
        </span>
    <?php endif; ?>
    <div class="product-item-details">
        <strong class="product-item-name">
            <?php if($sku_display_name != ''){ 
                    if ($block->hasProductUrl()):?>
                   <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"><?php echo $sku_display_name; ?></a>
                    <?php else: ?>
                        <?php echo $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
            <?php } else { ?>
                     <?php if ($block->hasProductUrl()):?>
                        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"><?php echo $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?php echo $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
            <?php } ?>
        </strong>
		<p><?php echo $display_pack_size; ?></p>
        <?php if ($_options = $block->getOptionList()):?>
            <dl class="item-options">
                <?php foreach ($_options as $_option) : ?>
                    <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                    <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                    <dd>
                        <?php if (isset($_formatedOptionValue['full_view'])): ?>
                            <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                        <?php else: ?>
                            <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                        <?php endif; ?>
                    </dd>
                <?php endforeach; ?>
            </dl>
        <?php endif;?>
        <?php if ($messages = $block->getMessages()): ?>
            <?php foreach ($messages as $message): ?>
                <div class="cart item message <?php /* @escapeNotVerified */ echo $message['type'] ?>"><div><?php echo $block->escapeHtml($message['text']) ?></div></div>
            <?php endforeach; ?>
        <?php endif; ?>
        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock): ?>
            <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif;?>
    </div>
</td>

<?php if ($canApplyMsrp): ?>
    <td class="col msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
        <span class="pricing msrp">
            <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
            <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
            <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
            </a>
        </span>
    </td>
<?php else: ?>
   <?php /*
    <td class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
        <?php echo $block->getUnitPriceHtml($_item); ?>
    </td>
    */?> 
    
<?php endif; ?>
<td class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
    <div class="field qty">
        <label class="label" for="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty">
            <span><?php /* @escapeNotVerified */ echo __('Qty') ?></span>
        </label>
        <div class="control qty edit-qty">
            <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                   name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                   data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                   value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>"
                   type="number"
                   size="4"
                   title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                   class="input-text qty"
                   maxlength="12"
                   data-validate="{required:true,'validate-greater-than-zero':true}"
                   data-role="cart-item-qty" /><label for="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"></label>
				   
        </div>
		
       
    </div>
</td>

<td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal'));?>">
    <?php if ($canApplyMsrp): ?>
        <span class="cart msrp subtotal">--</span>
    <?php else: ?>
        <?php echo $block->getRowTotalHtml($_item); ?>
    <?php endif; ?>
</td> 
 <td class="item-actions">
    <div class="actions-toolbar">
        <?php /* @escapeNotVerified */ echo $block->getActions($_item) ?>
    </div>
</td>
</tr>
<tr class="item-info">
<?php if ($discountprice != '0') { ?>
<td  colspan="4" class="col item-discount"><h5>Discount Applied:<span><?php  echo $formattedPrice; ?></span></h5></td> 
<?php }  ?>
</tr>
<tr class="item-info">
    <td class="col qty-error" colspan="4">    
        <p id="qty-error"></p> 
    </td>
</tr>
</tbody>