 <?php 
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $categories = $this->getProduct()->getCategoryIds();
		$proId = $this->getProduct()->getId();
        foreach($categories as $category){
            $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
            $catName = $cat->getName();
  if($this->isCountdownEnabled($proId) && $catName == 'Deal of the Day' ){?>  
    <!--<div class="title"><?php //echo $block->getTitle(); ?></div>-->
  <div class="pdp-timer" id="deals-day"> 
    <div id="countdowntimer-<?php echo $proId;?>" class="countdowntimer"><span class="future_date" id="demo-<?php echo $proId;?>"><span></div>
  <div class="title"><?php echo "Sale Ends In:" ?></div>
  <div id="clockdiv"> 
  <div class="timer-block"> 
    <span class="hours" id="hour"></span><span class="smalltext">Hrs</span> 
  </div> 
  <div class="timer-block"> 
    <span class="hours minutes" id="minute"></span><span class="smalltext">Mins</span> 
  </div> 
   <div class="timer-block">  
    <span class="hours seconds" id="second"></span><span class="smalltext">Secs</span>  
  </div> 
</div> 
<?php 
$ts1 = str_replace('-', '/', $this->getCountdownEndDate($proId));
$ts2 = str_replace('-', '/', $this->getCountdownStartDate($proId));
?>          
        <script>
          require(['jquery'], function ($) {
          $(document).ready(function() {
            var fromcount = new Date("<?php echo $ts2;?>");
            fromcount.setMinutes( fromcount.getMinutes() + 330 );
            
            var tocount = new Date("<?php echo $ts1;?>");
            tocount.setMinutes( tocount.getMinutes() + 330 );
            
    var count = tocount - fromcount;
    
            var x = setInterval( function() { startTimer('demo-<?php echo $proId;?>',count,fromcount); }, 1000 );
            function startTimer(id,countDownDate,fromcount)
            {
               var now = new Date().getTime();
               var diff = now - fromcount;
               var distance = countDownDate - diff;        
               var days = Math.floor(distance / (1000 * 60 * 60 * 24));
               var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
               var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)); 
               var seconds = Math.floor((distance % (1000 * 60)) / 1000);
               if(days > 0){
                    document.getElementById("hour").innerHTML =hours + (24*days); 
               }else {
                    document.getElementById("hour").innerHTML =hours; 
            }
             document.getElementById("minute").innerHTML = minutes;  
             document.getElementById("second").innerHTML =seconds;  
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("deals-day").style.display = "none";
              } 


            }
      });

});
        </script>
		</div>
 <?php } } ?>
