<style>
.mySlides {display:none;}
.countdowntimer{display:none;}
.control-buttons-list{display:none;}
.deals-title{display:none;}
.div-main-specialprice{display:none;}
.container{padding-left:0px;padding-right:0px;}
.deals-line{height:37px;float:left;width:2px;border-left:1px solid #ccc;margin-top: 15px;}
.main-deals-clock{width:100%;}
</style>
<body>
<?php
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
  $mediaUrl =  $objectManager->get('Magento\Store\Model\StoreManagerInterface') 
  ->getStore()
  ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA); 
//$categoryId = 345; // fetching products in Deals of the Products category 
$categoryId = $block->getCatogeryId();
$categoryProducts = $block->getCategoryProducts($categoryId);
$categoryproductcount=count($categoryProducts);?>
<div class="container">
      <div class="row">
<?php
if($categoryproductcount > 0){ 
foreach ($categoryProducts as $product) {
	$proId = $product->getId(); 
        
  if($this->isCountdownEnabled2($proId) && $this->getPriceCountDown2($proId)){
  
   $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$singlesku = $product->getSku();
   $productRepository = $objectManager->create('Magento\Catalog\Api\ProductRepositoryInterface')->get($singlesku);
   $dealsIcon =  $productRepository->getDealsOfBannerImage();

   ?>
<div class="main-deals-clock">
<div class="container"> 
<div class="deals-top">  
<div class="deals-title"><h3><?php echo $block->getTitle(); ?></h3></div>   
<div class="deals-line"></div>
<div id="countdowntimer-<?php echo $proId;?>" class="countdowntimer"><span class="future_date" id="demo-<?php echo $proId;?>"><span></div> 
<div class="control-buttons-list"><button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button><button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div> 
</div>   
<div class="w3-content w3-display-container">
  <img class="mySlides"  src="<?php echo $mediaUrl."catalog/product".$dealsIcon ?>" width="280" height="320" />
 </div>
 <div class="div-main-specialprice"><span class="hm-price"><?php echo $abstractProductBlock->getProductPrice($product) ?></span></div>
</div>
</div>
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
  
  var j;
  var y = document.getElementsByClassName("countdowntimer");
  if (n > y.length) {slideIndex = 1}
  if (n < 1) {slideIndex = y.length}
  for (j = 0; j < y.length; j++) {
    y[j].style.display = "none";  
  }
  y[slideIndex-1].style.display = "block"; 
  
  
  var k;
  var q = document.getElementsByClassName("deals-title");
  if (n > q.length) {slideIndex = 1}
  if (n < 1) {slideIndex = q.length}
  for (k = 0; k < q.length; k++) {
    q[k].style.display = "none";  
  }
  q[slideIndex-1].style.display = "block"; 
  
  
  
  var h;
  var p = document.getElementsByClassName("div-main-specialprice");
  if (n > p.length) {slideIndex = 1}
  if (n < 1) {slideIndex = p.length}
  for (h = 0; h < p.length; h++) {
    p[h].style.display = "none";  
  }
  p[slideIndex-1].style.display = "block";



    var r;
  var s = document.getElementsByClassName("control-buttons-list");
  if (n > s.length) {slideIndex = 1}
  if (n < 1) {slideIndex = s.length}
  for (r = 0; r < s.length; r++) {
    s[r].style.display = "none";  
  }
  s[slideIndex-1].style.display = "block"; 
  
  
  
  var w;
  var v = document.getElementsByClassName("deals-top");
  if (n > v.length) {slideIndex = 1}
  if (n < 1) {slideIndex = v.length}
  for (w = 0; w < v.length; w++) {
    v[w].style.display = "none";  
  }
  v[slideIndex-1].style.display = "block";
  
  
  
  
}




</script>


<?php 
$ts1 = str_replace('-', '/', $this->getCountdownEndDate2($proId));
$ts2 = str_replace('-', '/', $this->getCountdownStartDate2($proId));
?>          
        <script>
          require(['jquery'], function ($) {
          $(document).ready(function() {
            var fromcount = new Date("<?php echo $ts2;?>");
            fromcount.setMinutes( fromcount.getMinutes() + 330 );
            var tocount = new Date("<?php echo $ts1;?>");
            tocount.setMinutes( tocount.getMinutes() + 330 );
            var count = tocount - fromcount;
            var x = setInterval( function() { startTimer('demo-<?php echo $proId;?>',count,fromcount); }, 1000 );
            function startTimer(id,countDownDate,fromcount)
            {
               var now = new Date().getTime();
               var diff = now - fromcount;
               var distance = countDownDate - diff;   
               var days = Math.floor(distance / (1000 * 60 * 60 * 24));
               var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
               var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)); 
               var seconds = Math.floor((distance % (1000 * 60)) / 1000);
			   var mutipledaysbyhrs = hours + (24*days); 
               var sigledaysbyhrs = hours; 
			   if(days > 0){
				 document.getElementById(id).innerHTML = "<div><h4>Sale Ends In</h4><span>" + mutipledaysbyhrs + ":</span><span>" 
				+ minutes + ":</span><span>" + seconds + "</span></div>";  
				
			   }else{
				document.getElementById(id).innerHTML = "<div><h4>Sale Ends In</h4><span>" + sigledaysbyhrs + ":</span><span>" 
				+ minutes + ":</span><span>" + seconds + "</span></div>";   
			   }
//            if (distance < 0) {
//                clearInterval(x);
//                document.getElementById("deals-day").style.display = "none";
//              } 


            }
      });


});

</script>
<?php } ?> 
<?php } }else { ?>
<div class="main-deals-clock">
<div class="container">
 <div class="w3-content w3-section">
<img class="mySlidesnew" src="https://www.w3schools.com/w3css/img_la.jpg" >
<img class="mySlidesnew" src="https://www.w3schools.com/w3css/img_ny.jpg" >
<img class="mySlidesnew" src="https://www.w3schools.com/w3css/img_chicago.jpg" >
</div>
</div>
</div>
<style>
.mySlidesnew{display:none;}
.w3-section .mySlidesnew{border-radius:8px;}
#static-slider .w3-section img{height:346px;}
</style>
<script>
var myIndex = 0;
carousel();

function carousel() {
	
  var ii;
  var result = document.getElementsByClassName("mySlidesnew");
  var element = document.getElementById("static-slider");
  element.classList.remove("dealsnew-block");
  var elementone = document.getElementById("static-slider");
  elementone.classList.remove("col-sm-6");
  for (ii = 0; ii < result.length; ii++) {
    result[ii].style.display = "none";  
  }
  myIndex++;
  if (myIndex > result.length) {myIndex = 1}    
  result[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
  
}
</script>

</div>
</div>

<?php } ?>






