/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2019-01-02 19:50:32 */

html, body { 
        font-family: DINPro-Regular;
}
.page-main {
}

@media (min-width: 768px){
    .page-header.type1, .page-header.type2, .page-header.type3, .page-header.type4,.page-header.type20, .page-header.type17, .page-header.type5, .page-header.type6,.page-header.type19, .page-header.type7,.page-header.type23, .page-header.type8 .header.content,.page-header.type8.header-newskin .header.content, .page-header.type9, .page-header.type10, .page-header.type11, .page-header.type12, .page-header.type15, .page-header.type16, .page-header.type2.header-newskin,.page-header.type18,.page-header.header-newskin {
        background-color: #222175;
    }
}
@media (min-width: 768px){
    .page-header.type1 .navigation li.level0, .page-header.type3 .navigation .level0 > .level-top, .page-header.type4 .navigation .level0 > .level-top,.page-header.type20 .navigation .level0 > .level-top,.page-header.type17 .navigation li.level0, .page-header.type5 .navigation .level0 > .level-top, .page-header.type2 .navigation .level0 > .level-top, .page-header.type11 .navigation li.level0 > .level-top, .page-header.type6 .navigation .level0 > .level-top,.page-header.type19 .navigation .level0 > .level-top, .page-header.type7 .navigation .level0 > .level-top,.page-header.type23 .navigation .level0 > .level-top, .page-header .drop-menu + .custom-menu-block a, .page-header.type8 .navigation .level0 > .level-top,.page-header.type8.header-newskin .navigation .level0 > .level-top, .page-header.type9 .navigation .level0 > .level-top, .page-header.type16 .navigation li.level0, .page-header.type2.header-newskin .navigation .level0 > .level-top, .page-header.type18 .navigation .level0 > .level-top, .page-header.header-newskin .navigation .level0 > .level-top{
        color: #1D2D3D;
    }
}
@media (min-width: 768px){
    .page-header.type1 .navigation li.level0.active, .page-header.type1 .navigation li.level0:hover, .page-header.type2 .navigation .level0:hover > .level-top, .page-header.type3 .navigation .level0:hover > .level-top, .page-header.type3 .navigation .level0.active > .level-top, .page-header.type3 .navigation .level0.has-active > .level-top, .page-header.type4 .navigation .level0:hover > .level-top, .page-header.type4 .navigation .level0.active > .level-top, .page-header.type4 .navigation .level0.has-active > .level-top,.page-header.type20 .navigation .level0:hover > .level-top, .page-header.type20 .navigation .level0.active > .level-top, .page-header.type20 .navigation .level0.has-active > .level-top,.page-header.type17 .navigation .level0:hover > .level-top, .page-header.type17 .navigation .level0.active > .level-top, .page-header.type17 .navigation .level0.has-active > .level-top, .page-header.type5 .navigation .level0:hover > .level-top, .page-header.type5 .navigation .level0.active > .level-top, .page-header.type5 .navigation .level0.has-active > .level-top, .page-header.type6 .navigation .level0:hover > .level-top, .page-header.type6 .navigation .level0.active > .level-top, .page-header.type6 .navigation .level0.has-active > .level-top,----.page-header.type19 .navigation .level0:hover > .level-top, .page-header.type19 .navigation .level0.active > .level-top, .page-header.type19 .navigation .level0.has-active > .level-top, .page-header.type7 .navigation .level0:hover > .level-top, .page-header.type7 .navigation .level0.active > .level-top, .page-header.type7 .navigation .level0.has-active > .level-top,.page-header.type23 .navigation .level0:hover > .level-top, .page-header.type23 .navigation .level0.active > .level-top, .page-header.type23 .navigation .level0.has-active > .level-top, .page-header.type8 .navigation .level0:hover > .level-top, .page-header.type8 .navigation .level0.active > .level-top, .page-header.type8 .navigation .level0.has-active > .level-top,.page-header.type8.header-newskin .navigation .level0:hover > .level-top, .page-header.type8.header-newskin .navigation .level0.active > .level-top, .page-header.type8.header-newskin .navigation .level0.has-active > .level-top, .page-header.type11 .navigation li.level0:hover, .page-header.type11 .navigation li.level0.active, .page-header.type11 .navigation li.level0.has-active, .page-header.type9 .navigation .level0:hover > .level-top, .page-header.type9 .navigation .level0.active > .level-top, .page-header.type9 .navigation .level0.has-active > .level-top, .page-header.type16 .navigation .level0:hover > .level-top ,.page-header.type2.header-newskin .navigation .level0:hover > .level-top,.page-header.type18 .navigation .level0:hover > .level-top, .page-header.header-newskin .navigation .level0:hover > .level-top {
        color: #1D2D3D;
    }
}
@media (min-width: 768px){
    .navigation .level0 .submenu, .sw-megamenu.navigation li.level0.classic .subchildmenu .subchildmenu {
        background-color: #FFFFFF;
    }
}
@media (min-width: 768px){
    .navigation .level0 .submenu a {
        color: #6D6E70;
    }
}
@media (min-width: 768px){
    .navigation .level0 .submenu a:hover, .navigation .level0 .submenu a.ui-state-focus {
        color: #6D6E70;
    }
}
@media (min-width: 768px){
    .sw-megamenu.navigation li.level0.fullwidth > .submenu a, .sw-megamenu.navigation li.level0.staticwidth > .submenu a {
        color: #6D6E70;
    }
}
@media (min-width: 768px){
    .page-header.type1 .block-search input, .page-header.type2 .block-search input, .page-header.type8 .block-search input,.page-header.type8.header-newskin .block-search input, .page-header.type11 .block-search input, .page-header.type16 .block-search input, .page-header.type2.header-newskin .block-search input, .page-header.type18 .block-search input {
        background-color: #FFFFFF;
    }
}
@media (min-width: 768px){
    .page-header.type1 .block-search input, .page-header.type2 .block-search input, .page-header.type1 .block-search .action.search:before, .page-header.type1 .block-search .action.search:hover:before, .page-header.type2 .block-search .action.search:before, .page-header.type2 .block-search .action.search:hover:before, .page-header.type8 .block-search input, .page-header.type8 .block-search .action.search:before, .page-header.type8 .block-search .action.search:hover:before,.page-header.type8.header-newskin .block-search input, .page-header.type8.header-newskin .block-search .action.search:before, .page-header.type8.header-newskin .block-search .action.search:hover:before, .page-header.type11 .block-search input, .page-header.type11 .block-search .action.search:before, .page-header.type11 .block-search .action.search:hover:before, .page-header.type12:not(.sticky-header) .header.panel .block-search input  {
        color: #999999;
    }
}
@media (min-width: 768px){
    .page-header.type1 .block-search input, .page-header.type1 .block-search .action.search, .page-header.type2 .block-search input, .page-header.type2 .block-search .action.search, .page-header.type8 .block-search input, .page-header.type8 .block-search .action.search,.page-header.type8.header-newskin .block-search input, .page-header.type8.header-newskin .block-search .action.search, .page-header.type11 .block-search input, .page-header.type11 .block-search .action.search, .page-header.type12:not(.sticky-header) .header.panel .block-search input {
        border-color: #999999;
    }
}
