<?php
/**
 * @var \Cminds\TrueEditOrder\Block\Adminhtml\Items\Column\Name $block
 */
?>
<?php if ($item = $block->getItem()): ?>
    <div id="order_item_<?= /* @escapeNotVerified */ $item->getId() ?>_title"
         class="product-title">
        <?= $block->escapeHtml($item->getName()) ?>
    </div>
    <div class="edited-fields">
        <input id="item_custom_name_<?= /* @escapeNotVerified */ $item->getId() ?>"
               name="item[<?= /* @escapeNotVerified */ $item->getId() ?>][name]"
               value="<?php echo $block->escapeHtml($item->getName()); ?>"
               class="input-text item-price admin__control-text"/>
    </div>

    <div class="product-sku-block">
        <span><?= /* @escapeNotVerified */ __('SKU') ?>:</span> <?= implode('<br />', $this->helper('Magento\Catalog\Helper\Data')->splitSku($block->escapeHtml($block->getSku()))) ?>
    </div>
   <?php
      $sku = $item->getSku();
      $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
      $productRepository = $objectManager->create('Magento\Catalog\Api\ProductRepositoryInterface');
      try {
        $product = $productRepository->get($sku);
    ?>
   <div class="product-sku-block">
    <span>Display Size:</span> <?php echo $product->getDisplayPackSize();  ?>
   </div>
   <div class="product-sku-block">
    <span>Ucode ID:</span> <?php echo $product->getUcodeId();  ?>
   </div>
    <div class="product-sku-block" style="width:170%;">
		<span><strong>SKU Rules :</strong></span> 
	   <?php if ($item->getProduct()->getApplyCatalogRules() && $item->getProduct()->getApplyCatalogRules() != ''){ 
				echo "Yes"; 
		   }else{ 
				echo "No";
		} ?>
    </div>
      <?php } catch (\Magento\Framework\Exception\NoSuchEntityException $e){
        $product = false;
    } ?>
    <?php if ($block->getOrderOptions()): ?>
        <dl class="item-options">
            <?php foreach ($block->getOrderOptions() as $option): ?>
                <dt><?= /* @escapeNotVerified */ $option['label'] ?>:</dt>
                <dd>
                    <?php if (isset($option['custom_view']) && $option['custom_view']): ?>
                        <?= /* @escapeNotVerified */ $block->getCustomizedOptionValue($option) ?>
                    <?php else: ?>
                        <?php $option = $block->getFormattedOption($option['value']); ?>
                        <?= /* @escapeNotVerified */ $option['value'] ?><?php if (isset($option['remainder']) && $option['remainder']): ?><span id="<?= /* @escapeNotVerified */ $dots = 'dots' . uniqid() ?>"> ...</span><span id="<?= /* @escapeNotVerified */ $id = 'id' . uniqid() ?>"><?= /* @escapeNotVerified */ $option['remainder'] ?></span>
                            <script>
                                require(['prototype'], function() {
                                    $('<?= /* @escapeNotVerified */ $id ?>').hide();
                                    $('<?= /* @escapeNotVerified */ $id ?>').up().observe('mouseover', function(){$('<?= /* @escapeNotVerified */ $id ?>').show();});
                                    $('<?= /* @escapeNotVerified */ $id ?>').up().observe('mouseover', function(){$('<?= /* @escapeNotVerified */ $dots ?>').hide();});
                                    $('<?= /* @escapeNotVerified */ $id ?>').up().observe('mouseout',  function(){$('<?= /* @escapeNotVerified */ $id ?>').hide();});
                                    $('<?= /* @escapeNotVerified */ $id ?>').up().observe('mouseout',  function(){$('<?= /* @escapeNotVerified */ $dots ?>').show();});
                                });
                            </script>
                        <?php endif; ?>
                    <?php endif; ?>
                </dd>
            <?php endforeach; ?>
        </dl>
        <div class="product-configure-block edited-fields">
            <?= $block->getConfigureButtonHtml($item) ?>
        </div>
    <?php endif; ?>
    <?= $block->escapeHtml($item->getDescription()) ?>
    <div class="edited-fields">
        <input id="item_custom_description_<?= /* @escapeNotVerified */ $item->getId() ?>"
               name="item[<?= /* @escapeNotVerified */ $item->getId() ?>][description]"
               value="<?php echo $block->escapeHtml($item->getDescription()); ?>"
               class="input-text item-price admin__control-text"
               placeholder="<?php echo __('Description'); ?>"/>
    </div>
<?php endif; ?>
