<?php
/** @var \Cminds\TrueEditOrder\Block\Adminhtml\Items\Price\Renderer $block */

/** @var $weeeHelper \Magento\Weee\Helper\Data */
$weeeHelper = $this->helper('Magento\Weee\Helper\Data');

$item = $block->getItem();
?>
<?php if ($block->displayBothPrices() || $block->displayPriceExclTax()): ?>
    <div class="price-excl-tax" class="original-fields">
        <?php if ($block->displayBothPrices()): ?>
            <span class="label"><?= /* @escapeNotVerified */ __('Excl. Tax') ?>:</span>
        <?php endif; ?>

        <?= $block->getUnitPriceExclTaxHtml() ?>

        <?php if ($this->helper('Magento\Weee\Helper\Data')->getApplied($item)): ?>
            <br />
            <?php if ($block->displayPriceWithWeeeDetails()): ?>
                <small>
                    <?php foreach ($this->helper('Magento\Weee\Helper\Data')->getApplied($item) as $tax): ?>
                        <span class="nobr"><?= /* @escapeNotVerified */ $tax['title'] ?>: <?= /* @escapeNotVerified */ $block->displayPrices($tax['base_amount'], $tax['amount']) ?></span>
                    <?php endforeach; ?>
                </small>
            <?php endif; ?>

            <?php if ($block->displayFinalPrice()): ?>
                <br />
                <span class="nobr"><?= /* @escapeNotVerified */ __('Total') ?>:<br />
                    <?= $block->getFinalUnitPriceExclTaxHtml() ?>
                </span>
            <?php endif; ?>
        <?php endif; ?>
    </div>
<?php endif; ?>
<?php if ($block->displayBothPrices() || $block->displayPriceInclTax()): ?>
    <div class="price-incl-tax" class="original-fields">
        <?php if ($block->displayBothPrices()): ?>
            <span class="label"><?= /* @escapeNotVerified */ __('Incl. Tax') ?>:</span>
        <?php endif; ?>
        <?= $block->getUnitPriceInclTaxHtml() ?>

        <?php if ($this->helper('Magento\Weee\Helper\Data')->getApplied($item)): ?>
            <br />
            <?php if ($block->displayPriceWithWeeeDetails()): ?>
                <small>
                    <?php foreach ($this->helper('Magento\Weee\Helper\Data')->getApplied($item) as $tax): ?>
                        <span class="nobr"><?= /* @escapeNotVerified */ $tax['title'] ?>: <?= /* @escapeNotVerified */ $block->displayPrices($tax['base_amount_incl_tax'], $tax['amount_incl_tax']) ?></span>
                    <?php endforeach; ?>
                </small>
            <?php endif; ?>

            <?php if ($block->displayFinalPrice()): ?>
                <br />
                <span class="nobr"><?= /* @escapeNotVerified */ __('Total') ?>:<br />
                    <?= $block->getFinalUnitPriceInclTaxHtml() ?>
                </span>
            <?php endif; ?>
        <?php endif; ?>
    </div>
<?php endif; ?>
<?php $_isCustomPrice = $block->usedCustomPriceForItem($item); ?>
<div class="custom-price-block edited-fields">
    <input type="checkbox"
           class="admin__control-checkbox"
           id="item_use_custom_price_<?= /* @escapeNotVerified */ $item->getId() ?>"
        <?php if ($_isCustomPrice): ?> checked="checked"<?php endif; ?>
           onclick="order.toggleCustomPrice(this, 'item_custom_price_<?= /* @escapeNotVerified */ $item->getId() ?>', 'item_tier_block_<?= /* @escapeNotVerified */ $item->getId() ?>');"/>
    <label
            class="normal admin__field-label"
            for="item_use_custom_price_<?= /* @escapeNotVerified */ $item->getId() ?>">
        <span><?= /* @escapeNotVerified */ __('Custom Price') ?>*</span></label>
</div>
<div class="edited-fields">
    <input id="item_custom_price_<?= /* @escapeNotVerified */ $item->getId() ?>"
           name="item[<?= /* @escapeNotVerified */ $item->getId() ?>][custom_price]"
           value="<?php /* @escapeNotVerified */ echo sprintf("%.2f", $block->getUnitPriceExclTax()) ?>"
            <?php if (!$_isCustomPrice): ?>
                style="display:none"
                disabled="disabled"
            <?php endif; ?>
           class="input-text item-price admin__control-text"/>
</div>

