section.trueeditorder-section .admin__page-section-title span.title {
    line-height: 33px;
}

section.trueeditorder-section .admin__page-section-title button {
    float: right;
}

section.trueeditorder-section .order-search-items .admin__page-section-title .actions {
    float: right;
}

div.trueeditorder-order-notes-actions > span {
    border-left: 1px solid #a6a6a6;
    padding: 0 1rem;
}

div.trueeditorder-order-notes-actions > span:first-child {
    border-left: 0;
    padding-left: 0;
}

.right {
    float: right;
}

#cminds-trueeditorder-edititems-button,
#cminds-trueeditorder-cancel-edititems-button {
    margin-left: 5px;
}

.edited-fields {
    display: none;
}

.sales-order-view .modal-popup {
	max-width: 800px;
	margin: auto;
}
.sales-order-view .modal-header {
	background: #555;
	padding: 20px 5rem;
}
.sales-order-view .modal-slide .modal-title {
	font-size: 1.8rem;
	color: #fff;
}
.sales-order-view .modal-slide .action-close {
	padding: 2.0rem 2.0rem;
	color: #fff;
}
.sales-order-view .modal-popup .modal-content {
	padding-left: 5rem;
	padding-right: 5rem;
}
.sales-order-view .modal-popup .action-close::before,
.sales-order-view .modal-slide .action-close::before {
	font-size: 1.8rem;
}
.sales-order-view .modal-popup .action-close:hover::before,
.sales-order-view .modal-slide .action-close:hover::before {
	color: #fff;
}
.sales-order-view .modal-popup._inner-scroll .modal-content {
	overflow-y: auto;
	padding-top: 3rem;
}
.sales-order-view .popup-matter input[type="checkbox"] {
	float: left;
	margin: 2px 10px 0 0;
}
.sales-order-view .modal-popup textarea {
	overflow: auto;
	max-width: 100%;
	min-height: 100px;
	margin-bottom: 15px;
	width: 100%;
}
.sales-order-view .modal-slide._inner-scroll .modal-footer {
	margin-top: auto;
	display: none;
}
.sales-order-view .popup-matter {
	clear: both;
	display: flex;
	margin-bottom: 15px;
}
.qc-pass {
	background: #faa74a;
	border: 0;
	color: #fff;
	border-radius: 5px;
	width: 40%;
	height: 40px;
}
.qc-pass:hover {
	background: #faa74a;
}
.qc-fail {
	background: #999;
	border: 0;
	color: #fff;
	border-radius: 5px;
	width: 40%;
	float: right;
	height: 40px;
}
.qc-fail:hover {
	background: #999;
}
.sales-order-view .modal-popup.confirm._show .modal-header {
	background: #fff;
	padding-bottom: 1.2rem;
	padding-top: 3rem;
}
.sales-order-view .modal-popup.confirm._show .action-close {
	padding: 1.2rem;
}
.sales-order-view .modal-popup.confirm._show .action-close:hover::before {
	color: #736963;
}

