<?php
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
?>
<?php /* @var $block \I95Dev\S3\Block\System\Config\Validation */ ?>


<?php echo $block->getButtonHtml() ?>
<span class="collect-indicator" id="collect_span">
    <img class="processing" hidden="hidden" alt="Collecting" style="margin:0 5px" src="<?php echo $block->getViewFileUrl('images/process_spinner.gif') ?>"/>
    <img class="collected" hidden="hidden" alt="Collected" style="margin:-3px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_apply.gif') ?>"/>
    <img class="failed" hidden="hidden" alt="Failed" style="margin:-1px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_remove.gif') ?>"/>
    <span id="collect_message_span"></span>
</span>

<script>
    require([
        'jquery',
        'prototype'
    ], function(jQuery) {

        var collectSpan = jQuery('#collect_span');

        jQuery('#validation').click(function() {
            jQuery.ajax({
                url: '<?php echo $block->getAjaxUrl() ?>',
                async: true,
                loaderArea: true,
                showLoader: true,
                success: function(responseData) {
                    var response = jQuery.parseJSON(responseData);
                    var resultText = '';
                    if (response.status === "success") {
                        resultText = 'Bucket Available';
                        collectSpan.find('.collected').show().delay(2000).fadeOut();
                        collectSpan.find('#collect_message_span').text(resultText).show().delay(2000).fadeOut();
                        collectSpan.find('.failed').hide();
                    } else {
                        resultText = 'Bucket Not Available';
                        collectSpan.find('.collected').hide();
                        collectSpan.find('.failed').show().delay(2000).fadeOut();
                        collectSpan.find('#collect_message_span').text(resultText).show().delay(2000).fadeOut();
                    }
                }
            });
        });

    });
</script>
