@font-face {
  font-family: 'DINPro';
  src: url('DINPro.eot');
  src: url('DINPro.woff2') format('woff2'),
       url('DINPro.woff') format('woff'),
       url('DINPro.ttf') format('truetype'),
       url('DINPro.svg#DINPro') format('svg'),
       url('DINPro.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-CondensedRegular';
  src: url('DINPro-CondensedRegular.eot');
  src: url('DINPro-CondensedRegular.woff2') format('woff2'),
       url('DINPro-CondensedRegular.woff') format('woff'),
       url('DINPro-CondensedRegular.ttf') format('truetype'),
       url('DINPro-CondensedRegular.svg#DINPro-CondensedRegular') format('svg'),
       url('DINPro-CondensedRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('DINPro-Bold.eot');
  src: url('DINPro-Bold.woff2') format('woff2'),
       url('DINPro-Bold.woff') format('woff'),
       url('DINPro-Bold.ttf') format('truetype'),
       url('DINPro-Bold.svg#DINPro-Bold') format('svg'),
       url('DINPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINPro-Light';
  src: url('DINPro-Light.eot');
  src: url('DINPro-Light.woff2') format('woff2'),
       url('DINPro-Light.woff') format('woff'),
       url('DINPro-Light.ttf') format('truetype'),
       url('DINPro-Light.svg#DINPro-Light') format('svg'),
       url('DINPro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('DINPro-Medium.eot');
  src: url('DINPro-Medium.woff2') format('woff2'),
       url('DINPro-Medium.woff') format('woff'),
       url('DINPro-Medium.ttf') format('truetype'),
       url('DINPro-Medium.svg#DINPro-Medium') format('svg'),
       url('DINPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('DINPro-Regular.eot');
  src: url('DINPro-Regular.woff2') format('woff2'),
       url('DINPro-Regular.woff') format('woff'),
       url('DINPro-Regular.ttf') format('truetype'),
       url('DINPro-Regular.svg#DINPro-Regular') format('svg'),
       url('DINPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Black';
  src: url('DINPro-Black.eot');
  src: url('DINPro-Black.woff2') format('woff2'),
       url('DINPro-Black.woff') format('woff'),
       url('DINPro-Black.ttf') format('truetype'),
       url('DINPro-Black.svg#DINPro-Black') format('svg'),
       url('DINPro-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
