<?php if (!$block->isPro()) : /* only if Cron Scheduler Pro is not installed */ ?>
    <div class="message message-notice notice" style="padding: 3px 5px 3px 45px;background: none; width:400px">
        <div data-ui-id="messages-message-notice">
            <a target="_blank" href="https://www.wyomind.com/magento2/cron-scheduler-pro-magento.html"><?php echo __("Upgrade to <b>Cron Scheduler Pro</b>"); ?></a>
        </div>  
    </div>
<?php endif;