<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>
<div class="zoylo-app">
    <a href="https://app.appsflyer.com/com.zoylo.com?pid=web" target="_blank">Download App</a>
    <span>
    Use code <strong>ZMED25</strong> to get 25% Off on medicines.  
    </span>
</div>
<label class="icon mobile-menu" for="mitem-amp-navigation"></label> 
