<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2016-2018 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>

<?php
    $helperAmp = $this->helper('Plumrocket\Amp\Helper\Data');
    $helperCart = $this->helper('Magento\Checkout\Helper\Cart');
    // Magento FPC will cache cart count
    // If add attribute "cacheable", all page be uncacheable
    // $cartSummaryQty = $block->getCartSummaryCount();
    $cartSummaryQty = null;
    $searchMode = !$helperAmp->isEnabledHeaderSearch() ? 'icon' : 'form';
    $searchMode = $this->helper('Plumrocket\Amp\Helper\Data')->isSearchEnabled()
        ? $searchMode
        : false;
?>
<div class="right-top-btn">
    
    <?php if ($searchMode == 'icon') : ?>    
        <a href="<?php echo $this->getUrl("pramp/search/index", ['amp' => 1]) ?>" class="icon search-icon"></a>
    <?php endif; ?>
    <?php echo $block->getChildHtml('amp-authorization-link-login') ?>
    <?php ?><a href="<?php echo $helperCart->getCartUrl() ?>" class="icon cart">
        <?php if ($cartSummaryQty) : ?>
            <span id="cart-summary-qty" class="count"><?php echo $cartSummaryQty ?></span>
        <?php endif; ?> 
    </a>
    <?php ?>
</div>

<?php if ($searchMode == 'form') : ?>
    <?php  echo $block->getChildHtml('amp_catalogsearch_form') ?>
<?php endif; ?>
