<?php $regionList = $block->getRegion(); ?>
<head><style type="text/css">
ul.ui-autocomplete { max-height: 400px;overflow-y: scroll;padding:10px  5px;width:30%;}
ul.ui-autocomplete li{padding:10px  5px;}#newcustomer_details{width:100%;display:none}#newcustomer_details .field1{width:100%;padding:10px}#newcustomer_details .field1 label{padding:10px;width:100%;color:#000}#newcustomer_details .field1 input[type=text], #newcustomer_details .field1 input[type=email], #newcustomer_details .field1 select{border-bottom:2px solid #faa74a;height:30px}th.email-text{line-height:33px;width:20%}.customer_email{width:55%;float:left;height:auto;color:red;}.customer_email input.mobile-info{height:auto;border-radius:3px;border:1px solid #ccc;width:350px}.removerow a{background:#ea8008;border-radius:100%;color:#fff;height:30px;width:30px;display:table;text-align:center;line-height:28px;font-size:15px;font-weight:900}.quick-order-submit,span.addnewrow{background-color:#faa74a;float:right}span.addnewrow{padding:10px 36px;-moz-border-radius:2px;margin:10px 0 10px 10px}span.addnewrow a{color:#fff}.quick-order-submit{border:0;text-align:center;color:#fff;font-size:13px;padding:10px 25px;text-transform:uppercase;-webkit-border-radius:2px;-moz-border-radius:2px;margin-top:10px}.skucontainer{width:100%;display:table;border:1px solid #ccc}.skucontainer tr th{background:#ccc;color:#000}.skucontainer tr td{color:#000}.skucontainer tr td .qty{width:60px;height:40px;border-radius:3px;border:1px solid #ccc}.skucontainer tr td .skusearch{width:80%;height:40px;border-radius:3px;border:1px solid #ccc}
input.file-upload {margin-top:8px;}</style></head>

<form action="https://www.zoylo.com/medicines/adminorder/index/createorder" method="post" id='cart-form'  enctype="multipart/form-data">
    <table class="quicl-order-header">
        <tr>
            <th class="email-text">Customer Mobile Number:</th>
            <td class="customer_email">        
                <input type="number" name="mobile" id="mobile" class="mobile-info" value="" required>                  
            </td>
        </tr>
        <tr id="newcustomer_details">
            <td><div class="field1"><label>Name</label><input type="text" name="name" class="name" id="name" placeholder="Enter Name"  ></div></td>
            <td><div class="field1"><label>Email</label><input type="email" name="emailnew" class="emailnew" id="emailnew" placeholder="Enter Email"  ></div></td>
            <td><div class="field1"><label>City</label><input type="text" name="city" class="city" id="city" placeholder="Enter City"  ></div></td>
            <td><div class="field country field1 ">
                    <label class="label" for="region"><span><?php echo __('Region') ?></span></label>
                    <div class="control">
                        <?php echo $regionList ?>
                    </div>
                </div></td>
            <td><div class="field1"><label>Pincode</label><input type="text" name="pincode" class="pincode" id="pincode" placeholder="Enter Pincode"  ></div></td>
        </tr>
    </table>

    <div class="quickorderdiv">

        <table class="skucontainer">
            <tr>
                <th><span class="sku">Name:</span></th>
                <th><span class="qty">Qty: </span></th>
                <th><span class="price">Price: </span></th>
                <th><span class="action">Action: </span></th>
            </tr>
            <tr class='quicksku'>
                <td>
                    <input type='text' id='skuname-0' class="skusearch"  name="sku[]" incrimetnId="0">
                    <input type='hidden' id='productId-0'  name="productId[]" value="">
                </td>
                <td><input type="text" id='qty' name="qty[]" class="qty" required></td>
                <td><span id='price-0' name="price-0" class="price"></span></td>
            </tr>
        </table>
        <span class="addnewrow"><a href="#">+ ADD ITEM</a></span>

        <input class="file-upload" type="file" multiple ="multiple" name="pic[]"/>
        <input class="quick-order-submit" type="submit" value="Place Order">
        Comments:<textarea rows="4" cols="50" placeholder="comments"></textarea>
    </div>
</form>
<!---mobile data post start-->
<script type="text/javascript">
    require([
        'jquery', 'jquery/ui'
    ], function ($) {
        var mobilenumber = $('#mobile').val();
        $(document).ready(function () {
            $('#mobile').blur(function () {
                var mobile = $('#mobile').val();
                $('#newcustomer_details').hide();
                $.ajax({
                    url: "https://www.zoylo.com/medicines/adminorder/index/mobilevalidate",
                    type: 'POST',
                    dataType: 'json',
                    data: {"mobile": mobile},
                    success: function (result) {
                        console.log(result.success);
                        if (result.success === 'false') {
                            if (mobile) {
                                $('#newcustomer_details').show();
                            }
							$('#invalidmobile').html("Mobile Numer Doesn't Exist");
                            $('#newcustomer_details .field1 select').val('');
                            $('#newcustomer_details .field1 input[type="text"],#newcustomer_details .field1 input[type="email"]').val('');
                        }else{
							$('#invalidmobile').hide();
						}
                     }
                });
            });
        });
    });
</script>
<script type="text/javascript">
    require([
        'jquery', 'jquery/ui'
    ], function ($) {
        $(document).ready(function () {
            $(document).on('blur', ".skusearch", function () {
                // var skuname = $('#skuname').val();
                var incrimetnId = $(this).attr("incrimetnId");
                console.log(incrimetnId);
                var skuname = $('#skuname-'+incrimetnId).val();
                console.log(skuname);
                $.ajax({
                    url: "https://www.zoylo.com/medicines/adminorder/index/pricedata",
                    type: 'POST',
                    dataType: 'json',
                    data: {"skuname": skuname},
                    success: function (result) {
                        console.log(result.price);
                        $('#price-'+incrimetnId).html(result.price);
                        $('#productId-'+incrimetnId).val = result.id;


                    }
                });
            });
        });


    });

</script>
<!---sku_name data post end-->
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$collection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$collection->addAttributeToSelect('*')->load();
foreach ($collection as $products) {
    $names[] = $products->getName();
}
//json_encode($names);
$sku_col_json = json_encode($names);
?>
<script type="text/javascript">
    require([
        'jquery', 'jquery/ui'
    ], function ($) {
        var j = 0;
        jQuery(document).on('click', '.addnewrow', function () {
            j++;
            $(".skucontainer").append(
                    '<tr class="quicksku">'
                    + '<td>'
                    + '<input type="text" id="skuname-' + j + '" name="sku[]" class="skusearch" incrimetnId="' + j + '" required>'
                    + ' <span id="searchresults-' + j + '"></span>'
                    + '</td>'
                    + '<td><input type="text" id="qty' + j + '" name="qty[]" class="qty" required ></td>'
                    + '<td><span id="price-' + j + '" name="price-0" class="price"></span></td>'
                    + '<td><span class="removerow" id="remove_' + j + '"><a href="#"><i class="fa fa-times"></i></a></span></td>'
                    + '</tr><input type="hidden" id="productId-'+j+'"  name="productId[]">'
                    );
        });
        $(document).on("click", ".removerow", function () {
            $(this).closest('tr').remove();
        });
        $(document).ready(function () {
            $(document).on('keyup', ".skusearch", function () {
                   var availableTags = <?= $sku_col_json; ?>;
                $(".skusearch").autocomplete({
                    autoFocus: true,
                    source: availableTags,
                    minLength: 3
                });

            });

        });
    });
</script>