<h3>{{trans "Search Tips"}}</h3>
<ul>
    <li>{{trans "Double check your spelling."}}</li>
    <li>{{trans "Try using single words."}}</li>
    <li>{{trans "Try searching for an item that is less specific."}}</li>
    <li>{{trans "You can always narrow your search results later"}}</li>
</ul>