<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<?php  
// get Customer id from Session
$helper = $this->helper('I95Dev\UploadPrescription\Helper\Data');
if ($helper->isLoggedIn()) {
	$customerid = $helper->getLoggedinCustomerIds();
	// get Customer Prescriptions
	$blockObj = $block->getLayout()->createBlock('I95Dev\UploadPrescription\Block\Index\Index');
	$collection = $blockObj->getPrescriptions($customerid);
if($collection && count($collection))
{
?>
<table>
    <thead>
        <tr>
            <th scope="col" class="col id"><?php echo __('ID #') ?></th>
            <th scope="col" class="col name"><?php echo __('Name') ?></th>
            <th scope="col" class="col prescription"><?php echo __('Prescription') ?></th>
			<th scope="col" class="col prescription"><?php echo __('Action') ?></th>
            <th scope="col" class="col ">&nbsp;</th>
        </tr>
    </thead>
	<?php $i =1;
		foreach ($collection as $item) 
		{
	?>
		<tr>
			<td><?php echo $i; $i++;?></td>
			<td><?php echo $item->getData('prescription_name'); ?></td>
			<td><img alt="<?php echo $item->getPrescriptionId(); ?>" width="80" height="50" src="<?php echo $item->getValue(); ?>"/></td>
			<td><a href="<?php echo $item->getData('value'); ?>" target="_blank"> View </a>/<a id="download" href="<?php echo $item->getData('value'); ?>" download="<?php echo $item->getData('prescription_name'); ?>"> Download </a></td>
		</tr>
	<?php } ?>
</table>
<?php } }  ?>
