<?php 
// get base url
$baseurl = $this->helper('I95Dev\UploadPrescription\Helper\Data');
$url = $baseurl->getBaseUrl();
?>

<?php
// get selected prescriptions
  if (isset($_POST['checkboxvar'])) {
   foreach($_POST['checkboxvar'] as $check) {
    $resultstr[] = $check;
  }
}
if (isset($resultstr)) {
	$total_files = count($resultstr);
}else{
	$total_files = "No";
}
$blockObjs = $block->getLayout()->createBlock('I95Dev\UploadPrescription\Block\Index\Specify');

if (!empty($resultstr)) {
 $blockObjs->setMyValue(implode(",", $resultstr));
}

// get Customer id from Session
$objmanager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objmanager->create('Magento\Customer\Model\Session');

if($customerSession->isLoggedIn()) {
	$customerid = $customerSession->getCustomer()->getId();
	// get Customer Prescriptions
	$blockObj = $block->getLayout()->createBlock('I95Dev\UploadPrescription\Block\Index\Index');
	if (isset($resultstr)) {
   $collection = $blockObj->getSelectedPrescriptions($customerid, $resultstr);
 }
 ?>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <form action="<?php echo $block->getUrl('checkout', ['_secure' => true]);?>" method="post" id="add_name" name="add_name">  
  <div class="container-fluid main-specify-block">
      <div class="container height100">
    <div class="row">
    <div class="col-sm-12 col-md-8 order-2 order-md-1">  
      <div class="row">
        <div class="col-sm-12">	
         <div class="specify-prescription-list"> 
          <p class="selected-items">[ <?php echo $total_files; ?> Selected Prescriptions ]  <a href="javascript:history.back()" class="add-remove">Add/Remove</a> </p>   
          <div class="card-list">
            <div class="card-list-overflow">
            <input type="hidden" name="prescription_values" value="<?php echo $blockObj->getMyValue(); ?>"> 
            <input type="hidden" name="onlyuploadflow" value="1">
            <?php	if(isset($collection)) { 
             foreach ($collection as $item) 
             {
              ?>	<label class="containerbox">
               <div class="card plain-card">
                <div class="card-body"> 
                 <div class="presc-main-content">
                   <div class="presc-image">
                     <?php
                     $filepath = $item->getValue();
                     $needle = ".pdf";
                     if (strpos($filepath, $needle) !== false) { ?>
                      <iframe width="50" height="50" src="<?php echo $item->getValue(); ?>" ></iframe>
                    <?php } else { ?>
                      <img alt="<?php echo $item->getData('customer_name'); ?>" width="50" height="50" src="<?php echo $item->getValue(); ?>"/>
                    <?php } ?>
                  </div>
                  <div class="checkbox-container">
                   <div class="custom-checkbox">
                    <input type="checkbox" name="checkboxvar[]" class="case" value="<?php
                    echo $item->getPrescriptionId(); ?>" <?php if(in_array($item->getPrescriptionId(), $resultstr)){echo "checked";}?>>
                    <span class="checkmark"></span>
                  </div>
                </div>
                <div class="presc-details">
                  <p class="font14"><?php echo $item->getData('customer_name'); ?></p>
                </div>
              </div>

            </div>
          </div>	
        </label>
      <?php }  } else {
       $redirect = $objmanager->get('\Magento\Framework\App\Response\Http');
       $redirect->setRedirect($this->getBaseUrl().'uploadprescription/index/index');
     } ?>	
     </div>  	
   </div>     
 </div>

</div>


<div class="col-sm-12"> 
  <div class="choose-options-container">
    <p class="choose-options">Choose options</p>
    <!-- -->
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <button class="btn btn-options" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span class="radio-icon"></span>Order all medicines as per the prescription
          </button> 

        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <ul>

              <li><label>Comments <small>(Optional)</small></label> <textarea name="order_comment" class="tabs-textarea-design" placeholder=" e.g. I want all medicines except Crocin"></textarea></li>
            </ul>

          </div>
        </div>
      </div>
      <div class="card specify-medicines"> 
        <div class="card-header" id="headingTwo">

          <button class="btn btn-options collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span class="radio-icon"></span>Specify Medicines from the Prescription
          </button>

        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="form-group">  
             <div class="table-responsive">  
               <table class="table table-bordered dynamic_field" id="dynamic_field">  
                <thead>
                 <tr>
                  <th>Medicine Name</th>    
                  <th>Quantity (Tablets)</th> 
                </tr>
              </thead>
              <tbody>
               <tr>                                        
                 <td class="medicine-name"><input type="text" name="medicine_name[]" placeholder="Enter Medicine Name" class="form-control name_list" /></td>
                 <td class="medicine-qty"> <input type="text" name="medicine_qty[]" placeholder="Qty" class="form-control name_list" /></td>  
               </tr> 
             </tbody> 
             <tfoot>
              <td class="add-all-button"><button type="button" name="add" id="add" class="specify-add-more">Add medicine name</button></td> 
              <td class="add-all-button">&nbsp;</td> 
            </tfoot>
          </table>  
        </div>  
      </div> 
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header" id="headingThree">

    <button class="btn btn-options collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> 
     <span class="radio-icon"></span>Call me for Details  
   </button>

 </div>
 <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
  <div class="card-body">
    <span class="callback">Our Executive will call you shortly..</span> 
  </div>
</div>
</div>
<!-- -->
<h3>Include lab tests from the Prescription

  <div class="prescription-checkbox-container">
    <input id="prescription-checkbox" type="checkbox" name="specify" value="1" style="display:none"/>
    <label for="prescription-checkbox" class="toggle"><span></span></label>    
  </div>
</h3>
<!-- -->
</div>

<!-- -->


<p class="upload-proceed"> 
  <input type="submit" name="submit" id="submit" class="btn upload-btn-proceed" value="PROCEED">  
</p>
</div> 

</div>
</div>
</div>
<!-- Upload Steps -->
<div class="col-md-4 col-sm-12 order-1 order-md-2">  
  <div class="upload-widget-container">   

    <div class="container">
      <div class="row"> 
        <ul class="col d-flex">
          <li class="col p-0 widget-completed"><i class="widget-icon"><span>01</span></i><p>Upload your<br />Prescription</p></li>     
          <li class="col p-0 widget-active"><i class="widget-icon"><span>02</span></i><p>Specify <br />Medicines</p></li>
          <li class="p-0 widget-unactive"><i class="widget-icon"><span>03</span></i><p>Place your <br />Order</p></li> 
        </ul>
      </div>
    </div>
  </div>
  <div class="guidelines-block">
    <h6>Valid Prescription Guidelines</h6>
    <ul>
      <li>Upload full and clear image of the prescription with doctor details , patient details, prescription date and dosage details.</li>
      <li>Don’t crop Prescription image</li>
      <li>Don’t add a blurred image of prescription</li>
      <li>File formats supported: JPEG / PNG / PDF </li>
      <li>File size should not exceed 10MB.</li>  
    </ul>
  </div>
  <p class="require-valid-prescription">Government regulations require a valid prescription</p>
</div>
<!-- Upload Steps-->
</div>
</div>
</div>
</form>
<?php } ?> 
<script type="text/javascript">
  require([
   'jquery'
   ], function ($) {

    $(document).ready(function() {    

      $('#tabs li a:not(:first)').addClass('inactive');
      $('.containers').hide();
      $('.containers:first').show();
      $('#tabs li a').click(function(){
        var t = $(this).attr('id');
		  if($(this).hasClass('inactive')){ //this is the start of our condition 
       $('#tabs li a').addClass('inactive');
       $('input[type=radio]', this).prop("checked",true);	
       $(this).removeClass('inactive');

       $('.containers').hide();
       $('#'+ t + 'C').fadeIn('slow');
     }

   });
    });
  });

</script>

<script type="text/javascript">
  require([
   'jquery'
   ], function ($) {
    $(document).ready(function(){  
      var i=1;  
      $('#add').click(function(){  
       i++;  
       $('#dynamic_field').append('<tr id="row'+i+'"><td><input type="text" name="medicine_name[]" placeholder="Enter Medicine Name" class="form-control name_list" /></td><td><input type="text" name="medicine_qty[]" placeholder="Qty" class="form-control name_list" /></td><td class="close_btn_data"><button type="button" name="remove" id="'+i+'" class="btn btn_row_close btn_remove">X</button></td></tr>');  
     });  
      $(document).on('click', '.btn_remove', function(){  
       var button_id = $(this).attr("id");   
       $('#row'+button_id+'').remove();  
     });  
       }); 
  });
</script>
<script type="text/javascript">
  require([
   'jquery'
   ], function ($) {
    $(document).ready(function(){
     $('#add_name').submit(function() {
       var fields = $("input[name='checkboxvar[]']").serializeArray(); 
       if (fields.length == 0) 
       { 
        alert('Please select atleast one prescription'); 
		// cancel submit
		return false;
		 } 
		 else 
		 { 
		  return true;
		}
	});
  });
});
</script>


