<!--@subject {{var email.subject}} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
</head>
<body>

{{inlinecss file="Mirasvit_Report::css/_email.css"}}

<table class="wrapper" width="100%">
    <tr>
        <td class="wrapper-inner" align="center">
            <table class="main" align="center">
                <tr>
                    <td class="main-content">
                        <div class="report__email">
                            <h1>{{var email.subject}}</h1>

                            {{var blocks|raw}}
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>