.admin__menu .level-0.item-emthemes-settings  > a:before{
	content:'';
	background:url(img/em-icon.png) no-repeat center center;
}
.admin__menu .level-0.item-emthemes-settings._active > a:before, 
.admin__menu .level-0.item-emthemes-settings:hover > a:before{
	content:'';
	background:url(img/em-icon-hover.png) no-repeat center center;
}
.submenu-group-title span{color:#f7f3eb;}