<?php
//@codingStandardsIgnoreFile
/** @var \Mirasvit\Search\Block\Index\Base $block */
?>
<div class="mst-search__index mst-search__index-mirasvit-kb-article">
    <?= $block->getPager() ?>
    <ul>
        <?php /** @var \Mirasvit\Kb\Model\Article $article */ ?>
        <?php foreach ($block->getCollection() as $article): ?>
            <li>
                <div class="mst-search__index-title">
                    <a href="<?= $article->getUrl() ?>"><?= $article->getName() ?></a>
                </div>

                <div class="mst-search__index-content">
                    <?= $this->truncate($block->stripTags($article->getSummary())) ?>
                </div>
            </li>
        <?php endforeach ?>
    </ul>
    <?= $block->getPager() ?>
</div>

