._error {
  .order-comment-form__characters {
    color: @checkout-field-validation__border-color;
  }
}

.checkout-payment-method {
  .payment-option._collapsible.comment {
    .payment-option-content {
      display: block;
    }
  }
}
