<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);


?>
<?php if ($crumbs && is_array($crumbs)) : ?>
<?php 
$categoryName = '';
//get current category name
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
if(is_object($category))
    $categoryName = $category->getName();
?>
<!-- Starts Prescription Text and buttons -->
<div class="container-fluid doorstep-deliver d-none d-md-block" >
  <div class="container order-medicines">
  <div class="row">
	<div class="col-12 col-md-6 doorstep"><i class="zoylo-icon doorstep-icon"></i>Order medicines and get doorstep delivery </div>
	<div class="col-12  col-md-6 order-btns text-right">
	<?php if($categoryName == 'Medicine'){ ?>
	<a class="upload-pre" href="<?php echo $url; ?>uploadprescription/index">Upload prescription</a>
	<a class="dohave-pre" href="https://book.zoylo.com/prescription/">Do not have a prescription?</a>
    
	<?php } else {?>
	<a class="upload-pre" href="<?php echo $url; ?>uploadprescription/index">Upload</a>
    
	<?php } ?>
	
    </div>
    </div>
	</div>
   </div>
<!-- Ends Prescription Text and buttons -->
<!-- Ends marquee --> 
    <?php if($categoryName == 'Medicine'){ 
   
     echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('medicine-offer-marquee')->toHtml(); ?> 
    <?php } else { 
    
     echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('otc-offer-marquee')->toHtml(); ?> 
    <?php } ?>
    
 
<!-- Ends marquee -->
<div class="breadcrumbs">
    <ul class="items">
        <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
            <li class="item <?= /* @escapeNotVerified */ $crumbName ?>">
            <?php if ($crumbInfo['link']) : ?>
                <a href="<?= /* @escapeNotVerified */ $crumbInfo['link'] ?>" title="<?= $block->escapeHtml($crumbInfo['title']) ?>"><?= $block->escapeHtml($crumbInfo['label']) ?></a>
            <?php elseif ($crumbInfo['last']) : ?>
                <strong><?= $block->escapeHtml($crumbInfo['label']) ?></strong>
            <?php else: ?>
                <?= $block->escapeHtml($crumbInfo['label']) ?>
            <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
