<?xml version="1.0" encoding="UTF-8"?>
<div
        class="admin__data-grid-outer-wrap report__container"
        data-bind="scope: '{{getName()}}.{{getName()}}'"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../Ui/etc/ui_template.xsd">
    <div data-role="spinner" data-component="{{getName()}}.{{getName()}}.{{spinner}}" class="report__loading-mask">
        <div class="report__spinner">
            <span>Loading</span>
            <div class="r1"></div>
            <div class="r2"></div>
            <div class="r3"></div>
            <div class="r4"></div>
            <div class="r5"></div>
            <div class="r6"></div>
            <div class="r7"></div>
            <div class="r8"></div>
            <div class="r9"></div>
            <div class="r10"></div>
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
