<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>
<?php if ($this->hasMessages()) : ?>
	<div class="messages">
		<?php foreach($block->getMessages(true) as $message) : ?>
			<div class="message-<?php echo $message['type'] ?> <?php echo $message['type'] ?> message">
				<div class="amp-message-text"><?php echo $message['text'] ?></div>
			</div>
		<?php endforeach; ?>
	</div>
<?php endif; ?>