<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */

/** @var $block \Plumrocket\Amp\Block\Catalogsearch\Form */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<div class="field search">
    <form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>" method="get" target="_top">
    	<input type="hidden" name="amp" value="1" />
        <input id="search"
               type="text"
               name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
               value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
               placeholder="<?php /* @escapeNotVerified */ echo __('Search entire store here...'); ?>"
               class="input-text"
               maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
               minlength="3"
               required
        />
        <button type="submit" title="<?php echo $block->escapeHtml(__('Search')) ?>" class="action search">
            <span class="icon search-icon"></span>
        </button>
    </form>
</div>
