<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */

/** @var $block \Plumrocket\Amp\Block\Catalogsearch\Form */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>

<?php if ($block->getResultCount()): ?>
    <?php //echo $block->getChildHtml('tagged_product_list_rss_link'); ?>
    <div class="amp-search amp-results">
        <?php if ($messages = $block->getNoteMessages()):?>
        <div class="message notice">
            <div>
                <?php foreach ($messages as $message):?>
                    <?php /* @escapeNotVerified */ echo $message?><br />
                <?php endforeach;?>
            </div>
        </div>
        <?php endif; ?>
        <?php echo $block->getProductListHtml() ?>
    </div>
<?php else: ?>
    <div class="message notice">
        <div>
            <?php /* @escapeNotVerified */ echo($block->getNoResultText()) ? $block->getNoResultText() : __('Your search returned no results.') ?>
            <?php //echo $block->getAdditionalHtml() ?>
            <?php if ($messages = $block->getNoteMessages()):?>
                <?php foreach ($messages as $message):?>
                    <br /><?php /* @escapeNotVerified */ echo $message?>
                <?php endforeach;?>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
