<?php /** @var \I95Dev\Salts\Block\Salt\View $this */?>
<?php /** @var \I95Dev\Salts\Model\Salt $_salt */?>
<?php $_salt = $this->getCurrentSalt();?>

<h1 class="salt-heading">INFORMATION ABOUT <span class="salt-name"><?php echo $_salt->getName();?></span></h1>
<div class="container-fluid salt-block"> 
<div class="row">
<div class="col-sm-12">
<h4><span class="salt-name"><?php echo $_salt->getName();?> uses </span></h4>   
<p><?php //echo $_salt->getUses();
$uses =str_replace('name1',$_salt->getName(),$_salt->getUses());
$uses =str_replace('$','',$uses);
echo $uses;
?>
</p>
</div>
<!--<div class="col-sm-12">
<h4>How it works</h4>    
Ranitidine is a H2 blocker (antacid). It works by reducing the amount of acid in the stomach which helps in relief of acid
related indigestion and heartburn.
</div>-->
<div class="col-sm-12">
<h4>Common side-effects</h4>
<p><?php echo $_salt->getSideEffects();?></p>
<p>It is not necessary for all people to experience the above side-effects.</p>
</div>
</div>
</div>
    

<h1 class="salt-heading">SPECIAL INSTRUCTIONS FOR <span class="salt-name"><?php echo $_salt->getName();?></span></h1>
<div class="container-fluid salt-block">
<div class="row">
<div class="col-sm-12">
<p><?php
//echo sprintf($_salt->getExpertAdvice(), $_salt->getName());
$advice =str_replace('name1',$_salt->getName(),$_salt->getExpertAdvice());
$advice =str_replace('$','',$advice);
echo $advice;

?></p>
</div>
</div>
</div>
 

<h1 class="salt-heading">FREQUENTLY ASKED QUESTIONS</h1>
<div class="container-fluid salt-block">
<div class="row">
<div class="col-sm-12">
<p><?php 
//echo sprintf($_salt->getFaqs(), $_salt->getName());
$faqs =str_replace('name1',$_salt->getName(),$_salt->getFaqs());
$faqs =str_replace('$','',$faqs);
echo $faqs;
?></p>
</div>
</div>
</div>  







