<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$catalogData = $objectManager->create('Zoylo\UrlkeyRewrite\Helper\Catalogdata');
$crumbs = false;
if ($breadcrumbsBlock = $objectManager->create('Zoylo\UrlkeyRewrite\Block\Html\Breadcrumbs')) {
    $breadcrumbsBlock->addCrumb(
        'home',
        [
            'label' => __('Home'),
            'title' => __('Go to Home Page'),
            'link' => $breadcrumbsBlock->getBaseUrl()
        ]
    );
    $path = $catalogData->getBreadcrumbPath();
    foreach ((array)$path as $name => $breadcrumb) {
        $breadcrumbsBlock->addCrumb($name, $breadcrumb);
    }
    $crumbs = $breadcrumbsBlock->getCrumbs();
}
?>
<?php if ($crumbs && is_array($crumbs)) : ?> 
    <div class="breadcrumbs">
        <ul class="items">
            <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
                <li class="item <?= /* @escapeNotVerified */ $crumbName ?>">
                <?php if ($crumbInfo['link']) : ?>
                    <a href="<?= /* @escapeNotVerified */ $crumbInfo['link'] ?>" title="<?= $block->escapeHtml($crumbInfo['title']) ?>"><?= $block->escapeHtml($crumbInfo['label']) ?></a>
                <?php elseif ($crumbInfo['last']) : ?>
                    <strong><?= $block->escapeHtml($crumbInfo['label']) ?></strong>
                <?php else: ?>
                    <?= $block->escapeHtml($crumbInfo['label']) ?>
                <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>


<?php
	$current_product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
	$sku = $current_product->getSku();
	
	$productRepository = $objectManager->get('\Magento\Catalog\Api\ProductRepositoryInterface');
	$productObj = $productRepository->get($sku);
	$zoyloProductType = $productObj->getZoyloSkuGroup();
	if ($zoyloProductType == 'Medicine' || $zoyloProductType == 'medicine') {
		echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('medicine-offer-marquee')->toHtml(); 
	} else { 
		echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('otc-offer-marquee')->toHtml(); 
	} 
?> 
