<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2017 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>
<?php
    $_helperAmp = $this->helper('Plumrocket\Amp\Helper\Data');
    $_productId = $block->getProductInfo()->getId();
    $_addReviewUrl = $_helperAmp->getCanonicalUrl(
        $block->getUrl('review/product/list', [
            'id' => $_productId,
            '_fragment' => 'review-form'
        ])
    );
?>
<div class="block review-add">
    <div class="block-title"><strong><?php /* @escapeNotVerified */ echo __('Write Your Own Review') ?></strong></div>
    <div class="block-content">
        <?php if ($block->getAllowWriteReviewFlag()): ?>
            <?php if ($_helperAmp->isSecure()) : ?>
                <form
                    action-xhr="<?php /* @escapeNotVerified */ echo $_helperAmp->getActionForReviewForm($_productId) ?>"
                    class="review-form"
                    method="post"
                    id="amp-review-form"
                    target="_top"
                    on="submit:amp-review-form-submit.hide;submit-success:amp-review-fildset.hide;submit-error:amp-review-form-submit.show">
                    <fieldset class="fieldset review-fieldset" id="amp-review-fildset">
                        <?php if ($block->getRatings() && $block->getRatings()->getSize()): ?>
                        <fieldset class="field required review-field-ratings">
                            <div class="control">
                                <div class="nested" id="product-review-table">
                                    <?php
                                        $ratingCollection = $block->getRatings();
                                        $firstItem = $ratingCollection->getFirstItem();

                                        if ($firstItem) {
                                            $options = $firstItem->getOptions();
                                        }
                                    ?>
                                    <table class="data-table" id="product-review-form-table">
                                        <?php if ($options) : ?>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <?php $num = 1 ?>
                                                    <?php foreach ($options as $_rating) : ?>
                                                        <th>
                                                        	<div class="icon f-fullstar"></div>
                                                        	<div class="icon-digit"><?php echo $num ?></div>
                                                        </th>
                                                        <?php $num++ ?>
                                                    <?php endforeach; ?>
                                                </tr>
                                            </thead>
                                        <?php endif; ?>
                                        <tbody>
                                            <?php foreach ($ratingCollection as $_rating): ?>
                                                <tr>
                                                    <td><?php echo $block->escapeHtml($_rating->getRatingCode()) ?></td>
                                                    <?php $options = $_rating->getOptions();?>
                                                    <?php $iterator = 1; foreach ($options as $_option): ?>
                                                        <td>
                                                            <input
                                                                type="radio"
                                                                name="ratings[<?php /* @escapeNotVerified */ echo $_rating->getId() ?>]"
                                                                id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>"
                                                                value="<?php /* @escapeNotVerified */ echo $_option->getId() ?>"
                                                                required />
                                                            </td>
                                                        <?php $iterator++; ?>
                                                    <?php endforeach; ?>
                                                </tr>
                                            <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                                <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                            </div>
                        </fieldset>
                    <?php endif ?>
                        <div class="field review-field-nickname required">
                            <label for="nickname_field" class="label"><span><?php /* @escapeNotVerified */ echo __('Nickname') ?></span></label>
                            <div class="control">
                                <input type="text" name="nickname" id="nickname_field" class="input-text" required />
                            </div>
                        </div>
                        <div class="field review-field-summary required">
                            <label for="summary_field" class="label"><span><?php /* @escapeNotVerified */ echo __('Summary') ?></span></label>
                            <div class="control">
                                <input type="text" name="title" id="summary_field" class="input-text" required />
                            </div>
                        </div>
                        <div class="field review-field-text required">
                            <label for="review_field" class="label"><span><?php /* @escapeNotVerified */ echo __('Review') ?></span></label>
                            <div class="control">
                                <textarea name="detail" id="review_field" cols="5" rows="3" required></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <div class="actions-toolbar review-form-actions">
                        <div class="primary actions-primary">
                            <input type="submit" class="action submit primary" value="<?php /* @escapeNotVerified */ echo __('Submit Review') ?>" id="amp-review-form-submit"/>
                        </div>
                    </div>
                    <div submit-success>
                        <template type="amp-mustache">
                            <div class="message-success success message message-{{result}}">{{message}} </div>
                        </template>
                    </div>
                    <div submit-error>
                        <template type="amp-mustache">
                            <div class="message-error error message"><?php echo __('We can\'t post your review right now.') ?> {{message}}</div>
                        </template>
                    </div>
                </form>
            <?php elseif ($productInfo = $block->getProductInfo()) : ?>
                <a class="action add" href="<?php echo $_addReviewUrl ?>"><?php /* @escapeNotVerified */ echo __('Add Your Review') ?></a>
            <?php endif; /* End isSecure */?>
        <?php else: ?>
            <div class="message info notlogged" id="review-form">
                <div>
                    <?php /* @escapeNotVerified */ echo __('Only registered users can write reviews. Please <a href="%1">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()) ?>
                </div>
            </div>
        <?php endif; /* End AllowWriteReview */ ?>
    </div>
</div>
