/* minicart new changes start 13-02-2019*/
.page-header.type2:not(.header-newskin) {
  /*background-color: #222175;*/
  color: #fff;
  border: 0;
}

.page-header.type2 .header.panel>.header.links>li>a {
  color: #fff;
}

.page-header.type2 .header.panel>.header.links>li>a:hover {
  color: #fff;
}

.page-header.type2 .minicart-wrapper {
  position: absolute;
  top:30px; 
  right:16px;
  display: block;
  z-index: 9; 
}

.page-header.type2 .minicart-wrapper .action.showcart:before,.page-header.type2 .minicart-wrapper .action.showcart.active:before {
  color: #8e5ba6;
}

/* .page-header.type2:not(.header-newskin) .minicart-wrapper .action.showcart .counter.qty {
  color: #fff;
  margin: -22px 1px 0; 

}  */ 

.page-header.type2 .minicart-items .product-item-name a {
  color: #1d2d3d;
  font-size: 12px;
}

.page-header.type2 .minicart-wrapper .block-minicart:before {
  left: auto;
  right: 26px;
  border: 8px solid;
  border-color: transparent transparent #faa74a transparent;
}

.page-header.type2 .minicart-items .product-item-details .price {
  font-size: 14px;
}

.page-header.type2 .actions .secondary .viewcart {
  color: #1d2d3d;
}

.page-header.type2 .actions .secondary .viewcart:hover {
  color: #faa74a;
}

.page-header.type2 .minicart-items .item-qty {
  margin-right: 0px;
  padding: 0; 
}

.page-header.type2 .minicart-items .product .product-item-details .details-qty {
  position: relative;
  bottom: -4px;
}

.page-header.type2 .minicart-items .product .product-item-details .details-qty {
  width: 32px;
  height: 32px;
}

.page-header.type2 .minicart-items .product-item-name {
  height: 15px;
  min-height: 15px;
  margin-bottom: 0px;
}

.page-header.type2 .minicart-wrapper .block-minicart:before {
  display: none;
}

.minicart-wrapper .block-minicart:after {
  display: none !important;
}

.minicart-wrapper .block-minicart {
  border-top: none !important;
}

.minicart-wrapper #top-cart-btn-checkout {
  display: none;
}

.header-main .minicart-items .product .product-item-details {
  padding: 0px !important;
}

.minicart-items .product .product-item-details table tr td {
  padding: 0px !important;
}

.minicart-items .product .product-item-details .details-qty {
  margin-top: 0px;
  margin-left: 5px;
}

.minicart-wrapper .minicart-items .product .actions {
  margin: 0px 0px 0px;
}

.minicart-items .item-qty {
  border-bottom: 1px solid transparent;
  border: 2px solid #faa74a;
}

.block-minicart #minicart-content-wrapper .block-content > .actions > .secondary .action.viewcart {
  border: 1px solid transparent;
  padding: 0px;
  color: #faa74a;
}

.minilist .primary .action.delete:before, .minicart-wrapper .primary .action.edit:before {
  color: #1d2d3d;
}

.minicart-items .action.delete:before {
  color: #1d2d3d;
}

.minicart-wrapper .block-minicart {
  margin-top: 2px !important;
  padding-top: 0px !important;
}

.block-minicart .subtotal {
  order: 2;
  background-color: #f2f2f2;
  padding: 10px;
}

.block-minicart .block-content>.actions {
  order: 3;
}

.block-minicart .block-content {
  display: grid;
}

.block-minicart .items-total {
  width: 100px;
}

.block-minicart .items-total .count {
  width: 18px;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  float: left;
  background: #8e5ba6;
  color: #fff;
}

#minicart-content-wrapper .items-total span:nth-child(2):after {
  content: 'in cart';
  margin-left: 2px;
  font-size: 12px;
}

.block-minicart .amount.price-container {
  float: right;
}

.block-minicart .block-content > .actions > .secondary {
  margin: 0px 0px 0px !important;
}

.block-minicart .block-content>.actions {
  margin-top: 0px !important;
}

.block-minicart .subtotal .label:after {
  content: '' !important;
}

.minicart-wrapper .action.showcart {
  border-radius: 0px;
  padding: 0px;
}
.minicart-wrapper .action.showcart:before {
  float: left;
  font-size: 28px;
  position: relative;
  color: #fff;
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background: url(../../images/cart-icon.png) no-repeat;
  height: 36px;
  width: 37px; 
  top: 0px; 
} 
.page-header.type2:not(.header-newskin) .minicart-wrapper .action.showcart .counter.qty {
    color: #fff;
    margin: 0;
    top: -20px;
    left: 6px;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    border: 1px solid #faa74a;
    background-color: #faa74a;  
    border-radius: 20px;width: 24px !important;	
}
.minicart-items .product .product-item-details table tr td:nth-child(1) {
  width: 200px;
}

.minicart-wrapper .action.showcart.active:before {
  content: '' !important;
}



.minicart-items .action.edit {
  display: none !important;
}

.minicart-items .action.delete {
  display: none !important;
}

.minicart-wrapper .action.close {
  display: none;
}

.page-header.type2:not(.header-newskin) .minicart-wrapper .action.showcart .counter.qty {
  display: block;
}

.minicart-wrapper .block-minicart {
  right: 0px !important;
  width: 234px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.52);
  background-color: #ffffff;
  border-radius: 4px !important;
}

.product-item-details tr td:nth-child(2) .label {
  padding-top: 10px; 
  font-size: 12px;
}

.minicart-items .action.delete {
  padding-top: 10px;
}

.header-main .minicart-items-wrapper {
  height: 168px !important; 
}
.minicart-items-wrapper .minicart-items .product-item-details .price-including-tax, .minicart-items .product-item-details .price-excluding-tax{margin:0px;}
.minicart-items-wrapper .minicart-items .product-item{padding: 8px 0; min-height: 82px; }  

.minicart-items-wrapper {
  overflow: hidden;
}

.page-header.type2 .minicart-items .custom-product-attributes {
  font-size: 10px;
  color: #6d6370;
}

.minicart-items .item-qty {
  width: 32px !important;
  height: 32px !important;
}

.block-minicart .items-total {
  font-size: 12px;
}

.checkout-cart-index .page-header.type2 .minicart-wrapper {
  display: none;
}

.checkout-index-index .page-header.type2 .minicart-wrapper {
  display: none;
}


/* minicart new changes end 13-02-2019*/
@media only screen and (max-width:767px) {
  .page-header.type2 .nav-toggle {
    float: right;
  }

  .page-header.type2 .logo {
    height: 40px;
    float: left;
    margin: 10px 0;
  }

  .page-header.type2 .logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
  }

  .page-header.type2 .minicart-wrapper {
    position: absolute;
    /*top:80px; 
    right:50px;*/
    z-index: 10;
    margin: 0; 
  } 
  .minicart-wrapper .action.showcart {
      padding: 0px;
  }
.minicart-wrapper .action.showcart:before {
    height: 30px;
    width: 30px;
    top: 0px;
  } 
  
  .page-header.type2 .block-search {
    float: none;
    margin-bottom: 0;
  }

  .page-header.type2 .block-search .label {
    float: right;
    margin: 10px 0;
    line-height: 40px;
    margin-right: 10px;
  }

  .page-header.type2 .block-search .label:before {
    color: #fff;
    cursor: pointer;
  }

  .page-header.type2 .custom-block {
    display: none;
  }

  .page-header.type2 .nav-toggle:before {
    color: #fff;
  }
  .page-header.type2:not(.header-newskin) .minicart-wrapper .action.showcart .counter.qty {
    margin: -3px -1px 0;      
    font-size: 12px;
} 
  .header-main .minicart-items-wrapper {
   height: 160px !important; 
  }



}

@media all and (min-width:768px),print {
  header.page-header.sticky-header.type2 .minicart-wrapper .action.showcart:before {    
    color: #fff;
  }

  header.page-header.sticky-header.type2 .minicart-wrapper .action.showcart .counter.qty {
  }

  .page-header.type2:not(.header-newskin) {
    background-color: #222175;
    color: #fff;
    border-top: 0;
  }

  .page-header.type2>.panel.wrapper {
    background-color: #222175;
    color: #fff;
  }

  .page-header.type2:not(.header-newskin) .panel.header .switcher {
    border-left: 1px solid rgba(255,255,255,0.5);
    padding: 0 15px;
    text-transform: uppercase;
  }

  .page-header.type2 .panel.header .switcher:first-child {
    border-left: 0;
    padding-left: 0;
  }

  .page-header.type2 .panel.header .switcher:last-child {
    padding-right: 0;
  }

  .page-header.type2 .panel.header .header.links>li>a {
    color: #fff;
    opacity: 0.7;
    font-size: 14px;
  }

  .page-header.type2 .panel.header .header.links>li>a:hover {
    color: #fff;
    opacity: 0.7;
  }

  .page-header.type2 .customer-welcome .action.switch {
    color: #fff;
  }

  .page-header.type2 .nav-sections {
    background-color: #ffffff;
    color: #3d4d5d;
    width: 100%;
    -webkit-box-shadow: 0px 3px 9px -4px rgba(112,112,112,1);
    -moz-box-shadow: 0px 3px 9px -4px rgba(112,112,112,1);
    box-shadow: 0px 3px 9px -4px rgba(112,112,112,1);
    position: relative;
  }

  .page-header.type2 .nav-sections .nav-sections-items {
    width: 100%;
    margin: 0 auto 0px -20px;
  }

  .page-wrapper>.breadcrumbs {
    background-color: #fff;
    color: #000;
  }

  .page-wrapper>.breadcrumbs a, .page-wrapper>.breadcrumbs a:hover, .page-wrapper>.breadcrumbs a:focus {
    color: #000;
  }

  .page-header.type2 .navigation .level0.parent>a:after {
    line-height: 44px;
  }

  .page-header.type2 .navigation .level0>.level-top {
    color: #3d4d5d;
    font-weight: 500;
    font-family: DINPro-Medium;
  }

  .page-header.type2 .block-search {
    max-width: 500px;
    width: 100%;
    height: 48px;
  }

  .page-header.type2 .block-search input {
    background-color: #ffffff;
    color: #ddd;
    border-radius: 0px;
  }

  /*.page-header.type2 .block-search .action.search {
    border-left: 1px solid rgba(255,255,255,0.2);
    padding: 0 12px;
    background-color: #faa74a;
  }*/

  .page-header.type2 .block-search .action.search:focus:before {
    color: #ffffff;
    font-size: 18px;
  }

  .page-header.type2 .block-search .action.search:before,.page-header.type2 .block-search .action.search:hover:before {
    color: #c3c3c3;
  }

  .page-header.type2 .block-search .action.search:hover {
    border-left-width: 1px;
  }

  .page-header.type2 .custom-block {
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    right: 60px;
    margin-top: -20px;
    font-size: 14px;
    color: #fff;
  }

  .page-header.type2 .custom-block>* {
    display: inline-block;
    vertical-align: middle;
  }

  .page-header.type2 .custom-block>a {
    font-size: 12px;
    color: #fff;
  }
    /*custom styles*/
  .page-header.type2 .authorization-link-new-header {
    float: right;
    font-size: 12px;
    font-weight: bold;
  }

  .page-header.type2 .authorization-link-new-header p a {
    font-family: Verdana;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.6px;
    text-align: right;
    color: #ffffff;
    text-transform: uppercase;
  }

  .page-header.type2 .authorization-link-new-header p {
    font-family: Verdana;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
  }

  .page-header.type2 .logo {
    margin: 15px;
    float: left;
    bottom: 10px;
  }

  .page-header.type2 .custom-img img {
    float: left;
    margin-top: 20px;
  }

  .page-header.type2 .header.panel>.header.links>li a {
    text-transform: capitalize;
  }

  .page-header.type2 .switcher-dropdown li {
    float: left;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px;
  }

  .page-header.type2 .switcher-dropdown li a {
    text-transform: capitalize;
    font-size: 14px;
    color: #ffffff;
    opacity: 0.7;
  }

  .page-header.type2 .block-search .action.search {
    right: 0px;
    top: 1px;
  }



  .footer-bottom .custom-block ul.links {
    width: 370px;
  }

  .footer-bottom .custom-block .block {
    float: left;
  }

  .footer-bottom .custom-block ul.links li {
    color: #fff;
  }

  .footer-bottom .custom-block ul.links a {
    color: #fff;
  }

  .footer-bottom .custom-block ul.links li {
    border-right: none;
  }

  .footer-bottom .custom-block ul.links li {
    padding: 0px;
  }

  .footer-middle .follow-us ul.links li {
    padding-left: 15px;
  }

  .footer-middle .payment-section ul.links li {
    padding-left: 15px;
  }

  .porto-icon-mail:before {
    font-size: 20px;
    position: relative;
    top: 2px;
  }

  .porto-icon-phone:before {
    font-size: 20px;
    position: relative;
    top: 2px;
  }

  .footer-middle {
    background-color: #3d4d5d;
    padding: 20px 0;
  }

  .footer-bottom {
    background-color: #3d4d5d;
    padding: 0px;
    border-top: 1px solid #707070;
  }

  .footer-bottom .custom-block .block {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .page-header .navigation .level0.parent>a:after {
    color: #faa74a;
    margin-top: 2px;
  }
    
    /*cmspages Design*/
  .custom-cms-page h4 {
    border-bottom: 2px solid #faa74a;
    width: 10%;
    text-align: left;
    line-height: 20px;
    border-radius: 5px;
    font-size: 18px;
  }

  .page-main>.page-title-wrapper .page-title {
    display: block;
    font-size: 24px;
    color: #3d4d5d;
    border-bottom: 0px solid #8e5ba6;
    line-height: 30px;
    border-radius: 5px;
    margin: 0 auto 30px;
    font-weight: 400;
  }

  .navigation .level0 .submenu {
    border: 0 solid #8e5ba6;
  }

  .page-header.type2.header-newskin {
    background-color: #0083c1;
    color: #fff;
    border-top-width: 0;
  }

  .page-header.type2.header-newskin .minicart-wrapper {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -20px;
  }

  .page-header.type2.header-newskin .minicart-wrapper .block-minicart:before {
    right: 56px;
  }

  .page-header.type2.header-newskin .minicart-wrapper .block-minicart:after {
    right: 55px;
  }

  .page-header.type2.header-newskin.sticky-header .minicart-wrapper .block-minicart:before {
    right: 36px;
  }

  .page-header.type2.header-newskin.sticky-header .minicart-wrapper .block-minicart:after {
    right: 35px;
  }

  .page-header.type2.header-newskin .minicart-wrapper .action.showcart {
    line-height: 37px;
    color: #606669;
    padding-right: 20px;
  }

  .page-header.type2.header-newskin .minicart-wrapper .action.showcart:before, .page-header.type2.header-newskin .minicart-wrapper .action.showcart.active:before {
    color: #fff;
    font-size: 25px;
    line-height: 40px;
  }

  .page-header.type2.header-newskin .minicart-wrapper .action.showcart .counter.qty {
    background-color: #f17734;
    right: 13px;
    margin-top: -17px;
    line-height: 17px;
  }

  .page-header.type2.header-newskin .minicart-wrapper .action.showcart:after {
    color: #bde1f5;
    -webkit-font-smoothing: inherit;
  }

  .page-header.type2.header-newskin .minicart-wrapper .action.close {
    top: 5px;
  }

  .page-header.type2.header-newskin.sticky-header .minicart-wrapper {
    background: transparent;
    box-shadow: none;
    border-color: transparent;
    width: auto;
  }

  .page-header.type2.header-newskin.sticky-header .minicart-wrapper .action.showcart {
    padding-right: 15px;
  }

  .page-header.type2.header-newskin.sticky-header .minicart-wrapper .action.showcart:after {
    display: none;
  }

  .page-header.type2.header-newskin.sticky-header .minicart-wrapper .action.showcart .counter.qty {
    right: 8px;
  }

  .page-header.type2.header-newskin .nav-toggle {
    float: right;
  }
@  media (min-width: 768px) {
    .page-header.type2.header-newskin {
        background-color: #0088cc;
    color: #fff;
  }

  .page-header.type2.header-newskin .switcher strong {
    font-weight: 600;
  }

  .page-header.type2.header-newskin > .main-panel-top {
    background-color: #0088cc;
  }

  .page-header.type2.header-newskin .panel.wrapper {
    background-color: transparent;
    color: #bde1f5;
  }

  .page-header.type2.header-newskin .panel.header {
    max-width: 100%;
    padding: 10px 0;
  }

  .page-header.type2.header-newskin .panel.header .switcher {
    padding-right: 25px;
    text-transform: uppercase;
  }

  .page-header.type2.header-newskin .main-panel-inner {
    border-bottom: 1px solid rgba(248,248,248,0.2);
  }

  .page-header.type2.header-newskin .panel.header .header.links > li {
    color: #bde1f5;
    font-weight: 600;
    letter-spacing: 0.025em;
  }

  .page-header.type2.header-newskin .panel.header .header.links > li > a {
    border: none;
    color: #bde1f5;
    font-weight: 600;
    letter-spacing: 0.025em;
  }

  .page-header.type2.header-newskin .block-search {
    margin-left: 150px;
  }

  .page-header.type2.header-newskin .block-search input {
    background-color: #fff;
    color: #8d8d8d;
    border-radius: 20px;
    border: 1px solid #dbe0e2;
  }

  .page-header.type2.header-newskin .block-search .field.search {
    background-color: #fff;
    border-radius: 20px;
  }

  .page-header.type2.header-newskin .block-search .action.search {
    border-left: 1px solid rgba(255,255,255,0.2);
    padding: 0 17px;
  }

  .page-header.type2.header-newskin .block-search .action.search:before {
    content: '\e884';
    color: #606669;
    font-size: 16px;
    padding-left: 1px;
  }

  .page-header.type2.header-newskin .block-search .action.search:hover:before {
    color: #606669;
  }

  .page-header.type2.header-newskin .custom-block {
    position: absolute;
    top: 50%;
    right: 170px;
    margin-top: -15px;
    font-size: 14px;
    color: #bde1f5;
  }

  .page-header.type2.header-newskin .custom-block > * {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    font-weight: 600;
    text-align: left;
    line-height: 1;
  }

  .page-header.type2.header-newskin .minicart-wrapper {
    background-color: #0694db;
    width: 81px;
    height: 41px;
    text-align: center;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: solid 1px #0082c2;
  }

  .page-header.type2.header-newskin .nav-sections {
    background-color: #f4f4f4;
    color: #6b7a83;
  }

  .page-header.type2.header-newskin.sticky-header .nav-sections {
    background-color: #0088cc;
    color: #fff;
  }

  .page-header.type2.header-newskin.sticky-header .navigation li.level0.active, .page-header.type2.header-newskin.sticky-header .navigation li.level0:hover {
    color: #bde1f5;
  }

  header.page-header.type2.header-newskin.sticky-header .navigation li.level0 > .level-top {
    padding: 0 10px;
  }

  .page-header.type2.header-newskin .navigation .level0 {
    margin-right: 4px;
    color: inherit;
  }

  .page-header.type2.header-newskin .navigation .level0 > .level-top {
    font-size: 12px;
    letter-spacing: inherit;
    color: inherit;
    font-weight: 700;
  }

  .page-header.type2.header-newskin .navigation li.level0.active,
    .page-header.type2.header-newskin .navigation li.level0:hover {
    color: #0088cc;
  }

  .page-header.type2.header-newskin .navigation li.level0.parent:hover a.level-top:before {
    display: none;
  }

  .page-header.type2.header-newskin .navigation li.level0 .submenu:before {
    content: "";
    width: 100%;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: -15px;
  }

  .page-header.type2.header-newskin .navigation .level0 .submenu li.parent > a:after {
    line-height: 25px;
  }

  .page-header.type2.header-newskin.sticky-header .navigation li.level0 > .submenu {
    top: 37px;
  }
}

@media (min-width: 768px) {
  .page-header.type2.header-newskin .header.panel > .header.links {
    float: none;
    text-align: right;
    display: block;
  }

  .page-header.type2.header-newskin .header.panel > .header.links > li.compare {
    float: left;
  }

  .page-header.type2.header-newskin .header.panel > .header.links > li.compare > a {
    padding: 0;
  }

  .page-header.type2.header-newskin .sw-megamenu.navigation li.level0.fl-right {
        /*float: none;*/;
  }
}

@media (max-width: 1199px) {
  .page-header.type2.header-newskin .block-search {
    margin-left: 30px;
  }

  .page-header.type2.header-newskin .custom-block {
    right: 150px;
  }
}

@media (max-width: 991px) {
  .page-header.type2.header-newskin .header.panel > .header.links > li > a, .page-header.type2.header-newskin .header.panel > .header.links > li > span {
    padding: 0 7px;
  }

  .page-header.type2.header-newskin .header.panel > .header.links > li:first-child > a, .page-header.type2.header-newskin .header.panel > .header.links > li:first-child > span {
    padding-left: 0;
  }

  .page-header.type2.header-newskin .header.panel > .header.links > li:last-child > a, .page-header.type2.header-newskin .header.panel > .header.links > li:last-child > span {
    padding-right: 0;
  }

  .page-header.type2.header-newskin .panel.header .switcher {
    padding-right: 15px;
  }

  .page-header.type2.header-newskin .navigation .level0 > .level-top {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .page-header.type2.header-newskin .logo {
    height: 40px;
    float: left;
    margin: 10px 0;
  }

  .page-header.type2.header-newskin .logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
  }

  .page-header.type2.header-newskin .minicart-wrapper {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    margin: 10px 0;
    float: right;
  }

  .page-header.type2.header-newskin .block-search {
    float: none;
    margin-bottom: 0;
  }

  .page-header.type2.header-newskin .block-search .label:before,
    .page-header.type2.header-newskin .nav-toggle:before {
    color: #fff;
    font-size: 18px;
    padding-left: 1px;
  }

  .page-header.type2.header-newskin .block-search .label:before {
    margin-top: -1px;
  }

  .page-header.type2.header-newskin .block-search .label {
    float: right;
    margin: 10px 0;
    line-height: 40px;
    margin-right: 13px;
  }

  .page-header.type2.header-newskin .custom-block {
    display: none;
  }

  header.page-header.type2.header-newskin .minicart-wrapper .action.showcart:before, header.page-header.type2.header-newskin .minicart-wrapper .action.showcart.active:before {
    font-size: 25px;
  }
}

header.page-header.type2 .search-category {
  margin-right: 15px;
}

header.page-header.type2 .search-category select {
  border-top-color: transparent;
  border-bottom-color: transparent;
}






/* Menu */
.sw-megamenu.navigation > ul {
  max-width: 1230px;
  margin: auto;
}

.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1 > a, .sw-megamenu.navigation li.level0.staticwidth .submenu li.level1 > a {
  font-weight: 500;
  font-family: DINPro-Medium;
}

.sw-megamenu.navigation li.level0.fullwidth:nth-child(2) li.level1.parent > a span {
  font-size: 14px;
  font-weight: 500;
  font-family: DINPro-Medium;
}

.sw-megamenu.navigation .subchildmenu.mega-columns > li {
  padding: 0;
}

.custom-brands h4, .custom-symptoms h4 {
  text-align: left;
}

@media (max-width:767px) {
  header.page-header .nav-sections-item-title {
    display: none;
  }

  header.page-header .nav-sections-item-content {
    margin-top: 0;
  }

  .nav-open .nav-sections {
    position: static;
  }

  .nav-open .page-wrapper {
    left: 0;
  }

  .nav-sections {
    width: calc(100% - 0px);
    left: calc(-1 * (100% - 0px));
  }

  .sw-megamenu.navigation li.ui-menu-item {
    position: relative;
    float: left;
    width: 33.33%;
    font-size: 13px;
  }

  .sw-megamenu.navigation .submenu.level0.opened {
    visibility: visible;
    height: auto;
    position: fixed;
    top: 0 !important;
    z-index: 11111111;
    background: #666;
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  .sw-megamenu.navigation .submenu.level0.opened::after {
    content: "close";
    font-size: 15px;
    width: 50px;
    height: 20px;
    float: right;
    display: block;
  }

  .sw-megamenu.navigation .submenu.level0.opened::after {
    content: "close";
    font-size: 15px;
    width: 50px;
    height: 20px;
    float: right;
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  
    /* Menu */

  .logo {
    z-index: l;
  }

  .nav-sections {
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: .0s;
    transition: 0s;
  }

  .nav-toggle::before {
    display: none;
  }

  header.page-header .nav-sections-item-title {
    display: none;
  }

  .nav-toggle > span {
    position: relative;
    width: auto;
    height: auto;
    font-size: 14px;
    color: #000;
  }

  .navigation li.level0 .ui-menu-item > a::before {
    display: none;
  }

  .page-header.type2 .nav-toggle {
    float: right;
    position: absolute;
    top: 128px;
    left: 0;
    right: 0;
    width: 100%;
    color: #000;
    background: #fff;
    text-align: center;
    padding: 0;
    line-height: 36px;
  }

  .navigation li.level0 > a.level-top {
    padding: 13px 15px 13px 15px;
    padding-left: 15px;
  }

  header.page-header .nav-sections-item-content {
    margin-top: 0;
  }

  .nav-open .nav-sections {
    position: static;
    margin-top: 60px;
  }

  .nav-open .page-wrapper {
    left: 0;
  }

  .nav-sections {
    width: calc(100% - 0px);
    left: calc(-1 * (100% - 0px));
  }

  .sw-megamenu.navigation li.ui-menu-item {
    position: relative;
    float: left;
    width: 33.33%;
    font-size: 13px;
  }

  .sw-megamenu.navigation .subchildmenu li.ui-menu-item {
    position: relative;
    width: 100%;
  }

  .sw-megamenu.navigation .submenu.level0.opened {
    visibility: visible;
    height: auto;
    position: fixed;
    top: 0 !important;
    z-index: 11111111;
    background: #fff;
    opacity: 1;
    width: 100%;
    height: 100%;
    left: 0 !important;
    padding: 15px;
  }

  .menu-close {
    position: fixed;
    z-index: 100000000;
    color: #ff0000 !important;
    right: 16px;
    top: -3px;
    display: inline-block;
    font-size: 22px;
  }

  .navigation .submenu:not(:first-child) ul {
    padding-left: 0px;
  }

  .sw-megamenu.navigation li.ui-menu-item > a {
    padding-left: 0;
  }

  .navigation .submenu ul > li a {
    color: #fff;
  }

  .page-header.type2 .minicart-wrapper {
    position: absolute;
    top: 140px;
    right: 5px;
    z-index: 10;
    margin: 0;
  }

  .minicart-wrapper .action.showcart {
    padding: 7px;
  }
}

@media (min-width: 768px) {
  .sw-megamenu.navigation li.level0.fullwidth .submenu a, .sw-megamenu.navigation li.level0.staticwidth .submenu a, .sw-megamenu.navigation li.level0.classic .submenu a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .sw-megamenu.navigation li.level0.fullwidth > .submenu {
    max-width: 1366px;
    left: 0;
    right: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 15px;
  }
}
/*    #submenu-menu  {
    height: 450px; your fixed height
    -webkit-column-count: 6;
       -moz-column-count: 6;
            column-count: 6; 3 in those rules is just placeholder -- can be anything
}

.ui-menu-item level1 li {
    display: inline-block; necessary
}*/

#submenu-menu {
  -moz-column-count: 6;
  -moz-column-gap: 20px;
  -webkit-column-count: 6;
  -webkit-column-gap: 20px;
  column-count: 6;
  column-gap: 20px;
} 