<?php
//@codingStandardsIgnoreFile
/** @var \Mirasvit\Search\Block\Index\Base $block */

/** @var \Aheadworks\Blog\Block\PostList $list */
$list = $this->getLayout()->createBlock('Aheadworks\Blog\Block\PostList');
?>
<div class="mst-search__index mst-search__index-aheadworks-blog-post">
    <div class="blog-posts">
        <?php /** @var \Aheadworks\Blog\Model\Post $post */ ?>
        <?php foreach ($block->getCollection() as $post): ?>
            <?= $list->getItemHtml($post) ?>
        <?php endforeach ?>
    </div>
</div>
