<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>


<!-- Footer -->
<!-- Footer -->
<div class="footer-container">
  <div class="accordion mb-5" id="accordionExample">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- Healthcare Categories -->
          <div class="col-sm-6 col-md-6">
            <div class="card footer-accordion">
              <div class="card-header" id="symtomps">
                <h3 class="footer-heading font-regular" data-toggle="collapse" data-target="#symptomsCollapse"
                    aria-expanded="true" aria-controls="symptomsCollapse">
                  Healthcare Categories
                </h3>
              </div>
              <div id="symptomsCollapse" class="collapse show" aria-labelledby="symtomps">
                <div class="card-body p-0">
                  <div class="row">
                    <div class="col">
                        <ul class="footer-list">

                       <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/babycare2.html">Baby Care</a></li>
                        <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/bath-body.html">Bath & Body</a></li>
                        <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/beverages2.html">Beverages</a></li>
                        <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/cosmetics2.html">Cosmetics</a></li>
                        <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/digestives2.html">Digestives</a></li>
                        <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/femininehygine2.html">Feminine Hygine</a></li>
                        <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/firtaidshygeine2.html">Firt aids & Hygeine</a></li>
                        <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/fragrances2.html">Fragrances</a></li>
                        <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/haircare2.html">Hair Care</a></li>
                      
                      </ul>
                    </div>
                    <div class="col">
                      <ul class="footer-list">
                       <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/mensgrooming2.html">Mens Grooming</a></li>
                      <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/nutritionsupplements2.html">Nutrition Supplements</a></li>
                       <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/oral-care.html">Oral Care</a></li>
                       <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/painrelievers2.html">Pain Relievers</a></li>
                      <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/pregnancymomcare2.html">Pregnancy & Mom Care</a></li>
                       <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/sexualwellness2.html">Sexual Wellness</a></li>
                      <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/skin-care.html">Skin Care</a></li>
                      <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/stressrelievers2.html">Stress Relievers</a></li>
                      <li><a href="{{config path='web/secure/base_url'}}otc-healthcare-products/weight-management.html">Weight Management</a></li>
                     
                       <li><a href="{{config path='web/secure/base_url'}}medicine.html">More +</a></li>
                      </ul>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Healthcare Categories -->
          <!-- Top Brands -->
           <div class="col-sm-6 col-md-6">
           <div class="card footer-accordion">
              <div class="card-header" id="zoylo-med">
                <h3 class="footer-heading font-regular" data-toggle="collapse" data-target="#zoylo-med-collapse"
                    aria-expanded="true" aria-controls="zoylo-med-collapse">
                  Top Brands
                </h3>
              </div>
              <div id="zoylo-med-collapse" class="collapse show" aria-labelledby="zoylo-med">
                <div class="card-body p-0">
                  <div class="row">
                    <div class="col">
                     <ul class="footer-list">
                        <li><a href="javascript:void(0);">Abbott</a></li>
                        <li><a href="javascript:void(0);">Alkem Laboratories</a></li>
                        <li><a href="javascript:void(0);">AstraZeneca</a></li>
                        <li><a href="javascript:void(0);">Boehringer Ingelheim</a></li>
                        <li><a href="javascript:void(0);">Cadila Pharmaceuticals</a></li>
                        <li><a href="javascript:void(0);">Cipla</a></li>
                        <li><a href="javascript:void(0);">Dr Reckeweg & Co</a></li>
                        <li><a href="javascript:void(0);">Glaxo SmithKline Pharmaceuticals</a></li>
                        <li><a href="javascript:void(0);">Glenmark Pharmaceuticals</a></li>
                         <li><a href="javascript:void(0);">Mankind Pharma</a></li>
                         <li><a href="javascript:void(0);">Merck</a></li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul class="footer-list">
                       <li><a href="javascript:void(0);">Morepen Laboratories</a></li>
                        <li><a href="javascript:void(0);">MSD Pharmaceuticals</a></li>
                        <li><a href="javascript:void(0);">Novartis India</a></li>
                        <li><a href="javascript:void(0);">Patanjali Ayurved</a></li>
                        <li><a href="javascript:void(0);">Pfizer</a></li>
                        <li><a href="javascript:void(0);">Roche Diabetes Care India</a></li>

                        <li><a href="javascript:void(0);">Serdia Pharmaceuticals India</a></li>
                        <li><a href="javascript:void(0);">Sun Pharmaceutical Industries</a></li>
                        <li><a href="javascript:void(0);">Torrent Pharmaceuticals</a></li>
                        <li><a href="javascript:void(0);">USV</a></li>
                        <li><a href="{{config path='web/secure/base_url'}}medicine.html">More +</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Top Brands -->

        </div>
      </div>
    </div>
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="card footer-accordion">
              <div class="card-header" id="services">
                <h3 class="footer-heading font-regular" data-toggle="collapse" data-target="#servicesCollapse"
                    aria-expanded="true" aria-controls="servicesCollapse">
                  Services
                </h3>
              </div>
              <div id="servicesCollapse" class="collapse show" aria-labelledby="services">
                <div class="card-body p-0">
                <ul class="footer-list">
                     <li ><a href="{{store url='medicine'}}">Order Medicine</a></li>
                    <li><a href="{{store url='diagnostics'}}">Book tests & Scans</a></li>
                    <li><a href="{{store url='online-consult/doctors'}}">Consult Doctor Online</a></li>
                    <li><a href="{{store url='Hyderabad/doctors'}}">Book Doctor Appointments</a></li>
                   <li><a href="{{store url='Hyderabad/wellness'}}">Get Wellness Packages</a></li>
                     <li><a href="https://cms.zoylo.com/" target="_blank">Knowledge Base</a></li>
                  </ul>
                </div>
        
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="card footer-accordion">
              <div class="card-header" id="practice">
                <h3 class="footer-heading font-regular" data-toggle="collapse" data-target="#practiceCollapse"
                    aria-expanded="false" aria-controls="practiceCollapse">
                  List your Practice
                </h3>
              </div>
              <div id="practiceCollapse" class="collapse show" aria-labelledby="practice">
               <ul class="footer-list">
                  <li><a href="/#listPractice">Doctors</a></li>
                  <li><a href="/#listPractice">Labs</a></li>
                  <li><a href="/#listPractice">Hospitals</a></li>
                  <li><a href="/#listPractice">Home Healthcare</a></li>
                  <li><a href="/#listPractice">Others</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="card footer-accordion">
              <div class="card-header" id="zoylo">
                <h3 class="footer-heading font-regular" data-toggle="collapse" data-target="#zoyloCollapse"
                    aria-expanded="false" aria-controls="zoyloCollapse">
                  Zoylo
                </h3>
              </div>
              <div id="zoyloCollapse" class="collapse show" aria-labelledby="zoylo">
                <ul class="footer-list">
                  <li><a href="{{store url='Aboutus'}}">About us</a></li>
                  <li><a href="{{store url='contactus'}}">Contact us</a></li>
                  <li><a href="{{store url='privacy'}}">Privacy Policy</a></li>
                  <li><a href="{{store url='cancellation'}}">Cancellation & Refund Policy</a></li>
                  <li><a href="https://zoylo.darwinbox.in/jobs">Careers</a></li>
                </ul>
        
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <h3 class="footer-heading font-regular">Contact Us</h3>
            <ul class="footer-list">
              <li><a href="mailto:contactus@zoylo.com" class="extra-links"><span class="icon mail-icon"></span>
                Contactus@zoylo.com</a></li>
              <li><a href="tel:1800 3000 5454" class="extra-links"><span class="icon phone-footer-icon"></span> 1800 3000
                5454</a></li>
            </ul>

            <h3 class="footer-heading font-regular">Download App</h3>
            <ul class="footer-list d-flex align-items-center">
              <li><a href="https://app.appsflyer.com/id1074372361?pid=web"  target="_blank"><span class="icon app-store"></span> </a></li>
              <li><a href="https://app.appsflyer.com/com.zoylo.com?pid=web" target="_blank"><span class="icon google-store"></span> </a></li>
            </ul>
          </div>
        </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <h5 class="footer-heading font-regular">Secure Payment</h5>
          <ul class="footer-list d-flex align-items-center">
            <li><a href="javascript:void(0);"><span class="icon secure-payment"></span> </a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3">
          <h3 class="footer-heading">Payment Options</h3>
          <ul class="footer-list d-flex align-items-center">
            <li><a href="javascript:void(0);"><span class="maestro-icon"></span></a></li>
            <li><a href="javascript:void(0);"><span class="master-card-icon"></span> </a></li>
            <li><a href="javascript:void(0);"><span class="visa-icon"></span> </a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <h3 class="footer-heading">Follow Us</h3>
         <ul class="footer-list d-flex align-items-center">
              <li><a href="https://www.facebook.com/zoylodigihealth/?ref=hl" target="_blank"><span class="fb-icon"></span> </a></li>
             <!--  <li><a href="https://plus.google.com/114900063212671186185" target="_blank"><span class="gplus-icon"></span> </a></li> -->
            <li><a href="https://twitter.com/ZoyloDigiHealth" target="_blank"><span class="tw-icon"></span> </a></li>
              <li><a href="https://www.youtube.com/channel/UCdmtuLTNAkoq2-UlHAvkwmA" target="_blank"><span class="yt-icon"></span> </a></li>
             <!--  <li><a href="javascript:void(0);"><span class="bing-icon"></span> </a></li> -->
              <li><a href="https://www.pinterest.com/zoylodigihealth/" target="_blank"><span class="pintrest-icon"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="d-flex align-items-center justify-content-center">
          <p class="copyright-details">2019 Zoylo Digihealth Pvt Ltd. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>

<div class="footer-container">
    <div class="footer">
        <?php echo $block->getChildHtml() ?>
        <address><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></address>
    </div>
</div>