<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct();
$zoylo_product_type = $_product->getZoyloProductType();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$scheduleType = $_helper->productAttribute($_product, $_product->getPrescriptionAction(), 'prescription_action');
$prescription = $_product->getResource()->getAttribute('prescription_action');
$scheduleType = $prescription->getSource()->getOptionText($scheduleType);
if($scheduleType != 'Not for Sale'){                
?>
 <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
          action="<?= /* @NoEscape */ $block->getSubmitUrl($_product) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
<?php echo $block->getBlockHtml('formkey'); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
			<div class="col-lg-8 pack-size">
			<p><?php 
			if($zoylo_product_type != 'OTC'){
			echo $_product->getResource()->getAttribute('pack_size')->getFrontend()->getValue($_product); 
			echo " ".$_product->getResource()->getAttribute('product_format')->getFrontend()->getValue($_product);
			}
			 ?></p>
			</div>

            <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
            <div class="control">
			<button type="button" id="<?= /* @escapeNotVerified */ $_product->getId() ?>-dec"  class="porto-icon-down-dire">-</button>
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
			<button type="button" id="<?= /* @escapeNotVerified */ $_product->getId() ?>-upt" class="porto-icon-up-dire">+</button>
			
            </div>
        </div>
        <?php endif; ?>
	
        <div class="actions">
            <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>

            <?php echo $block->getChildHtml('', true) ?>
			
        </div>
    </div>
</div>
<div class="get-additional-block">
    <div class="get-additional-pnl">
    
        <h4 class="get-additional-txt">Flat 25% Off</h4>
        <p>On Prescription Medicines</p>
          </div>
          <div class="get-additional-code"><span>ZMED25</span></div>
</div>
<?php endif; ?>
<!--<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        }
    }
</script> -->

<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script>
    require([
        'jquery',
        'mage/mage',
        'Magento_Catalog/product/view/validation',
        'Emthemes_FlyingEffectCart/js/catalog-add-to-cart'
    ], function ($) {
        'use strict';

        $('#product_addtocart_form').mage('validation', {
            radioCheckboxClosest: '.nested',
            submitHandler: function (form) {
                var widget = $(form).catalogAddToCart({
                    bindSubmit: false
                });

                widget.catalogAddToCart('submitForm', $(form));

                return false;
            }
        });
    });
</script>
<?php endif; ?>
<script type="text/javascript">
require(["jquery"],function($){
    $('.porto-icon-up-dire, .porto-icon-down-dire').on("click",function(){ 
        var $this = $(this);
        var currentQty = $("#qty").val();
        if($this.hasClass('porto-icon-up-dire')){
            var newAdd = parseInt(currentQty)+parseInt(1);
             $("#qty").val(newAdd);
        }else{
             if(currentQty>1){
                var newAdd = parseInt(currentQty)-parseInt(1);
                $("#qty").val(newAdd); 
             }
        }
    });
});
</script>
</form>
<?php } ?>