.cms-index-index .page-header.type20 {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    background: transparent;
    border: 0;
}
.page-header.type20 {
    position: relative;
    border-top: none;
    background-color: #1e1e1e;
    padding-bottom: 10px;
}
.page-header.type20 .logo {
    display: block;
    margin: 20px 0 25px 25px;
    float: right;
}
.page-header.type20 .minicart-wrapper {
    margin-right: 13px;
    margin-left: 10px;
}
.page-header.type20 .minicart-wrapper .action.showcart:before,
.page-header.type20 .minicart-wrapper .action.showcart.active:before {
    content: '\e87f';
    font-size: 23px;
    line-height: 26px;
}
.page-header.type20 .minicart-wrapper .action.showcart .counter.qty {
    font-size: 10px;
    color: #fff;
    background-color: #ed5348;
    text-align: center;
    left: 16px;
    margin-top: -16px;
}
@media (min-width: 768px) {
    .page-header.type20 {
        text-align: center;
    }
    .page-header.type20 .sw-megamenu.navigation li.level0.fullwidth > .submenu {
        margin-right: 0 !important;
    }
    .page-header.type20 .logo {
        float: none;
        display: inline-block;
        margin: 20px 0;
        position: relative;
        z-index: 8;
    }
    .page-header.type20 .sw-megamenu.navigation li.level0.fl-right {
        float: none;
    }
    .page-header.type20 .nav-sections {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -21px;
        width: 100%;
        z-index: 4;
    }
    .page-header.type20 .navigation {
        text-align: right;
    }
    .page-header.type20 .navigation > ul {
        padding-left: 60%;
    }
    .page-header.type20.sticky-header .navigation > ul {
        padding-left: 90px;
    }
    header.page-header.sticky-header.type20 .nav-sections {
        background-color: #1e1e1e;
    }
    .page-header.type20 .navigation li.level0 {
        color: #fff;
    }
    .page-header.type20 .navigation li.level0 > .level-top {
        font-weight: 500;
    }
    .page-header.type20 .header.panel {
        text-align: left;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -18px;
        z-index: 5;
        padding: 0 15px;
    }
    body .page-header.type20 .header.panel {
        max-width: calc(50% - 50px);
    }
    .page-header.type20 .header.panel .top-panel {
        margin: 5px 0;
    }
    body.layout-fullwidth .page-header.type20 .header.panel .top-panel {
        display: inline-block;
        vertical-align: middle;
    }
    .page-header.type20 .top-links-area {
        position: relative;
        display: inline-block;
    }
    .page-header.type20 .top-links-icon {
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;
        padding: 7px 0 7px 20px;
        position: relative;
        color: #fff;
        text-transform: uppercase;
    }
    .page-header.type20 .top-links-icon a {
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.025em;
    }
    .page-header.type20 .top-links-icon a:hover {text-decoration: none;}
    .page-header.type20 .top-links-icon:before {
        content: "\f807";
        display: block;
        position: absolute;
        left: 3px;
        top: 50%;
        font-family: "porto-icons";
        margin-top: -12px;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
    }
    .page-header.type20 .top-links-area .links {
        display: none;
        position: absolute;
        left: 0;
        z-index: 9;
        background-color: #fff!important;
        border-radius: 3px;
        margin: 0;
        padding: 5px 0;
        text-align: left;
        border: 1px solid #ccc;
        min-width: 150px;
    }
    .page-header.type20 .top-links-area .links > li {
        display: block;
        margin: 0;
        text-align: left;
        text-transform: uppercase;
        line-height: 19px;

    }
    .page-header.type20 .top-links-area .links > li > a,
    .page-header.type20 .top-links-area .links > li > span {
        color: #777 !important;
        white-space: nowrap;
        padding: 0 10px;
        display: block;
        transition: all .2s;
        font-weight: 400;
        font-size: 11px;
    }
    .page-header.type20 .custom-block {
        font-family: 'Poppins';
        font-weight: 400;
        display: inline-block;
        text-align: right;
        font-size: 16px;
        height: 33px;
        line-height: 1;
        border-left: solid 1px rgba(255,255,255,0.3);
        padding-left: 30px;
        padding-right: 20px;
    }
    .page-header.type20 .header.panel .search-area {
        display: inline-block;
        vertical-align: middle;
        padding-right: 15px;
        margin-top: 2px;
        position: relative;
    }
    .page-header.type20 .header.panel .search-area > a {
        color: #fff;
        padding-left: 6px;
        display: block;
    }
    .page-header.type20 .header.panel .block-search {
        display: none;
        position: absolute;
        left: -20px;
        top: 100%;
        margin-top: 20px;
    }
    .page-header.type20 .header.panel .block-search input {
        height: 45px;
        border-radius: 25px;
        border: 5px solid #ccc;
    }
    .page-header.type20 .header.panel .block-search .action.search {
        left: 5px;
        height: 45px;
        border-right: 1px solid #ccc;
        width: 40px;
    }
    .page-header.type20 .header.panel .switcher {
        float: none;
        padding: 5px 10px;
        height: 24px;
        border-radius: 3px;
        color: #fff;
        text-transform: uppercase;
        text-align: right;
    }
    .page-header.type20 .header.panel .switcher strong {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0.025em;
    }
}
@media (min-width: 992px) {
    body.layout-fullwidth .page-header.type20 .header.panel .bottom-panel {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
}
@media (max-width: 1199px) {
    .page-header.type20 .custom-block {
        display: none;
    }
}
@media (max-width: 991px) {
    .page-header.type20 .custom-block {
        display: none;
    }
}
@media (max-width: 767px) {
    .page-header.type20 .logo {
        height: 40px;
        float: right;
        margin: 10px 0;
    }
    .page-header.type20 .logo img {
        height: 40px;
        width: auto;
    }
    .page-header.type20 .header.panel {
        position: relative;
    }
    .page-header.type20 .bottom-panel {
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .page-header.type20 .minicart-wrapper {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin: 0;
        float: left;
        margin-left:-17px;
    }
    .page-header.type20 .minicart-wrapper .action.showcart:before,
    .page-header.type20 .minicart-wrapper .action.showcart.active:before {
        font-size: 28px;
        line-height: 40px;
    }
    .page-header.type20 .minicart-wrapper .block-minicart {
        left:-7px;
    }
    .page-header.type20 .minicart-wrapper .action.showcart {
        line-height: 40px;
    }
    .page-header.type20 .search-toggle-icon {
        display: none;
    }
    .page-header.type20 .block-search .label {
        float: left;
        margin-left: 13px;
        margin-top: 17px;
    }
    .page-header.type20 .nav-toggle {
        float: left;
        margin-left: 55px;
    }
    .page-header.type20 .top-links-area, .page-header.type20 .custom-block {
        display: none;
    }
    .page-header.type20 .block-search .label:before {
        font-size: 18px;
    }
}
.page-header.type20 .search-category select {
    border: 0;
    border-right: 1px solid #ccc;
    border-right-color: rgba(204,204,204,0.5);
}