<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_order = $block->getOrder() ?>
<?php if ($_order): ?>
    <?php $_items = $_order->getAllItems(); ?>
    <table class="email-items">
        <thead>
            <tr>
                <th class="item-info">
                    <?= /* @escapeNotVerified */  __('S No') ?>
                </th>
                <th class="item-info">
                    <?= /* @escapeNotVerified */  __('SKU Name') ?>
                </th>
                <th class="item-qty">
                    <?= /* @escapeNotVerified */  __('Quantity') ?>
                </th>
                <th class="item-price">
                    <?= /* @escapeNotVerified */  __('Price') ?>
                </th>
            </tr>
        </thead>
        <?php $i = 1; foreach ($_items as $_item): ?>
            <?php if (!$_item->getParentItem()) : ?>
                <tbody>
                <?php
                    $_order = $_item->getOrder();
                    $prescription = false;
                    if($_item->getSku() == 'Free'){
                        $prescription = true;
                    }
                    ?>
                    <tr>
                        <td class="item-sno"><?= /* @escapeNotVerified */  $i; ?></td>
                        <td class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>">
                            <?php if (!$prescription) { ?><p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p><?php }else{ ?>
                                <p class="product-name">Prescription Added</p>
                            <?php } ?>
                            <?php if ($block->getItemOptions()): ?>
                                <dl class="item-options">
                                <?php foreach ($block->getItemOptions() as $option): ?>
                                    <dt><strong><em><?= /* @escapeNotVerified */  $option['label'] ?></em></strong></dt>
                                    <dd>
                                        <?= /* @escapeNotVerified */  nl2br($option['value']) ?>
                                    </dd>
                                <?php endforeach; ?>
                                </dl>
                            <?php endif; ?>
                            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                            <?php if ($addInfoBlock) :?>
                                <?= $addInfoBlock->setItem($_item)->toHtml() ?>
                            <?php endif; ?>
                            <?= $block->escapeHtml($_item->getDescription()) ?>
                        </td>
                        <td class="item-qty"><?= /* @escapeNotVerified */  $_item->getQtyOrdered() * 1 ?></td>
                        <td class="item-price">
                            <?= /* @escapeNotVerified */  $_item->getPrice() ?>
                        </td>
                    </tr>
                    <?php if ($_item->getGiftMessageId() && $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_item->getGiftMessageId())): ?>
                    <tr>
                        <td colspan="3" class="item-extra">
                            <table class="message-gift">
                                <tr>
                                    <td>
                                        <h3><?= /* @escapeNotVerified */  __('Gift Message') ?></h3>
                                        <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                                        <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                                        <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                                        <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <?php endif; ?>
                </tbody>
            <?php endif; $i++;?>
        <?php endforeach; ?>
        <tfoot class="order-totals">
            <?= $block->getChildHtml('order_totals') ?>
        </tfoot>
    </table>
    <?php if ($_order && $this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed('order', $_order, $_order->getStore()) && $_order->getGiftMessageId()): ?>
        <?php $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_order->getGiftMessageId()); ?>
        <?php if ($_giftMessage): ?>
            <br />
            <table class="message-gift">
                <tr>
                    <td>
                        <h3><?= /* @escapeNotVerified */  __('Gift Message for this Order') ?></h3>
                        <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                        <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                    </td>
                </tr>
            </table>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
