<?php
$porto_helper = $this->helper('Smartwave\Porto\Helper\Data');
?>
<li><a href="<?php echo $porto_helper->getBaseLinkUrl(); ?>contact"><?php echo __('List Your Practice'); ?></a></li>
<li><a href="<?php echo $porto_helper->getBaseLinkUrl(); ?>contact"><?php echo __('Need Help?'); ?></a></li>
<li><a href="<?php echo $porto_helper->getBaseLinkUrl(); ?>contact"><i class="porto-icon-phone-1" style="font-size:14px;color:#ffffff;"></i><?php echo __('1800 3000 5454'); ?></a></li>

