<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$header_type = $this->getConfig('porto_settings/header/header_type');
$header_new_skin = $this->getConfig('porto_settings/header/new_skin');

$storeInformation = $objectManager->create('Magento\Store\Model\Information');
$store = $objectManager->create('Magento\Store\Model\Store');
$storeInfo = $storeInformation->getStoreInformationObject($store);
$phone = $storeInfo->getPhone();

$request = $objectManager->get('\Magento\Framework\App\Request\Http');
$checkModule = $request->getFullActionName();
$class = $header_type == 17 || $header_type == 19 || $header_type == 16 || $header_type == 20 ? 'header-newskin' : '';
if (isset($header_new_skin) && $header_new_skin && ($header_type == 2 || $header_type == 5 || $header_type == 6 || $header_type == 7 || $header_type == 8 || $header_type == 13))
    $class = 'header-newskin';
if (isset($header_new_skin) && $header_new_skin && $header_type == 10)
    $class = 'header-new-skin';
$scopeConfig = $objectManager->create('Magento\Framework\App\Config\ScopeConfigInterface');
?>
<header class="page-header type<?php echo $header_type; ?> <?php echo $class; ?>" >
    <?php echo $this->getChildHtml("header_customer_form_login"); ?>
    <?php if ($header_type == 3 || $header_type == 4 || $header_type == 9): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <?php echo $this->getChildHtml("header.links"); ?>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 12): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <div class="top-links-area">
                        <a class="top-links-icon" href="javascript:void(0)">links</a>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 13): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <div class="menu-area">
                        <a href="javascript:void(0)" class="shop-menu">Shop</a>
                        <?php echo $this->getChildHtml("navigation.sections"); ?>
                    </div>
                    <div class="top-links-area">
                        <a class="top-links-icon" href="javascript:void(0)">links</a>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php if (isset($header_new_skin) && $header_new_skin): ?>
                        <?php echo $this->getChildHtml("custom_block"); ?>
                    <?php endif; ?>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 5): ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php if (isset($header_new_skin) && $header_new_skin): ?>
                    <div class="top-links-area">
                        <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links'); ?></a></div>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                <?php endif; ?>
                <?php if (!isset($header_new_skin) || !$header_new_skin): ?>
                    <?php echo $this->getChildHtml("header.links"); ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <div class="search-area">
                <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                <?php echo $this->getChildHtml("top.search"); ?>
            </div>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif ($header_type == 6): ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <div class="search-area">
                <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                <?php echo $this->getChildHtml("top.search"); ?>
            </div>
            <?php echo $this->getChildHtml("custom_block"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif ($header_type == 7): ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php if (!isset($header_new_skin) || !$header_new_skin): ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                <?php endif; ?>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><em class="porto-icon-search"></em><?php echo __('Search'); ?></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php if (isset($header_new_skin) && $header_new_skin): ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                <?php endif; ?>
                <span class="split"></span>
                <div class="toplinks-area">
                    <a href="javascript:void(0)" class="top-links-icon"><?php echo __('Links'); ?></a>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <span class="split"></span>
                <?php echo $this->getChildHtml("custom_block"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif ($header_type == 8): ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
        <div class="menu-container">
            <?php
            $toggle_text = $this->getConfig('porto_settings/header/toggle_text');
            $custom_block_id_8 = $this->getConfig('porto_settings/header/static_block_8');
            ?>
            <div class="container">
                <div class="menu-wrapper">
                    <div class="drop-menu">
                        <a href="javascript:void(0)">
                            <?php echo $toggle_text; ?>
                        </a>
                        <?php echo $this->getChildHtml("navigation.sections"); ?>
                    </div>
                    <div class="custom-menu-block">
                        <?php
                        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                        if ($block) {
                            $block->setBlockId($custom_block_id_8);
                        }
                        if ($block) {
                            echo $block->toHtml();
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 10): ?>
        <div class="switcher-area">
            <?php echo $this->getChildHtml("skip_to_content"); ?>
            <?php echo $this->getChildHtml("currency"); ?>
            <?php echo $this->getChildHtml("store_language"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php if (isset($header_new_skin) && $header_new_skin): ?>
                <?php echo $this->getChildHtml("top.search"); ?>
            <?php endif; ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <?php if (!isset($header_new_skin) || !$header_new_skin): ?>
                <?php echo $this->getChildHtml("top.search"); ?>
            <?php endif; ?>
        </div>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="custom-block-area">
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
    <?php elseif ($header_type == 14): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <div class="bottom-panel">
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i><span><?php echo __('Search'); ?></span></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
            </div>
            <?php echo $this->getChildHtml("minicart"); ?>
        </div>
    <?php elseif ($header_type == 15): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="header-right-area">
                <div class="switcher-area">
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i><span><?php echo __('Search'); ?></span></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                    <div class="cart-area">
                        <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                        <?php echo $this->getChildHtml("currency"); ?>
                        <?php echo $this->getChildHtml("store_language"); ?>
                        <?php echo $this->getChildHtml("minicart"); ?>
                    </div>
                </div>
                <div class="header-link-area">
                    <div class="top-links-area panel header">
                        <?php echo $this->getChildHtml("skip_to_content"); ?>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <div class="main-link">
                        <?php echo $this->getChildHtml("navigation.sections"); ?>
                    </div>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 2 && isset($header_new_skin) && $header_new_skin): ?>
        <div class="main-panel-top">
            <div class="container">
                <div class="main-panel-inner">
                    <div class="panel wrapper">
                        <div class="panel header">
                            <?php echo $this->getChildHtml("skip_to_content"); ?>
                            <?php echo $this->getChildHtml("currency"); ?>
                            <?php echo $this->getChildHtml("store_language"); ?>
                            <?php echo $this->getChildHtml("header.links"); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php elseif ($header_type == 18): ?>
        <div class="main-panel-top">
            <div class="container">
                <div class="main-panel-inner">
                    <div class="panel wrapper">
                        <div class="panel header">
                            <?php echo $this->getChildHtml("skip_to_content"); ?>
                            <?php echo $this->getChildHtml("header.links"); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header content">
            <div class="select-area">
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
            </div>
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php elseif ($header_type == 20): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                </div>
                <div class="bottom-panel">
                    <div class="top-links-area">
                        <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links'); ?></a></div>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
        </div>
    <?php elseif ($header_type == 17): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                    <div class="top-links-area">
                        <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links'); ?></a></div>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif ($header_type == 19): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <div class="top-links-area">
                    <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links'); ?></a></div>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php
    else:
        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
        $baseurl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
        $homeUrl = substr($baseurl, 0, strrpos($baseurl, "/medicines"));
        ?>
        <div class="sticky-head">   
            <header>

                <div class="header-main">
				  <div class="header-one d-sm-none d-md-block">
                    <div class="header-top d-flex align-items-center justify-content-between">
                        <div class="options-left d-flex align-items-center">
                            <a href="<?php echo $homeUrl; ?>#downloadApp" class="d-flex align-items-center mr-4">Download the app</a>
                            <a href="<?php echo $homeUrl; ?>#userOffers" class="d-flex align-items-center">0ffers</a>
                        </div>

                        <div class="primary-options d-flex align-items-center d-none d-sm-none d-md-block">
                            <ul class="primary-links d-flex align-items-center">
                                <!--<li><a href="<?php //echo $homeUrl; ?>#listPractice"> List your Practice </a></li>-->
                                <!--<li><a href="/#submitEnquiry"> Need Help? </a></li>--> 
                                <li><a href="tel:<?php echo $phone;?>" class="d-flex align-items-center mobileno"><span
                                            class="icon phone-header-icon"></span> <?php echo 'Call us at '.$phone;?> </a></li>  
                                 

                            </ul>
                        </div>
                    </div>
                </div>
                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav d-flex align-items-center justify-content-between order-md-1 ">
                            <li class="header-logo">
                                <?php $logAlt = $this->getConfig('design/header/logo_alt'); ?>
                                <a class="navbar-brand" href="<?php echo $homeUrl; ?>"><img alt="<?php echo $logAlt;?>" src='<?php echo $this->getViewFileUrl('Magento_Theme::images/customheader/images/logo.png'); ?>'> </a>

                            </li>
                            <li class="nav-item active menu">
                                <a href="javascript:void(0);" class="menu-icon dropdown-toggle" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class="icon menu-tray"></span> </a>
                                <div class="mega-menu dropdown-menu">
                                    <h5 class="text-uppercase">Services</h5>
                                    <div class="menu-area">
                                        <div class="services">
                                            <div class="d-flex align-items-end flex-wrap justify-content-start">
                                                <div class="service-list">
                                                    <a href="<?php echo $homeUrl; ?>"
                                                       class="service-name d-flex flex-column align-items-center">
                                                        <span class="icon doctor-icon"></span>
                                                        Book Doctor Appointment
                                                    </a>
                                                </div>
                                                <div class="service-list">
                                                    <a href="<?php echo $homeUrl; ?>/diagnostics/pathology"
                                                       class="service-name d-flex flex-column align-items-center">
                                                        <span class="icon test-icon"></span>
                                                        Book Tests &amp; Packages
                                                    </a>
                                                </div>
                                                <div class="service-list">
                                                    <a href="<?php echo $homeUrl; ?>/online-consult/doctors"
                                                       class="service-name d-flex flex-column align-items-center">
                                                        <span class="icon consultation-icon"></span>
                                                        Get Online Consultation
                                                    </a>
                                                </div>
                                                <div class="service-list">
                                                    <a href="<?php echo $homeUrl; ?>/medicines"
                                                       class="service-name d-flex flex-column align-items-center">
                                                        <span class="icon medicine-icon"></span>
                                                        Order Medicines
                                                    </a>
                                                </div>
                                                <div class="service-list">
                                                    <a href="<?php echo $homeUrl; ?>"
                                                       class="service-name d-flex flex-column align-items-center">
                                                        <span class="icon wellness-icon"></span>
                                                        Get Wellness Packages
                                                    </a>
                                                </div>
                                                <div class="service-list">
                                                    <a href="<?php echo $homeUrl; ?>/home-healthcare"
                                                       class="service-name d-flex flex-column align-items-center">
                                                        <span class="icon healthcare-icon"></span>
                                                        Book Home Healthcare
                                                    </a>
                                                </div>
                                                <div class="service-list">
                                                    <a href="<?php echo $homeUrl; ?>/ask-zoy"
                                                       class="service-name d-flex flex-column align-items-center">
                                                        <span class="icon ask-zoy-icon"></span>
                                                        Ask </br>'zoy'
                                                    </a>

                                                </div>
												  <div class="service-list">
                                                    <a href="<?php echo $homeUrl; ?>/corporate-wellness"
                                                       class="service-name d-flex flex-column align-items-center">
                                                        <span class="icon corporate-wellness-icon"></span>
                                                         Corporate</br>Wellness</a>
                                                  </div>
												    <div class="service-list">
                                                    <a href="<?php echo $homeUrl; ?>/hospital-packages"
                                                       class="service-name d-flex flex-column align-items-center">
                                                        <span class="icon hospital-package-icon"></span>
                                                         Hospital</br>Packages</a>
                                                  </div>
                                                <div class="service-list">
                                                    <a href="https://cms.zoylo.com/ "
                                                       class="service-name d-flex flex-column align-items-center">
                                                        <span class="icon knowledge-base-icon"></span>
                                                        Knowledge Base
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
							<li class="menu-section-header"><?php echo $this->getChildHtml("navigation.sections");?></li>
							<li><div class="user-profile order-md-3 flex-grow-1 text-right">
                            <?php
                            echo $this->getChildHtml("minicart");
                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $customerSession = $objectManager->get('Magento\Customer\Model\Session');
                            $customerName = $customerSession->getCustomer()->getFirstname();
                            $groupId = $customerSession->getCustomerGroupId(); 
                            
                            ?>
    <?php if ($groupId == '' || $groupId == 0) { ?>
                            <?php $currentZoyloMedicineUrl  = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>
                            <?php $explodeCurrentZoyloMedUrl = explode("/medicines",$currentZoyloMedicineUrl); ?>
                            <?php $encodeMedUrl = ''; ?>
                            <?php if(isset($explodeCurrentZoyloMedUrl) && isset($explodeCurrentZoyloMedUrl[1])){ ?>
                                    <?php $encodeMedUrl = $explodeCurrentZoyloMedUrl[1];  ?>
                             <?php  } ?>
                                <p class="greet-text"><a href="<?php echo $homeUrl; ?>/login?redirect=/medicines<?php echo $encodeMedUrl; ?>"  class="white-text sign-in">Login / Sign Up</a></p>
    <?php } else { ?>
                                <div class="user-loggedin">
                                    <div class=" d-flex align-items-center justify-content-end">
                                        <a href="javascript:void(0);" class="dropdown-toggle d-flex align-items-center"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <!--<p class="white-text font-bold mr-2 mb-0"><span class="user"> Logged in as<?php //echo $customerName; ?></span>
                                            </p>-->
											 <div class="user-name"><span> Logged in as <br> <b><?php echo $customerName; ?></b></span>
                                            </div>

											<img id="id_user_profile_pic" src='<?php echo $this->getViewFileUrl('Magento_Theme::images/customheader/images/userprofile.svg'); ?>' width="30" height="30" class=" rounded-circle">
                                        </a>
                                        <div class="user-dropdown dropdown-menu">
                                            <ul class="profile-list">
                                                <li><a href="<?php echo $homeUrl; ?>/my-profile/view-profile">My Profile</a></li>
                                                <li><a href="<?php echo $homeUrl; ?>/my-appointments/doctor">My Appointments</a></li>
                                                <li><a href="<?php echo $homeUrl; ?>/my-consultation">My Consultation</a></li>
                                                <li><a href="<?php echo $homeUrl; ?>/my-orders">My Orders</a></li>
                                                <li><a href="<?php echo $homeUrl; ?>/my-prescriptions">My Prescriptions</a></li>
                                                <li><a href="<?php echo $homeUrl; ?>/my-wallet">Zoylo Wallet</a></li>
                                                <li><a href="javascript:void(0);" class="logout" id="clear">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        <?php } ?>
                        </div></li>
                        </ul>

    <?php //}  ?>
	
	                  
	
	
	                   
	

                    </nav>
					
<div class="container-fluid main-search">
<div class="row">
<div class="col-sm-12">
	<form action="<?php echo $baseurl;?>catalogsearch/result/" method="GET" class="main-search my-2 order-md-2 my-lg-0 d-flex align-items-center justify-content-start">
     <div class="location">
     <div class="d-flex align-items-center justify-content-between location-container">
     <a href="javascript:void(0);" class="location-detect order-md-2" data-toggle="modal"
                                       data-target="#location-modal">
	 <span class="icon location-icon m-0"></span> </a>
<input size="lg" class="location-input form-control order-md-1" type="text"
                                           placeholder="Location" Value=""/></div>
<div class="contact-no-mobile"><a href="tel:<?php echo $phone;?>"><?php echo $phone;?> </a></div>
</div>
<div class="form-group d-flex align-items-center m-0 w-100 ">
<span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Shop By Category') ?></span></span>
    <?php echo $this->getChildHtml("top.search"); ?></div></form></div>
</div>
</div>					
                </div>

</header>
    <?php  //if($checkModule != 'checkout_index_index'){?>
            
    <?php //echo $this->getChildHtml("navigation.sections"); } ?>

            <div class="header-popup-location">
                <div class="modal fade" id="location-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="location-popup">
                                    <div class="container">
                                        <h3 class="text-center">Select your location</h3>
                                        <div class="d-flex align-items-center justify-content-between location-form">
                                            <input type="text" class="form-control p-0" required
                                                   placeholder="Enter your Location">
                                            <a href="javascript:void(0);" class="font-medium  order-md-2 d-flex">Detect my location
                                                <span class="icon location-icon m-0"></span> </a>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 col-md-3">
                                                <div class="city-details">
                                                    <span class="icon mumbai"></span>
                                                    <h6> Mumbai </h6>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="city-details">
                                                    <span class="icon hyderabad"></span>
                                                    <h6> Hyderabad </h6>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="city-details">
                                                    <span class="icon delhi"></span>
                                                    <h6> Lucknow </h6>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="city-details">
                                                    <span class="icon chennai"></span>
                                                    <h6> Chennai </h6>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="city-details">
                                                    <span class="icon ahmedabad"></span>
                                                    <h6> Ahmedabad </h6>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="city-details">
                                                    <span class="icon kolkata"></span>
                                                    <h6> Kolkata </h6>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="city-details">
                                                    <span class="icon delhi"></span>
                                                    <h6> Lucknow </h6>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-3">
                                                <div class="city-details">
                                                    <span class="icon chennai"></span>
                                                    <h6> Chennai </h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="divider"><span class="divider-text">OR</span></div>

                                        <div class="d-flex align-items-center justify-content-between location-form w-50">
                                            <input id="location-detect" type="text" placeholder="Enter PIN Code"
                                                   class="form-control p-0">
                                            <a href="javascript:void(0);" class="font-medium  order-md-2 d-flex"> <span
                                                    class="icon go-arrow"></span> </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <?php
        $request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
        if ($request->getFullActionName() == 'cms_index_index') {
            ?>
			
			
	<div class="container-fluid home-upload-block" >
	<div class="home-upload-block-center" >
       <div class="row">
	   <div class="col-sm-12">  
    <div class="col-sm-6">
      <div class="main-order-medicine">
	  <div class="order-medicine-txt"><h3>Order Medicines through prescription</h3><p>& get them delivered at home</p></div>
	  <div class="order-upload"><a  class="upload-pre" href="<?php echo $baseurl; ?>uploadprescription/index">Upload&nbsp;prescription</a></div>
	  </div></br>
	  <div class="upload-prescription-steps"><ul>
	  <li><div class="deliver-block">
                <span class="zoylo-icon upload-your-prescription1"></span>
                <span class="zoylo-icon-caption">
                Upload Your <br>Prescription</span>
                </div>
				</li>
				<li class="beforeborder"></li>
				<li><div class="deliver-block">
                <span class="zoylo-icon call-confirm1"></span>
                <span class="zoylo-icon-caption">
                We Will Call  <br>You to Confirm</span></div>
				</li><li class="afterborder"></li>
				<li><div class="deliver-block">
                     <span class="zoylo-icon delivery-doorstep1"></span>
                     <span class="zoylo-icon-caption">
                                Get Delivery <br>at Doorstep</span>
                         </div></li></ul></div></br>
	  <div class="pre-donot"><h3>Do not have a prescription?</h3><p>Once you select your medicines, our doctor will help you prescribing them</p>
	  <span class="order-upload-mobile"><a  class="upload-pre" href="<?php echo $baseurl; ?>uploadprescription/index">Upload&nbsp;prescription</a></span>
	  
	  
	  </div>
    </div>
    <div class="col-sm-6 dealsnew-block" id="static-slider">
<h3><?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('deals-day')->toHtml();
?></h3>
    </div>
  </div>
  </div>
  </div>
</div>



    <?php } ?>
    <?php endif; ?>

    <!--<div class="checkout-header">
<?php //echo $this->getChildHtml("logo");  ?>
    </div>-->
</header>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        $(document).ready(function () {
            $('.sign-in, .logout').on('click', function () {
                $('.greet-text, .user-loggedin').toggle();
            });
        });
        $('#clear').click( function() {
                $.cookie('mage-cache-sessid', null);
                localStorage.clear();
                window.location.href = "<?php echo $baseurl;?>customer/account/logout";  
            });
    });
</script>
<?php
 // getModuleName()

$itemModel = $objectManager->create('Magento\Quote\Model\Quote\Item');

// remove free item in some pages
if($checkModule == 'cms_index_index' || $checkModule == 'catalog_category_view' || $checkModule == 'catalog_product_view'){ 

	$checkoutSession = $objectManager->get('\Magento\Checkout\Model\Session');
	$allItems = $checkoutSession->getQuote()->getAllVisibleItems();
		foreach ($allItems as $item) {
				$itemId = $item->getItemId();
				$itemSku = $item->getSku();
			if ($itemSku == 'Free') {
				$quoteItem = $itemModel->load($itemId);
				$quoteItem->delete(); // deletes the item
			}
		} 
}

if($checkModule == 'checkout_cart_index'){ 
	$session =  $objectManager->get("Magento\Checkout\Model\Session");
	$quote =$session->getQuote();
	$allItems = $quote->getAllItems();
	if(count($allItems)>0) {
		foreach($allItems as $items){
			$sku = $items->getSku();
			$productRepository = $objectManager->create('Magento\Catalog\Model\ProductRepository');
			$product = $productRepository->get($sku);
			$prescriptionAction = $product->getPrescriptionRequired(); 
			if($sku!='Free'){
			if(isset($prescriptionAction) && $prescriptionAction == 'required')
				{
					$required[] = $sku;
				}else{
					$notrequired[] = $sku;
				}
			}
		}
		if (isset($required) && count($required) >= 1) {  ?>
			<div class="cart-widget-container">   
			<div class="container">
				<div class="row"> 
					<ul class="col d-flex">
						<li class="col p-0 cart-widget"><a class="cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>My Cart</p></a></li>   
						<li class="col p-0 pri-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Upload Prescription</p></a></li>
						<li class="col p-0 checkout-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Checkout</p></a></li>
						<li class="p-0 confirm-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Order Confirmation</p></a></li> 
					</ul>
					</div>
				</div>
			</div>
		<?php } else{ ?>
			<div class="cart-widget-container">   
			<div class="container">
				<div class="row"> 
					<ul class="col d-flex">
				<li class="col p-0 cart-widget"><a class="cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>My Cart</p></a></li>
				<li class="col p-0 pri-widget nonrx"><a class="cart-widget cart-widget-active cart-widget-completed "><i class="widget-icon"></i><p>Upload Prescription</p></a></li>   
				<li class="col p-0 checkout-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Checkout</p></a></li>
				<li class="p-0 confirm-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Order Confirmation</p></a></li> 
				</ul>
					</div>
				</div>
			</div>
		<?php }
	}
}elseif($checkModule == 'checkout_index_index'){ 
	$session =  $objectManager->get("Magento\Checkout\Model\Session");
	$quote =$session->getQuote();
	$allItems = $quote->getAllItems();
	if(count($allItems)>0) {
		foreach($allItems as $items){
			$sku = $items->getSku();
			$productRepository = $objectManager->create('Magento\Catalog\Model\ProductRepository');
			$product = $productRepository->get($sku);
			$prescriptionAction = $product->getPrescriptionRequired(); 
			if($sku!='Free'){
			if(isset($prescriptionAction) && $prescriptionAction == 'required')
				{
					$required[] = $sku;
				}else{
					$notrequired[] = $sku;
				}
			}else{
				$uploadflow[] = $sku;
			}
		}

		if (isset($uploadflow) && count($uploadflow) == 1) { ?>
		 <!-- Upload Steps -->
  <div class="col-sm-12 checkout-upload">    
    <div class="upload-widget-container">   

      <div class="container">
        <div class="row"> 
          <ul class="col d-flex upload-ui-list"> 
            <li class="col p-0 widget-completed"><i class="widget-icon"><span>01</span></i><p>Upload your<br />Prescription</p></li>   
            <li class="col p-0 widget-completed"><i class="widget-icon"><span>02</span></i><p>Specify <br />Medicines</p></li>
            <li class="p-0 widget-active"><i class="widget-icon"><span>03</span></i><p>Place your <br />Order</p></li> 
          </ul>

          <div class="upload-offers">
              <div class="upload-offers-checked">
               <span class="coupon-applied"> Best Coupon Applied </span> 
            </div> 
         </div> 
        </div>
      </div>
    </div>


  </div>
  <script type="text/javascript"> 
    require([
        'jquery', 'jquery/ui' 
    ], function ($) {
        $(document).ready(function () {
         
            /* $(".checkout-upload" ).prependTo( "#checkout");        */ 
            $("#onestepcheckout-page" ).addClass( "onlyuploadflow");   
                 
        });
    });
</script>
  <!-- Upload Steps-->
		<?php }else{
		if (isset($required) && count($required) >= 1) {  ?>
			<div class="cart-widget-container">   
			<div class="container">
				<div class="row"> 
					<ul class="col d-flex">
						<li class="col p-0 cart-widget"><a class="cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>My Cart</p></a></li>   
						<li class="col p-0 pri-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Upload Prescription</p></a></li>
						<li class="col p-0 checkout-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Checkout</p></a></li>
						<li class="p-0 confirm-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Order Confirmation</p></a></li> 
					</ul>
					</div>
				</div>
			</div>
		<?php } else{ ?>
			<div class="cart-widget-container">   
			<div class="container">
				<div class="row"> 
					<ul class="col d-flex">
				<li class="col p-0 cart-widget"><a class="cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>My Cart</p></a></li>
				<li class="col p-0 pri-widget nonrx"><a class="cart-widget cart-widget-active cart-widget-completed "><i class="widget-icon"></i><p>Upload Prescription</p></a></li>   
				<li class="col p-0 checkout-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Checkout</p></a></li>
				<li class="p-0 confirm-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Order Confirmation</p></a></li> 
				</ul>
					</div>
				</div>
			</div>
<?php }
	} }
}
elseif($checkModule == 'checkout_onepage_success'){ 
			$checkoutSession = $objectManager->get('\Magento\Checkout\Model\Session');
			$order = $checkoutSession->getLastRealOrder();
			$orderId = $order->getEntityId();
			$allItems = $order->getAllItems();
			
			foreach($allItems as $items){
				$sku = $items->getSku();
				$productRepository = $objectManager->create('Magento\Catalog\Model\ProductRepository');
				$product = $productRepository->get($sku);
				$prescriptionAction = $product->getPrescriptionRequired(); 
				if($sku!='Free'){
				if(isset($prescriptionAction) && $prescriptionAction == 'required')
					{
						$required[] = $sku;
					}else{
						$notrequired[] = $sku;
					}
				}
			}
			if (isset($required) && count($required) >= 1) {  ?>
				<div class="cart-widget-container">   
			<div class="container">
				<div class="row"> 
					<ul class="col d-flex">
						<li class="col p-0 cart-widget"><a class="cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>My Cart</p></a></li>   
						<li class="col p-0 pri-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Upload Prescription</p></a></li>
						<li class="col p-0 checkout-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Checkout</p></a></li>
						<li class="p-0 confirm-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Order Confirmation</p></a></li> 
						</ul>
					</div>
				</div>
			</div>
			<?php }else{ ?>
				<div class="cart-widget-container">   
					<div class="container">
						<div class="row"> 
							<ul class="col d-flex">
								<li class="col p-0 cart-widget"><a class="cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>My Cart</p></a></li>
								<li class="col p-0 pri-widget nonrx"><a class="cart-widget cart-widget-active cart-widget-completed "><i class="widget-icon"></i><p>Upload Prescription</p></a></li>   
								<li class="col p-0 checkout-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Checkout</p></a></li>
								<li class="p-0 confirm-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Order Confirmation</p></a></li>
							</ul>
							</div>
						</div>
					</div>
			<?php } } elseif($checkModule == 'uploadprescription_index_save'){  ?>
            <div class="cart-widget-container">   
            <div class="container">
                <div class="row"> 
                    <ul class="col d-flex">  
                        <li class="col p-0 pri-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Upload Prescription</p></a></li>
                        <li class="col p-0 checkout-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Checkout</p></a></li>
                        <li class="p-0 confirm-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Order Confirmation</p></a></li> 
                        </ul>
                    </div>
                </div>
            </div>
			<?php } elseif($checkModule == 'uploadprescription_index_specify'){  ?>
			<div class="cart-widget-container">   
            <div class="container">
                <div class="row"> 
                    <ul class="col d-flex">  
                        <li class="col p-0 pri-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Upload Prescription</p></a></li>
                        <li class="col p-0 checkout-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Checkout</p></a></li>
                        <li class="p-0 confirm-widget"><a class="cart-widget cart-widget-active cart-widget-completed"><i class="widget-icon"></i><p>Order Confirmation</p></a></li> 
                        </ul>
                    </div>
                </div>
            </div>
			<?php }  ?>

	  <script type="text/javascript"> 
    require([
        'jquery', 'jquery/ui' 
    ], function ($) {
        $(document).ready(function () {  
          $('.block.upsell').appendTo('.column.main');
          $.ajax({
            url: "<?php echo $scopeConfig->getValue('profilepic_settings/zoylo/userprofile_url', \Magento\Store\Model\ScopeInterface::SCOPE_STORE); ?>",
            method: "GET",
            contentType: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', "Bearer "+localStorage.getItem("<?php echo $scopeConfig->getValue('profilepic_settings/zoylo/userprofile_token', \Magento\Store\Model\ScopeInterface::SCOPE_STORE); ?>"));
            },
            success:function(response)
            {
                try{
                    $('#id_user_profile_pic').attr('src',response.data.imageGallery[0].imageLocation);   
                }
                catch (err)
                {
                    console.log('Error in profile picture');
                }
            }
            });
          
        }); 
    });   
</script>  
