<?php $helper = $this->helper("Prince\Buynow\Helper\Data"); ?>
<?php $addtocartId = $helper->getConfig('buynow/general/addtocart_id'); ?>
<?php $buttonTitle = $helper->getConfig('buynow/general/button_title'); ?>
<?php $formId = $addtocartId ? $addtocartId : "product_addtocart_form"; 
$_product = $block->getProduct();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$sellable_flag = $_helper->productAttribute($_product, $_product->getSellableFlag(), 'sellable_flag'); 
if($sellable_flag == 1){
?>
<div class="buynow-button">
    <button type="submit" title="<?php /* @escapeNotVerified */ echo __($buttonTitle) ?>" id="buy-now" class="action primary" data-mage-init='
    {
        "Prince_Buynow/js/buy-now": {
            "form": "#<?php echo $formId; ?>"
        }
    }
    '>
        <span><?php /* @escapeNotVerified */ echo __($buttonTitle) ?></span>
    </button>
</div>
<?php } ?>