.cms-index-index .page-main {
  margin: 0;
  padding: 0;
}
/* Doorstep Deliver */

.doorstep-deliver {
  min-height:130px;
  background: #fff;
  border: oldlace;
  position:relative;
}

.doorstep {
  font-size: 24px;
  color: #1d2d3d;
  margin-top: 5px;
  text-align: left;
  line-height: 38px;
  font-family: DINPro-Bold;
  text-transform: capitalize;
}

.doorstep-icon {
  width: 30px;
  height: 31px;
  margin-right: 15px;
  background-position: -328px -133px;
}

.order-btns {
  padding-top: 15px;
}

a.upload-pre {
  background-color: #faa74a;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding:8px 21px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: 500;
    font-family: DINPro-Medium;
}

a.dohave-pre {
  background-color: #fff;
  text-align: center;
  border: 1px solid #6d6e70;
  color: #faa74a;
  font-size: 13px;
  padding: 10px 26px;
  margin-left: 20px;
  text-transform: uppercase;
  line-height: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.dohave-pre:hover {
  color: #faa74a;
  text-decoration: none;
  background-color: #f4f5f7;
  border-color: #faa74a;
}

.dohave-pre:active {
  background-color: #e5e5e5;
}

.upload-pre:hover {
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.upload-pre:active {
  background-color: #e08724;
}

@media (min-width:768px) and (max-width:1199px) {
  .doorstep-icon {
    margin-bottom: 3px;
  }

  .doorstep {
    font-size: 22px;
    line-height: 26px;
  }

  a.dohave-pre {
    float: right;
    margin: -9px 0 0 15px;
  }

  a.upload-pre {
    padding: 10px 20px;
  }

  .doorstep {
    font-size: 20px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  a.dohave-pre {
    margin: 20px 0 0 15px;
  }

  .cms-porto-home-5-old .page-header .doorstep-deliver {
    margin-top: 28px;
  }
}

@media (max-width:767px) {
  .cms-porto-home-5-old .page-header .doorstep-deliver {
    display: block;
  }

  .doorstep {
    display: none;
  }

  .order-btns {
    padding-top: 24px;
  }

  a.upload-pre {
    /*width: 100%;*/
    display: inline-block;
    margin: 0 auto 10px;
	
	
  }

  a.dohave-pre {
    width: 100%;
    display: inline-block;
    margin: auto;
  }
}

  /* Doorstep Deliver */

  /* Shop By Brands */
.home-blocks {
  margin-bottom: 39px;
}

.home-blocks h3 {
  font-weight: 500;
  font-family: DINPro-Medium;
  line-height: 23px;
  font-size:18px;
  margin-top: 0;
  color: #1d2d3d;
  text-transform: uppercase;
}

.symptoms {
  max-width: 162px;
  min-height: 175px;
  border: 1px solid #eaeaea;
  text-align: center;
  padding: 0px;
  margin: 0 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.symptoms:hover {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.shop-by-symptoms .owl-carousel.owl-drag .owl-item {
  padding: 10px 0px;
}

.shop-by-symptoms .owl-carousel .owl-item img {
  transform-style: preserve-3d;
  width: auto;
  margin: 0 auto 0px;
}

.shop-by-symptoms .image-link {
  margin: auto;
  padding: 20px;
  height: 100%;
  text-align: center;
  display: inherit;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0Px;
  top: 0;
}

.shop-by-symptoms .image-link img {
  width: auto;
  display: block;
  margin: auto;
  max-width: 55%;
}

.symptoms-name a {
  font-weight: 500;
  font-family: DINPro-Medium;
  line-height: 18px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #1d2d3d;
  text-transform: uppercase;
}

.sbs-blocks {
  border: 0px solid #c3c3c3;
  max-width: 162px;
  min-height: 162px;
  padding: 0;
  width: 100%;
}

.sbs-blocks:hover {
  background: #8e5ba6;
  text-decoration: none;
}

.sbs-blocks span {
  font-size: 16px;
  color: #1d2d3d;
  font-weight: 500;
  font-family: DINPro-Medium;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 10px;
  display: inline-block;
  min-height: 32px;
}

.sbs-blocks:hover span {
  text-decoration: none;
}

.shop-by-symptoms a {
  text-decoration: none;
}
  /* Shop By Brands */
  /* Main Banner */
.home-blocks .owl-theme .owl-controls {
  margin-top: -24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.home-blocks .owl-nav {
  margin-top: 0px;
}

.owl-theme .owl-controls .owl-nav .owl-prev,
.owl-theme .owl-controls .owl-nav .owl-next {
  position: absolute;
  background: hsla(0,0%,100%,.9);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
}

.owl-theme .owl-controls .owl-nav .owl-prev {
  left: -40px;
}

.owl-theme .owl-controls .owl-nav .owl-next {
  right: -40px;
}

.owl-carousel .owl-nav.disabled {
  display: block;
}

#home-slider.owl-carousel.owl-drag .owl-item {
  padding: 0px;
}

.owl-carousel .owl-stage {
  transition: all 1.2s ease 0s !important;
}

.porto-icon-left-open-huge::before {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background: url(../images/spritesheet.svg) no-repeat;
  content: "";
  height: 15px;
  width: 14px;
  display: inline-block;
  background-position: -34px -28px;
}

.porto-icon-right-open-huge::before {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background: url(../images/spritesheet.svg) no-repeat;
  content: "";
  height: 15px;
  width: 14px;
  display: inline-block;
  background-position: -16px -28px;
}

.owl-theme .owl-controls .owl-nav .owl-prev:hover,
.owl-theme .owl-controls .owl-nav .owl-next:hover {
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
}

.owl-theme .owl-controls .owl-nav .owl-prev:hover .porto-icon-left-open-huge::before {
  background-position: -34px -44px;
}

.owl-theme .owl-controls .owl-nav .owl-next:hover .porto-icon-right-open-huge::before {
  background-position: -16px -44px;
}

#home-slider.owl-carousel .item {
  padding: 98px 50px;
}

#home-slider.owl-carousel .caption {
  display: block;
  width: 100%;
  text-align: left;
}

#home-slider.owl-carousel .owl-nav.disabled {
  display: none;
}

#home-slider .owl-dots {
  text-align: left;
}

#home-slider.owl-carousel .item::after {
  content: " ";
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: none;
}

#home-slider.owl-carousel .item * {
  position: static;
  z-index: 12;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 5px 3px;
  border: #fff 0px solid;
  padding: 4px;
  background: #fff;
  opacity: 0.2;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
  border: #faa74a 0px solid;
  padding: 4px 10px;
  opacity: 0.8;
}

.owl-carousel .owl-stage-outer {
  width: 100%;
}

.owl-carousel .owl-stage:after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.owl-top-narrow .owl-theme .owl-controls .owl-nav [class*="owl-"] em::before {
  margin: 0;
}

.owl-theme .owl-controls em {
  margin-top: 0px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media (min-width:768px) {
  .page-header.type2:not(.header-newskin) {
    background-color: #fff;
  }

  #home-slider.owl-carousel .item {
    float: left;
    max-width: 100%;
    text-align: left;
    height: 210px;
    width: 100%;
  }

  #home-slider.owl-carousel .caption {
    width: 45%;
  }

  #home-slider.owl-theme .owl-controls {
    float: right;
    width: auto;
    margin-top: auto;
    position: absolute;
    left: 60px;
    bottom: 15%;
    right: 15%;
  }

  #home-slider.owl-carousel .item.banner1 {
    background-position: 20% 0 !important;
  }

  #home-slider.owl-carousel .item.banner2 {
    background-position: 20% 0 !important;
  }

  #home-slider.owl-carousel .item.banner3 {
    background-position: 20% 0 !important;
  }
}

@media (min-width:992px) {
  #home-slider.owl-carousel .item {
    height: 280px;
  }
}

@media (min-width:1200px) {
  .parallax-slider .owl-carousel p {
    margin-bottom: 25px;
  }

  #home-slider.owl-carousel .item {
    height: 328px;
  }
}

@media (max-width:991px) {
  .parallax-slider .owl-carousel h2 {
    font-size: 20px;
  }

  .parallax-slider .owl-carousel h2 b {
    font-size: 30px;
  }

  #home-slider.owl-carousel .item.banner1 {
    background-position: 90% 0 !important;
  }

  #home-slider.owl-carousel .item.banner2 {
    background-position: 90% 0 !important;
  }

  #home-slider.owl-carousel .item.banner3 {
    background-position: 90% 0 !important;
  }
}

@media (max-width:767px) {
  .home-blocks h3 {
    font-size:14px !important;
    margin-bottom: 20px;
  }

  .products .owl-carousel .owl-item img {
    max-width: 120px;
  }

  .parallax-slider .owl-carousel h2 {
    color: #1d2d3d;
  }

  #home-slider.owl-carousel .item.banner1 {
    background-position: -66% 0 !important;
  }

  #home-slider.owl-carousel .item.banner2 {
    background-position: -66% 0 !important;
  }

  #home-slider.owl-carousel .item.banner3 {
    background-position: -66% 0 !important;
  }

  .owl-top-narrow .owl-theme .owl-controls .owl-nav [class*=owl-] em:before {
    margin: 11px 7px;
  }

  .porto-icon-left-open-huge::before {
    margin: 11px 7px;
  }

  .porto-icon-right-open-huge::before {
    margin: 11px 7px;
  }

  #home-slider.owl-carousel .item {
    padding: 24% 15px;
  }

  #home-slider.owl-carousel .item br {
    display: block;
  }

  #home-slider.owl-carousel .caption {
    display: block;
    width: 100%;
  }

  .owl-theme .owl-controls .owl-nav .owl-prev,
  .owl-theme .owl-controls .owl-nav .owl-next {
    height: 32px;
    width: 31px;
    line-height: 32px;
  }

  .owl-theme .owl-controls .owl-nav .owl-prev {
    left: -13px;
  }

  .owl-theme .owl-controls .owl-nav .owl-next {
    right: -13px;
  }

  #home-slider.owl-theme .owl-controls {
    margin: -80px 0 30px 25px;
  }
}

@media (min-width:992px) and (max-width:1280px) {
  .owl-theme .owl-controls .owl-nav .owl-prev {
    left: -22px;
  }

  .owl-theme .owl-controls .owl-nav .owl-next {
    right: -22px;
  }
} 
 /* Main Banner */
/* Banner Images */
.mobile-slider {
  display: none;
}

.desktop-slider {
  display: block;
}

@media (max-width: 767px) {
  .desktop-slider {
    display: none;
  }

  .mobile-slider {
    display: block;
  }

  .item.responsive-img {
    height: 360px;
    width: 360px;
    margin: auto;
    padding: 10% 0;
  }

  .mobile-slider .parallax-slider .owl-carousel h2 {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
  }

  .mobile-slider .parallax-slider .owl-carousel h2 b {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
  }

  .mobile-slider .owl-carousel .owl-nav.disabled {
    display: none;
  }

  .mobile-slider .owl-dots {
    position: absolute;
    bottom: 16%;
    left: 16%;
  }

  .mobile-slider .caption {
    margin: 0 0 0 12%;
    max-width: 44%;
    text-align: left;
  }

  #mobile-home-slider.owl-carousel.owl-drag .owl-item {
    padding: 0px;
  }

  .toolbar-products {
    display: block !important;
  }
}

@media (max-width: 400px) {
  .mobile-slider .owl-dots {
    position: absolute;
    bottom: 20%;
    left: 12%;
  }

  .item.responsive-img {
    height: 360px;
    width: 100%;
    margin: auto;
    padding: 12% 0;
    background-size: 100% !important;
  }
}

@media (max-width: 369px) {
 
  .item.responsive-img {
    height: 360px;
    width: 100%;
    margin: auto;
    padding: 12% 0;
    background-size: 100% !important;
  }

  .mobile-slider .owl-dots {
    position: absolute;
    bottom: 24%;
    left: 12%;
  }
}

@media (max-width: 359px) {
  .item.responsive-img {
    height: 320px;             
  }
} 
/* Banner Images */ 
/* Banner */

.home-bottom-slider .parallax-slider {
  min-height: 300px;
}
@media (max-width:1199px) {
  #home-slider.owl-carousel .item {
    height: 248px;
    background-size: 100% !important;
    padding: 70px 60px;
  }

  #home-slider.owl-carousel .caption {
    width: 50%;
  }

  .home-bottom-slider .item {
    background-size: 100% !important;
    min-height: 228px;
    padding: 40px 50px;
  }

  .home-bottom-slider .caption {
    max-width: 70%;
  }

  .home-bottom-slider  .parallax-slider {
    min-height: 228px;
  }
}

@media (max-width:991px) {
 
  #home-slider.owl-carousel .item {
    height: 184px;
    background-size: 100% !important;
    padding: 40px 0 0 30px;
  }

  #home-slider.owl-carousel .caption {
    width: 50%;
  }

  .parallax-slider {
    min-height: 184px;
  }

  #home-slider.owl-theme .owl-controls {
    left: 30px;
    bottom: 10%;
    right: 15%;
  }

  .parallax-slider .owl-carousel h2 b {
    font-size: 30px;
    line-height: 30px;
  }

  .home-bottom-slider .item {
    background-size: 100% !important;
    min-height: 155px;
    padding: 30px;
  }

  .home-bottom-slider .caption {
    max-width: 70%;
  }

  .home-bottom-slider .parallax-slider .owl-carousel h2 {
    font-size: 24px;
  }

  .home-bottom-slider .owl-theme .owl-dots {
    text-align: left;
    margin-left: 44px;
  }

  .home-bottom-slider  .parallax-slider {
    min-height: 170px;
  }
}
/* Banner */
  
 /* Home Benefits */

.benefits-container {
  background: #f2f2f2;
  padding: 28px 0 28px 0px;
  color: #666666;
  margin-bottom: 54px;
  position: relative;
}

.benefits-container h3 {
  font-weight: 500;
  font-family: DINPro-Medium;
  line-height: 31px;
  font-size:18px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #1d2d3d;
  text-transform: uppercase;
  position: relative;
}

.benefits-container p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.benefits-container .font16 {
 margin-bottom: 10px;
    font-family: DINPro-Medium;
    color: #1d2d3d;
    font-size: 18px;
}

.benefits-container .zoylo-icon {
  background:#fff;
  border-radius: 50%;
  height:74px;
  width: 74px;
  border:1px solid #ccc;
  text-align:  center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

}

.benefits-container .zoylo-icon::after {
  display: inline-block;
  vertical-align: middle;
  margin: 17px 7px;
  background: url(../images/spritesheet.svg) no-repeat 0 0;
  content: "";
  height: 40px;
  width: 40px;
  display: inline-block;
}

.zoylo-icon.benefits1::after {
  background-position: -360px -125px;
}

.zoylo-icon.benefits2::after {
  background-position: -400px -125px;
}

.zoylo-icon.benefits3::after {
  background-position: -440px -125px;
}

.zoylo-icon.benefits4::after {
  background-position: -480px -125px;
}

.zoylo-icon.benefits5::after {
  background-position: -520px -125px;
}

.zoylo-icon.benefits6::after {
  background-position: -560px -125px;
}

.benefits1 {
  background-position: -777px -532px;
  width: 80px;
  height: 80px;
}

@media (max-width:767px) {
  .benefits-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px;
  }

  .benefit-detail {
    padding-left: 30px;
  }
}

@media (max-width: 400px) {
  .benefit-detail {
    padding-left: 40px;
  }
}

@media (min-width:992px) and (max-width:1200px) {
  .benefit-detail {
    padding-left: 50px; 
  }
}

@media (min-width:1200px) {
  .benefit-detail {
    padding-right: 5px; 
    padding-left: 35px;
  }

  .benefits-container {
    padding: 28px 0 28px 0px;
  }
}
@media (max-width: 991px) {  
  .benefit-detail {
    padding-left: 50px; 
  }
}
/* Home Benefits */

/* Brands */

.brands .owl-carousel .owl-nav.disabled {
  display: none;
}

.home-blocks.brands .owl-carousel .owl-item {
  padding: 5px 5px 20px;
}

.home-blocks.brands .item {
  background: #fff;
  border: 1px solid #eaeaea;
  text-align: center;
  max-width: 180px;
  min-height: 154px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-blocks.brands .item:hover {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.home-blocks.brands .owl-theme .owl-controls {
  top: 50%;
  display: block;
}
/* Brands */ 

/* Bottom Slider */
.home-bottom-slider {
  margin-bottom: 50px;
}

.home-bottom-slider .item {
  min-height: 300px;
  padding: 80px 50px;
  border: solid 1px #e5e5e5;
}

.home-bottom-slider .parallax-slider .owl-carousel p {
  color: #1d2d3d;
}

.home-bottom-slider .caption {
  float: left;
  max-width: 50%;
  text-align: left;
}

.home-bottom-slider .parallax-slider .owl-carousel h2 {
  font-size: 32px;
  color: #fff;
  line-height: 1.4;
  text-align: left;
  color: #1d2d3d;
  margin-bottom: 15px;
  letter-spacing: -0.05em;
  font-family: DINPro-Medium;
}

.home-bottom-slider p {
  color: #1d2d3d;
  font-size: 14px;
  line-height: 18px;
}

.home-bottom-slider .owl-theme .owl-controls .owl-nav .owl-prev,
.home-bottom-slider .owl-theme .owl-controls .owl-nav .owl-next {
  display: none;
}

.home-bottom-slider .owl-theme .owl-controls {
  margin-top: -80px;
  z-index: 1;
  position: relative;
}

.home-bottom-slider .owl-theme .owl-dots {
  text-align: left;
  margin-left: 50px;
}

.home-bottom-slider .owl-theme .owl-dots .owl-dot span {
  border: 0;
  background: #232176;
  opacity: 0.5;
}

.home-bottom-slider .owl-theme .owl-dots .owl-dot.active span,
.home-bottom-slider .owl-theme .owl-dots .owl-dot:hover span {
  background: #232176;
  border: 0;
  padding: 4px 10px;
  opacity: 1;
}

.home-bottom-slider .owl-carousel.owl-drag .owl-item {
  padding: 0px 0px;
}

@media (min-width:768px) and (max-width:991px) {
  .home-bottom-slider .item {
    min-height: 170px;
    padding: 25px 48px;
  }
}

@media (min-width:992px) and (max-width:1200px) {
  .home-bottom-slider .item {
    min-height: 228px;
    padding: 40px 50px;
  }
}
/* Bottom Slider */
/* Offer Card */

.card.offer-card {
  max-width: 286px;
  min-height: 275px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: url(../images/offer_card_1.png) no-repeat;
  padding: 20px 30px 20px 45px;
  color: #fff;
  margin: 0 auto;
}

.card.offer-card h6 {
  font-family: DINPro-Light;
  font-size: 20px;
}

.card.offer-card h6 span {
  font-family: DINPro-Medium;
  font-size: 32px;
}

.card.offer-card.white h6 {
  font-size: 20px;
  color: #6d6e70;
  padding-top: 15px;
}

.card.offer-card.white h6 span {
  font-size: 32px;
  color: #1d2d3d;
}

.card.offer-card.white {
  background: url(../images/offer_card_2.png) no-repeat;
  color: #1d2d3d;
}

.home-blocks.offer .owl-theme .owl-controls {
  display: none;
}

.offers-slider .item {
  position: relative;
}

.offers-slider .owl-carousel .owl-item img {
  display: block;
  width: auto;
  margin: auto;
}

.special-offers-slider .owl-carousel .owl-item img {
  display: block;
  width: auto;
  margin: auto;
}

.btn.btn-primary.know-more {
  background: #faa74a;
  padding: 0 20px;
  height: 36px;
  color: #fff;
  text-shadow: none;
  text-transform: uppercase;
  border-radius: 0;
  font-family: DINPro-Medium;
  font-size: 14px;
  display: none;
  position: absolute;
  bottom: 16px;
  left: 26px;
  border: 0;
  z-index: 1;
  line-height: 36px;
}

.offers-slider .item:hover .btn.btn-primary.know-more {
  display: block;
}

.btn.btn-primary.know-more:hover {
  background: #faa74a;
  opacity: 1;
}

.owl-top-narrow .recent-posts .owl-carousel .owl-item>.item {
  display: inline-block;
  border: 1px solid #eaeaea;
}

.owl-top-narrow .recent-posts .owl-carousel .owl-item > .item:hover {
  border: 1px solid transparent;
}

@media (max-width:992px) {
  .home-blocks.offer .view-more {
    display: block;
  }

  .home-bottom-slider .caption {
    max-width: 100%;
  }

  .home-bottom-slider .parallax-slider .owl-carousel h2 {
    font-size: 30px;
  }

  .home-bottom-slider .owl-theme .owl-controls {
    margin-top: -55px;
  }
}

@media (max-width:767px) {
  .home-blocks {
    margin-bottom: 35px;
  }

  .home-bottom-slider {
    display: none;
  }

  .offers-slider .owl-carousel .owl-item img {
    display: block;
    width: auto;
    margin: auto;
  }

  .btn.btn-primary.know-more {
    display: block;
    left: 70px;
    bottom: 16px;
  }
}

@media (max-width:400px) {
  .btn.btn-primary.know-more {
    display: block;
    left: 54px;
    bottom: 16px;
  }
}

@media (max-width:369px) {
  .btn.btn-primary.know-more {
    display: block;
    left: 46px;
    bottom: 16px;
  }
}
/* Offer Card */

/* Blog */

.blog h3 {
  margin-bottom: 24px;
  color: #1d2d3d;
}

.blog .owl-carousel .owl-nav.disabled {
  display: none;
}

.blog .owl-carousel .owl-stage-outer {
  width: 100%;
}

.recent-posts .item .post-image {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 0px;
  border: 0;
  background-color: #fff;
  min-height: 120px;
  margin-bottom: 0;
  position: relative;
}

.recent-posts a {
  color: #1d2d3d;
}

.post-details {
  padding: 20px 20px 0;
  min-height: 150px;
  display: inline-block;
}

.postTitle h2 a {
  font-size: 16px;
}

.recent-posts .postContent>p {
  margin: 0;
  color: #6d6e70;
  font-size: 14px;
}

.recent-posts a.readmore {
  font-weight: 400;
  font-size: 14px;
  color: #faa74a;
  initial-letter: 0, 7px;
  text-transform: uppercase;
  margin: 0 -20px;
  padding: 10px 20px;
  max-width: 118%;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 500;
  font-family: DINPro-Medium;
}

.recent-posts .item:hover a.readmore {
  color: #fff;
  text-decoration: none;
  background: #faa74a;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.recent-posts .item:active a.readmore {
  color: #fff;
  background: #e08724;
  text-decoration: none;
}

.recent-posts .item .post-image img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
}

a.remedy-btn {
  background: #7bad34;
  font-size: 12px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 2px 15px;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.blog .owl-top-narrow .owl-carousel .owl-item>.item {
  padding-top: 0px;
  border: 0px solid #c3c3c3;
  background: #fff;
  display: inline-block;
}

.recent-posts a:hover {
  text-decoration: none;
}

.recent-posts .postTitle {
  min-height: auto;
}

.recent-posts .postTitle h2 a:hover {
    color: #1d2d3d;
} 
@media (max-width:767px) {
 

  .recent-posts .item a.readmore {
    color: #fff;
    text-decoration: none;
    background: #faa74a;
    -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  }

  .recent-posts .postTitle h2 {
    height: 70px;
    overflow: hidden;
  }
}

@media (max-width:991px) and (min-width:768px) {
  .recent-posts .postTitle h2 {
    height: 76px;
    overflow: hidden;
  }
}
/* Blog */

/* Enquiry Form and Support Section */

.enquiry-support-section {
  margin: 0;
}

.enquiry-block {
    border: 1px solid #707070;
    display: inline-block;
    width: 100%;
}
.enquiry-support-section .enquiry-form-block {

  padding: 44px 55px 50px;
  min-height: 480px;
  float: left;
}

.enquiry-section .card {
  border: 0;
}

.enquiry-section h2 {
  font-size: 22px;
  font-weight: 500;
  font-family: DINPro-Medium;
  color: #1d2d3d;
}

.enquiry-section h3 {
  font-size: 18px; 
  font-weight: 300;
  font-family: DINPro-Light;
  color: #1d2d3d;
  position: relative;
}

.enquiry-section h3::after {
  position: absolute;
  background: url(../images/separator.png);
  height: 17px;
  width: 69px;
  content: "";
  clear: both;
  bottom: -25px;
  left: 15%;
  right: 15%;
  margin: auto;
  text-align: center;
}

.enquiry-section .form-group {
  margin-bottom: 35px;
  position: relative;
}

.enquiry-form {
  margin-top: 48px;
}

.enquiry-section .btn.btn-secondary {
  margin-top: 5px;
  height: 36px;
  width: 110px;
  border: 0;
  background: #faa74a;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.enquiry-section .btn.btn-secondary:hover {
  color: #fff;
  text-decoration: none;
  background: #faa74a;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.enquiry-section .btn.btn-secondary:active {
  color: #fff;
  background: #e08724;
  text-decoration: none;
}

.enquiry-section input[type="text"] {
  border: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid #707070;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 14px;
  width: 100%;
  padding: 0;
}

.enquiry-section label {
  position: absolute;
  left: 0;
  top: -20px;
  font-size: 12px;
  color: #faa74a;
}

.brd-lft { border-left: 1px solid #ccc;     padding:40px 50px 25px;}    

.support-section {
  background: #fff;
  padding: 50px 0 ; 
  position: relative;
  text-align: center; 
  max-width: 615px;
  min-height: 480px;
  float: left;
}

.support-section h3 {
  font-size: 18px;
  color: #1d2d3d;
  font-weight: 300;
  font-family: DINPro-Light;
  margin: 0;
}

.support-section h2,
.support-section h2 a {
  font-size: 24px;
  color: #1d2d3d;
  margin-bottom: 50px;
  font-weight: 400;
  font-family: DINPro-Regular;
}

.support-section a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a3a3a3;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #a3a3a3;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #a3a3a3;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #a3a3a3;
}

.talkto {
  width: 47px;
  height: 51px;
  background-position: -9px -288px;
  float: none;
  margin-bottom: 12px;
}

.writeus {
  width: 52px;
  height: 38px;
  background-position: -70px -293px;  
  float: none;
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .enquiry-support-section .enquiry-form-block {
    padding: 44px 55px 22px;
  }

  .support-section {
    max-width: 50%;
  }
}

@media (max-width:991px) { 
  .enquiry-support-section .enquiry-form-block {
    padding: 22px; 
  }

  .enquiry-section input[type="text"] {
    width: 100%;
  }

  .support-section {
    padding: 30px;
  }

  .support-section h2,
  .support-section h2 a {
    font-size: 30px;
  }
  .support-section { min-height: auto; }
  .brd-lft {
    padding: 68px 15px; 
  }

}

@media (max-width:767px) {
  .support-section {
    background-size: 100% !important;
    max-width: 100%;
    padding: 0px 15px 15px;
  }
  .brd-lft {
    border-left: 0px solid #ccc;  
    border-top: 1px solid #ccc;  
    padding: 25px 0 0;
}
}

@media (max-width:359px) {
  .support-section h2,
  .support-section h2 a {
    font-size: 26px;
  }
} 
/* Enquiry Form and Support Section */


/* Banner Changes */

#home-slider.owl-carousel .item.banner2 {
  padding: 98px 50px;
}

.parallax-slider .owl-carousel .item.banner2 h2 {
  text-transform: none;
  margin-bottom: 10px;
  font-size: 18px;
}

.parallax-slider .owl-carousel .item.banner2 h2 b {
  text-transform: uppercase;
}

.parallax-slider .owl-carousel .item.banner2 h3 {
  font-size: 15px;
  color: #fff;
  line-height: 22px;
  letter-spacing: 0px;
  font-weight: 300;
  font-family: DINPro-Light;
  text-transform: none;
  margin-bottom: 20px;
}

.parallax-slider .owl-carousel .item.banner2 h3 b {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0px;
  font-family: DINPro-Medium;
  text-transform: capitalize;
  margin-top: 10px;
  display: inline-block;
}

#home-slider.owl-carousel .item .terms-conditions {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 10px;
  color: #fff;
}

@media (min-width:768px) and (max-width:1199px) {
  #home-slider.owl-carousel .item.banner2 {
    padding: 30px 30px;
  }

  .parallax-slider .owl-carousel .item.banner2 h2 {
    font-size: 18px;
  }

  .parallax-slider .owl-carousel .item.banner2 h2 b {
    font-size: 20px;
    line-height: 20px;
  }

  .parallax-slider .owl-carousel .item.banner2 h3 {
    font-size: 12px;
  }

  .parallax-slider .owl-carousel .item.banner2 h3 b {
    font-size: 20px;
    line-height: 22px;
    margin-top: 0;
  }

  #home-slider.owl-carousel .item .terms-conditions {
    right: 30px;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  #home-slider.owl-carousel .item.banner2 {
    padding: 60px 60px;
  }

  #home-slider.owl-carousel .item .terms-conditions {
    position: absolute;
    bottom: 65px;
    right: 35px;
  }
}

@media (max-width:767px) {
  
  .item.responsive-img.banner2 {
    position: relative;
  }

  .terms-conditions {
    top: 2px;
    right: 8px;
    font-size: 8px;
    position: absolute;
    color: #fff;
  }

  .mobile-slider .parallax-slider .owl-carousel .item.banner2 h2 {
    font-size: 12px;
  }

  .mobile-slider .parallax-slider .owl-carousel .item.banner2 h2 b {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }

  .mobile-slider .parallax-slider .owl-carousel .item.banner2 h3 {
    font-size: 10px;
    line-height: 12px;
  }

  .mobile-slider .parallax-slider .owl-carousel .item.banner2 h3 b {
    font-size: 12px;
    line-height: 22px;
    margin-top: 0;
  }
}
/* Banner Changes */ 
/* Deals */

.deals-block {
  position: relative;
  margin-bottom: 15px;
}

.deals-of-item {
  position: relative;
}

.deals-of-item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -webkit-box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.cms-porto-home-5-old .countdowntimer {
  position: absolute;
  z-index: 1;
  background: transparent;
  padding: 10px;
  width: 100%;
  left: 0%;
  right: 0%;
}

.future_date {
  font-size:12px;
  font-weight: bold;
  padding: 10px 0px;
  color: #ffeb00;
}
.future_date button{text-transform:capitalize;}
#deals-day .future_date button {
  background: none;
  border: 0;
  color: #1d2d3d;
  width: auto;
  height: auto;
  padding: 0 5px;
  margin-right: : 5px;
  border-right: 0px solid #ccc; 
  font-size: 16px;
  line-height: 21px;
  position: relative;
  top: -2px;
}

#deals-day .future_date button:first-child {
  border-left: 0; 
}

/* .future_date button::before { 
  content: ":";
  position: relative;
  left: -3px; 
  top: -2px;
} */ 
.future_date span { color:#fff;  position: relative; top:-1px;  
 margin-right: 10px;}  
.hm-price {
  position: absolute;
  bottom:60px;
  background: rgba(250,250,250,0.5);
  width: 100%;
  left: 0;
  right: 0;
  padding: 10px;
}

.hm-price .price-box {
  padding: 0 10px;
  margin: 0;
  min-height: 20px;
}

.hm-price .old-price, .hm-price .special-price {
  width: auto;
}

.hm-price .old-price {
  float: left;
  margin: 2px 10px 0 0;
}

.hm-price .old-price .price-container .price {
  color: #6d6e70;
  font-size: 18px;
}

.hm-price .price-container .price {
  font-size: 22px;
}

.deals-of-item img {
  height: 280px;
}

@media (max-width:991px) {
  .deals-of-item img {
    height: auto;
  }
  .hm-price {
    padding: 0;
  }
  .future_date {
    font-size: 14px;  
  }

  .cms-porto-home-5-old .countdowntimer {
    padding: 0px 0px;
  }
  .hm-price .old-price .price-container .price {
  font-size: 12px;
}

.hm-price .price-container .price {
  font-size: 16px; 
}
#deals-day .future_date button { font-size: 12px; }
}
@media (max-width:767px) {

  .cms-porto-home-5-old .deal1 .countdowntimer {  
    margin-top: -20px;
  }
  .search-icon{background-position: 10px 2px !important;}
  .main-search .block-search input {
    padding: 10px 10px 10px 36px !important;
}
}
/* Deals */

/*upgraded css starts*/
.navigation .level0.parent > a[title="hhhfhfMedicine"]:active span{font-weight: 500;
    font-family: DINPro-Medium;color:#green;}

.deals-top{height:69px;}
.user-name{width: 240px;overflow: hidden;}
#downloadApp .d-flex a img{margin-right: 1rem !important;}
.order-medicines{position:relative;top:75px;}
.app-description p{font-size:16px;color:#000;}
.tag-line{font-size:24px;color:#1d2d3d;}
.mst-searchautocomplete__autocomplete._active{position:absolute;left:0px!important;width:1256px !important;}
.w3-display-container img{width:100%;height:277px; border-bottom-right-radius:8px;border-bottom-left-radius:8px;}
.w3-display-container{float:left;width:100%;}
.deals-title{width: 31%;
    float: left;
    height: auto;
    margin-top: 23px;
    padding-left: 22px;}
.control-buttons-list{width:20%;float:left;text-align:right;position: relative;left:8px;
    margin-top: 18px;}

.countdowntimer{float:left;width:44%;text-align:left;padding-left: 50px;margin-top: 15px;
height:37px;}
.control-buttons-list button{padding:0px !important;border:none !important;width:32px;}
.header-one{color:#fff;height: 40px;}
.menu-section-header{width:100%;}
.menu-section-header .sw-megamenu ul li a span{color:#fff;font-family: DINPro;
font-size: 14px;font-weight: 300;letter-spacing: 0.7px;}
.header-main .navbar ul.navbar-nav{width:100%;height:70px;}
.location{display:none;}
.block-search .action.search > span{position:unset !important;margin:0 10px;width: 53px;
  height: 18px;
  font-family: DINPro-Medium;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #faa74a;}
.header-main{height:203px;background-color: #232176; background: url(../images/headerrightimg.png) no-repeat;background-position:630px 0px;}
.navbar {background: url(../images/headerleftimg.png) no-repeat;background-position:-18px -36px;}
.search-icon{background: url(../images/serachicon.png) no-repeat;background-position:20px 2px;}
.menu-section-header .sw-megamenu ul li:hover a{background: url(../images/borderbottomimg.png) no-repeat;background-position:36px 40px;}
.upload-your-prescription1{background: url(../images/uploadprescription.png) no-repeat;width: 60px;
    height: 60px;}
.call-confirm1{background: url(../images/callconfirm.png) no-repeat;width:60px;height:58px;}
.delivery-doorstep1{background: url(../images/doordelivery.png) no-repeat;width:79px;
    height:58px;}
.pre-donot{background: url(../images/uploadbottom.png) no-repeat;background-position:10px -73px;}
.countdowntimer{background: url(../images/iconclock.png) no-repeat;background-position:15px 5px;}
.polygon-left{background: url(../images/polygonleft.png) no-repeat;background-position:15px 0px;width: 24px;
    height: 24px;float: left;}
.polygon-right{background: url(../images/polygonright.png) no-repeat;background-position:0px 0px;width: 24px;height: 24px;float: left;}
.user-name span{letter-spacing:0.7px;}

/*.maestro-icon{background: url(../images/mastercard.png) no-repeat;background-position:0px 0px;width:40px;height:40px;}
.master-card-icon{background: url(../images/maestro.png) no-repeat;background-position:0px 0px;width:40px;height:40px;}
.visa-icon{background: url(../images/visa.png) no-repeat;background-position:0px 0px;width:40px;height:40px;}
.secure-payment{background: url(../images/sslsecure.png) no-repeat;background-position:0px 0px;width:85px;height:40px;}

.fb-icon{background: url(../images/facebook-logo-button.png) no-repeat;background-position:0px 0px;width:32px;height:32px;}
.tw-icon{background: url(../images/twitter-logo-button.png) no-repeat;background-position:0px 0px;width:32px;height:32px;}
.yt-icon{background: url(../images/youtube.png) no-repeat;background-position:0px 0px;width:32px;height:32px;}
.pintrest-icon{background: url(../images/pinterest-logotype-circle.png) no-repeat;background-position:0px 0px;width:32px;height:32px;}
.instgram-icon{background: url(../images/instgram.png) no-repeat;background-position:0px 0px;width:32px;height:32px;}

.phone-footer-icon{background: url(../images/ic_phone.png) no-repeat;background-position:0px 0px;width:20px;height:20px;}
.mail-icon{background: url(../images/ic_email.png) no-repeat;background-position:0px 0px;width:20px;height:20px;}


.app-store{background: url(../images/app_store_badge.png) no-repeat;background-position:0px 0px;width:95px;height:32px;}
.google-store{background: url(../images/google-play-download-android-app.png) no-repeat;background-position:0px 0px;width:95px;height:32px;}*/
.instgram-icon{background: url(../images/instgram.png) no-repeat;background-position:0px 0px;width:32px;height:32px;}
.ask-zoy-icon{background: url(../images/basic-ask-zoy-icon.png) no-repeat;width:33px;height:30px;}
.corporate-wellness-icon{background: url(../images/basic-corporate-wellness-icon.png) no-repeat;width:33px;height:30px;}
.hospital-package-icon{background: url(../images/basic-hospital-package-icon.png) no-repeat;width:33px;height:30px;}


.ask-zoy-icon:hover{background: url(../images/ask-zoy-icon.png) no-repeat;width:33px;height:30px;}
.corporate-wellness-icon:hover{background: url(../images/corporate-wellness-icon.png) no-repeat;width:33px;height:30px;}
.hospital-package-icon:hover{background: url(../images/hospital-package-icon.png) no-repeat;width:33px;height:30px;}
.copyright .container{width:100% !important;}



.menu-section-header .sw-megamenu ul li:nth-child(2):hover a{background-position: 80px 40px;font-family:DINPro-Medium;}
.menu-section-header .sw-megamenu ul li:nth-child(3):hover a{background-position: 80px 40px;font-family:DINPro-Medium;}
.menu-section-header .sw-megamenu ul li:nth-child(4):hover a{background-position: 36px 40px;font-family:DINPro-Medium;}
.menu-section-header .sw-megamenu ul li:nth-child(5):hover a{background-position: 49px 40px;font-family:DINPro-Medium;}
.menu-section-header .sw-megamenu ul li:nth-child(6):hover a{background-position: 60px 40px;font-family:DINPro-Medium;}
.menu-section-header .sw-megamenu ul li:nth-child(7):hover a{background-position: 26px 40px;font-family:DINPro-Medium;}


.menu-section-header .sw-megamenu ul li:hover a span{font-weight:500 !important;font-family:DINPro-Medium;}

.main-search .block-search .action.search:before{content:'' !important;}
.home-upload-block .col-sm-12 .col-sm-6 .order-medicine-txt h3{color:#1d2d3d;font-size:18px;}
.home-upload-block .col-sm-12 .col-sm-6 .order-medicine-txt p{color:#6d6e70;font-size:14px;}
.order-medicine-txt{float:left;}
.order-upload{float:right;position:relative;top:8px;right:0px;}	
.upload-prescription-steps ul li{color:#000;width:20%;float: left;text-align:center;}
.home-upload-block .col-sm-12{position: relative;top: 85px;}
.main-order-medicine{width:100%;clear:both;height:113px;padding: 20px 20px 0px 20px;}
.upload-prescription-steps{width:100%;height:110px;padding:0px 60px;position: relative;
    bottom: 20px;}
.upload-prescription-steps ul {width:100%;}
.pre-donot h3{color:#000;}
.pre-donot p{color:#6d6e70;font-size:14px;}
.pre-donot{width:100%;padding: 0px 20px 32px 22px;}
.home-upload-block .col-sm-12 .col-sm-6{border-radius:8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff; margin: 0px 15px;
    width: 47%;padding-left:0px;padding-right:0px;height:346px;}
	.download-section .container{width:90%;margin:0 auto;}
.home-upload-block .col-sm-12 .dealsnew-block{height:346px;}
.home-upload-block .col-sm-12 .col-sm-6 h3{color:#1d2d3d;font-size:18px;}
.home-upload-block{width:100%;}
.home-upload-block-center{width: 97%;margin: 0 auto;padding-left: 15px;}
.page-header .navigation .level0 > .level-top{text-transform: capitalize !important;}
.benefits-container{margin-top:120px;}
.mobile-form-data{width: 92%;margin:0 auto;}
.benefits-container .position-relative{padding-right:0px;padding-left:0px;width:90%;margin:0 auto;}
.mobile-form-data .font24{font-size: 24px;color: #1d2d3d;font-weight: 500;}
.mobile-form-data .tag-line{font-family: DINPro;font-size: 24px;color: #1d2d3d;}
 .mobile-form-data  .app-description p{font-family: DINPro;font-size: 16px;color:#00000;}
 .mobile-form-data  .mb-5{object-fit: contain;}
 .download-mobile{font-size:14px;color: #000000;font-weight: 500;font-family: DINPro;}
 .download-mobile button:not(.primary){width: 111px;height: 36px;border-radius: 2px;background-color: #faa74a;color:#fff;border:none;}
 .download-mobile input[type="text"]{border-bottom: 1px solid #000000;}
 .main-deals-of-item{width:100%;}
 .beforeborder {border-top:1px solid #999;position:relative;top:30px;}
 .afterborder {border-top:1px solid #999;position:relative;top:30px;}
 .deal-title-name{width:100%;margin: 10px 0px 0px 0px;}
.deal-title-name .title{width:40%;float:left;border-right:1px solid #d5d5d5;}
.deal-title-name .countdowntimer{width:50%;float:left;text-align:center;}
.controlbutton-align{float:left;width:10%;}
.future_date h4{color:#8e5ba6;text-transform:uppercase;font-size:12px;}
.future_date div span {color:#000;font-size:14px;margin-left:5px;}
.home-blocks .position-relative{padding-left:0px;padding-right:0px;}
#deals-day .container .row{margin-left:0px;margin-right:0px;}
.block-search .action.search::before{background:none;}
.order-medicine-txt{float:left;}
.order-upload{float:right;}
.order-upload-mobile{display:none;}
.future_date div  label{margin:0px;padding:0px;}
.future_date div  span{color:#1d2d3d;font-size:14px;}
.future_date div span{padding:0px;margin:0px;}
.future_date  div h4{font-size:12px;}
@media (min-width:320px) and (max-width:360px) {
	.user-loggedin {
    position: relative;
    display: block;
    right: -2%;
    width: 25%;
    float: right;
    bottom:45px;
}
.page-header.type2 .minicart-wrapper{top:20px;right: 80px;}
.rounded-circle{width: 32px !important;height: 32px !important;}
.user-loggedin .user-dropdown {top: 40px !important;left: -115px !important;position:absolute !important;width: 210px;background: #fff;
    padding: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);}
.upload-prescription-steps{padding:0px 0px;}
.home-upload-block-center{padding-left:0px;}
.home-upload-block .col-sm-12 .col-sm-6{height:366px;}
.home-upload-block .col-sm-12 {position: relative;top: 60px;padding-left:8px;padding-right:8px;}
.deals-title {width:40%;padding-left:5px;}
.countdowntimer{width:36%;padding-left: 30px;}
.benefits-container {margin-top: 60px;}

.future_date div  span{color:#1d2d3d;font-size:12px;}
.future_date div span{padding:0px;margin:0px;}
.future_date  div h4{font-size:12px !important;}
.header-top .options-left a:nth-child(2) {padding-left:16px !important;}
.header-top .primary-options {padding-right: 0px;}
.pre-donot{background: url(../images/pre-bottom.png) no-repeat;background-position:-39px 70px;}
a.upload-pre{margin-left:50px;margin-top:32px;}
}
@media (min-width:361px) and (max-width:375px) {
	.user-loggedin {
    position: relative;
    display: block;
    right: -17%;
    width: 25%;
    float: right;
    bottom:45px;
}
.page-header.type2 .minicart-wrapper{top:20px;right: 80px;}
.rounded-circle{width: 32px !important;height: 32px !important;}
.user-loggedin .user-dropdown {top: 40px !important;left: -115px !important;position:absolute !important;width: 210px;background: #fff;
    padding: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);}
.upload-prescription-steps{padding:0px 0px;}
.home-upload-block-center{padding-left:0px;}
.home-upload-block .col-sm-12 .col-sm-6{height:366px;}
.home-upload-block .col-sm-12 {position: relative;top: 60px;padding-left:8px;padding-right:8px;}
.deals-title {width: 40%;padding-left:5px;}
.countdowntimer{width:36%;padding-left: 30px;}
.benefits-container {margin-top: 60px;}
.future_date div  span{color:#1d2d3d;font-size:12px;}
.future_date div span{padding:0px;margin:0px;}
.future_date  div h4{font-size:12px !important;}
.header-top .options-left a:nth-child(2) {padding-left:16px !important;}
.header-top .primary-options {padding-right: 0px;}
.pre-donot{background: url(../images/pre-bottom.png) no-repeat;background-position: 16px 85px;}
a.upload-pre{margin-left:76px;margin-top:32px;}
}
@media (min-width:376px) and (max-width:414px) {
	.user-loggedin {
    position: relative;
    display: block;
    right: -29%;
    width: 25%;
    float: right;
    bottom:45px;
}
.page-header.type2 .minicart-wrapper{top:20px;right: 80px;}
.rounded-circle{width: 32px !important;height: 32px !important;}
.user-loggedin .user-dropdown {top: 40px !important;left: -115px !important;position:absolute !important;width: 210px;background: #fff;
    padding: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);}
.upload-prescription-steps{padding:0px 0px;}
.home-upload-block-center{padding-left:0px;}
.home-upload-block .col-sm-12 .col-sm-6{height:366px;}	
.home-upload-block .col-sm-12 {position: relative;top: 60px;padding-left:8px;padding-right:8px;}
.deals-title {width:40%;padding-left:5px;}
.countdowntimer{width:36%;padding-left: 30px;}
.benefits-container {margin-top: 60px;}
.future_date div  span{color:#1d2d3d;font-size:12px;}
.future_date div span{padding:0px;margin:0px;}
.future_date  div h4{font-size:12px !important;}
.header-top .options-left a:nth-child(2) {padding-left:16px !important;}
.header-top .primary-options {padding-right: 0px;}
.pre-donot{background: url(../images/pre-bottom.png) no-repeat;background-position:16px 85px;}
a.upload-pre{margin-left:100px;margin-top:32px;}
}
@media (min-width:415px) and (max-width:480px) {
	.user-loggedin {
    position: relative;
    display: block;
    right: 0%;
    width: 25%;
    float: right;
    bottom:45px;
}
.page-header.type2 .minicart-wrapper{top:20px;right: 80px;}
.rounded-circle{width: 32px !important;height: 32px !important;}
.user-loggedin .user-dropdown {top: 40px !important;left: -115px !important;width: 210px;background: #fff;padding: 10px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);}
.upload-prescription-steps{padding:0px 0px;}
.home-upload-block-center{padding-left:0px;}
.home-upload-block .col-sm-12 .col-sm-6{height:366px;}
.home-upload-block .col-sm-12 {position: relative;top: 60px;padding-left:8px;padding-right:8px;}
.deals-title {width:40%;padding-left:5px;}
.countdowntimer{width:36%;padding-left: 30px;}
.benefits-container {margin-top: 60px;}
.future_date div  span{color:#1d2d3d;font-size:12px;}
.future_date div span{padding:0px;margin:0px;}
.future_date div h4{font-size:12px !important;}
.header-top .options-left a:nth-child(2) {padding-left:16px !important;}
.header-top .primary-options {padding-right: 0px;}
.pre-donot{background: url(../images/pre-bottom.png) no-repeat;background-position:55px 85px;}
a.upload-pre{margin-left:76px;margin-top:32px;}
}
/* mobile ends*/

@media (min-width:320px) and (max-width:480px) {
	
.future_date div h4{font-size:12px !important;}	
.block-search .action.search > span{float:left; width: 25px;}
#downloadApp .col-sm-6 {padding-left:16px;padding-right:16px;}	
.benefits-container .position-relative{width:100%;}		
.control-buttons-list button {padding: 0px !important;border: none !important;width: 24px;}
.home-upload-block .col-sm-12 .col-sm-6{width:100%;}
.header-main{height:198px;}
.block-search .action.search::before{background:none !important;}
.header-one{display:block;height:auto;}
.header-top .primary-links li a{font-size: 10px;}
header .header-top a{font-size: 10px;}
.header-main .navbar ul.navbar-nav{width:100%;margin:0px 10px;}
/*.header-top .primary-links li a.mobileno{display:none !important;}*/
.order-medicine-txt{float:none;}
.order-upload{float:none;}
.main-order-medicine{height:auto;}
.beforeborder{display:none;}
.afterborder{display:none;}
.upload-prescription-steps ul li{width:33%;}
.upload-prescription-steps{height:auto;clear: both;float: left;}
.deal-title-name .countdowntimer{width:50%;}
.deal-title-name .title{width:35%;float:left;border-right:1px solid #d5d5d5;}
.controlbutton-align {float: left;width: 15%;}

.polygon-left{background-position:0px 0px;width:16px;height:16px;float: left;}
.polygon-right{background-position:0px 0px;width:16px;height:16px;float: left;}

.countdowntimer{background-position:5px 0px;}
.home-upload-block-center{width:100%;}
.home-upload-block .col-sm-12 .col-sm-6{margin:15px 0px;}
.order-upload-mobile{display:block;}
.order-upload{display:none;}
#deals-day .container{padding-left:0px;padding-right:0px;}
header .header-top a{padding-left:0px !important;}
.user-loggedin a span{display:none !important;}

.page-header.type2:not(.header-newskin) .minicart-wrapper .action.showcart .counter.qty .counter-number{position:relative;bottom:5px;}
.page-header.type2:not(.header-newskin) .minicart-wrapper .action.showcart .counter.qty{width:16px !important;height: 16px;min-width: 16px;top: -7px;left: 13px;}
.navbar-nav {width: 140px;display: inline-block !important;}
.navbar .navbar-nav li.menu{position: relative;top: 12px;}
.menu .mega-menu{left: -141px;width:380px;}

}	

@media (min-width:481px) and (max-width:767px) {
.menu .mega-menu{left: -141px;width:422px;}	
.navbar-nav {width: 140px;display: inline-block !important;}
.navbar .navbar-nav li.menu{position: relative;top: 12px;}
.user-loggedin .user-dropdown {top: 40px !important;left: -115px !important;position:absolute !important;width: 210px;background: #fff;
    padding: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);}	
.header-main{height:198px;}
.user-loggedin a span{display:none !important;}	
header .header-top a{padding-left: 5px !important;}
#downloadApp .col-sm-6 {padding-left:30px;padding-right:30px;}		
.benefits-container .position-relative{width:100%;}	
	.control-buttons-list button {
    padding: 0px !important;
    border: none !important;
    width: 24px;
}
.home-upload-block .col-sm-12 .col-sm-6{width:100%;}
.header-main{height:180px;}
.block-search .action.search::before{background:none !important;}
.header-one{display:block;height:auto;}
.header-top .primary-links li a{font-size: 10px;}
header .header-top a{font-size: 10px;}
.header-main .navbar ul.navbar-nav{width:50%;margin:0px 10px;}
.header-top .primary-links li a.mobileno{display:none !important;}
.order-medicine-txt{float:none;}
.order-upload{float:none;}
.main-order-medicine{height:auto;}
.beforeborder{display:none;}
.afterborder{display:none;}
.upload-prescription-steps ul li{width:33%;}
.upload-prescription-steps{height:auto;clear: both;float: left;}
.deal-title-name .countdowntimer{width:50%;}
.deal-title-name .title{width:35%;float:left;border-right:1px solid #d5d5d5;}
.controlbutton-align {float: left;width: 15%;}
.countdowntimer{background-position: 10px 10px;}
.home-upload-block-center{width:100%;}
.home-upload-block .col-sm-12 .col-sm-6{margin:0px;}
.order-upload-mobile{display:block;}
.order-upload{display:none;}
.user-loggedin {
    position: relative;
    display: block;
    right: 0%;
    width: 25%;
    float: right;
    bottom: 52px;
}
.page-header.type2 .minicart-wrapper{top: 30px;right: 80px;}
.rounded-circle{width: 32px !important;height: 32px !important;}
.page-header.type2:not(.header-newskin) .minicart-wrapper .action.showcart .counter.qty .counter-number{position:relative;bottom:5px;}
.page-header.type2:not(.header-newskin) .minicart-wrapper .action.showcart .counter.qty{width:16px !important;height: 16px;min-width: 16px;top: -7px;
    left: 13px;}
}
@media (min-width: 768px) and (max-width: 991px) { 
.order-upload-mobile{display:block;}
.order-upload{display:none;}

.user-loggedin .user-dropdown {
    width: 210px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    top: 50px !important;
    left:-45px !important;
}
 
.user-loggedin {
    position: relative;
    display: block;
    right: 40%;
    width: 100%;
    float: right;
}
.page-header.type2 .nav-sections .nav-sections-items{margin:0px 20px !important;}
.header-logo{width:18%;}
.menu-section-header .sw-megamenu ul li a span{font-size:12px;padding-left:20px;}
.main-search .block-search input {padding: 10px 10px 10px 30px !important;}
.user-loggedin a span {display: none !important;}
.user-name {width: 90px;}
.section-item-content .navigation .level0 > .level-top{line-height: 30px;padding: 0 0px;}
.rounded-circle {width: 32px !important;height: 32px !important;}
.page-header.type2 .minicart-wrapper {position: absolute;top: 38px;right:6px;}
header .header-top a{padding-left:16px;}
.header-top .primary-options {padding-right: 16px;}
.show {display: inline-block !important;}
.page-header.type2 .block-search .action.search {right: -2%;top: -15px;}
.search-icon{background-position: 0px 2px;}
.navbar{background-position: 0px -70px;}
.navigation .level0.parent > a[title="Homeopathy"],  .navigation .level0.parent > a[title="Ayurveda"] {padding-left: 0px;}
.user-name {font-size: 12px;} 
.navbar-nav .dropdown-menu{position:absolute;}
.home-upload-block .col-sm-12 .col-sm-6{width:47%;} 
.main-order-medicine{padding:10px 10px 0px 10px !important;}
.home-upload-block .col-sm-12 .col-sm-6{margin:0px 10px;}
.deals-title{width: 40%;padding-left: 16px;}
.countdowntimer {width:39%;}
.home-upload-block{padding-left:0px;padding-right:0px;}
.home-upload-block .col-sm-12 .col-sm-6 h3{font-size:14px;}
.home-upload-block-center{padding-left:0px;}
.upload-prescription-steps{padding:0px 16px;}
.main-order-medicine{height:80px !important;}
.control-buttons-list{width:19%;left:5px;}
.footer-container .copyright {
    padding: 15px 0;
    border-top: 2px solid #1d2d3d;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}
.menu-section-header .sw-megamenu ul li:nth-child(2):hover a{background-position: 65px 25px !important;}
.menu-section-header .sw-megamenu ul li:nth-child(3):hover a{background-position: 75px 25px !important;}
.menu-section-header .sw-megamenu ul li:nth-child(4):hover a{background-position: 35px 25px !important;}
.menu-section-header .sw-megamenu ul li:nth-child(5):hover a{background-position: 45px 25px !important;}
.menu-section-header .sw-megamenu ul li:nth-child(6):hover a{background-position: 60px 25px !important;}
.menu-section-header .sw-megamenu ul li:nth-child(7):hover a{background-position: 25px 25px !important;}
.menu-section-header .sw-megamenu ul li:hover a span{font-weight:500 !important;}
.menu-section-header .sw-megamenu ul li:hover a {background-position: 35px 25px !important;}
.header-main{background-position:330px 0px !important;}
}
 
/*upgraded css ends*/





