header.page-header.sticky-header .nav-sections {
  padding: 8px 0 7px;
  top: 107px !important;
  background-color: #ffffff;
  color: #3d4d5d;
  width: 100%;
  -webkit-box-shadow: 0px 3px 9px -4px rgba(112, 112, 112, 1);
  -moz-box-shadow: 0px 3px 9px -4px rgba(112, 112, 112, 1);
  box-shadow: 0px 3px 9px -4px rgba(112, 112, 112, 1);
  position: relative;
}

.sw-megamenu.navigation>ul {
  max-width: 1260px;
  margin: auto;
}

.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1>a,
.sw-megamenu.navigation li.level0.staticwidth .submenu li.level1>a {
  font-weight: 500;
  font-family: DINPro-Medium;
  color: #6d6e70;
}

.sw-megamenu.navigation li.level0.fullwidth .submenu li.level2>a,
.sw-megamenu.navigation li.level0.staticwidth .submenu li.level2>a {
  font-weight: 400;
  font-family: DINPro-Regular;
  color: #6d6e70;
}

.sw-megamenu.navigation li.level0.fullwidth:nth-child(2) li.level1.parent>a span {
  font-size: 14px;
  font-weight: 600;
  font-family: DINPro-Bold;
}

.sw-megamenu.navigation .subchildmenu.mega-columns>li {
  padding: 0;
}

.custom-brands h4,
.custom-symptoms h4 {
  text-align: left;
}

.menu-right-block h4 {
  text-align: center;
  color: #8e5ba6;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500;
  font-family: DINPro-Medium;
  margin-bottom: 30px;
}

.sw-megamenu.navigation .custom-symptoms .subchildmenu.mega-columns.columns2>li {
  width: 48%;
}

.sw-megamenu.navigation .custom-brands .subchildmenu.mega-columns.columns2>li {
  width: 48%;
}

.sw-megamenu.navigation li.level0.fullwidth:nth-child(2) li.level1.parent>a span {
  font-size: 14px;
  font-weight: 500;
  font-family: DINPro-Medium;
}

.sw-megamenu.navigation li.level0.fullwidth:nth-child(3) li.level1.parent>a span {
  font-size: 14px;
  font-weight: 500;
  font-family: DINPro-Medium;
}

.sw-megamenu.navigation li.level0.fullwidth:nth-child(4) li.level1.parent>a span {
  font-size: 14px;
  font-weight: 500;
  font-family: DINPro-Medium;
}

.sw-megamenu.navigation li.level0.fullwidth:nth-child(5) li.level1.parent>a span {
  font-size: 14px;
  font-weight: 500;
  font-family: DINPro-Medium;
}

.sw-megamenu.navigation li.level0.fullwidth:nth-child(6) li.level1.parent>a span {
  font-size: 14px;
  font-weight: 500;
  font-family: DINPro-Medium;
}

.sw-megamenu.navigation li.level0.fullwidth > .submenu .pre-scriptions a {
  position: relative;
  top: 0;
  color: #ffffff !important;
  text-transform: uppercase;
  width: 100%;
  height: 36px;
  display: inline-block;
  line-height: 36px;
  padding: 0;
}

.pre-scriptions a {
  position: relative;
  top: 10px;
  color: #ffffff !important;
}

.do-pre-scriptions {
  text-align: center;
  height: 36px;
  background-color: #f8f8f8;
  border: solid 2px #6d6e70;
  margin-top: 20px;
  padding: 0;
}

.sw-megamenu.navigation li.level0.fullwidth>.submenu .do-pre-scriptions a {
  color: #faa74a;
  width: 100%;
  display: inline-block;
  top: 0;
  line-height: 24px;
}

/*.sw-megamenu.navigation .subchildmenu.mega-columns>li {
  display: inline-block;
    min-height: 300px;
    height: 100%;
}*/
.navigation ul li:nth-child(2):hover .subchildmenu.mega-columns>li{display: inline-block;}
.navigation ul li:nth-child(3):hover .subchildmenu.mega-columns>li{display: inline-block;min-height: 300px;height: 100%;}
.navigation ul li:nth-child(3):hover #submenu-menu{
    -moz-column-count: 5;
    -moz-column-gap: 20px;
     -webkit-column-count: 5; 
     -webkit-column-gap: 20px; 
    column-count: 5; 
    column-gap: 20px;
}

.navigation ul li:nth-child(3):hover >.submenu > .container {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height:30vh !important;
}




.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1>a,
.sw-megamenu.navigation li.level0.staticwidth .submenu li.level1>a {
  margin-top: 1px !important;
}

.navigation .level0 .submenu a.menu-close {
  display: none;
}

.sw-megamenu.navigation .ui-menu-item.level1.parent.expand {
  width: 100%;
  float: none;
}

.sw-megamenu.navigation li.level0.fullwidth .submenu a:hover>span,
.sw-megamenu.navigation li.level0.staticwidth .submenu a:hover>span {
  text-decoration: none;
}

.sw-megamenu.navigation li.level0.fullwidth .submenu .menu-right-block a:hover {
  text-decoration: none;
}

.custom-symptoms h4 {
  text-align: left;
  color: #8e5ba6;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500;
  font-family: DINPro-Medium;
  margin-left: 5px;
}

.custom-brands h4 {
  text-align: left;
  color: #8e5ba6;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500;
  font-family: DINPro-Medium;
}

.page-header.type2 .navigation .level0.parent>a::after {
  content: "";
  margin: 0;
  background: url(../images/spritesheet.svg) no-repeat -47px -25px;
  height: 16px;
  width: 16px;
  top: 15px;
  left: 3px;
  position: relative;
  display: inline-block;
}

.page-header.type2 .navigation .level0.parent>a:hover::after {
  background-position: -47px -41px;
}

.page-header.type2 .navigation .level0.parent:hover a::after {
  background-position: -47px -41px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 0px solid transparent !important;
  background: transparent !important;
}

@media (max-width:767px) {
.main-order-medicine{padding: 8px 8px 0px 8px !important;}
.navbar{background-position: 0px -67px !important;}
.header-main{background-position: -136px -130px !important;}
  .page-header.type2 .navigation .level0.parent>a::after {
    background: transparent;
  }

  /*.navbar {
    padding: .5rem 1rem 12px;
  }*/
.header-main .navbar{padding:0px;}
  .page-header.type2 .logo {
    z-index: 1;
  }

  .page-header.type2:not(.header-newskin) {
    min-height: 172px;
  }

  header.page-header .nav-sections-item-title {
    display: none;
  }

  header.page-header .nav-sections-item-content {
    margin-top: 5px;
  }

  .sw-megamenu.navigation .submenu.level0 {
    height: 0;
    visibility: hidden;
    padding: 0px;
  }

  .sw-megamenu.navigation li.level0.fullwidth:nth-child(2)>.submenu {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    display: block;
    max-height: 1000vh;
  }

  .sw-megamenu.navigation li.level0.fullwidth:nth-child(3)>.submenu {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    display: block;
    max-height: 1000vh;
  }

  .sw-megamenu.navigation .submenu.level0.opened {
    visibility: visible;
    height: auto;
    position: fixed;
    top: 0 !important;
    z-index: 11;
    background: #fff;
    opacity: 1;
    width: 100%;
    height: 100%;
    left: 0 !important;
    padding: 70px 20px;
  }

  .sw-megamenu.navigation .submenu.level0.opened::after {
    content: "close";
    font-size: 15px;
    width: 50px;
    height: 20px;
    float: right;
    display: block;
  }

  .sw-megamenu.navigation .submenu.level0.opened::after {
    content: "close";
    font-size: 15px;
    width: 50px;
    height: 20px;
    float: right;
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  /* Menu */
  .logo {
    z-index: 1;
  }

  .nav-sections {
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: .0s;
    transition: 0s;
    width: calc(100% - 0px);
    left: calc(-1 * (100% - 0px));
  }

  .nav-toggle::before {
    display: none;
  }

  header.page-header .nav-sections-item-title {
    display: none;
  }

  .nav-toggle>span {
    position: relative;
    width: auto;
    height: auto;
    font-size: 12px;
    color: #fff;
	text-transform:uppercase;
  }

  .navigation li.level0 .ui-menu-item>a::before {
    display: none;
  }

  .page-header.type2 .nav-toggle {
    float: right;
    position: absolute;
    top:52px;
    left: 0;
    right: 0;
    width: 100%;
    color: #fff;
    padding: 0;
    line-height: 36px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    z-index: 9;
    display: block;
    text-align: center;
    padding-left: 15px;
    height:auto;
  }

  .navigation a {
    padding-left: 0px;
  }

  .navigation li.level0>a.level-top {
    padding: 13px 15px 13px 15px;
    padding-left: 15px;
  }

  header.page-header .nav-sections-item-content {
    margin-top: 0;
  }

  .nav-open .nav-sections {
    position: absolute;
    margin-top: 25px;
    background: #fff;
    padding-top: 20px;
    width: 100%;
	top: 146px;
    height: 100vh;
  }

  .nav-open .page-wrapper {
    left: 0;
  }

  .sw-megamenu.navigation li.ui-menu-item {
    position: relative;
    float: left;
    width: 31.33%;
    font-size: 14px;
    border-top: 0;
  }

  .sw-megamenu.navigation .subchildmenu li.ui-menu-item {
    position: relative;
    width: 100%;
  }

  .navigation .level0 .submenu a.menu-close {
    position: fixed;
    z-index: 100;
    color: #000 !important;
    right: 0px;
    display: inline-block;
    font-size: 28px;
    width: 100%;
    float: none;
    border-bottom: 1px solid #ccc;
    text-align: right;
    line-height: 33px;
    left: auto;
    top: 0px;
    padding: 10px 20px 10px;
    background: #fff;
  }

  .navigation .submenu:not(:first-child) ul {
    padding-left: 0px;
  }
  /*.sw-megamenu.navigation li.ui-menu-item > a {
          padding-left: 0;
     } */
  .navigation .submenu ul>li a {
    color: #fff;
  }

  .mobile-sticky header.page-header {
    position: static;
  }

  .navigation a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navigation a:hover {
    color: #faa74a !important;
  }

  .navigation .submenu .more-link {
    padding-left: 0;
    clear: both;
  }

  .sw-megamenu.navigation li.level0.fullwidth li.level1.parent>a span::after {
    content: '\f813';
    font-size: 14px;
    color: #faa74a;
    margin-left: 5px;
    font-family: 'porto-icons';
    float: right;
    margin-top: 3px;
  }

  .sw-megamenu.navigation .subchildmenu.mega-columns>li .subchildmenu.has-submenu {
    display: none;
  }

  .sw-megamenu.navigation .subchildmenu.mega-columns>li .ui-state-active+.subchildmenu.has-submenu {
    display: block;
    margin-bottom: 15px;
  }

  .ui-menu-item.level0.fullwidth.parent>a::before,
  .ui-menu-item.level0>a::before {
    display: inline-block;
    content: "";
    height: 40px;
    width: 40px;
  }

  .ui-menu-item.level0>a[title="Medicine"]::before {
    background: url(../images/spritesheet.svg) -919px -165px;
  }

  .ui-menu-item.level0>a[title="Healthcare Products"]::before {
    background: url(../images/spritesheet.svg) -958px -165px;
  }

  .ui-menu-item.level0>a[title="Surgical and Devices"]::before {
    background: url(../images/spritesheet.svg) -1080px -165px;
  }

  .ui-menu-item.level0>a[title="Ayurveda"]::before {
    background: url(../images/spritesheet.svg) -1003px -165px;
  }

  .ui-menu-item.level0>a[title="Homeopathy"]::before {
    background: url(../images/spritesheet.svg) -1042px -165px;
  }

  .ui-menu-item.level0>a[title="Knowledge Base"]::before {
    background: url(../images/spritesheet.svg) -280px -165px;
  }

  .navigation li.level0:last-child {
    display: none;
  }

  .sw-megamenu.navigation li.ui-menu-item.level0.parent:first-child > .open-children-toggle {
    display: none;
  }

  .sw-megamenu.navigation li.ui-menu-item.level0.parent:nth-child(4) > .open-children-toggle {
    display: none;
  }

  .sw-megamenu.navigation li.ui-menu-item.level0.parent:nth-child(5) > .open-children-toggle {
    display: none;
  }

  .ui-menu-item.level0.fullwidth.parent>a span,
  .ui-menu-item.level0>a span {
    display: block;
    font-size: 12px;
    color: #3d4d5d;
    margin-top: 5px;
  }

  .ui-menu-item.level0.fullwidth.parent>a, 
  .ui-menu-item.level0>a {
    position: relative;
    text-align: center;
  }

  #store\.links {
    display: none;
  }

  #store\.settings {
    display: none;
  }

  .nav-sections .switcher {
    display: none;
  }

  .sw-megamenu.navigation li.ui-menu-item .submenu>.open-children-toggle {
    width: 20px;
    height: 20px;
  }

  .sw-megamenu.navigation li.ui-menu-item.level0.parent>.open-children-toggle {
    width: 100%;
    height: 100%;
  }

  .navigation .parent .level-top::after {
    color: transparent;
  }

  .navigation li.level0:last-child {
    border-bottom: 0;
  }

  header.page-header .nav-sections-items {
    position: relative;
    z-index: 9;
    max-height: 1000px;
    height: 100vh;
  }

  .sw-megamenu.navigation .subchildmenu.mega-columns>li {
    float: none;
  }

  .sw-megamenu.navigation .subchildmenu.mega-columns.columns6>li {
    width: 100%;
  }

  .sw-megamenu.navigation .custom-symptoms .subchildmenu.mega-columns.columns2>li {
    width: 100%;
  }

  .sw-megamenu.navigation .custom-brands .subchildmenu.mega-columns.columns2>li {
    width: 100%;
  }

  .doorstep-deliver {
    display: none;
  }

  .nav-open .nav-sections .doorstep-deliver {
    display: block;
  }

  .nav-open .nav-sections .col-12.col-md-6.order-btns.text-right {
    clear: both;
    text-align: center;
    padding-bottom: 15px;
    max-width: 80%;
    margin: auto;
    padding-top: 40px;
  }

  .nav-open .nav-sections a.upload-pre {
    float: none;
    margin: 0 auto 20px;
    display: inherit;
  }

  .nav-open .nav-sections .dohave-pre {
    margin: auto !important;
    text-align: center;
    float: none;
    display: block;
  }

  .user-loggedin .show {
    display: flex !important;
  }

  ul.profile-list {
    width: 100%;
  }

  .sw-megamenu.navigation li.level0.fullwidth .custom-symptoms li.level1.parent>a span::after {
    content: "";
  }

  .sw-megamenu.navigation li.level0.fullwidth .custom-brands li.level1.parent>a span::after {
    content: "";
  }

  .navigation a.view-all {
    text-align: left;
    padding: 0;
    margin: 10px 0;
    left: 0;
    display: inline-block;
  }

  .col-lg-4.custom-symptoms {
    padding-left: 0;
    padding-right: 0;
  }

  .col-lg-4.custom-brands {
    padding-left: 0;
    padding-right: 0;
  }

  .custom-symptoms h4 {
    margin-left: 0px;
  }

  .custom-brands h4 {
    margin-left: 0px;
  }

  .nav-open .nav-toggle:after {
    display: none;
  }

  .sw-megamenu.navigation li.ui-menu-item a[title="Gear"] {
    display: none !important;
  }

  .navigation li.level0 > a[title="Medicines"].ui-state-active, .navigation li.level0 > a[title="Medicines"].ui-state-active + .submenu {
    background-color: transparent;
  }

  .sw-megamenu.navigation li.level0 > a[title="Medicines"] + .submenu.level0.opened {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .ui-menu-item.level0>a.level-top.ui-state-active {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0;
    background: #fff;
    width: 90%;
    height: 54px;
    border: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
  }

  .ui-menu-item.level0>a.level-top.ui-state-active::before {
    float: left;
  }

  .ui-menu-item.level0.fullwidth.parent>a.level-top.ui-state-active span, .ui-menu-item.level0>a.level-top.ui-state-active span {
    display: block;
    font-size: 12px;
    color: #3d4d5d;
    margin-top: 5px;
    float: left;
    line-height: 40px;
    margin-left: 10px;
  }

  .sw-megamenu.navigation li.level0.fullwidth li.level1.parent>a.ui-state-active span::after {
    transform: rotate(180deg);
  }
/*. Toogle */
  .zoylo-app {
    height: 66px;
    width: 100%;
    float: left;
    background-image: linear-gradient(#8e5ba6, #232176);
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
  }

  .transform-active {
    height: 0px;
    width: 100%;
    overflow: hidden;
  }

  a.close-toggle {
    float: right;
    padding: 5px 10px;
    color: #fff;
    font-size: 18px;
  }

  a.download-app {
    font-family: DINPro;
    font-size: 14px;
    font-weight: 500;
    width: 145px;
    height: 34px;
    border-radius: 4px;
    background-color: #faa74a;
    float: left;
    margin: 15px 10px 10px;
    color: #fff;
    text-align: center;
    line-height: 34px;
    text-transform: uppercase;
  }

  span.casback-offer {
    float: left;
    width: 42%;
    font-size: 12px;
    margin: 17px 10px 5px 0px;
    line-height: 16px;
    opacity: .8;
  }

  .sw-megamenu.navigation .submenu.level0 {
    transition: top 0.3s ease-out;
  }
  .navigation ul li:nth-child(3):hover .subchildmenu.mega-columns>li{
	display: inline-block;
    min-height:0px;
    height:auto;}
}

.ui-menu-item.level0>a[title="Medicine"]+.level0.submenu {
  display: none;
}

.page-header.type2 .ui-menu-item.level0>a[title="Medicine"]::after {
  display: none;
}

.ui-menu-item.level0>a[title="Homeopathy"] + .level0.submenu {
  display: none;
}

.ui-menu-item.level0>a[title="Ayurveda"] + .level0.submenu {
  display: none;
}

.page-header.type2 .navigation .level0.parent > a[title="Homeopathy"]::after, .page-header.type2 .navigation .level0.parent > a[title="Ayurveda"]::after {
  display: none;
}

.navigation .level0.parent > a[title="Homeopathy"], a[title="Ayurveda"] {
  padding-left: 10px;
}

@media (min-width: 768px) {
  .sw-megamenu.navigation li.level0.fullwidth .submenu a,
  .sw-megamenu.navigation li.level0.staticwidth .submenu a,
  .sw-megamenu.navigation li.level0.classic .submenu a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
  }



  .sw-megamenu.navigation li.level0.fullwidth>.submenu {
    max-width: 1366px;
    left: 0;
    right: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 15px;
    padding-bottom: 25px;
  }

 
 

  .sw-megamenu.navigation li.level0.fullwidth .submenu .subchildmenu .subchildmenu, .sw-megamenu.navigation li.level0.staticwidth .submenu .subchildmenu .subchildmenu {  
    padding: 5px 0 12px 0;
  }

  .sw-megamenu.navigation li.level0.fullwidth .submenu a:hover, .sw-megamenu.navigation li.level0.staticwidth .submenu a:hover {
    background: 0 0;
    color: #1d2d3d;
    font-family: DINPro-Medium;
  }
}
.sw-megamenu.navigation li.level0.fullwidth>.submenu > .container {overflow-y:auto; overflow-x: hidden; height: 60vh;  }

@media (max-width:1199px) and (min-width: 768px) {
  .navigation .level0.parent>.level-top {
    padding: 0 0px;
  }
  .page-header.type2:not(.header-newskin) {
    min-height: 150px;
  } 
   
  .navigation ul li:nth-child(3):hover .subchildmenu.mega-columns>li{
	display: inline-block;
    min-height:0px;
    height:auto;}
	



}

@media (min-width:768px) and (max-width: 991px) {  
 
  .page-header.type2:not(.header-newskin) {
    min-height: 180px;
  }
.navigation ul li:nth-child(3):hover .subchildmenu.mega-columns>li{
	display: inline-block;
    min-height:0px;
    height:auto;}
	.navigation ul li:nth-child(3):hover #submenu-menu{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
     -webkit-column-count: 3; 
     -webkit-column-gap: 20px; 
    column-count: 3; 
    column-gap: 20px;
}

.navigation ul li:nth-child(3):hover >.submenu > .container {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height:30vh !important;
}
 #submenu-menu {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
  }
  .navigation ul li:nth-child(3):hover #submenu-menu{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
     -webkit-column-count: 3; 
     -webkit-column-gap: 20px; 
    column-count: 3; 
    column-gap: 20px;
}
}
@media (min-width:992px) and (max-width: 1023px) {

.navigation ul li:nth-child(3):hover >.submenu > .container {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height:50vh !important;
}
	.navigation ul li:nth-child(3):hover #submenu-menu{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
     -webkit-column-count: 3; 
     -webkit-column-gap: 20px; 
    column-count: 3; 
    column-gap: 20px;
}
 #submenu-menu {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
  }
    .navigation ul li:nth-child(3):hover .subchildmenu.mega-columns>li{
	display: inline-block;
    min-height:0px;
    height:auto;}
}


@media (min-width:1024px) and (max-width: 1199px) {
	.navigation ul li:nth-child(3):hover #submenu-menu{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
     -webkit-column-count: 3; 
     -webkit-column-gap: 20px; 
    column-count: 3; 
    column-gap: 20px;
}
 #submenu-menu {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
  }
}
@media (min-width:1200px) and (max-width: 1440px) {
	.navigation ul li:nth-child(3):hover #submenu-menu{
    -moz-column-count: 5;
    -moz-column-gap: 20px;
     -webkit-column-count: 5; 
     -webkit-column-gap: 20px; 
    column-count: 5; 
    column-gap: 20px;
}
 #submenu-menu {
    -moz-column-count: 6;
    -moz-column-gap: 20px;
    -webkit-column-count: 6;
    -webkit-column-gap: 20px;
    column-count: 6;
    column-gap: 20px;
  }
}
/* Menu */