/* Font-sizes*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: DINPro-Medium;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font20 {
  font-size: 20px;
}

.font24 {
  font-size: 24px;
  color: #1d2d3d;
}

.font40 {
  font-size: 40px;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.overlay {
  background: #000;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.cms-index-index .column.main {
  min-height: 0px;
}

.cms-porto-home-5-old .page-header .doorstep-deliver {
  display: none;
}

.action.primary,
button,
a.action.primary {
  background: #faa74a;
  border: 1px solid #faa74a;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: 500;
  font-family: DINPro-Medium;
}

.action.primary:hover {
  background: #faa74a;
  border: 1px solid #faa74a;
  color: #fff;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.action.primary:active {
  background: #e08724;
  border: 1px solid #e08724;
}

.action.primary:focus {
  outline: 0;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
  background: #faa74a;
  border: 1px solid #faa74a;
}

.page-wrapper .message {
  margin-top: 15px;
}

.message {
  z-index: 1;
}

.message.success a:hover {
  color: #faa74a;
}

.message.success a {
  color: #faa74a;
}

.clear {
  clear: both;
}

a {
  color: #faa74a;
}

a,
.alink {
  color: #faa74a;
}

a:hover {
  color: #faa74a;
  text-decoration: none;
}

a:active {
  color: #e08724;
  text-decoration: none;
}

a:hover,
.alink:hover {
  color: #faa74a;
  text-decoration: none;
}

a:visited, .alink:visited {
  color: none;
}
p:empty {
    display: none;
}
.zoylo-icon2 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background: url(../images/zoylo-spritesheet.svg) no-repeat 0 0;
}

.zoylo-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background: url(../images/spritesheet.svg) no-repeat 0 0;
}


/* */ 

.magento-rma-returns-returns .page-main .page-title-wrapper .page-title,
.magento-rma-returns-view .page-main .page-title-wrapper .page-title,
.magento-rma-guest-returns .page-main .page-title-wrapper .page-title,
.account .page-main .page-title-wrapper .page-title,
[class^="sales-guest-"] .page-main .page-title-wrapper .page-title,
.sales-guest-view .page-main .page-title-wrapper .page-title,
.magento-rma-guest-returns .page-main .page-title-wrapper .page-title {
  color: #1d2d3d;
  font-size: 24px;
  font-family: DINPro-Medium;
  line-height: 31px;
}

.checkout-header {
  display: none;
}

/* Menu */
.page-header.type2.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
}

.sticky-logo {
  float: left;
  display: none;
}

.page-header.type2.sticky-header .doorstep-deliver {
  display: none !important;
}
@media (max-width:1440px) {
  .page-header.type2 {
    padding-top: 144px;
  }
}

/* Header Search */

@media (max-width:767px) {
  .nav-toggle>span::after {
    content: "";
    margin: 0;
    background: url(../images/mobilearrow.png) no-repeat;background-position:5px 10px;
    height: 16px;
    width: 16px;
    top: 1px;
    left: 3px;
    position: relative;
    display: inline-block;
  }

  .nav-toggle>span:hover::after {
    background: url(../images/togglebottom.png) no-repeat;background-position:0px 3px;
  }

  /*.nav-toggle:hover span::after {
   background: url(../images/togglebottom.png) no-repeat;background-position:0px 3px;
  }*/

  .page-header.type2 .block-search .label {
    display: none;
  }

  .authorization-link-new-header { 
    position: absolute;
    top: 20px;
    right: 15px;
    text-align: right;
    font-size: 10px;
    color: #fff;
  }

  .authorization-link-new-header p {
    margin: 0;
  }

  .authorization-link-new-header a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }

  .custom-img {
    float: left;
    margin: 18px 10px 0 0;
  }

  .block-search input {
    position: static;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}
/* Header Search */
.mst-search__result-tabs {
  display: none;
}

.mst-searchautocomplete__wrapper button.action.tocart.primary {
  color: #faa74a;
  border: 0;
  background: transparent;
  text-transform: none;
  height: auto;
  padding: 0;
  margin-top: 26px;
}

.mst-searchautocomplete__wrapper button.action.tocart.primary:hover,
.mst-searchautocomplete__wrapper button.action.tocart.primary:active {
  background: transparent;
  border: 0px solid transparent;
  color: #e08724;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0);
}
}

.mst-searchautocomplete__item.magento_catalog_product .price {
  text-align: right;
  color: #1d2d3d;
  font-size: 14px;
}
/* */
.mst-searchautocomplete__show-all {
  position: relative;
  z-index: 12;
}

.mst-searchautocomplete__item.magento_catalog_product {
  position: relative;
}

.mst-searchautocomplete__item.magento_catalog_product img {
  height: auto;
}

.mst-searchautocomplete__autocomplete .mst-searchautocomplete__index-title {
  color: #1d2d3d;
}

.mst-searchautocomplete__autocomplete ul li {
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

.mst-searchautocomplete__index.popular ul li a {
  color:#1d2d3d;
  font-size: 14px;
}
.header.panel .block-search input {
    color: #1d2d3d !important;
}
.block-search #search{color:#1d2d3d;}
.mst-searchautocomplete__autocomplete ul li a.title {
  color:#8e5ba6;
  font-size: 12px;
}

.mst-searchautocomplete__highlight {
  color: #1d2d3d;
}

.mst-searchautocomplete__index.popular ul li:hover {
  color: #faa74a;
}

.mst-searchautocomplete__index.popular ul li:active {
  color: #e08724;
}

.mst-searchautocomplete__index.popular ul li:hover a {
  color: #faa74a !important;
}


/* Search */
.page-header.type2 .block-search .action.search {
  right: -1px;
  top: 2px;
  height: 36px;
  border: 1px solid #faa74a !important;
  line-height: 30px;
}
.cart-container{margin-top:50px;}
.checkout-cart-index .cart-widget-container{top:60px;}
.checkout-index-index .cart-widget-container{top:0px;}

.page-header.type2 .block-search .action.search {
  right: -10.6%;
  top:0px;
  height: 36px;
  border: 0px solid #faa74a !important;
  line-height:14px;
}
.checkout-cart-index .block-search .action.search{top:0px !important;}
.page-header.type2 .block-search input {
  height:48px;
  width: 100%;
  border-bottom:none !important;
}

.main-search .form-group .block-search {
  margin-left: 0px;
  max-width: 100%;
  width: 100%;
}

.mst-searchautocomplete__autocomplete._active {
  height: calc(100vh - 150px);
  overflow: auto;
}

.mst-searchautocomplete__autocomplete .mst-searchautocomplete__close {
  display: block;
  position: absolute;
  z-index: 3;
  right: 10px;
  color: #000;
  font-size: 20px;
  top: 2px;
  cursor: pointer;
}
/* Search */

.mst-search__result-index .mst-search__result-index-title {
  display: none;
}

.mst-search__index ul:not(.blog-post-info) li:not(.blog-post-info-item) {
  margin: 0rem 0 10px;
}

.mst-search__index ul:not(.blog-post-info) li:not(.blog-post-info-item) .mst-search__index-title>a {
  color: #1d2d3d;
  font-size: 14px;
}

.mst-search__index ul:not(.blog-post-info) li:not(.blog-post-info-item) .mst-search__index-title>a:hover {
  text-decoration: underline;
}

.mst-searchautocomplete__item.magento_catalog_product .title {
  float: left;
}

.mst-searchautocomplete__item.magento_catalog_product .to-cart {
  margin-top: 0rem;
  margin-bottom: 0;
}

.mst-searchautocomplete__item.magento_catalog_product .store {
  width: 100px;
  color: #1d2d3d;
  float: right;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 12px;
  padding: 0;
  text-align: right;
}

.mst-searchautocomplete__index.popular ul li:hover a {
  text-decoration: none;
}

.mst-searchautocomplete__item.magento_catalog_product .title a {
  text-decoration: none !important;
  color: #1d2d3d;
  font-size: 14px;
}

.mst-searchautocomplete__item.magento_catalog_product .title .sku {
  display: none;
}

body.searchautocomplete__active {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

@media (max-width:767px) {
  .page-header.type2 .block-search input {
    margin: 0;
  }

  .block-search .control {
    margin-bottom: 0;
  }

  .mst-searchautocomplete__autocomplete ul {
    list-style: none;
    margin: 15px 0 0;
    padding: 0px;
  }

  .mst-searchautocomplete__index.popular ul li {
    padding: 0.2rem .7rem;
  }

  .mst-searchautocomplete__item.magento_catalog_product {
    display: block;
  }

  .mst-searchautocomplete__item.magento_catalog_product img {
    float: left;
  }

  .mst-searchautocomplete__item.magento_catalog_product .price {
    margin-left: 0;
  }

  .user-profile .greet-text {
    line-height: 1.2;
  }

  .page-header.type2 .block-search input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mst-searchautocomplete__item.magento_catalog_product .title {
    width: auto;
  }

  .mst-searchautocomplete__item.magento_catalog_product .to-cart {
    float: right;
  }

  .mst-searchautocomplete__item.magento_catalog_product .store {
    text-align: right;
  }

  .mst-searchautocomplete__autocomplete .mst-searchautocomplete__close {
    padding: 7px 10px;
  }
  /* */

  .block-search .block-content {
    position: relative;
  }

  .fullsearch {
    position: fixed;
    top: 0;
    width: auto;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 100;
  }

  .mst-searchautocomplete__autocomplete .mst-searchautocomplete__close {
    padding: 7px 10px;
  }

  .block-search .actions {
    position: absolute;
    right: 0;
    top:0;
  }

  .block-search .action.search {
    display: block;
  }

  .page-header.type2 .block-search .action.search {
    padding: 0;height: 48px;
    display: block;
}
  }

  .page-header.type2 .block-search input {
    /* width: calc(100% - 30px);*/
    padding-right: 62px;
  }

  .block-search .action.search::before {
    font-size: 14px;
    line-height: inherit;
    color: #08c;
    content: '\f818';
    font-family: porto-icons;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
    width: 30px;
    padding: 4px;
    height:0px;
    background: orange;
  }

  .block-search .action.search span {
    display: block;
  }

  /*body.searchautocomplete__active .main-search {
    width: 100%;
    margin: 0px 0 0 !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }*/

  body.searchautocomplete__active .main-search .location {
    display: none;
  }

  .mst-searchautocomplete__autocomplete._active {
    height: calc(100vh - 0px);
    overflow: auto;
  }
}

@media (max-width: 767px) {
body.searchautocomplete__active .main-search::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1000vh;
    overflow: hidden;
    background: #fff;
    position: absolute;
    z-index: 10; 
  }
  body.searchautocomplete__active .main-search .form-group .block-search {
        position: relative;
      z-index: 11;
  }
}

@media (min-width: 768px) {
  .mst-searchautocomplete__autocomplete {
    width: 100%;
    min-width: auto;
  }
}

#zoylo-login-form {
  font-size: 0;
}

.ias-noneleft {
  display: none !important;
}

._keyfocus *:focus,
input:not([disabled]):focus,
textarea:not([disabled]):focus,
select:not([disabled]):focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
  -moz-box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
  box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
}
/* Header Search */ 

@media (max-width:767px) {
  .res-menu-content ul {
    margin: 15px 0 0;
    padding: 0;
  }

  .res-menu-content li {
    width: 33%;
    float: left;
    min-height: 60px;
    list-style: none;
    text-align: center;
  }

  .res-menu-content span {
    clear: both;
    width: 100%;
    float: left;
    margin-top: 5px;
  }

  .res-menu-content li a {
    color: #3d4d5d;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
  }

  .res-menu-content li a:hover {
    color: #3d4d5d;
    text-decoration: none;
  }
}
