/* Search */
@media (min-width:1200px) {
  #maincontent {
    max-width: 1260px;
    margin: auto;
  }
}

.opc-progress-bar {
  display: none;
}

i.fa.shipping_address_title, i.fa.payment_methods_title, i.fa.order_summary_title {
  display: none;
}

.opc-wrapper .shipping-address-item.selected-item .edit-address-link {
  right: 0;
}

@media (max-width:1199px) {
 
  #onestepcheckout-page #discount-form .payment-option-inner, #onestepcheckout-page #giftcard-form .payment-option-inner {
    width: 70%;
  }

  #onestepcheckout-page #discount-form .actions-toolbar, #onestepcheckout-page #giftcard-form .actions-toolbar {
    width: 30%;
  }
} 
/* ** Checkout ** */

#click-me {
  color: #fff;
  width: 100%;
  height: 36px;
  line-height: 36px;
  display: inline-block;
}

/* Checkout */

#shipping,
#opc-shipping_method,
#opc-shipping_method {
  background: transparent !important;
}

.checkout-index-index .page-header.type2 .block-header-customer-login,
.checkout-index-index .page-header.type2 .sticky-head {
  display: none;
}

button.go-back {
  font-size: 18px;
  color: #8e5ba6;
  border: 0;
  background: none;
}

button.go-back:hover {
  color: #8e5ba6;
  border: 0;
  background: none;
}

.opc-wrapper .step-title {
  border-bottom: 0;
}

.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary>.title,
.checkout-agreements-items .checkout-agreements-item-title {
  padding-bottom: 9px;
  color: #1d2d3d;
  font-weight: 300;
  font-size: 24px;
  font-family: DINPro-Medium;
}

.opc-wrapper .step-content {
  margin: 0 0 36px;
  padding: 30px 20px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background: #fff;
}

.opc-block-summary {
  background: #fff;
  padding: 0px;
  border: 0;
  margin-bottom: 0px;
}

.block.items-in-cart {
  background: #fff;
  padding: 20px;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.authentication-dropdown {
  border-top: 6px solid #faa74a;
}

.modal-custom .action-close::before,
.modal-popup .action-close::before,
.modal-slide .action-close::before {
  color: #faa74a;
}

.authentication-wrapper button.action-auth-toggle {
  color: #faa74a;
}

.authentication-wrapper .input-text {
  border: 0 !important;
  border-bottom: 1px solid #1d2d3d !important;
  border-radius: 0 !important;
}

.opc-estimated-wrapper .estimated-block .estimated-price {
  color: #1d2d3d;
}

.opc-estimated-wrapper {
  background: transparent;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.fieldset>.field>.label,
.fieldset>.fields>.field>.label {
  font-size: 12px;
  color: #faa74a;
  padding-left: 10px;
}

.fieldset>.field.required>.label::after,
.fieldset>.fields>.field.required>.label::after,
.fieldset>.field._required>.label::after,
.fieldset>.fields>.field._required>.label::after {
  color: #ff2626;
}

@media (max-width:639px) {
  .opc-wrapper .form-login,
  .opc-wrapper .form-shipping-address,
  .opc-wrapper .methods-shipping {
    background: transparent;
    ;
  }

  .opc-wrapper .methods-shipping {
    border-bottom: 0;
  }
}


/* Checkout */

.login-container,
.form.password.reset,
.form.send.confirmation,
.form.password.forget,
.form.create.account,
.form.form-edit-account,
.form-address-edit,
.form-newsletter-manage {
  border: 0;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"] {
  border: 0;
  border-bottom: 1px solid #c3c3c3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 14px;
}


/* My Account Dash Board */

.customer-account-index .block .block-title,
.customer-account-index .box .box-title {
  color: #1d2d3d;
}
  
/* My Account Dash Board */

@media (min-width:1200px) {
  .page-layout-1column .product.media {
    max-width: 299px;
    margin-top: 12px;
  }
}

.checkout-cart-index .cart.table-wrapper .col.qty .input-text {
  text-align: center;
  width: 40px;
  float: left;
  height: 40px;
  padding: 0;
  font-size: 16px;
  border: 2px solid #faa74a;
}

.opc-progress-bar {
  display: none;
}

i.fa.shipping_address_title, i.fa.payment_methods_title, i.fa.order_summary_title {
  display: none;
}

.opc-wrapper .shipping-address-item.selected-item .edit-address-link {
  right: 0;
}

@media (max-width:1199px) {
 
  #onestepcheckout-page #discount-form .payment-option-inner, #onestepcheckout-page #giftcard-form .payment-option-inner {
    width: 70%;
  }

  #onestepcheckout-page #discount-form .actions-toolbar, #onestepcheckout-page #giftcard-form .actions-toolbar {
    width: 30%;
  }
}

.mst-searchautocomplete__autocomplete._active {
  height: calc(100vh - 150px);
  overflow: auto;
}

a.action.create.primary {
  text-transform: uppercase;
}

@media (max-width:767px) {

  .home-blocks {
    margin-bottom: 35px;
  }

  .benefits-container {
    margin-bottom: 35px;
  }

  .home-bottom-slider {
    margin-bottom: 35px;
  }
}

@media (max-width:400px) {
  .btn.btn-primary.know-more {
    display: block;
    left: 54px;
    bottom: 16px;
  }
}

@media (max-width:369px) {
  .btn.btn-primary.know-more {
    display: block;
    left: 46px;
    bottom: 16px;
  }
}

.as-noneleft {
  display: none;
}

.checkout-cart-index .cart.table-wrapper .col.qty::after {
  display: none;
}

@media (max-width: 480px) {
  .products .owl-carousel .owl-item img {
    max-width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.mobileno {
  pointer-events: none;
}

@media only screen and (max-width: 767px) {
  .mobile-sticky .page-main {
    margin-top: 0px;
  }

  .mobileno {
    pointer-events: auto;
  }

  .page-products .page.messages {
    margin-top: 30px;
  }

  .message.success {
    margin: 10px 0 9px;
  }

  .modal-popup._inner-scroll .modal-content {
    overflow-y: auto;
    max-height: 500px;
  }
   .modal-popup  #popup-wrapper .modal-footer{padding-bottom:0px !important;padding-top:0px !important;padding:0px !important;}
   .modal-slide._inner-scroll  .modal-footer{margin-top: 0px !important;}
}

/*after live chamges*/


/*#onestepcheckout-page .fieldset.address .field .label:after {
  content: '*';
  color: #e02b27;
  font-size: 1.2rem;
  margin: 0 0 0 4.5px;
}*/

.box-tocart button:focus {
  outline: 0px auto -webkit-focus-ring-color !important;
}

.rounded-circle {
  margin: 0 0 0 10px;
  width:40px;
  height:40px;
  background: hsla(0,0%,100%,.9);
}


/* 22102019 */


@media (min-width: 768px) {
 
      
  .page-header {
    z-index: 9;
  }

  .edit-qty input+label:after {
    top: 8px;
  }

  .toolbar .sorter {
    top: -20px;
  }

  .cart.table-wrapper .edit-qty input + label:after {
    right: -10px;
    top: 8px;
  }
}

.modal-popup .modal-inner-wrap {
  margin: 20% auto 0;
}

.cart-discount .actions-toolbar .action.primary {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}


/* Cart Popup */
  

/* Cart Popup */ 

/* 23102019 landscape */
@media (max-width: 991px) {
  .cart-container .form-cart {
    width: 100%;
    margin-bottom: 8px;
  }

  .cart-summary, .cart-discount {
    width: 100%;
  }
}

@media (max-width: 767px) {
 /* .navbar {
    padding: .5rem 1rem 22px;
  }*/

  .product-item-photo {
    margin: auto;
  }

  .catalog-product-view #product-addtocart-button {
    width: 92%;
  }

  .item-norms {
    float: left;
    clear: both;
    width: 100%;
    text-align: left;
  }
}

.uploadprescription-index-index .minicart-wrapper, .uploadprescription-index-save .minicart-wrapper {
  display: none;
}

.checkout-index-index .modal-popup .modal-inner-wrap {
  margin-top: 0%;
}

button.action.edit-address-link {
  height: 20px;
  padding: 0;
  font-size: 14px;
  text-transform: none;
  font-family: DINPro-Medium;
}

.opc-wrapper .edit-address-link:hover {
  color: #faa74a;
}

.checkout-payment-method .payment-method._active .payment-method-content {
  display: none;
}

#cart-totals .totals th .coupon {
  display: none;
}

#cart-totals .totals.shipping.excl .mark .value {
  display: none;
}

.checkout-payment-method .payment-method-title {
  padding: 10px 0 !important;
}

@media only screen and (max-width: 767px) {
  .checkout-payment-method .payment-method-title {
    padding: 0 !important;
  }

  /* Cart Page changes */

  .qq-upload-button {
    width: 114px !important;
  }
}

@media only screen and (max-width: 767px) {
   
  .checkout-cart-index .action.apply.primary {
    right: 0px;
  }

  .checkout-cart-index .modal-popup._show .modal-inner-wrap {
    width: 100% !important;
    height: 300px !important;
    overflow-y: auto !important;
  }

  .checkout-cart-index #popup-modal .prescription-ready {
    border-right: 0;
  }
}

@media (max-width: 360px) {
  .filter.active .filter-options-title, .filter.active .filter .filter-current-subtitle, .filter.active .block-category-list .block-title {
    padding: 30px 10px;
  }
} 


/* 87878 */

  /* Check out */
.btn-secondary:not(:disabled):not(.disabled).active,
  .btn-secondary:not(:disabled):not(.disabled):active,
  .show>.btn-secondary.dropdown-toggle {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
  /* CHECKOUT */
#onestepcheckout-page .logo-container .logo {
  margin: 30px 0;
}

#onestepcheckout-page .logo-container .logo:after {
  content: "Checkout";
  font-size: 28px;
  color: red;
  position: absolute;
  bottom: 0px;
  left: 100%;
  color: #fff;
  margin-left: 20px;
  pointer-events: none;
}

#onestepcheckout-page .logo-container .logo img {
  width: 120px;
  height: 41px;
  margin-left: 15px;
}

.checkout-payment-method {
  display: block !important;
  float: left;
  margin-top: 20px !important;
  width: 100%;
}

.checkout-payment-method .step-title {
  background: transparent;
}

#checkout-step-payment {
  border-top: 0px solid #c3c3c3;
  background: #fff;
}

#onestepcheckout-page *:focus {
  border-color: #c3c3c3;
}

li#payment {
  background-color: transparent;
  padding: 0 20px 20px 0;
  margin-top: 0 !important;
}

#onestepcheckout-page .field .control input[type=text],
  #onestepcheckout-page .field .control input[type=email],
  #onestepcheckout-page .field .control input[type=number],
  #onestepcheckout-page .field .control select,
  #onestepcheckout-page .checkout-payment-method .ccard .month .select,
  #onestepcheckout-page .checkout-payment-method .ccard .year .select {
  border-bottom: 1px solid #c3c3c3;
  color: #1d2d3d;
  font-size: 14px;
  font-family: DINPro-Medium;
  line-height: 18px;
  padding-left: 10px;
  height: 36px;
}

#onestepcheckout-page .fieldset.address .field .label {
  line-height: 16px;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  padding-left: 10px;
}

#onestepcheckout-page .fieldset.address>.field {
  margin-bottom: 18px;
}

#onestepcheckout-page .opc-wrapper .step-title {
  padding-bottom: 10px;
}

#onestepcheckout-page #opc-sidebar {
  background: transparent;
}

#onestepcheckout-page #checkout-step-shipping {
  margin-bottom: 0px;
  padding: 15px 20px 1px;
}

.opc-wrapper .shipping-address-item.selected-item {
  padding: 0px 30px 15px !important;
}

#onestepcheckout-page input[type="checkbox"]:checked {
  color: #fff;
  background: #faa74a;
}

#onestepcheckout-page input[type="checkbox"]:checked::after {
  font-size: 12px;
  left: 2px;
}

#onestepcheckout-page input[type="radio"]:checked {
  background: #fff;
  border: 4px solid #faa74a;
}

#onestepcheckout-page .place-order .button {
  background-color: #faa74a;
  border-color: #faa74a;
  height: 40px;
  font-size: 14px;
  margin-top: 0;
}

.payment_methods_title:before {
  color: #faa74a;
}

.account_information_title:before {
  color: #faa74a;
}

.shipping_address_title:before {
  color: #faa74a;
}

.order_summary_title:before {
  color: #faa74a;
}

.billing_address_title:before {
  color: #faa74a;
}

.fa-edit:before,
  .fa-pencil-square-o:before {
  color: #faa74a;
}

#onestepcheckout-page #opc-sidebar .payment-option-title .action-toggle {
  color: #1d2d3d;
}

#onestepcheckout-page #opc-sidebar .payment-option-title .action-toggle:before,
  #onestepcheckout-page #opc-sidebar .gift-item-block .title:before,
  #onestepcheckout-page .opc-block-summary .items-in-cart>.title:after {
  color: #faa74a;
}

#onestepcheckout-page .minicart-items .product-item-details {
  padding-left: 100px;
}

#onestepcheckout-page .minicart-items .product-item-details .product-item-name {
  width: 90%;
  padding: 0;
}

#onestepcheckout-page .product-item-details .fa {
  margin-left: 20px;
  margin-top: 10px;
}

#onestepcheckout-page .fa-times-circle:before {
  color: #faa74a;
}

#onestepcheckout-page .fa-plus-square:before {
  color: #faa74a;
}

#onestepcheckout-page .fa-minus-square:before {
  color: #faa74a;
}

#onestepcheckout-page #opc-sidebar .payment-option._active .payment-option-title .action-toggle:before,
  #onestepcheckout-page #opc-sidebar .gift-item-block._active .title:before,
  #onestepcheckout-page .opc-block-summary .items-in-cart.active>.title:after {
  color: #faa74a;
}

#onestepcheckout-page .details-qty .qty {
  height: 30px;
  border-bottom: 1px solid transparent;
}

#onestepcheckout-page .minicart-items .product-item-details .details-qty .label {
  display: none;
}

#onestepcheckout-page .details-qty .qty-control {
  margin-left: 2px;
}
  /* */
#onestepcheckout-page .back-to-store a {
  color: #8e5ba6;
  font-size: 18px;
}

#onestepcheckout-page .one-step-checkout-footer-wrapper>div.back-to-store {
  float: left;
  position: absolute;
  top: -22px;
}

#onestepcheckout-page #checkout {
  margin-top: 20px;
}

#onestepcheckout-page .opc-wrapper .step-content .discount-code {
  display: none;
}

#onestepcheckout-page .billing-address-form {
  display: none;
}

#onestepcheckout-page .checkout-billing-address {
  display: none;
}

#onestepcheckout-page #discount-form .action {
  background-color: #faa74a;
  border-color: #faa74a;
  color: #fff;
  padding: 0;
}

#onestepcheckout-page #discount-form .action:active {
  background-color: #e08724;
  border-radius: 2px;
  color: #fff;
}

#onestepcheckout-page #discount-form .action:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}

#onestepcheckout-page #welcome::before,
  #onestepcheckout-page #payment::before,
  #onestepcheckout-page #shipping::before,
  #onestepcheckout-page #opc-shipping_method::before,
  #onestepcheckout-page li.step::before,
  #onestepcheckout-page #opc-sidebar::before {
  border: 1px solid transparent;
}

#onestepcheckout-page #welcome,
  #onestepcheckout-page #payment,
  #onestepcheckout-page #shipping,
  #onestepcheckout-page #opc-shipping_method,
  #onestepcheckout-page #opc-sidebar,
  #onestepcheckout-page li.step {
  border: solid 0em transparent;
}

.opc-wrapper .edit-address-link {
  display: block;
  float: right;
  position: absolute;
  bottom: 0px;
  color: #faa74a;
  top: 0;
  right: 15px;
  margin: 0;
}

#onestepcheckout-page #welcome:hover::before,
  #onestepcheckout-page #payment:hover::before,
  #onestepcheckout-page #shipping:hover::before,
  #onestepcheckout-page li.step:hover::before,
  #onestepcheckout-page #opc-shipping_method:hover::before,
  #onestepcheckout-page #opc-sidebar:hover::before {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.opc-wrapper .step-title,
  .opc-block-shipping-information .shipping-information-title,
  .opc-block-summary>.title,
  .checkout-agreements-items .checkout-agreements-item-title {
  padding-bottom: 0px;
}

.opc-wrapper .shipping-address-item.selected-item:after {
  background: #faa74a;
}

.opc-wrapper .shipping-address-item.selected-item {
  border-color: #faa741;
}

#onestepcheckout-page #discount-code {
  height: 36px;
  border-bottom: 1px solid #cecece;
}

#checkout-step-shipping_method {
  border-top: 0px solid #c3c3c3;
}

.checkout-onepage-success .minicart-wrapper.flyingcart-minicart-left .emthemes-flyingcart .flyingcart-co {
  display: none;
}

.shipping-address {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 20px;
  border: 0px solid #c3c3c3;
}

.payment-address {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 20px;
  border: 0px solid #c3c3c3;
  margin-top: 15px;
}

.item-in-order {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 20px;
  border: 0px solid #c3c3c3;
  margin-top: 15px;
  height: 100%;
  max-height: 315px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.order-placed-block {
  background: #fff;
  padding: 10px;
  border-bottom: 2px solid #c3c3c3;
}

.order-summary {
  background: #fff;
  padding: 10px;
  margin-top: 15px;
}

.ordersucess-content {
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 0px solid #c3c3c3;
  height: 600px;
}

.grand-total {
  border-top: 2px solid #1d2d3d;
}

.order-placed-block h3 {
  font-weight: 500;
  font-size: 14px;
  color: #0d1d2d;
  text-align: center;
}

.shipping-address h4 {
  font-size: 16px;
  font-weight: 500;
  color: #1d2d3d;
}

.shipping-address .customer-name {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #1d2d3d;
}

.shipping-address p {
  font-size: 14px;
  color: #6d6e70;
}

.payment-address h4 {
  font-size: 16px;
  font-weight: 500;
  color: #1d2d3d;
}

.item-in-order h4 {
  font-size: 16px;
  font-weight: 500;
  color: #1d2d3d;
}

.payment-address p {
  font-size: 14px;
  color: #6d6e70;
}

.item-in-orde p {
  font-size: 14px;
  color: #6d6e70;
}

.order-placed-block p a {
  font-size: 18px;
  color: #1d2d3d;
}

.order-placed-block p {
  font-size: 14px;
  color: #6d6e70;
  text-align: center;
}

.order-summary h5 {
  font-size: 16px;
  font-weight: 500;
  color: #1d2d3d;
  display: inline-block;
}

p.tabledata-left {
  display: inline-block;
}

.ordersummary-table-items .grand-total-left {
  float: left;
}

.ordersummary-table-items .grand-total-rightl {
  float: right;
}

.ordersummary-table-items .last-grand-totl {
  border-top: 2px solid #1d2d3d;
  position: relative;
  top: 10px;
}

.ordersummary-table-items .tabledata-left {
  float: left;
}

.ordersummary-table-items .tabledata-right {
  float: right;
}

.ordersummary-table-items tr td {
  padding: 0px;
}

tabledata-left-gift {
  float: left;
  font-size: 14px;
  color: #a2cf62;
}

tabledata-right-gift {
  float: right;
  font-size: 14px;
  color: #a2cf62;
}

.ordersummary-table-items .total-data p {
  color: #1d2d3d;
  font-weight: 500;
  font-size: 14px;
}

.opc-wrapper .shipping-address-item:before {
  background: transparent;
}

#onestepcheckout-page .shipping-address-item .radio {
  position: absolute;
  top: 2px;
  left: 5px;
}

.opc-wrapper .shipping-address-item {
  padding: 18px 32px 18px 38px;
}

.ordersucess-click {
  width: 96px;
  height: 97px;
  margin: 0 0 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background-position: -864px -523px;
}

.ordersucess-icon {
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
}

.orderunsucess-click {
  width: 96px;
  height: 97px;
  margin: 0 0 15px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background-position: -864px -620px;
}

.item-in-order-price {
  text-align: right;
}

.item-in-order table td {
  color: #1d2d3d;
  font-weight: 500;
  padding: 0px;
}

.precription-added {
  border-top: 2px solid #c3c3c3;
  padding: 10px 0px;
}

.view-cart-right a:hover {
  color: #fff;
}

#onestepcheckout-page .shipping-address-item .radio.selected-item {
  border: 4px solid #faa74a;
  background-color: #fff;
}
  /* */
#onestepcheckout-page .shipping-address-item .radio.not-selected-item {
  border: 4px solid #c2c2c2;
  background-color: #fff;
}

#onestepcheckout-page input[type="radio"] {
  background: #fff;
  border: 4px solid #c2c2c2;
}

.page-with-filter .modal-popup .modal-footer {
  padding-bottom: 10px;
  padding-top: 10px;
}

.page-with-filter .modal-popup._show .modal-inner-wrap {
  border: 2px solid #faa74a;
}

#onestepcheckout-page #opc-sidebar .payment-option,
  #onestepcheckout-page #opc-sidebar .cart-gift-item {
  margin-bottom: 0px;
  padding: 0 0 15px;
  border-bottom: 0px solid #ccc;
  border-radius: 0;
  padding: 20px;
  background: #fff;
}

#onestepcheckout-page .payment-option-content {
  display: block !important;
}
  /* */
.opc-wrapper .shipping-address-item.selected-item {
  border-color: #faa741;
  border: 0;
}

.opc-wrapper .shipping-address-item.selected-item::after {
  background: #faa74a;
  display: none;
}

#onestepcheckout-page .opc-wrapper .shipping-address-item.not-selected-item:hover {
  border-color: transparent;
}

#onestepcheckout-page .opc-wrapper .shipping-address-item {
  width: 100% !important;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
  line-height: 20px;
  padding-top: 0;
  font-size: 14px;
  color: #6d6e70;
  padding-top: 0px !important;
}

p.customer-title {
  font-size: 18px;
  color: #1d2d3d;
  width: 26%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.customer-phone a {
  color: #6d6e70;
}
  /* */
#onestepcheckout-page .opc-block-summary>.title {
  display: block;
  margin-bottom: 10px;
  position: absolute;
  top: -45px;
  left: 0;
}

#onestepcheckout-page #opc-sidebar {
  width: 32.33%;
  float: left;
  margin-left: 0.9%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .15);
  border: solid 0 #ebebeb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
  margin-top: 66px;
}

#onestepcheckout-page .opc-block-summary .items-in-cart {
  margin-bottom: 10px;
  padding: 0 0px 0px;
  border-bottom: #c3c3c3 1px solid;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
  background: #fff;
}

.column.main .opc-block-summary .product-item {
  margin: 0;
  padding-left: 0;
  background: #fff;
  padding: 10px 10px;
}

#onestepcheckout-page .opc-block-summary .items-in-cart>.title {
  border-bottom: 0px solid #c3c3c3;
  padding: 20px 36px 20px 20px;
}

#onestepcheckout-page .cart-totals tbody .mark,
  #onestepcheckout-page .cart-totals tfoot .mark,
  #onestepcheckout-page .opc-block-summary .table-totals tbody .mark,
  #onestepcheckout-page .opc-block-summary .table-totals tfoot .mark {
  border: 0;
  font-weight: 400;
  padding: 6px 20px;
}

#onestepcheckout-page .cart-totals tbody .amount,
  #onestepcheckout-page .cart-totals tfoot .amount,
  #onestepcheckout-page .opc-block-summary .table-totals tbody .amount,
  #onestepcheckout-page .opc-block-summary .table-totals tfoot .amount {
  padding: 10px 20px 10px 14px;
}

#onestepcheckout-page .cart-totals .grand.totals {
  background: #f8f8f8;
  padding: 20px;
  border-bottom: 1px solid #c3c3c3;
}

#onestepcheckout-page .term-condition {
  padding: 10px 20px;
}

#onestepcheckout-page .term-condition label {
  display: inline;
  margin-bottom: .5rem;
  padding: 10px 0;
}

#onestepcheckout-page .cart-totals,
  #onestepcheckout-page .opc-block-summary .table-totals {
  border-top: 0px solid #ccc;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}

#onestepcheckout-page .opc-block-summary .table-totals {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

#onestepcheckout-page .cart-totals .grand .mark,
  #onestepcheckout-page .opc-block-summary .table-totals .grand .mark {
  border-top: 1px solid #c3c3c3;
  font-size: 1.8rem;
  padding-right: 9px;
  padding: 20px 20px;
  background: #f8f8f8;
}

#onestepcheckout-page .cart-totals .grand .amount,
  #onestepcheckout-page .opc-block-summary .table-totals .grand .amount {
  border-top: 1px solid #c3c3c3;
  font-size: 1.8rem;
  padding: 20px 20px;
  background: #f8f8f8;
}

#onestepcheckout-page .opc-block-summary .items-in-cart>.title::after {
  position: absolute;
  right: 15px;
  top: 22px;
}

#onestepcheckout-page .fa.fa-long-arrow-left {
  font-size: 24px;
  position: relative;
  top: 3px;
}

#onestepcheckout-page .prescription-added {
  margin-left: 20px;
  color: green;
  font-size: 18px;
}

#onestepcheckout-page .opc-block-summary .items-in-cart .product .fa {
  display: inline;
  float: right;
  position: absolute;
  top: -10px;
  right: 0;
}

#onestepcheckout-page .opc-block-summary .items-in-cart .product .fa.fa-check {
  top: 0;
}

#onestepcheckout-page .modal-footer .action.secondary.action-hide-popup {
  border: 1px solid #ccc;
  color: #faa74a;
  line-height: 36px;
  padding: 0 20px;
  height: 36px;
  background-color: #fff;
}

#onestepcheckout-page .modal-footer .action.secondary.action-hide-popup:hover {
  color: #faa74a;
  background: #f4f5f7;
  border: 1px solid #faa74a;
}
  /* 04022019 */
.subtitle-pr span {
  margin-left: 10px;
  font-size: 20px;
  color: #1d2d3d;
}

.packtype-icon {
  width: 30px;
  height: 31px;
  margin-right: 15px;
  background-position: -328px -133px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.opc-block-summary .product-item .subtotal {
  clear: both;
  float: left;
  width: 100%;
  text-align: left;
}

.opc-block-summary .product-item .product-item-name-block {
  display: table-cell;
  padding-right: 4.5px;
  text-align: left;
  width: 90%;
  float: left;
}

.opc-block-summary .minicart-items-wrapper {
  padding: 10px 15px 0 0;
}

.customer-support-icon {
  background-position: -207px -294px;
}

.flow-detail .customer-support-icon {
  margin: 0px;
}

.content.minicart-items {
  display: none;
  padding: 0 10px;
}

.checkout-payment-method .payment-method-title {
  border-top: 0px solid #ccc;
  padding: 0 0 5px !important;
}

.opc-block-summary .product-item .subtotal {
  clear: both;
  float: left;
  width: 100%;
  text-align: left;
}

.opc-block-summary .product-item .product-item-name-block {
  display: table-cell;
  padding-right: 4.5px;
  text-align: left;
  width: 90%;
  float: left;
}

#onestepcheckout-page .opc-block-summary .items-in-cart .product .fa.fa-check {
  top: 0;
}

.opc-block-summary .minicart-items-wrapper {
  padding: 10px 15px 0 0;
}

.opc-block-summary .content.minicart-items {
  border-top: 1px solid #cecece;
}

.opc-block-summary .block.items-in-cart .actions-toolbar {
  display: none;
}

#onestepcheckout-page .opc-block-summary .items-in-cart {
  border-bottom: 0px solid #c3c3c3;
  margin-bottom: 0px;
}

span.address-type {
  position: absolute;
  top: 0;
  left: 30%;
  background: #232176;
  padding: 0 12px;
  line-height: 22px;
  color: rgba(250, 250, 250, 0.7);
  height: 22px;
  text-transform: capitalize;
  font-size: 12px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  width: 60px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#onestepcheckout-page .modal-popup.modal-slide .modal-inner-wrap[class] {
  background: #fff;
}

#onestepcheckout-page .modal-popup .modal-title {
  font-size: 18px;
  font-weight: 400;
  font-family: DINPro-Regular;
  border-bottom: 0px solid #c1c1c1;
}

#onestepcheckout-page .modal-popup._show .modal-inner-wrap {
  border: 0px solid #c3c3c3;
}

#onestepcheckout-page .modal-custom .action-close::before,
#onestepcheckout-page .modal-popup .action-close::before,
#onestepcheckout-page .modal-slide .action-close::before {
  color: #1d2d3d;
  font-size: 16px;
  content: "x";
  font-family: arial;
}

@media (max-width: 767px) {
  #onestepcheckout-page .fieldset.address > .field {
    margin-bottom: 0px;
  }

  span.address-type {
    left: auto;
    right: 9%;
    max-width: 44px;
    padding: 0;
  }

  .opc-wrapper .shipping-address-item {
    padding: 15px 20px 15px 30px;
  }

  #onestepcheckout-page .logo-container .logo {
    float: left;
    display: block;
    margin: 30px auto 0px;
  }
    /*one step checkout start*/
  #onestepcheckout-page .logo-container .logo img {
    width: 80px;
    height: auto;
    margin-left: 15px;
    margin: 6px 15px;
  }

  #onestepcheckout-page #welcome,
    #onestepcheckout-page #payment,
    #onestepcheckout-page #shipping,
    #onestepcheckout-page #opc-shipping_method,
    #onestepcheckout-page #opc-summary,
    #onestepcheckout-page li.step,
    #onestepcheckout-page #opc-sidebar {
    padding: 0px !important;
  }
    /*one step checkout end*/
  #onestepcheckout-page .logo-container .logo img {
    width: 80px;
    height: auto;
    margin-left: 15px;
    margin: 6px 15px;
  }

  #onestepcheckout-page #maincontent {
    background-color: #fff;
  }

  #onestepcheckout-page .logo-container .logo:after {
    content: "Checkout";
    font-size: 24px;
    color: red;
    position: absolute;
    bottom: 0px;
    left: 100%;
    color: #fff;
    margin-left: 20px;
  }

  #onestepcheckout-page .product-item-details .fa {
    margin-left: 0px;
  }

  .opc-block-summary .product-item .product-item-name-block {
    display: inline-block;
  }

  .opc-block-summary .product-item .product-item-inner {
    display: inline-block;
  }

  .flyingcart-checkout {
    float: none;
  }

  .custom-price-block {
    float: none;
  }

  .item-in-order {
    max-height: 225px;
  }
    /* */
  #onestepcheckout-page #opc-sidebar {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }

  #onestepcheckout-page .fieldset.address>.field {
    flex: 100%;
  }

  .opc-wrapper .step-content {
    padding-bottom: 0px;
  }

  .back-to-store span {
    display: none;
  }

  .opc-wrapper .shipping-address-item.selected-item {
    padding: 0px 40px 15px !important;
  }

  .opc-wrapper .form-login,
    .opc-wrapper .form-shipping-address,
    .opc-wrapper .methods-shipping {
    background: #f4f4f4;
    margin: 18px 15px 15px;
    padding: 18px 15px;
  }

  #onestepcheckout-page .cart-totals,
    #onestepcheckout-page .opc-block-summary .table-totals {
    border-top: 0px solid #ccc;
  }

  #onestepcheckout-page .shipping-address-item .radio.selected-item {
    border: 4px solid #faa74a;
    background-color: #fff;
  }

  #onestepcheckout-page .shipping-address-item .radio.not-selected-item {
    border: 3px solid #707070;
    background-color: #fff;
  }

  .opc-wrapper .step-content {
    padding: 15px 10px 20px;
  }

  .checkout-index-index .logo-container {
    height: 60px;
    border-bottom: 4px solid #8e5ba6;
  }

  #onestepcheckout-page .logo-container .logo {
    margin: 8px auto 0px;
  }

  #onestepcheckout-page input[type="radio"] {
    vertical-align: top;
  }

  #onestepcheckout-page input[type="radio"]:checked {
    vertical-align: top;
  }

  .checkout-payment-method .payment-method-title .label {
    width: 80%;
  }

  #onestepcheckout-page .place-order {
    z-index: 900;
  }
}

@media only screen and (max-width: 639px) {
  .opc-wrapper .shipping-address-item.selected-item {
    padding: 15px 30px !important;
  }

  #onestepcheckout-page .minicart-wrapper {
    display: none;
  }

  #onestepcheckout-page .one-step-checkout-footer-wrapper>div {
    top: -15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .columns .column.main {
    position: relative;
  }

  #onestepcheckout-page .minicart-items .product-item-details {
    padding-left: 80px;
  }

  .opc-block-summary .product-item .product-item-name-block {
    display: block;
  }

  #onestepcheckout-page .cart-totals .grand .amount,
    #onestepcheckout-page .opc-block-summary .table-totals .grand .amount {
    padding: 20px 14px;
  }

  #onestepcheckout-page .checkout-payment-method .payment-methods label {
    display: inline;
  }

  span.address-type {
    left: 70%;
  }
}

@media (max-width: 1024px) {
  .symptoms {
    max-width: 100%;
  }
}
  /****** Checkbox ******/
@media (max-width: 767px) {
  #onestepcheckout-page .modal-footer .action.secondary.action-hide-popup {
    margin: 0 0 0 15px;
  }

  .modal-popup.modal-slide {
    left: 0;
    z-index: 1000;
  }

  .modal-popup .modal-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
  }
}

@media (min-width: 768px) {
  #onestepcheckout-page #discount-form .payment-option-inner,
    #onestepcheckout-page #giftcard-form .payment-option-inner {
    width: 54%;
    float: left;
  }

  #onestepcheckout-page #discount-form .actions-toolbar,
    #onestepcheckout-page #giftcard-form .actions-toolbar {
    width: 44%;
    float: left;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  #onestepcheckout-page #discount-form .payment-option-inner,
    #onestepcheckout-page #giftcard-form .payment-option-inner {
    width: 78%;
    float: left;
  }

  #onestepcheckout-page #discount-form .actions-toolbar,
    #onestepcheckout-page #giftcard-form .actions-toolbar {
    width: 22%;
    float: left;
    margin-top: 0;
  }
}

.checkout-payment-method .payment-methods input[type="radio"] {
  margin-top: -2px;
}

button.edit-ship-address-link {
  float: right;
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 15px;
  border: 0;
  height: auto;
  padding: 2px 0;
  line-height: 1;
  background: #fff;
  text-transform: none;
}

@media (max-width: 767px) {
  button.edit-ship-address-link {
    right: 8px;
  }

  button.edit-ship-address-link::after {
    content: "\f044";
    font: normal normal normal 14px/1 FontAwesome;
  }

  button.edit-ship-address-link span {
    font-size: 0;
  }
}

#onestepcheckout-page .modal-popup.modal-slide .modal-footer {
  border-top: 0px solid #c1c1c1;
}

#onestepcheckout-page .modal-popup.modal-slide .modal-footer {
  border-top: 0px solid #c1c1c1;
}

#onestepcheckout-page .modal-footer .action.secondary.action-hide-popup {
  margin-top: 0;
}

#onestepcheckout-page select {
  border-bottom: 1px solid #c3c3c3;
  height: 36px;
}

.checkout-index-index .checkout-payment-method {
  display: none !important;
}

.payment-method-content {
  display: none;
}

.checkout-index-index  .items.payment-methods {
  padding: 10px 20px;
  border-bottom: 1px solid #c3c3c3;
}

.checkout-index-index .items.payment-methods label.label {
  font-family: Dinpro-Regular;
  position: relative;
  top: 2px;
  font-size: 16px;
  width: 90%;
}

#onestepcheckout-page .items.payment-methods input[type="radio"] {
  margin: 0px 5px 5px 0;
  vertical-align: top;
}

.checkout-index-index .items.payment-methods ._active label.label {
  color: #faa74a;
}

#onestepcheckout-page .order-comment {
  padding-top: 20px;
  clear: both;
  border: 0;
  border-bottom: 1px solid #1d2d3d;
  border-radius: 0;
  max-height: 65px;
}

#onestepcheckout-page .payment-group .step-title { 
  display: block !important;
  font-size: 24px;
  color: #1d2d3d;
  font-family: DINPro-Medium;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .checkout-index-index .items.payment-methods label.label {
    top: 6px;
  }

  #onestepcheckout-page .items.payment-methods input[type="radio"] {
    margin: 5px 5px 5px 0;
    vertical-align: top;
  }
}
.checkout-index-index .page-wrapper .message {
    margin-top: 22px;
}
.checkout-index-index .messages {
  position: absolute;
  z-index: 10;
  width: auto;  
  top: -15px;
  max-width: 100%;
  left: 0;
  right: 0;
}

.checkout-messages {
    position: fixed;
    width: 100%;
    z-index: 1;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 0;
}  

button.deleted-address-item {
    position: absolute;
    top: 20px;
    right: 15px;
    border: 0 !important;
    text-transform: capitalize;
    padding: 0;
}
button.deleted-address-item:hover {
  background: transparent;
}
.modal-popup.modal-slide .editbtns-ship-cust-addr-zoylo{
display:none;
}
.modal-popup.modal-slide #zoylo-new-customer-new-address{
display:none;
}
.shipping-address-item .not-deleted-address-item{
display:none;
}


@media (max-width:767px) {
  #click-me {
    height: 49px;
    line-height: 49px;
  }
    .checkout-index-index .messages {
      position: fixed;
    }
    /*#onestepcheckout-page .modal-popup._inner-scroll .modal-content {
      max-height: 100%;
    }*/ 
    #onestepcheckout-page .modal-popup.modal-slide .modal-footer {
        margin: 0;
    } 
    #onestepcheckout-page .modal-popup .modal-header {
        padding-bottom: 1.2rem;
        padding-top: 15px;
    }
     #zoylo-new-customer-new-address{margin: 10px 10px;} 
}

