<?php
$file_url = 'https://blogs.zoylo.com/services/api/latest-blog';
$data = file_get_contents($file_url);
$offersCollection = json_decode($data);
$offersData = $offersCollection->data;
?>

                <div class="recent-posts"> 
                    <div class="owl-carousel">
                            <?php foreach($offersData as $offer){ ?>

                                        <div class="item">
							                  <div class="post-image">
							                  <img src="<?php echo $offer->image;?>" alt="<?php echo $offer->title;?>" title="<?php echo $offer->title;?>"/>
											  </div>
							                  <div class="col-sm-12 post-details">
							                     <div class="postTitle">
							                        <h2><a href="#"><?php echo $offer->title;?></a></h2	>
							                     </div>
							                     <!--<div class="postContent">
							                        <p><?php //echo $offer->body;?></p>
							                     </div>-->
							                     <a class="readmore" data-v-448f6f7f="" href="<?php echo $offer->url;?>" target="blank">Know More</a>
							                  </div>
							               </div>
                            <?php } ?>

                        </div>

 </div>
        


 			