<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaurl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore()
            ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$brandcollections = $block->getBrandCollection();
foreach ($brandcollections as $brands) {
    $imageurl = $mediaurl . $brands['image'];
    $brandname = $brands['name'];
    $url_key = 'brand/' . $brands['url_key'] . '.html';
if($brands['image'] != ''){?>

<div class="item">
<a href="<?php echo $baseUrl . $url_key;?>"><img src="<?php echo $imageurl ?>" alt="<?php echo $brandname; ?>" height="42" width="42"></a>
</div>

<?php } } ?>
