<style>
.category-ul-data li {
    float: left; width: 400px;
    list-style-type: none;
    display: inline-block;
}
.category-ul-data{width:1000px;}
.category-ul-data li{float:left;}
</style>
<div class="row">  
<div class="col-sm-12">
<div id="menu-links" class="row menu-links">
<div class="owl-carousel">
<?php
$categories = $block->getStoreCategories();
$c = 0;

foreach($categories as $category) : 
  $c++;

  if($c > 2) {
      break;
  } ?>
  <div class="col-sm-12">
      <ul class="category-ul-data">
      <?php
      $categoryObj = $block->getCategoryById($category->getId());
      //echo '<li class="parent"><a href="'.$categoryObj->getUrl().'">'.$category->getName().'</a></li>';

      if($category->hasChildren()) {
          $subCategories = $categoryObj->getChildrenCategories();
          $i=1;
          foreach($subCategories as $subCategory) {
              $subCategoryObj = $block->getCategoryById($subCategory->getId());
              echo '<li class="item col-sm-4"><a href="'.$subCategoryObj->getUrl().'">'.$subCategory->getName().'</a></li>';
             
               if ($i++ == 10)
                   
                    break;
          }
      } ?>
      </ul>
  </div>
<?php endforeach;?>

    </div>


 <script type="text/javascript">
        require([
            'jquery',
            'owl.carousel/owl.carousel.min'
        ], function ($) {
            $("#menu-links .owl-carousel").owlCarousel({
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                margin: 30, 
                nav: true,
				navText: ["<em class='porto-icon-left-open-huge'></em>","<em class='porto-icon-right-open-huge'></em>"],
                dots: false,
                loop: true,
                responsive: {
                    0: {
                        items:1
                    },
                    640: {
                        items:3
                    },
                    768: {
                        items:4
                    },
                    1200: {
                        items:5
                    }
                }
            });
        });
    </script>
 </div>  
     </div> 
     </div> 
    