<?php
$categories = $block->getRelatedproductcategories();

if (!empty($categories)) {
    ?>
    <section class="wrapper">
    </section>
    <?php
    foreach ($categories as $categorie) {
        $imageurl = $block->getCategoryImageUrl($categorie->getId());
        ?>
        <div class="symptoms">
            <p><a href="#"><span class="categorie-list"><?php echo $categorie->getName(); ?></span></a></p>
            <p><a href="#"> <img src="<?php echo $imageurl; ?>" alt="CategoryImage" height="42" width="42"></a></p>
        </div>


    <?php
    }
}
?>



