<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaurl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
	->getStore()
	->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$brandcollections = $block->getBrandCollection();
$count =  count($brandcollections);
$i = 1 ;
$lineItemsCount = 9;

foreach ($brandcollections as $brands) {
	$brandname = $brands['name'];
    $url_key = 'brand/' . $brands['url_key'] . '.html';
	if($i <= $lineItemsCount){
		if($i == 1){
		?>
			<div class="col">
	        <ul class="footer-list">
		<?php 
			}
	   	?>
	   		<li><a href="<?php echo $baseUrl . $url_key;?>"><?php echo $brandname; ?></a></li>
	   	<?php
	   	 if($i == $lineItemsCount){
		?>
	        </ul>
	        </div>
		<?php 
			}
	}
	if($i > $lineItemsCount && $i <= $count){
		if($i == $lineItemsCount+1){
		?>
			<div class="col">
	        <ul class="footer-list">
		<?php 
			}
	   	?>
	   		<li><a href="<?php echo $baseUrl . $url_key;?>"><?php echo $brandname; ?></a></li>
	   	<?php
	   	 if($i == $count){
		?>
			<li><a href="<?php echo $baseUrl;?>brand/otc.html">More +</a></li>
			
	        </ul>
	        </div>
	    <?php
	 	}
 	}
    $i++;
}
?>