<?php
$file_url = 'https://blogs.zoylo.com/services/api/offers';
$data = file_get_contents($file_url);
$offersCollection = json_decode($data);
$offersData = $offersCollection->data;
?>

                
                   


        



<!-- SPECIAL OFFERS FOR YOU -->
<div class="home-blocks home-products popular-combos" >
<div class="container position-relative">
<h3>Special Offers For You</h3> 
<div id="offers-slider" class="offers-slider">
     <div class="owl-carousel">
                            <?php foreach($offersData as $offer){ ?>

                                <div class="item"> 
                                    <a data-v-448f6f7f="" href="/offer-details/<?php echo $offer->id;?>" target="blank" class="btn btn-primary know-more">Know More</a><img src="<?php echo $offer->image;?>" title="<?php echo $offer->title;?>" alt="<?php echo $offer->title;?>" />
                                </div>
                            <?php } ?>

                        </div> 

</div>
     <script type="text/javascript" xml="space">
                    require([
                        'jquery',
                        'owl.carousel/owl.carousel.min'
                    ], function ($) {
                        $("#offers-slider .owl-carousel").owlCarousel({
                            autoplay: false,
                            autoplayTimeout: 5000,
                            autoplayHoverPause: true,
                            loop: true,
                            navRewind: true,
                            margin: 25,
                            nav: true,
                            navText: ["<em class='porto-icon-left-open-huge'></em>","<em class='porto-icon-right-open-huge'></em>"],
                            dots: false,
                            responsive: {
                                0: {
                                    items:1
                                },
                                640: {
                                    items:2
                                },
                                768: {
                                    items:3
                                },
                                1200: {
                                    items:4
                                }
                            }
                        });
                    });
</script>
<a href="https://www.zoylo.com/offer-details/318" class="float-right view-more">View more (100+)</a>
</div>
</div>
<!-- Ends SPECIAL OFFERS FOR YOU -->


