@media (min-width: 768px) {
  .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main {
    width: 73%;
  }
}

@media (max-width:767px) {
  .columns .column.main {
    position: relative;
  }
}

.product-info-main {
  margin-bottom: 0;
}

.page-wrapper>.breadcrumbs {
  margin-top: 12px;
  margin-bottom: 5px;
}

.page-products .page-wrapper>.breadcrumbs {
  margin-top: 3px;
  margin-bottom: 5px;
}

.widget.block.block-static-block {
  width: 100%;
  max-width: 100%;
  padding: 0 0px;
  margin: 0;
}
/* Marquee */

marquee {
  background: #8e5ba6;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  padding: 0 15px;
  margin-bottom: 0px;
  display: none;
}

.catalog-product-view marquee {
  display: block;
}

marquee a {
  color: #fff;
  font-size: 12px;
  margin-right: 50px;
}

marquee a .fa-plus:before {
  content: "\f067";
  font-size: 10px;
  font-weight: 700;
}
/* Marquee */
/* Marquee New */
.mcontainer {
  width: 100%;
  background: #8e5ba6;
  float: left;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.marquee, *[class^="marquee"] {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
}

.marquee-content-items {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 40px;
  position: relative;
}

.marquee-content-items li {
  display: inline-block;
  margin: 0 25px;
  line-height: 40px;
  color: #fff;
  font-size: 12px;
}
.category-description {
    padding: 15px 15px;
    border: 1px solid #eaeaea;
    margin: 0 15px;

}
.slider.marquee-slider li span { 
    margin-right: 80px; 
    float: left; 
    line-height: 24px;
   }   

#money_start li {
  padding:6px 0 4px;  
}
.slider.marquee-slider .list-warnings-icon {
    width: 34px; 
    height: 26px;  
    margin:0 5px 0 0; 
    float:left;
    background: url(../images/marquee-spritesheet.png) no-repeat 0 0;
    
}
.slider.marquee-slider .genuine-icon {
    background-position: -0px -0px;
}
.slider.marquee-slider .quality-icon {
    background-position: -41px -0px;
}
.slider.marquee-slider .secure-icon {
    background-position: -85px -0px;
}
.slider.marquee-slider .assured-icon {
    background-position: -127px -0px;
}
.slider.marquee-slider .discreet-icon {
    background-position: -171px 0px;
}
.slider.marquee-slider .express-icon {
    background-position: -216px -0px;
}
.slider.marquee-slider .multi-payment-icon {
    background-position: -302px -0px;       
}
.slider.marquee-slider .offer-icon {
    background-position: -336px 0px;       
}


.catalog-product-view .slider.marquee-slider .genuine-icon { 
    background-position: -0px -27px;
}
.catalog-product-view .slider.marquee-slider .quality-icon {
    background-position: -41px -27px;
}
.catalog-product-view .slider.marquee-slider .secure-icon {
    background-position: -85px -27px;
}
.catalog-product-view .slider.marquee-slider .assured-icon {
    background-position: -127px -27px;
}
.catalog-product-view .slider.marquee-slider .discreet-icon {
    background-position: -171px -27px;
}
.catalog-product-view .slider.marquee-slider .express-icon {
    background-position: -216px -27px;
}
.catalog-product-view .slider.marquee-slider .multi-payment-icon {
    background-position: -302px -27px;       
}
.catalog-product-view .slider.marquee-slider .offer-icon {
    background-position: -336px -27px;        
}
@media (max-width:767px) {  
    .catalog-product-view   .slider.marquee-slider {
        margin: 30px 0 0px;  
        height: 40px;
        overflow: hidden;
    }
    .catalog-category-view .slider.marquee-slider {
        margin: 70px 0 0px;
        height: 40px;
        overflow: hidden;
    }
  
  .category-description {
    margin: 20px 15px 0;
  }
 
}

/* Marquee  New*/
.page-products .page-main>.page-title-wrapper .page-title {
  margin-bottom: 20px;
}

.product-info-main .page-title-wrapper h1 {
  display: none;
}

div#ias_noneleft_1545837235744 {
  display: none;
}

/* Media */

.product.media {
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  background: #fff;
  padding-bottom: 20px;
}

.fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
  display: none;
}

.fotorama__arr {
  display: none !important;
}

.fieldset>.actions {
  display: inline-flex;
  width: 100%;
}

.product-options-bottom .price-box .price-container .price, 
.product-info-price .price-box .price-container .price {
  font-size: 24px;
  line-height: 24px;
  color: #1d2d3d;
}

.catalog-product-view .pack-size {
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  max-width: auto;
  float: right;
  margin: auto;
  font-size: 14px;
  color: #1d2d3d;
  font-family: DINPRO-MEDIUM;
  position: relative;
  top: 2px;
  left: -10px;
} 

.product-options-bottom .price-box,
.product-info-price .price-box {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 0px;
  text-align: center;
}

.product-info-price .old-price .price-container .price {
  font-size: 12px;
  color: #6d6e70;
  font-weight: 400;
}

.catalog-product-view #product-addtocart-button {
  float: right;
  text-transform: uppercase;
  font-size: 14px;
  width: 82%;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  height: 36px;
  background: #faa74a;
  color: #fff;
  margin: 0;
}

.catalog-product-view #buy-now {
  background: #fff;
  border-color: #faa74a;
  color: #faa74a;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  margin-bottom: 0;
}

.product.media .fieldset>.field.qty, .product.media .nested.options-list>.field.qty {
  margin-right: 0;
  width: 100px;
  text-align: right;
  padding-right: 3px;
}

.product.media .fieldset>.field.qty label.label {
  display: block !important;
  float: left;
  position: relative;
  top: 12px;
  font-size: 12px;
  color: #6d6e70;
  margin: 0;
  font-family: DINPro-Regular;
  font-weight: 500;
  text-align: right;
  padding-right: 5px;
}

.section-three .fieldset>.field.qty label.label {
  float: left;
  width: auto;
  color: #6d6e70;
  margin-right: 5px;
  font-size: 12px;
}

.section-three .box-tocart {
  margin: 0;
}

.box-tocart .control .input-text.qty {
  float: left;
  height: 24px;
  padding: 0;
  width: 40px;
  border: 1px solid #9b9b9b;
}
/* get-additional */

.get-additional-block {
  border: 1px solid #c3c3c3;
  padding: 5px;
  text-align: left;
  float: left;
  width: 100%;
  position: relative;
  margin: 0 0 15px;
}

.get-additional-pnl h4 {
  color: #6f6f6f;
  font-size: 16px;
}

.get-additional-pnl {
  border: 0px dashed #6d6e70;
  padding: 5px 10px;
  text-align: center;
  width: 60%;
  float: left;
}

.get-additional-pnl p {
  margin-bottom: 0;
  font-size: 12px;
  color: #6d6e70;
}

.get-additional-code {
  background: #6d3985;
  padding: 5px;
  text-align: center;
  width: 40%;
  float: left;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  vertical-align: middle;
  color: #fff;
  height: 100%;
  font-size: 20px;
}

.get-additional-code span {
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.get-additional-code::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -28px;
  border-top: 82px solid #6d3985;
  border-left: 29px solid transparent;
  display: none;
}

.bundle-options-container .block-bundle-summary .box-tocart,
.box-tocart {
  margin: 0 0 15px;
}
/*  
.get-additional-code span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.product.media #qty-error {
  color: red;
  margin-top: 0;
  margin: 34px 0 0;
  float: right;
  position: absolute;
  left: 0;
  font-size: 11px;
}

.price-cart-container {
  margin-bottom: 15px;
  padding: 15px 20px 20px;
  border: 1px solid #efefef;
}

.product-info-main .box-tocart {
  margin-bottom: 0;
}

.sidebar.sidebar-additional .product-info-price {
  position: absolute;
  top: 15px;
}

.sidebar.sidebar-additional .section-three .box-tocart {
  margin: 0;
  padding: 58px 0 0 0;
}

@media (max-width:767px) {
 
  .product-info-main {
    margin-top: 20px;
  }

  .catalog-product-view:not(.weltpixel-quickview-catalog-product-view) .product.media {
    position: relative !important;
    padding: 0;
    top: 0 !important;
    margin-top: 20px;
  }

  .product-image-list {
    min-height: 128px;
  }

  .product.media .fieldset>.field.qty label.label {
    top: 7px;
  }

  .box-tocart .control .input-text.qty {
    height: 32px;
    width: 32px;
  }

  .product.media .fieldset>.field.qty, .product.media .nested.options-list>.field.qty {
    padding-right: 10px;
  }

  .product.media #qty-error {
    position: absolute;
    left: 0%;
    font-size: 10px;
  }

  .product.media #qty-error {
    margin: 26px 0 0;
    font-size: 9px;
    text-align: left;
  }

  .catalog-product-view.page-layout-2columns-right:not(.weltpixel-quickview-catalog-product-view) .sidebar.sidebar-additional {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
    z-index: 2;
  }

  .catalog-product-view .pack-size {
    font-size: 12px;
    text-align: right; 
    left:auto; 
  }

  .sidebar.sidebar-additional .section-three .box-tocart {
    margin: 0;
    padding: 0px 0 0 0;
  }

  .sidebar.sidebar-additional .product-info-price {
    position: absolute;
    top: 5px;
  }

}

@media (max-width:1024px) and (min-width:768px) {
  .product.media {
    padding-left: 0;
    padding-right: 0;
    max-width: 225px;
  }

  .catalog-product-view.product-type-sticky-right .product.media {
    position: relative !important;
  }

  .catalog-product-view #buy-now {
    padding: 5px 8px;
  }

  .get-additional-pnl {
    width: 65%;
  }

  .get-additional-code {
    width: 34%;
  }

  .product.media #qty-error {
    margin: 37px 0 0;
    font-size: 9px;
    text-align: left;
  }
}

@media (max-width:991px) and (min-width:768px) {
  .product.media {
    max-width: 170px;
  }

  .product-image-list {
    min-height: 170px;
  }
  .catalog-product-view #product-addtocart-button {
        width: 100%;
  }
  .catalog-product-view .pack-size { text-align: right; }

  .sidebar .fieldset > .field.qty {
    width: auto;
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right; 
 }
  .sidebar .fieldset > .field:not(.choice) .control {
    width: auto;
    float: right;
}
}

@media (min-width:1200px) {
 
  .product-info-main {
    margin-top: 0px;
   /* min-height: 580px; */;
  }

  .product-image-list {
    min-height: 300px;
    min-width: 300px;
  }
}

/* get-additional */
/* Media */

/* Tabs */
.move-product-tab {
  display: none;
}
/* Tabs */
/* Product Details Left Block */
.container-one {
  margin: 0;
  padding: 0 0 15px;
  color: #6d6e70;
  font-size: 14px;
  border-bottom: 0px solid #ccc;
  clear: both;
}

.pro-name {
  font-size: 24px;
  line-height: 31px;
  color: #1d2d3d;
  font-weight: 500;
  font-family: DINPro-Medium;
  margin: 0;
  width: 100%;
}

.pro-name h1 {
  font-size: 24px;
}

.main-brand {
  width: 100%;
  float: left;
}

.pro-brand {
  color: #6d6e70;
  line-height: 20px;
  font-weight: 500;
  font-family: DINPro-Medium;
  margin: 0 0 15px;
}

.pro-brand span+span {
  color: #1d2d3d;
}

.channel-partners {
  font-size: 12px;
  font-family: DINPro-Regular;
  color: #6d6e70;
  margin-bottom: 20px;
}


/* select Lang */
.pharmacist {
  width: 32%;
  float: right;
  height: auto;
  position: absolute;
  bottom: auto;
  top: 5px;
  right: 0;
  text-align: right;
  display: none;
}

.pharmacist h3 {
  text-align: left;
  float: left;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  margin-right: 10px;
  height: 22px;
  line-height: 22px;
}

.select-lang {
  color: #6d6e70;
  height: 22px;
  line-height: 22px;
  border-right: 0px solid #ccc;
  padding-right: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.lang-drop-icon {
  width: 16px;
  height: 16px;
  background-position: -49px -43px;
}
/* select Lang */
.composition-list {
  position: relative;
  margin-bottom: 20px;
}

.pro-name-composition span {
  font-size: 12px;
}

.sub-composition .sub a {
  position: relative;
}

.pro-name-composition {
  margin-bottom: 0;
}

.pro-brand b, .pro-brand strong {
  font-weight: 500;
  color: #1d2d3d;
  font-family: DINPro-Medium;
}

.product-collection-label {
  max-width: 65%;
  line-height: 16px;
  margin-top: 4px;
}

.product-collection-label p {
  font-size: 12px;
  margin: 0;
}

@media (max-width:767px) {
  .pharmacist {
    width: auto;
    top: 0px;
    right: 6px;
  }

  .select-lang {
    padding-right: 0;
    margin-right: 0;
  }

  .product-collection-label {
    max-width: 100%;
  }
}
/* List of Warnings */

.list-of-warnings {
  width: 100%;
  float: left;
  margin-bottom: 35px;
}

.list-of-warnings p {
  clear: none;
  padding: 0;
  margin-bottom: 10px;
}

.list-of-warnings ul {
  padding: 0;
  line-height: none;
  list-style: none;
}

.safe-unsafe-img {
  float: left;
  margin-right: 10px;
}

p.safe-unsafe {
  display: none;
}

.safe-unsafe-value {
  font-weight: 400;
  color: #1d2d3d;
}

.list-of-warnings-icon {
  height: 30px;
  width: 30px;
}

.list-warnings-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background: url(../images/newpdp-spritesheet.svg) no-repeat 0 0;
  background-position-x: 0px;
  background-position-y: 0px;
}

.alcohol-icon-safe {
  background-position: -234px -42px;
}

.alcohol-icon-unsafe {
  background-position: -234px -74px;
}

.driving-icon-safe {
  background-position: -362px -42px;
}

.driving-icon-unsafe {
  background-position: -362px -74px;
}

.pregnancy-icon-safe {
  background-position: -105px -42px;
}

.pregnancy-icon-unsafe {
  background-position: -105px -74px;
}

.lactation-icon-safe {
  background-position: -138px -42px;
}

.lactation-icon-unsafe {
  background-position: -138px -74px;
}

.kidney-icon-safe {
  background-position: -10px -42px;
}

.kidney-icon-unsafe {
  background-position: -10px -74px;
}
/* List of Warnings */
p.symtopms-desc {
  font-size: 10px;
  color: #999;
} 
/* Substitutes Right Block  */

.section-three {
  border-left: 0px dashed #C3C3C3;
  margin-top: 5px;
  padding: 0;
}

.product-collection {
  margin: 20px 0 20px;
  clear: both;
  float: left;
  width: 100%;
}

.product-collection h3 {
  font-size: 14px;
  font-family: DINPro-Medium;
  margin: 0 0 10px;
  background: #f4f4f4;
  padding: 10px 15px;
}

.catalog-product-view .product-collection .action.primary.tocart {
  font-size: 10px;
  background: transparent;
  border: 0;
  color: #faa74a;
  font-family: DINPro-Medium;
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
}

.catalog-product-view .product-collection .action.primary.tocart:hover, .catalog-product-view .product-collection .action.primary.tocart:active {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0);
  color: #fff;
  background: #faa74a;
  padding: 0 15px;
}

.product-collection .product-collection-value p.price {
  font-size: 16px;
  font-family: DINPro-Medium;
  color: #1d2d3d;
}

p.p-name {
  font-size: 14px;
  font-family: DINPro-Regular;
}   
/* */
.use-coupon-code {
  max-width: 100%;
  min-height: 100px;
  font-size: 12px;
  color: #3d4d5d;
  padding: 10px 20px 5px;
  border: 1px solid #707070;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  line-height: 18px;
}

.use-coupon-code::after {
  content: "";
  background: url(../images/great-discounts-bg.png) no-repeat;
  height: 63px;
  width: 150px;
  position: absolute;
  right: 0;
  bottom: -1px;
}

h4.use-coupon-code-txt {
  font-size: 14px;
  color: #00b9f2;
  line-height: 18px;
  max-width: 100%;
}

.use-coupon-code-txt span {
  color: #faa74a;
}

@media (max-width: 767px) {
  .section-three {
    border: 0;
  }
}

@media (max-width: 1199px) {
  .section-three {
    border-left: 0px dashed #C3C3C3;
  }

  .product-collection .action.primary.tocart:hover, .product-collection .action.primary.tocart:active {
    padding: 0 5px;
  }
}   
/* Substitutes Right Block  */
/* Container Two  */
.container-two {
  clear: both;
}

.container-two h4 {
  font-size: 14px;
  color: #1d2d3d;
  margin-bottom: 0px;
}

.container-two p {
  margin-bottom: 15px;
  font-size: 14px;
  color: #6d6e70;
  line-height: 22px;
}

.container-two .uses-of h4 {
  margin: 0 0 10px;
}

.expert-advice h4 {
  margin-bottom: 8px;
}

.expert-advice li {
  font-size: 14px;
}

.expert-advice ul li strong {
  font-weight: normal !important;
}
/* Container Two  */





button.porto-icon-down-dirs,
button.porto-icon-up-dirs {
  font-size: 18px;
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 18px;
  float: none;
  background: #c3c3c3;
  color: #fff;
  padding: 0;
}

button.porto-icon-down-dirs:hover,
button.porto-icon-up-dirs:hover {
  background: #faa74a;
  color: #fff;
  border-color: #faa74a;
}


/* Oct */

[class^="product-otc-"] .container-one p+p {
  padding: 0 0 0 15px;
}

[class^="product-otc-"] .check-avability {
  width: 50%;
  float: right;
}

[class^="product-otc-"] .container-two p {
  margin-bottom: 30px;
}

[class^="product-otc-"] .container-two h3 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
}

[class^="product-otc-"] .container-two h3 strong {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}


/* Oct */
.overview-brd-btm::after {
  border-bottom: 1px solid #ccc;
  content: "";
  height: 1px;
  width: 100%;
}

h3.medical-description {
  font-size: 16px;
  color: #1d2d3d;
  font-family: DINPro-Medium;
  margin: 0;
  padding: 25px 10px 15px 0; 
  cursor: pointer;
}

/* Accordion */
.accordion-slider {
  background: #fff;
  max-width: 100%;
  background: white;
  margin: 0 auto;
  clear: both;
  border-top: 1px solid #ccc;
}

.accordion-container {
  border-bottom: 1px solid #ccc;
  float: left;
  width: 100%;
}

.accordion-slider h2 {
  font-size: 16px;
  color: #1d2d3d;
  font-family: DINPro-Medium;
  margin: 0;
  padding: 15px 10px 15px 0;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 5px 5px 5px !important;
}

.accordion-header::after {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  float: right;
  background: url(../images/pdp-spritesheet.svg) no-repeat -516px -12px;
}

.active.accordion-header::after {
  content: '';
  background: url(../images/pdp-spritesheet.svg) no-repeat -516px -36px;
}

.accordion-slider .owl-carousel.owl-drag .owl-item {
  padding: 15px 0px 25px;
}

.accordion-content h3 {
  width: 98.8%;
  border: 1px solid #ccc;
  height: 130px;
  font-size: 14px;
  font-family: DINPro-Medium;
  color: #1d2d3d;
  text-align: center;
  line-height: 16px;
  padding: 30px 15px 15px;
  margin-bottom: 0;
}

h3.safe-brd::before {
  content: "";
  background: url(../images/safe-icon-border.png) no-repeat -1px 7px;
  border-bottom: 0px solid #fcb1b1;
  height: 24px;
  width: 42px;
  display: inline-block;
  top: 8px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  border-radius: 50%;
}

h3.unsafe-brd::before {
  content: "";
  background: url(../images/unsafe-icon-border.png) no-repeat -1px 7px;
  border-bottom: 0px solid #fcb1b1;
  height: 24px;
  width: 42px;
  display: inline-block;
  top: 8px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  border-radius: 50%;
}

h3.safe-brd-unknown::before {
  content: "";
  background: url(../images/unknown-icon-border.png) no-repeat -1px 7px;
  border-bottom: 0px solid #fcb1b1;
  height: 24px;
  width: 42px;
  display: inline-block;
  top: 8px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  border-radius: 50%;
}

h3.safe-brd-supervision::before {
  content: "";
  background: url(../images/precaution-icon-border.png) no-repeat -1px 7px;
  border-bottom: 0px solid #fcb1b1;
  height: 24px;
  width: 42px;
  display: inline-block;
  top: 8px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  border-radius: 50%;
}

.accordion-content .safe-unsafe-icons {
  width: 24px;
  height: 24px;
  margin: 0 -2px 15px;
  position: absolute;
  top: 3px;
  left: 50.5%;
  transform: translate(-50%);
}

.accordion-content .special-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  color: #1d2d3d;
  font-size: 12px;
  font-family: DINPro-Regular;
  margin-top: 8px;
  -webkit-box-orient: vertical;
  height: 50px;
}

h3.safe-brd {
  border-color: #a3cf62;
}

h3.unsafe-brd {
  border-color: #fcb1b1;
}

h3.safe-brd-unknown {
  border-color: #8196ab;
}

h3.safe-brd-supervision {
  border-color: #f0ac70;
}

.zoylo-icon2 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background: url(../images/pdp-spritesheet.svg) no-repeat 0 0;
}

h3.safe-brd-safe {
  border-color: #a3cf62;
}

h3.safe-brd-safe::before {
  content: "";
  background: url(../images/safe-icon-border.png) no-repeat -1px 7px;
  border-bottom: 0 solid #fcb1b1;
  height: 24px;
  width: 42px;
  display: inline-block;
  top: 8px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  border-radius: 50%;
}

h3.safe-brd-unsafe {
  border-color: #fcb1b1;
}

h3.safe-brd-unsafe::before {
  content: "";
  background: url(../images/unsafe-icon-border.png) no-repeat -1px 7px;
  border-bottom: 0 solid #fcb1b1;
  height: 24px;
  width: 42px;
  display: inline-block;
  top: 8px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  border-radius: 50%;
}
/* Accordion */



.uses-of ol {
  padding-left: 12px;
  margin-bottom: 20px;
}
/* */
.special-instructions {
  border: 0px solid #c3c3c3;
  padding-bottom: 30px;
  margin-top: 0px;
  border-radius: 0px;
  color: #6d6e70;
  font-size: 14px;
  margin-bottom: 0px;
}

.special-instructions-content {
  background-color: #fff;
  padding: 10px 35px 0px;
  line-height: 30px;
  min-height: 100px;
}

.special-instructions-content li {
  line-height: 18px;
  margin-bottom: 10px;
  color: #6d6e70;
}

.special-instructions .col-sm-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.special-instructions-content h3 {
  margin-left: 0px;
  color: #1d2d3d;
  font-size: 24px;
  margin-bottom: 15px;
}

.special-instructions-img {
  position: relative;
  height: auto;
}

.instructions-img {
  width: 50px;
  height: 74px;
  background-position: -22px -120px;
  margin: 0 auto;
  position: absolute;
  left: auto;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1;
}

@media (max-width:767px) {
  .special-instructions-content {
    background-color: #f4f5f7;
    padding: 20px;
    line-height: 30px;
    margin: 0 15px 20px;
  }
  .accordion-slider h2 {
    font-size: 14px;
  }
}

/* allergy-interaction-slider */  
.allergy-interaction-slider {
  margin: 0 25px;
}

.allergy-interaction-slider .owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  top: 25%;
  position: absolute;
  width: 100%;
}

.expert-advice ol {
  padding: 5px 0 0 15px;
}

.allergy-interaction-slider .allergy-antibiotics-safe {
  background-position: -370px -10px;
}

.allergy-interaction-slider .allergy-antibiotics-unsafe {
  background-position: -370px -34px;
}

.allergy-interaction-slider .allergy-antibiotics-supervision {
  background-position: -370px -58px;
}

.allergy-interaction-slider .allergy-antibiotics-unknown {
  background-position: -370px -82px;
}

.allergy-interaction-slider .allergy-pain_killers-safe {
  background-position: -394px -10px;
}

.allergy-interaction-slider .allergy-pain_killers-unsafe {
  background-position: -394px -34px;
}

.allergy-interaction-slider .allergy-pain_killers-supervision {
  background-position: -394px -58px;
}

.allergy-interaction-slider .allergy-pain_killers-unknown {
  background-position: -394px -82px;
}

.allergy-interaction-slider .allergy-chemotherapydrugs-safe {
  background-position: -418px -10px;
}

.allergy-interaction-slider .allergy-chemotherapydrugs-unsafe {
  background-position: -418px -34px;
}

.allergy-interaction-slider .allergy-chemotherapydrugs-supervision {
  background-position: -418px -58px;
}

.allergy-interaction-slider .allergy-chemotherapydrugs-unknown {
  background-position: -418px -82px;
}

.allergy-interaction-slider .allergy-anticonvulsants-safe {
  background-position: -442px -10px;
}

.allergy-interaction-slider .allergy-anticonvulsants-unsafe {
  background-position: -442px -34px;
}

.allergy-interaction-slider .allergy-anticonvulsants-supervision {
  background-position: -442px -58px;
}

.allergy-interaction-slider .allergy-anticonvulsants-unknown {
  background-position: -442px -82px;
}

.allergy-interaction-slider .allergy-anticoagulants-safe {
  background-position: -466px -10px;
}

.allergy-interaction-slider .allergy-anticoagulants-unsafe {
  background-position: -466px -34px;
}

.allergy-interaction-slider .allergy-anticoagulants-supervision {
  background-position: -466px -58px;
}

.allergy-interaction-slider .allergy-anticoagulants-unknown {
  background-position: -466px -82px;
}

.allergy-interaction-slider .allergy-sulfadrugs-safe {
  background-position: -490px -10px;
}

.allergy-interaction-slider .allergy-sulfadrugs-unsafe {
  background-position: -490px -34px;
}

.allergy-interaction-slider .allergy-sulfadrugs-supervision {
  background-position: -490px -58px;
}

.allergy-interaction-slider .allergy-sulfadrugs-unknown {
  background-position: -490px -82px;
}
/* allergy-interaction-slider */
/* interaction-slider */
.interaction-slider {
  margin: 0 25px;
}

.interaction-slider .owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  top: 25%;
  position: absolute;
  width: 100%;
}
 






/* 
.interaction-slider .instructions-low-blood-pressure {
 background-position:-10px -10px;
}

.interaction-slider .instructions-low-blood-pressure-unsafe {
  background-position:-10px -34px;
}

.interaction-slider .instructions-high-blood-pressure {
 background-position:-10px -10px;
}

.interaction-slider .instructions-high-blood-pressure-unsafe {
  background-position:-10px -34px;
}

.interaction-slider .instructions-low-blood-pressure {
 background-position:-10px -10px;
}

.interaction-slider .instructions-low-blood-pressure-unsafe {
  background-position:-10px -34px;
}

.interaction-slider .instructions-diabetes {
 background-position:-10px -10px;
}

.interaction-slider .instructions-diabetes-unsafe { 
  background-position:-10px -34px;
}
 */


.interaction-slider .instructions-kidney-safe {
  background-position: -10px -10px;
}

.interaction-slider .instructions-kidney-unsafe {
  background-position: -10px -34px;
}

.interaction-slider .instructions-kidney-supervision {
  background-position: -10px -58px;
}

.interaction-slider .instructions-kidney-unknown {
  background-position: -10px -82px;
}

.interaction-slider .instructions-liver-safe {
  background-position: -34px -10px;
}

.interaction-slider .instructions-liver-unsafe {
  background-position: -34px -34px;
}

.interaction-slider .instructions-liver-supervision {
  background-position: -34px -58px;
}

.interaction-slider .instructions-liver-unknown {
  background-position: -34px -82px;
}

.interaction-slider .instructions-heart-safe {
  background-position: -58px -10px;
}

.interaction-slider .instructions-heart-unsafe {
  background-position: -58px -34px;
}

.interaction-slider .instructions-heart-supervision {
  background-position: -58px -58px;
}

.interaction-slider .instructions-heart-unknown {
  background-position: -58px -82px;
}

.interaction-slider .instructions-pregnancy-safe {
  background-position: -82px -10px;
}

.interaction-slider .instructions-pregnancy-unsafe {
  background-position: -82px -34px;
}

.interaction-slider .instructions-pregnancy-supervision {
  background-position: -82px -58px;
}

.interaction-slider .instructions-pregnancy-unknown {
  background-position: -82px -82px;
}

.interaction-slider .instructions-lactation-safe {
  background-position: -106px -10px;
}

.interaction-slider .instructions-lactation-unsafe {
  background-position: -106px -34px;
}

.interaction-slider .instructions-lactation-supervision {
  background-position: -106px -58px;
}

.interaction-slider .instructions-lactation-unknown {
  background-position: -106px -82px;
} 
 
/*
.interaction-slider .instructions-oral-contraceptives {
 background-position:-10px -10px;
}

.interaction-slider .instructions-oral-contraceptives-unsafe {
  background-position:-10px -34px;
} */



.interaction-slider .instructions-seniors {
  background-position: -130px -10px;
}

.interaction-slider .instructions-seniors-safe {
  background-position: -130px -10px;
}

.interaction-slider .instructions-seniors-unsafe {
  background-position: -130px -34px;
}

.interaction-slider .instructions-seniors-supervision {
  background-position: -130px -58px;
}

.interaction-slider .instructions-seniors-unknown {
  background-position: -130px -82px;
}

.interaction-slider .instructions-children-safe {
  background-position: -154px -10px;
}

.interaction-slider .instructions-children-unsafe {
  background-position: -154px -34px;
}

.interaction-slider .instructions-children-supervision {
  background-position: -154px -58px;
}

.interaction-slider .instructions-children-unknown {
  background-position: -154px -82px;
}
/* iwarnings-slider */
  
.warning-slider {
  margin: 0 25px;
}

.warning-slider .owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  top: 25%;
  position: absolute;
  width: 100%;
}

.warning-slider .alcoho-safe {
  background-position: -178px -10px;
}

.warning-slider .alcoho-unsafe {
  background-position: -178px -34px;
}

.warning-slider .alcoho-supervision {
  background-position: -178px -58px;
}

.warning-slider .alcoho-unknown {
  background-position: -178px -82px;
}

.warning-slider .smoking-safe {
  background-position: --202px -10px;
}

.warning-slider .smoking-unsafe {
  background-position: -202px -34px;
}

.warning-slider .smoking-supervision {
  background-position: -202px -58px;
}

.warning-slider .smoking-unknown {
  background-position: -202px -82px;
}
/* .warning-slider .tolerance-safe {
  background-position:-10px -10px;
}

.warning-slider .tolerance-unsafe {
  background-position:-10px -34px;
}
.warning-slider .tolerance-safe {
  background-position:-10px -10px;
}

.warning-slider .tolerance-unsafe {
  background-position:-10px -34px;
} */


.warning-slider .vision-safe {
  background-position: -226px -10px;
}

.warning-slider .vision-unsafe {
  background-position: -226px -34px;
}

.warning-slider .vision-supervision {
  background-position: -226px -58px;
}

.warning-slider .vision-unknown {
  background-position: -226px -82px;
}

.warning-slider .overdose-safe {
  background-position: -250px -10px;
}

.warning-slider .overdose-unsafe {
  background-position: -250px -34px;
}

.warning-slider .overdose-supervision {
  background-position: -250px -58px;
}

.warning-slider .overdose-unknown {
  background-position: -250px -82px;
}

.warning-slider .driving-safe {
  background-position: -274px -10px;
}

.warning-slider .driving-unsafe {
  background-position: -274px -34px;
}

.warning-slider .driving-supervision {
  background-position: -274px -58px;
}

.warning-slider .driving-unknown {
  background-position: -274px -82px;
}

.warning-slider .exercise-safe {
  background-position: -298px -10px;
}

.warning-slider .exercise-unsafe {
  background-position: -298px -34px;
}

.warning-slider .exercise-supervision {
  background-position: -298px -58px;
}

.warning-slider .exercise-unknown {
  background-position: -298px -82px;
}
/* 
   .warning-slider .ohm-safe {
  background-position:-10px -10px;
}

.warning-slider .ohm-unsafe {
  background-position:-10px -34px;
} */

.operating_heavy_machinery-safe {
  background-position: -322px -10px;
}

.operating_heavy_machinery-unsafe {
  background-position: -322px -34px;
}

.operating_heavy_machinery-supervision {
  background-position: -322px -58px;
}

.operating_heavy_machinery-unknown {
  background-position: -322px -82px;
}

.warning-slider .caffeine-safe {
  background-position: -346px -10px;
}

.warning-slider .caffeine-unsafe {
  background-position: -346px -34px;
}

.warning-slider .caffeine-supervision {
  background-position: -346px -58px;
}

.warning-slider .caffeine-unknown {
  background-position: -346px -82px;
}

.warning-slider .operating_heavy_machinery-safe {
  background-position: -322px -10px;
}

.warning-slider .operating_heavy_machinery-unsafe {
  background-position: -322px -34px;
}

.warning-slider .operating_heavy_machinery-supervision {
  background-position: -322px -58px;
}

.warning-slider .operating_heavy_machinery-unknown {
  background-position: -322px -82px;
}

.product-info-main .owl-theme .owl-controls em {
  margin-top: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
  width: 100%;
}

@media (max-width:767px) {
  .warning-slider, .interaction-slider, .allergy-interaction-slider { 
    margin: 0 0px;
  }

  .accordion-content h3 {
    max-width: 190px;
    margin: auto;
  }
}   
   
/* Faq */
.faq {
  font-size: 16px;
}

.faq h2 {
  font-size: 16px;
  font-family: DINPro-Medium;
  color: #1d2d3d;
  margin: 0;
  padding: 15px 10px 15px 0;
}

.faq dt {
  font-family: DINPro-Regular;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.faq dd {
  color: #6d6e70;
  line-height: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.faq dt strong {
  font-weight: 400;
  color: #1d2d3d;
}

.faq b {
  margin: 20px 0 15px;
  display: inline-block;
  color: #1d2d3d;
  font-size: 16px;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 20px 0 0;
}

.faq b::first-letter {
  color: #8e5ba6;
}

.catalog-product-view .faq .col-lg-12 p b:first-of-type {
  border-top: none;
  margin: 0px;
}

.faq p:first-child br {
  display: none;
}
/* FAQ */

/* special price Design changes start*/

.catalog-product-view .price-final_price {
  width: auto;
  overflow: hidden;
  position: relative;
  padding-left: 0;
  text-align: left;
}

.product-info-main .product-info-price {
  border-bottom: 0px #ebebeb solid;
}

.catalog-product-view .product-info-price .special-price {
  width: 200px;
  margin-bottom: 10px;
}

.catalog-product-view .product-info-price .special-price {
  position: absolute;
  top: 0;
  left: 0px;
}

.catalog-product-view .product-info-price .old-price {
  width: 200px;
  position: relative;
  top: 18px;
  left: 0px;
}

.catalog-product-view .product-info-price .old-price:before {
  content: 'MRP Price:'; 
  display: inline-block;
  font-size: 14px;
}

.catalog-product-view .home-blocks.home-products.product-related-categories {
  max-width: 73.3%;
  float: right;
}
@media (max-width:767px) {
  .faq h2 {
    font-size: 14px;
  }
}
@media (max-width:991px) {
  .catalog-product-view .home-blocks.home-products.product-related-categories {
    max-width: 100%;
    float: left;
  }
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item {
  -ms-touch-action: auto;
  touch-action: auto;
}

.fieldset > .field.qty > .label, .nested.options-list > .field.qty > .label {
  display: inline-block;
  float: left;
  margin: 0px 5px;
}

.fieldset > .field.qty, .nested.options-list > .field.qty {
  margin-right: 0;
  margin-bottom: 10px;
  width: 100%;
}

/* Product Slider */
.catalog-product-view.product-type-wide-grid .fotorama__stage {
  border: 0;
  max-height: 277px;
}

.fotorama__nav-wrap--vertical.fotorama__nav-wrap {
  position: static;
}

.fotorama__nav--thumbs {
  width: 100% !important;
  height: auto !important;
}

.fotorama .fotorama__thumb-border {
  display: none;
}

.fotorama__nav-wrap--vertical .fotorama__nav__shaft {
  background-color: white;
  width: auto;
}

.fotorama__stage__shaft {
  border: 0;
}

.fotorama .fotorama__nav--thumbs .fotorama__nav__frame {
  padding: 2px;
  height: 10px !important;
  float: left;
  width: 10px !important;
  margin: 5px 2px;
}

.fotorama__nav .fotorama__thumb-border {
  display: none;
}

.fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img {
  border: 10px solid #ccc !important;
}

.fotorama .fotorama__nav--thumbs .fotorama__nav__frame {
  padding: 2px;
  height: 75px;
  float: left;
}

.fotorama__nav-wrap--vertical .fotorama__thumb__arr--left, .fotorama__nav-wrap--vertical .fotorama__thumb__arr--right {
  display: none;
}

.fotorama__caption {
  display: none;
}

.fotorama__fullscreen-icon {
  background-position: 0 0;
  display: none;
  height: 20px;
  right: 10px !important;
  top: 0;
  width: 20px;
  z-index: 1000;
}

.fotorama .zoomImg {
  display: none !important;
}

.catalog-product-view.product-type-wide-grid .fotorama--fullscreen  .fotorama__stage {
  max-height: 450px;
}

.fotorama--fullscreen .fotorama__fullscreen-icon::before {
  content: "X";
  font-size: 20px;
  line-height: 20px;
  height: 30px;
  width: 30px;
  margin-top: 5px;
  font-size: 30px;
  color: #000;
  display: inline-block;
  font-family: DINPro-Medium;
  background: transparent;
}

.fotorama--fullscreen  .fotorama__fullscreen-icon {
  display: block;
  right: 0 !important;
  margin: 20px;
}

.fotorama--fullscreen .fotorama__nav-wrap--vertical.fotorama__nav-wrap {
  position: static;
  width: 100%;
}

.fotorama--fullscreen  .fotorama__nav--thumbs {
  width: 100% !important;
  height: auto !important;
}

.fotorama--fullscreen .fotorama__nav--thumbs .fotorama__nav__frame {
  padding: 2px;
  height: 100px !important;
  float: left;
  margin: 10px;
  border: 0;
  width: 100px !important;
}

.fotorama--fullscreen   .fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img {
  border: 0px solid #ccc !important;
}

.fotorama__fullscreen-icon:focus:after {
  display: none;
}
/* Product Slider */
@media (max-width:1199px) {
 
  .catalog-product-view:not(.weltpixel-quickview-catalog-product-view) .product.media {
    position: relative !important;
    top: auto !important;
  }
}

@media (min-width:1200px) {
  .page-layout-1column .product.media {
    max-width: 300px;
    margin-top: 12px;
  }
}


/* ToolTip */

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  z-index: 1;
  cursor: context-menu;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #1d2d3d;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 210%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.16);
  font-size: 10px;
  text-align: left;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* zoylo-features-list */
.zoylo-features-list {
  margin: 15px 0;
  clear: both;
  max-width: 90%;
}

.zoylo-features-list ul {
  display: flex;
  clear: both;
}

.zoylo-features-list ul li {
  padding: 0;
  cursor: default;
}

.zoylo-features-list ul li::after {
  padding: 0;
  text-align: center;
  border-right: 1px solid #eee;
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15px;
  width: 1px;
  height: 60%;
  right: 0;
}

.zoylo-features-list ul li:last-child::after {
  border-right: 0;
}

.zoylo-features-list li {
  font-size: 9px;
  color: #797979;
  text-align: center;
  line-height: 12px;
}

.zoylo-features-list li a {
  font-size: 9px;
  color: #797979;
  text-align: center;
  pointer-events: none;
  line-height: 12px;
}

.zoylo-features-list  .list-warnings-icon {
  width: 42px;
  height: 42px;
  margin: auto;
  float: none;
  display: block;
}

.genuine-icon {
  background-position: -0px -0px;
}

.quality-icon {
  background-position: -41px -0px;
}

.secure-icon {
  background-position: -85px -0px;
}

.assured-icon {
  background-position: -127px -0px;
}

.discreet-icon {
  background-position: -171px 0px;
}

.express-icon {
  background-position: -216px -0px;
}
/* zoylo-features-list */


/* ToolTip */
/* Promo Banner */

.pdp-custom-blocks a {
  margin-bottom: 15px;
  display: inline-block;
}
/* Promo Banner */
@media ( min-width:992px) {
  .catalog-product-view.layout-fullwidth.page-layout-2columns-left .column.main,
  .catalog-product-view.layout-fullwidth.page-layout-2columns-right .column.main {
    width: 73%;
  }

  .catalog-product-view.page-layout-2columns-right .product-info-main, .catalog-product-view.page-layout-3columns .product-info-main {
    width: 64.5%;
  }

  .catalog-product-view.page-layout-2columns-right .product.media, .catalog-product-view.page-layout-3columns .product.media {
    width: 33% !important;
  }

  .catalog-product-view .sidebar.sidebar-additional {
    display: block;
    max-width: 324px;
    width: 26.3%;
  }

  .catalog-product-view .block.block.widget .products-grid .product-item:nth-child(4n+1) {
    margin-left: 0;
  }

  .catalog-product-view .block.block.widget .products-grid .product-item {
    width: 21.439%;
    margin-left: calc((100% - 4 * 21.6%) / 3);
  }
}

.catalog-product-view .block .price-final_price {
  text-align: center;
}

.main-product-detail {
  display: none;
}

.products-grid .product-item-details .product-item-actions .actions-secondary {
  display: none;
}

.catalog-product-view .owl-top-narrow .owl-carousel .owl-item > .item {
  display: block !important;
}

.catalog-product-view .products-grid .owl-carousel .product-item {
  display: block !important;
  float: left;
  width: 100%;
  padding: 0;
} 
/* Releated */
.catalog-product-view .page-main .block {
  margin: 0;
}

.block.related.owl-top-narrow {
  width: 100%;
}

.block.related.owl-top-narrow .owl-theme .owl-controls {
  width: 100%;
  top: 40%;
}

.block.related .action.select {
  float: right;
  height: auto;
}

.block.related  .action.tocart.primary {
  width: 113%;
  margin: 0 -10px;
}
/* Releated */


.catalog-product-view .products-related .action.tocart.primary {
  height: 36px;
  line-height: 36px;
  background: transparent;
  border: 0;
  color: #faa74a;
  width: 100%;
  margin: 0 -10px;
}

.catalog-product-view .products-related .action.tocart.primary:hover {
  height: 36px;
  line-height: 35px;
  background: #faa74a;
  ;
    border: 1px solid #faa74a;
  color: #fff;
}

.catalog-product-view .product-item-name > a, .catalog-product-view .product.name a > a {
  color: #1d2d3d;
}

.catalog-product-view .products-grid .product-item .product-item-details {
  min-height: 153px;
}

.block.related .field.choice {
  display: none;
}

.block.related button.action.select {
  color: #FAA760 !important;
}

.block.related .block-actions {
  clear: both;
}
/* */
.block.upsell {
  margin: 0;
}

.products-upsell .owl-middle-narrow.owl-theme .owl-controls {
  top: 40%;
}

.catalog-product-view .block .block-title {
  margin: 10px 0 10px;
}

.catalog-product-view .widget .block-title strong, .catalog-product-view .block .title strong, .catalog-product-view .block.upsell .title strong {
  font-weight: 400;
  font-size: 16px;
  color: #1d2d3d;
  font-family: DINPro-Medium;
  margin: 0;
  padding: 15px 10px 15px 0;
  cursor: pointer;
  text-transform: uppercase;
}

.products-related, .products-upsell {
  max-width: 100%;
  margin: auto;
}

.products-upsell .action.tocart.primary {
  height: 36px;
  line-height: 36px;
  background: transparent;
  border: 0;
  color: #faa74a;
  width: 100%;
  margin: 0 -10px;
}

.products-upsell .action.tocart.primary:hover {
  height: 36px;
  line-height: 35px;
  background: #faa74a;
  ;
    border: 1px solid #faa74a;
  color: #fff;
}

.products-upsell .owl-carousel.owl-drag .owl-item {
  padding: 15px 0px 25px;
}

.products-upsell .owl-middle-narrow.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  font-size: inherit;
}

@media (min-width: 768px) {
  .block.upsell {
    width: 100%;
    float: left;
  }
}
/* Recently  Viewed */
.recently-viewed {
  max-width: 100%;
  margin: auto;
}

.recently-viewed .owl-carousel .owl-item img {
  max-width: 100%;
  height: 120px;
  width: auto;
  margin: auto;
  position: relative;
}

.recently-viewed .product.name {
  padding: 0 10px;
}

.recently-viewed .action.tocart.primary {
  height: 36px;
  line-height: 36px;
  width: 100%;
  background: transparent;
  border: 0;
  color: #faa74a;
}

.recently-viewed .action.tocart.primary:hover {
  height: 36px;
  line-height: 35px;
  background: #faa74a;
  ;
    border: 1px solid #faa74a;
  color: #fff;
}

.recently-viewed .actions-secondary {
  display: none;
}

.block.widget .recently-viewed  .product-item-info {
  width: auto;
  border: 1px solid #eaeaea;
}

.recently-viewed  .product-item-details {
  padding: 32px 0 0px;
}

.recently-viewed .owl-theme .owl-controls {
  margin: 0;
  top: 40%;
  visibility: visible;
  opacity: 1;
  padding: 0 10px;
  position: absolute;
  width: 100%;
}

.recently-viewed .owl-carousel.owl-drag .owl-item {
  padding: 15px 0px 25px;
}

.recently-viewed .product-item-name {
  padding: 0 10px;
}

.recently-viewed.products-grid .product-item-details .product-item-actions {
  margin: 0px -10px;
}

.catalog-product-view .block.block.widget .products-grid .product-item {
  width: 100%;
}

.block .owl-theme .owl-controls em {
  margin-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.block .owl-carousel .owl-item > .item:hover {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  border: solid 0px transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* Recently  Viewed */


.product-item-photo {
  background: #fff;
} 
/* */
.pdp-avail-offer {
  margin: 50px auto;
  clear: both;
}
/* Disclaimer */
.disclaimer {
  font-size: 10px;
  margin: 15px 0 0;
  color: #6d6e70;  
}
.disclaimer strong {
  color: #1d2d3d;   
}


.description-txt {
  font-size: 12px;
  margin: 15px 0;
  color: #6d6e70;
  border-top: 1px solid #b9b9b9;
  padding: 30px 0 0;
}  
 /* Disclaimer */ 
.catalog-product-view .page-main .block .owl-theme .owl-controls .owl-nav .owl-prev {
  left: -20px;
}

.catalog-product-view .page-main .block .owl-theme .owl-controls .owl-nav .owl-next {
  right: -20px;
}

.catalog-product-view .page-main .block .owl-carousel.owl-loaded {
  width: 101%;
}

.catalog-product-view .page-main .block .owl-carousel .owl-stage-outer {
  padding: 0 5px;
}

.owl-theme .owl-controls .owl-nav .disabled {
  opacity: 1;
}

.block.block-reorder {
  clear: both;
  display: none;
}

.catalog-product-view   .products-grid .product-item-details .product-item-actions {
  margin: 0px -10px;
}

.sidebar .fieldset > .field:not(.choice) .label {
  margin: 0 10px 0 0px;
  padding: 0 0 4.5px;
  text-align: left;
  width: auto;
  float: left;
}

@media (max-width:767px) {
  .catalog-product-view .columns {
    clear: both;
  }

  .zoylo-features-list {
    max-width: 100%;
  }

  .products-grid .product-item .product-item-details {
    padding: 15px 10px 10px;
    min-height: 140px;
  }

  .catalog-product-view .products-related .action.tocart.primary {
    background: #faa74a;
    color: #fff;
  }

  .catalog-product-view .page-main .block .owl-theme .owl-controls .owl-nav .owl-prev {
    left: -10px;
  }

  .catalog-product-view .page-main .block .owl-theme .owl-controls .owl-nav .owl-next {
    right: -10px;
  }

  .catalog-product-view .products-grid .product-item .product-item-details {
    min-height: auto;
    padding-bottom: 0;
  }

  .catalog-product-view  .product-image-wrapper {
    max-width: 120px;
    margin: auto;
  }

  .pdp-avail-offer {
    margin: 20px 0;
  }

  .catalog-product-view:not(.weltpixel-quickview-catalog-product-view) .product.media .price-box.price-final_price {
    width: 55%;
    float: left;
    margin: 0px 0 5px 15px;
    height: 44px;
  }

  .product-info-price .price-box .price-container .price {
    line-height: 20px;
  }

  .section-three .fieldset > .field.qty label.label {
    margin: 5px 5px 0 0;
  }

  .catalog-product-view .fieldset > .field.qty {
    float: right;
    margin: 15px 0 0 0;
    width: auto;
  }

  .catalog-product-view  .sidebar .product-info-price .old-price {
    width: auto;
    position: relative;
    top: -7px;
    left: 100px;
  }

  .catalog-product-view .sidebar .price-box {
    margin: 10px 0 0px 10px; 
  }

  .catalog-product-view .sidebar .fieldset > .field.qty {
    width: 130px;
    margin-bottom: 10px;
  }

  .catalog-product-view .sidebar .box-tocart .control .input-text.qty {
    height: 26px;
    width: 80px;
  }

  .catalog-product-view .sidebar .product-info-price {
    width: 70% !important;
    float: left;
  }

  .catalog-product-view .sidebar .price-final_price {
    width: 100%;
  }

  .catalog-product-view .pack-size p {
    margin: 0 0 5px;
  }

  .catalog-product-view .product-info-price .old-price::before {
    margin-right: 5px;
    margin-top: 5px;
  }

  .sidebar .fieldset > .field:not(.choice) .control {
    width: auto;
    float: right;
  }

  .sidebar .fieldset > .field:not(.choice):not(:last-child) {
    margin: 5px 0 10px;
  }

  .sidebar .price-cart-container {
    padding: 5px 15px 10px;
  }

  .zoylo-features-list li {
    padding: 0 5px;
  }
    .checkout-cart-index .disclaimer { 
    order: 4;
  }
}

@media (max-width:991px) {
  .catalog-product-view.page-layout-2columns-right:not(.weltpixel-quickview-catalog-product-view) a.right-side-open {
    display: none;
  }

  .catalog-product-view.page-layout-2columns-right:not(.weltpixel-quickview-catalog-product-view) .sidebar.sidebar-additional {
    display: block;
    height: auto;
    width: 100%;
    opacity: 1;
    visibility: visible;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    border: 0;
    position: relative;
  }

  .price-cart-container {
    margin-bottom: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 11;
  }

  .catalog-product-view .page-main .block .owl-carousel .owl-stage-outer {
    padding: 0;
  }

  .catalog-product-view .page-main .block .porto-icon-right-open-huge::before {
    margin: 7px 7px;
  }

  .catalog-product-view .page-main .block .porto-icon-left-open-huge::before {
    margin: 7px 7px;
  }
}

@media (max-width: 767px) {
  .catalog-product-view .sidebar .product-info-price .old-price {
    width: auto;
    position: relative;
    top: 16px;
    left: 0;
  }
}



/* Salt Pages */

.i95dev-salts-salt-view.layout-fullwidth.page-layout-2columns-right .column.main {
  width: 100%;
}

.i95dev-salts-salt-view .page-title-wrapper {
  display: none;
}

.salt-heading {
  margin-top: 20px;
  font-size: 18px;
  font-family: DINPro-Regular;
  color: #1d2d3d;
}

.salt-name {
  text-transform: uppercase;
  color: #faa74a;
}

.salt-block {
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 20px 20px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
}

.salt-block b {
  margin: 20px 0 15px;
  display: inline-block;
  color: #1d2d3d;
  font-size: 16px;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 20px 0 0;
}

.salt-block b:first-of-type {
  border-top: none;
  margin: 0px;
}

.salt-block h4 {
  font-size: 16px;
  font-family: DINPRo-Regular;
  color: #1d2d3d;
  text-transform: uppercase;
}

.i95dev-salts-salt-view .page-title span {
  display: none;
}


/* Salt Pages */
.product-collection {
  border: 1px solid #f4f4f4;
}

.row.product-collection-pnl {
  padding: 0 15px;
}

.product-collection h3 { 
  margin: 0 0 10px;
  background: #f4f4f4;
  padding: 10px 15px;
}

.get-additional-code {
  line-height: 4.5;
}


/* */
.slider.marquee-slider { 
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 ; 
}
.catalog-category-view .slider.marquee-slider { 
  margin: 0 0 15px; 
}
.slider.marquee-slider ul {
  background: #8e5ba6;
  overflow: hidden;
  width: 1000%;
  margin: 0;
}

#money_start li {
  list-style: none;
  display: inline-block;
  padding: 5px 30px;
  color: #fff;
  font-size: 14px;
  font-family: DINPRo-Regular;
  margin: 0;
}

/*  */
.otc-description {
  border-top: 1px solid #ccc;
  clear: both; 
}

.wzrk-button-container button {
    padding: 0px 10px;
}
.wzrk-alert-heading {
    color: #1d2d3d;
    font-weight: 600;
}
.product.details.product-item-details>span {
      color:#1d2d3d;
}
.product-item-details > span {
    position: relative;
    color: #1d2d3d;
}