body.layout-fullwidth.catalog-category-view .page-main,
body.layout-fullwidth.catalog-product-view .page-main {
  margin: auto;
}

/* Breadcrumb */
.breadcrumbs .items>li {
  font-size: 12px;
}

body.layout-fullwidth .page-wrapper>.breadcrumbs .items {
  padding: 0px 15px 0px 15px;
}

/* Breadcrumb */
/* Home Category Products */

.products {
  margin: 0;
}

.product-item-photo {
  padding: 0px;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #fafafa;
  padding: 0;
  overflow: inherit;
}

.price-box {
  margin: 5px 0 10px;
  min-height: 44px;
}

.product.photo.product-item-photo img.hover_image {
  display: none;
}

.products-grid.columns5 .product-item {
  margin-bottom: 15px;
  padding: 10px 10px;
}

.products-grid .product-item .product-item-info {
  background: #fff;
  border: 1px solid #eaeaea;
  position: relative;
  min-height: inherit;
}

.products-grid .product-item .product-item-info:hover {
  position: relative;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  border: solid 1px transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.owl-top-narrow .owl-carousel .owl-item>.item {
  padding: 0px;
  border: 0px solid #eaeaea;
  background: #fff;
  width: 100%;
}

.owl-top-narrow .owl-carousel .owl-item>.item:hover {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  border: solid 0px transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.product-item-name,
.product.name a {
  font-size: 12px;
  color: #1d2d3d;
  line-height: 15px;
  font-weight: 500;
  font-family: DINPro-Medium;
  padding: 0px;
  overflow: hidden;
}

.product-item-name {
  min-height: 30px;
  margin-bottom: 0;
  height: 30px;
  position: relative;
}

.product.name {
  padding: 0 10px;
}

.product.name a {
  padding: 0px;
}

.product-item-name:hover,
.product.name a:hover {
  text-decoration: none;
}

.product.details.product-item-details>span {
  font-size: 12px;
  color: #6d6e70;
  padding-top: 10px;
  display: inline-block;
}

.price-container .price {
  font-size: 16px;
  color: #1d2d3d;
  font-weight: 500;
  font-family: DINPro-Medium;
}

.old-price .price-container .price {
  color: #6d6e70;
  font-size: 12px;
}

.old-price,
.special-price {
  width: 100%;
}

.products-grid .product-item-details .product-item-actions .actions-primary {
  width: 100%;
}

.products-grid .product-item-details .product-item-actions {
  margin: 0px;
}

.products-grid .product-item .product-item-inner {
  margin: 9px -1px -1px -1px;
  height: 36px;
  left: 0px;
  right: 0px;
  padding: 0;
  z-index: 1;
  display: block;
  position: absolute;
  bottom: 0px;
}

.product-item-details {
  padding: 32px 0 10px;
}

.products-grid .product-item .product-item-details {
  padding: 32px 10PX 0px;
  min-height: 180px;
}

.products-grid .product-item .product-item-actions .tocart {
  visibility: visible;
  border: 0;
  color: #faa74a;
  margin-top: 0px;
}

.products-grid .product-item:hover .product-item-actions .tocart {
  visibility: visible;
  color: #fff;
  background-color: #faa74a;
  border-color: #faa74a;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 36px;
  height: 36px;
  width: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  position: relative;
}

.products-grid .product-item:hover .product-item-details .product-item-actions .tocart {
  background-color: #faa74a;
  border-color: #faa74a;
  color: #fff;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.products-grid .product-item:active .product-item-details .product-item-actions .tocart,
.products-grid .product-item:focus .product-item-details .product-item-actions .tocart {
  background: #e08724;
  border: 1px solid #e08724;
}

.products-grid .product-item-details .product-item-actions .tocart span {
  text-align: center;
  width: 100%;
  float: left;
  font-family: DINPro-Medium;
}

.product-item .tocart::before {
  display: none;
}

.home-products .owl-carousel .owl-item {
  padding: 5px 2px 10px;
}

.owl-carousel.owl-drag .owl-item {
  padding: 5px 5px 20px;
}

.products.wrapper .product-item .qty-box {
  width: 70px;
  margin: 0 auto 15px;
}

.products.wrapper .product-item .qty-box .qtyminus,
.products.wrapper .product-item .qty-box .qtyplus {
  position: relative;
  border: solid 0px #dfdfdf;
  font-size: 10px;
  width: 20px;
  height: 20px;
  line-height: 18px;
  float: none;
  background: #c3c3c3;
  color: #fff;
}

.products.wrapper .product-item .qty-box .qtyminus:hover,
.products.wrapper .product-item .qty-box .qtyplus:hover {
  background: #faa74a;
}

.products.wrapper .product-item .qty-box input {
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  border: solid 0px #dfdfdf;
  color: #1d2d3d;
  margin-top: 0px;
  position: relative;
  top: 3px;
  padding: 0;
}

.view-more {
  color: #faa74a;
  font-size: 14px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: .7px;
  font-weight: 500;
  font-family: DINPro-Medium;
  padding: 5px 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.view-more:hover {
  background: #f4f5f7;
}

.view-more:active, .view-more:focus, .view-more:visited {
  background: #e5e5e5;
  color: #faa74a;
}

.container-six .view-more {
  position: static;
}

@media (max-width:767px) {
  .view-more {
    position: static;
    text-align: center;
    margin: auto;
    float: none;
    width: 100%;
  }

  .products-grid .product-item .product-item-actions .tocart {
    visibility: visible;
  }

  .products-grid .product-item .product-item-details .product-item-actions .tocart {
    background-color: #faa74a;
    border-color: #faa74a;
    color: #fff;
    -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 36px;
    position: relative;
    bottom: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .products-grid .product-item:hover .product-item-inner {
    left: 0px;
    right: 0px;
  }

  .parallax-slider {
    display: flex;
  }

  .product.details.product-item-details>span {
    min-height: 46px;
    display: none;
  }

  .products-grid .product-item .product-item-details {
    padding: 15px 0 10px;
    min-height: 140px;
  }

  .product-item-name,
  .product.name a {
    height: 20px;
    overflow: hidden;
  }

  .price-box {
    margin: 5px 0 6px;
    min-height: 40px;
  }

  .products-grid .product-item .product-item-inner {
    margin: 9px 0 0 0;
  }
}

@media (max-width:991px) {
  .product-item-name,
  .product.name a {
    min-height: 32px;
    height: 30px;
    overflow: hidden;
  }
}


/* Home Category Products */

/* List Page */

/* Labels */

.product-labels {
  position: absolute;
  right: auto;
  top: 5px;
  left: 0px;
  z-index: 2;
  width: 100%;
}

.product-label {
  padding: 0;
  font-size: 0px;
  position: absolute;
  top: -3px;
  width: auto;
  left: 5px;
  height: 28px;
  z-index: 2;
}

.product-label.required-label::before {
  content: "";
  height: 22px;
  width: 16px;
  float: left;
  margin-right: 5px;
  background: url(../images/upload-prescription-icon.svg) no-repeat 0px 0px;
  position: relative;
  top: 3px;
}

.product-label.not-for-sale {
  background: #FF0000;
}

.product-label.not-for-sale::before {
  content: "";
  height: 22px;
  width: 16px;
  float: left;
  margin-right: 5px;
  background: url(../images/upload-prescription-icon.svg) no-repeat 0px 0px;
  position: relative;
  top: 3px;
}

.product.media .product-label {
  padding: 0 5px;
  font-size: 10px;
  position: absolute;
  top: -5px;
  width: 145px;
  font-family: DINPro-Medium;
  left: 0;
  height: 28px;
  line-height: 26px;
  text-align: center;
  background: #e2f0cf;
  border: 1px solid #a3cf62;
  color: #6d6e70;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 1;
  font-weight: 500;
}

.product.media .product-label::before {
  content: "";
  height: 22px;
  width: 16px;
  float: left;
  margin-right: 5px;
  background: url(../images/upload-prescription-icon.svg) no-repeat 0px 0px;
  position: relative;
  top: 3px;
}

.product.media .product-label.not-for-sale::after {
  border-top: 30px solid #FF0000;
  border-right: 16px solid transparent;
  right: -16px;
}

.product.media .product-label.not-for-sale::before {
  border-top: 9px solid #660000;
  border-left: 9px solid transparent;
  bottom: -9px;
}

.product.media .product-label.required-label::before {
  border: 0;
}

.product-label.sale-label {
  background-color: transparent;
  color: green;
  font-size: 12px;
  font-family: DINPro-Medium;
  width: auto;
  float: right;
  padding: 0 0 0 10px;
  align-items: center;
  text-align: right;
  top: 0;
  display: inline-block;
}

.product-label.sale-label+* {
  display: none;
}

.product-add {
  position: absolute;
  right: 5px;
  width: 24px;
  height: 24px;
  z-index: 2;
}

.product-add-icon {
  width: 24px;
  height: 24px;
  background-position: -119px -66px;
}

@media (max-width:767px) {
  .product-label.required-label::after {
    right: -9px;
  }
}
/* Labels */

/* Toolbar */
.toolbar-products {
  margin-top: -29px;
  margin-bottom: 0;
}

.limiter {
  display: none;
}
/*    
  .toolbar .modes,    .toolbar .modes,
  .toolbar .limiter,    .toolbar .limiter,
  .action.sorter-action.sort-asc,   .action.sorter-action.sort-asc,
  .action.sorter-action.sort-desc {   .action.sorter-action.sort-desc {
    display: none;      display: none;
  } */    
.sorter-action::before {
  color: #8e5ba6;
}

.sorter-action:hover::before {
  color: #8e5ba6;
}   }

.toolbar .modes,    
  .toolbar .limiter {
  display: none;
}

.toolbar .sorter {
  margin-right: 0;
  float: right;
  position: relative;
  top: -20px;
}

.sorter-label {
  margin-bottom: 0;
  line-height: 26px;
  font-weight: 500;
  font-family: DINPro-Medium;
  font-size: 14px;
  color: #1d2d3d;
  letter-spacing: 0.7px;
}

.sorter-label::after {
  content: ":";
}

.toolbar select {
  background-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 26px;
  border: 0;
  font-size: 14px;
  color: #1d2d3d;
  padding: 0;
  margin: 0;
  font-family: DINPro-Medium;
  letter-spacing: 0.7px;
}

.products.wrapper~.toolbar.toolbar-products {
  display: none !important;
}

.toolbar-products+.toolbar-products {
  display: none !important;
}

.toolbar-products {
  display: block !important;
}

.catalog-category-view .home-blocks {
  margin-top: 17px;
}

@media (max-width: 767px) {
  
  .toolbar-products {
    margin-top: -56px;
    margin-bottom: 0px;
    position: fixed;
    z-index: 20;
    float: right;
    width: 50%;
    top: 240px;
    right: 0;
  }

  .toolbar select {
    width: 100px;
  }
}
/* Toolbar */
/* Filters */

.block-category-list {
  display: none;
}

.filter-options-item {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 20px;
}

.filter-options-title::after {
  display: none;
}

.action.clear.filter-clear {
  color: #faa74a;
  text-transform: uppercase;
  font-size: 12px;
}

.filter .filter-current-subtitle {
  display: block;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  font-family: DINPro-Medium;
  border: 0;
  background-color: transparent;
  color: #3d4d5d;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.filter-current .items {
  border: 0;
  background-color: transparent;
  padding: 5px 10px;
  margin: 0;
  color: #3d4d5d;
}

.filter-current .action.remove {
  position: absolute;
  right: 0px;
  top: 8px;
}

.filter-actions {
  font-size: 15px;
  padding: 5px 15px;
  background: transparent;
  border: 0;
  color: #3d4d5d;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-align: right;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.filter-actions {
  font-size: 14px;
  padding: 5px 15px;
  background: transparent;
  border: 0;
  color: #3d4d5d;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 14px;
}

.filter-options-title {
  padding: 10px 0px 15px 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: DINPro-Medium;
  line-height: 23px;
  border: 0;
  color: #3d4d5d;
  background-color: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.15);
}

.filter-options-title,
.block-category-list .block-title strong {
  font-weight: 500;
  font-family: DINPro-Medium;
}

.filter-options-item.active .filter-options-title {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.15);
  padding: 10px 10px 15px;
}

.filter-options-content {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

.filter-content .item {
  margin: 0 0 5px 0;
}

.filter-content .item label {
  margin-bottom: 0rem;
  width: 100%;
}

.filter-options-content a {
  color: #3d4d5d !important;
}

.filter-options-content .count {
  color: #8e5ba6;
  padding-right: 5px;
  float: right;
  font-family: DINPro-Medium;
  position: relative;
  left: 10px;
}

.range-attribute-filter .ui-slider-handle {
  height: 14px;
  width: 14px;
  background: #faa74a;
  top: -5px;
}

.ui-slider-horizontal {
  background: #d3d3d3;
  height: 6px;
}

.range-attribute-filter .range input {
  max-width: 70px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0;
}

.range-attribute-filter .ui-state-active,
.range-attribute-filter .ui-widget-content .ui-state-active,
.range-attribute-filter .ui-widget-header .ui-state-active,
.range-attribute-filter a.ui-button:active,
.range-attribute-filter .ui-button:active,
.range-attribute-filter .ui-button.ui-state-active:hover {
  background: #e08724;
}

.range-attribute-filter .ui-icon-background,
.range-attribute-filter .ui-state-active .ui-icon-background {
  background-color: #e08724;
}

.range-attribute-filter .ui-state-hover,
.range-attribute-filter .ui-widget-content .ui-state-hover,
.range-attribute-filter .ui-widget-header .ui-state-hover,
.range-attribute-filter .ui-button:hover {
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  background: #faa74a;
}

ol.sy-multiple-layered-navigation-items li a {
  background: transparent;
  padding-left: 0px;
}

ol.sy-multiple-layered-navigation-items li.active a {
  background: transparent;
}

ol.sy-multiple-layered-navigation-items li a::before {
  background: url(../images/checkbox-radio.png) no-repeat 0 0;
  position: relative;
  top: 1px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  content: "";
  display: inline-block;
}

ol.sy-multiple-layered-navigation-items li.active a::before {
  background: url(../images/checkbox-radio.png) no-repeat -18px 0;
  width: 18px;
  height: 18px;
  content: "";
  display: inline-block;
}
/* Slider Bar */
.sidebar .form-input {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0 15px;
}

.sidebar input[type="text"] {
  height: 30px;
  line-height: 1.4;
  padding: 5px 5px 5px 0;
  border: 0;
  border-bottom: 1px solid #c3c3c3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.sidebar .search-button {
  position: absolute;
  border: 0 !important;
  height: 28px !important;
  line-height: 28px !important;
  right: 10px;
  top: 0;
  font-size: 16px;
  padding-right: 5px;
}

.sidebar.sidebar-additional {
  display: none;
}
/* Slider Bar */
/* Filter */

.ui-state-hover {
  background: #faa74a;
}


/* Product Grid */

.products-grid.products.grid.flex-grid .product-item {
  border: 0;
  margin: 0 15px 50px;
}

.products-grid.products.grid.flex-grid .product-item.nth-child-5n {
  margin-right: 0;
}

.products-grid.products.grid.flex-grid .product-item .product-item-info {
  border-top: 0px solid #e3e4e4;
  margin-top: 0;
}

.products-grid.products.grid.flex-grid .product-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.products-grid.products.grid.flex-grid .product-item-details .product-item-actions .tocart {
  background-color: #faa74a;
  color: #fff;
  border: 0;
  height: 36px;
  line-height: 36px;
  margin-bottom: -32px;
}

.products-grid.products.grid.flex-grid .product-item-details .product-item-actions {
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}

.products-grid.products.grid.flex-grid .product-item-details .product-item-inner {
  margin-bottom: 0;
}

.products-grid.products.grid.flex-grid .product-item-details .product-item-inner {
  margin-bottom: 0;
  margin: 0;
}

.catalog-category-view .category-image {
    display: block;
    padding: 0 15px;
    margin: 0 0 15px;
}
.category-description {
    padding: 0 15px;
    margin-bottom: 0;
        font-size: 14px;
} 
/* Product Grid */
/* Product loader */
.infinite-loader .btn-load-more {
  border: 0;
  color: #FFF;
  background: #faa74a;
  width: auto;
  height: 36px;
  line-height: 36px;
  padding: 0 30px;
  font-weight: 400;
  margin: 0 0 30px;
  font-family: DINPro-Regular;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.infinite-loader .btn-load-more:hover {
  background: #faa74a;
  border: 1px solid #faa74a;
  color: #fff;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.infinite-loader .btn-load-more:active {
  background: #e08724;
  border: 1px solid #e08724;
}
/* Product loader */







.sy-multiple-layered-navigation-items .expand {
  color: #faa74a;
  cursor: pointer;
}

.sy-multiple-layered-navigation-items .expand:before {
  content: "+";
  color: #faa74a;
}

.sy-multiple-layered-navigation-items .expand {
  display: none !important;
}

.sy-multiple-layered-navigation-items .expand:last-child {
  display: block !important;
}

.sidebar input[type="text"] {
  border-bottom: 2px solid #707070;
}

.search-button:hover {
  color: #faa74a;
  background: transparent;
}

.filter-options-content .count:before {
  content: "";
}

.filter-options-content .count:after {
  content: "";
}

.brand-view {
  margin: 0 0 30px;
}

.brand-description {
  margin-top: 10px;
  margin-bottom: 30px;
  display: none;
}

.brand-searchform strong {
  font-weight: 500;
  font-size: 14px;
  font-family: DINPro-Medium;
}

.brand-searchform .block-content {
  position: relative;
}

.brand-searchform .search-submit {
  position: absolute;
  border: 0;
  background: transparent;
  padding: 0;
  height: auto;
  right: 5px;
  top: -5px;
}

@media (max-width:767px) {
  .sy-multiple-layered-navigation-items .expand {
    padding: 10px 20px;
  }
}

.view-all {
  text-align: center;
  color: #faa74a !important;
  position: relative;
  left: 21px;
}

.more-link {
  text-align: left;
  color: #faa74a !important;
}

.pre-scriptions {
  background-color: #faa74a;
  text-align: center;
  height: 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 !important;
}

.pre-scriptions:hover {
  background-color: #faa74a;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
}

.pre-scriptions:active {
  background-color: #e08724;
}

.pre-scriptions a {
  position: relative;
  top: 10px;
  color: #ffffff !important;
  text-transform: uppercase;
}

.do-pre-scriptions {
  text-align: center;
  height: 36px;
  background-color: #fff;
  border: solid 1px #6d6e70;
  margin-top: 10px;
  font-size: 14px !important;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0 !important;
}

.do-pre-scriptions:hover {
  background-color: #f4f5f7;
  border: solid 1px #faa74a;
}

.do-pre-scriptions:active {
  background-color: #e5e5e5;
  border: solid 1px #faa74a;
}

.sw-megamenu.navigation li.level0.fullwidth>.submenu .do-pre-scriptions a {
  color: #faa74a;
}

.do-pre-scriptions a {
  position: relative;
  top: 5px;
  font-size: 14px !important;
  text-transform: uppercase;
}

.do-pre-scriptions:hover,
  .do-pre-scriptions a:hover {
  text-decoration: none;
}

.ias-trigger a {
  background: #faa74a;
  padding: 0 15px;
  border-radius: 2px;
  color: #fff !important;
  margin-bottom: 15px;
  display: inline-block;
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}

.ias-trigger-prev {
  display: none;
}


/****menu list design end 15-11-2018****/

input#price-to {
  text-align: right;
}

.sidebar > .block.filter .item .count {
  top: 1px;
}
/* Filters */ 

@media (max-width:767px) {
  .sidebar.sidebar-main, .sidebar.sidebar-additional {
    top: auto !important;
  }

  .filter-title strong {
    color: #3d4d5d !important;
    text-align: left;
    border: 0 !important;
    background: #fff;
    width: 100%;
    float: left;
    padding: 10px;
    top: 172px;
    margin-top: 60px;
  }

  .filter-title strong::before {
    line-height: 26px;
    font-size: 20px;
    float: left;
    margin-right: 5px;
  }

  .filter-options-item {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }

  .filter.active .filter-options {
    padding: 0px !important;
    width: 100%;
  }

  .filter.active .filter-subtitle {
    font-size: 18px;
    font-family: DINPro-Regular;
    padding: 8px 10px !important;
    background: #666666;
    display: none;
  }

  .filter.active .filter-title {
    background: #232176;
  }

  .filter.active .filter-title strong {
    right: 0px;
    top: 0px;
    border: none !important;
    position: absolute;
    color: #fff !important;
    font-size: 14px;
  }

  .filter.active .filter-current,
  .filter.active .filter-current+.block-actions {
    width: 100%;
    z-index: 11;
  }

  .filter-current .action.remove {
    position: absolute;
    right: 15px;
    top: 8px;
  }

  .filter.active .filter-title {
    width: 100%;
  }

  .filter.active .filter-title strong::before {
    float: right;
  }

  .filter-options-item.active .filter-options-title {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    padding: 10px 0px 15px;
    float: left;
    width: 35%;
    background: #e5e5e5;
    margin: 0;
    font-family: DINPro-Regular;
    padding: 30px 20px;
    color: #3d4d5d;
  }

  .filter.active .filter-options-title,
  .filter.active .filter .filter-current-subtitle,
  .filter.active .block-category-list .block-title {
    padding: 30px 20px;
    float: left;
    font-family: DINPro-Regular;
    background: #e5e5e5;
    width: 35%;
    clear: both;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    display: inline-flex;
    vertical-align: middle;
    color: #3d4d5d;
  }

  .filter-options-item.active .filter-options-title {
    background: #3d4d5d;
    color: #fff;
  }

  .filter.active .block-category-list .block-content,
  .filter.active .filter-options-content {
    padding-left: 0;
    padding-right: 0;
    float: right;
    width: 65%;
    margin: 0;
    padding: 15px 0 0;
    border-bottom: 0px solid #ccc;
    position: absolute;
    right: 0;
    top: 0px;
    background: #fff;
    z-index: 1;
    height: 95%;
    overflow: auto;
    overflow-x: hidden;
  }

  .sidebar .search-button {
    position: absolute;
    border: 0 !important;
    height: 28px !important;
    line-height: 28px !important;
    right: 0;
    top: 10px;
    font-size: 16px;
    padding-right: 20px;
  }

  ol.sy-multiple-layered-navigation-items li a::before {
    float: right;
    top: 1px;
    margin-right: 0px;
  }

  .filter-options-content .count {
    left: 0px;
    margin-right: 0px;
  }

  .filter-content .item {
    margin: 0 0 0px 0;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
  }

  .block-category-list .block-content ol li.item, .sidebar>.block.filter ol li.item {
    padding: 10px 15px 10px 20px;
  }

  .range-attribute-filter.clearfix {
    padding: 20px 20px 20px 30px;
    border-bottom: 1px solid #e5e5e5;
  }

  .filter.active .filter-current+.block-actions {
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 0px solid #e5e5e5;
    z-index: 11;
    padding: 0 15px;
  }

  .catalog-category-view .column.main .products-grid {
    margin: 50px 0 0;
  }

  .product-item-photo {
    overflow: inherit;
    max-width: 180px;
    height: 120px;
    margin: auto;
  }

  .product-image-photo.default_image {
    position: relative;
    z-index: 2;
    width: auto;
    max-height: 120px;
  }

  .sidebar .form-input {
    padding: 10px 15px;
  }

  .niks-ajax-wrapper {
    margin-top: 70px;
  }

  body.layout-fullwidth.catalog-category-view .page-main, body.layout-fullwidth.catalog-product-view .page-main {
    margin-top: 0px;
  }

  .sidebar > .block.filter .item .count {
    font-size: 14px;
    margin-left: 0px;
    float: none;
    color: #3d4d5d !important;
    font-family: DINPro-Regular;
    top: -5px;
  }

  .page-with-filter .toolbar .sorter {
    margin-top: 0px;
    background: #FFF;
  }

  .page-with-filter .filter-title strong {
    margin-top: 0px;
  }

  .catalogsearch-result-index .filter-title strong {
    margin-top: 0px;
  }

  .catalogsearch-result-index .toolbar .sorter {
    margin-top: 0px;
  }

  .page-with-filter .niks-ajax-wrapper {
    margin-top: 0px;
  }

  .sidebar > .block.filter .item .count {
    top: -4px;
  }
}

@media (max-width: 767px) {
  .filter.active .filter-options-title, .filter.active .filter .filter-current-subtitle, .filter.active .block-category-list .block-title {
    font-size: 13px;
  }

  .product-image-photo.default_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ol.sy-multiple-layered-navigation-items li a span.label-title {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
}

@media (max-width:480px) {
  .page-products .columns5.products-grid .product-item {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .block-static-block.widget,
  .block-cms-link.widget {
    margin-top: 100px;
    clear: both;
  }

  .catalog-category-view .column.main .products-grid {
    margin: 20px 0 0;
  }

  .catalogsearch-result-index .page-title-wrapper {
    margin-top: 30px;
    clear: both;
  }
}

@media (max-width: 360px) {
  .filter.active .filter-options-title, .filter.active .filter .filter-current-subtitle, .filter.active .block-category-list .block-title {
    padding: 30px 10px;
  }

  ol.sy-multiple-layered-navigation-items li a span.label-title {
    width: 68%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
}

@media (min-width:768px) {
  /*.page-layout-2columns-left .sidebar-main {
    width: 20%;
  }

  .page-layout-2columns-left .column.main {
    width: 80%;
  } */ 

  .filter-options-item .filter-options-content {
    display: block !important;
  }

  .products-grid.products.grid.flex-grid .product-item .product-item-info,
  .products-grid.products.grid.flex-grid .product-item:hover .product-item-info {
    padding: 0;
  }

  .product-item-photo {
    max-height: 120px;
    max-width: 180px;
    margin: auto;
  }

  .product.photo.product-item-photo img {
    max-width: 99.8%;
    width: auto;
    height: 120px;
  }

  .products.wrapper.grid.columns5 {
    border: 0px solid #c3c3c3;
    padding: 15px 15px;
  }

  .niks-ajax-wrapper {
    border: 0px solid #c3c3c3;
    margin-bottom: 30px;
  }

  #maincontent {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width:991px) and (min-width: 768px) {
  
  .sidebar.sidebar-main {
    padding-right: 0;
  }

  ol.sy-multiple-layered-navigation-items li a .label-title {
    width: 90px;
    display: inline-block;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .filter-value {
    float: left;
    clear: both;
  }
}

@media (min-width: 992px) {
  
  ol.sy-multiple-layered-navigation-items li a .label-title {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .filter-value {
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 4px;
  }
}

@media (min-width:1200px) {
  .product.photo.product-item-photo img {
    max-width: 99.8%;
  }

  .filter-value {
    width: 130px;
  }
}

@media (max-width:1199px) and (min-width: 768px) {
      
  .product-item-photo {
    max-width: 100%;
  }
}

.suggested {
  display: none;
} 


/* Brands Toolbar */

.sw-megamenu.navigation li.level0.fullwidth:hover>.submenu, .sw-megamenu.navigation li.level0.staticwidth:hover>.submenu {  
  visibility: hidden !important;
}

.page-header.type2 .navigation .level0.parent>a::after {
  display: none !important;
}







.vesbrand-brand-view .toolbar-products .pages {
  display: block !important;
}

.vesbrand-brand-view  .pages .item:last-child {
  margin-right: 0;
  position: relative;
  bottom: 0px;
}

.vesbrand-brand-view  .pages-item-previous {
  position: relative;
  bottom: 0px;
}

.vesbrand-brand-view .toolbar .modes,  .vesbrand-brand-view  .toolbar .limiter {
  display: block;
}

.vesbrand-brand-view .toolbar-amount {
  display: block !important;
  float: left;
  margin-left: 20px;
}

.vesbrand-brand-view .toolbar .sorter {
  top: 0px;
}

.vesbrand-brand-view .toolbar-products {
  margin-top: 0px !important;
}

.vesbrand-brand-view .toolbar-products .pages {
  float: left;
  margin-left: 10%;
}

.vesbrand-brand-view .pages .item {
  float: left;
}

.vesbrand-brand-view .pages .action.next {
  float: left;
}

.vesbrand-brand-view .pages .action.previous {
  float: left;
}

@media (max-width: 767px) {
 
  .vesbrand-brand-view .toolbar-products { 
    position: unset;
    top: 0px;
    width: 100%;
    float: left;
  }

  .vesbrand-brand-view .toolbar-amount {
    display: none !important;
  }

  .vesbrand-brand-view .toolbar .sorter {
    float: left;
    position: unset;
    margin-top: 0px;
  }

  .vesbrand-brand-view .toolbar-products .pages {
    float: none;
    margin-left: 0px;
  }

  .vesbrand-brand-view .toolbar select {
    width: 150px;
  }

  .vesbrand-brand-view .toolbar .limiter-options {
    width: 50px;
  }

   .sw-megamenu.navigation li.level0.fullwidth:nth-child(2)>.submenu {
          display: none;
    }
    .sw-megamenu.navigation li.level0.fullwidth:nth-child(3)>.submenu { 
         display: none;
    }
      .sw-megamenu.navigation li.ui-menu-item.level0.parent>.open-children-toggle {
     display:none;
    }

}
/* Brands Toolbar */  

.user-loggedin .white-text { 
  width: 190px;
  overflow: hidden;
  height:22px;
}


.category-view .category-cms {
    margin: 0;
}


@media (max-width: 767px) {
body.filter-active {
      overflow: hidden;
      position: fixed;
  }
  .toolbar select {
      width: 178px;
  }
  .toolbar-products {
      width: 70%; 
  }
}
