.input-text.qty {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/* ** Checkout ** */
label.label {
	color: #6d6e70;
}

.custom-img {
	display: none;
}

.page-main>.page-title-wrapper .page-title {
	font-size: 20px;
	color: #1d2d3d;
}

.check-avability {
	width: 50%;
	float: left;
}
/* Fixed Header */

.page-header .panel.wrapper {
	background-color: transparent;
}

.page-header.type2 .sticky-head {
	position: fixed;
	width: 100%;
	top: 0;
	background: #222175;
	z-index: 990;
}

.page-header.type2 {
	padding-top: 148px;
}

.catalog-product-view .page-header.type2 {
	padding-top: 0;
}

/*product page start 19-11-2018*/

.action-check-delivery span {
	font-size: 12px;
	font-weight: 500;
	color: #faa74a;
}

.deliver-location h4 {
	color: #a2cf62;
	font-size: 14px;
}

.deliver-location span {
	color: #3d4d5d;
	font-size: 14px;
	font-family: DINPro-Regular;
}

.safe-unsafe-value {
	font-weight: 400;
	color: #1d2d3d;
}

#check-delivery-form .fieldset {
	margin: 0px;
}

.composition-desc p {
	color: #faa74a;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
}

.box-tocart button:not(.primary) {
	border: 1px solid #c3c3c3;
	color: #fff;
	line-height: 20px;
	padding: 0 10px;
	height: 30px;
	background-color: #c3c3c3;
}

.box-tocart button:hover {
	color: #fff;
	background-color: #faa74a;
	border: 1px solid #c3c3c3;
}

/* Cart */

button {
	color: #faa74a;
	background: #fff;
	border: 1px solid #6d6e70;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	line-height: 1.6;
	height: 36px;
	width: auto;
	padding: 0 20px;
	text-transform: uppercase;
}

button:not(.primary) {
	color: #faa74a;
	line-height: 36px;
	padding: 0 20px;
	height: 36px;
	background-color: #fff;
}

button:hover {
	color: #faa74a;
	background: #f4f5f7;
	border: 1px solid #faa74a;
}

button:active {
	background-color: #e5e5e5;
}

.cart-empty {
	margin-top: 100px;
}

.checkout-cart-index footer.page-footer {
	display: none;
}

/* .checkout-cart-index {
  background: #f8f8f8;
  } */ 

  .checkout-cart-index .page-title-wrapper {
  	display: none;
  }

  .cart.table-wrapper {
  	margin-bottom: 18px;
  	background: transparent;
  }

  .cart.table-wrapper .cart>.item {
  	border: 0;
  	position: static;
  }

  .cart.table-wrapper table tbody {
  	margin-bottom: 18px;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  	padding: 0 20px;
  	background: #fff;
  }

  .cart.table-wrapper table tbody.cart.item.item-title {
  	background: transparent;
  	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.0);
  	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.0);
  	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.0);
  	font-size: 18px;
  	padding: 0;
  }

  .item-norms {
  	font-size: 14px;
  	color: #3d4d5d;
  	float: right;
  	opacity: 0.5;
  	margin-top: 6px;
  }

  .cart.table-wrapper table tbody.cart.item.item-title td {
  	padding-top: 30px;
  	padding-left: 0;
  	padding-bottom: 10px;
  	color: #1d2d3d;
  	font-size: 24px;
  	font-family: DINPro-Medium;
  }

  .cart-container .form-cart {
  	float: none;
  }

  .cart.table-wrapper thead {
  	display: none;
  }

  .cart.table-wrapper .cart>.item:last-child {
  	border: 0;
  }

  .cart.table-wrapper .product-item-photo {
  	padding-right: 0;
  	width: 72px;
  	height: 72px;
  }

  .cart.table-wrapper .product-image-container {
  	border: 0;
  	border-radius: 0;
  	padding: 0;
  	max-width: 72px;
  	max-height: 72px;
  }

  .cart.table-wrapper .product-item-details {
  	padding: 8px 0 0px 20px;
  }

  .cart.table-wrapper .product-item-details p {
  	font-size: 10px;
  }

  .cart.table-wrapper .col.qty label.label {
  	position: relative;
  	margin: 0 5px 0 0;
  	height: auto;
  	width: auto;
  	font-size: 16px;
  	top: 8px;
  	float: left;
  	color: #6d6e70;
  }

  .qty.field .qty-changer>a,
  .qty.field .control button {
  	display: block;
  	border: 0;
  	border-radius: 2px;
  	height: 20px;
  	line-height: 18px;
  	margin-top: 0px;
  	color: #fff;
  	font-size: 18px;
  	font-weight: 600;
  	float: left;
  	width: 20px;
  	background: #faa74a;
  	padding: 0 0 3px 0;
  }

  .porto-icon-up-dir::before {
  	content: '-';
  }

  .porto-icon-down-dir::before {
  	content: '+';
  }

  .cart.table-wrapper .col.qty .input-text {
  	text-align: center;
  	width: 30px;
  	float: left;
  	border: 0;
  	height: 20px;
  	padding: 0;
  	font-size: 12px;
  	border: 0;
  }

  .cart.table-wrapper tbody td {
  	padding-top: 20px;
  	padding-bottom: 20px;
  }

  .cart.table-wrapper .actions-toolbar {
  	min-height: 20px;
  	position: relative;
  	border-left: 0;
  	padding: 28px 20px 20px;
  	margin-top: 0;
  }

  .cart.table-wrapper .actions-toolbar>.action-edit {
  	display: none;
  }

  .cart.table-wrapper .cart tbody td.col.delete .actions-toolbar {
  	border-left: 2px solid #eaeaea;
  	padding-left: 15px;
  	min-height: 76px;
  	vertical-align: middle;
  }

  .cart.table-wrapper .actions-toolbar>.action-edit,
  .cart.table-wrapper .actions-toolbar>.action-delete {
  	top: auto;
  	margin-top: 0px;
  	position: static;
  }

  .cart.table-wrapper .actions-toolbar>.action-delete::before {
  	content: "";
  	font-family: FontAwesome;
  	color: #707070;
  	background: url(../images/spritesheet.svg) no-repeat -192px -26px;
  	width: 16px;
  	height: 16px;
  }

  .checkout-cart-index .modal-popup .modal-header .action-close:before {
  	background: url(../images/spritesheet.svg) no-repeat -304px -18px;
  	width: 16px;
  	height: 24px;
  }

  .cart.table-wrapper .product-item-name>a,
  .cart.table-wrapper .product-item-name>a:hover {
  	color: #1d2d3d;
  	text-decoration: none;
  	font-size: 18px;
  	line-height: 20px;
  }

  .cart.table-wrapper .product-item-name {
  	height: auto;
  	margin: 0;
  }

  .cart.table-wrapper .col.subtotal .price {
  	color: #1d2d3d;
  	font-size: 14px;
  	font-family: DINPro-Bold;
  }

  .cart-summary {
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  	background: #fff;
  	border: 0;
  	-ms-flex-order: 3;
  	-webkit-order: 3;
  	order: 3;
  	clear: right;
  	padding: 0 15px 20px;
  }

  .page-main .cart-summary .block {
  	margin-bottom: 0;
  	display: none;
  }

  .cart-summary>.title {
  	font-size: 18px;
  	font-family: DINPro-Medium;
  	color: #1d2d3d;
  	display: block;
  }

  .cart-summary .block .title strong {
  	font-size: 14px;
  	font-weight: 500;
  	font-family: DINPro-Medium;
  	color: #1d2d3d;
  }

  select,
  input[type="text"] {
  	text-transform: none;
  	border: 0;
  	border-bottom: 1px solid #1d2d3d;
  	border-radius: 0;
  	color: #1d2d3d;
  }

  .cart-totals .grand .mark,
  .opc-block-summary .table-totals .grand .mark {
  	font-size: 18px;
  	font-family: DINPro-Medium;
  }

  .cart-totals .grand strong,
  .opc-block-summary .table-totals .grand strong {
  	font-size: 18px;
  	font-family: DINPro-Medium;
  }

  .cart-totals .grand strong {
  	padding: 0;
  }

  .cart-totals tbody .amount,
  .cart-totals tfoot .amount,
  .opc-block-summary .table-totals tbody .amount,
  .opc-block-summary .table-totals tfoot .amount {
  	color: #1d2d3d;
  	font-size: 18px;
  }

  .cart-totals tbody .mark,
  .cart-totals tfoot .mark,
  .opc-block-summary .table-totals tbody .mark,
  .opc-block-summary .table-totals tfoot .mark {
  	color: #1d2d3d;
  	font-size: 18px;
  }

  .action.multicheckout {
  	display: none;
  }

  .cart-discount {
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  	background: #fff;
  	border: 0;
  	width: 100%;
  	float: right;
  	-ms-flex-order: 2;
  	-webkit-order: 2;
  	order: 2;
  	padding: 15px;
  	margin-bottom: 20px;
  }

  .cart-discount .block {
  	width: 100%;
  }

  .cart-discount .block>.title strong {
  	font-size: 18px;
  }

  .paypal-review-discount .block>.title strong,
  .cart-discount .block>.title strong {
  	color: #1d2d3d;
  	font-weight: 400;
  	font-family: DINPro-Medium;
  }

  #discount-coupon-form #coupon_code {
  	border-radius: 0;
  	border: 0;
  	border-bottom-width: 0px;
  	border-bottom-style: none;
  	border-bottom-color: currentcolor;
  	border-bottom: 1px solid #ccc;
  	background: transparent;
  	width: 100%;
  	height: 36x;
  }

  .cart-discount .actions-toolbar {
  	position: absolute;
  	right: 0px;
  	top: -5px;
  	width: auto;
  }

  .action.apply.primary {
  	background: transparent;
  	border: 0;
  	color: #fff;
  	font-weight: 400;
  	font-size: 14px;
  	background-color: #faa74a;
  	position: relative;
  	bottom: 0px;
  	height: 36px;
  	right: 0px;
  	-webkit-border-radius: 0px;
  	-moz-border-radius: 0px;
  	border-radius: 0px;
  }

  .action.apply.primary {
  	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.0);
  	-webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.0);
  	-moz-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.0);
  }

  .checkout-cart-index .cart-discount .action.apply.primary {
  	-webkit-border-radius: 0;
  	-moz-border-radius: 0;
  	border-radius: 0;
  	margin-left: 1px;
  }

  .use-ajax.action.action-towishlist {
  	display: none;
  }

  .fieldset.coupon ::-webkit-input-placeholder {
  	color: #1d2d3d;
  }

  .fieldset.coupon ::-moz-placeholder {
  	color: #1d2d3d;
  }

  .fieldset.coupon :-ms-input-placeholder {
  	color: #1d2d3d;
  }

  .fieldset.coupon :-moz-placeholder {
  	color: #1d2d3d;
  }    
  /* Cross Sale */
  .block .title strong {
  	color: #3d4d5d;
  }

  .block.crosssell {
  	width: 100%;
  	margin-top: 30px;
  }

  .block.crosssell .product-item-photo {
  	background: #fff;
  }

  .block.crosssell .products-grid .product-item {
  	width: 17%;
  	padding: 10px 12px;
  }

  .block.crosssell .product-item-details .action.tocart.primary,
  .block.crosssell .product-item-actions .actions-secondary {
  	display: none;
  }

  #cart-totals .totals th span.title {
  	color: #a2cf62;
  	font-size: 16px;
  	font-family: DINPro-Regular;
  }

  #cart-totals .totals td span span.price {
  	color: #a2cf62;
  	font-size: 16px;
  	font-family: DINPro-Regular;
  }

  @media (min-width:768px) {
  	.checkout-cart-index .page-main {
  		padding-left: 0;
  		padding-right: 0;
  		padding-top: 0;
  	}

  	.cart-summary {
  		width: 32.3%;
  		padding: 15px;
  	}

  	.cart-discount {
  		margin-top: 76px; 
  		height: 120px;
  		width: 32.3%;
  		padding: 15px;
  	}

  	.cart-container .form-cart,
  	.cart-container .cart-gift-item {
  		padding-right: 1.5%;
  	}

  	.cart.table-wrapper .item .col.item {
  		padding: 20px 8px 20px 20px;
  	}

  	.cart.table-wrapper .cart tbody td.col {
  		border-bottom: 0px solid #ccc;
  	}

  	.cart.table-wrapper .cart tbody tr.item-info {
  		border-bottom: 0px solid #e5e5e5;
  		position: relative;
  	}

  	.catalog-product-view .page-header.type2 .sticky-head {
  		position: static;
  	}

  	.cart.table-wrapper .col.qty {
  		width: 100px;
  	}

  	.qty.field .control, .qty.field .qty-changer {
  		display: inline;
  	}
  }

  @media (min-width:768px) and (max-width:991px) {
  	
  	
  	.cart-container {
  		margin-top: 20px;
  	}

  	.cart-container .form-cart {
  		width: 100%;
  		clear: both;
  	}

  	.cart-summary, .cart-discount {
  		width: 100%;
  		padding: 15px;
  		margin-top: 0;
  	}

  	.cart-container .form-cart, .cart-container .cart-gift-item {
  		padding-right: 0px;
  	}
  }
  @media (min-width:992px) {
  	.cart-discount {
  		margin-top: 76px
  	}
  }
  .cart.table-wrapper .cart tbody.cart.item::after {
  	content: "";
  	background: rgba(0, 0, 0, 0.016);
  	height: 1px;
  	width: 94%;
  	margin: auto;
  	display: inline;
  	position: absolute;
  	left: 2%;
  	bottom: auto;
  }

  .cart.table-wrapper .cart tbody.cart.item.item-title::after {
  	display: none;
  }

  @media (max-width:767px) {
  	.cart.table-wrapper .col.qty .input-text {
  		width: 26px;
  	}

  	.cart.table-wrapper .col.subtotal {
  		padding-left: 35px;
  	}

  	.cart.table-wrapper .col.qty::before,
  	.cart.table-wrapper .col.price::before,
  	.cart.table-wrapper .col.subtotal::before,
  	.cart.table-wrapper .col.msrp::before {
  		color: transparent;
  		background: #fff;
  	}

  	.item-norms {
  		float: left;
  	}

  	.cart.table-wrapper .item-info {
  		position: relative;
  	}

  	.cart.table-wrapper .cart tbody td.col.delete .actions-toolbar {
  		position: static;
  		border: 0;
  	}

  	.cart.table-wrapper .col.qty::before,
  	.cart.table-wrapper .col.price::before,
  	.cart.table-wrapper .col.subtotal::before,
  	.cart.table-wrapper .col.msrp::before {
  		font-weight: 400;
  		padding-bottom: 5px;
  		display: none;
  	}

  	.cart-totals,
  	.opc-block-summary .table-totals {
  		border-top: 0px solid #e5e5e5;
  		padding-top: 10px;
  	}

  	.block.crosssell .products-grid .product-item {
  		width: 50%;
  		float: left;
  	}

  	.cart.table-wrapper .actions-toolbar {
  		margin-top: 0px;
  		border-left: 0px;
  		padding: 0;
  	}

  	.cart.table-wrapper .col.price span.cart-price {
  		margin-top: 5px;
  		display: inline-block;
  	}

  	.toolbar .sorter {
  		position: relative;
  		top: 0px;
  		margin-top: 60px;
  	}

  	.checkout-cart-index .action.apply.primary, .checkout-cart-index .action.cancel.primary {
  		position: relative;
  		bottom: -4px;
  		height: 36px;
  		right: 0;
  	}

  	.checkout-cart-index .cart-discount .block .content {
  		display: block !important;
  		padding: 5px 0 0;
  	}

  	form#discount-coupon-form {
  		margin-bottom: 0;
  	}

  	.checkout-cart-index .cart-discount .block>.title:after {
  		display: none;
  	}

  	.checkout-cart-index .cart-discount .block>.title {
  		border-top: 1px solid transparent;
  		padding-left: 0;
  	}

  	.cart.table-wrapper .product-item-name>a, .cart.table-wrapper .product-item-name>a:hover {
  		font-size: 12px;
  		line-height: 16px;
  		min-height: auto;
  	}

  	.cart.table-wrapper .actions-toolbar>.action-edit,
  	.cart.table-wrapper .actions-toolbar>.action-delete {
  		top: auto;
  		margin-top: 68px;
  		position: static;
  	}

  	.cart.table-wrapper .col.qty label.label {
  		top: 8px;
  		font-size: 12px;
  	}
  }



  .checkout-success {
  	margin-top: 20px;
  }
  /* Cart */ 
  @media only screen and (max-width: 991px) {
  	
  	.checkout-cart-index .page.messages {
  		margin-top: 0px;    
  	}

  	.cart.table-wrapper table tbody.cart.item.item-title td {
  		padding-top: 30px;
  	}

  	.cart-container {
  		padding: 0 15px;
  		display: flex;
  		flex-direction: column;
  	}

  	.cart-container .form-cart {
  		order: 1;
  		-webkit-order: 1;
  		flex: 1;
  	}
  }

  @media only screen and (max-width: 767px) {
  	.checkout-cart-index.columns .column.main {
  		padding-bottom: 20px;
  	}

  	.checkout-cart-index .page-wrapper .message {
  		margin-top: 0;
  	}

  	.page.messages {
  		margin-top: 0px;
  	}
    #onestepcheckout-page .opc-wrapper .step-content {
      margin-bottom: 20px; 
    }
  	

  	/* Cart Page */
  	.cart.table-wrapper {
  		border-top: 0;
  		margin-bottom: 0;
  		margin-top: 0px;
  	}

  	.product-image-wrapper {
  		max-width: 48px;
  	}

  	.cart.table-wrapper table tbody.cart.item.item-title td {
  		font-size: 16px;
  		padding-top: 0px;
  		padding-bottom: 10px;
  	}

  	.cart.table-wrapper .col.qty .input-text {
  		font-size: 16px;
  	}

  	.checkout-cart-index .cart-discount {
  		order: 2;
  		-webkit-order: 2;
  		flex: 2;
  		padding: 10px 15px;
  	}

  	.cart-discount .block>.title strong {
  		font-size: 14px;
  	}

  	.block.crosssell {
  		margin-top: 0px;
  		order: 3;
  		-webkit-order: 3;
  		flex: 3;
  	}

  	.cart-summary {
  		background: #fff;
  		border: 0;
  		-ms-flex-order: 3;
  		-webkit-order: 3;
  		order: 3;
  		clear: right;
  		padding: 8px 15px 10px;
  		position: relative;
  		bottom: 0;
  		width: 100%;
  		left: 0;
  		right: 0;
  		top: auto !important;
  		height: auto;
  		margin: 0;
  		z-index: 11;
  	}

  	.cart-summary>.title {
  		margin-top: 5px;
  		display: none;
  	}

  	.cart.table-wrapper .col.subtotal {
  		margin-top: 32px;
  	}

  	.cart-totals {
  		float: left;
  		padding: 0;
  		border-right: 0;
  		padding-right: 0px;
  		height: auto;
  		color: #faa74a;
  		width: 100%;
  	}

  	table.data.table.totals {
  		margin-bottom: 0;
  	}

  	.cart-summary .checkout-methods-items {
  		margin: 0;
  		padding: 0;
  		text-align: center;
  		float: right;
  		position: fixed;
  		right: 0px;
  		bottom: 0;
  		z-index: 11;
  		left: 0;
  		background: #faa74a;
  	}

  	.cart.table-wrapper .product-item-details {
  		padding: 0px 0 10px 0px;
  		width: 100%;
  	}

  	.cart-totals tbody .amount {
  		color: #fff;
  		padding: 5px 10px;
  	}

  	.cart-totals tbody .mark {
  		font-size: 14px;
  	}

  	.cart-totals tbody tr.totals.sub .mark {
  		font-family: DINPro-Bold;
  	}

  	.cart-totals tbody tr.totals.sub .amount {
  		font-family: DINPro-Bold;
  	}

  	.checkout-cart-index .cart-totals tbody .amount {
  		color: #fff;
  		padding: 6px 0px;
  		font-size: 14px;
  	}

  	.cart.table-wrapper .col.qty .field.qty {
  		min-width: 60px;
  		margin-top: 10px;
  		margin-bottom: 15px;
  		margin-right: 10px;
  		float: right;
  	}

  	.checkout-cart-index tr.grand.totals {
  		background: #FAA74F;
  		position: fixed;
  		right: 0;
  		left: 0;
  		bottom: 0;
  		height: 49px;
  		padding: 5px 15px;
  		z-index: 12;
  		width: 70%;
  	}

  	.cart-totals tbody tr.grand.totals .mark::before {
  		content: "Pay your amount";
  		color: #fff;
  		font-size: 10px;
  		display: inline-block;
  		width: 40px;
  		height: 40px;
  		float: left;
  		position: relative;
  		line-height: 1.2;
  	}

  	.cart-summary .checkout-methods-items .action.primary.checkout {
  		width: auto;
  		box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0);
  		float: right;
  		text-align: right;
  		padding: 0 15px;
  		height: 49px;
  	}

  	.cart.table-wrapper .product-item-photo {
  		padding-right: 0;
  		width: 48px;
  		height: 48px;
  	}

  	.cart-summary span.price {
  		color: #1d2d3d;
  	}

  	.cart-totals tbody tr.grand.totals span.price {
  		color: #fff;
  		margin-left: 10px;
  	}

  	.checkout-cart-index .cart-totals tbody tr.grand.totals .amount {
  		color: #fff;
  		padding: 6px 0px;
  		font-size: 14px;
  	}

  	.checkout-cart-index .cart-totals .grand .amount {
  		border: 0;
  	}

  	.checkout-cart-index .cart-totals .grand .mark {
  		border: 0;
  		padding: 6px 0 0 0;
  	}

  	.checkout-cart-index .cart-totals .grand .mark strong {
  		display: none;
  	}
  }

  @media only screen and (max-width: 639px) {
  	.opc-wrapper .edit-address-link:before {
  		color: #faa74a;
  	}

  	.cart .table.items .col.qty {
  		padding: 0;
  		position: absolute;
  		right: 0;
  		top: 0;
  		display: contents;
  	}

  	.cart.table-wrapper .item .col.item {
  		padding-bottom: 0;
  		padding-top: 10px;
  		width: 75%;
  		height: 65px;
  		float: left;
  		min-height: 65px;
  	}

  	.cart.table-wrapper .col.subtotal {
  		margin-top: 0px !important;
  		width: 100%;
  		text-align: left;
  		padding: 5px 0 10px 15px;
  	}

  	.cart.table-wrapper .cart tbody td.item-actions {
  		vertical-align: bottom;
  		padding: 0 15px 0 0;
  		position: absolute;
  		right: 0;
  		bottom: auto;
  		top: auto;
  		margin: 0;
  	}

  	.checkout-cart-index .cart.table-wrapper table .col.qty .input-text {
  		width: 32px;
  		height: 32px;
  		font-size: 14px;
  		border: 2px solid #faa74a;
  	}

  	.cart .table.items .control.qty.edit-qty label.label {
  		width: auto;
  		height: auto;
  		position: relative;
  		margin: 0;
  		top: 5px;
  		font-size: 12px;
  	}

  	.cart-empty {
  		margin-top: 0px;
  	}
  }

  .checkout-cart-index .cart .action.update {
  	display: none;
  }



  /* Footer */



  /*checkout cart for the prescription for the popup*/
  #popup-modal {
  	padding-top: 15%; 
  }

  #popup-modal::before {
  	content: "";
  	background: rgba(0,0,0,0.6);
  	width: 100%;
  	height: 100%;
  	display: inline-block;
  	position: fixed;
  	left: 0;
  	right: 0;
  	text-align: 0;
  	top: 0;
  	bottom: 0;
  }

  .checkout-cart-index .modal-dialog.new {
  	max-width: 700px;
  	border: 5px solid #faa74a;
  	overflow-x: hidden;
  	overflow-y: hidden;
  	margin-top: 0;
  }

  .checkout-cart-index .modal-dialog.new .modal-header {
  	padding-top: 30px;
  	padding-bottom: 30px;
  }

  .checkout-cart-index .modal-header .action-close {
  	background-image: none;
  	background: 0 0;
  	-moz-box-sizing: content-box;
  	border: 0;
  	box-shadow: none;
  	line-height: inherit;
  	margin: 0;
  	margin-right: 0px;
  	padding: 0;
  	text-shadow: none;
  	font-weight: 400;
  	display: inline-block;
  	text-decoration: none;
  	position: absolute;
  	right: 0;
  	top: 0;
  	padding: 0;
  	margin-right: 15px;
  }

  .checkout-cart-index .modal-dialog.new .modal-title {
  	text-align: center;
  	font-size: 24px;
  	font-family: DINPro-Medium;
  	color: #3d4d5d;
  	border: 0;
  	margin: 0 auto;
  	padding: 0;
  }

  .checkout-cart-index #popup-modal .modal-body {
  	padding: 0 3rem 2.6rem;
  }

  .checkout-cart-index #popup-modal .col-sm-12 {
  	height: auto;
  	border-bottom: 1px solid#707070;
  	margin-bottom: 20px;
  }

  .checkout-cart-index #popup-modal .col-sm-6 {
  	margin-bottom: 20px;
  }

  .checkout-cart-index #popup-modal .prescription-ready {
  	height: 140px;
  	border-right: 1px solid #707070;
  	padding-left: 0;
  }

  .checkout-cart-index #popup-modal .col-sm-6.right-border {
  	border-right: 1px solid #707070;
  	margin-top: 20px;
  	padding-left: 0;
  }

  .checkout-cart-index #popup-modal .col-sm-6 h3 {
  	font-family: DINPro-Regular;
  	font-size: 18px;
  	color: #3d4d5d;
  	margin-left: 20px;
  	margin-bottom: 15px;
  	min-height: 46px;
  	width: 80%;
  	float: left;
  	text-align: left;
  }

  .checkout-cart-index #popup-modal .col-sm-6 p {
  	float: left;
  	margin-top: 0px;
  }

  .zoylo-icon.upload-your-prescription {
  	margin-left: 0px;
  }

  .checkout-cart-index #popup-modal .submit-delivery {
  	height: 140px;
  }

  .checkout-cart-index .cartcheckout {
  	color: #fff;
  	background-color: #faa74a;
  	border: 1px solid #faa74a;
  	height: 24px;
  	padding: 0px 8px;
  	line-height: 10px;
  }

  .checkout-cart-index .cartcheckout:active {
  	background-color: #e08724;
  	border-radius: 2px;
  	color: #fff;
  }

  .checkout-cart-index .cartcheckout:hover {
  	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16);
  	color: #fff;
  	text-decoration: none;
  	border-radius: 2px;
  }

  .checkout-cart-index .modal-header .action-close:before {
  	color: #3d4d5d;
  	font-size: 0px;
  }

  .checkout-cart-index .customer-data #contact {
  	float: left;
  }

  .checkout-cart-index .customer-data #submit {
  	float: left;
  }

  .checkout-cart-index .modal-dialog .modal-footer {
  	border-top: none !important;
  	height: 0;
  	padding: 0;
  }

  .mobile-number {
  	float: left;
  }

  .go-submit {
  	float: left;
  	margin-top: 12px;
  }

  .modal-header button.action-close:focus {
  	outline: none;
  }

  .removed-Prescription {
  	margin-top: 30px;
  }

  .checkout-index-index .logo-container {
  	background: #222175;
  	height: 100px;
  }

  .checkout-index-index .page-header.type2:not(.header-newskin) {
  	display: none;
  }

  .modal-dialog.new .modal-header {
  	padding-top: 30px;
  	padding-bottom: 10px;
  }

  .submit-delivery input[type="radio"] {
  	margin: 15px 0px 15px 15px;
  }

  .prescription-ready input[type="radio"] {
  	margin: 15px 0px 15px 0px;
  }

  .checkout-cart-index .popup-proceed .cartcheckout {
  	color: #fff;
  	background-color: #faa74a;
  	border: 1px solid #faa74a;
  	padding: 0px 8px;
  	line-height: 10px;
  	font-size: 14px;
  	font-family: DINPro-Regular;
  	height: 36px;
  	min-width: 100px;
  	text-transform: uppercase;
  }

  .checkout-cart-index button.cartcheckout {
  	color: #faa74a;
  	background-color: transparent;
  	border: 1px solid transparent;
  	height: 30px;
  	padding: 5px 0 0px;
  	line-height: 10px;
  	font-family: DINPro-Medium;
  	line-height: 26px; 
  	text-decoration: underline;
  	font-size: 14px;
  }

  .checkout-cart-index button.cartcheckout:hover, .checkout-cart-index button.cartcheckout:active {
  	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0);
  	color: #faa74a;
  	background-color: transparent;
  	border: 1px solid transparent;
  }

  .checkout-cart-index .prescription1 {
  	width: 64px;
  }

  .prescription1 {
  	text-align: center;
  	margin: 0 auto;
  	float: none !important;
  	width: 100px;
  	min-height: 75px;
  }

  .deliveryicon2 {
  	text-align: center;
  	margin: 0 auto;
  	float: none !important;
  	width: 100px;
  	min-height: 75px;
  }

  p.popup-proceed {
  	margin: auto;
  }

  @media (max-width:767px) {
  	#popup-modal {
  		padding-top: 200px;
  	}
  	.checkout-cart-index #popup-modal .modal-body {
  		padding: 0 3rem .6rem;
  	} 
  	.checkout-cart-index .modal-dialog.new {
  		max-width: 700px;
  		border: 5px solid #faa74a;
  		overflow-x: hidden;
  		overflow-y: hidden;
  		margin-top: 0;
  		height: 400px;
  		background: #fff;
  		overflow: auto;
  		pointer-events: auto;
  	}

  	.checkout-cart-index #popup-modal .col-sm-12 {  
  		border: 0; 
      padding: 0 60px;  
  	}
  	
  	.deliveryicon2 {
  		display: none;
  	}
  	.checkout-cart-index .prescription1 {
  		width: 100px;
  		display: none;
  	}

  	.checkout-cart-index #popup-modal .prescription-ready {
  		border-right: 0;
  		padding-left: 0;
  		padding-right: 0;
  		height: auto;
  		clear: both; 
  	}

  	.checkout-cart-index #popup-modal .submit-delivery {
  		border-right: 0;
  		padding-left: 0;
  		padding-right: 0;
  		float: none;
  		height: auto;
  		clear: both;
  	}

  	.submit-delivery input[type="radio"] {
  		margin: 15px 0px 15px 0px;
  	}

  	.checkout-cart-index #popup-modal .col-sm-7 {
  		border-right: none;
  	}

  	.checkout-cart-index .popup-proceed {
  		top: 0px;
  	}

  	.checkout-cart-index .cartcheckout {
  		font-size: 12px;
  	}

  	.checkout-cart-index .modal-dialog.new .modal-title {
  		font-size: 18px;
  	}

  	.checkout-cart-index #popup-modal .col-sm-5 {
  		margin-top: 0px;
  	}

  	.mobile-number #contact {
  		height: 24px;
  	}

  	.go-submit {
  		margin-top: 0px;
  	}

  	.checkout-success .col-4 {
  		width: 100%;
  		-webkit-flex: 100%;
  		-moz-flex: 100%;
  		-ms-flex: 100%;
  		flex: 100%;
  		max-width: 100%;
  	}

  	.checkout-success .col-8 {
  		width: 100%;
  		-webkit-flex: 100%;
  		-moz-flex: 100%;
  		-ms-flex: 100%;
  		flex: 100%;
  		max-width: 100%;
  	}

  	.modal-popup._show .modal-inner-wrap {
  		border: 2px solid #faa74a;
  		background: #fff;
  		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  		padding: 10px;
  	}

  	.checkout-cart-index #popup-modal .col-sm-6 h3 {
  		width: 80%;
  	}

  	.checkout-cart-index .action.apply.primary {
  		right: 0px;
  	}

  	.checkout-cart-index button.cartcheckout {
  		width: 100%;
  	}

  	.checkout-cart-index #popup-modal .prescription-ready {
  		border-right: 0;
  	}
  }

@media (max-width:400px) { 
  .checkout-cart-index #popup-modal .col-sm-12 {
      border: 0;
      padding: 0 15px;
  }
}
  @media (min-width:768px) and (max-width:991px) {
  	.checkout-cart-index .modal-dialog.new .modal-inner-wrap {
  		margin: 30% auto 0;
  	}
  }

  .cart-widget-container {
  	height: 81px; 
  	/*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);*/
  	background-color: #ffffff;
  	padding: 10px 0;
  	display: none; 
    position: relative;
  }

  .checkout-cart-index .cart-widget-container, .checkout-index-index .cart-widget-container, [class^="checkout-onepage-"] .cart-widget-container {
  	display: block;
  }

/* [class^="uploadprescription-index-"] .cart-widget-container {
  display: block;
  } */

  .widget-icon {
  	height: 40px;
  	display: inline-block;
  }

  .widget-icon::before {
  	content: "";
  	height: 2px;
  	width: 100%;
  	display: inline-block;
  	background: #ddd; 
  	position: absolute;
  	top: 20px;
  	z-index: 1;
  }

  .widget-icon::after {
  	width: 24px;
  	height: 24px;
  	border: 2px solid #ddd;
  	border-radius: 50%;
  	content: "";
  	display: inline-block;
  	position: relative;
  	z-index: 1;
  	background: #fff;
  	top: 8px;
  }

  .cart-widget-container ul li {
  	position: relative;
  }

  .cart-widget-container ul li:last-child a .widget-icon::before {
  	display: none !important;
  }

  .cart-widget-container ul li p {
  	font-size: 14px;
  	color: #ddd;
  	font-family: DINPro-Regular; 
  }

  .cart-widget-container ul li a.cart-widget-active .widget-icon::before {
  	background: #ddd; 
  }

  .cart-widget-container ul li a.cart-widget-active .widget-icon::after {
  	width: 40px;
  	height: 40px;
  	border: 2px solid #a2cf62;
  	top: 0;
  	background: #fff url(../images/tick-active.png) no-repeat;
  	background-size: 100%;
  	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  }

  .cart-widget-container ul li a.cart-widget-completed .widget-icon::after {
  	width: 40px;
  	height: 40px;
  	border: 0px solid #a2cf62;
  	background: url(../images/tick-complete.png) no-repeat;
  	background-size: 100%;
  	top: 0;
  	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  }
  .cart-widget-container ul li.cart-widget a.cart-widget-completed p { 
  	color: #1d2d3d;
  }
  /* Cart */
  .checkout-cart-index  .cart-widget-container ul li.cart-widget a.cart-widget-completed .widget-icon::after {
  	display: none;
  }

  .checkout-cart-index .cart-widget-container ul li.cart-widget a.cart-widget-active .widget-icon::after {
  	display: block;
  	background: #fff url(../images/tick-active.png) no-repeat;
  	background-size: 100%;
  }

  .checkout-cart-index .cart-widget-container ul li.pri-widget {
  	display: block;
  }

  .checkout-cart-index .cart-widget-container ul li.pri-widget.nonrx {
  	display: none;
  }

  .checkout-cart-index .cart-widget-container ul li.pri-widget a.cart-widget-completed .widget-icon::after {
  	display: none;
  }

  .checkout-cart-index .cart-widget-container ul li.pri-widget a.cart-widget-active .widget-icon::before {
  	display: block;
  	background: #ddd;
  }

  .checkout-cart-index .cart-widget-container ul li.pri-widget a.cart-widget-completed .widget-icon::after {
  	border: 2px solid #ddd;
  	display: block;
  	background: #fff;
  	width: 24px;
  	height: 24px;
  	top: 8px;
  }

  .checkout-cart-index .cart-widget-container ul li.checkout-widget  a.cart-widget-active .widget-icon::after {
  	display: none;
  }

  .checkout-cart-index .cart-widget-container ul li.checkout-widget  a.cart-widget-completed .widget-icon::after {
  	display: none;
  }

  .checkout-cart-index .cart-widget-container ul li.checkout-widget  a.cart-widget-active .widget-icon::before {
  	display: block;
  	background: #ddd;
  }

  .checkout-cart-index .cart-widget-container ul li.checkout-widget  a.cart-widget-completed .widget-icon::after {
  	border: 2px solid #ddd;
  	display: block;
  	background: #fff;
  	width: 24px;
  	height: 24px;
  	top: 8px;
  }

  .checkout-cart-index .cart-widget-container ul li.confirm-widget  a.cart-widget-active .widget-icon::after {
  	display: none;
  }

  .checkout-cart-index .cart-widget-container ul li.confirm-widget  a.cart-widget-completed .widget-icon::after {
  	display: none;
  }

  .checkout-cart-index .cart-widget-container ul li.confirm-widget  a.cart-widget-active .widget-icon::before {
  	display: block;
  	background: #1d2d4d;
  }

  .checkout-cart-index .cart-widget-container ul li.confirm-widget  a.cart-widget-completed .widget-icon::after {
  	border: 2px solid #ddd;
  	display: block;
  	background: #fff;
  	width: 24px;
  	height: 24px;
  	top: 8px;
  }  
  /* cart */
  /* Upload Prescription  */  
  [class^="uploadprescription-index-"] .cart-widget-container ul li.cart-widget {
  	display: none;
  }

  [class^="uploadprescription-index-"] .cart-widget-container ul li.pri-widget a.cart-widget-completed .widget-icon::after {
  	display: none;
  }

  [class^="uploadprescription-index-"] .cart-widget-container ul li.pri-widget a.cart-widget-active .widget-icon::after {
  	display: block;
  	background: #fff url(../images/tick-active.png) no-repeat;
  	background-size: 100%;
  }

  [class^="uploadprescription-index-"] .cart-widget-container ul li.checkout-widget  a.cart-widget-active .widget-icon::after {
  	display: none;
  }

  [class^="uploadprescription-index-"] .cart-widget-container ul li.checkout-widget  a.cart-widget-completed .widget-icon::after {
  	display: none;
  }

  [class^="uploadprescription-index-"] .cart-widget-container ul li.checkout-widget  a.cart-widget-active .widget-icon::before {
  	display: block;
  	background: #ddd;
  }

  [class^="uploadprescription-index-"] .cart-widget-container ul li.checkout-widget  a.cart-widget-completed .widget-icon::after {
  	border: 2px solid #ddd;
  	display: block;
  	background: #fff;
  	width: 24px;
  	height: 24px;
  	top: 8px;
  }

  [class^="uploadprescription-index-"] .cart-widget-container ul li.confirm-widget  a.cart-widget-active .widget-icon::after {
  	display: none;
  }

  [class^="uploadprescription-index-"] .cart-widget-container ul li.confirm-widget  a.cart-widget-completed .widget-icon::after {
  	display: none;
  }

  [class^="uploadprescription-index-"] .cart-widget-container ul li.confirm-widget  a.cart-widget-active .widget-icon::before {
  	display: block;
  	background: #1d2d4d;
  }

  [class^="uploadprescription-index-"] .cart-widget-container ul li.confirm-widget  a.cart-widget-completed .widget-icon::after {
  	border: 2px solid #1ddd; 
  	display: block;
  	background: #fff;
  	width: 24px;
  	height: 24px;
  	top: 8px;
  }   
  /* Upload Prescription  */ 
  /* Checkout  */

  .checkout-index-index .cart-widget-container ul li.cart-widget a.cart-widget-active .widget-icon::after {
  	display: none;
  }

  .checkout-index-index .cart-widget-container ul li.cart-widget a.cart-widget-completed .widget-icon::after {
  	display: block;
  }

  .checkout-index-index .cart-widget-container ul li.pri-widget a.cart-widget-active .widget-icon::after {
  	display: none;
  }

  .checkout-index-index .cart-widget-container ul li.pri-widget a.cart-widget-completed .widget-icon::after {
  	display: block;
  }

  .checkout-index-index .cart-widget-container ul li.pri-widget.nonrx {
  	display: none;
  }

  .checkout-index-index .cart-widget-container ul li.checkout-widget a.cart-widget-completed .widget-icon::after {
  	display: none;
  }

  .checkout-index-index .cart-widget-container ul li.checkout-widget a.cart-widget-active .widget-icon::after {
  	display: block;
  	background: #fff url(../images/tick-active.png) no-repeat;
  	background-size: 100%;
  }

  .checkout-index-index .cart-widget-container ul li.confirm-widget  a.cart-widget-active .widget-icon::after {
  	display: none;
  }

  .checkout-index-index .cart-widget-container ul li.confirm-widget  a.cart-widget-completed .widget-icon::after {
  	display: none;
  }

  .checkout-index-index .cart-widget-container ul li.confirm-widget  a.cart-widget-active .widget-icon::before {
  	display: block;
  	background: #ddd; 
  }

  .checkout-index-index .cart-widget-container ul li.confirm-widget  a.cart-widget-completed .widget-icon::after {
  	border: 2px solid #ddd;
  	display: block;
  	background: #fff;
  	width: 24px;
  	height: 24px;
  	top: 8px;
  }   
  .checkout-index-index ul li.checkout-widget a.cart-widget-completed p {  
  	color: #1d2d3d;
  }
  .checkout-index-index ul li.cart-widget a.cart-widget-completed .widget-icon::before { 
  	background: #a2cf62; 
  }
  .checkout-index-index ul li.pri-widget a.cart-widget-completed .widget-icon::before  {
  	background: #a2cf62; 
  }
  .checkout-index-index ul li.pri-widget a.cart-widget-completed p {   
  	color: #1d2d3d;
  }
  /* Checkout */   
  /* Checkout */  

  [class^="checkout-onepage-"] .cart-widget-container ul li.cart-widget {
  	display: block;
  }

  [class^="checkout-onepage-"] .cart-widget-container ul li.pri-widget a.cart-widget-active .widget-icon::after {
  	display: none;
  }

  [class^="checkout-onepage-"] .cart-widget-container ul li.pri-widget a.cart-widget-completed .widget-icon::after {
  	display: block;
  }

  [class^="checkout-onepage-"] .cart-widget-container ul li.pri-widget.nonrx {
  	display: none;
  }

  [class^="checkout-onepage-"] .cart-widget-container ul li.checkout-widget  a.cart-widget-active .widget-icon::after {
  	display: none;
  }

  [class^="checkout-onepage-"] .cart-widget-container ul li.checkout-widget  a.cart-widget-completed .widget-icon::after {
  	display: block;
  }

  [class^="checkout-onepage-"] .cart-widget-container ul li.checkout-widget  a.cart-widget-active .widget-icon::before {
  	display: none;
  	background: #1d2d4d;
  }

  [class^="checkout-onepage-"] .cart-widget-container ul li.checkout-widget  a.cart-widget-completed .widget-icon::after {
  	display: block;
  }

  [class^="checkout-onepage-"] .cart-widget-container ul li.checkout-widget  a.cart-widget-active .widget-icon::before {
  	display: block;
  	background: #a2cf62;
  }

  [class^="checkout-onepage-"] .cart-widget-container ul li.confirm-widget  a.cart-widget-completed .widget-icon::after {
  	display: none;
  }

  [class^="checkout-onepage-"] .cart-widget-container ul li.confirm-widget  a.cart-widget-active .widget-icon::after {
  	display: block;
  	background: #fff url(../images/tick-complete.png) no-repeat;
  	background-size: 100%;
  }
  [class^="checkout-onepage-"] ul li a.cart-widget-active .widget-icon::before {
  	background: #a2cf62; 
  }
  [class^="checkout-onepage-"] ul li.checkout-widget a.cart-widget-completed p {  
  	color: #1d2d3d;
  }
  [class^="checkout-onepage-"] ul li.confirm-widget a.cart-widget-completed p {   
  	color: #1d2d3d;
  }
  [class^="checkout-onepage-"] ul li.pri-widget a.cart-widget-completed p {   
  	color: #1d2d3d;
  } 
  /* Checkout */  

  /* Cart Page Toolbar */
  .cart-products-toolbar-top {
  	display: none;
  }
  .cart-products-toolbar.toolbar .pages a.page:hover {
  	background: #faa74a;
  	border: 1px solid #faa74a;
  	color: #fff;
  	text-decoration: none;
  }
  .cart-products-toolbar.toolbar .pages strong.page {
  	background: #faa74a;
  	border: 1px solid #faa74a;
  }
  /* Cart Page Toolbar */
  @media (max-width:767px) {
  	
  	.cart-widget-container {
  		height: 70px;
  	}

  	.widget-icon {
  		height: 20px;
  	}

  	.confirm-widget {
  		max-width: 20%;
  	}

  	.widget-icon::before {
  		height: 1px;
  		top: 12px;
  	}

  	.widget-icon::after {
  		border: 1px solid #ddd;
  		width: 12px;
  		height: 12px;
  		top: 6px;
  	}

  	.cart-widget-container ul li p {
  		font-size: 10px;
  		line-height: 12px;
  		font-family: DINPro-Medium;
  		max-width: 80%;
  	}

  	.cart-widget-container ul li a.cart-widget-active .widget-icon::before {
  		background: #ddd; 
  	}

  	.cart-widget-container ul li a.cart-widget-active .widget-icon::after {
  		width: 20px;
  		height: 20px;
  		top: 0;
  	}

  	.cart-widget-container ul li a.cart-widget-completed .widget-icon::after {
  		width: 20px;
  		height: 20px;
  		top: 0;
  	}

  	[class^="uploadprescription-index-"] .cart-widget-container ul li.checkout-widget a.cart-widget-completed .widget-icon::after,
  	[class^="uploadprescription-index-"] .cart-widget-container ul li.confirm-widget a.cart-widget-completed .widget-icon::after {
  		border: 1px solid #ddd;
  		display: block;
  		background: #fff;
  		width: 12px;
  		height: 12px;
  		top: 6px;
  	}

  	.checkout-cart-index .cart-widget-container ul li.checkout-widget  a.cart-widget-completed .widget-icon::after {
  		border: 1px solid #ddd;
  		display: block;
  		background: #fff;
  		width: 12px;
  		height: 12px;
  		top: 6px;
  	}

 /* .checkout-index-index .cart-widget-container ul li.pri-widget a.cart-widget-completed .widget-icon::after {
    border: 1px solid #1d2d4d;
    display: block;
    background: #fff;
    width: 12px;
    height: 12px;
    top: 6px;
    } */
    .checkout-cart-index  .cart-widget-container ul li.confirm-widget  a.cart-widget-completed .widget-icon::after {
    	border: 1px solid #ddd;
    	display: block;
    	background: #fff;
    	width: 12px;
    	height: 12px;
    	top: 6px;
    }

    .checkout-index-index .cart-widget-container ul li.confirm-widget  a.cart-widget-completed .widget-icon::after {
    	border: 1px solid #ddd;
    	display: block;
    	background: #fff;
    	width: 12px;
    	height: 12px;
    	top: 6px;
    }

    .checkout-cart-index .cart-widget-container ul li.pri-widget a.cart-widget-completed .widget-icon::after {
    	border: 1px solid #ddd;
    	display: block;
    	background: #fff;
    	width: 12px;
    	height: 12px;
    	top: 6px;
    }

    .checkout-cart-index .cart-widget-container ul li.pri-widget {
    	padding-right: 15px !important;
    }
    .cart-summary .checkout-methods-items { 
    	background: transparent;
    }
    .checkout-cart-index tr.grand.totals {
    	z-index: 11;
    	width: 100%; 
    }
}

/* @media screen and (-webkit-min-device-pixel-ratio:1.1) {
  _:-webkit-full-screen, .checkout-cart-index tr.grand.totals {
    background: transparent;
    position: relative;
  }

  _:-webkit-full-screen, .checkout-cart-index .cart-totals .grand .mark strong {
    display: block;
  }

  _:-webkit-full-screen, .cart-totals tbody tr.grand.totals .mark::before {
    display: none;
  }

  _:-webkit-full-screen, .cart-totals tbody tr.grand.totals span.price {
    color: #1d2d3d;
  }

  _:-webkit-full-screen, .cart-summary .checkout-methods-items .action.primary.checkout { 
    float: none;
  }
}
*/

@supports (-webkit-overflow-scrolling: touch) {
	/* CSS specific to iOS devices */ 
	.checkout-cart-index tr.grand.totals {
		background: transparent;
		position: relative;
	}

	.checkout-cart-index .cart-totals .grand .mark strong {
		display: block;
	}

	.cart-totals tbody tr.grand.totals .mark::before {
		display: none;
	}

	.cart-totals tbody tr.grand.totals span.price {
		color: #1d2d3d;
	}

	.cart-summary .checkout-methods-items .action.primary.checkout {  
		float: none;
		height: 36px;
	}
	.cart-summary .checkout-methods-items { 
		background: #faa74a; 
		height:36px; 
	}
	.cart.table-wrapper .col.subtotal {
		top: -8px;  
	}
	.cart.table-wrapper .cart tbody td.item-actions {
		margin-top:-25px; 
	}
}

.item-discount,  .item-price{padding-top: 10px;padding-bottom: 10px;}
.item-discount h5 {
	color: #a2cf62;
	font-size: 16px;
	font-family: DINPro-Regular;
	width:145px;
}
.item-price h5 {
	color: #a2cf62;
	font-size: 16px;
	font-family: DINPro-Regular;
}
#qty-error  {
	color: red;
	margin-top: 0px;
	margin: 10px 45px 10px;
	float: right;
}

.item-discount h5 {
	color: #a2cf62;
	font-size: 16px;
	font-family: DINPro-Regular;
	width: auto;
	float: right;
	margin-right: 46px;
}
h5 span {
	float: right;
	margin-left: 15px;
}
.cart.table-wrapper .col.item-discount {
	padding: 0;
}
.cart.table-wrapper .col {
	padding: 0;
}
@media (max-width:767px) {
	.item-discount h5 {
		margin-right: 15px;
	}
	#qty-error {
		margin-right: 15px;
	} 
	
}










