/* Footer */

.page-footer {
  position: relative;
  z-index: 1;
}



/* BackToTop button css */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #faa74a;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;
  z-index: 900;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background-color: #faa74a;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

@media only screen and (max-width: 767px) {

  #scroll {
    display: none !important;
  }
}
/* BackToTop button css */  

/****** * Icon Default ******/

.icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  background: url(../images/spritesheet.svg) no-repeat 0 0;
}


/****** * Icon sizes ******/

.icon12,
.phone-header-icon,
.arrow-down-icon {
  width: 12px;
  height: 12px;
}

.icon16,
.arrow,
.search-icon {
  width: 16px;
  height: 16px;
}

.icon20,
.menu-tray,
.cart-icon,
.add-orng-icon,
.location-icon,
.go-arrow {
  width: 22px;
  height: 24px;
}

.icon24,
.phone-footer-icon,
.mail-icon {
  width: 24px;
  height: 24px;
}

.icon32,
.tablet-icon,
.arrow-back,
.suc-tick-icon {
  width: 32px;
  height: 32px;
}

.icon36,
.maestro-icon,
.master-card-icon,
.visa-icon,
.fb-icon,
.gplus-icon,
.yt-icon,
.tw-icon,
.insta-icon,
.pintrest-icon {
  width: 36px;
  height: 36px;
}

.icon40 {
  width: 40px;
  height: 40px;
}

.icon42,
.doctor-icon,
.test-icon,
.consultation-icon,
.medicine-icon,
.wellness-icon,
.healthcare-icon,
.corporate-icon,
.symptoms-icon,
.ask-question-icon,
.knowledge-base-icon,
.home-delivery-icon,
.quality-icon,
.return-icon,
.delivery24-icon,
.save-money-icon,
.track-icon {
  width: 42px;
  height: 42px;
}

.icon48 {
  width: 48px;
  height: 48px;
}

.icon80,
.doctor-practice-icon,
.labs-practice-icon,
.clinics-practice-icon,
.hospitals-practice-icon,
.other-practice-icon {
  width: 80px;
  height: 80px;
}

.icon100,
.upload-prescription-icon,
.customer-support-icon,
.doorstep-delivery-icon {
  width: 100px;
  height: 100px;
}

.icon120,
.ahmedabad,
.kolkata,
.chennai,
.delhi,
.hyderabad,
.mumbai {
  width: 130px;
  height: 130px;
}

.icon140,
.body-ache-icon,
.fracture-icon,
.hair-fall-icon,
.joint-pain-icon,
.eardrum-swelling-icon,
.body-groins-icon {
  width: 140px;
  height: 140px;
}

.icon200 {
  width: 200px;
  height: 200px;
}


/****** * Header & Footer Icons ******/

.phone-header-icon {
  background-position: 0px -25px;
}

.phone-footer-icon {
  background: url(../images/spritesheet.svg) no-repeat -48px -94px;
}

.mail-icon {
  background: url(../images/spritesheet.svg) no-repeat -70px -94px;
}

.menu-tray {
  background-position: 0px -68px;
}

.menu-icon.dropdown-toggle:hover .menu-tray {
  background-position: 0px -92px;
}

.cart-icon {
  background-position: -81px -768px;
}

.maestro-icon {
  background: url(../images/spritesheet-new.svg) no-repeat -107px -357px;
}

.arrow {
  background-position: -48px -798px;
}

.master-card-icon {
  background: url(../images/spritesheet-new.svg) no-repeat -143px -357px;
}

.visa-icon {
  background: url(../images/spritesheet-new.svg) no-repeat -179px -357px;
}

.fb-icon {
  background: url(../images/spritesheet-new.svg) no-repeat -216px -357px;
}

.gplus-icon {
  background: url(../images/spritesheet-new.svg) no-repeat -252px -357px;
}

.yt-icon {
  background: url(../images/spritesheet-new.svg) no-repeat -252px -357px;
}

.tw-icon {
  background: url(../images/spritesheet-new.svg) no-repeat -288px -357px;
}

.insta-icon {
  background: url(../images/spritesheet-new.svg) no-repeat -360px -357px;
}

.pintrest-icon {
  background: url(../images/spritesheet-new.svg) no-repeat -324px -357px;
}

.secure-payment {
  width: 96px;
  height: 44px;
  background: url(../images/spritesheet-new.svg) no-repeat -1345px -21px;
}

.google-store {
  width: 96px;
  height: 36px;
  background: url(../images/spritesheet-new.svg) no-repeat -671px -27px;
}

.app-store {
  width: 96px;
  height: 36px;
  background: url(../images/spritesheet-new.svg) no-repeat -575px -27px;
}


/****** * Services Icon ******/

.doctor-icon {
  background-position: 0px -125px;
}

.doctor-icon:hover {
  background-position: 0px -165px;
}

.test-icon {
  background-position: -40px -125px;
}

.test-icon:hover {
  background-position: -40px -165px;
}

.consultation-icon {
  background-position: -80px -125px;
}

.consultation-icon:hover {
  background-position: -80px -165px;
}

.medicine-icon {
  background-position: -120px -125px;
}

.medicine-icon:hover {
  background-position: -120px -165px;
}

.wellness-icon {
  background-position: -160px -125px;
}

.wellness-icon:hover {
  background-position: -160px -165px;
}

.healthcare-icon {
  background-position: -200px -125px;
}

.healthcare-icon:hover {
  background-position: -200px -165px;
}

.corporate-icon {
  background-position: -240px -125px;
}

.corporate-icon:hover {
  background-position: -240px -165px;
}

.symptoms-icon {
  background-position: -280px -125px;
}

.symptoms-icon:hover {
  background-position: -280px -165px;
}

.ask-question-icon {
  background-position: -240px -125px;
}

.ask-question-icon:hover {
  background-position: -240px -165px;
}

.knowledge-base-icon {
  background-position: -280px -125px;
}

.knowledge-base-icon:hover {
  background-position: -280px -165px;
}

body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* Header */

header {
  /*background: #0f0d4e;
     */
  border-bottom: 4px solid #8e5ba6;
  font-size: 14px;
}

.navbar-nav ul li {
  margin-top: 0px;
  margin-bottom: 0px;
}

header .header-top a {
  color: #fff;
  font-family: 'DINPro-Medium';
  padding-left:32px;
}
.header-top .mr-4{margin-right:0px !important;}
header .header-top a:hover,
header .header-top a:focus {
  opacity: 1;
  color: #fff;
  outline: 0;
  border-color: transparent;
  -webkit-box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
  -moz-box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
  box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
}
.header-top .primary-options{padding-right: 32px;}
header .navbar .navbar-brand {
  opacity: 1;
}

header .navbar .navbar-brand img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  header .navbar .navbar-brand {
    margin: 0 5px 0 0;
  }

  header .header-main .form-control {
    top: -4px;
    position: relative;
  }

  header .navbar .navbar-brand img {
    width:100%;
  }
}

header .header-main .form-control {
  background: transparent;
  border: 4px;
  font-size: 14px;
}

header .header-main .form-control::placeholder {
  color: #999;
  font-size: 14px;
}

header .header-main .location-container,
header .header-main .custom-select,
header .header-main .services-dropdown {
  position: relative;
}

header .header-main .location-container:before,
header .header-main .custom-select:before,
header .header-main .services-dropdown:before {
  content: '';
  position: absolute;
  right: 0;
  top: 5px;
  bottom: 5px;
  border-right: 1px solid #e5e5e5;
}

header .header-main .location .location-container {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    flex-direction: row !important;
    margin: 16px 0 0;
  }

  .user-profile {
    height:auto;
  }
}

@media only screen and (max-width: 359px) {
  /*.user-profile {
    margin: 30px 0 0;
    height: 37px;
  }*/
}


/* App Tray */

.menu .menu-icon {
  opacity: 1;
  margin: 0 10px;
}

@media only screen and (max-width: 768px) {
  /*.menu .menu-icon {
    margin: 0px;
    position: relative;
    top:12px;
  }*/

  /*.navbar-nav {
    width: 140px;
    display: inline-block !important;
  }*/
}

@media only screen and (min-width: 768px) {
  .menu {
    position: relative;
  }
}

.menu .mega-menu {
  padding: 20px;
  background: #ffffff;
  border-top: 4px solid #8E5BA6 !important;
  position: absolute;
  width: 450px;
  min-height: 350px;
  -webkit-box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.15);
  z-index: 99;
  top: 40px;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .menu .mega-menu {
    left: -141px;
    right: 0px;
    width:380px;
    top: 54px;
    height: 1000vh;
    overflow: auto;
    padding: 5px;
    position: absolute;
}

  .menu .mega-menu h5.text-uppercase {
    margin-left: 10px;
    margin-top: 20px;
  }
}

.services .service-list {
  padding: 10px;
}

.services .service-list a {
  opacity: 1;
}

.services .service-list:hover {
  background: #e5e5e5 !important;
}

.menu .mega-menu .menu-area .menu-heading {
  font-size: 2.4rem !important;
  color: #fff;
  font-family: 'DINPro-Medium';
}

.menu .mega-menu .menu-area .menu-list {
  margin: 50px 0;
}

.menu .mega-menu .menu-area .menu-list li a {
  color: #fff;
  padding: 5px 0;
  font-size: 14px;
}

.menu .mega-menu .menu-area .menu-list li a:hover,
.menu .mega-menu .menu-area .menu-list li a:focus,
.menu .mega-menu .menu-area .menu-list li a:active {
  color: #fff;
}

.menu .menu-head a {
  opacity: 1;
}

.menu .dropdown-toggle:after {
  display: none;
}

.search-container {
  flex: 1 0 auto;
}

@media only screen and (max-width: 767px) {
  .search-container {
    flex: auto;
  }

  .meta .action.primary {
    height: 20px;
    line-height: 20px;
    padding: 0 15px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .form-inline {
    margin: 20px 0 0;
    width: 100%;
  }
}

.main-search {
  height:auto;
  width:90%;
  padding: 0;
  background: #fff;
  border-radius: 2px;
}

.main-search .form-control,
.location-popup .form-control {
  background: transparent;
  font-size: 14px;
  border: none;
  padding: 10px;
  height: 36px;
}

@media (min-width:768px) and (max-width: 991px) {
  .main-search {
    width:95%;
    margin:0px auto !important;
  }

  /* .doorstep-deliver {
    margin-top: 45px;
  } */  
}

@media only screen and (max-width: 767px) {
.main-search {
       width: 95%;
    margin: 0px 10px !important;
   
}
  
}

.header-top {
  padding: 10px 0px 0;
}

@media only screen and (max-width: 767px) {
  .header-top {
    padding:8px 8px;
  }
}

.primary-links li {
  padding: 0 10px;
  margin-bottom: 0;
}

.primary-links li a {
  font-size: 14px;
}

.primary-links li:last-child {
  padding-right: 0;
}

.primary-links .icon {
  width: 16px;
  height: 16px;
  margin: -3px 6px 0 -1px;
}

.location-container,
.custom-select,
.services-dropdown {
  position: relative;
}

.location-container:before,
.custom-select:before,
.services-dropdown:before {
  content: '';
  position: absolute;
  right: 0;
  top: 5px;
  bottom: 5px;
  border-right: 1px solid #e5e5e5;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-menu .dropdown-item {
  padding: 10px;
  font-size: 14px;
  color: #8e5ba6;
  font-family: 'DINPro-Regular' !important;
}

.services-dropdown:focus,
.services-dropdown:active {
  outline: none;
  outline: 0;
  -webkit-box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
  -moz-box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
  box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
}

.services-dropdown .btn.btn-secondary {
  width: 150px;
  height: 36px;
  background: transparent !important;
  border-color: transparent !important;
  font-size: 14px !important;
  font-family: 'DINPro-Regular' !important;
  color: #999;
  text-transform: capitalize !important;
  font-weight: normal;
  text-align: left;
}

.services-dropdown .btn.btn-secondary:focus,
.services-dropdown .btn.btn-secondary:active {
  box-shadow: none !important;
  outline: none;
  outline: 0;
  -webkit-box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
  -moz-box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
  box-shadow: 0 0 0px 0px rgba(228, 121, 17, .0);
}

.dropdown-toggle {
  position: relative;
}

.dropdown-toggle::after {
  right: 0;
  content: "";
  margin: 0;
  background: url(../images/spritesheet.svg) no-repeat -243px -42px;
  height: 16px;
  width: 16px;
  top: 0;
  left:10px;
  position: relative;
  display: inline-block;
  border: 0;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #faa74a;
}


/* Location */

.greet-text a {
  display: block;
  color: #fff;
  opacity: 1;
}

.greet-text a:hover,
.greet-text a:focus,
.greet-text a:active {
  opacity: 1;
  color: #fff;
}

.user-loggedin {
  position: relative;
  display: block;
  right:17%;
  width: 100%; 
  float: right;

}

.user-loggedin a {
  display: block;
  color: #fff;
  font-size: 14px;
}

.user-loggedin a:hover {
  opacity: 1;
}

.user-loggedin a span {
  display: block;width:200px;
}

.user-loggedin .user-image {
  margin: 0 0 0 20px;
}

.user-loggedin .dropdown-toggle {
  padding: 2px 5px 0 0;
}

.user-loggedin .white-text {
  margin-right: 10px !important;
  line-height: 18px; 
    width: 120px;
    overflow: hidden;
    height: 36px;
}

.user-loggedin .dropdown-toggle:after {
  right: 0;
}
.header-top .primary-links li:hover a{color:#fff;opacity: 1.7;}

.user-loggedin .user-dropdown .profile-list li{width:198px;}
.user-loggedin .user-dropdown .profile-list li {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0;
}

.user-loggedin .user-dropdown .profile-list li a {
  color: #8e5ba6;
  text-align: left;
  font-size: 14px;
  padding: 5px 0;
}

.user-loggedin .user-dropdown .profile-list li:last-child {
  border: none;
}


/* Services */

.services {
  padding: 30px 0 0;
}

.services .service-list {
  width: 130px; 
  height: 130px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .services .service-list {
    margin: 0 0 0px;
    justify-content: left;
    width:92px;
    height: 128px;
  }
 .services {
    padding: 0px 0 0;
}
.services .service-list .service-name{font-size:12px !important;}
.mail-text{padding-left:0px;}
.extra-num{padding-left:0px;}
}
@media only screen and (max-width: 399px) {
  .services .service-list {
    margin: 0 0 0px;
    justify-content: left;
    width:92px;
    height: 120px;
  }
 
} 
@media only screen and (max-width: 369px) {
 
  .services {
    padding: 10px 0 0;
  }

  .services .service-list {
    width: 116px;
    height: 116px;
  }

  .services .service-list .service-name {
    font-size: 12px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 359px) {
 
  .services .service-list {
    width: 100px;
    height: 100px;
  }

}

.services .service-list .service-name {
  font-size: 1.2rem;
  color: #1d2d3d;
  font-family: 'DINPro-Medium';
}

.services .service-list .service-name span {
  margin: 0 0 10px;
}

.service-list:hover .doctor-icon {
  background-position: -0px -165px;
}

.service-list:hover .test-icon {
  background-position: -40px -165px;
}

.service-list:hover .consultation-icon {
  background-position: -80px -165px;
}

.service-list:hover .medicine-icon {
  background-position: -120px -165px;
}

.service-list:hover .wellness-icon {
  background-position: -160px -165px;
}

.service-list:hover .healthcare-icon {
  background-position: -200px -165px;
}

.service-list:hover .ask-question-icon {
  background-position: -240px -165px;
}

.service-list:hover .knowledge-base-icon {
  background-position: -280px -165px;
}


/****** * Modal ******/


.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1 !important;
  background-color: transparent !important;
}

.navbar ul.navbar-nav {
  flex-direction: row;
}

.navbar .navbar-nav li {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}

header .header-main .form-control {
  font-family: DINPro-Regular;
}

.header-main input::placeholder {
  font-size: 14px !important;
}

.header-main input::-ms-input-placeholder {
  font-size: 14px !important;
}

.header-main input::-ms-input-placeholder {
  font-size: 14px !important;
}

.header-popup-location .modal-header .close:hover {
  padding: 15px;
  margin: -6px -10px -12px auto;
  background-color: #faa74a;
  color: #fff;
  height: 38px !important;
  opacity: unset;
}

.cms-index-index .ves-widget.brand-widget {
  display: none;
}

.modal-custom .action-close:hover:before,
.modal-popup .action-close:hover:before,
.modal-slide .action-close:hover:before {
  color: #faa74a;
}



/* User profile */







.nav-sections .category-medicine p {
  clear: both;
  padding-top: 5px;
}

.menu-right-block h4 {
  margin-left: 10px;
  margin-bottom: 10px;
}

.user-profile .greet-text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  display: block !important;
}



.fa-search::before {
  content: "\f002";
  color: #6d6e70;
}



.pro-name-use {
  position: relative;
}

.check-avability .fieldset>.legend {
  margin: 0px;
}

.check-avability .control {
  position: relative;
  bottom: 15px;
}

.check-avability .field label::after {
  content: '' !important;
  display: none;
}



@media (min-width:1445px) {
  .header-main {
    margin-bottom: -1px;
  }
}

@media (min-width:992px) {
  .header-main {
    margin-bottom: -1px;
  }

  /*.user-profile {
    position: absolute;
    right: 15px;
    top: 15px;
  }*/

  nav.navbar.navbar-expand-lg {
    padding:0px 32px 15px;
  }

  li.nav-item.active.menu {
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    top: 0px;
  }
}

@media (max-width:1024px) and (min-width:992px) {
  .do-pre-scriptions,
  .pre-scriptions {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width:991px) and (min-width:768px) {
  .menu-right-block.col-md-4 {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width:369px) {
  .navbar-nav {
    margin: 14px 0 0;
    width: 123px;
  }

  /*.user-profile {
    margin: 36px 0 6px;
    width: 58%;
  }*/

  .user-profile .greet-text {
    font-size: 14px;
  }

  .navbar .navbar-nav li {
    margin-right: 5px;
  }
}


/* Search */


/* Footer */


/* Footer */

footer.page-footer {
  background:#1d2d3d;
  padding: 50px 0 0;
}

.footer-top {
  border-bottom: 0px solid #e5e5e5;
  margin: 0 0 0px;
}

.footer-main {
  /*padding: 0 0 30px;
     */
  ;
}

.footer-heading {
  color:#1d2d3d;
  opacity: 0.7;
  font-size:18px;
  pointer-events: none;
  font-family: DINpro;
}
.font-regular{color:#fff;
  opacity: 0.7;
  font-size:18px;
  pointer-events: none;
  font-family: DINpro;}

ul.footer-list {
  padding: 20px 0 40px;
}

.footer li {
  margin: 0;
  line-height: 2;
}
.all-rights{padding-left:0px;}
.footer-list li a, .footer-list li span.extra-links {
  color:#fff;
  font-size: 14px;
  padding: 5px 10px 5px 0;
  font-family: "DINPro";
}

.footer-list li a:hover {
  opacity: 1;
}

.footer-list li a.extra-links {
  display: inline-block;
}

.image {
  width: 100px;
}

.copyright {
  padding: 10px 0 30px;
  border-top: 1px solid #e5e5e5;
  max-width: 1260px;
  margin: auto;
}

.copyright .copyright-details,
.copyright .extra-links {
  color: #fff;
  font-size: 12px;
  margin: 0;
}



.icon,
.icon12,
.phone-header-icon,
.arrow-down-icon,
.icon16,
.arrow,
.maestro-icon,
.icon20,
.phone-footer-icon,
.mail-icon,
.menu-tray,
.cart-icon,
.add-orng-icon,
.icon32,
.fb-icon,
.gplus-icon,
.yt-icon,
.tw-icon,
.bing-icon,
.pintrest-icon,
.tablet-icon,
.arrow-back,
.suc-tick-icon,
.icon40,
.master-card-icon,
.visa-icon,
.icon42,
.doctor-icon,
.test-icon,
.consultation-icon,
.medicine-icon,
.wellness-icon,
.healthcare-icon,
.corporate-icon,
.symptoms-icon,
.ask-question-icon,
.knowledge-base-icon,
.home-delivery-icon,
.quality-icon,
.return-icon,
.delivery24-icon,
.save-money-icon,
.track-icon,
.icon48,
.icon80,
.doctor-practice-icon,
.labs-practice-icon,
.clinics-practice-icon,
.hospitals-practice-icon,
.other-practice-icon,
.icon100,
.upload-prescription-icon,
.customer-support-icon,
.doorstep-delivery-icon,
.icon120,
.icon140,
.body-ache-icon,
.fracture-icon,
.hair-fall-icon,
.joint-pain-icon,
.eardrum-swelling-icon,
.body-groins-icon,
.icon200 {
  margin: 0 5px 0 0;
}

.card.footer-accordion {
  background: transparent;
  width: auto;
  margin: 0;
  height: auto;
  border: none;
}

.card.footer-accordion:hover {
  box-shadow: none;
}

.card.footer-accordion .card-header,
.card.footer-accordion .card-body {
  background: transparent;
  border: none;
  padding: 0;
  position: relative;
  box-shadow: 0 0 0 0;
}

.footer-accordion .card-header:after {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 14px;
  height: 14px;
  background: url(../images/spritesheet.svg) no-repeat 6px 0px;
}

.icon36,
.maestro-icon,
.master-card-icon,
.visa-icon,
.fb-icon,
.gplus-icon,
.yt-icon,
.tw-icon,
.insta-icon,
.pintrest-icon,
.instgram-icon,
.bing-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  background: url(../images/spritesheet.svg) no-repeat -143px -357px;
}
.instgram-icon{background: url(../images/instgram.png) no-repeat;background-position:0px 0px;width:32px;height:32px;}
.maestro-icon {
  background-position: -600px -165px;
  width: 40px;
}

.maestro-icon:hover {
  background-position: -600px -165px;
  width: 40px;
}

.master-card-icon {
  background-position: -640px -165px;
  width: 40px;
}

.master-card-icon:hover {
  background-position: -640px -165px;
}

.visa-icon {
  /* background-position: -680px -125px; */
  background-position: -680px -165px;
  width: 40px;
}

.visa-icon:hover {
  background-position: -680px -165px;
}

.fb-icon {
  background-position: -720px -167px;
}

.fb-icon:hover {
  background-position: -720px -167px;
}

.gplus-icon {
  background-position: -760px -167px;
}

.gplus-icon:hover {
  background-position: -760px -167px;
}

.yt-icon {
  background-position: -760px -167px;
}

.yt-icon:hover {
  background-position: -760px -167px;
}

.tw-icon {
  background-position: -800px -167px;
}

.tw-icon:hover {
  background-position: -800px -167px;
}

.pintrest-icon {
  background-position: -840px -167px;
}

.pintrest-icon:hover {
  background-position: -840px -167px;
}

.bing-icon {
  background-position: -880px -167px;
}

.bing-icon:hover {
  background-position: -880px -167px;
}


footer.page-footer .collapse {
  display: block;
}

.contact-no-mobile {
  display: none;
}

.footer-container .accordion {
    margin-bottom: 0 !important;
}
.footer-container .copyright {
    padding: 15px 0;
	border-top:2px solid #1d2d3d;
	width:90%;margin:0 auto;max-width:90%;
}
@media only screen and (max-width: 767px) {
 
  .footer-accordion {
    margin: 0 0 20px !important;
  }

  .footer-accordion .card-header h3::after {
    float: right;
    content: "";
    background: url(../images/spritesheet.svg) no-repeat -241px -41px;
    height: 16px;
    width: 16px;
    display: inline-block;
  }

  .footer-heading {
    font-size: 18px;
    pointer-events: all;
    cursor: pointer;
    font-family: DINPRo-Regular;
  }

  footer.page-footer .collapse {
    display: none;
  }

  .contact-no-mobile {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    z-index: 1;
  }

  .contact-no-mobile::before {
    content: "";
    background: url(../images/spritesheet.svg) no-repeat -0px -40px;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 3px;
  }

  .contact-no-mobile a {
    color: #fff;
    font-size: 12px;
  }
}