

/* Filters scroll */
@media (min-width:768px) {
    .filter-options-item {
        position: relative;
        padding-bottom: 30px;
    }
    .filter-options-item.active .filter-options-content,
    .filter-options-item .filter-options-content {
        max-height: 300px;
        overflow: auto;
        padding: 15px;
    }

    ol.sy-multiple-layered-navigation-items li a {
        position: relative;
    }
    .filter-options-content .count {
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
    }
    /* ol.sy-multiple-layered-navigation-items li a .label-title { */ 
        /* white-space: nowrap; */
        /* overflow: hidden;
        text-overflow: ellipsis;
        width: 130px;
        display: inline-block;
        vertical-align: top;
    } */
    .sy-multiple-layered-navigation-items .expand {
        position: absolute;
        bottom: 0;
    }
} 


@media only screen and (max-width: 767px) {
	.footer-main .topcontainer{padding-left:16px;padding-right:16px;padding-top:30px;}
	.footer-main  .copyright .container{padding-top:16px;}
	footer.page-footer{padding: 0px 0px 0px;}
	.zoylo-icon-caption{font-weight:bold;}
	.pre-donot{padding: 8px 8px 8px 8px !important;}
	.home-upload-block .col-sm-12 .col-sm-6 .order-medicine-txt h3 {
    color: #1d2d3d;
    font-size: 16px;
}
	.future_date div h4{font-size:12px !important;}	
    .checkout-payment-method .payment-method-title {
        padding: 0 !important;
    }

    /* Cart Page changes */
    
    .cart.table-wrapper .col.subtotal {
        margin-top: 30px;
    }

    #scroll {
        display: none !important;
    }
    .qq-upload-button {
        min-width: 100px; 
        width: auto;
    }
    
    /* Arrows */
    .owl-theme .owl-controls .owl-nav .owl-next,
    .owl-theme .owl-controls .owl-nav .owl-prev {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
    }

    /* Minicart */ 
} 
@media screen and (max-width: 767px) { 
  .home-blocks .owl-item.cloned{
    display: none !important;
  }
  .home-blocks .owl-stage{
    transform:none !important;
    transition: none !important;
    width: 100% !important;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .home-blocks .owl-item{
    float: none !important;
    display: inline-block;
    white-space: normal;
  }
  .home-blocks .owl-controls { 
    display: none !important;
  }

 .accordion-slider .owl-item.cloned{
    display: none !important;
  }
 .accordion-slider .owl-stage{
    transform:none !important;
    transition: none !important;
    width: 100% !important;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .accordion-slider .owl-item{
    float: none !important;
    display: inline-block;
    white-space: normal;
  }
  .accordion-slider .owl-controls {   
    display: none !important;
  }
}


/* ************************ */
.owl-theme .owl-controls em {
    margin-top: 0px;
}
 .block .owl-theme .owl-controls em {
    margin-top: 0px;
}
.product-info-main .owl-theme .owl-controls em {
    margin-top: 0px;
}
.porto-icon-right-open-huge::before, .porto-icon-left-open-huge::before {
height: 12px;
}  
/* nav */ 
@media (max-width: 767px) {
  .navigation ul li:nth-child(3):hover #submenu-menu {
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    column-count: 1;
    column-gap: 0px;
   }
  
}
@media (max-width: 359px) {
    .item.responsive-img {
          height: 320px;
     }
   .zoylo-icon-caption {
          width: 70%;
     }
}
.home-bottom-slider .parallax-slider {
    min-height: 300px;
}
.wzrk-button-container button {
    padding: 0px 10px;
}
.wzrk-alert-heading {
    color: #1d2d3d;
    font-weight: 600;
}
.product.details.product-item-details>span {
      color:#1d2d3d;
}
.product-item-details > span {
    position: relative;
    color: #1d2d3d;
}
.faq p { font-size:12px; }
.faq b { font-size:14px; }
@media (max-width:767px) {
	.deals-block {
	    margin-top: 10px;
            margin-bottom:0;
	  }
	.hm-price { 
		padding:0; 
	 }
	.hm-price .old-price .price-container .price {
	    font-size: 12px;
	}
	.hm-price .price-container .price {
	    font-size: 14px;
	}
	.cms-porto-home-5-old .countdowntimer {
	    top: -22px;
	}
        .future_date {
              font-size: 10px;
	}
       .cms-porto-home-5-old .deal1 .countdowntimer {
           margin-top: 0px;
      }
      .deal2, .deal3, .deal4 {
    	margin-bottom: 15px; 
	} 
}
.wzrk-button-container button {     padding: 0px 10px !important; }
.cms-porto-home-5-old .countdowntimer {    background: transparent; }
#deals-day .future_date button { color:#1d2d3d; background: transparent;}
.hm-price { background: transparent; } 
.future_date { color:#faa74a}
@media (min-width:992px) {
.product.media {     position: relative; }
.catalog-product-view .sidebar.sidebar-additional {
    transition: all ease .3s;   
     -webkit-transition: all ease .3s;   
  }
}
.accordion-content h3 { height: 160px;}
.accordion-content .special-text {height: 96px;}

.catalog-product-view .slider.marquee-slider ul {
  background: #E2E0FF;
}
.catalog-product-view #money_start li {
    color: #484848; 
  }
/* *************************** */
.pdp-timer {
	border:1px solid #f5f5f5; 
	padding: 5px 10px;
	margin: 4px 0 0 0;
	min-height: 38px;
	background: rgba(240,240,240,1);
	background: -moz-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 37%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,1)), color-stop(37%, rgba(240,240,240,1)), color-stop(70%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 37%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 37%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 37%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(240,240,240,1) 0%, rgba(240,240,240,1) 37%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#ffffff', GradientType=1 );

}
.pdp-timer .title {
    width: auto;
    float: left;
    font-size: 16px;
    color: #1d2d3d; 
    padding:2px 5px 0 0; 
    text-transform: capitalize;
} 
 #clockdiv{ 
    font-family: DINPro-Medium; 
    color: #1d2d3d;  
    display: inline-block; 
    font-weight: 100; 
    text-align:left;  
    font-size: 30px;
} 

#clockdiv > div {
    padding: 0;
    display: inline-block;
    width: auto;
    padding: 0 10px  0 0;   
    min-width:auto; 
    float: left;
} 
#clockdiv div > span.hours{  
    padding:0;  
    display: inline-block; 
	font-size:18px;  
	color:#faa74a; 
	float: left;
} 
.smalltext{ 
    top: 5px;  
    font-size: 14px;
    position: relative;
    left: 2px;
    color: #1d2d3d;

} 



.pdp-timer .countdowntimer {
    display: none;
} 
/*
.category-description {
    padding: 15px 15px;
    border: 1px solid #eaeaea;
    margin: 0 15px;

}
.slider.marquee-slider li span { 
    margin-right: 80px; 
    float: left; 
    line-height: 24px;
   }   

#money_start li {
  padding:6px 0 4px;  
}
.slider.marquee-slider .list-warnings-icon {
    width: 34px; 
    height: 26px;  
    margin:0 5px 0 0; 
    float:left;
    background: url(../images/marquee-spritesheet.png) no-repeat 0 0;
    
}
.slider.marquee-slider .genuine-icon {
    background-position: -0px -0px;
}
.slider.marquee-slider .quality-icon {
    background-position: -41px -0px;
}
.slider.marquee-slider .secure-icon {
    background-position: -85px -0px;
}
.slider.marquee-slider .assured-icon {
    background-position: -127px -0px;
}
.slider.marquee-slider .discreet-icon {
    background-position: -171px 0px;
}
.slider.marquee-slider .express-icon {
    background-position: -216px -0px;
}
.slider.marquee-slider .multi-payment-icon {
    background-position: -302px -0px;       
}
.slider.marquee-slider .offer-icon {
    background-position: -336px 0px;       
}


.catalog-product-view .slider.marquee-slider .genuine-icon { 
    background-position: -0px -27px;
}
.catalog-product-view .slider.marquee-slider .quality-icon {
    background-position: -41px -27px;
}
.catalog-product-view .slider.marquee-slider .secure-icon {
    background-position: -85px -27px;
}
.catalog-product-view .slider.marquee-slider .assured-icon {
    background-position: -127px -27px;
}
.catalog-product-view .slider.marquee-slider .discreet-icon {
    background-position: -171px -27px;
}
.catalog-product-view .slider.marquee-slider .express-icon {
    background-position: -216px -27px;
}
.catalog-product-view .slider.marquee-slider .multi-payment-icon {
    background-position: -302px -27px;       
}
.catalog-product-view .slider.marquee-slider .offer-icon {
    background-position: -336px -27px;        
}
@media (max-width:767px) {	
    .catalog-product-view   .slider.marquee-slider {
        margin: 30px 0 0px;  
        height: 40px;
        overflow: hidden;
    }
    .catalog-category-view .slider.marquee-slider {
        margin: 70px 0 0px;
        height: 40px;
        overflow: hidden;
    }
	body.filter-active {
	    overflow: hidden;
	    position: fixed;
	}
	.toolbar select {
	    width: 178px;
	}
	.toolbar-products {
	    width: 70%; 
	}
	.checkout-index-index .messages {
	    position: fixed;
	}
	#onestepcheckout-page .modal-popup._inner-scroll .modal-content {
		max-height: 100%;
	} 
	#onestepcheckout-page .modal-popup.modal-slide .modal-footer {
	    margin: 0;
	} 
	#onestepcheckout-page .modal-popup .modal-header {
	    padding-bottom: 1.2rem;
	    padding-top: 15px;
	}
	.category-description {
		margin: 20px 15px 0;
	}
	#zoylo-new-customer-new-address{margin: 10px 10px;} 
}
*/ 