f
/* --------------------------------------- */

/* Fine Uploader Styles  */

/* ---------------------------------------  */

.opc-block-summary .minicart-items-wrapper {
  overflow: scroll;
}

.shipping-address-item p.customer-title {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
}

.shipping-address-item span.address-type {
  width: 64px;
}

.page-layout-1column .column.main {
  position: relative;
}
/* Buttons ------------------------------------------ */

[class^="uploadprescription-index-"] .page-title-wrapper {
  display: none;
}
/* Buttons ------------------------------------------ */

[class^="uploadprescription-index-"] .col-md-4 {
  -webkit-flex: 0 0 33.11%;
  -moz-flex: 0 0 33.11%;
  -ms-flex: 0 0 33.11%;
  flex: 0 0 33.11%;
  max-width: 33.11%;
}

.upload-prescription-content .row.height100 {
  flex-wrap: initial;
  -webkit-flex-wrap: initial;
}

.upload-prescription-content {
  max-width: 900px;
  margin: 100px auto 0;
  position: relative;
  height: auto;
  padding-top: 0;
}

.qq-uploader-selector.qq-uploader {
  padding: 0;
  text-align: center;
  margin-bottom: 25px;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}

.file_upload {
  background: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
  margin-top: 8px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.file_upload h2 {
  font-size: 16px;
  color: #1d2d3d;
  margin: 0;
  padding: 10px 25px;
  border-bottom: 1px solid #ddd;
}

.choose-prescription-file {
  background: #faa74a;
  color: #fff;
  font-size: 14px;
  height: 36px;
  padding: 0 50px;
  line-height: 36px;
  display: inline-block;
}

.dz-message.needsclick input[type=file] {
  border: 0;
  background: #fff;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 36px;
}

.choose-prescription-file:hover {
  color: #fff;
}

.dropzone.dz-clickable.dz-started::after {
  content: "Add +";
  color: #faa74a;
  height: 120px;
  width: 100px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: 120px;
  border: 2px dashed #faa74a;
	/*  float: left;
    margin-right: 25px;
    position: fixed; */
  z-index: 11;
  margin-top: 0px;
  background: #fff;
}

.dropzone.dz-clickable {
  border-bottom: 1px solid #ddd;
}
/* */

.dropzone.dz-clickable {
  cursor: pointer;
  display: block;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: hidden;
  overflow-x: auto;
}

.dropzone {
  border: 0;
  padding: 20px 25px;
  min-height: auto;
}

.dropzone .dz-preview {
  margin: 0 25px 0 0;
  z-index: 1;
}

.dropzone .dz-preview .dz-remove {
  font-size: 12px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 3px 0 4px;
  margin-top: -26px;
  position: relative;
  z-index: 10;
}

.dropzone .dz-preview .dz-remove:hover {
  text-decoration: none;
}

.dropzone .dz-preview .dz-image {
  border-radius: 0;
  overflow: hidden;
  width: 100px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
}

.dropzone .dz-preview .dz-image img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.0, 1.0);
  -moz-transform: scale(1.0, 1.0);
  -ms-transform: scale(1.0, 1.0);
  -o-transform: scale(1.0, 1.0);
  transform: scale(1.0, 1.0);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.dz-filename {
  display: none;
}

.dropzone .dz-preview .dz-error-message {
  font-size: 9px;
  top: 94px;
  color: white;
  left: -15px;
  width: 122px;
  white-space: normal;
  text-align: center;
  line-height: 14px;
}

.dropzone .dz-preview .dz-error-message:after {
  left: 55px;
}
/* */

.recently-uploadeded {
  background: #fff;
  margin-bottom: 15px;
}

.recently-border {
  margin: 0;
  padding: 10px 25px;
  background: #fff;
  font-size: 16px;
  font-family: DINPro-Medium;
  border-bottom: 0px solid #ddd;
  color: #1d2d3d;
}

.prescription-list {
  height: auto;
}

.prescription-list .card-list {
  padding: 20px 25px;
  display: block;
  float: left;
  width: 100%;
  background: #f4f5f7;
  white-space: nowrap;
  height: auto;
}

.prescription-list .card-list .card-list {
  padding: 0;
}

.prescription-list .card {
  width: 100px;
  margin-top: 0;
  padding: 0;
  border: 0px;
  border-radius: 0;
  background: transparent;
  margin-right: 25px;
  display: inline-block;
}

.card-body {
  padding: 0;
}

.prescription-list .card .presc-image {
  margin: 0;
  height: 120px;
  text-align: center;
  width: auto;
}

.prescription-list .card .presc-details {
  border-top: 0px solid #e5e5e5;
  padding: 0;
  text-align: center;
  font-size: 10px;
}

.continue-button {
  clear: both;
  padding: 10px 25px;
}

.continue-button #continue {
  background: #faa74a;
  opacity: 1;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  padding: 0 40px;
}

.continue-button button#continue[disabled] {
  background: #ccc;
}

.continue-button #upload-continues {
  background: #faa74a;
  opacity: 1;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  padding: 0 40px;
}

.continue-button button#upload-continues[disabled] {
  background: #ccc;
}

.delete_prescription {
  float: left;
  position: absolute;
  width: 100%;
  height: 20px;
  float: left;
  left: 0;
  bottom: 16px;
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  color: #fff;
}

.glyphicon.glyphicon-trash::before {
  content: "Remove";
  color: #fff;
  font-size: 12px;
  font-style: normal;
}

.glyphicon.glyphicon-trash::after {
  display: none;
  content: "x";
  color: #000;
  font-size: 12px;
  font-style: normal;
  float: right;
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  line-height: 0.7;
  margin: 5px;
}
/* checkbox button */

.checkbox-container {
  position: absolute;
  z-index: 1;
  top: -14px;
}

.containerbox {
  position: relative;
  padding-left: 0px;
  margin-bottom: 0;
  cursor: pointer;
	/*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 0;
}

.specify-prescription-list .checkbox-container {
  position: static;
}

.card-list-overflow {
  overflow: auto;
  width: 100%;
  float: left;
  display: block;
  white-space: nowrap;
}

.specify-prescription-list .containerbox {
  margin-right: 15px;
  display: inline-block;
}
/* Hide the browser's default checkbox */

.containerbox input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #fff;
	border: 2px solid #faa74a;
	cursor: pointer;
	pointer-events: visible;
}
/* On mouse-over, add a grey background color */

/* .containerbox:hover input ~ .checkmark {
    background-color: #faa74a;
    } */

/* When the checkbox is checked, add a blue background */

.containerbox input:checked ~ .checkmark {
	background-color: #faa74a;
}
/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */

.containerbox input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */

.containerbox .checkmark:after {
	left: 5px;
	top: 1px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* Right Panel */

/* Widget */

.upload-widget-container {
	height: auto;
	background-color: #ffffff;
	padding: 10px 0;
	margin-bottom: 15px;
	width: 100%;
}
.upload-widget-container ul li {
	position: relative;
	margin: 0;
}
.upload-widget-container ul li:last-child .widget-icon::before {
	display: none !important;
}
.upload-widget-container .widget-icon {
	height: 30px;
	display: inline-block;
	margin-bottom: 10px;
}
.upload-widget-container .widget-icon span {
	position: absolute;
	font-size: 14px;
	z-index: 2;
	font-family: DINPro-Medium;
	color: #6d6e70;
	font-style: normal;
	margin: 4px 0 0 8px;
}
.upload-widget-container .widget-icon::before {
	content: "";
	height: 2px;
	width: 100%;
	display: inline-block;
	background: #c3c3c3;
	position: absolute;
	top: 15px;
	z-index: 1;
}
.upload-widget-container .widget-icon::after {
	width: 30px;
	height: 30px;
	border: 2px solid #c3c3c3;
	border-radius: 50%;
	content: "";
	display: inline-block;
	position: relative;
	z-index: 1;
	background: #fff;
	top: 0;
}
.upload-widget-container ul li p {
	font-size: 11px;
	line-height: 12px;
	color: #6d6e70;
	font-family: DINPro-Medium;
	margin: 0;
}
.upload-widget-container ul li.widget-active .widget-icon::before {
	background: #c3c3c3; 
}
.upload-widget-container ul li.widget-completed .widget-icon::before {
	background: #a2cf62;
}
.upload-widget-container ul li.widget-active .widget-icon::after { 
	width: 30px;
	height: 30px;
	border: 2px solid #a2cf62;
	top: 0;
	color: #a2cf62;
	background: #fff;
	background-size: 100%;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}
.upload-widget-container ul li.widget-completed .widget-icon::after {
	width: 30px;
	height: 30px;
	border: 0px solid #a2cf62;
	background: #a2cf62;
	background-size: 100%;
	top: 0;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}
.upload-widget-container ul li.widget-completed .widget-icon span {
	color: #fff;
}
.uploaded-prescriptions .presc-image {
	/*position: relative;*/
}
.uploaded-prescriptions .presc-image img {
	display: block;
	vertical-align: middle;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -57%);
	max-height: 120px;
	cursor: zoom-in;
}
/* Widget */

/* Right Panel */

.guidelines-block {
	background: #f4f5f7;
	padding: 15px 15px 15px 25px;
}
.guidelines-block h6 {
	font-size: 12px;
	color: #1d2d3d;
	background: url(../images/rx-icon.png) no-repeat;
	padding: 3px 5px 8px 28px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 8px;
}
.guidelines-block ul li {
	list-style: disc;
	margin-bottom: 10px;
	line-height: 15px;
}
.require-valid-prescription {
	font-size: 10px;
	color: #6d6e70;
	clear: both;
}
/* Right Panel */

/* Upload Specify */

.main-specify-block {
	max-width: 900px;
	margin: 100px auto 0;
}
.main-specify-block .card-list {
	padding: 20px 25px;
	display: inline-block;
	width: 100%;
}
.choose-options-container {
	background: #fff;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}
.choose-options {
	color: #1d2d3d;
	font-size: 16px;
	font-family: DINPro-Medium;
	border-bottom: 1px solid #eee;
	padding: 10px 25px;
	margin-bottom: 0;
	color: #1d2d3d;
}
/* Accordion Block */

.main-specify-block .card {
	border: 0;
	float: left;
}
.main-specify-block .card-header {
	padding: 0;
	border: 0;
	background: transparent;
}
.main-specify-block .accordion {
	padding: 20px 45px;
	border-bottom: 0px solid #eee;
}
.btn.btn-options {
	border: 0;
	color: #1d2d3d;
	font-size: 14px;
	font-family: DINPro-Medium;
	text-transform: none;
	width: 100%;
	text-align: left;
	padding-left: 0;
}
.btn.btn-options:hover,
.btn.btn-options:focus {
	background: transparent;
}
.btn.btn-options.collapsed {
	color: #6d6e70;
}
.main-specify-block .accordion .card {
	margin-bottom: 5px;
	width: 100%;
}
.main-specify-block .accordion .card-body {
	padding: 0px 30px 0px 40px;
}
.main-specify-block .accordion .card-body .callback {
	color: #8f59a8;
}
.main-specify-block .accordion .card-body ul li label {
	font-size: 12px;
	color: #1d2d3d;
	font-family: DINPro-Medium;
}
/* Accordion Block */

[class^="uploadprescription-index-"] #successMessage {
	position: absolute;
	top: -15px;
}
/****** Stylish Checkbox ******/

.main-specify-block .accordion h3 {
	color: #1d2d3d;
	font-family: DINPRO-Medium;
	font-size: 14px;
	line-height: 24px;
	margin: 20px 0 0;
	clear: both;
}
.specify-prescription-list {
	background: #fff;
	padding: 0;
	margin-top: 8px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	background: #fff;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}
.selected-items {
	font-size: 14px;
	color: #6d6e70;
	padding: 10px 10px 10px 30px;
	margin: 0;
	border-bottom: 1px solid #eee;
}
.add-remove {
	float: right;
}
/****** Stylish Checkbox ******/

.btn.btn-options.collapsed .radio-icon {
	content: '';
	height: 16px;
	width: 16px;
	display: inline-block;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 50%;
	margin-right: 22px;
}
.btn-options .radio-icon {
	content: '';
	height: 16px;
	width: 16px;
	display: inline-block;
	background: #faa74a;
	border: 1px solid #faa74a;
	border-radius: 50%;
	margin-right: 22px;
	position: relative;
	top: 2px;
}
.btn-options .radio-icon::after {
	content: "";
	position: absolute;
	left: 1px;
	top: 1px;
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	border-radius: 50%;
}
/****** Stylish Checkbox ******/

.specify-prescription-list .presc-image {
	max-width: 50px;
	height: 50px;
	background: #eee;
}
.specify-prescription-list .presc-image img {
	max-width: 100%;
	height: 50px;
	border: 1px solid #e3e3e3;
}
.main-specify-block .accordion .table-responsive {
	padding: 15px 30px 5px;
	border: 1px solid #e3e3e3;
}
.main-specify-block .accordion .table-bordered {
	border: 0px solid #e9ecef;
	margin-bottom: 0;
}
/* Specify medicines from the prescription */

.table-bordered thead th,
.table-bordered thead td {
	border: 0;
	padding: 10px 0 10px 0;
}
.table.dynamic_field > tbody > tr > th,
.table.dynamic_field > tbody > tr > td {
	border: 0;
	padding: 0 15px 0 0;
}
.dynamic_field.table-bordered th,
.dynamic_field.table-bordered td {
	border: 0;
	padding: 10px 0 10px;
}
.table-bordered thead th,
.table-bordered thead td {
	border-bottom-width: 0px;
	padding: 0;
	font-size: 12px;
	color: #aaa;
	font-weight: 500;
	font-family: DINPro-Regular;
}
.dynamic_field .btn_row_close.btn_remove {
	border: 0;
	color: #c3c3c3;
	padding: 0 5px;
	line-height: 30px;
}
.medicine-qty {
	width: 25%;
}
.table-bordered .form-control:focus {
	border-color: #1d2d3d;
}
.table.dynamic_field tfoot {
	border-top: 0px solid #eee;
	padding: 0;
}
.table.table-bordered tfoot > tr:first-child th,
.table.table-bordered tfoot > tr:first-child td {
	padding-top: 0px;
}
#dynamic_field input[type="text"] {
	padding: 0;
	font-size: 12px;
	height: 30px;
}
.btn_row_close.btn_remove {
	border: 0;
	color: #c3c3c3;
	height: 30px;
}
.table tfoot > tr:first-child th,
.table tfoot > tr:first-child td {
	border: 0;
}
button.specify-add-more {
	border: 0;
	background: transparent;
	filter: ;
	font-size: 12px;
	text-transform: none;
	font-family: DINPro-Regular;
	padding: 0;
}
button.specify-add-more::before {
	/* background: #faa74a; */
	height: 12px;
	width: 12px;
	content: "+";
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
	color: #faa74a;
	padding: 0;
	margin: 0px 5px 0 0;
	font-size: 18px;
	position: relative;
	top: 0px;
}
/* Specify medicines from the prescription */

.upload-btn-proceed {
	border: 0;
	background: #faa74a;
	color: #fff;
	border-radius: 0;
	height: 36px;
	min-width: 147px;
	text-align: center;
	padding: 0;
	font-size: 14px;
	margin: 11px 25px;
}
/* Radio Button Toggle */

.prescription-checkbox-container {
	float: right;
}
.prescription-checkbox-container .toggle {
	position: relative;
	display: block;
	width: 51px;
	height: 25px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);
}
.prescription-checkbox-container .toggle::before {
	content: "";
	position: relative;
	top: 0;
	left: 0;
	width: 50px;
	height: 26px;
	display: block;
	background: #e0e0e0;
	border-radius: 15px;
	transition: background 0.2s ease;
}
.prescription-checkbox-container .toggle span {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	display: block;
	background: white;
	border-radius: 10px;
	box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
	transition: all 0.2s ease;
}
.prescription-checkbox-container .toggle span::before {
	content: "";
	position: absolute;
	display: block;
	margin: -18px;
	width: 56px;
	height: 56px;
	background: rgba(79, 46, 220, 0.5);
	border-radius: 50%;
	transform: scale(0);
	opacity: 1;
	pointer-events: none;
}
#prescription-checkbox:checked+.toggle::before {
	background: #8f59a8;
}
#prescription-checkbox:checked+.toggle span {
	background: #fff;
	transform: translateX(24px);
	transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
}
#prescription-checkbox:checked+.toggle span::before {
	transform: scale(1);
	opacity: 0;
	transition: all 0.4s ease;
}
/* Radio Button Toggle */

[class^="uploadprescription-index-"] .success {
	padding: 5px 10px;
	background: #a2cf62;
	color: #fff;
	font-size: 14px;
}
/********** Stylish Radio input *********/

/* Checkout Page */

.checkout-index-index .col-md-4.col-sm-12.order-1.order-md-2 {
	-webkit-flex: 0 0 100%;
	-moz-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.checkout-index-index .checkout-upload {
	padding: 0;
}
.checkout-index-index .checkout-upload .upload-widget-container {
	margin-bottom: 0px;
}
/* */

.onlyuploadflow#onestepcheckout-page #opc-sidebar {
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .0);
	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
}
.onlyuploadflow#onestepcheckout-page .opc-block-summary .items-in-cart {
	display: none;
}
.onlyuploadflow#onestepcheckout-page .opc-block-summary .table-totals {
	display: none;
}
.onlyuploadflow#onestepcheckout-page #opc-sidebar .payment-option {
	display: none;
	border: 0;
}
.onlyuploadflow#onestepcheckout-page .opc-block-summary {
	clear: both;
}
.onlyuploadflow#onestepcheckout-page .checkout-shipping-method {
	display: none;
}
.onlyuploadflow#onestepcheckout-page .opc-block-summary>.title {
	display: none;
}
.onlyuploadflow .payment-option._collapsible.opc-payment-additional.comment.last {
	display: none;
}
.onlyuploadflow#onestepcheckout-page .checkout-container .checkout-upload {
	float: right;
	display: block;
	max-width: 32.33%;
	margin-left: 0.9%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.upload-ui-list {
	margin-bottom: 50px;
	padding: 0;
}
.upload-offers {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background: #fff;
	width: 100%;
}
.upload-offers-checked .label {
	font-size: 14px;
	color: #1d2d3d;
	font-family: DINPro-Medium;
	margin-left: 5px;
}
.upload-offers-checked {
	padding: 10px 20px;
	background: #f8f8f8;
}
.upload-offers-content {
	padding: 20px 20px;
	color: #599800;
	font-size: 12px;
	font-family: DINPro-Medium;
	display: none;
}
#onestepcheckout-page .upload-offers .radio.selected-item {
	border: 4px solid #faa74a;
	background-color: #fff;
	position: relative;
	top: 3px;
}
.upload-offers span.coupon-applied {
	width: 24px;
	height: 26px;
	border: 0 solid #a2cf62;
	background: url(https://uat.zoylo.com/medicines/pub/media/porto/web/images/tick-complete.png) no-repeat 0 1px; 
	background-size: 10%; 
	padding-left: 20px;
	font-size: 14px;
	color: #1d2d3d;
}
/* .onlyuploadflow#onestepcheckout-page .checkout-upload {
    display: none; 
    } */

.onlyuploadflow#onestepcheckout-page #opc-sidebar {
	margin-top: 0;
}
[class^="uploadprescription-index-"] .message.success > *:first-child:before {
	position: static;
	margin: 0px 0 0;
}
[class^="uploadprescription-index-"] .messages a {
	color: #1d2d3d;
}
.checkout-index-index .checkout-attached-prescriptions {
	display: none;
}
.onlyuploadflow .checkout-attached-prescriptions {
	display: block;
}
.onlyuploadflow .checkout-attached-prescriptions.specify-prescription-list {
	margin: 15px 0 0px;
	width: 65%;
	padding: 17px 30px 20px 30px;
}
/* [class^="uploadprescription-index-"] ul.col.d-flex {
    padding: 0;
    }*/

.onlyuploadflow#onestepcheckout-page .card.plain-card {
	float: left;
	border: 0;
}
.attached-prescriptions {
	font-size: 14px;
	color: #6d6e70;
	margin-bottom: 5px;
}
#onestepcheckout-page .containerbox input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.upload-responsive {
	display: none;
}
/* Checkout Page */

@media (max-width: 767px) {
	[class^="uploadprescription-index-"] .page-main {
		padding: 0;
	}
	[class^="uploadprescription-index-"] .col-sm-12 {
		-webkit-flex: 0 0 100%;
		-moz-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	[class^="uploadprescription-index-"] .page-footer {
		display: none;
	}
	.dropzone.dz-clickable.dz-started::after {
		display: none;
	}
	.upload-widget-container {
		padding: 0;
	}
	.upload-prescription-content {
		overflow: hidden;
		padding: 0;
	}
	.file_upload {
		-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
		-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
	}
	.upload-prescription-content h2 {
		font-size: 14px;
		text-align: left;
		color: #1d2d3d;
		padding: 10px 10px 0 0;
		border: 0;
	}
	.upload-prescription-content .col-md-4.col-sm-12.order-1.order-md-2 {
		padding: 0;
	}
	.continue-button #continue {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
	.dropzone.dz-started .dz-message {
		display: block;
	}
	.dropzone .dz-message {
		max-width: 98%;
		text-align: center;
		margin: auto;
		position: relative;
		z-index: 2;
		background: #fff;
		padding: 10px;
		margin-bottom: 10px;
		border-radius: 4px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.24);
	}
	.dropzone .choose-prescription-file {
		font-size: 16px;
		height: 73px;
		width: 230px;
		padding: 0;
		text-align: center;
		vertical-align: middle;
		background: url(../images/photo-camera.png) no-repeat center 10px;
		color: #1d2d3d;
		line-height: 120px;
	}
	.dropzone .choose-prescription-file:hover {
		color: #1d2d3d;
	}
	.dropzone.dz-clickable {
		border-bottom: 1px solid #ddd;
	}
	/* .choose-prescription-file::after {
    color: #000;
    content: "ADD NEW PRESCRIPTION";
    width: 94px;
    height: 33px;
    display: inline-block;
    background: #fff;
    position: absolute;
    left: -95px;
    top: 18px;
    border: 1px solid #ccc;
    font-size: 10px;
    white-space: normal;
    line-height: 12px;
    padding: 3px 5px;
    text-align: left;
    } */
	.dropzone.dz-clickable.dz-started::before {
		display: none;
	}
	.dropzone.dz-clickable {
		/* width: 120px; */
		padding: 10px 0 20px;
	}
	.recently-border {
		padding: 10px 0;
	}
	.main-specify-block {
		padding: 0;
		display: grid;
	}
	.main-specify-block .col.d-flex {
		padding: 0;
	}
	.specify-prescription-list {
		-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
		-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
	}
	.main-specify-block .card-list {
		background: #fafafa;
	}
	.selected-items {
		border: 0;
		background: #fafafa;
		padding-left: 10px;
	}
	.main-specify-block .card-list {
		padding-left: 10px;
	}
	.choose-options {
		font-size: 14px;
		padding: 0 0px 10px;
		margin: 0px;
	}
	.main-specify-block .accordion .collapse.show {
		background: #fafafa;
		padding: 0px 0;
		border: 0;
	}
	.continue-button {
		padding: 0 10px;
		z-index: 10;
        position: relative;  
	}
	.main-specify-block .accordion {
		padding: 0 10px;
	}
	.card.specify-medicines {
		display: none;
	}
	.main-specify-block .accordion .card-body {
		padding: 10px 20px 10px 33px;
	}
	.btn.btn-options {
		padding-left: 0px;
		padding-right: 0px;
		white-space: normal;
		line-height: 16px;
	}
	.btn-options .radio-icon,
	.btn.btn-options.collapsed .radio-icon {
		margin-right: 15px;
	}
	.guidelines-block,
	.require-valid-prescription {
		display: none;
	}
	..main-specify-block .order-2 .col-sm-12 {
		background: #fff;
		margin-bottom: 13px;
		padding: 0;
	}
	/* */
	.choose-options-container {
		-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
		-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
	}
	.upload-btn-proceed {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		margin: 0;
		width: 100%;
	}
	.checkout-index-index .checkout-upload .upload-widget-container {
		margin-bottom: 0px;
		padding: 10px 0;
	}
	/*  .onlyuploadflow#onestepcheckout-page .checkout-upload {
      display: block;
      } */
	.onlyuploadflow#onestepcheckout-page .checkout-container .checkout-upload {
		display: none;
	}
	.shipping-address-item p.customer-title {
		font-size: 16px;
	}
	#onestepcheckout-page .opc-wrapper .step-title { 
		font-size: 24px; 
	}
	#onestepcheckout-page .opc-wrapper .shipping-address-item {
		color: #1d2d3d;
		border-bottom: 1px solid #b6b6b7;
	}
	#onestepcheckout-page .opc-wrapper .shipping-address-items {
		margin-bottom: 0px;
	}
	.onlyuploadflow .checkout-attached-prescriptions.specify-prescription-list {
		width: 100%;
		-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
		margin-bottom: 15px;
	}
	[class^="uploadprescription-index-"] #successMessage {
		top: 15px;
	}
	.upload-ui-list {
		padding: 0 15px;
		margin-bottom: 5px;
	}
	.onlyuploadflow#onestepcheckout-page .checkout-upload .upload-offers {
		display: none;
	}
	.upload-responsive {
		display: inline-block;
		clear: both;
		margin-top: 20px; 
	}
	.prescription-list .card-list {
		overflow: hidden;
		overflow-x: auto;
	}
	.upload-offers span.coupon-applied {
		background-position: 0 2px;
	}
}
@media only screen and (max-width: 639px) {
	.opc-wrapper .action-show-popup {
		width: 100%;
		border: 0;
		text-align: left;
		height: auto;
		padding: 0;
		background: #fff;
	}
	.opc-wrapper .action-show-popup > span:before {
		font-size: 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.onlyuploadflow .checkout-attached-prescriptions.specify-prescription-list {
		width: 63%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.onlyuploadflow .checkout-attached-prescriptions.specify-prescription-list {
		width: 64.5%;
	}
}
body:not(._keyfocus) button:focus {
	box-shadow: none;
	outline: 0;
}
.onlyuploadflow#onestepcheckout-page .checkout-upload {
	display: none;
}
@media only screen and (max-width: 767px) {
	.onlyuploadflow#onestepcheckout-page .checkout-upload {
	    display: block;
	    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
	    position: relative;

	}   	
}



.prescription-list .card .presc-image {
	cursor: zoom-in;
}
.prescription-list .card .presc-image .upload-large {
	display: none;
	position: fixed;
	z-index: 10;
	opacity: 0;
	left: 42%;
	transform: translate(-50%);
	top: 10%;
}
.prescription-list .card .presc-image:hover .upload-large {
	display: block;
	opacity: 1;
}
.prescription-list .card .presc-image .upload-large img {
	position: relative;
	transform: translate(0, 0);
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	border: 2px solid #ccc;
	transform: scale(3);
}
@media only screen and (max-width: 1024px) {
	.prescription-list .card .presc-image .upload-large {
		left: 23%;
		transform: translate(0%, -100%);
		top: auto;
	}
	.prescription-list .card .presc-image .upload-large img {
		transform: scale(2);
	}
} 
@media only screen and (max-width: 767px) {
	.prescription-list .card .presc-image .upload-large {
		left: 50%;
	    transform: translate(-50%,-100%);
	    top: auto;
	    margin-top: -220px;
	    z-index: 1000;
	}
	.prescription-list .card .presc-image .upload-large img {
		transform: scale(2);
	}
}
#loading {
	width: 100%;
	height: 100%;
	left: 0;
	position: fixed;
	display: block;
	opacity: 1;
	background-color: rgba(250, 250, 250, 0.8);
	z-index: 99;
	text-align: center;
	padding-top: 5%;
}
#loading-image {
	position: absolute;
	top: 100px;
	left: 240px;
	z-index: 100;
}

@media (min-width: 768px) {
	[class^="uploadprescription-index-"] .col-md-8 {
		-webkit-flex: 0 0 66.66%;
		-moz-flex: 0 0 66.66%;
		-ms-flex: 0 0 66.66%;
		flex: 0 0 66.66%;
		max-width: 66.66%;
	}
}
.uploaded-prescriptions .presc-image .modal img {
	max-height: 100%; 
	position: static;
	left: auto;
	right: auto;
	transform: translate(0, 0);
}
.uploaded-prescriptions .presc-image .myImg {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}


@media (max-width:991px)  and (min-width:768px) {
 .prescription-list .card .presc-image .upload-large {
    left: 35%;
    transform: translate(-35%,-100%);
    top: 30%;
 } 
}
@media (max-width:1024px) and (min-width:992px ) {
  .prescription-list .card .presc-image .upload-large {
      margin-top: -80px;
      left: 35%;
      transform: translate(-35%,-100%);
      top: auto;
   }
.prescription-list .card .presc-image .upload-large img {

    transform: scale(2);
    max-width: 300px;

}
}
@media (min-width:1025px ) {
  .prescription-list .card .presc-image .upload-large {
    top: 15%;
    left: 39%;
 }
 .prescription-list .card .presc-image .upload-large img {
    transform: scale(2.5);
 } 
}

/* @supports (-webkit-overflow-scrolling: touch) { 
	.uploaded-prescriptions .presc-image .modal img {  
	    transform: rotate(90deg);  
	}
}   
*/	
div#loadingmessage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250,250,250,0.3);
    z-index: 10;
    text-align: center;
    vertical-align: middle;
}
div#loadingmessage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.upload-prescription-content span.close::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal-body iframe {
    width: 100% !important;
}