<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<!-- ko if: setItemId($parent.item_id) -->
<!-- /ko -->
<!-- ko if: $parent.name != 'Free' -->
<div class="product-item-details">
    
    <div class="product-item-inner">
        <div class="product-item-name-block">
            <strong class="product-item-name" data-bind="text: $parent.name"></strong>
            <!-- ko if: isEnabledChangeQty() -->
            <div class="details-qty">
                <span class="label">
                    <!-- ko i18n: 'Qty' --><!-- /ko -->
                </span>
                <span class="field">
                    <input class="input-text qty" type="text" data-bind="attr:{id:'input-qty-'+$parent.item_id},value: $parent.qty,event:{change:updateItemQty.bind($parent)}"/>
                    <div class="qty-control">
                        <i class="far fa-plus-square"  data-bind="click: incrementQty.bind($parent)"></i>
                        <i class="far fa-minus-square"  data-bind="click: decrementQty.bind($parent)"></i>
                    </div>
                </span>
            </div>
            <!-- /ko -->
            <!-- ko foreach: getRegion('after_qty') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- ko foreach: getRegion('after_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        
        
    </div>

    <!-- ko if: (JSON.parse($parent.options).length > 0)-->
    <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
        <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
        <div data-role="content" class="content">
            <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
            <dl class="item-options">
                <!--ko foreach: JSON.parse($parent.options)-->
                <dt class="label" data-bind="text: label"></dt>
                    <!-- ko if: ($data.full_view)-->
                    <dd class="values" data-bind="html: full_view"></dd>
                    <!-- /ko -->
                    <!-- ko ifnot: ($data.full_view)-->
                    <dd class="values" data-bind="html: value"></dd>
                    <!-- /ko -->
                <!-- /ko -->
            </dl>
        </div>
    </div>
    <!-- /ko -->
</div>
   <!-- /ko --> 
<!-- ko if: $parent.name == 'Free' -->   
<h4 class="prescription-added"> <i class="fa fa-check" aria-hidden="true"></i>
 PRESCRIPTION ADDED</h4>
<!-- /ko --> 