<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php
$_product = $block->getProduct();
$product_id = $_product->getId();
$zoylo_product_type = $_product->getZoyloProductType();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$composition = $_helper->productAttribute($_product, $_product->getSaltComposition(), 'salt_composition');
$product_format = $_helper->productAttribute($_product, $_product->getDrugType(), 'drug_type');
$skuDisplayName = $_helper->productAttribute($_product, $_product->getSkuDisplayName(), 'sku_display_name');
$productName = $_helper->productAttribute($_product, $_product->getName(), 'name');
$sellable_flag = $_helper->productAttribute($_product, $_product->getSellableFlag(), 'sellable_flag');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
$currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currency);
$currencySymbol = $currency->getCurrencySymbol();
?>
<div class="col-md-12 section-three">  
    <div class="price-cart-container">

        <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
              action="<?= /* @NoEscape */ $block->getSubmitUrl($_product) ?>" method="post"
              id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                  <?php echo $block->getBlockHtml('formkey'); ?>
                  <?php $buttonTitle = __('Add to Cart'); ?>
                  <?php if ($_product->isSaleable()): ?>
                <div class="box-tocart">
                    <?php if ($sellable_flag == 1) { ?>

                        <div class="fieldset">
                            <?php if ($block->shouldRenderQuantity()): ?>
                                <div class="field qty">
                                    <div class="col-lg-8 pack-size">
                                        <p><?php
                                            echo $_product->getResource()->getAttribute('display_pack_size')->getFrontend()->getValue($_product);
                                            ?></p>
                                    </div>


                                    <div class="control">
                                        <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                                   <!-- <button type="button" id="<?= /* @escapeNotVerified */ $_product->getId() ?>-dec"  class="porto-icon-down-dire">-</button> -->
                                        <input type="number"
                                               name="qty"
                                               id="qty"
                                               maxlength="12"
                                               value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                                               title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                                               data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                               />
                                    <!-- <button type="button" id="<?= /* @escapeNotVerified */ $_product->getId() ?>-upt" class="porto-icon-up-dire">+</button> --> 

                                    </div>
                                </div>
                            <?php endif; ?>

                            <div class="actions">
                                <button type="submit"
                                        title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                                        class="action primary tocart"
                                        id="product-addtocart-button">
                                    <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                                </button>
                                <?php echo $block->getChildHtml('', true) ?>
                            <?php }else { ?>
                                <div class="action primary tocart notforsale" id="product-addtocart-button"><span><?php echo __('Not For Sale') ?></span></div>
                            <?php } ?>


                        </div>

                    </div>
                </div>


            <?php else: ?>
                <?php if ($_product->getIsSalable()): ?>
                    <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                <?php else: ?>
                    <div class="stock unavailable" ><span class="action primary tocart unavailableout "><?php echo __('Out of stock') ?></span></div>
                <?php endif; ?>
            <?php endif; ?>
            <?php if ($block->isRedirectToCartEnabled()) : ?>
                <script type="text/x-magento-init">
                    {
                    "#product_addtocart_form": {
                    "Magento_Catalog/product/view/validation": {
                    "radioCheckboxClosest": ".nested"
                    }
                    }
                    }
                </script>
            <?php else : ?>
                <script>
                    require([
                        'jquery',
                        'mage/mage',
                        'Magento_Catalog/product/view/validation',
                        'Magento_Catalog/js/catalog-add-to-cart'
                    ], function ($) {
                        'use strict';

                        $('#product_addtocart_form').mage('validation', {
                            radioCheckboxClosest: '.nested',
                            submitHandler: function (form) {
                                var widget = $(form).catalogAddToCart({
                                    bindSubmit: false
                                });

                                widget.catalogAddToCart('submitForm', $(form));

                                return false;
                            }
                        });
                    });
                </script>
            <?php endif; ?>
            <script type="text/javascript">
                require(["jquery"], function ($) {
                    $('.porto-icon-up-dire, .porto-icon-down-dire').on("click", function () {
                        var $this = $(this);
                        var currentQty = $("#qty").val();
                        if ($this.hasClass('porto-icon-up-dire')) {
                            var newAdd = parseInt(currentQty) + parseInt(1);
                            $("#qty").val(newAdd);
                        } else {
                            if (currentQty > 1) {
                                var newAdd = parseInt(currentQty) - parseInt(1);
                                $("#qty").val(newAdd);
                            }
                        }
                    });
                });
            </script>
        </form>
    </div>
    <?php //} ?>
    <?php
    $productType = $_product->getResource()->getAttribute('zoylo_sku_group')->getFrontend()->getValue($_product);
    if ($productType == 'Medicine' || $productType == 'medicine') {
        ?>                                          
        <!--  Medicine --> 
        <!-- Section Three  -->
        <!-- Details Page Get Additional Offers -->
        <?php
        echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('medicine-additional-offers')
                ->toHtml();
        ?>

        <!-- Details Page Get Additional Offers --> 

        <?php
        // Get all products based on composition sort by brand and ignore current product
        $blockObj = $block->getLayout()->createBlock('I95Dev\Zoylocategoryattributes\Block\Index\Index');
        if (isset($composition) && $composition != '') {

            $collection = $blockObj->getProductsByComposition($composition, $product_id, $product_format);

            if (count($collection) > 0) {
                ?>
                <div class="product-collection">
                    <h3>Substitutes for <?php echo $productName; ?></h3> 
                    <?php foreach ($collection as $product) { ?>
                        <div class="row product-collection-pnl">
                            <div class="col-sm-12 text-left">
                                <span class="product-collection-label text-left float-left">
                                    <a href="<?php echo $product->getProductUrl(); ?>" title="<?php echo $product->getName(); ?>"><p class="p-name">
                                            <?php echo $product->getName(); ?></p></a>
                                    <p><?php echo $product->getResource()->getAttribute('product_brand')->getFrontend()->getValue($product); ?></p>
                                    <p><?php
                            echo $product->getResource()->getAttribute('display_pack_size')->getFrontend()->getValue($product);
                            //echo "  " . $product->getResource()->getAttribute('drug_type')->getFrontend()->getValue($product);
                                            ?>
                                    </p>
                                </span> 
                                <span class="product-collection-value text-right">
                                    <?php
                                    $sellable_flag = $product->getResource()->getAttribute('sellable_flag')->getFrontend()->getValue($product);
                                    if ($product->isSaleable()) {
                                        
                                        ?>
                                        <p class="price"><?php echo $currencySymbol . $product->getFinalPrice();}
                                        ?></p>         
                                    <p><?php
                                        $listBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\ListProduct');
                                        $addToCartUrl = $listBlock->getAddToCartUrl($product);

                                        $sale_status = false;
                                        $saleProduct = $product->getSellableFlag();
                                        if (isset($saleProduct) && $saleProduct == 1) {
                                            if ($product->isSaleable()) {
                                                $sale_status = true;
                                                $buttonTitle = __('Add To Cart');
                                            } else {
                                                $buttonTitle = __('Out of stock');
                                            }
                                        } else {
                                            if (isset($saleProduct) && $saleProduct == 0) {
                                                $buttonTitle = __('Not For Sale');
                                            } elseif (isset($saleProduct) && $saleProduct == 2) {
                                                $buttonTitle = __('Discontinued');
                                            } else {
                                                if ($product->isSaleable()) {
                                                    $sale_status = true;
                                                    $buttonTitle = __('Add To Cart');
                                                }
                                            }
                                        }

                                        if ($sale_status == true) {
                                            $addToCartUrl = $listBlock->getAddToCartUrl($product);
                                        } else {
                                            $addToCartUrl = '#';
                                        }
                                        ?>
                                    <form data-role="tocart-form" action="<?php
                                              echo $addToCartUrl;
                                              ?>" method="post"> 
                                              <?php
                                              echo $block->getBlockHtml('formkey');
                                              ?>
                <?php ?>                   
                                        <button type="submit" title="<?php echo $buttonTitle; ?>" class="action tocart primary"><span><?php echo $buttonTitle; ?></span></button>
                                    </form>
                                    </p>
                                </span>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
                </div>
                <?php
            }
        }
        ?>   
        <?php
        echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('medicine-use-coupon')->toHtml();
        ?> 

        <!-- Section Three  -->
        <!--  Medicine --> 
<?php } else { ?>
        <!-- OTC  -->
        <!-- Details Page Get Additional Offers -->
        <?php
        echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('otc-additional-offers')->toHtml();
        echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('otc-use-coupon')->toHtml();
        ?> 
    </div>
    <!-- OTC  --> 
<?php } ?>
<style>
    .notforsale{text-align:center;padding:8px !important;}
    .unavailableout{width:100%;text-align:center;text-transform: uppercase;}
</style>