<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$url = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<?php
/** @var $block \Magento\Catalog\Block\Product\AbstractProduct
  <?= $block->getReviewsSummaryHtml($block->getProduct(), false, true) ?>
 */
?>
<?php
$_product = $block->getProduct();
$zoylo_product_type = $_product->getResource()->getAttribute('zoylo_sku_group')->getFrontend()->getValue($_product);
$name = $_product->getResource()->getAttribute('name')->getFrontend()->getValue($_product);
$displayName = $_product->getResource()->getAttribute('sku_display_name')->getFrontend()->getValue($_product);
$brand = $_product->getResource()->getAttribute('product_brand')->getFrontend()->getValue($_product);
$product_format = $_product->getResource()->getAttribute('drug_type')->getFrontend()->getValue($_product);
$composition = $_product->getResource()->getAttribute('salt_composition')->getFrontend()->getValue($_product);
$product_id = $_product->getResource()->getAttribute('entity_id')->getFrontend()->getValue($_product);
$prod_description = $_product->getResource()->getAttribute('description')->getFrontend()->getValue($_product);
$aliasType = '';
$salt = '';
if ($displayName == '') {
    $productName = $name;
} else {
    $productName = $displayName;
}
if ($zoylo_product_type === 'Medicine') {
    ?>
    <div class="container container-one">
        <div class="row">
            <div class="col-lg-12 section-one">
                <div class="pro-name"><h1><?php
                        echo $productName;
                        ?></h1>
                </div>
                <div class="main-brand">
                    <p class="pro-brand">
                        <?php if (isset($brand) && $brand != '') { ?>
                            <span>by </span><span style="margin-left:5px;">
                                <b> 
                                    <?php echo $brand; ?>
                                </b>
                            </span>
                        <?php } ?>
                    <p class="channel-partners">Sold By Channel partners and fulfiled by Zoylo.com</p>
                </div>
                <div class="pharmacist"><a href="#" class="select-lang">English <i class="zoylo-icon lang-drop-icon"></i></a><a class="sharelink" href="#"><i class="zoylo-icon sharelink-icon"></i></a> <a class="comparelink" href="#"><i class="zoylo-icon comparelink-icon"></i></a> 
                </div>  

                <?php
                if ($product_format == 'TABLETS' || $product_format == 'CAPSULES') {
                    $aliasType = 'Tablet';
                } else if ($product_format == 'DRY SYP') {
                    $aliasType = 'Dry Syrup';
                } else if ($product_format == 'SYRUP' || $product_format == 'SUSPENSION' || $product_format == 'GEL(SYRUP)' || $product_format == 'EXPECTORANT') {
                    $aliasType = 'Syrup';
                } else if ($product_format == 'BALM' || $product_format == 'CREAM' || $product_format == 'OINTMENT' || $product_format == 'OIL' || $product_format == 'LOTION' || $product_format == 'GEL(PASTE)' || $product_format == 'GEL(TOPICAL)' || $product_format == 'GEL' || $product_format == 'LINIMENT' || $product_format == 'SERUM') {
                    $aliasType = 'Gel';
                } else if ($product_format == 'FACE WASH' || $product_format == 'FOAM' || $product_format == 'SOAP') {
                    $aliasType = 'Soap';
                } else if ($product_format == 'ABDOMINAL BINDER' || $product_format == 'ANTISEPTIC POWDER' || $product_format == 'DUSTING POWDER' || $product_format == 'ENEMA' || $product_format == 'GRANULES' || $product_format == 'POWDER') {
                    $aliasType = 'Powder';
                } else if ($product_format == 'SUPPOSITORIES') {
                    $aliasType = 'Suppositories';
                } else if ($product_format == 'INHALER') {
                    $aliasType = 'Inhaler';
                } else if ($product_format == 'INJECTIBLE' || $product_format == 'INJECTION' || $product_format == 'INJECTION') {
                    $aliasType = 'Injection';
                } else if ($product_format == 'EYE EAR DROPS' || $product_format == 'EYE DROPS' || $product_format == 'EAR DROPS' || $product_format == 'NASAL DROPS' || $product_format == 'ORAL DROPS' || $product_format == 'GEL(PASTE)' || $product_format == 'GEL(TOPICAL)' || $product_format == 'GEL' || $product_format == 'LINIMENT' || $product_format == 'SERUM') {
                    $aliasType = 'Drops';
                } else if ($product_format == 'LIQUID' || $product_format == 'RESPULES' || $product_format == 'MOUTH WASH' || $product_format == 'SOLUTION') {
                    $aliasType = 'Liquid';
                } else if ($product_format == 'SPRAY' || $product_format == 'NASAL SPRAY') {
                    $aliasType = 'Spray';
                }
                ?>
                <?php if (!empty($composition)) { ?>
                    <div class="composition-list clear">
                        <p class="pro-name-composition"><span>Composition of  </span><?php echo $productName; ?></p>
                        <div class="sub-composition"><p class="sub">
                                <?php
                                $pos = strpos($composition, " + ");
                                 $blockObj = $block->getLayout()->createBlock('I95Dev\Salts\Block\Salt\View');
                                 if ($pos == true) {
                                    $salt = trim($composition);
                                   
                                    $urlKey = $blockObj->getFullSaltUrl($salt, $aliasType);

                                } else {
                                    $salt = preg_replace('/[0-9]+/', '', $composition);
                                    $salt = preg_replace("/\([^)]+\)/","",$salt); 
                                    $salt = str_replace('MG', '', $salt);
                                    $salt = trim($salt);
                                   
                                    $urlKey = $blockObj->getSaltUrl($salt, $aliasType);

                                }
                                if ($urlKey != '') {
                                    ?>
                                    <a href="<?php echo $url . $urlKey; ?>" style="font-size: 17px;" ><?php echo $salt; ?></a>
                                    <?php
                                } else {
                                    echo $salt;
                                }
                                ?>
                            </p>
                        </div>
                    </div>
                    <?php
                }

                $saltInformation = $objectManager->create('I95Dev\Salts\Model\Salt')->getCollection()->addFieldToFilter('name', array('like' => $salt))
                        ->addFieldToFilter('drug_type', array('like' => '%' . $aliasType . '%'));
                foreach ($saltInformation as $information) {

                    $kidney = $information->getKidney();
                    $pregnancy = $information->getPregnancy();
                    $heart = $information->getHeart();
                    $liver = $information->getLiver();
                    $lactation = $information->getLactation();
                    $children = $information->getChildrenSalt();
                    $seniors = $information->getSeniors();

                    $kidney1 = str_replace(" ", "_", $kidney);
                    $pregnancy1 = str_replace(" ", "_", $pregnancy);
                    $heart1 = str_replace(" ", "_", $heart);
                    $liver1 = str_replace(" ", "_", $liver);
                    $lactation1 = str_replace(" ", "_", $lactation);
                    $children1 = str_replace(" ", "_", $children);
                    $seniors1 = str_replace(" ", "_", $seniors);

                    $kidneytext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('interaction_with_common_conditions/kidney/' . strtolower($kidney1));
                    $pregnancytext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('interaction_with_common_conditions/pregnancy/' . strtolower($pregnancy1));
                    $hearttext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('interaction_with_common_conditions/heart/' . strtolower($heart1));
                    $livertext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('interaction_with_common_conditions/liver/' . strtolower($liver1));
                    $lactationtext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('interaction_with_common_conditions/lactation/' . strtolower($lactation1));
                    $childrentext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('interaction_with_common_conditions/children/' . strtolower($children1));
                    $seniorstext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('interaction_with_common_conditions/seniors/' . strtolower($seniors1));

                    $smoking = $information->getSmoking();
                    $alcohol = $information->getAlchol();
                    $caffeine = $information->getCaffeine();
                    $vision = $information->getVision();
                    $tolerance = $information->getTolerance();
                    $overdose = $information->getOverdose();
                    $driving = $information->getDriving();
                    $exercise = $information->getExercise();
                    $operating_heavy_machinery = $information->getOperatingHeavyAchinery();

                    $smoking1 = str_replace(" ", "_", $smoking);
                    $alcohol1 = str_replace(" ", "_", $alcohol);
                    $caffeine1 = str_replace(" ", "_", $caffeine);
                    $vision1 = str_replace(" ", "_", $vision);
                    $overdose1 = str_replace(" ", "_", $overdose);
                    $tolerance1 = str_replace(" ", "_", $tolerance);
                    $driving1 = str_replace(" ", "_", $driving);
                    $exercise1 = str_replace(" ", "_", $exercise);
                    $operating_heavy_machinery1 = str_replace(" ", "_", $operating_heavy_machinery);

                    $smokingtext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('precautions/smoking/' . strtolower($smoking1));
                    $alcoholtext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('precautions/alcohol/' . strtolower($alcohol1));
                    $caffeinetext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('precautions/driving/' . strtolower($caffeine1));
                    $visiontext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('precautions/vision/' . strtolower($vision1));
                    $tolerancetext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('precautions/tolerance/' . strtolower($tolerance1));
                    $overdosetext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('precautions/overdose/' . strtolower($overdose1));
                    $drivingtext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('precautions/driving/' . strtolower($driving1));
                    $exercisetext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('precautions/exercise/' . strtolower($exercise1));
                    $operating_heavy_machinerytext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('precautions/operating_heavy_machinery/' . strtolower($operating_heavy_machinery1));

                    $antibiotics = $information->getAntibiotics();
                    $pain_killers = $information->getPainKillers();
                    $chemotherapy_drugs = $information->getChemotherapyDrugs();
                    $anticoagulants = $information->getAnticoagulants();
                    $anticonvulsants = $information->getAnticonvulsants();
                    $sulfa_drugs = $information->getSulfaDrugs();


                    $antibiotics1 = str_replace(" ", "_", $antibiotics);
                    $pain_killers1 = str_replace(" ", "_", $pain_killers);
                    $chemotherapy_drugs1 = str_replace(" ", "_", $chemotherapy_drugs);
                    $anticoagulants1 = str_replace(" ", "_", $anticoagulants);
                    $anticonvulsants1 = str_replace(" ", "_", $anticonvulsants);
                    $sulfa_drugs1 = str_replace(" ", "_", $sulfa_drugs);


                    $antibioticstext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('allergy_interaction/antibiotics/' . strtolower($antibiotics1));
                    $pain_killerstext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('allergy_interaction/pain_killers/' . strtolower($pain_killers1));
                    $chemotherapy_drugstext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('allergy_interaction/chemotherapy_drugs/' . strtolower($chemotherapy_drugs1));
                    $anticoagulantstext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('allergy_interaction/anticoagulants/' . strtolower($anticoagulants1));
                    $anticonvulsantstext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('allergy_interaction/anticonvulsants/' . strtolower($anticonvulsants1));
                    $sulfa_drugstext = $this->helper('I95Dev\Customproductattributes\Helper\Data')->getConfig('allergy_interaction/sulfa_drugs/' . strtolower($sulfa_drugs1));

                    $usesof = $information->getUses();
                    $expertadvice = $information->getExpertAdvice();
                    $frequentQuestions = $information->getFaqs();
                }
                if (!empty($alcohol) || !empty($driving) || !empty($pregnancy) || !empty($lactation) || !empty($kidney)) {
                    ?>
                    <div class="list-of-warnings">
                        <p style="color:#242424"><b>Note : </b></p> 
                        <ul>
                            <li><span class="safe-unsafe-img tooltip">

                                    <?php
                                    if ($alcohol == 'Safe') {
                                        ?><span class="tooltiptext">Safe when combined with alcohol</span><i class="list-warnings-icon list-of-warnings-icon alcohol-icon-safe"></i><?php
                                    } else {
                                        ?><span class="tooltiptext">Unsafe when combined with alcohol. Follow your physician's advice.</span><i class="list-warnings-icon list-of-warnings-icon alcohol-icon-unsafe"></i><?php
                                    }
                                    ?></span><p class="safe-unsafe"><b>Alcohol:</b><span class="safe-unsafe-value"><?php
                                        echo $alcohol;
                                        ?></span></p></li>
                            <li><span class="safe-unsafe-img tooltip"><?php
                                    if ($driving == 'Safe') {
                                        ?><span class="tooltiptext">Safe and does not interfere with the ability to drive</span><i class="list-warnings-icon list-of-warnings-icon driving-icon-safe"></i><?php
                                    } else {
                                        ?><span class="tooltiptext">Unsafe and do not drive while using</span><i class="list-warnings-icon list-of-warnings-icon driving-icon-unsafe"></i><?php
                                    }
                                    ?></span><p class="safe-unsafe"><b>Driving:</b><span class="safe-unsafe-value"><?php
                                        echo $driving;
                                        ?></span></p></li> 
                            <li><span class="safe-unsafe-img tooltip"><?php
                                    if ($pregnancy == 'Safe') {
                                        ?><span class="tooltiptext">Safe for pregnant women</span><i class="list-warnings-icon list-of-warnings-icon pregnancy-icon-safe"></i><?php
                                    } else {
                                        ?><span class="tooltiptext">Unsafe and risky for pregnant women. Follow your physician's advice.</span><i class="list-warnings-icon list-of-warnings-icon pregnancy-icon-unsafe"></i><?php
                                    }
                                    ?></span><p class="safe-unsafe"><span><b>Pregnancy:</b></span><span class="safe-unsafe-value"><?php
                                        echo $pregnancy;
                                        ?></span></p></li>
                            <li><span class="safe-unsafe-img tooltip"><?php
                                    if ($lactation == 'Safe') {
                                        ?><span class="tooltiptext">Safe for lactating women</span><i class="list-warnings-icon list-of-warnings-icon lactation-icon-safe"></i><?php
                                    } else {
                                        ?><span class="tooltiptext">Unsafe and risky for lactating women. Follow your physician's advice.</span><i class="list-warnings-icon list-of-warnings-icon lactation-icon-unsafe"></i><?php
                                    }
                                    ?></span><p class="safe-unsafe"><span><b>Lactation:</b></span><span class="safe-unsafe-value"><?php
                                        echo $lactation;
                                        ?></span></p></li>
                            <li><span class="safe-unsafe-img tooltip"><?php
                                    if ($kidney == 'Safe') {
                                        ?><span class="tooltiptext">Safe for patients with kidney disease.</span><i class="list-warnings-icon list-of-warnings-icon kidney-icon-safe"></i><?php
                                    } else {
                                        ?><span class="tooltiptext">Unsafe and risky for patients with renal issues. Follow your physician's advice.</span><i class="list-warnings-icon list-of-warnings-icon kidney-icon-unsafe"></i><?php
                                    }
                                    ?></span><p class="safe-unsafe"><span><b>Kidney:</b></span><span class="safe-unsafe-value"><?php
                                        echo $kidney;
                                        ?></span></p></li>  
                        </ul>
                    </div>
                    <?php
                }
                ?>

                <div class="zoylo-features-list"> 
                    <ul>

                        <li class="col"><i class="list-warnings-icon genuine-icon"></i><p>100% Genuine<br />Products</p></li> 
                        <li class="col"><i class="list-warnings-icon quality-icon"></i><p>Quality<br />Assured</p></li>
                        <li class="col"><i class="list-warnings-icon secure-icon"></i><p>Secure <br />Payment</p></li>
                        <li class="col"><i class="list-warnings-icon assured-icon"></i><p>Assured savings <br />every time</p></li>
                        <li class="col"><i class="list-warnings-icon discreet-icon"></i><p>Discreet <br />Packing</p></li>
                        <li class="col"><i class="list-warnings-icon express-icon"></i><p>Express <br />Delivery</p></li>       
                    </ul> 

                </div>


                <div class="col-12 clear float-left p-0">
                    <p class="symtopms-desc"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp; In case of any Itching, redness, swelling or difficulty in breathing please refer to a physician or hospital immediately.</p>
                </div>
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('disclaimer')->toHtml(); ?>
            </div>
        </div>
    </div>
    </div> 

    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('pdp-avail-offer')->toHtml(); ?>  

    <!-- Accordion -->
    <div class="accordion-slider">
        <div class="row"> 
           <?php
            if (!empty($composition)) {
                ?>  
                <div class="container container-two overview-brd-btm">

                    <h2 class="medical-description">MEDICAL OVERVIEW</h2>  
                    <div class="row ">
                        <div class="col-sm-12">
                            <div class="composition-desc">
                                <h4>Product Composition</h4>
                                <p><?php echo $composition; ?></p>
                            </div>
                        </div>
                   
                    <?php
                    if (!empty($usesof)) {
                        ?>
                        <div class="col-sm-12">
                            <div class="uses-of">
                                <h4>Uses of <?php echo $productName; ?></h4>
                                <p><?php
                                    $usesof = str_replace('name1', $productName, $usesof);
                                    $usesof = str_replace('$', '', $usesof);
                                    echo $usesof;
                                    ?></p>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
                    <?php if (!empty($expertadvice)) { ?>
                        <div class="col-sm-12">
                            <div class="expert-advice"><h4>Special Instructions for <?php echo $productName; ?></h4>
                                <p><?php
                                    $expertadvice = str_replace('name1', $productName, $expertadvice);
                                    $expertadvice = str_replace('$', '', $expertadvice);
                                    echo $expertadvice;
                                    ?></p>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
                </div>
            </div>
             <?php } ?>



            <!-- SPECIAL INSTRUCTIONS  -->
            <?php
            $special_instructions = $_product->getResource()->getAttribute('special_instructions')->getFrontend()->getValue($_product);
            if (!empty($special_instructions)) {
                ?>
                <div class="container">
                    <div class="accordion-container">
                        <h2 class="special-warnings accordion-header">SPECIAL INSTRUCTIONS</h2>
                        <div class="accordion-content special-instructions"> 
                            <div class="row">
                                <div class="col-sm-1 d-none d-md-block special-instructions-img"><i class="zoylo-icon2 instructions-img"></i></div>  
                                <div class="col-sm-11 special-instructions-content "> 
                                    <p><ul><li><?php echo $special_instructions;
                ?></li></ul></p>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div> 
                <?php
            }
            ?> 
            <!-- SPECIAL INSTRUCTIONS  --> 
            <?php
            if (!empty($antibiotics) || !empty($pain_killers) || !empty($chemotherapy_drugs) || !empty($anticoagulants) || !empty($anticonvulsants) || !empty($sulfa_drugs)) {
                ?>
                <div class="container"> 
                    <div class="accordion-container">
                        <h2 class="special-warnings accordion-header">ALLERGY INTERACTIONS</h2> 
                        <div class="accordion-content">
                            <div class="col-sm-12">
                                <div id="allergy-interaction-slider" class="allergy-interaction-slider">
                                    <div class="owl-carousel">
                                        <?php
                                        if (isset($antibiotics) && $antibiotics != 'NA' && $antibiotics != '') {
                                            $antibiotics = strtolower($antibiotics);
                                            ?> 
                                            <div class="item">
                                                <h3 class="safe-brd-<?php
                                                echo $antibiotics;
                                                ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons allergy-antibiotics-<?php
                                                    echo $antibiotics;
                                                    ?>"></i>  
                                                    Antibiotics 
                                                    <span class="special-text">
                                                        <?php
                                                        $antibioticstext = str_replace('name1', $productName, $antibioticstext);
                                                        $antibioticstext = str_replace('$', '', $antibioticstext);
                                                        if ($antibiotics == 'unknown') {
                                                            echo $antibioticstext;
                                                        } else {
                                                            echo $antibioticstext;
                                                        }
                                                        ?></span>
                                                </h3>
                                            </div>
                                        <?php } ?>


                                        <?php
                                        if (isset($anticoagulants) && $anticoagulants != 'NA' && $anticoagulants != '') {
                                            $anticoagulants = strtolower($anticoagulants);
                                            ?> 
                                            <div class="item">
                                                <h3 class="safe-brd-<?php
                                                echo $anticoagulants;
                                                ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons allergy-anticoagulants-<?php
                                                    echo $anticoagulants;
                                                    ?>"></i>  
                                                    Anticoagulants 
                                                    <span class="special-text">
                                                        <?php
                                                        $anticoagulantstext = str_replace('name1', $productName, $anticoagulantstext);
                                                        $anticoagulantstext = str_replace('$', '', $anticoagulantstext);
                                                        if ($anticoagulants == 'unknown') {
                                                            echo $anticoagulantstext;
                                                        } else {
                                                            echo $anticoagulantstext;
                                                        }
                                                        ?></span>
                                                </h3>
                                            </div>
                                        <?php } ?>



                                        <?php
                                        if (isset($pain_killers) && $pain_killers != 'NA' && $pain_killers != '') {
                                            $pain_killers = strtolower($pain_killers);
                                            ?> 
                                            <div class="item">
                                                <h3 class="safe-brd-<?php
                                                echo $pain_killers;
                                                ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons allergy-pain_killers-<?php
                                                    echo $pain_killers;
                                                    ?>"></i>  
                                                    Pain Killers 
                                                    <span class="special-text">
                                                        <?php
                                                        $pain_killerstext = str_replace('name1', $productName, $pain_killerstext);
                                                        $pain_killerstext = str_replace('$', '', $pain_killerstext);
                                                        if ($pain_killers == 'unknown') {
                                                            echo $pain_killerstext;
                                                        } else {
                                                            echo $pain_killerstext;
                                                        }
                                                        ?></span>
                                                </h3>
                                            </div>
                                        <?php } ?>


                                        <?php
                                        if (isset($chemotherapy_drugs) && $chemotherapy_drugs != 'NA' && $chemotherapy_drugs != '') {
                                            $chemotherapy_drugs = strtolower($chemotherapy_drugs);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php
                                                echo $chemotherapy_drugs;
                                                ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons allergy-chemotherapydrugs-<?php
                                                    echo $chemotherapy_drugs;
                                                    ?>"></i>
                                                    Chemotherapy drugs
                                                    <span class="special-text">
                                                        <?php
                                                        $chemotherapy_drugstext = str_replace('name1', $productName, $chemotherapy_drugstext);
                                                        $chemotherapy_drugstext = str_replace('$', '', $chemotherapy_drugstext);
                                                        if ($chemotherapy_drugs == 'unknown') {
                                                            echo sprintf($chemotherapy_drugstext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($chemotherapy_drugstext, $_product->getName());
                                                        }
                                                        ?>
                                                    </span>
                                                </h3>
                                            </div>
                                            <?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($anticonvulsants) && $anticonvulsants != 'NA' && $anticonvulsants != '') {
                                            $anticonvulsants = strtolower($anticonvulsants);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php
                                                echo $anticonvulsants;
                                                ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons allergy-anticonvulsants-<?php
                                                    echo $anticonvulsants;
                                                    ?>"></i>
                                                    Anticonvulsants
                                                    <span class="special-text">
                                                        <?php
                                                        $anticonvulsantstext = str_replace('name1', $productName, $anticonvulsantstext);
                                                        $anticonvulsantstext = str_replace('$', '', $anticonvulsantstext);

                                                        if ($anticonvulsants == 'unknown') {
                                                            echo sprintf($anticonvulsantstext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($anticonvulsantstext, $_product->getName());
                                                        }
                                                        ?>
                                                    </span>
                                                </h3>
                                            </div>
                                            <?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($sulfa_drugs) && $sulfa_drugs != 'NA' && $sulfa_drugs != '') {
                                            $sulfa_drugs = strtolower($sulfa_drugs);
                                            ?> 
                                            <div class="item">
                                                <h3 class="safe-brd-<?php
                                                echo $sulfa_drugs;
                                                ?>"> 
                                                    <i class="zoylo-icon2 safe-unsafe-icons allergy-sulfadrugs-<?php
                                                    echo $sulfa_drugs;
                                                    ?>"></i>
                                                    Sulfa Drugs
                                                    <span class="special-text">
                                                        <?php
                                                        $sulfa_drugstext = str_replace('name1', $productName, $sulfa_drugstext);
                                                        $sulfa_drugstext = str_replace('$', '', $sulfa_drugstext);
                                                        if ($sulfa_drugs == 'unknown') {
                                                            echo sprintf($sulfa_drugstext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($sulfa_drugstext, $_product->getName());
                                                        }
                                                        ?>
                                                    </span>  
                                                </h3>
                                            </div>
                                            <?php
                                        }
                                        ?>
                                    </div>
                                    <script type="text/javascript">
                                        require([
                                            'jquery',
                                            'owl.carousel/owl.carousel.min'
                                        ], function ($) {
                                            $("#allergy-interaction-slider .owl-carousel").owlCarousel({
                                                autoplay: true,
                                                autoplayTimeout: 5000,
                                                autoplayHoverPause: true,
                                                margin: 15,
                                                nav: true,
                                                navText: ["<em class='porto-icon-left-open-huge'></em>", "<em class='porto-icon-right-open-huge'></em>"],
                                                dots: false,
                                                loop: true,
                                                responsive: {
                                                    0: {
                                                        items: 1
                                                    },
                                                    640: {
                                                        items: 2
                                                    },
                                                    768: {
                                                        items: 3
                                                    },
                                                    1200: {
                                                        items: 4
                                                    }
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <?php
            }
            ?>




            <?php
            if (!empty($kidney) || !empty($heart) || !empty($pregnancy) || !empty($liver) || !empty($lactation) || !empty($children) || !empty($seniors)) {
                ?>
                <div class="container">
                    <div class="accordion-container">
                        <h2 class="special-warnings accordion-header">INTERACTION WITH COMMON CONDITIONS</h2>
                        <div class="accordion-content"> 
                            <div class="col-sm-12">
                                <div id="interaction-slider" class="interaction-slider">
                                    <div class="owl-carousel">
                                        <?php
                                        if (isset($kidney) && $kidney != 'NA' && $kidney != '') {
                                            $kidney = strtolower($kidney);
                                            ?>
                                            <div class="item">

                                                <h3 class="safe-brd-<?php
                                                echo $kidney;
                                                ?>"> 
                                                    <i class="zoylo-icon2 safe-unsafe-icons instructions-kidney-<?php
                                                    echo $kidney;
                                                    ?>"></i>

                                                    <span><?php
                                                        echo $kidney;
                                                        ?> for kidney</span>
                                                    <span class="special-text">
                                                        <?php
                                                        $kidneytext = str_replace('name1', $productName, $kidneytext);
                                                        $kidneytext = str_replace('$', '', $kidneytext);

                                                        if ($kidney == 'unknown') {
                                                            echo substr(sprintf($kidneytext, $_product->getName(), $_product->getName()), 0, 120);
                                                        } else {
                                                            echo substr(sprintf($kidneytext, $_product->getName()), 0, 120);
                                                        }
                                                        ?></span>
                                                </h3>  
                                            </div>
                                            <?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($pregnancy) && $pregnancy != 'NA' && $pregnancy != '') {
                                            $pregnancy = strtolower($pregnancy);
                                            ?>
                                            <div class="item">

                                                <h3 class="safe-brd-<?php echo $pregnancy; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons instructions-pregnancy-<?php echo $pregnancy; ?>"></i>

                                                    <span><?php
                                                        echo $pregnancy;
                                                        ?> for pregnancy</span>
                                                    <span class="special-text">
                                                        <?php
                                                        $pregnancytext = str_replace('name1', $productName, $pregnancytext);
                                                        $pregnancytext = str_replace('$', '', $pregnancytext);
                                                        if ($pregnancy == 'unknown') {
                                                            echo substr(sprintf($pregnancytext, $_product->getName(), $_product->getName()), 0, 120);
                                                        } else {
                                                            echo substr(sprintf($pregnancytext, $_product->getName()), 0, 120);
                                                        }
                                                        ?></span>
                                                </h3> 

                                            </div><?php
                                        }
                                        ?>

                                        <?php
                                        if (isset($heart) && $heart != 'NA' && $heart != '') {
                                            $heart = strtolower($heart);
                                            ?>
                                            <div class="item">

                                                <h3 class="safe-brd-<?php echo $heart; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons instructions-heart-<?php echo $heart; ?>"></i>
                                                    <span><?php
                                                        echo $heart;
                                                        ?> for heart</span>
                                                    <span class="special-text">
                                                        <?php
                                                        $hearttext = str_replace('name1', $productName, $hearttext);
                                                        $hearttext = str_replace('$', '', $hearttext);
                                                        if ($heart == 'unknown') {
                                                            echo substr(sprintf($hearttext, $_product->getName(), $_product->getName()), 0, 120);
                                                        } else {
                                                            echo substr(sprintf($hearttext, $_product->getName()), 0, 120);
                                                        }
                                                        ?></span>
                                                </h3>

                                            </div><?php
                                        }
                                        ?>


                                        <?php
                                        if (isset($liver) && $liver != 'NA' && $liver != '') {
                                            $liver = strtolower($liver);
                                            ?>
                                            <div class="item">

                                                <h3 class="safe-brd-<?php echo $liver; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons instructions-liver-<?php echo $liver; ?>"></i>
                                                    <span><?php
                                                        echo $liver;
                                                        ?> for liver</span>
                                                    <span class="special-text">
                                                        <?php
                                                        $livertext = str_replace('name1', $productName, $livertext);
                                                        $livertext = str_replace('$', '', $livertext);
                                                        if ($liver == 'unknown') {
                                                            echo substr(sprintf($livertext, $_product->getName(), $_product->getName()), 0, 120);
                                                        } else {
                                                            echo substr(sprintf($livertext, $_product->getName()), 0, 120);
                                                        }
                                                        ?></span>
                                                </h3>

                                            </div><?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($lactation) && $lactation != 'NA' && $lactation != '') {
                                            $lactation = strtolower($lactation);
                                            ?>
                                            <div class="item">

                                                <h3 class="safe-brd-<?php echo $lactation; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons instructions-lactation-<?php echo $lactation; ?>"></i>
                                                    <span><?php
                                                        echo $lactation;
                                                        ?> for lactation</span>
                                                    <span class="special-text">
                                                        <?php
                                                        $lactationtext = str_replace('name1', $productName, $lactationtext);
                                                        $lactationtext = str_replace('$', '', $lactationtext);
                                                        if ($lactation == 'unknown') {
                                                            echo substr(sprintf($lactationtext, $_product->getName(), $_product->getName()), 0, 120);
                                                        } else {
                                                            echo substr(sprintf($lactationtext, $_product->getName()), 0, 120);
                                                        }
                                                        ?></span>
                                                </h3>

                                            </div><?php
                                        }
                                        ?>

                                        <?php
                                        if (isset($children) && $children != 'NA' && $children != '') {
                                            $children = strtolower($children);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $children; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons instructions-children-<?php echo $children; ?>"></i>


                                                    <span><?php
                                                        echo $children;
                                                        ?> for children</span>
                                                    <span class="special-text">
                                                        <?php
                                                        $childrentext = str_replace('name1', $productName, $childrentext);
                                                        $childrentext = str_replace('$', '', $childrentext);
                                                        if ($children == 'unknown') {
                                                            echo substr(sprintf($childrentext, $_product->getName(), $_product->getName()), 0, 120);
                                                        } else {
                                                            echo substr(sprintf($childrentext, $_product->getName()), 0, 120);
                                                        }
                                                        ?></span>
                                                </h3>

                                            </div><?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($seniors) && $seniors != 'NA' && $seniors != '') {
                                            $seniors = strtolower($seniors);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $seniors; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons instructions-seniors-<?php echo $seniors; ?>"></i>


                                                    <span><?php
                                                        echo $seniors;
                                                        ?> for seniors </span>
                                                    <span class="special-text">
                                                        <?php
                                                        $seniorstext = str_replace('name1', $productName, $seniorstext);
                                                        $seniorstext = str_replace('$', '', $seniorstext);
                                                        if ($seniors == 'unknown') {
                                                            echo substr(sprintf($seniorstext, $_product->getName(), $_product->getName()), 0, 120);
                                                        } else {
                                                            echo substr(sprintf($seniorstext, $_product->getName()), 0, 120);
                                                        }
                                                        ?></span>
                                                </h3>

                                            </div><?php
                                        }
                                        ?>  
                                    </div>
                                    <script type="text/javascript">
                                        require([
                                            'jquery',
                                            'owl.carousel/owl.carousel.min'
                                        ], function ($) {
                                            $("#interaction-slider .owl-carousel").owlCarousel({
                                                autoplay: true,
                                                autoplayTimeout: 5000,
                                                autoplayHoverPause: true,
                                                margin: 15,
                                                nav: true,
                                                navText: ["<em class='porto-icon-left-open-huge'></em>", "<em class='porto-icon-right-open-huge'></em>"],
                                                dots: false,
                                                loop: true,
                                                responsive: {
                                                    0: {
                                                        items: 1
                                                    },
                                                    640: {
                                                        items: 2
                                                    },
                                                    768: {
                                                        items: 3
                                                    },
                                                    1200: {
                                                        items: 4
                                                    }
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
            }
            ?>
            <?php
            if (!empty($smoking) || !empty($alcohol) || !empty($caffeine) || !empty($tolerance) || !empty($vision) || !empty($overdose) || !empty($driving) || !empty($exercise) || !empty($operating_heavy_machinery)) {
                ?>
                <!-- WARNING -->
                <div class="container">
                    <div class="accordion-container">
                        <h2 class="special-warnings accordion-header">WARNING</h2> 
                        <div class="accordion-content">  
                            <div class="col-sm-12">
                                <div id="warning-slider" class="warning-slider">
                                    <div class="owl-carousel">
                                        <?php
                                        if (isset($smoking) && $smoking != 'NA' && $smoking != '') {
                                            $smoking = strtolower($smoking);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $smoking; ?>"> 
                                                    <i class="zoylo-icon2 safe-unsafe-icons smoking-<?php echo $smoking; ?>"></i>  


                                                    <span>Smoking</span>
                                                    <span class="special-text">   
                                                        <?php
                                                        $smokingtext = str_replace('name1', $productName, $smokingtext);
                                                        $smokingtext = str_replace('$', '', $smokingtext);
                                                        if ($smoking == 'unknown') {
                                                            echo sprintf($smokingtext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($smokingtext, $_product->getName());
                                                        }
                                                        ?>
                                                    </span>
                                                </h3> 

                                            </div>
                                            <?php
                                        }
                                        ?>

                                        <?php
                                        if (isset($caffeine) && $caffeine != 'NA' && $caffeine != '') {
                                            $caffeine = strtolower($caffeine);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $caffeine; ?>"> 
                                                    <i class="zoylo-icon2 safe-unsafe-icons caffeine-<?php echo $caffeine; ?>"></i>  
                                                    <span>Caffeine</span>
                                                    <span class="special-text">   
                                                        <?php
                                                        $caffeinetext = str_replace('name1', $productName, $caffeinetext);
                                                        $caffeinetext = str_replace('$', '', $caffeinetext);
                                                        if ($caffeine == 'unknown') {
                                                            echo sprintf($caffeinetext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($caffeinetext, $_product->getName());
                                                        }
                                                        ?>
                                                    </span>
                                                </h3> 

                                            </div>
                                        <?php } ?>

                                        <?php
                                        if (isset($alcohol) && $alcohol != 'NA' && $alcohol != '') {
                                            $alcohol = strtolower($alcohol);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $alcohol; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons alcoho-<?php echo $alcohol; ?>"></i>


                                                    <span>Alcohol</span> 
                                                    <span class="special-text"><?php
                                                        $alcoholtext = str_replace('name1', $productName, $alcoholtext);
                                                        $alcoholtext = str_replace('$', '', $alcoholtext);
                                                        if ($alcohol == 'unknown') {
                                                            echo sprintf($alcoholtext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($alcoholtext, $_product->getName());
                                                        }
                                                        ?>
                                                    </span>
                                                </h3>

                                            </div>
                                            <?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($tolerance) && $tolerance != 'NA' && $tolerance != '') {
                                            $tolerance = strtolower($tolerance);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $tolerance; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons tolerance-<?php echo $tolerance; ?>"></i>


                                                    <span>Tolerance </span>
                                                    <span class="special-text"><?php
                                                        $tolerancetext = str_replace('name1', $productName, $tolerancetext);
                                                        $tolerancetext = str_replace('$', '', $tolerancetext);
                                                        if ($tolerance == 'unknown') {
                                                            echo sprintf($tolerancetext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($tolerancetext, $_product->getName());
                                                        }
                                                        ?>
                                                    </span>
                                                </h3>

                                            </div>
                                            <?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($vision) && $vision != 'NA' && $vision != '') {
                                            $vision = strtolower($vision);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $vision; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons vision-<?php echo $vision; ?>"></i>


                                                    <span>Vision</span>
                                                    <span class="special-text"><?php
                                                        $visiontext = str_replace('name1', $productName, $visiontext);
                                                        $visiontext = str_replace('$', '', $visiontext);
                                                        if ($vision == 'unknown') {
                                                            echo sprintf($visiontext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($visiontext, $_product->getName());
                                                        }
                                                        ?>
                                                    </span>
                                                </h3>

                                            </div>
                                            <?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($overdose) && $overdose != 'NA' && $overdose != '') {
                                            $overdose = strtolower($overdose);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $overdose; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons overdose-<?php echo $overdose; ?>"></i>


                                                    <span>Overdose </span>
                                                    <span class="special-text"><?php
                                                        $overdosetext = str_replace('name1', $productName, $overdosetext);
                                                        $overdosetext = str_replace('$', '', $overdosetext);
                                                        if ($overdose == 'unknown') {
                                                            echo sprintf($overdosetext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($overdosetext, $_product->getName());
                                                        }
                                                        ?> </span>
                                                </h3>

                                            </div>
                                            <?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($driving) && $driving != 'NA' && $driving != '') {
                                            $driving = strtolower($driving);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $driving; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons driving-<?php echo $driving; ?>"></i>


                                                    <span>Driving</span>
                                                    <span class="special-text"> <?php
                                                        $drivingtext = str_replace('name1', $productName, $drivingtext);
                                                        $drivingtext = str_replace('$', '', $drivingtext);
                                                        if ($driving == 'unknown') {
                                                            echo sprintf($drivingtext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($drivingtext, $_product->getName());
                                                        }
                                                        ?>
                                                    </span>
                                                </h3>

                                            </div>
                                            <?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($exercise) && $exercise != 'NA' && $exercise != '') {
                                            $exercise = strtolower($exercise);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $exercise; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons exercise-<?php echo $exercise; ?>"></i>


                                                    <span>Exercise</span>
                                                    <span class="special-text"><?php
                                                        $exercisetext = str_replace('name1', $productName, $exercisetext);
                                                        $exercisetext = str_replace('$', '', $exercisetext);
                                                        if ($exercise == 'unknown') {
                                                            echo sprintf($exercisetext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($exercisetext, $_product->getName());
                                                        }
                                                        ?></span> 
                                                </h3>

                                            </div>
                                            <?php
                                        }
                                        ?>
                                        <?php
                                        if (isset($operating_heavy_machinery) && $operating_heavy_machinery != 'NA' && $operating_heavy_machinery != '') {
                                            $operating_heavy_machinery = strtolower($operating_heavy_machinery);
                                            ?>
                                            <div class="item">
                                                <h3 class="safe-brd-<?php echo $operating_heavy_machinery; ?>">
                                                    <i class="zoylo-icon2 safe-unsafe-icons operating_heavy_machinery-<?php echo $operating_heavy_machinery; ?>"></i>


                                                    <span>Operating Heavy Machinery</span>
                                                    <span class="special-text"> <?php
                                                        $operating_heavy_machinerytext = str_replace('name1', $productName, $operating_heavy_machinerytext);
                                                        $operating_heavy_machinerytext = str_replace('$', '', $operating_heavy_machinerytext);
                                                        if ($operating_heavy_machinery == 'unknown') {
                                                            echo sprintf($operating_heavy_machinerytext, $_product->getName(), $_product->getName());
                                                        } else {
                                                            echo sprintf($operating_heavy_machinerytext, $_product->getName());
                                                        }
                                                        ?></span> 
                                                </h3>

                                            </div>
                                            <?php
                                        }
                                        ?> 
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    require([
                                        'jquery',
                                        'owl.carousel/owl.carousel.min'
                                    ], function ($) {
                                        $("#warning-slider .owl-carousel").owlCarousel({
                                            autoplay: true,
                                            autoplayTimeout: 5000,
                                            autoplayHoverPause: true,
                                            margin: 15,
                                            nav: true,
                                            navText: ["<em class='porto-icon-left-open-huge'></em>", "<em class='porto-icon-right-open-huge'></em>"],
                                            dots: false,
                                            loop: true,
                                            responsive: {
                                                0: {
                                                    items: 1
                                                },
                                                640: {
                                                    items: 2
                                                },
                                                768: {
                                                    items: 3
                                                },
                                                1200: {
                                                    items: 4
                                                }
                                            }
                                        });
                                        $(".accordion-slider").on("click", ".accordion-header", function () {
                                            $(this).toggleClass("active").next().slideToggle();
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
            }
            ?>
            <!-- WARNING -->



            <!-- Accordion -->           
            <?php
            if (!empty($frequentQuestions)) {
                ?>
                <div class="container container-four faq">
                    <div class="accordion-container">
                        <h2 class="medical-description accordion-header">FREQUENTLY ASKED QUESTIONS</h2> 
                        <div class="row accordion-content">
                            <div class="col-lg-12">
                                <p><?php
                                    $frequentQuestions = str_replace('name1', $productName, $frequentQuestions);
                                    $frequentQuestions = str_replace('name', $productName, $frequentQuestions);
                                    $frequentQuestions = str_replace('$', '', $frequentQuestions);
                                    echo $frequentQuestions;
                                    ?>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <?php
            }
            ?>


            <!-- WARNING -->
            <script type="text/javascript">
                require([
                    'jquery'
                ], function ($) {
                    $(document).ready(function () {
                        $('.view-all').click(function () {
                            $('.warings-hidden').toggle();
                        });
                    });
                });
            </script>
            <script type="text/javascript">
                require(["jquery"], function ($) {
                    $('.porto-icon-up-dirs, .porto-icon-down-dirs').on("click", function () {
                        var productid = $(this).attr('id');
                        var product_id = productid.split("-")[0];
                        var $this = $(this);
                        var currentQty = $('.input-text-qtys-' + product_id).val();
                        if ($this.hasClass('porto-icon-up-dirs')) {
                            var newAdd = parseInt(currentQty) + parseInt(1);
                            $('.input-text-qtys-' + product_id).val(parseInt(newAdd));
                        } else {
                            if (currentQty > 1) {
                                var newAdd = parseInt(currentQty) - parseInt(1);
                                $('.input-text-qtys-' + product_id).val(parseInt(newAdd));
                            }
                        }
                    });
                });
            </script> 



        </div> 


    <?php } else { ?>

        <div class="container container-one">
            <div class="row">
                <div class="col-lg-12 section-one">
                    <div class="pro-name"><h1><?php echo $productName; ?></h1>
                    </div>
                    <div class="main-brand">
                        <p class="pro-brand">
                            <?php if (isset($brand) && $brand != '') { ?>
                                <span>by </span><span style="margin-left:5px;">
                                    <b> 
                                        <?php echo $brand; ?>
                                    </b>
                                </span>
                            <?php } ?>

                        </p>
                        <p class="channel-partners">Sold By Channel partners and fulfiled by Zoylo.com</p>
                    </div>

                    <div class="pharmacist"><!--<h3><a href="/#listPractice">GET ASSISTANCE</a></h3>--><a href="#" class="select-lang">English <i class="zoylo-icon lang-drop-icon"></i></a><a class="sharelink" href="#"><i class="zoylo-icon sharelink-icon"></i></a> <a class="comparelink" href="#"><i class="zoylo-icon comparelink-icon"></i></a> 
                    </div>  


                    <div class="zoylo-features-list"> 
                        <ul>

                            <li class="col"><i class="list-warnings-icon genuine-icon"></i><p>100% Genuine<br />Products</p></li> 
                            <li class="col"><i class="list-warnings-icon quality-icon"></i><p>Quality<br />Assured</p></li>
                            <li class="col"><i class="list-warnings-icon secure-icon"></i><p>Secure <br />Payment</p></li>
                            <li class="col"><i class="list-warnings-icon assured-icon"></i><p>Assured savings <br />every time</p></li>
                            <li class="col"><i class="list-warnings-icon discreet-icon"></i><p>Discreet <br />Packing</p></li>
                            <li class="col"><i class="list-warnings-icon express-icon"></i><p>Express <br />Delivery</p></li>       
                        </ul>   

                    </div>


                    <div class="col-12 clear float-left p-0">
                        <p class="symtopms-desc1"><span style="color:red;">
                                <?php
                                $returnable = $_product->getResource()->getAttribute('returnable')->getFrontend()->getValue($_product);
                                if (isset($returnable) && ($returnable == 'Yes')) {
                                    echo "Refundable";
                                } else {
                                    echo "Not Refundable";
                                }
                                ?>
                            </span>| <span style="color:orange;"><a href="https://www.zoylo.com/cancellation" target="_blank">Read Policy</a></span></p>

                    </div>
                </div>
            </div> 
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('disclaimer')->toHtml(); ?>
        </div>  
    </div>
    <div class="otc-description" >

        <div class="container-two">
            <?php
            $skuDisplayName = $_product->getSkuDisplayName();
            if (isset($skuDisplayName) && $skuDisplayName != '') {
                $name = $skuDisplayName;
            } else {
                $name = $_product->getName();
            }
            ?>
            <h3 class="medical-description">INFORMATION ABOUT <?php echo $name; ?></h3>

            <div class="row">
                <div class="col-lg-12">
    <?php echo $_product->getDescription(); ?>
                </div>
            </div>
        </div>
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('pdp-avail-offer')->toHtml(); ?>     
       <?php } ?> 



    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            $(document).ready(function () {
                // polyfill
                window.requestAnimationFrame = (function () {
                    return  window.requestAnimationFrame ||
                            window.webkitRequestAnimationFrame ||
                            window.mozRequestAnimationFrame ||
                            function (callback) {
                                window.setTimeout(callback, 1000 / 60);
                            };
                })();

                var speed = 25000; 
                (function currencySlide() {
                    var currencyPairWidth = $('.slideItem:first-child').outerWidth();
                    $(".slideContainer").animate({marginLeft: -currencyPairWidth}, speed, 'linear', function () {
                        $(this).css({marginLeft: 0}).find("li:last").after($(this).find("li:first"));
                    });
                    requestAnimationFrame(currencySlide);
                })();

            });
        });
    </script>

