<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $this->helper('I95Dev\UploadPrescription\Helper\Data');
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseurl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>

<?php 
if($helper->isLoggedIn()) {       
$quote = $objectManager->get('Magento\Checkout\Model\Cart')->getQuote();
$allItems = $quote->getAllItems();
foreach($allItems as $item)
  {
    $sku =$item->getSku();
    $productRepository = $objectManager->create('Magento\Catalog\Model\ProductRepository');
    $product = $productRepository->get($sku);
    $prescriptionAction = $product->getPrescriptionRequired(); 
    if(isset($prescriptionAction) && $prescriptionAction == 'required')
      {
        $required[] = $sku;
      }
      
  }
?>
<?php if(empty($required)){ ?>
<?php if ($block->isPossibleOnepageCheckout()):?>
    <button type="button"
            data-role="proceed-to-checkout"
            title="<?= /* @escapeNotVerified */ __('Proceed to Checkout') ?>"
            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?= /* @escapeNotVerified */ $block->getCheckoutUrl() ?>"}}' 
            class="action primary checkout<?= ($block->isDisabled()) ? ' disabled' : '' ?>"
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
        <span><?= /* @escapeNotVerified */ __('Checkout') ?></span>
    </button>
<?php endif?>
<?php } ?>
<?php if(isset($required)&& count($required)>0){ 
?>
<?php if ($block->isPossibleOnepageCheckout()){  
?>
    <button type="button" data-toggle="modal" data-target="#popup-modal"
            data-role="proceed-to-checkout"
            title="<?= /* @escapeNotVerified */ __('Proceed to Checkout') ?>"
            class="action primary checkout<?= ($block->isDisabled()) ? ' disabled' : '' ?>"
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
        <span>Checkout</span>
    </button>
<?php //} ?>

<!-- Modal -->
<div class="modal fade" id="popup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog new" role="document">
    <div class="modal-content">
      <div class="modal-header">
    <h1 id="modal-title-1" class="modal-title" data-role="title">
             <span class="popup-heading">Few items in your cart require prescription </span>
             </h1>
            
           <button type="button" class="close action-close" data-dismiss="modal" aria-label="Close">
                <span>X</span>
            </button>
      </div>
   
    
      <div class="modal-body">
        <div class="row">
          <form action="" method="post" onsubmit="return validateForm()">
            <div class="col-sm-12"><div class="col-sm-6 prescription-ready">
          <p><input type="radio" onchange="changeAction(this)" name="presc-option" id="now" value="<?php echo $baseurl;?>uploadprescription/index/save?rx=1"> 
          <h3><label for="now">I have my prescription ready and will upload it now</label></h3><p>
          <p  class="prescription1"><i class="zoylo-icon upload-your-prescription"></i></p>
          </div>
            <div class="col-sm-6 submit-delivery" >

          <p><input type="radio" onchange="changeAction(this)" name="presc-option" id="later" value="<?= /* @escapeNotVerified */ $block->getCheckoutUrl() ?>">
            <h3><label for="later"> I'll share the prescription later</label></h3></p>
          <p class="deliveryicon2"><i class="zoylo-icon delivery-doorstep"></i></p>
            </div>
           </div>
           <div class="col-sm-6 d-flex">   
           <p class="popup-proceed"><input type="submit" class="cartcheckout proceed-submit" value="Proceed" name="submit"></p>
          </div>
          <div class="col-sm-6">
          <button type="button" class="cartcheckout cnp" id = 'ajaxButton' onClick = 'imAnAjaxFunction()'>CONTINUE WITH NON-PRESCRIPTION ITEMS</button>
          </div>
          </form>
         </div>   
      </div>
    </div>
  </div>
</div>

<script>
function changeAction(radio) { radio.form.setAttribute('action', radio.value); }
function validateForm() {
    var radios = document.getElementsByName("presc-option");
    var formValid = false;

    var i = 0;
    while (!formValid && i < radios.length) {
        if (radios[i].checked) formValid = true;
        i++;        
    }

    if (!formValid) alert("Must check some option!");
    return formValid;
}
</script>
<script>
function imAnAjaxFunction(){
     window.location.href= "<?php echo $baseurl;?>uploadprescription/checkout/remove";
}
</script>

<?php } }}else{ 
$main_url = str_replace('medicines/','',$baseurl);
$main_url = $main_url."login/?redirect=/medicines/checkout/cart";
?>
<?php if ($block->isPossibleOnepageCheckout()):?>
  
<button type="button" title="<?= /* @escapeNotVerified */ __('Proceed to Checkout') ?>" data-role="proceed-to-checkout" class="action primary checkout<?= ($block->isDisabled()) ? ' disabled' : '' ?>" onClick="Javascript:window.location.href = '<?php echo $main_url; ?>';" />
    <span><?= /* @escapeNotVerified */ __('Checkout') ?></span>
</button>
  
<?php endif?>
<?php } ?> 