<?php
$helper = $this->helper("Ves\Brand\Helper\Data");
?>
<div class="ves-block block brand-searchform">
	<div class="block-title">
		<strong><?php echo __('Search Brand'); ?></strong>
	</div>
	<div class="block-content">
		<form method="get" class="search-form" action="<?php echo $helper->getSearchFormUrl(); ?>" data-mage-init='{"validation":{}}'>
			<input type="text" id='quick-search' class="search-field required-entry" placeholder="<?php echo __('Search brands here…'); ?>" value="<?php echo $helper->getSearchKey() ?>" name="s" title="<?php echo __('Search for:'); ?>">
			<button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
		</form>
            <div class ="main-search-results"></div>
	</div>

</div>

<script>
    
    require(['jquery', 'jquery/ui'], function($){
  $(document).ready( function() {
    
        $('#quick-search').keyup(function(){
            //count 3
            
            var search_text = jQuery("#quick-search").val();
            
            if(search_text != ""){
           
                    jQuery.ajax({
                        url : '<?php echo $block->getUrl('vesbrand/search/brand') ?>',
                        dataType : 'json',
                        data: 'search_text='+search_text,
                        method : 'get',
                        success : function(data) {
                           // alert('test');
                            jQuery('.main-search-results').html(data);
                        }
                    });
                    }else{
                    jQuery('.main-search-results').html('');
                    }

        });
  });
});

    </script>