<!--@subject {{trans "Order Changes"}} @-->
<!--@vars {
"var oldValue":"Order Old Total Cost",
"var newValue":"Order New Total Cost",
"var orderId":"OrderId"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p>
                {{trans "Your order #%orderId was changed by a site admin." orderId=$orderId}}
            </p>

            <p>
                {{trans "Total cost was decreased from"}} {{var oldValue}} {{trans "to"}} {{var newValue}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
