<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_AdminActionsLog
 */
?>
<?php
/**
 * @var \Amasty\AdminActionsLog\Block\Adminhtml\ActionsLog\Edit\Tab\View $block
 */
$log = $block->getLog();
$user = $this->getUser($log->getUsername());
?>

<div class="fieldset-wrapper customer-information">
    <div class="fieldset-wrapper-title">
        <span class="title"><?php /* @escapeNotVerified */ echo __('Action Log Details') ?></span>
    </div>
    <table class="admin__table-secondary">
        <tbody>
        <?php echo $block->getChildHtml(); ?>
        <tr>
            <th><?php /* @escapeNotVerified */ echo __('Date') . ':' ?></th>
            <td><?php /* @escapeNotVerified */ echo $log->getDateTime(); ?> </td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */ echo __('Username') . ':' ?></th>
            <td><?php /* @escapeNotVerified */ echo $log->getUsername() ?> </td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */ echo __('Full Name') . ':' ?></th>
            <td><?php /* @escapeNotVerified */ echo $user->getName() ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */ echo __('Email') . ':' ?></th>
            <td><?php /* @escapeNotVerified */ echo $user->getEmail() ?></td>
        </tr>
            <tr>
                <th><?php /* @escapeNotVerified */ echo __('Action Type') . ':' ?></th>
                <td><?php /* @escapeNotVerified */ echo $log->getType() ?></td>
            </tr>
        <tr>
            <th><?php /* @escapeNotVerified */ echo __('Object:') ?></th>
            <td><?php /* @escapeNotVerified */ echo $log->getCategoryName() ?></td>
        </tr>
        <?php if ($log->getItem()) : ?>
            <tr>
                <th><?php /* @escapeNotVerified */ echo __('Item:') ?></th>
                <td><?php /* @escapeNotVerified */ echo $log->getItem() ?></td>
            </tr>
        <?php endif; ?>
        </tbody>
    </table>

</div>
