<?php 
$orderId = $this->getRequest()->getParam('order_id');
$blockObje = $block->getLayout()->createBlock('I95Dev\UploadPrescription\Block\Adminhtml\Index\Index');
// get Presciption Values By Order Id
$orderData = $blockObje->getOrderData($orderId);
$prescription_ids = $orderData->getPrescriptionValues();
if($prescription_ids!=''){
?>
<section class="admin__page-section custom-tab-content">
<h1>Prescriptions</h1>
<table class="data-table admin__table-primary edit-order-table">
    <thead>
        <tr class="headings">
            <th scope="col" class="col id"><?php echo __('ID #') ?></th>
            <th scope="col" class="col name"><?php echo __('Name') ?></th>
            <th scope="col" class="col prescription"><?php echo __('Prescription') ?></th>
            <th scope="col" class="col prescription"><?php echo __('Action') ?></th>
            <th scope="col" class="col ">&nbsp;</th>
        </tr>
    </thead>


<?php
$prescription_id=explode(',',$prescription_ids);
$i =1;
//get prescriptions details based on order prescription_ids
foreach($prescription_id as $pre_id){

	$presccollection = $blockObje->getOrderPrescriptions($pre_id);
	if($presccollection && count($presccollection))
	{ 
	foreach ($presccollection as $predata) 
		{
?>

	<tr>
		<td><?php echo $i; ?></td>
		<td><?php echo $predata->getData('prescription_name'); ?></td>
		<td><img alt="<?php echo $predata->getData('prescription_name'); ?>" width="80" height="50" src="<?php echo $predata->getValue(); ?>"/></td>
		<td><a href="<?php echo $predata->getData('value'); ?>" target="_blank"> View </a>/<a id="download" href="<?php echo $predata->getData('value'); ?>" download="<?php echo $predata->getData('value'); ?>"> Download </a>
		</td>

	</tr>

<?php   } } $i++; } ?>
</table>
</section>
<?php }else { ?> 
	<h1>No Prescriptions</h1>
<?php } ?>