<?php /** @var $block \Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\Buttons\EditOrderStatus */ ?>
<div class="actions right">
    <a href="<?php echo $block->escapeHtml($block->getEditUrl()); ?>">
        <?php /* @escapeNotVerified */ echo __('Edit') ?>
    </a>
</div>