<?php
/** @var $block \Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\Buttons\EditPaymentMethod */
?>
<div class="actions payment-edit">
    <a href="#"><?= __('Edit') ?></a>
</div>

<script>
    require(['jquery'], function ($) {
        var paymentListSelector = '.order-payment-list',
            paymentTitleSelector = '.order-payment-method-title';
        $(document).on('click', '.payment-edit a', function (e) {
            e.preventDefault();
            togglePayment(true);
            return false;
        }).on('change', paymentListSelector, function () {
            var paymentList = $(paymentListSelector),
                selectedOption = paymentList.find(':selected');
            paymentList.attr('disabled', 'disabled');
            console.log('<?= $block->getEditUrl() ?>', FORM_KEY, selectedOption.attr('value'));
            $.ajax({
                data: {
                    'form_key': FORM_KEY,
                    method: selectedOption.attr('value')
                },
                url: '<?= $block->getEditUrl() ?>',
                success: function (response) {
                    if (response && response.status) {
                        console.log(response);
                        $(paymentTitleSelector).html('<p>' + selectedOption.attr('data-title') + '</p>');
                        togglePayment(false);
                    } else {
                        processError(response);
                    }
                },
                error: processError
            });
        });

        function togglePayment(showList) {
            var hiddenClass = 'hidden',
                paymentList = $(paymentListSelector),
                paymentTitle = $(paymentTitleSelector);
            if (showList) {
                paymentList.removeClass(hiddenClass);
                paymentTitle.hide();
            } else {
                paymentList.addClass(hiddenClass).removeAttr('disabled');
                paymentTitle.show();
            }
        }

        function processError(response) {
            alert('<?= __('Cannot change payment method.') ?>');
            console.warn(response);
            togglePayment(false);
        }
    });
</script>