<?php
/**
 * Cminds TrueEditOrder order info edit order note button template.
 *
 * @category Cminds
 * @package  Cminds_TrueEditOrder
 * @author   Piotr Pierzak <piotrek.pierzak@gmail.com>
 */
?>
<?php /** @var $block \Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\Buttons\EditOrderNote */ ?>
<span class="note-list-trueeditorder-edit">
    <a href="<?php echo $block->getEditUrl() ?>"><?php /* @escapeNotVerified */ echo __('Edit') ?></a>
</span>