<?php
/**
 * Cminds TrueEditOrder order info remove order note button template.
 *
 * @category Cminds
 * @package  Cminds_TrueEditOrder
 * @author   Piotr Pierzak <piotrek.pierzak@gmail.com>
 */
?>
<?php /** @var $block \Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\Buttons\RemoveOrderNote */ ?>
<span class="note-list-trueeditorder-remove">
    <a href="<?php echo $block->getRemoveUrl() ?>"
       onclick="return confirm('<?php /* @escapeNotVerified */ echo __('Are you sure you want to remove this order note?') ?>')"
    ><?php /* @escapeNotVerified */ echo __('Remove') ?></a>
</span>