<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @var $block \Magento\Reports\Block\Product\Viewed
 */
?>

<?php
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$_category_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/category');
$image_width = ($_category_config['ratio_width'])?$_category_config['ratio_width']:300;
$image_height = ($_category_config['ratio_height'])?$_category_config['ratio_height']:300;
if($_category_config['aspect_ratio'])
   $image_height = $image_width;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $this->helper('I95Dev\UploadPrescription\Helper\Data');
$mediaurl = $helper->getMediaUrl();
				
if ($exist = ($block->getRecentlyViewedProducts() && $block->getRecentlyViewedProducts()->getSize())) {
    $type = 'widget-viewed';
    $mode = 'grid';

    $type = $type . '-' . $mode;

    $image = 'recently_viewed_products_grid_content_widget';
    $title = __('Recently Viewed');
    $items = $block->getRecentlyViewedProducts();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $rating = 'short';
    $description = ($mode == 'list') ? true : false;
}
?> 

<?php if ($exist):?>
    <div class="block widget block-viewed-products-<?= /* @escapeNotVerified */ $mode ?>"> 
        <div class="block-title">
            <strong role="heading" aria-level="2"><?= /* @escapeNotVerified */ $title ?> </strong>
        </div>
        <div class="block-content">
            <?= /* @escapeNotVerified */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @escapeNotVerified */ $mode ?> <?= /* @escapeNotVerified */ $mode ?> recently-viewed" id="recently-viewed">
                <ol class="product-items <?= /* @escapeNotVerified */ $type ?>  owl-carousel"> 
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
						
						<?php
						$product_id = $_item->getData('product_id');
						$product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
                                                 $categoryIds= $product->getCategoryIds();
                        $_imgUrl = '';
                        foreach ($categoryIds as $catId){
                            if($catId == 1 || $catId == 2 || $catId == 3|| $catId == 6 ||$catId == 7)
                                continue;
                            
                            $category = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
                            if($category->getLevel() == 3) {
                                $_outputhelper    = $objectManager->get('Magento\Catalog\Helper\Output');
                                $_imgUrl = $category->getImageUrl();
                                
                            }
                        }
						$zoylo_product_type =  $product->getZoyloSkuGroup(); 
						$pack_type = $product->getDrugType();
						$sellable_flag = $product->getSellableFlag();
				
						if (isset($pack_type) && $pack_type != '' && $pack_type != 'no_selection') {
						  $packtype_url = $mediaurl . 'packtype/' . ucwords(strtolower($pack_type)) . '.png';
						}
				
                            if($_category_config['aspect_ratio'])
                                $productImage = $_imagehelper->init($_item, 'category_page_list')->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productImage = $_imagehelper->init($_item, 'category_page_list')->resize($image_width, $image_height);
								$productImageUrl = $productImage->getUrl();
						
							
								 if (strpos($productImageUrl, 'placeholder') !== false) {
									
									 if($zoylo_product_type == "OTC"){ 
										 if($_imgUrl){
											 $productImageUrl = $_imgUrl;
										 }else{
												$productImageUrl = $mediaurl . 'packtype/OTC.png';       
										 }

									}else if (isset($pack_type) && $pack_type != '' && $pack_type != 'no_selection') { 
										$productImageUrl = $packtype_url;
										}
								   }
                        ?>
						
						
                        <div class="product-item-info">
                            <a href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" class="product-item-photo">
								 <img alt="<?= $block->escapeHtml($_item->getName()) ?>" class="product-image-photo default_image porto-lazyload" src="<?php echo $productImageUrl; ?>" width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>"/>
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                     href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" class="product-item-link">
                                     <?= $block->escapeHtml($_item->getName()) ?>
                                 </a>
                             </strong>
                            <?php $displayPackSize = $product->getDisplayPackSize();
                            if(Isset($displayPackSize) && $displayPackSize !=''){ ?>
                            <span><?php echo $displayPackSize;?></span>
                            <?php }?>
                             <?php /* @escapeNotVerified */ echo $block->getProductPriceHtml(
                                $_item,
                                \Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE,
                                \Magento\Framework\Pricing\Render::ZONE_ITEM_LIST,
                                [
                                    'price_id_suffix' => '-' . $type
                                ]
                            ) ?>
                            <?php if ($rating): ?>
                                <?= $block->getReviewsSummaryHtml($_item, $rating) ?>
                            <?php endif; ?>
                            <?php if ($showWishlist || $showCompare || $showCart): ?>
                                <div class="product-item-actions">
                                    <?php if ($showCart): ?>
                                        <div class="actions-primary">
                                            <?php if ($_item->isSaleable()): ?>
                                                <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                <button class="action tocart primary"
                                                data-mage-init='{"redirectUrl": {"url": "<?= /* @escapeNotVerified */ $block->getAddToCartUrl($_item) ?>"}}'
                                                type="button" title="<?= /* @escapeNotVerified */ __('Add to Cart') ?>">
                                                <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                            </button>
                                            <?php else: ?>
                                                <?php
                                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                ?>
												<?php if($sellable_flag == 1){ ?>
                                                <button class="action tocart primary"
                                                data-post='<?= /* @escapeNotVerified */ $postData ?>'
                                                type="button" title="<?= /* @escapeNotVerified */ __('Add to Cart') ?>">
                                                <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                            </button>
											<?php }elseif($sellable_flag == 2){ ?>
												   <span class="action tocartone tocart primary notfortransform"><?= /* @escapeNotVerified */ __('Discontinued') ?></span>
											<?php }else{ ?>
											<span class="action tocartone tocart primary notfortransform"><?= /* @escapeNotVerified */ __('Not For Sale') ?></span>
											<?php  } ?>
                                        <?php endif; ?>
                                        <?php else: ?>
                                            <?php if ($_item->getIsSalable()): ?>
                                                <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span class="action tocartone tocart primary notfortransform"><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($showWishlist || $showCompare): ?>
                                        <div class="actions-secondary" data-role="add-to-links">
                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                            <a href="#"
                                            class="action towishlist" data-action="add-to-wishlist"
                                            data-post='<?= /* @escapeNotVerified */ $block->getAddToWishlistParams($_item) ?>'
                                            title="<?= /* @escapeNotVerified */ __('Add to Wish List') ?>">
                                            <span><?= /* @escapeNotVerified */ __('Add to Wish List') ?></span>
                                        </a>
                                    <?php endif; ?>
                                    <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                        <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                        <a href="#" class="action tocompare"
                                        data-post='<?= /* @escapeNotVerified */ $compareHelper->getPostDataParams($_item) ?>'
                                        title="<?= /* @escapeNotVerified */ __('Add to Compare') ?>">
                                        <span><?= /* @escapeNotVerified */ __('Add to Compare') ?></span>
                                    </a>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <?= ($iterator == count($items)+1) ? '</li>' : '' ?>
    <?php endforeach ?>
</ol>
</div>
<?= $block->getPagerHtml() ?>
</div>
</div>
<?php endif;?>


<script type="text/javascript">
    require([
        'jquery',
        'owl.carousel/owl.carousel.min'
        ], function ($) {
            $(".recently-viewed .owl-carousel").owlCarousel({
                margin: 30,
                nav: true,
                dots: false,
                items: 1,
                nav: true,
                navText: ["<em class='porto-icon-left-open-huge'></em>","<em class='porto-icon-right-open-huge'></em>"],
                responsive: {
                  0: {
                    items:2
                },
                768: {
                    items:3
                },
                992: {
                    items:3 
                },
                1200: {
                    items:4   
                }
            } 
        });
        }); 
    </script>
	
	<style>
	.notfortransform{text-transform:uppercase;}
	</style>

