@font-family__base: 'Open Sans';

body {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fff;
    font-family: @font-family__base;
    font-size: 13px;
}

.wrapper {
    margin: 0 auto;
}

.wrapper-inner {
    padding: 20px;
    width: 100%;
}

.main {
    margin: 0 auto;
    text-align: left; // Necessary to prevent all text from centering in Outlook 2003
    width: 800px;
    background: #fff;
    padding: 10px;
}

h1 {
    margin-top: 0;
    color: #514943;
}

h2 {
    color: #514943;
    margin: 20px 0 0 0;
    font-weight: normal;

    small {
        color: #857d78;
    }
}

.report__email {
    .interval {
        text-align: right;
        color: #857d78;
        margin-bottom: 5px;
    }

    .table-wrapper {
        margin-bottom: 30px;
        max-width: 800px;
        overflow-x: scroll;

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;

            tr {
                th, td {
                    white-space: nowrap;
                    padding: 1rem;
                    display: table-cell;
                }

                th {
                    background-color: rgb(81, 73, 67);
                    border: 1px solid rgb(138, 131, 127);
                    padding: 1rem;
                    color: #fff;
                }

                td {
                    padding: .8rem 1rem;
                    border-left: 1px dashed rgb(214, 214, 214);
                    border-right: 1px dashed rgb(214, 214, 214);
                }

                &:nth-child(even) {
                    background: rgb(245, 245, 245);
                }
            }
        }
    }

    .value-wrapper {
        margin-bottom: 30px;
        text-align: center;
        font-size: 3.6rem;
    }
}