<fieldset class="fieldset admin__fieldset-wrapper">
    <legend class="legend admin__legend">
        <span><?= $block->escapeHtml($block->getHeaderText()) ?></span>
    </legend>
    <br>

    <div class="form-inline">
        <?= $block->getForm()->toHtml() ?>
    </div>
</fieldset>