<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block discount" id="block-discount" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
    <div class="title" data-role="title">
        <strong id="block-discount-heading" role="heading" aria-level="2"><?= /* @escapeNotVerified */ __('Use Coupon Code') ?></strong>
    </div>
    <div class="content" data-role="content" aria-labelledby="block-discount-heading">

            <div class="fieldset coupon<?= strlen($block->getCouponCode()) ? ' applied' : '' ?>">
                <input type="hidden" name="remove" id="remove-coupon" value="0" />
                <div class="field">
                    <label for="coupon_code" class="label"><span><?= /* @escapeNotVerified */ __('Promo Code') ?></span></label>
                    <div class="control">
                        <input type="text" class="input-text" id="coupon_code" name="coupon_code" value="<?= $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?= $block->escapeHtml(__('Enter discount code ')) ?>" <?php if (strlen($block->getCouponCode())): ?>  <?php endif; ?> />
                    </div>
                </div>
                <div class="actions-toolbar" id="updatediv">
                    <?php if (!strlen($block->getCouponCode())): ?>
                    <div class="primary" >
                        <!--<button class="action apply primary"  type="button" value="<?= /* @escapeNotVerified */ __('Apply Discount') ?>">
                            <span><?= /* @escapeNotVerified */ __('Apply') ?></span>
                        </button>-->
						
                    </div>
                    <?php else: ?>
                        <div class="primary">
						<!--<button id="couponcode_cancel"  type="button" class="action primary" value="<?= /* @escapeNotVerified */ __('Cancel Coupon') ?>"><span><?= /* @escapeNotVerified */ __('Cancel') ?></span></button>-->
                        </div>
                    <?php endif; ?>
                </div>
            </div>
    </div>
</div>
                            
							<div id="couponcode_data" class="action apply primary" style="display:none;">Apply</div>
							<button id="couponcode_cancel" type="button" class="action prim ary" style="display:none;" value="<?= /* @escapeNotVerified */ __('Cancel Coupon') ?>"><span><?= /* @escapeNotVerified */ __('Cancel') ?></span></button>

<style>
#couponcode_data {
    position: absolute;
    right: 15px;
    margin-top: 120px;
    top: 0px;
}
#couponcode_cancel {
    position: absolute;
    right: 15px;
    margin-top: 28px;
	background-color: #faa74a;
    color: #fff;
}
@media only screen and (max-width: 767px){
#couponcode_data {
    position: relative !important;
    right: 0px;
    margin-top:0px !important;
    top: unset !important;; 
    float: right;
    bottom: 37px;
}
#couponcode_cancel {
    position: relative !important;
    right: 0px;
    margin-top:0px !important;
    top: unset !important;; 
	float: right;
    bottom: 37px;
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
#couponcode_data {
    position: relative !important;
    right: 0px;
    margin-top:0px !important;
    top: unset !important;; 
    float: right;
    bottom:83px;
}
#couponcode_cancel {
    position: relative !important;
    right: 0px;
    margin-top:0px !important;
    top: unset !important;; 
	float: right;
    bottom:83px;
}		
}
</style>
 <script>
    require ([
            'jquery'
        ],
        function ($) {
            $(window).on("load", function () {
                require([
                    'I95Dev_AjaxShoppingCartPage/js/cartAjaxCouponcode'
                ]);
            });
        
         });
</script>
