<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart\Grid */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?> 
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?= $block->getChildHtml('form_before') ?>
<div id="coupon-sucesss-msg" style="color:#a2cf62;font-size:15px;"></div>
<div id="coupon-invalid-msg" style="color:red;font-size:15px;"></div>
<div id="coupon-cancel-msg" style="color:#a2cf62;font-size:15px;"></div>

<form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"Magento_Checkout/js/action/update-shopping-cart":
      {"validationURL" : "/checkout/cart/updateItemQty"}
      }'
      class="form form-cart">
          <?= $block->getBlockHtml('formkey') ?>
    <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-top toolbar" data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption role="heading" aria-level="2" class="table-caption"><?= /* @escapeNotVerified */ __('Shopping Cart Items') ?></caption>
            <thead>
                <tr>
                    <th class="col item" scope="col"><span><?= /* @escapeNotVerified */ __('Item') ?></span></th>
                    <th class="col price" scope="col"><span><?= /* @escapeNotVerified */ __('Price') ?></span></th>
                    <th class="col qty" scope="col"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></th>
                    <th class="col subtotal" scope="col"><span><?= /* @escapeNotVerified */ __('Subtotal') ?></span></th>
                </tr>
            </thead>
		<?php 
		if(count($block->getItems()) ==1) {
		foreach ($block->getItems() as $_item) {
			$sku =$_item->getSku();
			if($sku == 'Free'){
			$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
			$redirect->setRedirect($this->getBaseUrl().'uploadprescription/index/index'); 
				}
			}
		}
		?>
            <?php foreach ($block->getItems() as $_item) {
					$product_id = $_item->getProduct()->getData('entity_id');
					$sku =$_item->getSku();
					$productRepository = $objectManager->create('Magento\Catalog\Model\ProductRepository');
					$product = $productRepository->get($sku);
					$prescriptionAction = $product->getPrescriptionRequired(); 
					if($sku!='Free'){
					if(isset($prescriptionAction) && $prescriptionAction == 'required')
						{
							$required[] = $sku;
						}else{
							$notrequired[] = $sku;
						}
					}
			} ?>
           
             <?php
            if (isset($required) && count($required) >= 1) { ?> 
             <tbody class="cart item item-title">
                 <tr><td colspan="5">Prescription Required<span class="item-norms">Prescription Required as per government Norms</span></td></tr></tbody>
            <tbody class="cart item">
               
           <?php     foreach ($block->getItems() as $_item) {
                    $currentSku = $_item->getProduct()->getSku();
                    if (in_array($currentSku, $required)) {
                        ?>
           
                        <?= $block->getItemHtml($_item) ?>
                
                    <?php
                    }
                } ?>
                </tbody><?php } ?> 
            
            
            
            <?php if (isset($notrequired) && count($notrequired) >= 1) { ?>
                <tbody class="cart item item-title">
                 <tr><td colspan='4'>Prescription Not Required</td></tr></tbody>
          <tbody class="cart item">
            
                <?php foreach ($block->getItems() as $_item) {
                      $currentSkus = $_item->getProduct()->getSku();
					  if($currentSkus != 'Free') {
                      if (in_array($currentSkus, $notrequired)) { ?>
                        <?= $block->getItemHtml($_item) ?> 
                <?php
					  } }
                } ?></tbody> 
      <?php  }
        ?>
             
            
        </table>
<?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?></div>
<?php endif ?>
    </div>
    <div class="cart main actions">
<?php if ($block->getContinueShoppingUrl()): ?>
            <a class="action continue"
               href="<?= $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
               title="<?= $block->escapeHtml(__('Continue Shopping')) ?>">
                <span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span>
            </a>
<?php endif; ?>
        <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?= $block->escapeHtml(__('Clear Shopping Cart')) ?>"
                class="action clear" id="empty_cart_button">
            <span><?= /* @escapeNotVerified */ __('Clear Shopping Cart') ?></span>
        </button>
        <button type="submit"
                name="update_cart_action"
                data-cart-item-update=""
                value="update_qty"
                title="<?= $block->escapeHtml(__('Update Shopping Cart')) ?>"
                class="action update">
            <span><?= /* @escapeNotVerified */ __('Update Shopping Cart') ?></span>
        </button>
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </div>
</form>
<?= $block->getChildHtml('checkout.cart.order.actions') ?>
<?= $block->getChildHtml('shopping.cart.table.after') ?>


<script type="text/javascript">
require([
    'jquery','jquery/ui'
], function ($) {

  $(document).ready(function(){
        $(document).on('change', 'input[name$="[qty]"]', function(){
			if($('input[name$="[qty]"]').val() == '0'){
					$('#qty-error').html('Quantity Value Must be greater than Zero');
				}
			});
				   	   
		$('form input[name$="[qty]"]').keydown(function (e) {
			if (e.keyCode == 13) {
					e.preventDefault();
					return false;
				}
		});		   
    });
 });
</script>

 <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('disclaimer')->toHtml(); ?>