<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$symptoms = $objectManager->create('\I95Dev\Symptoms\Model\Config\Source\Options')->getAllOptions();
$saltId = (int) $this->getRequest()->getParam('salt_id');
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
/** @var \I95Dev\Salts\Model\Salt $salt */
$salt = $objectManager->create('I95Dev\Salts\Model\SaltFactory')->create();
if (isset($saltId) && $saltId !='') {
    $salt->load($saltId);
    $selectedSymptoms = explode(",", $salt->getAilments());
//    echo "<pre>";print_r($selectedSymptoms);die;
}
?>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://lab.iamrohit.in/demo/jqyery-bootstrap-multiselect-search/bootstrap-multiselect.css" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="<?php echo $baseUrl;?>pub/static/adminhtml/Magento/backend/en_US/I95Dev_Salts/js/bootstrap-multiselect.js"></script>
<div style="width:100%; margin:0 auto;">
    <h1>Symptoms</h3>


    <select id="multiselectwithsearch" multiple="multiple" name="salt[symptoms][]">

<?php foreach ($symptoms as $ailment) {
    if(!empty($selectedSymptoms)){
    if (in_array($ailment['value'], $selectedSymptoms)) {
        ?>
                <option selected="selected" value='<?php echo $ailment['value']; ?>'> <?php echo $ailment['value']; ?></option>
            <?php } else { ?>
                ?>
                <option value='<?php echo $ailment['value']; ?>'> <?php echo $ailment['value']; ?></option>
            <?php
            }
        }
else { ?>
          <option value='<?php echo $ailment['value']; ?>'> <?php echo $ailment['value']; ?></option>
<?php }
}  ?>
    </select>
    <br />
    <br />

</div>
<script>
    require(['jquery'], function ($) {

        $('#multiselectwithsearch').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search for symptoms...'
        });

    });

</script>
<style>
    .multiselect-native-select .btn-group {
        display: block!important;
    }
    button.multiselect.dropdown-toggle.btn.btn-default {
        white-space: normal;
        text-align: right;
    }
    span.multiselect-selected-text {
        text-align: left;
        float: left;
        color: #000;
    } 
   .admin__scope-old h1 {
    color: #303030;
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
    margin-bottom: 15px;
}   
</style>