<?php 
ini_set('memory_limit','-1');
$helper = $this->helper('I95Dev\QuickOrder\Helper\Data');
$regionList = $helper->getRegion();
$helper1 = $this->helper('I95Dev\UploadPrescription\Helper\Data');
$baseUrl = $helper1->getBaseUrl();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currentuser = $objectManager->create('Magento\Backend\Model\Auth\Session')->getUser()->getUsername();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 

$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey'); 
$host = $_SERVER['HTTP_HOST'];
$adminRouter = $objectManager->get('Magento\Framework\App\AreaList')->getFrontName('adminhtml'); 
$adminUrl = 'https://'.$host .'/'.$adminRouter.'/quickorder/index/createorder/';
$backendSession = $objectManager->create('\Magento\Backend\Model\Session');
$allQuickOrderValues = $backendSession->getQuickOrderValues();
$allQuickOrderValues = json_decode($allQuickOrderValues);
?>

<div class="tab">
    <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'place-order')">Place Order</button>
    <button class="tablinks" onclick="openCity(event, 'order-status')">Order Status</button>

</div>

<div id="order-status" class="tabcontent">
    <h2> Check Order Status</h2>
    <label><b>Order ID :</b></label> <input type="text" name="order_id" value="" id="order_id" placeholder="Enter Order Id">
    <input type="submit" value="Check Status" id="check-status"/>
    <span id='result' name="result" class="result"></span>
    <br><br>
    <h2> Load Previous Orders</h2>
    <label><b>Phone number :</b></label> <input type="number" onKeyPress="if(this.value.length==10) return false;" name="phone_no" value="" id="idphoneno" placeholder="Enter Phone Number">
    <input type="button" value="Load Orders" id="loadprvorders"/>
    <br><br><br>
    <div  id='idorderdetailstable' >
        
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery', 'jquery/ui'
    ], function ($) {
        $(document).ready(function () {
            $('#check-status').click(function () {
                
                if ($(this).val() != '' && $('#order_id').val().length >= 1)
                {
                    $.ajax({
                        url: "<?php echo $this->getUrl('quickorder/index/loadpreviousordersincr'); ?>",
                        type: 'POST',
                        data: {"increment_id": $('#order_id').val()},
                        showLoader: true,
                        success: function (response) {
                            if (response == 'no customer')
                            {
                                alert('Customer does not exists with this phone number.');
                            }
                            else
                            {
                                $("#idorderdetailstable").html(response);
                            }

                        }
                    });
                }
                else
                {
                    alert('Please enter a valid order increment id).');
                }
                
                /*var id = $('#order_id').val();
                $.ajax({
                    url: "<?php echo $baseUrl; ?>quickorder/index/checkstatus",
                    type: 'POST',
                    dataType: 'json',
                    data: {"id": id},
                    success: function (result) {
                        console.log(result.success);
                        if (result.success === 'false') {
                            $('#result').html(result.status);
                        } else {
                            $('#result').html(result.status);
                        }
                    }
                });*/
            });
        });
    });
</script>






<div id="place-order" class="tabcontent">

<form action="<?php echo $this->getUrl('quickorder/index/createorder/');?>" method="post" name="cart-form"
      id="cart-form" enctype="multipart/form-data" >
 <input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey();?>">
        <table class="quicl-order-header">
            <tr>
                <th class="email-text">Customer Mobile Number : </th>
                <td class="customer_mobile" style="float:none;" >        
                    <input type="number" onKeyPress="if(this.value.length==10) return false;" name="mobile" id="mobile" class="mobile-info" value="<?php if (isset($allQuickOrderValues->mobile)) { echo $allQuickOrderValues->mobile; } ?>" required>                  
                </td>
                
                <th class="email-text">Customer Address : </th>
                <td class="customer_mobile" colspan="4" style="float:none;" >        
                    <select  name="customer_address" id="customer_address" style="max-width:400px;" class="mobile-info required-entry" value="" required>   
                        <option value="0" data-pincode="0" >SELECT SHIPPING ADDRESS</option>
                    </select>
                </td>
                
               <th class="email-text">Payment Method : </th>
                <td class="customer_mobile" colspan="4" style="float:none;" >        
                    <select  name="customer_payment_method" id="customer_payment_method" class="mobile-info required-entry" value="" required>   
                        <option value="cashondelivery" <?php if (isset($allQuickOrderValues->customer_payment_method) && $allQuickOrderValues->customer_payment_method == 'cashondelivery' ) echo "selected='true'" ?> >Cash On Delivery</option>
                        <option value="paylater" <?php if (isset($allQuickOrderValues->customer_payment_method) && $allQuickOrderValues->customer_payment_method == 'paylater' ) echo "selected='true'" ?> >Pay Later</option>
                    </select>
                    
                </td>
                <!--<td>
                    <input type="checkbox" id="idsameasship" value="0" /><label for="idsameasship">Billing same as shipping.</label>
                </td>
                <td class="customer_mobile">
                    <select  name="customer_address_bill" id="customer_address_bill" class="mobile-info" value="" required>   
                        <option value="0" >SELECT BILLING ADDRESS</option>
                    </select>
                </td>-->
            </tr>
            <tr id="newcustomer_details">
                <td><div class="field1"><label>First Name</label><input type="text" name="first_name" class="name" id="first_name" placeholder="First Name" value="<?php if(isset($allQuickOrderValues->first_name)) { echo $allQuickOrderValues->first_name; } ?>"  required></div></td>
                <td><div class="field1"><label>Last Name</label><input type="text" name="last_name" class="name" id="last_name" placeholder="Last Name" value="<?php if(isset($allQuickOrderValues->last_name)) { echo $allQuickOrderValues->last_name; } ?>"  required></div></td>
                <td><div class="field1"><label>Email</label><input type="email" name="emailnew" class="emailnew" id="emailnew" placeholder="Enter Email" value="<?php if(isset($allQuickOrderValues->emailnew)) { echo $allQuickOrderValues->emailnew; } ?>"  required></div></td>
                <td><div class="field1"><label>City</label><input type="text" name="city" class="city" id="city" placeholder="Enter City" value="<?php if(isset($allQuickOrderValues->city)) { echo $allQuickOrderValues->city; } ?>"  required></div></td>
                <td><div class="field country field1 ">
                        <label class="label" for="region"><span><?php echo __('Region') ?></span></label>
                        <div class="control">
                            <?php $regionList2 = str_replace('title="State/Province"','title="State/Province" required',$regionList);  ?>
                            <?php if(isset($allQuickOrderValues->region)) { $regionList2 = str_replace('value="'.$allQuickOrderValues->region.'"', 'value="'.$allQuickOrderValues->region.'" selected="true"', $regionList2); } ?>
                            <?php echo $regionList2; ?>
                        </div>
                    </div></td>
                <td><div class="field1"><label>Pincode</label><input type="text" name="pincode" class="pincode" id="pincode" placeholder="Enter Pincode" value="<?php if(isset($allQuickOrderValues->pincode)) { echo $allQuickOrderValues->pincode; } ?>"  required></div></td>
                <td><div class="field1"><label>Street</label> <textarea name="street" class="street" id="street" required><?php if(isset($allQuickOrderValues->street)) { echo $allQuickOrderValues->street; } ?></textarea>  </div> </td>
            </tr>
        </table>

        <div class="quickorderdiv">

            <table class="skucontainer">
                <tr>
                    <th><span class="sku">Name:</span></th>
                    <th><span class="qty">Qty: </span></th>
                    <th><span class="price">Price: </span></th>
                    <th><span class="price">RX Medicine: </span></th>
                    <th><span class="price">Row Total: </span></th>
                    <th><span class="action">Action: </span></th>
                </tr>
                <?php
                
                if(isset($allQuickOrderValues->sku)) {
                $allOrderSkus = $allQuickOrderValues->sku;
                $allOrderSkusCount = 0;
                foreach ($allOrderSkus as $orderSkuKey=>$orderSkuValue){    
                ?>
                <tr class='quicksku'>
                    <td>
                        <input type='text' id="skuname-<?php echo $allOrderSkusCount; ?>" class="skusearch"  name="sku[]" value="<?php echo $allQuickOrderValues->sku[$orderSkuKey]; ?>" incrimetnId="<?php echo $allOrderSkusCount; ?>">
                        <input type='hidden' id="productId-<?php echo $allOrderSkusCount; ?>"  name="productId[]" value="<?php echo $allQuickOrderValues->productId[$orderSkuKey]; ?>">
                    </td>
                    <td><input type="text" id="qty-<?php echo $allOrderSkusCount; ?>" name="qty[]" class="quantity" incrimetnId="<?php echo $allOrderSkusCount; ?>" value="<?php echo $allQuickOrderValues->qty[$orderSkuKey]; ?>" required></td>
                    <td><span id="price-<?php echo $allOrderSkusCount; ?>" name="price-<?php echo $allOrderSkusCount; ?>" class="price"></span></td>
                    <td><span id="rx-<?php echo $allOrderSkusCount; ?>" name="rx-<?php echo $allOrderSkusCount; ?>" class="rx"></span></td>
                    <td><span id="row-total-<?php echo $allOrderSkusCount; ?>" name="row-total[]" class="row-total" incrementId="0"></span></td>
                    <?php if ($allOrderSkusCount > 0 ) { ?> <td><span class="removerow" id="remove_<?php echo $allOrderSkusCount; ?>"><a href="#"><i class="fa fa-times"></i></a></span></td> <?php } ?>
                    <input type="hidden" class="incrementidcls" value="<?php echo $allOrderSkusCount; ?>" />
                </tr>
                <?php 
                $allOrderSkusCount++;
                } } else { ?>
                <tr class='quicksku'>
                    <td>
                        <input type='text' id='skuname-0' class="skusearch"  name="sku[]" incrimetnId="0">
                        <input type='hidden' id='productId-0'  name="productId[]" value="">
                    </td>
                    <td><input type="text" id='qty-0' name="qty[]" class="quantity" incrimetnId="0" required></td>
                    <td><span id='price-0' name="price-0" class="price"></span></td>
                    <td><span id='rx-0' name="rx-0" class="rx"></span></td>
                    <td><span id='row-total-0' name="row-total[]" class="row-total" incrementId="0"></span></td>
                </tr>
                <?php } ?>
            </table>
            <span class="addnewrow"><a href="javascript:void(0);">+ ADD ITEM</a></span>
            <input type="hidden" name="current_user" value="<?php echo $currentuser; ?>">
            <table class="moddile-content-table"><tr><td><b>Upload Prescription Here :</b></td><td><input id="pic" type="file" name="pic[]" multiple="multiple" /></td></tr>
           
                <tr><td><b>Use Coupon Code :</b></td><td><input type="text" name="coupon_code" placeholder="Enter Discount Code" value="<?php if(isset($allQuickOrderValues->coupon_code)) { echo $allQuickOrderValues->coupon_code;} ?>"></td></tr>
            <tr><td><b>Source :</b></td> <td><select class="source" name="source">
                    <option value="" <?php if (!isset($allQuickOrderValues->source)) { echo "selected='true'";} ?>></option>
                    <option value="Facebook" <?php if (isset($allQuickOrderValues->source) && $allQuickOrderValues->source == 'Facebook') { echo "selected='true'";} ?> >Facebook</option>
                    <option value="Google" <?php if (isset($allQuickOrderValues->source) && $allQuickOrderValues->source == 'Google') { echo "selected='true'";} ?> >Google</option>
                    <option value="SMS" <?php if (isset($allQuickOrderValues->source) && $allQuickOrderValues->source == 'SMS') { echo "selected='true'";} ?>>SMS Campaign</option>
                    <option value="offline" <?php if (isset($allQuickOrderValues->source) && $allQuickOrderValues->source == 'offline') { echo "selected='true'";} ?>>Offline Marketing</option>
                    <option value="referral" <?php if (isset($allQuickOrderValues->source) && $allQuickOrderValues->source == 'referral') { echo "selected='true'";} ?>>Employee Referral</option>
                    <option value="CC-Team " <?php if (isset($allQuickOrderValues->source) && $allQuickOrderValues->source == 'CC-Team') { echo "selected='true'";} ?> >Delhi CC Team </option>
                    <option value="Others" <?php if (isset($allQuickOrderValues->source) && $allQuickOrderValues->source == 'Others') { echo "selected='true'";} ?>>Others</option>
            
            </select></td></tr>
                         <tr><td><b>Comments :</b></td><td> <textarea rows="4" cols="50" placeholder="Enter Order Comments" name="comments"><?php if (isset($allQuickOrderValues->comments)) { echo $allQuickOrderValues->comments; } ?></textarea></td></tr>
			</table>
            <input class="quick-order-submit" type="submit" value="Place Order">
        </div>
    </form>
    <!---mobile data post start-->
    <script type="text/javascript">
        require([
            'jquery', 'jquery/ui'
        ], function ($) {
           
            /*$('#idsameasship').on('click',function(){
               
            });
            $('#customer_address_bill').on('change', function(){
               $('#idsameasship').val($(this).val());
            });*/
            $(document).ready(function () {
                $('#mobile').blur(function () {
                    var mobile = $('#mobile').val();
                    $('#newcustomer_details').hide();
                    if (mobile.length >= 10)
                    {
                        $.ajax({
                            url: "<?php echo $this->getUrl('quickorder/index/loadcustomeraddress'); ?>",
                            type: 'POST',
                            data: {"mobile": mobile},
                            showLoader: true,
                            success: function (result) {
                                var selectedAddressId =  "<?php if (isset($allQuickOrderValues->customer_address)){ echo $allQuickOrderValues->customer_address; } ?>";
                                var addressOptions = "<option >SELECT AN ADDRESS</option><option value = 'new' <?php if (isset($allQuickOrderValues->customer_address) && $allQuickOrderValues->customer_address == 'new') echo 'selected'; ?> >NEW ADDRESS</option>";
                                result = JSON.parse(result)
                                if (result.length == 0) // if no address is returned 
                                {

                                }
                                else
                                {
                                    $.each(result, function(result_index, result_element) {
                                        if (result_element.entity_id == selectedAddressId )
                                        {
                                            addressOptions = addressOptions+"<option value = '"+result_element.entity_id+"' data-pincode = '"+result_element.postcode+"' selected='true'  >"+result_element.firstname+' '+result_element.lastname+', '+result_element.street+', '+result_element.city+', '+result_element.region+', '+result_element.postcode+', '+result_element.telephone+"</option>";
                                        }
                                        else
                                        {
                                            addressOptions = addressOptions+"<option value = '"+result_element.entity_id+"' data-pincode = '"+result_element.postcode+"'  >"+result_element.firstname+' '+result_element.lastname+', '+result_element.street+', '+result_element.city+', '+result_element.region+', '+result_element.postcode+', '+result_element.telephone+"</option>";
                                        }
                                    });
                                }
                                //alert(addressOptions);
                                $("#customer_address").empty().append(addressOptions);
                                $("#customer_address_bill").empty().append(addressOptions);
                                if (result.length == 0) // if no address is returned 
                                {
                                    if ($("#mobile").val() != '' && $("#mobile").val().length >= 10)
                                    {
                                        $('#customer_address').val('new');
                                        $('#customer_address').trigger('change');
                                    }
                                }
                                $('#customer_address').trigger('change');
                                /*if (result.success === 'false') {
                                    if (mobile) {
                                        $('#newcustomer_details').show();
                                    }
                                    $('#invalidmobile').html("Mobile Numer Doesn't Exist");
                                    $('#newcustomer_details .field1 select').val('');
                                    $('#newcustomer_details .field1 input[type="text"],#newcustomer_details .field1 input[type="email"]').val('');
                                } else {
                                    $('#invalidmobile').hide();
                                }*/
                            }
                        });
                    }
                    
                });
                
                $('#customer_address').on('change',function(){
                    var pincodeCust = $(this).find(':selected').data('pincode');
                    if($(this).val() == 'new')
                    {
                        $('#newcustomer_details').show();
                        /* code to dynamically add required attributes in case of pre selected address starts*/
                        $('#first_name').attr('required','required');
                        $('#last_name').attr('required','required');
                        $('#street').attr('required','required');
                        $('#emailnew').attr('required','required');
                        $('#city').attr('required','required');
                        $('#state').attr('required','required'); // region
                        $('#pincode').attr('required','required');
                        $('#street').attr('required','required');
                        /* code to dynamically add required attributes in case of pre selected address ends*/
                    }
                    else
                    {
                        $('#newcustomer_details').hide();
                        /* code to dynamically remove required attributes in case of pre selected address starts*/
                        $('#first_name').removeAttr('required');
                        $('#last_name').removeAttr('required');
                        $('#street').removeAttr('required');
                        $('#emailnew').removeAttr('required');
                        $('#city').removeAttr('required');
                        $('#state').removeAttr('required'); // region
                        $('#pincode').removeAttr('required');
                        $('#street').removeAttr('required');
                        /* code to dynamically remove required attributes in case of pre selected address ends*/
                    }
                    
                    if (pincodeCust != null && pincodeCust != "0")
                    {
                        $.ajax({
                            url: "<?php echo $this->getUrl('quickorder/index/validatepincode'); ?>",
                            type:"POST",
                            data: {pincode:pincodeCust},
                            showLoader: true,
                            success:function(response)
                            {
                                alert(response);
                            },
                            fail: function(response)
                            {
                                alert(response);
                            }
                        });
                    }
                            
                        
                   
                    
                });
                
                $('#loadprvorders').on('click',function(){
                    if ($(this).val() != '' && $('#idphoneno').val().length >= 10)
                    {
                        $.ajax({
                            url: "<?php echo $this->getUrl('quickorder/index/loadpreviousorders'); ?>",
                            type: 'POST',
                            data: {"phone_no": $('#idphoneno').val()},
                            showLoader: true,
                            success: function (response) {
                                if (response == 'no customer')
                                {
                                    alert('Customer does not exists with this phone number.');
                                }
                                else
                                {
                                    $("#idorderdetailstable").html(response);
                                }
                                
                            }
                        });
                    }
                    else
                    {
                        alert('Telephone number should be of atleast 10 characters.');
                    }
                    
                });
                
                $('#pincode').on('blur',function(){
                    if($(this).val().length > 3)
                    {
                        $.ajax({
                            url: "<?php echo $this->getUrl('quickorder/index/validatepincode'); ?>",
                            type:"POST",
                            data: {pincode:$(this).val()},
                            showLoader: true,
                            success:function(response)
                            {
                                alert(response);
                            },
                            fail: function(response)
                            {
                                alert(response);
                            }
                        });
                    }
                });
                
                $('#mobile').trigger('blur');
                $('#customer_address').trigger('change');
                setTimeout(function(){
                $(".incrementidcls").each(function(key,value){
                    var increCls = $(this).val();
                    $("#skuname-"+increCls).trigger("blur");
                });
                },100);
            });
        });
    </script>
    <script type="text/javascript">
        require([
            'jquery', 'jquery/ui'
        ], function ($) {
            $(document).ready(function () {
                $(document).on('blur', ".skusearch", function () {
                    // var skuname = $('#skuname').val();
                    var incrementId = $(this).attr("incrimetnId");
                    console.log(incrementId);
                    var skuname = $('#skuname-' + incrementId).val();
                    console.log(skuname);
                    $.ajax({
                        url: "<?php echo $baseUrl; ?>quickorder/index/pricedata",
                        type: 'POST',
                        dataType: 'json',
                        data: {"skuname": skuname},
                        success: function (result) {
                         
                            var price = result.price;                   
                            $('#price-' + incrementId).html(price);
                            $('#rx-' + incrementId).html(result.rx);
                            $('#productId-' + incrementId).val = result.id;
                            $("#qty-"+incrementId).trigger("blur");

                        }
                    });
                });



            });


        });

    </script>
    
    <script type="text/javascript">
        require([
            'jquery', 'jquery/ui'
        ], function ($) {
            $(document).ready(function () {
           $(document).on('blur', ".quantity", function () {
                    var incrementId = $(this).attr("incrimetnId");
                    var qty = $('#qty-' + incrementId).val();
                    var price = document.getElementById('price-'+ incrementId).innerText;
                    var rowTotal = qty * price;
                    document.getElementById('row-total-'+ incrementId).innerText = rowTotal;
                    $('#row-total' + incrementId).html(rowTotal);
                });
         });
        });

    </script>
    
    
                
    <!---sku_name data post end-->
    <?php
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$collection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$collection->addAttributeToSelect('name')->addFieldToFilter('status', array('eq' => 1))->load();
//$collection->getSelect()->limit(10);
$names = [];
foreach ($collection as $products) {
    if ($products->getData('display_pack_size') != '')
    {
       $names[] = $products->getName()." -- ".$products->getData('display_pack_size');        
    }
    else
    {
       $names[] = $products->getName();    
    }

}
json_encode($names); 
    $names1 = array("1Mile Adult Diaper", "1Mile Disposable 3 Ply Face Mask", "1Mile Examination Gloves", "1Mile Rigid Strapping 10cm Crepe bandage", "1Mile Rigid Strapping 15cm Crepe bandage", "1Mile Rigid Strapping 6cm Crepe bandage", "1Mile ST01 Deluxe Stethoscope", "24 Mantra Organic 200gm Flax Seeds", "24 Mantra Organic Himalayan 500gm Multiflower Honey", "24 Mantra Organic Wheat 100gm Grass Powder", "25Oxy 6ml Oral Solution", "36 D 60K Capsule", "3M 1110 Corded Foam Noise Reduction Earplugs", "3M 1530-0 Micropore 1.25cm Surgical Tape", "3M 1530-1 Micropore 2.5cm Surgical Tape", "3M 1530-2 Micropore 5cm Surgical Tape", "3M 1530-3 Micropore 7.5cm Surgical Tape", "3M 1570-1 Reusable Cold \/ Hot Pack", "3M 1870 N95 Particulate Respirator and Surgical Mask", "3M 8210 Particulate Respirator Mask", "3M 9003INP P1 BIS Particulate Respirator Mask", "3M 9004GV Particulate Respirator Mask", "3M 9004IN Particle Respirator Mask (Pack OF 10)", "3M 9004IN Particle Respirator Mask (Pack OF 5)", "3M 9004V Particulate Respirator Mask", "3M 9504IN Particulare Respirator Mask", "3M 9504-INV-P P2 Respirator Mask", "3M Avagard CHG Handrub 500ml Antiseptic Solution", "3M Avagard Handrub 500ml Antiseptic Solution", "3M Crepe bandage 10cm", "3M Crepe bandage 15cm", "3M Elastic Adhesive Bandage 10cm x 1\/1.5m", "3M Elastic Adhesive Bandage 10cm x 4\/6m", "3M Littmann Cardiology IV Stethoscope", "3M Littmann Classic II Pediatric Stethoscope, Navy Blue Tube, 28 inch, 2123", "3M Littmann Classic III Stethoscope, Copper-Finish Chestpiece, Chocolate Tube, 27 inch, 5809", "3M Littmann Classic III Stethoscope, Rainbow-Finish, Caribbean Blue Tube, 27 inch, 5807", "3M Monitoring Electrode with Foam Backing", "3M N95 8000 Particle Respirator Mask", "3M N95 8210 Particulate Respirator Mask", "3M N95 9010 Particulate Respirator Mask", "3M Skin Prep 10% Solution", "3M Standard Tie-On Mask", "3M Tegaderm HP 8526IN (10 X 12) cm", "3M Tegaderm HP+ Pad 8589IN", "3M Transpore 1527-1, 1 inch x 10 yard", "3M Transpore 1527-2, 2 inch x 10 yard", "3M Transpore 1527-3, 3 inch x 10 yard", "4G Pine Capsule", "9M Infrared Thermometer", "9M Nebulizer Kit", "9M Oral Thermometer", "9M Oval Thermometer", "Aadar Herbals Re-Lax 100GM Powder", "Accare 100ml Face Wash", "Accare 75GM Soap", "Accu-Chek Softclix Lancing Device with 50 Active Strips & 25 Lancets", "Accu-Chek Active Kit with 50 extra Active Strips", "Accu-Chek Combo of Instant S Blood Glucose Meter and 50 Instant Test Strips with Free 10 Instant Test Strips", "Accu-Chek Softclix Lancing Device", "Accura 15gm Gel", "AccuSure Advanced Features BP Monitor TD-1209 New with Adapter", "AccuSure E-1 Tennis Elbow Wrap Neoprene", "AccuSure E-3 Elastic Tennis Elbow Support", "AccuSure Gold Blood Glucose Test Strip", "AccuSure Nebulizer ML", "AccuSure Simple Blood Glucose Meter with 25 Test Strips", "AccuSure Simple Blood Glucose Test Strip", "AccuSure W-4 Elastic Wrist Brace With Thumb", "Accumass Capsule", "Accumass Combo of Accumass Weight Gain Granules 525gm & Accumass Weight Gain Capsule 60", "Accumass 525gm Granules", "Aclaim 70gm Toothpaste", "Acne-UV Spf 30 Gel 60GM", "Acne-Aid 1000gm Bar", "Acne-Aid Wash 60gm Facial Cleansing Foam", "Acneguard 75gm Soap", "Acnelak 100ml Face Wash", "Acnelak 75gm Soap", "Acnelak 30gm UV Cream", "Acnemoist 60gm Cream", "Acnerex 75gm Soap", "Acnestar -2.5% 75gm Soap", "Acnethro 100gm Soap", "Acne UV Spf 30  60gm Gel", "Acnex  75gm Bar", "Acnezyl 10gm Cream", "Acnedor 75gm Soap", "Acneguard 50gm Face Wash Gel", "Acnoff Anti-Acne 100gm Bar", "Acnid 100ml Lotion", "Acnil 75gm Soap", "Acnin Acne Face Wash", "Acnin 50gm Face pack", "Acrofy 50gm Lotion", "Activkids Immuno 2-3 Yrs Boosters(Choco Bites)", "Activkids Immuno 4-6 Yrs Boosters (Choco Bites)", "Activkids Immuno 7+yrs Boosters(Choco Bites", "Acwash 100ml Face Wash", "Aczip 75gm Soap", "Adcross SPF 50 100ml Sunscreen Lotion", "A-Derma Epitheliale A.H 35ml Cream", "A-Derma Exomega Emollient 50ml Cream", "A-Derma Soothing Foaming 100ml Gel", "ADEL 1 Apo-Dolor 20ml Drop", "ADEL 10 Deasth 20ml Drop", "ADEL 11 Defaeton 20 mlDrop", "ADEL 12 Dercut 20ml Drop", "ADEL 13 Fattex 20ml Drop", "ADEL 14 Ferrodona 20ml Drop", "ADEL 15 Fluofin 20ml Drop", "ADEL 16 Gastul 20ml Drop", "ADEL 17 Glautaract 20ml Drop", "ADEL 18 Glucorect 20ml Drop", "ADEL 19 Lassitul 20ml Drop", "ADEL 2 Apo-Ham 20ml Drop", "ADEL 20 Proaller 20ml Drop", "ADEL 21 Proscenat 20ml  Drop", "ADEL 23 Ricura 20ml Drop", "ADEL 24 Septonsil 20ml Drop", "ADEL 25 Somcupin 20ml Drop", "ADEL 26 Oss-Regen 20ml Drop", "ADEL 27 Inflamyar 20ml Drop", "ADEL 28 Plevent 20ml Drop", "ADEL 29 Akutur 20ml Drop", "ADEL 3 Apo-Hepat 20ml Drop", "ADEL 31 Upelva 20ml Drop", "ADEL 32 Opsonat 20ml Drop", "ADEL 33 Apo-Oedem 20ml Drop", "ADEL 34 Ailgeno 20ml Drop", "ADEL 36 Pollon 20ml Drop", "ADEL 38 Apo-Spast 20ml Drop", "ADEL 39 Apo-Sciatica 20ml Drop", "ADEL 40 and ADEL 86 Kit", "ADEL 40 Verintex 20ml Drop", "ADEL 43 Cardinorma 20ml Drop", "ADEL 44 Venorbis 20ml Drop", "ADEL 48 Itires 20ml Drop", "ADEL 49 Apo-Enterit 20ml Drop", "ADEL 5 Apo-Stom 20ml Drop", "ADEL 51 Psy-Stabil 20ml Drop", "ADEL 54 Cangust 20ml Drop", "ADEL 6 Apo-Strum 20ml Drop", "ADEL 61 Supren 20ml Drop", "ADEL 69 Clauparest 20ml Drop", "ADEL 7 Apo-Tuss 20ml Drop", "ADEL 73 Mucan 20ml Drop", "ADEL 75 Inflamyar 35gm Ointment", "ADEL 78 Dercut 35gm Ointment", "ADEL 8 CO-Hypert 20ml Drop", "ADEL 83 Bronchi-Pertu 150ml Syrup", "ADEL 85 Neu-Regen 250ml Tonic", "ADEL 86 Verintex N External 20ml Drop", "ADEL 87 Apo-Infekt 20ml Drop", "ADEL 9 Cri-Regen 20ml Drop", "ADEL Aalserum 20ml Mother Tincture", "ADEL Acid Fluoric 10ml Dilution 200CH", "ADEL Acid Lactic 10ml Dilution 200CH", "ADEL Acid Nit10ml Dilution 1000CH", "ADEL Acid Phos 20ml Mother Tincture", "ADEL Acid Phosphoric 10ml Dilution 200CH", "ADEL Aconitum Napellus 10ml Dilution 30CH", "ADEL Actaea Spi 10ml Dilution 30CH", "ADEL Aesculus Hippocastanum 10ml Dilution", "ADEL Agaricus M Dilution", "ADEL Agnus Cast Dilution", "ADEL Agnus Cast Mother Tincture", "ADEL Aletris F Mother Tincture", "ADEL Alfalfa Mother Tincture", "ADEL Alfalfa 100ml Tonic with Ginseng", "ADEL Aloe Soc 10ml Dilution", "ADEL Alumen 10ml Dilution 200CH", "ADEL Alumina 10ml Dilution 30CH", "ADEL Ammonium Carbonicum 10ml Dilution 200CH", "ADEL Amylenum Nitrosum 20ml Mother Tincture", "ADEL Anacardium Orientale Trituration Tablet", "ADEL Anti Allergic Combo (ADEL 20 + Kalium Bichromicum Dilution)", "ADEL Anti Sciatica Combo (ADEL 39 + Magnesium Phosphoricum Biochemic Tablet)", "ADEL Anti-Allergic Combo (ADEL 23 + Kalium Bichromicum Dilution 200 CH)", "ADEL Anti-Cholestrinum Combo (ADEL 28 + Cholesterinum Trituration Tablet 3X)", "ADEL Antim Crud 10ml Dilution", "ADEL Anti-Migraine Combo (ADEL 1 + Magnesium Phosphoricum Biochemic Tablet 6X)", "ADEL Antimonium Tartaricum 10ml Dilution 200CH", "ADEL Anti-Obesity Combo (ADEL 13 + Fucus Ves Mother Tincture)", "ADEL Anti-Psoriasis Combo (ADEL 12 + Graphites Dilution 1000 CH + ADEL 78)", "ADEL Apis Mellifica 10ml Dilution 30CH", "ADEL Arnica 10ml Dilution 200CH", "ADEL Arnica Montana 20ml Mother Tincture", "ADEL Ars Brom 10ml Dilution", "ADEL Arsenic Iod Dilution", "ADEL Arsenicum Album Dilution", "ADEL Arundo Mauritanica 10ml Dilution 30CH", "ADEL Ashwagandha Mother Tincture", "ADEL Avena Sat 10ml Dilution 200CH", "ADEL Avena Sat Mother Tincture", "ADEL Baptisia T Dilution", "ADEL Baryta Carb 10ml Dilution 1000CH", "ADEL Baryta Iod 10ml 'Dilution", "ADEL Baryta Mur 10ml Dilution 30CH", "ADEL Belladonna Dilution", "ADEL Berb Vul 10ml Dilution 30CH", "ADEL Berberis Vulg 20ml Mother Tincture", "ADEL Bio-Combination 10 Tablet 20GM", "ADEL Bio-Combination 11 Tablet 20GM", "ADEL Bio-Combination 13 Tablet 20GM", "ADEL Bio-Combination 15 Tablet 20GM", "ADEL Bio-Combination 16 Tablet 20GM", "ADEL Bio-Combination 17 Tablet 20GM", "ADEL Bio-Combination 18 Tablet 20GM", "ADEL Bio-Combination 19 Tablet 20GM", "ADEL Bio-Combination 20 Tablet 20GM", "ADEL Bio-Combination 23 Tablet 20GM", "ADEL Bio-Combination 25 Tablet 20GM", "ADEL Bio-Combination 4 Tablet 20GM", "ADEL Bio-Combination 5 Tablet 20GM", "ADEL Bio-Combination 6 Tablet 20GM", "ADEL Bio-Combination 7 Tablet 20GM", "ADEL Bio-Combination 8 Tablet 20GM", "ADEL Borax 10ml Dilution 200CH", "ADEL Bothrops 10ml Dilution 30CH", "ADEL Bryonia Dilution", "ADEL Bufo Rana 10ml Dilution 1000CH", "ADEL Calcarea Carbonica 10ml Dilution 200CH", "ADEL Calcarea Fluor Biochemic 20gm Tablet", "ADEL Calcarea Fluorica Dilution", "ADEL Calcarea Phosphorica 20gm Tablet", "ADEL Calendula 10ml Dilution", "ADEL Calendula 20ml Mother Tincture", "ADEL Cantharis Vesicatoria 20ml Mother Tincture", "ADEL Carbo Veg 10ml Dilution", "ADEL Causticum 10ml Dilution", "ADEL Chamomilla 10ml Dilution", "ADEL Chelidonium 10ml Dilution");
    $sku_col_json = json_encode($names);
    ?>
    <script type="text/javascript">
        require([
            'jquery', 'jquery/ui'
        ], function ($) {
            <?php if(isset($allQuickOrderValues->sku)) { ?>
            var j = "<?php echo count($allQuickOrderValues->sku); ?>"; 
            <?php } else { ?>;
            var j = 0;
            <?php } ?>
            jQuery(document).on('click', '.addnewrow', function () {
                j = j+1;
                $(".skucontainer").append(
                        '<tr class="quicksku">'
                        + '<td>'
                        + '<input type="text" id="skuname-' + j + '" name="sku[]" class="skusearch" incrimetnId="' + j + '" required>'
                        + ' <span id="searchresults-' + j + '"></span>'
                        + '</td>'
                        + '<td><input type="text" id="qty-' + j + '" name="qty[]" class="quantity" incrimetnId="' + j + '" required ></td>'
                        + '<td><span id="price-' + j + '" name="price-0" class="price"></span></td>'
                        + '<td><span id="rx-' + j + '" name="rx-0" class="rx"></span></td>'
                        + '<td><span id="row-total-' + j + '" name="row-total-0" class="row-total" incrementId="' + j + '"></span></td>'
                        + '<td><span class="removerow" id="remove_' + j + '"><a href="#"><i class="fa fa-times"></i></a></span></td>'
                        + '</tr><input type="hidden" id="productId-' + j + '"  name="productId[]">'
                        );
            });
            $(document).on("click", ".removerow", function () {
                $(this).closest('tr').remove();
            });
            $(document).ready(function () {
                $(document).on('keyup', ".skusearch", function () {
                    var availableTags = <?= $sku_col_json; ?>;
                    $(".skusearch").autocomplete({
                        autoFocus: true,
                        source: availableTags,
                        minLength: 3
                    });

                });

            });
        });
    </script>
</div>
<script type="text/javascript">
    document.getElementById("defaultOpen").click();

    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<style>
.order-status-data
{
    border-left: 1px solid #a6a6a6;
    padding: 0 1rem;
    list-style-type: none;
}

.ul-list-quickorder
{
    list-style-type: none;
}
</style>
<?php
$backendSession->unsQuickOrderValues();
?>