<style>
  .uploadprescription-index-save .modal-dialog button.btn.btn-default {
    position: relative;
    top: 0px;
    right: 0;
    color: #fff!important;
    font-size: 24px!important;
    font-weight: 700;
    transition: .3s;
    opacity: 1!important;
    float: right;
    border: 0;
    background: transparent;
    font-family: DINPRo-Bold; 
}
</style>
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');

if ($customerSession->isLoggedIn()) {
 $customerid = $customerSession->getCustomer()->getId();
 ?>
 <script type="text/javascript">
  require([
    'jquery'
    ], function ($) {
      $(document).ready(function () {
      //  $('input:checkbox').removeAttr('checked');
      });
    });
  </script>
  <?php 
// get base url
  $baseurl = $this->helper('I95Dev\UploadPrescription\Helper\Data');
  $url = $baseurl->getBaseUrl();
  ?>

  <?php
// get cart items

  $cart = $objectManager->get('\Magento\Checkout\Model\Cart');
// Only Upload flow
  if(!isset($_GET['rx'])){
    // retrieve quote items count
    $allItems = $cart->getQuote()->getAllItems();
    $cart_items_count = count($cart->getQuote()->getAllItems());
    if (count($allItems) > 0) {
      foreach ($allItems as $item) {
       $itemId = $item->getItemId();
       $cart->removeItem($itemId)->save();
     }
   }
 }
// Checkout flow
 if(isset($_GET['rx']) && $_GET['rx'] == 1){
   $allItems = $cart->getQuote()->getAllItems();
   $cart_items_count = count($cart->getQuote()->getAllItems());
   if (count($allItems) == 0) {
     $product = $objectManager->get('Magento\Catalog\Model\ProductRepository')->get('Free');
     $formKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
     $params = array(
       'form_key' => $formKey,
       'product' => $product->getId(),
       'qty' => 1
     );

     $cart = $objectManager->get('\Magento\Checkout\Model\Cart')->addProduct($product, $params);
     $cart->save();
     $cart->setCartWasUpdated(true); 
   }

 }
 ?>
 <!-- Main Content-->
 <div class="container-fluid upload-prescription-content">
  <!-- Upload Prescription -->
  <div class="container height100">
    <div class="row">
      <div class="col-sm-12 col-md-8 order-2 order-md-1">  
        <div id="successMessage" class="successMessage" style="display:none;">   
         <font color="green">
          Prescription Deleted successfully !
        </font>
      </div>


      <div class="file_upload"> 
       <!--  <h2>Attach your Prescription</h2> --> 
       <form action="<?php echo $url; ?>uploadprescription/index/upload" class="dropzone" method="post" enctype="multipart/form-data">
        <div class="dz-message needsclick">
          <label class="choose-prescription-file">Choose Prescription File</label><input type="file" class="up" name="up" value="choose files">
        </div>
        <div class="attach-file"></div>
      </form>		

      <!-- Recently uploaded prescriptions -->    
      <!--<button id="loadbasic">basic load</button>-->	  
      <div class="latest-prescriptions" id="latest-prescriptions">       
        <?php
// Get Customer Prescriptions
        $blockObj = $block->getLayout()->createBlock('I95Dev\UploadPrescription\Block\Index\Index');
        $collection = $blockObj->getPrescriptions($customerid);
        if(count($collection)>0) {
         ?>
         <div id="recently-uploadeded-files">
          <form action="<?php echo $url ?>uploadprescription/index/specify" method="post" id="uploadtargets" name="uploadtargets">
            <div class="recently-uploadeded">
              <div class="row">
                <div class="col-sm-12 uploaded-prescriptions">  
                  <div class="prescription-list  d-md-block">
                    <p class="recently-border">Select from recently uploaded prescriptions</p>   

                    <div class="card-list" id="mine">
                      <?php   foreach ($collection as $item) { ?> 

                        <div class="card plain-card">
                          <div class="card-body">     
                            <div class="presc-main-content">
                              <div class="checkbox-container">

                                <?php
                                $timeInserted = $item->getCreatedDate(); 
                                $timeNow = date('Y-m-d H:i:s', time());
                                $date1Timestamp = strtotime($timeNow);
                                $date2Timestamp = strtotime($timeInserted);
                                $difference = $date1Timestamp - $date2Timestamp;
                                if ($difference < 60) { 
                                  $checked = 'checked';
                                } else {
                                  $checked = '';
                                }
                                ?>
                                <label class="containerbox"> 
                                  <div class="custom-checkbox">
                                    <input type="checkbox" name="checkboxvar[]" <?php echo $checked; ?> class="case" value="<?php echo $item->getPrescriptionId(); ?>">
                                    <span class="checkmark">
                                    </span>
                                  </div> 
                                </label>
                              </div>  


                              <div class="presc-image">
                                <?php
                                $filepath = $item->getValue();
                                $needle = ".pdf";
                                if (strpos($filepath, $needle) !== false) {
                                  ?>
                                  								  
<img data-toggle="modal" data-target="#myModals<?php echo $item->getPrescriptionId(); ?>" alt="" width="300" height="200" src="<?php echo $url."pub/media/packtype/pdf-icon.png"; ?>"/>

<!-- Modal -->
<div class="modal fade" id="myModals<?php echo $item->getPrescriptionId(); ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <button type="button" class="btn btn-default" data-dismiss="modal">X</button> 
    <div class="modal-content">
      <div class="modal-body">
        <div style="text-align: center;"><iframe src="<?php echo $item->getValue(); ?>" style="width:500px; height:500px;" frameborder="0"></iframe>
		</div>
      </div>
    </div>
  </div>
</div>
                                <?php } else { ?>

                                  <img class="myImg" alt="<?php echo $item->getData('prescription_name'); ?>" width="300" height="200" src="<?php echo $item->getValue(); ?>"/>
                                  <!-- The Modal -->
                                  <div id="myModal" class="modal">

                                   <!-- The Close Button -->
                                   <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                                   <!-- Modal Content (The Image) -->
                                   <img class="modal-content" id="img01">
                                 </div>
                                 <!--end-->
                                 <script>

			//start
			
      var modal = document.getElementById("myModal");
			//alert('test'+modal);
      var i;

      var img = document.getElementsByClassName("myImg");
      var modalImg = document.getElementById("img01");

      for(i=0;i< img.length;i++)
      {    
        img[i].onclick = function(){

          modal.style.display = "block";
          modalImg.src = this.src;

        }
      }

      var span = document.getElementsByClassName("close")[0];


      span.onclick = function() { 
       modal.style.display = "none";
     }
//end
</script>


<!--<span class="upload-large" style="disply:none;"><img class="upload-large-img" alt="<?php echo $item->getData('prescription_name'); ?>"  src="<?php echo $item->getValue(); ?>"/></span>-->  

<?php } ?>

<input type="button" class="delete_prescription" value="Remove" onclick="ajaxFunction(<?php  echo $item->getData('prescription_id'); ?>);"> 
</div>


<div class="presc-details"><?php echo $item->getData('created_date'); ?></div>
</div>

</div>
</div>

<?php } ?>
</div>

</div>
<div class="continue-button">
  <?php if(!isset($_GET['rx'])){ ?>
    <button  id="continue" type="submit" class="btn btn-secondary upload-continue" >Continue</button> 

  <?php } else { ?>
    <button formaction="<?php echo $block->getUrl('checkout', ['_secure' => true]); ?>" id="upload-continues" type="submit" class="btn btn-secondary upload-continue">Continue</button> 
  <?php }  ?>
</div>
<div id='loadingmessage' style='display:none'><img src='<?php echo $url;?>pub/media/wysiwyg/64x64.gif'/></div>
</div>
</div>
</div>
</form>
</div>

<?php }  ?>

</div>
</div>  
<!-- Recently -->  
</div>


<!-- Upload Steps -->
<div class="col-md-4 col-sm-12 order-1 order-md-2"> 
  <div class="upload-widget-container">   

    <div class="container">
      <div class="row"> 
        <ul class="col d-flex">
          <li class="col p-0 widget-active"><i class="widget-icon"><span>01</span></i><p>Upload your<br />Prescription</p></li>   
          <li class="col p-0 widget-unactive"><i class="widget-icon"><span>02</span></i><p>Specify <br />Medicines</p></li>
          <li class="p-0 widget-unactive"><i class="widget-icon"><span>03</span></i><p>Place your <br />Order</p></li> 
        </ul>
      </div>
    </div>
  </div>
  <div class="guidelines-block">
    <h6>Valid Prescription Guidelines</h6>
    <ul>
      <li>Upload full and clear image of the prescription with doctor details , patient details, prescription date and dosage details.</li>
      <li>Don’t crop Prescription image</li>
      <li>Don’t add a blurred image of prescription</li>
      <li>File formats supported: JPEG / PNG / PDF. </li>
      <li>File size should not exceed 10MB.</li>  
    </ul>
  </div>
  <p class="require-valid-prescription">Government regulations require a valid prescription</p>
</div>
<!-- Upload Steps-->

</div>
</div>
</div> 

<script type="text/javascript">
	require([
		'jquery'
		], function ($) {
			$(document).ready(function () {
				// $('.upload-continue').attr("disabled", true);
				var requiredCheckboxes = $("input[name='checkboxvar[]']");
				requiredCheckboxes.change(function () {
					if (requiredCheckboxes.is(':checked')) {
						$('.upload-continue').attr("disabled", false);
					} else {
						$('.upload-continue').attr("disabled", true);
						
					}
				});
					
				if (requiredCheckboxes.is(':checked')) {
					$('.upload-continue').attr("disabled", false);
				} else {
					$('.upload-continue').attr("disabled", true);
					
				}

			});			
		});
  </script>
  

  <script type="text/javascript">

    function ajaxFunction(prescription_id) {

      if (confirm('Are you sure you want to delete this?')) {

       require([
        'jquery'
        ], function ($) {

          $.ajax({

				url:"<?php echo $url; ?>uploadprescription/index/delete", //the page containing php script
				type: "POST", //request type
				dataType: 'json',
				data: {"prescription_id": prescription_id},
				success: function (result) {
					console.log(result);

					if (result.success === 'true') {
						$(".successMessage").show();
						setTimeout(function() { $(".successMessage").hide(); }, 3000);
						$("#latest-prescriptions").load(" #latest-prescriptions");
                                                $('#loadingmessage').show(); 
						window.location.reload();
					} else {
						$('.successMessage').css('display','none');
					}
				}

			});

        });
     }
   }
 </script>
<?php }else{
	// customer not login
	//$url = urldecode("https://".$_SERVER['HTTP_HOST']."/login?redirect=/medicines/uploadprescription/index/save/");
	//header("Location: $url");exit;
} ?> 