<?php
//get base url
$baseurl = $this->helper('I95Dev\UploadPrescription\Helper\Data');
$url = $baseurl->getBaseUrl();

// get cart items
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cart = $objectManager->get('\Magento\Checkout\Model\Cart');


    
    if(!isset($_GET['rx'])){
    // retrieve quote items count
    $allItems = $cart->getQuote()->getAllItems();
     $cart_items_count = count($cart->getQuote()->getAllItems());
		if (count($allItems) > 0) {
			foreach ($allItems as $item) {
				$itemId = $item->getItemId();
				$sku = $item->getSku();
				$product = $objectManager->get('Magento\Catalog\Model\ProductRepository')->get($sku);
				$required = $product->getPrescriptionRequired();
				$cart->removeItem($itemId)->save();
				
			}
		}
    }
//	 if(isset($_GET['rx']) && $_GET['rx'] == 1){
//		  $product = $objectManager->get('Magento\Catalog\Model\ProductRepository')->get('Free');
//            $formKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
//            $params = array(
//                'form_key' => $formKey,
//                'product' => $product->getId(),
//                'qty' => 1
//            );
//
//            $cart = $objectManager->get('\Magento\Checkout\Model\Cart')->addProduct($product, $params);
//            $cart->save();
//            $cart->setCartWasUpdated(true);
//	 }
    ?>

    <!-- Main Content-->
    <div class="upload-prescription-content">
        <!-- Upload Prescription -->
        <div class="container height100">
            <div class="row height100">

          
                
                <div class="col-md-4 col-sm-12 order-2 order-md-1">
                    <div class="upload-process d-md-block">
                        <ul class="upload-flow-list d-lg-flex align-items-start justify-content-between ">
                            <li>
                                <div class="deliver-block">
                          <i class="zoylo-icon upload-your-prescription"></i>
                <span class="zoylo-icon-caption">
                 <h3>01.</h3>
                Upload Your <br>Prescription</span>
                </div>
                            </li>
                            <li>
                                <div class="deliver-block">
                          <i class="zoylo-icon call-confirm"></i>
                <span class="zoylo-icon-caption">
                  <h3>02.</h3>
                We Will Call  <br>You to Confirm</span>
                         </div>
                            </li>
                            <li>
                                <div class="deliver-block">
                            <i class="zoylo-icon delivery-doorstep"></i>

                             <span class="zoylo-icon-caption">
                            <h3>03.</h3>
                                Get Delivery <br>at Doorstep</span>
                         </div>
                            </li>
                        </ul>
                    </div>
                    <div class=" custom-card card plain-card mb-0">
                        <div class="card-body">
                            <h5>Problems uploading prescription?<br>
                                No worries!! Let us help you</h5>
                            <p class="any-assistance"><a href="https://book.zoylo.com/prescription/">Call 1800-3000-5454 for any assistance</a></p>
                           <p class="or">Or</p>
                           <button  id="callmeback"><a href="https://book.zoylo.com/prescription/">Call Me Back</a></button>                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8  order-1 order-md-2">


                    <script type="text/template" id="qq-template-manual-trigger">
                        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                        </div>
                        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                        <span class="qq-upload-drop-area-text-selector"></span>
                        </div>
                        <h3 class="drag-drop">Drag & Drop Your Prescription</h3>     
                        <h3>Or</h3>
                        <div class="buttons">

                        <div class="qq-upload-button-selector qq-upload-button">
                        <div>Choose File</div> 
                        </div>
                        <button type="button" id="trigger-upload" class="btn btn-primary">
                        <i class="icon-upload icon-white"></i> Upload Selected Files
                        </button>
                        </div>
                        <span class="qq-drop-processing-selector qq-drop-processing">
                        <span>Processing dropped files...</span>
                        qq-uploader-selector        <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                        </span>
                        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                        <li>
                        <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                        </div>
                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                        <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                        <span class="qq-upload-size-selector qq-upload-size"></span>
                        <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                        <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                        <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                        </li>
                        </ul>

                        <dialog class="qq-alert-dialog-selector">
                        <div class="qq-dialog-message-selector"></div>
                        <div class="qq-dialog-buttons">
                        <button type="button" class="qq-cancel-button-selector">Close</button>
                        </div>
                        </dialog>

                        <dialog class="qq-confirm-dialog-selector">
                        <div class="qq-dialog-message-selector"></div>
                        <div class="qq-dialog-buttons">
                        <button type="button" class="qq-cancel-button-selector">No</button>
                        <button type="button" class="qq-ok-button-selector">Yes</button>
                        </div>
                        </dialog>

                        <dialog class="qq-prompt-dialog-selector">
                        <div class="qq-dialog-message-selector"></div>
                        <input type="text">
                        <div class="qq-dialog-buttons">
                        <button type="button" class="qq-cancel-button-selector">Cancel</button>
                        <button type="button" class="qq-ok-button-selector">Ok</button>
                        </div>
                        </dialog>
                        </div>
                    </script>
                </div>


            </div></div></div>



    <style>
        .or{width: 40%;text-align: center;font-weight:bold;font-size:14px;}
        
        #callmeback{color:#fff;background-color: #faa74a;font-size: 14px;background-image: none;border-color: #faa74a;}
        #callmeback a{color:#fff;}

        #loading {
            border: 1px solid red;
        }

        #loader {
            background: url('<?php echo $url; ?>pub/media/prescription/placeholders/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
        }
        #trigger-upload {
            color: white;
            background-color: #faa74a;
            font-size: 14px;
            background-image: none;
            border-color:#faa74a;
        }

        #fine-uploader-manual-trigger .qq-upload-button {
            margin-right: 15px;
            text-transform: uppercase;
        }

        /*#fine-uploader-manual-trigger .buttons {
            width: 36%;
        }*/

        #fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
            width: 60%;
        }
        input[type="radio"], input[type="checkbox"]{opacity:1;z-index:1;}

        /* checkbox button */
        .containerbox {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            /*font-size: 22px;*/
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .containerbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .containerbox:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .containerbox input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .containerbox input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .containerbox .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
<div id="fine-uploader-manual-trigger"></div>    <div id="recently">
        <?php
        $objmanager = \Magento\Framework\App\ObjectManager::getInstance();
        $customerSession = $objmanager->create('Magento\Customer\Model\Session');
        if ($customerSession->isLoggedIn()) {
            $customerid = $customerSession->getCustomer()->getId();
            // get Customer Prescriptions
            $blockObj = $block->getLayout()->createBlock('I95Dev\UploadPrescription\Block\Index\Index');
            $collection = $blockObj->getPrescriptions($customerid);
            ?>
            <form action="<?php echo $url ?>uploadprescription/index/specify" method="post" id="uploadtargets" name="uploadtargets">
                <div class="recently-uploadeded">
                    <div class="col-md-8 col-sm-12 order-1 order-md-2 uploaded-prescriptions">
                        <div class="prescription-list  d-md-block">
                            <p class="recently-border font14 font-medium m-0">Recently uploaded prescriptions</p>
                            <div class="card-list d-flex align-items-center justify-content-between flex-wrap">
                                <?php
                                ?>
                                <?php
                                foreach ($collection as $item) {
                                    ?>	<label class="containerbox">
                                        <div class="card plain-card">
                                            <div class="card-body p-3">
                                                <div class="presc-main-content">
                                                    <div class="presc-image">
                                                        <?php
                                                        $filepath = $item->getValue();
                                                        $needle = ".pdf";
                                                        if (strpos($filepath, $needle) !== false) {
                                                            ?>
                                                            <iframe width="150" height="120" src="<?php echo $item->getValue(); ?>" ></iframe>
                                                        <?php } else { ?>
                                                            <img alt="<?php echo $item->getData('prescription_name'); ?>" width="150" height="100" src="<?php echo $item->getValue(); ?>"/>
                                                        <?php } ?>

                                                    </div>
                                                    <div class="checkbox-container">

                                                        <?php
                                                        $timeInserted = $item->getCreatedDate();
                                                        $timeNow = date('Y-m-d H:i:s', time());
                                                        $date1Timestamp = strtotime($timeNow);
                                                        $date2Timestamp = strtotime($timeInserted);
                                                        $difference = $date1Timestamp - $date2Timestamp;
                                                        if ($difference < 60) {
                                                            $checked = 'checked';
                                                        } else {
                                                            $checked = '';
                                                        }
                                                        ?>
                                                        <div class="custom-checkbox">
                                                            <input type="checkbox" name="checkboxvar[]" <?php echo $checked; ?> class="case" value="<?php echo $item->getPrescriptionId(); ?>">
                                                            <span class="checkmark"></span>
                                                        </div>



                                                    </div>
                                                    <div class="presc-details">
                                                        <p class="font14"><?php echo $item->getData('prescription_name'); ?></p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </label>
                                <?php } ?>
                            </div>
                        </div>
                        <div class="continue-button">
				<?php if(!isset($_GET['rx'])){ ?>
<!--                       <button id="click-me" type="button" class="btn btn-secondary mt-3">Continue</button>-->
					  <button  id="continue" type="submit" class="btn btn-secondary mt-3 upload-continue" >Continue</button> 
                      
				<?php } else { ?>
                                          <button formaction="<?php echo $block->getUrl('checkout', ['_secure' => true]); ?>" id="upload-continues" type="submit" class="btn btn-secondary mt-3 upload-continue">Continue</button>
				<?php }  ?>
				
                        </div>
                    </div>
                </div>
            </form>
<?php } ?>
    </div>


    <script>
        require(['jquery'], function ($) {
            $(document).ready(function () {
                $(window).load(function () {
                    $('.upload-continue').attr("disabled", true);
                    // $('#loading').hide();
                    $('#fine-uploader-manual-trigger').fineUploader({
                        template: 'qq-template-manual-trigger',
                        request: {
                            endpoint: '<?php echo $url; ?>uploadprescription/index/upload'

                        },
                        thumbnails: {
                            placeholders: {
                                waitingPath: '<?php echo $url; ?>pub/media/prescription/placeholders/waiting-generic.png',
                                notAvailablePath: '<?php echo $url; ?>pub/media/prescription/placeholders/not_available-generic.png'
                            }
                        },
                        validation: {
                            allowedExtensions: ['jpeg', 'jpg', 'png', 'pdf'],
                            itemLimit: 3,
                            sizeLimit: 10000000 // 50 kB = 50 * 1024 bytes
                        },
                        autoUpload: false
                    });

                    $('#trigger-upload').click(function () {
                        $('#fine-uploader-manual-trigger').fineUploader('uploadStoredFiles');
                        $("#recently").load(" #recently");

                    });
                });
            });

        });
    </script>
    <script type="text/javascript">
        require([
            'jquery'
        ], function ($) {
            $(document).ready(function () {
                var requiredCheckboxes = $("input[name='checkboxvar[]']");
                requiredCheckboxes.change(function () {
                    if (requiredCheckboxes.is(':checked')) {
                        $('.upload-continue').attr("disabled", false);

                    } else {
                        $('.upload-continue').attr("disabled", true);
                    }
                });

            });
        });
    </script>
    <div id="loaderaaa"> </div>
    <!--<div id="loading">
      <p><img src="<?php echo $url; ?>/pub/media/prescription/placeholders/ajax-loader.gif" /> Please Wait</p>
    </div>-->

    <div id="popup-modal" style="display:none;">
        <h1> Your cart contains Items. Check before you proceed.</h1>
        <button type="button" class="cartcheckout" id = 'ajaxButton' onClick = 'imAnAjaxFunction()'>Clear Cart</button>
    </div>

    <script>
        require(
                [
                    'jquery',
                    'Magento_Ui/js/modal/modal'
                ],
                function (
                        $,
                        modal
                        ) {
                    $(document).ready(function () {

                        var options = {
                            type: 'popup',
                            responsive: true,
                            innerScroll: false,
                            title: 'Shopping Cart',
                            buttons: [{
                                    text: $.mage.__('Continue'),
                                    class: '',
                                    click: function () {
                                        $(".upload-continue").css("display", "block");
                                        $("#click-me").css("display", "none");
                                        this.closeModal();
                                    }
                                }]
                        };

                        var popup = modal(options, $('#popup-modal'));
                        $("#click-me").on('click', function () {
                            $("#popup-modal").modal("openModal");
                        });
                    });

                }
        );
    </script>
    <script>
        function imAnAjaxFunction() {
            jQuery.ajax({
                type: "POST",
                url: "<?php echo $url; ?>/uploadprescription/checkout/removeall",
                success: function (msg) {
                    //alert( "Data Saved: " + msg );
                }
            });
            window.location.reload();
            window.location.reload();
        }
    </script>
    
