<!--@subject {{trans "Order Sync Error"}}  @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">Hi Team</p>
<p>Please find the below order having issue while syncing to csquare</p>
<p>{{var errorMsg|raw}}</p>
<p>Thank you for choosing us</p>
<p>Team Zoylo</p>

{{template config_path="design/email/footer_template"}}