
<!--@subject {{trans "Payment of your Zoylo Order "}}  @-->

{{template config_path="design/email/header_template"}}
<p class="greeting">Dear  {{trans "%customer_name" customer_name=$order.getCustomerName()}},</p>
<p>Your payment for Zoylo order {{var order.increment_id}} is pending. Please pay Rs. {{var order.grandtotal}} by clicking on below url. <br> <a href ='#'>Pay</a> </p>
<p>In case of any queries or assistance, please call us on our Toll Free Helpline 1800 208 5454 or send an mail to contactus@zoylo.com 
</p>
<p>Thank you for choosing us</p>
<p>Team Zoylo</p>
{{template config_path="design/email/footer_template"}}
