<!--@subject {{trans "Return on your Zoylo order"}}  @-->

{{template config_path="design/email/header_template"}}
<table>    
<tr class="email-intro">
        <td>
           <p class="greeting">Dear  {{trans "%customer_name," customer_name=$order.getCustomerName()}}</p>
           <p>Return on your Zoylo order {{var order.increment_id}} has been created and is being verified. We will share the return confirmation with you shortly.</p>
        </td>
</tr>
<tr>
<td><p>In case of any queries or assistance, please call us on our Toll Free Helpline 1800 208 5454 or send an mail to contactus@zoylo.com </p>
<p>Thank you for choosing us</br>
Team Zoylo</p>
</td>
</tr>
</table>
{{template config_path="design/email/footer_template"}}
