<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
<form method="POST" >
    Order ID:<input type="text" id="id_increment_id" name="increment_id" />
    <input type="button" id="id_sync_btn" value="Sync" />
</form>

<script type="text/javascript">
        require([
            'jquery', 'jquery/ui'
        ], function ($) {
            $('#id_sync_btn').on('click',function(){
                $.ajax({
                    url:"<?php echo $this->getUrl('csquare/unicommerce/syncfaileddata'); ?>",
                    method: "GET",
                    data: {increment_id : $('#id_increment_id').val()},
                    success: function(response)
                    {
                        alert(response);
                    },
                    fail: function(response)
                    {
                        alert(response);
                    }
                }); 
            });
        });
</script>