<fieldset id="buildyourform">
    <legend>Add Questions!</legend>
</fieldset>

<input type="button" value="Preview form" class="add" id="preview" />
<input type="button" value="Add a field" class="add" id="add" />
<div id="faqs"></div>
<script type="text/javascript">   
    require(['jquery'],function($){
    $(document).ready(function() {
    $("#add").click(function() {
    		var lastField = $("#buildyourform div:last");
        var intId = (lastField && lastField.length && lastField.data("idx") + 1) || 1;
        var fieldWrapper = $("<div class=\"fieldwrapper\" id=\"field" + intId + "\"/>");
        fieldWrapper.data("idx", intId);
        var fName = $("<input type=\"text\" class=\"fieldname\" name=\"salt[faq][question" + intId + "]\" />");
        var fType = $("<select class=\"fieldtype\"><option value=\"textbox\">Text</option><option value=\"textarea\">Editor</option></select>");
        var removeButton = $("<input type=\"button\" class=\"remove\" value=\"-\" />");
        removeButton.click(function() {
            $(this).parent().remove();
        });
        fieldWrapper.append(fName);
        fieldWrapper.append(fType);
        fieldWrapper.append(removeButton);
        $("#buildyourform").append(fieldWrapper);
    });
    $("#preview").click(function() {
        $("#yourform").remove();
        var fieldSet = $("<fieldset id=\"yourform\"><legend>Answers</legend></fieldset>");
        $("#buildyourform div").each(function() {
            var id = "input" + $(this).attr("id").replace("field","");
            var label = $("<label for=\"" + id + "\">" + $(this).find("input.fieldname").first().val() + "</label>");
          
            var input;
            switch ($(this).find("select.fieldtype").first().val()) {
                case "checkbox":
                    input = $("<input type=\"checkbox\" id=\"" + id + "\" name=\"salt[faq][" + id + "]\" />");
                    break;
                case "textbox":
                    input = $("<input type=\"text\" id=\"" + id + "\" name=\"salt[faq][" + id + "]\" />");
                    break;
                case "textarea":
                    input = $("<textarea id=\"" + id + "\" name=\"salt[faq][" + id + "]\" ></textarea>");
                    break;    
            }
            fieldSet.append(label);
            fieldSet.append(input);
        });
        $("#faqs").append(fieldSet);
    });
});
});
</script>
<style>
    fieldset
{
   
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
}
legend
{
    padding:0px 10px;
    
  
}
input.add
{
    float:right;
}
input.fieldname
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
select.fieldtype
{
    float:left;
    display:block;
    margin:5px;
}
input.remove
{
    float:left;
    display:block;
    margin:5px;
}
#yourform label
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
#yourform input, #yourform textarea
{
    float:left;
    display:block;
    margin:5px;
}
</style>

<?php $id = $this->getRequest()->getParam('salt_id');

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$saltObj = $objectManager->create('I95Dev\Salts\Model\Salt')->load($id);
$data = $saltObj->getFaqs();
echo $data;
?>