<?php
/**
 * Copyright © 2018 Porto. All rights reserved.
 */

?>
<?php
/**
 * Top menu for store
 *
 * @see \Smartwave\Megamenu\Block\Topmenu
 */
?>
<?php
    $_helper = $this->helper('Smartwave\Megamenu\Helper\Data');
    $_config = $_helper->getConfig('sw_megamenu');
    $columnsLimit = 0;
    $header_type = $_helper->getConfig('porto_settings/header/header_type');
    
    if($_config['general']['enable']) {
?>

<?php $_menu = $block->getMegamenuHtml(); ?>
<nav class="navigation sw-megamenu <?php if($header_type == 8 || $header_type == 10 || $header_type == 25): ?>side-megamenu<?php endif; ?>" role="navigation"> <a href="javascript:void(0)" class="menu-close">×</a>
    <ul>
        <?php echo $_menu; ?>
    </ul>

</nav>


<script type="text/javascript">
    require([
        'jquery',
        'Smartwave_Megamenu/js/sw_megamenu'
    ], function ($) {
        $(".sw-megamenu").swMegamenu();
		/*$(".has-submenu").hide();
$(".subchildmenu .level1 > a").hover(function() {
	event.preventDefault();
  $(this).next("ul").toggle();
});*/

       
       $(document).ready(function(c) {
            $('.menu-close').on('click', function(c){
                $('.submenu').removeClass("opened", function(c){
                   
                });
                $('.level-top').removeClass("ui-state-active", function(c){
                   
                });
            });	
        });  

     /* for Sub Child */
        $(document).ready(function(c) {
            $("li.ui-menu-item > .open-children-toggle").on("click", function(c){ 
                if(!$(this).parent().children(".has-submenu").hasClass("opened")) {
                    $(this).parent().children(".has-submenu").addClass("opened");
                    $(this).parent().children("a").addClass("ui-state-active");
                }
                else {
                    $(this).parent().children(".has-submenu").removeClass("opened");
                    $(this).parent().children("a").removeClass("ui-state-active");
                }
            }); 
        }); 
        /* for Sub Child */
        /* $(document).ready(function(){
              $(".subchildmenu .open-children-toggle").click(function(){
             $(".level1 a").removeClass("ui-state-active");
          });
        }); */




        $(document).ready(function(){
    
            $(".menu-close").prependTo(".sw-megamenu.navigation .submenu.level0");
            $('.page-header.type2 .minicart-wrapper').css('z-index','10'); 
        });
		
		 $(document).ready(function(){
    
             $("li.ui-menu-item > .open-children-toggle").on("click", function(c){
             				 
               if($('.level0.submenu').hasClass('opened'))
			   {
				  
				   $('.page-header.type2 .minicart-wrapper').css('z-index','8');
			   }else{
				  $('.page-header.type2 .minicart-wrapper').css('z-index','10'); 
				   
			   }
			});

        });
		
		
		$(document).ready(function(){
    
             $(".menu-close").on("click", function(c){
             				 
              $('.page-header.type2 .minicart-wrapper').css('z-index','10'); 
				   
			   
			});

        });


         
    });
</script>


<?php
    } else {
?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit); ?>
<nav class="navigation sw-megamenu" role="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
        <?php /* @escapeNotVerified */ echo $_menu; ?>
    </ul>
</nav>

<?php
    }
?>

<style>
    .sw-megamenu.navigation .submenu.level0 { display:none;}
.sw-megamenu.navigation .submenu.level0.opened { display:block;}
.navigation a.menu-close {
    display: none;
}
@media (max-width:767px) {
    .navigation a.menu-close {
    display: block;
}  
}
</style>