<style>
    /*.modal-popup.modal-slide .editbtns-ship-cust-addr-zoylo{
        display:none;
    }
    .modal-popup.modal-slide #zoylo-new-customer-new-address{
        display:none;
    }*/
</style>
<div id="popup-wrapper" style="display:none;" >
            <div class="popup-content">
                Edit Shipping Address Data:
            </div>
        </div>
        <?php $url = $this->getUrl(); ?>
       <script type="text/javascript">
	require([
		'jquery','jquery/ui','jquery/validate','mage/translate'
		], function ($) {
                    //console.log('ajeshkkk');
			$(document).ready(function () {
                            $(document).on("click", ".edit-ship-address-link", function(e) {
                                $(".loading-mask").show();
                                //console.log("clicked: %o",  this);
                                var ship_address_id = $(this).attr("id");
                                //alert("id: " + ship_address_id);
                                $.ajax({
					url:"<?php echo $url; ?>editshipaddress/index/index", //the page containing php script
					type: "POST", //request type
					dataType: 'json',
                                        showLoader: 'true',
                                        data: {"ship_address_id": ship_address_id},
                                        success: function (result) {
                                          $(".loading-mask").hide();
                                          //console.log("result: "+result.address);
                                          show_popup();
                                          $("#popup-wrapper").html(result.address);
                                      },
                                      error: function (xhr, status) {  
                                        $(".loading-mask").hide();
                                      }
                                });
                            });
                                //close button
                                $(document).on("click", ".action-hide-popup", function(e) {
                                    //$("#popup-wrapper").hide();
                                    $( ".action-close" ).trigger( "click" );
                                });
			});
		});
        </script>
        
        <script type="text/javascript">
    require([
        "jquery",
        'Magento_Ui/js/modal/confirm',
        'Magento_Ui/js/modal/modal',
        'mage/storage',
        "jquery/ui",
        "jquery/validate",
        "mage/translate",
        "mage/mage"

    ], function ($, modal, confirm, storage) {
        window.show_popup = function () {
            var options1 = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                clickableOverlay: false,
                title: 'Edit Shipping Address',
                buttons: [{
                        class: 'editbtns-ship-cust-addr-zoylo',
                }]
            };
            //$("#popup-wrapper").scrollTop($('#popup-wrapper')[0].scrollHeight);
            $("#popup-wrapper").show();
            $("#popup-wrapper").modal(options1);
            OpenModal();
            //$("#popup-wrapper").modal(options1).modal('openModal');
            //$("#popup-wrapper").modal(options1).modal('openModal');

        }
         function OpenModal() { // click a button
            $("#popup-wrapper").modal('openModal'); // Error ($(....) Modal is not a function)
        }
        
    });
</script>



<script type="text/javascript">
	require([
		'jquery','jquery/ui'
		], function ($) {
			$(document).ready(function () {
                            $(document).on("click", ".zoylo-update-ship-address", function(e) {
                                var resultValidate ="";
                                resultValidate = validateForm();
                                if(resultValidate==true){
                                        $(".loading-mask").show();
                                        var ship_address_id = $(this).attr("id");
                                        $.ajax({
                                                url:"<?php echo $url; ?>editshipaddress/index/customshipaddressupdate",
                                                type: "POST",
                                                dataType: 'json',
                                                showLoader: 'true',
                                                data: {"ship_address_id": ship_address_id, "formdata":$('#co-shipping-form-custom').serialize()},
                                                success: function (result) {
                                                    if (result.success === 'true') {
                                                        $( ".action-close" ).trigger( "click" );
                                                        //window.location.reload();
                                                        //$("#zoylo-cust-ship-"+ship_address_id).load(" #zoylo-cust-ship-"+ship_address_id);
                                                        $("#zoylo-checkout-ship-addr-cust-id-"+ship_address_id).html(result.ship_address_data);
                                                        $(".loading-mask").hide();
                                                    }
                                                    if (result.success === 'false') {
                                                        $(".loading-mask").hide();
                                                        alert("This Pincode is not serviceable.");
                                                        return false;
                                                    }
                                              },
                                              error: function (xhr, status) {  
                                                $(".loading-mask").hide();      
                                              }
                                        });
                                }else{
                                    return false;
                                }
                            });
			});
		});
        </script>
        <script type="text/javascript">
            function validateForm() {
                var formValid = false;

                var firstname = document.forms["zoylo-custom-shipping-form"]["firstname"].value;
                var lastname = document.forms["zoylo-custom-shipping-form"]["lastname"].value;
                var street = document.forms["zoylo-custom-shipping-form"]["street"].value;
                var city = document.forms["zoylo-custom-shipping-form"]["city"].value;
                var postcode = document.forms["zoylo-custom-shipping-form"]["postcode"].value;
                var telephone = document.forms["zoylo-custom-shipping-form"]["telephone"].value;  

                if(firstname == ""){
                    alert("First name is a required field. ");
                    document.forms["zoylo-custom-shipping-form"]["firstname"].focus();
                    var firstnames = false;
                    return false;
                }else{
                    var firstnames = true;
                }

                if(lastname == ""){
                    alert("Last name is a required field.");
                    document.forms["zoylo-custom-shipping-form"]["lastname"].focus();
                    var lastnames = false;
                    return false;
                }else{
                    var lastnames = true;
                }

                if(street == ""){
                    alert("Street is a required field.");
                    document.forms["zoylo-custom-shipping-form"]["street"].focus();
                    var streets = false;
                    return false;
                }else{
                    var streets = true;
                }

                if(city == ""){
                    alert("City is a required field.");
                    document.forms["zoylo-custom-shipping-form"]["city"].focus();
                    var citys = false;
                    return false;
                }else{
                    var citys = true;
                }

                if(document.forms["zoylo-custom-shipping-form"]["region_id"].selectedIndex==0){
                    alert("State is a required field."); 
                    document.forms["zoylo-custom-shipping-form"]["region_id"].focus();
                    var regionId = false;
                    return false;
                }else{
                    var regionId = true;
                }


                //var pat1=/^\d{6}$/;
                var pat1=/^[1-9][0-9]{5}$/;
                if(postcode!=''){
                    if(!pat1.test(postcode))
                    {
                        alert("Please enter a valid pincode.");
                        document.forms["zoylo-custom-shipping-form"]["postcode"].focus();
                        var postcodes = false;
                        return false;
                    }else{
                        var postcodes = true;
                    }
                }else{
                    alert("Pincode is a required field.");
                    document.forms["zoylo-custom-shipping-form"]["postcode"].focus();
                    var postcodes = false;
                    return false;
                }

                if(document.forms["zoylo-custom-shipping-form"]["country_id"].selectedIndex==0){
                    alert("Country is a required field.");  
                    document.forms["zoylo-custom-shipping-form"]["country_id"].focus();
                    var countryId = "";
                    return false;
                }else{
                    var countryId = true;
                }

                var pattern=/^\d{10}$/;
                //var pattern=/^\+?[1-9][0-9]{11}$/;
                //var pattern=/^(?:(?:\+|0{0,2})91?|[0]?)?[789]\d{9}$/;
                if(telephone!=''){
                    if(!pattern.test(telephone))
                    {
                        alert("Please enter a valid mobile number.");
                        document.forms["zoylo-custom-shipping-form"]["telephone"].focus();
                        var telephones = false;
                        return false;
                    }else{
                        var telephones = true;
                    }
                }else{
                    alert("Mobile number is a required field.");
                    document.forms["zoylo-custom-shipping-form"]["telephone"].focus();
                    var telephones = false;
                    return false;
                }

                if(firstnames == "" || lastnames == "" || streets == "" || citys == "" || postcodes == "" || telephones == "" || regionId =="" || countryId == "" ){
                    alert("Please Must check some option!");
                    if(firstname == ""){
                        document.forms["zoylo-custom-shipping-form"]["firstname"].focus();
                    }
                    if(lastname == ""){
                        document.forms["zoylo-custom-shipping-form"]["lastname"].focus();
                    }
                    if(street == ""){
                        document.forms["zoylo-custom-shipping-form"]["street"].focus();
                    }
                    if(city == ""){
                        document.forms["zoylo-custom-shipping-form"]["city"].focus();
                    }
                    if(postcode == ""){
                        document.forms["zoylo-custom-shipping-form"]["postcode"].focus();
                    }
                    if(telephone == ""){
                        document.forms["zoylo-custom-shipping-form"]["telephone"].focus();
                    }
                    if(regionId == ""){
                        document.forms["zoylo-custom-shipping-form"]["region_id"].focus();
                    }
                    if(countryId == ""){
                        document.forms["zoylo-custom-shipping-form"]["country_id"].focus();
                    }
                    
                    var formValid = false;
                }else{
                    var formValid = true;
                }
                //alert("final form valid flag:"+ formValid);
                return formValid;
            }
            </script>
    <script>
        require ([
                'jquery'
            ],
            function ($) {
                $(window).on("load", function () {
                    require([
                        'Zoylo_Editshipaddress/js/checkoutDeleteAddress'
                    ]);
                });

             });
    </script>