<?php
$_brandCollection = $block->getCollection();
$first_letter = [];
foreach ($_brandCollection as $value) {
	if (!in_array(substr($value->getName(), 0, 1), $first_letter) && !is_numeric(substr($value->getName(), 0, 1))) {
		array_push($first_letter, substr($value->getName(), 0, 1));
	}
	if (is_numeric(substr($value->getName(), 0, 1))) {
		array_push($first_letter, '#');
	}
}
$itemsperpage = (int)$this->getConfig('brand_list_page/item_per_page',12);
$lg_column_item = (int)$this->getConfig('brand_list_page/lg_column_item',6);
$md_column_item = (int)$this->getConfig('brand_list_page/md_column_item',6);
$sm_column_item = (int)$this->getConfig('brand_list_page/sm_column_item',4);
$xs_column_item = (int)$this->getConfig('brand_list_page/xs_column_item',2);

$show_brand_name = $this->getConfig('brand_list_page/show_brand_name');
$show_brand_logo = $this->getConfig('brand_list_page/show_brand_logo');
$lg_column = 12/$lg_column_item;
$md_column = 12/$md_column_item;
$sm_column = 12/$sm_column_item;
$xs_column = 12/$xs_column_item;
$i = 1;
$x = 0;
?>
<?php if ( $_brandCollection->count() ){ ?>
<?php $total = $_brandCollection->count(); ?>
<div class="brandlist">
	<div class="block-content">
		<div style="height:69px;">
			<div class="row" id="kc" style="position: relative;
										    top: auto;
										    bottom: auto;
										    width: auto;">
				<ul style="list-style:none;padding-left:0px;background:#f4f5f7;">
					<?php foreach ($first_letter as $key): ?>
						<li style="display: inline-block;width: 3%;box-sizing: border-box;
								    text-align: center;padding-right: 2px;
								    border-right: 1px dashed #eee;
								    font-weight: 700;
								    font-size: 14px;
								    width: 3%;">
						    <a style="color: #222;
								    text-decoration: none;
								    -webkit-tap-highlight-color: transparent;display: block;
								    padding: 3px 6px;" onclick="goTo('<?php echo $key; ?>')"><?php echo $key; ?>
						    </a>
						</li>
					<?php endforeach; ?>
				</ul>
			</div>
		</div>
		<?php foreach ($first_letter as $value){ ?>
			<?php if ($value == '#'){ ?>
				<span id="#"><?php echo $value; ?></span>
				<div class="row">
					<?php foreach ($_brandCollection as $_brand): ?>
					<?php if (is_numeric(substr($_brand->getName(), 0, 1))): ?>
					<div class="col-lg-<?php echo $lg_column ?> col-md-<?php echo $md_column ?> col-sm-<?php echo $sm_column ?> col-xs-<?php echo $xs_column ?>">
						<div class="brand-item">
							<?php if($show_brand_logo): ?>
							<div class="brand-image"><a href="<?php echo $_brand->getUrl(); ?>" title="<?php echo $_brand->getName(); ?>"><img src="<?php echo $_brand->getThumbnailUrl(); ?>"/></a>
							</div>
							<?php endif; ?>
							<?php if($show_brand_name){ ?>
							<div class="brand-name"><a href="<?php echo $_brand->getUrl(); ?>" title="<?php echo $_brand->getName(); ?>"><?php echo $_brand->getName() ?></a></div>
							<?php } ?>
						</div>
					</div>
				<?php endif; ?>
				<?php endforeach; ?>
				</div>
			<?php } else { ?>
		<!-- ROW -->
		<span id="<?php echo $value; ?>"><?php echo $value; ?></span>
		<div class="row">
			<?php foreach ($_brandCollection as $_brand): ?>
				<?php if (substr($_brand->getName(), 0, 1) == $value): ?>
					<div class="col-lg-<?php echo $lg_column ?> col-md-<?php echo $md_column ?> col-sm-<?php echo $sm_column ?> col-xs-<?php echo $xs_column ?>">
						<div class="brand-item">
							<?php if($show_brand_logo): ?>
							<div class="brand-image"><a href="<?php echo $_brand->getUrl(); ?>" title="<?php echo $_brand->getName(); ?>"><img src="<?php echo $_brand->getThumbnailUrl(); ?>"/></a>
							</div>
							<?php endif; ?>
							<?php if($show_brand_name){ ?>
							<div class="brand-name"><a href="<?php echo $_brand->getUrl(); ?>" title="<?php echo $_brand->getName(); ?>"><?php echo $_brand->getName() ?></a></div>
							<?php } ?>
						</div>
					</div>
				<?php endif; ?>
			<?php endforeach; ?>
		</div>
		<?php } ?>
		<!-- ROW -->
		<?php } ?>
	</div>
</div>
<?php }else{ ?>
<div class="message info empty"><div><?php echo __('We can\'t find brands matching the selection.'); ?></div>
<?php } ?>

<script type="text/javascript">
	function goTo(id) {
	    var elmnt = document.getElementById(id);
	    elmnt.scrollIntoView();
	}
</script>
