<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $scopeConfig = $objectManager->create('\Magento\Framework\App\Config\ScopeConfigInterface');
    $hoursRangesArr = array("0-12","12-24"); //default values
    $hoursRangeStr = $scopeConfig->getValue('hours_range_settings/zoylo/hours_range_settings_values',\Magento\Store\Model\ScopeInterface::SCOPE_STORE);
    if(is_array(explode(',',$hoursRangeStr)) && !empty(explode(',',$hoursRangeStr)))
    {
       $hoursRangesArr = explode(',',$hoursRangeStr);
    }
    $orderStatusStr = $scopeConfig->getValue('hours_range_settings/zoylo/order_status_values',\Magento\Store\Model\ScopeInterface::SCOPE_STORE);
    
    if(is_array(explode(',',$orderStatusStr)) && !empty(explode(',',$orderStatusStr)))
    {
       $orderStatusArr = explode(',',$orderStatusStr);
    }
    $salesOrderStatusAll = $objectManager->create('\Magento\Sales\Model\Order\Status')->getCollection()->getData();
?>
<p>Please select the values from the below filters:</p>

<form method="GET" id="idexportform" action="<?php echo $this->getUrl('businessoperations/elapsed/exporttat'); ?>" >
<label for="idorderstatus">Order Status:</label> <select id="idorderstatus" name="orderstatus"><option value="">Please select order status</option> <?php foreach($salesOrderStatusAll as $eachStatus) { if(in_array($eachStatus['status'],$orderStatusArr)) { ?> <option value="<?php if(isset($eachStatus['status'])) { echo $eachStatus['status']; } ?>" > <?php if (isset($eachStatus['label'])) { echo $eachStatus['label']; } ?> </option> <?php } } ?></select>
<!--<label for="idorderstatus">Time Range In Hours:</label> <select id="idtimerange" name="timerrange[]" multiple style="min-height:150px;" ><option value="" selected="true" >Please select time range</option> <?php foreach ($hoursRangesArr as $eachHourRng) { ?> <option value="<?php echo $eachHourRng; ?>"><?php echo $eachHourRng; ?></option> <?php } ?> </select>-->
<label for="idorderstatus">Time Range In Hours:</label> <?php foreach ($hoursRangesArr as $eachHourRng) { ?> &nbsp;&nbsp;&nbsp;&nbsp;  <input class="clsorderstatus" type="checkbox" name="timerrange[]"  value="<?php echo $eachHourRng; ?>"  />  <label> <?php echo $eachHourRng; ?> </label> <?php  } ?>
&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="idfilterbtn" value="Filter" />
&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Export" />
</form>
<br><br>
<div id="idresponsediv" >
    
</div>

<script>
require(['jquery'], function($){
    $('#idfilterbtn').on('click',function(){
        var selected = new Array();
        $(".clsorderstatus:checked").each(function() {
            selected.push($(this).val());
        });
        
        if($("#idorderstatus").val() == 0)
        {
            alert('Please select order status');
            return false;
        }
        
        if (!$('.clsorderstatus').is(':checked'))
        {
            alert('Please select time range');
            return false;
        }
        
        $.ajax({
            url:"<?php echo $this->getUrl('businessoperations/elapsed/loadorders'); ?>",
            method:"GET",
            data: {orderstatus:$("#idorderstatus").val(),timerrange:selected},
            showLoader: true,
            success: function(response)
            {
                $('#idresponsediv').empty().append(response);
                $('#counterorder').html($('#totalnumberoforders').val());
            },
            fail: function(response)
            {
                
            }
        });
    });
    
    function sendPaymentLink()
    {
        alert('from send payment link');
    }
    
    $('.sendpaymentcls').on('click',function(){
    alert('send payment link');
    });
    
    $('#idexportform').submit(function(event){
        if($("#idorderstatus").val() == 0)
        {
          alert('Please select order status');
          event.preventDefault(); 
        }
        if (!$('.clsorderstatus').is(':checked'))
        {
          alert('Please select time range');
          event.preventDefault();
        }
    });
});    
</script>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            try {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'popup modal title',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#idordercomments'));

            $('#idordercomments').modal('openModal');
            }
            catch (err)
            {
                console.log('exception::'+err.message);
            }
        }
    );
</script>