<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2017 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>
<?php /** @var $block \Plumrocket\Amp\Block\Catalog\Product\AddTo */ ?>

<?php if ($block->isWishListAllowed()) : ?>
<form
  action-xhr="<?php echo $block->getWishListUrl() ?>"
  method="POST"
  id="amp-add-to-wishlist"
  target="_top">
      <input type="hidden" name="product" value="<?php echo $block->getProduct()->getId(); ?>" />
      <button type="submit"
              class="icon wish-list text-btn"
              ><?php echo $block->escapeHtml(__('Add to Wish List'))?></button>
      <div submit-success>
          <template type="amp-mustache">
              <div class="message success">
                {{message}}
              </div>
          </template>
      </div>
      <div submit-error>
          <template type="amp-mustache">
              <div class="message error">
                  {{errors}}
              </div>
          </template>
      </div>
</form>
<?php endif; ?>
<?php if ($block->isCompareAllowed()) : ?>
<form
  action-xhr="<?php echo $block->getCompareUrl() ?>"
  method="POST"
  id="amp-add-to-compare"
  target="_top">
      <input type="hidden" name="product" value="<?php echo $block->getProduct()->getId(); ?>" />
      <button type="submit"
             class="icon add-to-compare text-btn"
             ><?php echo $block->escapeHtml(__('Add to Compare')) ?></button>
      <div submit-success>
          <template type="amp-mustache">
              <div class="message success">
                  {{message}}
              </div>
          </template>
      </div>
      <div submit-error>
          <template type="amp-mustache">
              <div class="message error">
                  {{errors}}
              </div>
          </template>
      </div>
</form>
<?php endif; ?>