<?php
/**
 * @var \Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Items\Remove $block
 */
?>
<script type="text/javascript">
    require([
        'jquery'
    ], function($){
        $(function() {
            $('body').on('click','.cminds-remove-item-btn',function () {
                $('.js-order-remove-item-id').val($(this).data('orderitemid'));
                $( "#cminds-trueeditorder-item-remove" ).submit();
            });
        });
    });
</script>
<form method="post"
      id="cminds-trueeditorder-item-remove"
      action="<?php echo $block->getRemoveUrl() ?>">
    <input type="hidden" name="form_key" value="<?php echo $block->getFormKey() ?>"/>
    <input type="hidden" name="order_item_id" class="js-order-remove-item-id" />
</form>
