<?php 
	$blockObj = $block->getLayout()->createBlock('I95Dev\Customproductattributes\Block\Adminhtml\Index\Index');
	$collection = $blockObj->getAllSalts(); 
?>
<div>
    <a href="#" id="click-me">Add Composition Data</a>
    <?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();  
$request = $objectManager->get('Magento\Framework\App\Request\Http');  
$id = $request->getParam('id');
    
    ?>
<script>
//    document.getElementById("product_form_composition").readOnly ="true";
    </script>
    

    <input type="hidden" value="<?php echo $id;?>" id="product-id">
</div>
<div id="popup-modal" style="display:none;">
	<fieldset id="buildyoursalt">
	<legend><span><?php echo __("Composition");?></span></legend>
	<select id="txt1" class="fieldname" name="salt[composition]" >
	<?php if (count($collection) > 0) { foreach($collection as $salt) {  ?>
	<option value="<?php echo $salt->getName(); ?>">
	<?php echo $salt->getName(); ?></option>
	<?php } } ?>
	<input id="txt" type="text" placeholder="Composition Value" class="fieldname" name="salt[value]">
	</select>
	</fieldset>
	<input type="button" value="Add New Composition Combo" class="add" id="add" />
	<input type="button" name="sendBtn" value="Add to Composition" class="addto" id="addto" />
		
	<div id="compositions">
	<textarea id="txtArea" rows="10" cols="100" name="output"></textarea>
	</div>
</div>

<script type="text/javascript">   
    require(['jquery'],function($){
    $(document).ready(function() {
       
      //  alert($pack);
      //              console.log($pack);
    $("#add").click(function() {
    	var lastField = $("#buildyoursalt div:last");
        var intId = (lastField && lastField.length && lastField.data("idx") + 1) || 1;
        var fieldWrapper = $("<div class=\"fieldwrapper\" id=\"field" + intId + "\"/>");
        fieldWrapper.data("idx", intId);
    //    var fName = $("<input type=\"text\" placeholder=\"Composition Name\" class=\"fieldname\" name=\"salt[composition][" + intId + "]\" />");
		
		var fName = $("<select id=\"txt1\" class=\"fieldname\" name=\"salt[composition][" + intId + "]\" ><?php if (count($collection) > 0) { foreach($collection as $salt) {  ?><option value=\"<?php echo $salt->getName(); ?>\"><?php echo $salt->getName(); ?></option><?php } } ?></select>");
			
        
        var fType = $("<input id=\"txt\" type=\"text\" placeholder=\"Composition Value\" class=\"fieldname\" name=\"salt[value][" + intId + "]\" />"); 
		
        var removeButton = $("<input type=\"button\" class=\"remove\" value=\"Remove\" />");
        removeButton.click(function() {
            $(this).parent().remove();
        });
        fieldWrapper.append(fName);
        fieldWrapper.append(fType);
        fieldWrapper.append(removeButton);
        $("#buildyoursalt").append(fieldWrapper);
    });
	
	 $("#addto").click(function() {
            {
                $("#txtArea").append($("#txt1").val() + "[" + $("#txt").val() +"]" + " + ");
                $("#txt").val("");
            }
		}); 
		
		
});
});
</script>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Add Composition Data',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                      
                     var composition = document.getElementById("txtArea").value;
//                     document.getElementById("product_form_composition").value = composition;
//                     var id = document.getElementById("product-id").value;
                      $('input[name="product\\[salt_composition\\]"]').val(composition);
//                     var salt = encodeURI(composition);
//                      var param = 'id=152&composition='+composition;
//                            $.ajax({
//                                showLoader: true,
//                                url: 'http://zoylo.i95-dev.com/admin/catalog/product/save/id/'+id+'/composition/'+salt,
//                                data: param,
//                                type: "POST",
//                                dataType: 'json'
//                            }).done(function (data) {
//                               //document.getElementById("product_form_composition").value = 'hello';
//                              
//                      
//                            });
                    //  window.location.reload();
                      
                      
                    //   $('textarea#product_form_custom_block').val = 'hello';
 <?php 
// $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
// $symptoms = $objectManager->create('\Symptoms\Model\Symptoms');
//            $symptoms->setName($data[$c]);
//            $symptoms->save();
 
 
 ?>
                        this.closeModal();
						
                    }
                }]
            };

            var popup = modal(options, $('#popup-modal'));
            $("#click-me").on('click',function(){ 
                $("#popup-modal").modal("openModal");
            });

        }
    );
</script>
<style>
    fieldset
{
   // border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
}
legend
{
    padding:0px 10px;
    background:black;
    color:#FFF;
}
input.add
{
    float:right;
}
input.fieldname, select.fieldname
{
    float:left;
	clear:left;
    display:block;
    margin:5px;
}
select.fieldtype
{
    float:left;
    display:block;
    margin:5px;
}
input.remove
{
    float:left;
    display:block;
    margin:5px;
}
#yourform label
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
#yourform input, #yourform textarea
{
    float:left;
    display:block;
    margin:5px;
}
</style>