<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Password Reset Notification for %name" name=$username}} @-->
<!--@vars {
"var user.name":"Account Holder Name",
"store url=\"admin\/auth\/resetpassword\/\" _query_id=$userid _query_token=$usertoken":"Reset Password URL"
} @-->
<table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <h1 style="font-size:22px;font-weight:normal;line-height:22px;margin:0 0 11px 0;">
{{trans "Hi %name," name=$username}}</h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" border="0" width="650">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
{{trans "You password was updated %diffdays days ago." diffdays=$diffdays}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
{{trans "For better security we suggest you to change your Zoylo account password every 45 days."}}
                                            </td>
                                        </tr>
                                        <!--<tr>
                                            <td colspan="2" valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border:1px solid #EAEAEA;">
{{trans "Click "}} <span><a href="{{var reseturl}}">{{trans 'Reset Password'}}</a></span> {{trans " to update your password."}}
                                            </td>
                                        </tr>-->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA;text-align:center;">
                                <center>
                                    <p style="font-size:12px;margin:0;">
<strong>{{trans "Thank you,"}}</strong><br>
{{trans "Zoylo Digihealth Pvt Ltd" }}
</p>
                                </center>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
    </table>