<?php $orderStatuses = $this->getStatusStateList(); ?>
<form method="GET" action="<?php echo $this->getCustUrl('exportproductinfo/order/exportdata'); ?>" >
    
    <input type="date" name="from_date" required>
    
    <input type="date" name="to_date" required>
    
    <select name="order_status" >
        <option value="0">Select Order Status</option>
        <?php foreach($orderStatuses as $status)
        { 
        ?>
        <option value="<?php echo $status['value']; ?>" > <?php echo $status['label']; ?></option>
        <?php 
        }
        ?>
    </select>
    
    <select name="payment_method" >
        <option value="0" >Select Payment Method</option>
        <option value="cashondelivery" >Cash On Delivery</option>
        <option value="paylater">Pay Later</option>
        <option value="free">Free</option>
    </select>
    
    <br>
    <br>
    <br>
    
    <input type="submit" value="Export" />
    
</form>