<p>Please enter comma separated category ids (Only OTC Category ids):</p>
<textarea rows ="5" cols="30" placeholder="Please enter the category ids" id="idcateids" ></textarea>
<br>
<input type="button" value="Submit" id="idcatesbtbtn" />


<!--<p>Please enter comma separated product ids:</p>
<textarea rows ="5" cols="30" placeholder="Please enter the category ids" id="idprodids" ></textarea><br>
<span>Is OTC product:<input type="checkbox" name="isotcprod" />
<br>
<input type="button" value="Submit" id="idprodsbtbtn" />-->

<script>
require(['jquery', 'jquery/ui'], function($){
  $(document).ready( function() {
    $('#idcatesbtbtn').on('click',function(){
        $.ajax({
            url: "<?php echo $this->getUrl('exportproductinfo/urlrewrite/updatecategories'); ?>",
            method: "POST",
            data: {cateids:$('#idcateids').val()}
        });
    });
  });
});

</script>