<?php $downloadUrl = $block->getUrlDownloadExportProducts(); ?>
<section class="dashboard-advanced-reports" data-index="dashboard-advanced-reports">
    <div class="dashboard-advanced-reports-description">
        <header class="dashboard-advanced-reports-title">
            Download Export Product Data  
        </header>
    </div>
</section>

<div class="form-inlines">
    <div class="admin__fieldset-wrapper-content">
        <form name="downloadpro" id="downloadpro" action="<?php echo $downloadUrl; ?>" method="post">
            <fieldset class="admin__fieldset">
            <?php echo $this->getBlockHtml('formkey')?>
            <div class="form-group admin__field">
                <label class="admin__field-label" for="Select Limit">Select limit for Download products data</label>
            </div>
            
            <div class="form-group admin__field admin__field-small" style="margin-top: 5px;">
                <label class="admin__field-label" for="Min">Product ID Min Value: </label>
                <div class="admin__field-control">
                    <input type="text" name="minprocount" class="form-control admin__control-text" id="minprocount" maxlength="255"/>
                    <div class="admin__field-note">
                        <span>Min value should be greater than Zero and less than Max value</span>
                    </div>
                </div>
            </div>
          
            <div class="form-group admin__field admin__field-small">
                <label class="admin__field-label" for="Max">Product ID Max Value: </label>
                <div class="admin__field-control">
                    <input type="text" name="maxprocount" class="form-control admin__control-text" id="maxprocount" maxlength="255"/>
                    <div class="admin__field-note">
                        <span>Max value should be greater than Min value && should not be Zero</span>
                    </div>
                </div>
            </div>
           
            <div class="form-group admin__field">
            <input type="submit" value="Download Export Products" class="action-default primary btn btn-primary" name="submit" style="margin-left: 25%;"/>
            </div>

            <div class="form-group admin__field">
                <span style="margin-left: 25%;color:red;">**Note : Please make sure enter min and max values 1 to 20000, 200001 to 40000 etc... Due to collection loading time limit. Time Limit exception should get if will give min and max values 1 to 20000. **</span>
            </div>
            </fieldset>
        </form>
    </div>
</div>