<h2>Download Export product info</h2>
<?php echo $downloadUrl = $block->getUrlDownloadExportProducts(); ?>

<div id="download-export-product-data">
    <div class="page-main-actions">    
        <div class="page-actions-placeholder"></div>
        <div style="float:left;" class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="Customers">
                <div class="page-actions-buttons">
                    <button id="add" title="Add New Customer" type="button" class="action- scalable primary" onclick="location.href = '<?php echo $downloadUrl; ?>';" data-ui-id="add-button">
                        <span>Download Export Product Data</span>
                    </button>
                </div>
            </div>
        </div>
</div>
</div>

<div id="share-export-product-data">
    <div class="page-main-actions">    
        <div class="page-actions-placeholder"></div>
        <div style="float:left;" class="page-actions" data-ui-id="page-actions-toolbar-content-header">
            <div class="page-actions-inner" data-title="Customers">
                <div class="page-actions-buttons">
                    <button id="addshare" title="Add New Customer" type="button" class="action- scalable primary" onclick="location.href = 'http://localhost:8080/magento266/admin/customer/index/new/key/705146e0f411f9b02896dd1311d9756df5a1007c6de526dbee528c5b7372bed6/';" data-ui-id="add-button">
                        <span>Share Export Product Data</span>
                    </button>
                </div>
            </div>
        </div>
</div>
</div>