<?php
/**
 * Cminds TrueEditOrder order history template.
 *
 * @category Cminds
 * @package  Cminds_TrueEditOrder
 * @author   Piotr Pierzak <piotrek.pierzak@gmail.com>
 */
?>
<?php /** @var $block \Magento\Sales\Block\Adminhtml\Order\View\History */ ?>
<?php $orderNextStatusAll = array('order_placed'=>array('order_placed','canceled','order_validated_cs','order_rejected_cs','validation_on_hold_cs','generate_rx_cs'),'order_rejected_cs'=>array('order_rejected_cs','terminal_status','canceled'),'canceled'=>array('canceled','terminal_status'),'validation_on_hold_cs'=>array('validation_on_hold_cs','order_validated_cs','order_rejected_cs','canceled','generate_rx_cs','canceled'),'generate_rx_cs'=>array('generate_rx_cs','order_validated_cs','order_rejected_cs','canceled'),'order_validated_cs'=>array('order_validated_cs','canceled','order_processing_cs','on_hold_cs','canceled'),'fraud'=>array('order_processing_cs','canceled'),'on_hold_cs'=>array('on_hold_cs','canceled','order_processing_cs'),'order_processing_cs'=>array('order_processing_cs','invoiced_cs','canceled'),'invoiced_cs'=>array('invoiced_cs','customer_payment_pending_cs','ready_for_packing_cs','canceled'),'customer_payment_pending_cs'=>array('customer_payment_pending_cs','payment_failed_revise_payment_cs','ready_for_packing_cs','canceled'),'payment_failed_revise_payment_cs'=>array('payment_failed_revise_payment_cs','ready_for_packing_cs','canceled'),'ready_for_packing_cs'=>array('ready_for_packing_cs','ready_for_delivery_cs','order_rejected_cs','canceled'),'ready_for_delivery_cs'=>array('ready_for_delivery_cs','order_shipped_cs','out_for_delivery_cs'),'order_shipped_cs'=>array('order_shipped_cs','out_for_delivery_cs'),'out_for_delivery_cs'=>array('out_for_delivery_cs','order_delivered_cs','undelivered_cs'),'undelivered_cs'=>array('undelivered_cs','refund_processed_cs'),'order_delivered_cs'=>array('order_delivered_cs','return_initiated_cs'),'return_initiated_cs'=>array('return_initiated_cs','return_approved_cs','return_declined_cs'),'return_approved_cs'=>array('return_approved_cs','return_picked_up_cs'),'return_declined_cs'=>array('return_declined_cs','terminal_status'),'return_picked_up_cs'=>array('return_picked_up_cs','refund_processed_cs'),'return_deposited'=>array('return_deposited'),'return_scan_cs'=>array('return_scan_cs','refund_processed_cs'),'refund_processed_cs'=>array('refund_processed_cs','terminal_status'),'order_modified_cs'=>array('order_modified_cs','on_hold_cs','order_processing_cs','canceled'));
$orderState = "";
$orderState = $block->getOrder()->getState();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$scopeConfig    = $objectManager->create('\Magento\Framework\App\Config\ScopeConfigInterface');
$allCancellationReasons    = $scopeConfig->getValue('cancel_reasons_settings/zoylo/cancellation_reason', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$allCancellationReasonsArr = explode(';', $allCancellationReasons); 
$allReturnReasons    = $scopeConfig->getValue('cancel_reasons_settings/zoylo/order_return_reason', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$allReturnReasonsArr = explode(';', $allReturnReasons); 
?>
<div id="order_history_block" class="edit-order-comments">
    <?php if ($block->canAddComment()) :?>
        <div class="order-history-block" id="history_form">

            <div class="admin__field">
                <label for="history_status" class="admin__field-label"><?php /* @escapeNotVerified */ echo __('Status') ?></label>
                <div class="admin__field-control">
                    <select name="history[status]" id="history_status" class="admin__control-select">
                         <?php
                         
                         if (!isset($orderNextStatusAll[$block->getOrder()->getStatus()]))
                         {
                             $orderNextStatusAll[$block->getOrder()->getStatus()] = array($block->getOrder()->getStatus()); // if any status code does not exists then add it's same name as status in the order status drop down.
                         }
                         
                         if (isset($orderNextStatusAll[$block->getOrder()->getStatus()])) {
                         foreach ($orderNextStatusAll[$block->getOrder()->getStatus()] as $_code => $_label):
                             
                         ?>
                            <option value="<?php /* @escapeNotVerified */ echo $_label ?>"<?php if (isset($orderNextStatusAll[$_code]) && $_code == $block->getOrder()->getStatus()): ?> selected="selected"<?php endif; ?>><?php /* @escapeNotVerified */ echo str_replace(' CS','',$block->getOrder()->getConfig()->getStatusLabel($_label)); ?></option>
                         <?php  endforeach; 
                         } 
                         ?>
                    </select>
                </div>
            </div>
            
            <div class="admin__field" id="cancellation_reason_div" style="display: none;">
                <label for="history_status_cancel_reason" class="admin__field-label"><?php /* @escapeNotVerified */ echo __('Please choose reason') ?></label>
                <div class="admin__field-control">
                    <select name="cancel_reason_ignore" id="history_status_cancel_reason" class="admin__control-select">
                        <option value="select" >-SELECT REASON-</option>
                        <?php foreach($allCancellationReasonsArr as $eachReason) {
                        if ($eachReason != '') {     
                        ?>
                        <option value="<?php echo strtolower($eachReason); ?>" > <?php echo ucfirst($eachReason); ?> </option>
                        <?php } } ?>
                        <!--<option value="late delivery" >Late Delivery</option>
                        <option value="non availability of all items" >All Items Not Available</option>
                        <option value="price/total amount change" >Price/Total Amount Change</option>
                        <option value="payment issues">Payment Issues</option>-->
                        <option value="others">Others</option>
                    </select>
                </div>
            </div>

            <div class="admin__field" id="cancellation_reason_text_div" style="display: none;">
                <label for="history_status_cancel_reason_text" class="admin__field-label"><?php /* @escapeNotVerified */ echo __('Please add a reason to send to customer.') ?></label>
                <div class="admin__field-control">
                    <input type="text" name="cancel_reason_text_ignore" id="history_status_cancel_reason_text" class="required-entry input-text admin__control-text required-entry _required" />
                </div>
            </div>
            
            <div class="admin__field" id="order_return_reason_div" style="display: none;">
                <label for="history_status_order_return_reason" class="admin__field-label"><?php /* @escapeNotVerified */ echo __('Please choose reason') ?></label>
                <div class="admin__field-control">
                    <select name="order_return_reason_ignore" id="history_status_order_return_reason" class="admin__control-select">
                        <option value="select" >-SELECT REASON-</option>
                        <?php foreach($allReturnReasonsArr as $eachReturnReason) {
                        if ($eachReturnReason != '') {     
                        ?>
                        <option value="<?php echo strtolower($eachReturnReason); ?>" > <?php echo ucfirst($eachReturnReason); ?> </option>
                        <?php } } ?>
                        <!--<option value="late delivery" >Late Delivery</option>
                        <option value="non availability of all items" >All Items Not Available</option>
                        <option value="price/total amount change" >Price/Total Amount Change</option>
                        <option value="payment issues">Payment Issues</option>-->
                        <option value="others">Others</option>
                    </select>
                </div>
            </div>

            <div class="admin__field" id="order_return_reason_text_div" style="display: none;">
                <label for="history_status_order_return_reason_text" class="admin__field-label"><?php /* @escapeNotVerified */ echo __('Please add a reason to send to customer.') ?></label>
                <div class="admin__field-control">
                    <textarea name="order_return_reason_text_ignore" id="history_status_order_return_reason_text" class="required-entry input-text admin__control-text required-entry _required" ></textarea>
                </div>
            </div>
            
            <div class="admin__field">
                <label for="history_comment" class="admin__field-label">
                    <?php /* @escapeNotVerified */ echo __('Comment') ?>
                </label>
                <div class="admin__field-control">
                    <textarea name="history[comment]"
                              rows="3"
                              cols="5"
                              id="history_comment"
                              class="admin__control-textarea"></textarea>
                </div>
            </div>

            <div class="admin__field">
                <div class="order-history-comments-options">
                    <div class="admin__field admin__field-option">
                        <?php if ($block->canSendCommentEmail()) : ?>
                           <!--  <input name="history[is_customer_notified]"
                                   type="checkbox"
                                   id="history_notify"
                                   class="admin__control-checkbox"
                                   value="1" />
                            <label class="admin__field-label" for="history_notify">
                                <?php /* @escapeNotVerified */ //echo __('Notify Customer by Email') ?>
                            </label> -->
                        <?php endif; ?>
                    </div>

                    <div class="admin__field admin__field-option">
                        <input name="history[is_visible_on_front]"
                               type="checkbox"
                               id="history_visible"
                               class="admin__control-checkbox"
                               value="1" />
                        <label class="admin__field-label" for="history_visible">
                            <?php /* @escapeNotVerified */ echo __('Visible on Storefront') ?>
                        </label>
                    </div>
                </div>

                <div class="order-history-comments-actions">
                    <?php echo $block->getChildHtml('submit_button') ?>
                </div>
            </div>
        </div>
    <?php endif;?>

    <ul class="note-list">
    <?php foreach ($block->getOrder()->getStatusHistoryCollection(true) as $_item) : ?>
        <li class="note-list-item">
            <div class="trueeditorder-order-notes-actions">
                <?php
                echo $block
                    ->getLayout()
                    ->createBlock(
                        'Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\Buttons\EditOrderNote',
                        'edit_order_note_button_' . $_item->getId()
                    )
                    ->setItemId($_item->getId())
                    ->toHtml()
                ?>
                <?php
                echo $block
                    ->getLayout()
                    ->createBlock(
                        'Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\Buttons\RemoveOrderNote',
                        'remove_order_note_button_' . $_item->getId()
                    )
                    ->setItemId($_item->getId())
                    ->toHtml()
                ?>
            </div>
            <span class="note-list-date"><?php /* @noEscape */ echo $block->formatDate($_item->getCreatedAt(), \IntlDateFormatter::MEDIUM) ?></span>
            <span class="note-list-time"><?php /* @noEscape */ echo $block->formatTime($_item->getCreatedAt(), \IntlDateFormatter::MEDIUM) ?></span>
            <span class="note-list-status"><?php /* @escapeNotVerified */ echo $_item->getStatusLabel() ?></span>
            <span class="note-list-customer">
                <?php /* @escapeNotVerified */ echo __('Customer') ?>
                <?php if ($block->isCustomerNotificationNotApplicable($_item)): ?>
                    <span class="note-list-customer-notapplicable"><?php /* @escapeNotVerified */ echo __('Notification Not Applicable') ?></span>
                <?php elseif ($_item->getIsCustomerNotified()): ?>
                    <span class="note-list-customer-notified"><?php /* @escapeNotVerified */ echo __('Notified') ?></span>
                <?php else: ?>
                    <span class="note-list-customer-not-notified"><?php /* @escapeNotVerified */ echo __('Not Notified') ?></span>
                <?php endif; ?>
            </span>
            <?php if ($_item->getComment()): ?>
                <div class="note-list-comment"><?php echo $block->escapeHtml($_item->getComment(), ['b', 'br', 'strong', 'i', 'u', 'a']) ?></div>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
    </ul>
    <script>
require(['prototype'], function(){

        if($('order_status'))$('order_status').update('<?php /* @escapeNotVerified */ echo $block->getOrder()->getStatusLabel() ?>');

});
</script>

<script>
require(['jquery', 'jquery/ui'], function($){ 
    $('#history_status').on('change',function(){
       //code for order cancel starts
       if ($(this).val() == 'canceled')
       {
           $('#cancellation_reason_div').css('display','block');
           $('#history_status_cancel_reason').attr('name','cancel_reason');
       }
       else
       {
           $('#cancellation_reason_div').css('display','none');
           $('#history_status_cancel_reason').attr('name','cancel_reason_ignore');
           $('#cancellation_reason_text_div').css('display','none');
           $('#history_status_cancel_reason_text').attr('name','cancel_reason_text_ignore');
       }
       //code for order cancel ends
       
       //code for order return starts
       if ($(this).val() == 'return_approved_cs')
       {
           $('#order_return_reason_div').css('display','block');
           $('#history_status_order_return_reason').attr('name','order_return_reason');
       }
       else
       {
           $('#order_return_reason_div').css('display','none');
           $('#history_status_order_return_reason').attr('name','order_return_reason_ignore');
           $('#order_return_reason_text_div').css('display','none');
           $('#history_status_order_return_reason_text').attr('name','order_return_reason_text_ignore');
       }
       //code for order return ends
       
    });
    
    //code for order cancel starts
    $('#history_status_cancel_reason').on('change',function(){
        if($(this).val() == 'others')
        {
            $('#cancellation_reason_text_div').css('display','block');
            $('#history_status_cancel_reason_text').attr('name','cancel_reason_text');
        }
        else
        {
            $('#cancellation_reason_text_div').css('display','none');
            $('#history_status_cancel_reason_text').attr('name','cancel_reason_text_ignore');
        }
    });
    //code for order cancel ends
    
    
    //code for order return starts
    $('#history_status_order_return_reason').on('change',function(){
        if($(this).val() == 'others')
        {
            $('#order_return_reason_text_div').css('display','block');
            $('#history_status_order_return_reason_text').attr('name','order_return_reason_text');
        }
        else
        {
            $('#order_return_reason_text_div').css('display','none');
            $('#history_status_order_return_reason_text').attr('name','order_return_reason_text_ignore');
        }
    });
    //code for order return ends
    
     //your js code here  
 });    
</script>
</div>
