<?php
/**
* Copyright © Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/
/**
* @var \Magento\Sales\Block\Adminhtml\Order\View\Info $block
*/
// @codingStandardsIgnoreFile
$helper = $this->helper('Cminds\TrueEditOrder\Helper\Data');
$helper1 = $this->helper('I95Dev\UploadPrescription\Helper\Data');

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');

$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();

$url = $helper1->getBaseUrl();

$host = $_SERVER['HTTP_HOST'];
$adminRouter = $objectManager->get('Magento\Framework\App\AreaList')->getFrontName('adminhtml');
//$adminUrl = 'https://'.$host .'/'.$adminRouter;
$adminUrl = $url . $adminRouter;

$order = $block->getOrder();

$orderAdminDate = $block->formatDate(
    $block->getOrderAdminDate($order->getCreatedAt()), \IntlDateFormatter::MEDIUM, true
);

$orderStoreDate = $block->formatDate(
    $order->getCreatedAt(), \IntlDateFormatter::MEDIUM, true, $block->getTimezoneForStore($order->getStore())
);

$customerUrl = $block->getCustomerViewUrl();
?>

<section class="admin__page-section order-view-account-information">
<div class="admin__page-section-title">
    <span class="title"><?= $block->escapeHtml(__('Order & Account Information')) ?></span>
</div>
<div class="admin__page-section-content">
    <div class="admin__page-section-item order-information">
<?php /* Order Information */ ?>
<?php $confirmationEmailStatusMessage = $order->getEmailSent() ? __('The order confirmation email was sent') : __('The order confirmation email is not sent'); ?>
        <div class="admin__page-section-item-title">
            <span class="title">
<?php if ($block->getNoUseOrderLink()): ?>
<?= $block->escapeHtml(__('Order # %1', $order->getRealOrderId())) ?> (<span><?= $block->escapeHtml($confirmationEmailStatusMessage) ?></span>)
        <?php else: ?>
                    <a href="<?= $block->escapeHtml($block->getViewUrl($order->getId())) ?>"><?= $block->escapeHtml(__('Order # %1', $order->getRealOrderId())) ?></a>
                    <span>(<?= $block->escapeHtml($confirmationEmailStatusMessage) ?>)</span>
<?php endif; ?>
            </span>
        </div>
        <div class="admin__page-section-item-content">
            <table class="admin__table-secondary order-information-table">
                <tr>
                    <th><?= $block->escapeHtml(__('Order Date')) ?></th>
                    <td><?= $block->escapeHtml($orderAdminDate) ?></td>
                </tr>
<?php if ($orderAdminDate != $orderStoreDate): ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Order Date (%1)', $block->getTimezoneForStore($order->getStore()))) ?></th>
                        <td><?= $block->escapeHtml($orderStoreDate) ?></td>
                    </tr>
<?php endif; ?>
                <tr>
                    <th><?= $block->escapeHtml(__('Order Status')) ?></th>
                    <td><span id="order_status"><?= $block->escapeHtml($order->getStatusLabel()) ?></span></td>
                </tr>
<?= $block->getChildHtml() ?>
                <?php if ($block->isSingleStoreMode() == false): ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Purchased From')) ?></th>
                        <td><?= $block->escapeHtml($block->getOrderStoreName(), ['br']) ?></td>
                    </tr>
                <?php endif; ?>
                <?php if ($order->getRelationChildId()): ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Link to the New Order')) ?></th>
                        <td>
                            <a href="<?= $block->escapeHtml($block->getViewUrl($order->getRelationChildId())) ?>">
                    <?= $block->escapeHtml($order->getRelationChildRealId()) ?>
                            </a>
                        </td>
                    </tr>
<?php endif; ?>
<?php if ($order->getRelationParentId()): ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Link to the Previous Order')) ?></th>
                        <td>
                            <a href="<?= $block->escapeHtml($block->getViewUrl($order->getRelationParentId())) ?>">
                    <?= $block->escapeHtml($order->getRelationParentRealId()) ?>
                            </a>
                        </td>
                    </tr>
<?php endif; ?>
<?php if ($order->getRemoteIp() && $block->shouldDisplayCustomerIp()): ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Placed from IP')) ?></th>
                        <td><?= $block->escapeHtml($order->getRemoteIp());
                            echo $order->getXForwardedFor() ? ' (' . $block->escapeHtml($order->getXForwardedFor()) . ')' : ''; ?></td>
                    </tr>
                <?php endif; ?>
                <?php if ($order->getGlobalCurrencyCode() != $order->getBaseCurrencyCode()): ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('%1 / %2 rate:', $order->getGlobalCurrencyCode(), $order->getBaseCurrencyCode())) ?></th>
                        <td><?= $block->escapeHtml($order->getBaseToGlobalRate()) ?></td>
                    </tr>
                <?php endif; ?>
                <?php if ($order->getBaseCurrencyCode() != $order->getOrderCurrencyCode()): ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('%1 / %2 rate:', $order->getOrderCurrencyCode(), $order->getBaseCurrencyCode())) ?></th>
                        <th><?= $block->escapeHtml($order->getBaseToOrderRate()) ?></th>
                    </tr>
                <?php endif; ?>
                <?php if ($order->getSource()): ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Source')) ?></th>
                        <td><?= $block->escapeHtml($order->getSource()) ?></td>
                    </tr>
                <?php endif; ?>
                <?php if ($order->getOrderBy()): ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Order By')) ?></th>
                        <td><?= $block->escapeHtml($order->getOrderBy()) ?></td>
                    </tr>
                <?php endif; ?>
                     <?php if ($order->getOrigin()): ?>
                    <tr>
                        <th><?= $block->escapeHtml(__('Origin')) ?></th>
                        <td><?= $block->escapeHtml($order->getOrigin()) ?></td>
                    </tr>
                <?php endif; ?>
                    
                    <?php $status = $order->getStatus();
                    if($status == 'customer_payment_pending_cs' || $status == 'payment_failed_revise_payment_cs') {?>
                <tr>
                    <th><?= $block->escapeHtml(__('Payment Link')) ?></th>
                    <td>
                        <input type="hidden" id="encryptUrl" value="">
                       <div id="demo"></div>
                                         <script src ="<?php echo $url; ?>pub/media/crypto-js.js"></script>
        <script type="text/javascript">
          
            var CryptoJS;
                    const stringfyJSON = JSON.stringify({
                    appointmentId: '<?php echo $order->getIncrementId();?>',
                    platform: 'ecom',
                    bookingType: 'ecom',
                    promotionId: '',
                    promotionCode: '',
                });
                const encryptedString = CryptoJS.enc.Utf8.parse(stringfyJSON);
                var encrypted = CryptoJS.enc.Base64.stringify(encryptedString);
                document.getElementById('encryptUrl').value= encrypted;
        </script>
        <script type="text/javascript">
    require([
        'jquery', 'jquery/ui'
    ], function ($) {
       
        $(document).ready(function () {
              $('#send-link').click(function () {
                var string = document.getElementById('encryptUrl').value;
                var orderId = "<?php echo $order->getId(); ?>";
                var url = '<?php echo $baseUrl;?>csquare/index/payment/';
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: {"string": string,"id": orderId},
                    success: function (result) {
                        
                        if (result.success == 'true') {
                            $("#result").html('Link sent successfully.');
                        } else {
                            $("#result").html('Failed to send the Link.');
                        }
                    }
                });
            });
        });
    });
</script>
 <input type="submit" value="Send Payment Link" class ='admin_upload_file' id="send-link"/>       
<div id ="result"></div>
                   
                    
                </td>
            </tr>
            
            
            <?php } ?>
        </table>
    </div>
</div>

<div class="admin__page-section-item order-account-information">
<?php /* Account Information */ ?>
    <div class="admin__page-section-item-title">
        <span class="title"><?= $block->escapeHtml(__('Account Information')) ?></span>
        <div class="actions">
<?php if ($customerUrl) : ?>
                <a href="<?= /* @noEscape */ $customerUrl ?>" target="_blank">
        <?= $block->escapeHtml(__('Edit Customer')) ?>
                </a>
<?php endif; ?>
        </div>
    </div>
    <div class="admin__page-section-item-content">
        <table class="admin__table-secondary order-account-information-table">
            <tr>
                <th><?= $block->escapeHtml(__('Customer Name')) ?></th>
                <td>
<?php if ($customerUrl): ?>
                        <a href="<?= $block->escapeUrl($customerUrl) ?>" target="_blank">
                            <span><?= $block->escapeHtml($order->getCustomerName()) ?></span>
                        </a>
<?php else: ?>
                        <?= $block->escapeHtml($order->getCustomerName()) ?>
                    <?php endif; ?>
                </td>
            </tr>
            <tr>
                <th><?= $block->escapeHtml(__('Email')) ?></th>
                <td><a href="mailto:<?php echo $block->escapeHtml($order->getCustomerEmail()) ?>"><?php echo $block->escapeHtml($order->getCustomerEmail()) ?></a></td>
            </tr>
<?php if ($groupName = $block->getCustomerGroupName()) : ?>
    <?php if($groupName == "Suspected Abuse"){ $suspectedColor = 'style="color:red;font-weight:bold;"'; }else{ $suspectedColor = ''; } ?>
                <tr>
                    <th <?php echo $suspectedColor; ?>><?= $block->escapeHtml(__('Customer Group')) ?></th>
                    <td <?php echo $suspectedColor; ?>><?= $block->escapeHtml($groupName) ?></td>
                </tr>
            <?php endif; ?>
            <?php foreach ($block->getCustomerAccountData() as $data): ?>
                <tr>
                    <th><?= $block->escapeHtml($data['label']) ?></th>
                    <td><?= $block->escapeHtml($data['value'], ['br']) ?></td>
                </tr>
            <?php endforeach; ?>
            <?= $block->getChildHtml('extra_customer_info') ?>
        </table>
    </div>
</div>
            <?php if ($helper->isEnable() && $helper->isActive()) { ?>
    <form action="<?php echo $this->getUrl('trueeditorder/order/saveprescription/'); ?>" id="uploadprescription-form" name="uploadprescription-form" method="post"  enctype="multipart/form-data"> 
        <div class="admin__page-section-item order-account-information">
<?php /* Account Information */ ?>
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Add Prescription Here')) ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-account-information-table">
                    <tr>
                        <th></th>
                        <td>
                            <input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey(); ?>">
                            <input name="order_entity_id" type="hidden" value="<?php echo $order->getId(); ?>">
                            <input id="pic" type="file" name="pic[]" multiple="multiple" />
                            <input type="submit" name="submit" value="Upload" class="admin_upload_file" id ="adminuploadfile">
                        </td>
                    </tr>
                </table>
            </div>
        </div> 
    </form>
<?php } ?> 


<div class="admin__page-section-item order-account-information">
<?php /* Account Information */ ?>
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('CSquare Information')) ?></span>
                <?php 
                    $cSquareorderId = '';
                    $csquareStatus = '';
                    $response = '';
                    $targetInformation = $objectManager->create('Zoylo\Csquare\Model\ResourceModel\Orders\Collection')->addFieldToFilter('source_order_id',$order->getIncrementId());
                   if(count($targetInformation) > 0){
                       foreach($targetInformation as $info){
                         
                           $cSquareorderId = $info->getTargetOrderId();
                           $csquareStatus = $info->getFullfilmentStatus();
                           
                           $response = $info->getResponse();
                       }
                   }
                ?>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-account-information-table">
                    <tr>
                        <th>Csquare Order ID</th>
                        <td>
                            <?php echo $cSquareorderId;?>
                        </td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>
                            <?php echo $csquareStatus . '<br/>'. $response;?>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
<div class="admin__page-section-item order-information">
<?php /* Attributes Update */ ?>
<div class="admin__page-section-item-title">
    <span class="title"><?= $block->escapeHtml(__('Patient Information')) ?>
        <?php echo $block->getChildHtml('edit_attributes_button') ?>
    </span>
    <?php 
    $doctorName = $order->getDoctorName();
    $age        = $order->getAge();
    $gender     = $order->getCustomerGender();
    $optionArray = [
            '1' => 'Male',
            '2' => 'Female',
            '3' => 'Not Specified',
        ];
    if($gender > 0)
        $gender = $optionArray[$gender];
    else
        $gender = '';
    ?>
</div>
<div class="admin__page-section-item-content">
        <table class="admin__table-secondary order-account-information-table">
        <tr>
            <th>Doctor Name</th>
            <td>
                <?php echo $doctorName;?>
            </td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>
                <?php echo $gender;?>
            </td>
        </tr>
        <tr>
            <th>Age</th>
            <td>
                <?php echo $age;?>
            </td>
        </tr>
    </table>
</div>
</div>
    
    
    
    <div class="admin__page-section-item order-account-information">
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$assignedUserEnabled = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('cminds_trueeditorder/order_edit/allow_order_assign');
if($assignedUserEnabled == 1){
?>
<?php /* Attributes Update */ ?>
<div class="admin__page-section-item-title">
    <span class="title"><?= $block->escapeHtml(__('User Assignment')) ?>
       
        <div class="actions right">
<a href="<?php echo $this->getUrl('trueeditorder/order_assign/edit', array('order_id' => $order->getId()));?>">Assign User</a>
</div>
       
        <?php echo $block->getChildHtml('edit_attributes_button') ?>
    </span>
   
</div>
<?php } ?>
<?php
$assignedUser = $order->getAssignedUser();
if($assignedUser != ''){
$user = $assignedUser;
}else {
$user = 'Yet to Assign';
}
?>
<div class="admin__page-section-item-content">
        <table class="admin__table-secondary order-account-information-table">
        <tr>
            <th>Assigned User</th>
            <td>
                <?php echo $user;?>
            </td>
        </tr>
     
    </table>
</div>
</div>

    
</div>
</section>

<section class="admin__page-section order-addresses">
<div class="admin__page-section-title">
    <span class="title"><?= $block->escapeHtml(__('Address Information')) ?></span>
</div>
<div class="admin__page-section-content">
    <div class="admin__page-section-item order-billing-address">
<?php /* Billing Address */ ?>
        <div class="admin__page-section-item-title">
            <span class="title"><?= $block->escapeHtml(__('Billing Address')) ?></span>
            <div class="actions"><?= /* @noEscape */ $block->getAddressEditLink($order->getBillingAddress()); ?></div>
        </div>
        <address class="admin__page-section-item-content"><?= /* @noEscape */ $block->getFormattedAddress($order->getBillingAddress()); ?></address>
    </div>
<?php if (!$block->getOrder()->getIsVirtual()): ?>
        <div class="admin__page-section-item order-shipping-address">
<?php /* Shipping Address */ ?>
            <div class="admin__page-section-item-title">
                <span class="title"><?= $block->escapeHtml(__('Shipping Address')) ?></span>
                <div class="actions"><?= /* @noEscape */ $block->getAddressEditLink($order->getShippingAddress()); ?></div>
            </div>
            <address class="admin__page-section-item-content"><?= /* @noEscape */ $block->getFormattedAddress($order->getShippingAddress()); ?></address>
        </div>
<?php endif; ?>
</div>
</section>
<style type="text/css">
.actions.right + .actions.right {
display: none;
}
.admin_upload_file{
    background-color: #eb5202;
    border-color:#b84002;
    color: #ffffff;
    text-decoration:none;}
</style>

<div id="popup-modal"  style="display:none;">
	<div class="popup-matter"><p><input type="checkbox" id="invoice" name="qccheckbox[]" ></p>
	<label for="invoice"><p><strong>Invoice</strong></label></p></div>
    <div class="popup-matter"><p><input type="checkbox" id="order_summary" name="qccheckbox[]" ></p>
	<label for="order_summary"><p><strong>Order Summary</strong></label><br />
    Medicine Name, Quantity, Total amount matches to invoice, No product is expired.</p></div>
	<div class="popup-matter"><p><input type="checkbox" id="cold_storage" name="qccheckbox[]" ></p>
	<label for="cold_storage"><p><strong>Cold Storage and Fragile Items Properly Packed(See Storage Type attribute)</strong></label></p></div>
	<div class="popup-matter"><p><input type="checkbox" id="packing" name="qccheckbox[]" ></p>
	<label for="packing"><p><strong>Normal Products packing</strong></label></p></div>
	<textarea name="qc_comments" id="comments" width="300" height="300" placeholder="Write your comments ..."></textarea><br>  
	<input type="hidden" name="order_id" id="order_id">
    <button id="pass" type="submit" class="btn btn-secondary qc-pass" onClick = 'getPassUrl()' >QC Pass</button> 
    <button id="fail" type="submit" class="btn btn-secondary qc-fail" onClick = 'getFailUrl()' >QC Failed</button>  
</div>

<script type="text/javascript">
 function getPassUrl() {
    var adminUrl = '<?php echo $this->getUrl("sales/order/view/") ?>';
    var orderId = document.getElementById("order_id").value;
    var comments = document.getElementById("comments").value;
    if(comments != ""){
        var Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9\+\/\=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\r\n/g,"\n");var t="";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t="";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}
        var encodedString = Base64.encode(comments);
        var url = adminUrl + 'order_id/' + orderId + '/qc/pass/comments/'+encodedString;
    }else {
        var url = adminUrl + 'order_id/' + orderId + '/qc/pass';
    }
    window.location.href = url;
}

function getFailUrl() {
    var adminUrl = '<?php echo $this->getUrl("sales/order/view/") ?>';
    var orderId = document.getElementById("order_id").value;
    var comments = document.getElementById("comments").value;
    if(comments != ""){
        var Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9\+\/\=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\r\n/g,"\n");var t="";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t="";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}
        var encodedString = Base64.encode(comments);
        var url = adminUrl + 'order_id/' + orderId + '/qc/fail/comments/'+encodedString;
    }else {
        var url = adminUrl + 'order_id/' + orderId + '/qc/fail';
    }
   
    window.location.href = url;
} 

function showPopup(id) {

    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Validate Checklist',
                buttons: [{
                    text: $.mage.__(''),
                    class: '',
                    click: function() {
                        this.closeModal();
                    }
                }]
            };
            document.getElementById("order_id").value = id;
            var popup = modal(options, $('#popup-modal'));
            $("#popup-modal").modal("openModal");
        }
    );
}
</script>
<script>
require([
    'jquery'
], function($) {
    $(document).ready(function() {

        var requiredCheckboxes = $("input[name='qccheckbox[]']");
        requiredCheckboxes.change(function() {

            var len = $("input[name='qccheckbox[]']:checked").length;
            if (len == 4) {
                $('.qc-pass').attr("disabled", false);
                $('.qc-fail').attr("disabled", true);
            } else {
                $('.qc-pass').attr("disabled", true);
                $('.qc-fail').attr("disabled", false);
            }
        });

        if (requiredCheckboxes.is(':checked')) {
            // $('.qc-pass').attr("disabled", false);
        } else {
            $('.qc-pass').attr("disabled", true);
        }

    });
});
</script>