<?php
/**
 * Cminds TrueEditOrder order info add items button template.
 *
 * @category Cminds
 * @package  Cminds_TrueEditOrder
 * @author   Piotr Pierzak <piotrek.pierzak@gmail.com>
 */
?>
<?php /** @var $block \Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\Buttons\AddItems */ ?>
<button title="<?php /* @escapeNotVerified */ echo __('Add Items') ?>"
        type="button"
        class="action-default scalable action-save action-secondary"
        id="cminds-trueeditorder-additems-button">
    <span><?php /* @escapeNotVerified */ echo __('Add Items') ?></span>
</button>