<?php /** @var $block \Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\Buttons\EditItems */ ?>
<button title="<?php /* @escapeNotVerified */ echo __('Edit Items') ?>"
        type="button"
        class="action-default scalable edit primary"
        id="cminds-trueeditorder-edititems-button">
    <span><?php /* @escapeNotVerified */ echo __('Edit Items') ?></span>
</button>

<button title="<?php /* @escapeNotVerified */ echo __('Cancel Edit') ?>"
        type="button"
        class="action-default scalable back"
        id="cminds-trueeditorder-cancel-edititems-button"
        style="display:none">
    <span><?php /* @escapeNotVerified */ echo __('Cancel Edit') ?></span>
</button>

<button title="<?php /* @escapeNotVerified */ echo __('Save Items') ?>"
        type="button"
        class="action-default scalable save primary"
        id="cminds-trueeditorder-save-edititems-button"
        style="display:none">
    <span><?php /* @escapeNotVerified */ echo __('Save Items') ?></span>
</button>