<?php
/**
 * Cminds TrueEditOrder order info edit shipping method button template.
 *
 * @category Cminds
 * @package  Cminds_TrueEditOrder
 * @author   Piotr Pierzak <piotrek.pierzak@gmail.com>
 */
?>
<?php /** @var $block \Cminds\TrueEditOrder\Block\Adminhtml\Order\View\Tab\Info\Buttons\EditAttributes */ ?>
<div class="actions right">
    <a href="<?php echo $block->getEditUrl() ?>"><?php /* @escapeNotVerified */ echo __('Edit') ?></a>
</div>