.report__btn-group {
     position: relative;
     font-size: 0;

     > button {
          &:hover,
          &:focus,
          &:active,
          &.active {
               z-index: 2;
          }

          &:not(:first-child):not(:last-child) {
               border-radius: 0;
          }

          &:first-child {
               margin-left: 0;
               &:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
               }
          }

          &:last-child:not(:first-child) {
               border-top-left-radius: 0;
               border-bottom-left-radius: 0;
          }

          .fa {
               margin-left: 0;
               margin-right: 0;
          }
     }

     button + button {
          margin-left: -1px;
     }
}

.report__btn {
     background: #fff;
     border: 1px solid #adadad;
     border-radius: 2px;
     font-weight: normal;

     &._active {
          background: #FFFBBB;
          border-color: #878787;
          z-index: 10;
     }
}

.report__loading-mask {
     background: rgba(255, 255, 255, 0.8);
     z-index: 1000;
     bottom: 0;
     left: 0;
     position: absolute;
     right: 0;
     top: 0;

     .report__spinner {
          height: 9rem;
          text-align: center;
          font-size: 1.3rem;
          position: fixed;
          left: 50%;
          margin-left: -20rem;
          top: 20rem;
          //background: #fff;
          //border: 1px solid #41362F;
          padding: 2rem 15rem 4rem 15rem;

          > span {
               display: block;
               margin-bottom: 1rem;
          }

          > div {
               background-color: #41362F;
               height: 100%;
               width: 6px;
               display: inline-block;

               -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
               animation: sk-stretchdelay 1.2s infinite ease-in-out;

               &.r2 {
                    -webkit-animation-delay: -1.1s;
                    animation-delay: -1.1s;
               }
               &.r3 {
                    -webkit-animation-delay: -1.0s;
                    animation-delay: -1.0s;
               }
               &.r4 {
                    -webkit-animation-delay: -0.9s;
                    animation-delay: -0.9s;
               }
               &.r5 {
                    -webkit-animation-delay: -0.8s;
                    animation-delay: -0.8s;
               }
               &.r6 {
                    -webkit-animation-delay: -0.7s;
                    animation-delay: -0.7s;
               }
               &.r7 {
                    -webkit-animation-delay: -0.6s;
                    animation-delay: -0.6s;
               }
               &.r8 {
                    -webkit-animation-delay: -0.5s;
                    animation-delay: -0.5s;
               }
               &.r9 {
                    -webkit-animation-delay: -0.4s;
                    animation-delay: -0.4s;
               }
               &.r10 {
                    -webkit-animation-delay: -0.3s;
                    animation-delay: -0.3s;
               }
          }
     }

     @-webkit-keyframes sk-stretchdelay {
          0%, 40%, 100% {
               -webkit-transform: scaleY(0.4)
          }
          20% {
               -webkit-transform: scaleY(1.0)
          }
     }

     @keyframes sk-stretchdelay {
          0%, 40%, 100% {
               transform: scaleY(0.4);
               -webkit-transform: scaleY(0.4);
          }
          20% {
               transform: scaleY(1.0);
               -webkit-transform: scaleY(1.0);
          }
     }
}

.report__container {
     .admin__data-grid-action-columns {
          .admin__field-option-wrapper {
               .lib-clearfix();
          }
     }

     .report__action-settings {
          .fa {
               font-size: 1.7rem;
               margin-right: 0.7rem;
               vertical-align: middle;
          }

          &:after {
               content: unset;
          }
     }
}