.report__container {
    // highlight first (dimension) column
    .data-grid {
        tr {
            td:first-child {
                background: #f5f5f5;
                border-right: 2px solid #d6d6d6;
            }

            th:first-child {
                border-right: 2px solid #8a837e;
            }

            &._odd-row {
                td:first-child {
                    background: #eeeeee;
                }
            }
        }

        tfoot {
            th {
                max-width: 400px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    // align values in grid
    .data-grid {
        .data-grid-cell-content {
            white-space: nowrap;
        }

        .report__grid-cell-number {
            text-align: right;
        }
    }

    // percent line
    .data-grid-cell-content {
        position: relative;
        overflow: visible;

        .report__grid-percent-line {
            position: absolute;
            bottom: -1rem;
            right: -1rem;
            height: 3px;
            margin-top: 2px;
            background: #def3cb;
            width: ~'calc( (100%) + 2rem )';

            .report__grid-percent-line-i {
                height: 3px;
                right: 0;
                position: absolute;
                background: #8cbf5c;
            }
        }
    }

    // comparison data
    .data-grid-cell-content {
        .comparison {
            display: block;
            font-size: 1.1rem;
            color: #8a837f;

            &:empty {
                display: none;
            }
        }
        .diff {
            position: absolute;
            left: 0;
            bottom: 0;
            font-size: 1rem;

            &.positive {
                color: #00ca12;
            }

            &.negative {
                color: #fe020d;
            }

            &:empty {
                display: none;
            }
        }
    }
}

//.reports-report-view .data-grid-cell-content {
//    white-space: nowrap;
//
//    .value {
//
//    }
//
//    .comparison {
//        display: block;
//        font-size: 1.1rem;
//        color: #8a837f;
//        margin-top: 5px;
//
//        &:empty {
//            display: none;
//        }
//    }
//
//    .diff {
//        position: absolute;
//        right: -1rem;
//        top: -1rem;
//        padding: 1px 2px;
//        font-size: 1rem;
//
//        &.positive {
//            color: #00ca12;
//        }
//
//        &.negative {
//            color: #fe020d;
//        }
//
//        &:empty {
//            display: none;
//        }
//    }
//}
//
//.report__grid-cell-html {
//    hr {
//        background: transparent;
//        border-top: 1px dashed #D6D6D6;
//        border-bottom: 0;
//    }
//}
//
//.report__grid-cell-country {
//    white-space: nowrap;
//
//    img {
//        max-width: 2rem;
//        float: right;
//    }
//}
//
//.report__grid-cell-number {
//    position: relative;
//    overflow: initial !important;
//}
//
//.report__grid-percent-line {
//    position: absolute;
//    bottom: -1rem;
//    height: 3px;
//    margin-top: 2px;
//    background: #feefdf;
//    width: 100%;
//
//    .report__grid-percent-line-b {
//        height: 3px;
//        width: 100%;
//        opacity: 0.2;
//        position: absolute;
//        left: 0;
//        top: 0;
//    }
//    .report__grid-percent-line-i {
//        height: 3px;
//    }
//    .report__grid-percent-line-val {
//        position: absolute;
//        right: 0;
//        top: -12px;
//        font-size: 10px;
//    }
//}
//
//.admin__data-grid-action-columns-menu {
//    .admin__action-dropdown-menu-content {
//        width: 63.2rem !important;
//
//        .group {
//            .lib-clearfix();
//            margin-bottom: 1.5rem;
//            border-bottom: 1px solid #d1d1d1;
//
//            &:last-child {
//                border-bottom: none;
//            }
//        }
//    }
//}