<?php /** @var $block \Magento\Catalog\Block\Product\AbstractProduct*/ 
$_product = $block->getProduct();
echo $_product->getName();
echo $antibiotics = $_product->getResource()->getAttribute('antibiotics')->getFrontend()->getValue($_product);
     ?>  
		<div class="filterproducts products list items product-items owl-carousel">
			<div class="product-item-info" data-container="product-grid">
				<div class="product photo product-item-photo">
					 <img class="product-image-photo default_image " src="http://zoylo.i95-dev.com/pub/static/version1541770696/frontend/Smartwave/porto/en_US/Magento_Catalog/images/product/placeholder/small_image.jpg" width="300" height="300">
				</div>
			</div>
		</div>
		
		
<script type="text/javascript" xml="space">// <![CDATA[
                   require([
                       'jquery',
                       'owl.carousel/owl.carousel.min'
                   ], function ($) {
                       $(".filterproducts .owl-carousel").owlCarousel({
                           autoplay: true,
                           autoplayTimeout: 5000,
                           autoplayHoverPause: true,
                           loop: true,
                           navRewind: true,
                           margin: 25,
                           nav: true,
                           dots: false,
                           responsive: {
                               0: {
                                   items:2
                               },
                               640: {
                                   items:3
                               },
                               768: {
                                   items:4
                               },
                               1200: {
                                   items:6
                               }
                           }
                       });
                   });
// ]]></script>