<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list template
 *
 * @var $block \Smartwave\Filterproducts\Block\
 */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$CatogeryId = $block->getCatogeryId(); 
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$_portohelper = $this->helper('Smartwave\Porto\Helper\Data');
$review_model = $_portohelper->getModel('\Magento\Review\Model\Review');
$_category_config = $_portohelper->getConfig('porto_settings/category');
$_category_grid_config = $_portohelper->getConfig('porto_settings/category_grid');
$_product_label_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/product_label');
$_lazyload = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/optimization/lazyload');
$aspect_ratio = $this->getData("aspect_ratio");
if($aspect_ratio == null) {
    $aspect_ratio = $_category_config['aspect_ratio'];
}
$image_width = $this->getData("image_width");
if(!$image_width) {
    $image_width = ($_category_config['ratio_width'])?$_category_config['ratio_width']:300;
}
$image_height = $this->getData("image_height");
if($aspect_ratio) {
    $image_height = $image_width;
}
if(!$image_height) {
    $image_height = ($_category_config['ratio_height'])?$_category_config['ratio_height']:$image_width;  
}
$move_actions = $this->getData("move_actions");
if($move_actions == null) {
    $move_actions = $_category_grid_config['move_actions'];
}
$lazy_owl = $this->getData("lazy_owl");
			
$helper = $this->helper('I95Dev\UploadPrescription\Helper\Data');
$mediaurl = $helper->getMediaUrl();
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
    $viewMode = 'grid';
    $image = 'category_page_grid';
    $hover_image = 'category_page_grid-hover';
    $showDescription = false;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    ?>
    <div class="products wrapper <?php echo $viewMode; ?> products-<?php echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <div class="filterproducts products list items product-items owl-carousel <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): 
                 $categoryIds= $_product->getCategoryIds();
                        $_imgUrl = '';
                        foreach ($categoryIds as $catId){
                            if($catId == 1 || $catId == 2 || $catId == 3|| $catId == 6 ||$catId == 7)
                                continue;
                            
                            $category = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
                            if($category->getLevel() == 3) {
                                $_outputhelper    = $objectManager->get('Magento\Catalog\Helper\Output');
                                $_imgUrl = $category->getImageUrl();
                                
                            }
                        }
				$prodSku = $_product->getSku();
				$productRepository = $objectManager->create('Magento\Catalog\Model\ProductRepository');
				$products = $productRepository->get($prodSku);
				$scheduleType =  $products->getPrescriptionRequired();
				$sellable_flag =  $products->getSellableFlag();
                $pack_type = $products->getDrugType();
                if (isset($pack_type) && $pack_type != '' && $pack_type != 'no_selection') {
                    $packtype_url = $mediaurl . 'packtype/' . ucwords(strtolower($pack_type)) . '.png';
                }
			?>
                <?php echo($iterator++ == 1) ? '<div class="item product product-item">' : '</div><div class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php // Product Image ?>
                    <div class="product photo product-item-photo">
                        <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                        <?php
                            if($aspect_ratio)
                                $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                               $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
							   $productImageUrl = $productImage->getUrl();
							   
                        ?>
                        <?php 
						$product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
						$zoylo_product_type =  $product->getZoyloProductType();
						if ($zoylo_product_type == "OTC") {
								 if (strpos($productImageUrl, 'placeholder') !== false) {
                                                                      if($_imgUrl){
										$productImageUrl = $_imgUrl;
										 }else{
								        $productImageUrl = $mediaurl . 'packtype/OTC.png';
								              }
									 
								 }
						}elseif (isset($pack_type) && $pack_type != '') { 
								   if (strpos($productImageUrl, 'placeholder') !== false) {
									   if(isset($packtype_url) && $packtype_url != ''){
										   $productImageUrl = $packtype_url;
									} 
								  }
						} ?>
						<img class="product-image-photo default_image <?php if(!$_lazyload): ?>porto-lazyload<?php endif;?>" <?php if(!$_lazyload): ?>data-<?php endif; ?>src="<?php echo $productImageUrl; ?>" width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>" alt = "<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>" />
                        <?php if($_category_config['alternative_image']): ?>
                        <?php
                            if($aspect_ratio)
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->resize($image_width, $image_height);
                            $productHoverImageUrl = $productHoverImage->getUrl();
                        ?>
                            <?php if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                            <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>" />
                            <?php endif; ?>
                        <?php endif; ?>
                        </a>
                        <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label">'.'-'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }
                            }
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }
                            }
                            
                            				
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                        ?>
                        <?php if($_category_config['actions'] && $move_actions): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                   <!-- <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a> -->
															<button type="button" id="<?= /* @escapeNotVerified */ $_product->getId() ?>-dec"  class="porto-icon-down-dirs">-</button>
											<input type="number"
																   name="qty"
																   id="qty-<?php echo $_product->getId(); ?>"
																   maxlength="12"
																   value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
																   title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text-qtys-<?php echo $_product->getId(); ?>"
																   data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
																   />
											<button type="button" id="<?= /* @escapeNotVerified */ $_product->getId() ?>-upt" class="porto-icon-up-dirs">+</button>	
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <?php if($sellable_flag == 1){ ?>
                                            <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                <span><?php echo __('Add to Cart') ?></span>
                                            </button>
                                            <?php }elseif($sellable_flag == 2){ ?> 
											  <span class="action tocartone tocart primary notfortransform"><?php echo __('Discontinued') ?></span>
											<?php }else{  ?>
												<span class="action tocartone tocart primary notfortransform"><?php echo __('Not For SALE') ?></span>
											<?php } ?>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?> 
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable notfortransform"><span class="action tocart primary"><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() == 'grid'): ?>
                                <?php if($_category_config['addtowishlist']): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       class="action towishlist actions-secondary"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
<?php  if($scheduleType == 'required'){
		 echo $product_label .= '<div class="product-label required-label">Prescription Required</div>'; 
} ?>
                   
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <?php if(!$_category_grid_config['move_title']):?>
                        <strong class="product name product-item-name">
                            <?php $sku_display_name = $_helper->productAttribute($_product, $_product->getSkuDisplayName(), 'sku_display_name'); 
                            if($sku_display_name!= ''){
                            ?>
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $sku_display_name; ?>
                            </a> 
                            <?php } else{ ?> 
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a> 
                            <?php }?>
                        </strong>
                        <?php endif;?>
                        <?php //$_category_config['rating_star'] = "";  //disabled at the moment ?>
                        <?php if($_category_config['rating_star']): ?>
                        <?php
                            $review_model->getEntitySummary($_product);
                            $review_html = $block->getReviewsSummaryHtml($_product, $templateType);
                        ?>
                        <?php if($review_html): ?>
                            <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                        <?php else: ?>
                        <div class="product-reviews-summary short">
                            <div class="rating-summary">
                                <span class="label"><span>Rating:</span></span>
                                <div class="rating-result" title="0%">
                                    <span style="width:0"><span>0%</span></span>
                                </div>
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php endif; ?>
                        <?php if($_category_grid_config['move_title']):?>
                            <strong class="product name product-item-name">
                               <?php $sku_display_name = $_helper->productAttribute($_product, $_product->getSkuDisplayName(), 'sku_display_name'); 
                            if($sku_display_name!= ''){
                            ?>
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $sku_display_name; ?>
                            </a> 
                            <?php } else{ ?> 
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a> 
                            <?php }?>
                            </strong>
                   
                       <span><?php echo $_product->getResource()->getAttribute('display_pack_size')->getFrontend()->getValue($_product); ?></span>
                        <?php endif;?>
                        <?php if ($showDescription):?>
                            <div class="product description product-item-description">
                                <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>"
                                   class="action more"><?php echo __('Learn More') ?></a>
                            </div>
                        <?php endif; ?>
                        <?php if($_category_config['product_price']): ?>
                        <?php echo $block->getProductPrice($_product) ?>
                        <?php endif; ?>
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        
                        <?php if($_category_config['actions'] && !$move_actions): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <?php if ($block->getMode() == 'grid'): ?>
                                <?php if($_category_config['addtowishlist']): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       class="action towishlist actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php endif; ?>
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php //if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <!--<div class="qty-box">
                                                    <!--<a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ //echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ //echo __('Qty') ?>" class="input-text qty" data-validate="<?php //echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a> -->
										<!--<button type="button" id="<?= /* @escapeNotVerified */ $_product->getId() ?>-dec"  class="porto-icon-down-dirs">-</button>
											<input type="number"
																   name="qty"
																   id="qty-<?php //echo $_product->getId(); ?>"
																   maxlength="12"
																   value="<?php /* @escapeNotVerified */ //echo $block->getProductDefaultQty() * 1 ?>"
																   title="<?php /* @escapeNotVerified */ //echo __('Qty') ?>" class="input-text-qtys-<?php //echo $_product->getId().$CatogeryId; ?>"
																   data-validate="<?php //echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
																   />
											<button type="button" id="<?= /* @escapeNotVerified */ $_product->getId() ?>-upt" class="porto-icon-up-dirs">+</button>-->	
                                                <!--</div>-->
                                            <?php //endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
											<?php if($sellable_flag == 1){ ?>
                                            <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                <span><?php echo __('Add to Cart') ?></span>
                                            </button>
											<?php }elseif($sellable_flag == 2){ ?> 
											  <span class="action tocartone tocart primary notfortransform"><?php echo __('Discontinued') ?></span>
											<?php }else{  ?>
												<span class="action tocartone tocart primary notfortransform"><?php echo __('Not For SALE') ?></span>
											<?php } ?>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable notfortransform"><span class="action tocart tocartone primary"><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</div>' : '' ?>
            <?php endforeach; ?>
        </div>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>

    <?php endif; ?>
<?php endif; ?>
<script type="text/javascript">
require(["jquery"],function($){
    $('.porto-icon-up-dirs, .porto-icon-down-dirs').on("click",function(){ 
	
		var productid = $(this).attr('id');
		var product_id = productid.split("-")[0];
		var carid = '<?php echo $CatogeryId; ?>';
 
        var $this = $(this);

        var currentQty = $('.input-text-qtys-'+product_id+carid).val();
		//alert(currentQty);
        if($this.hasClass('porto-icon-up-dirs')){
			
            var newAdd = parseInt(currentQty)+parseInt(1);
             $('.input-text-qtys-'+product_id+carid).val(parseInt(newAdd));
        }else{
             if(currentQty>1){
                var newAdd = parseInt(currentQty)-parseInt(1);
                $('.input-text-qtys-'+product_id+carid).val(parseInt(newAdd)); 
				 
             }
        }
    });
});
</script>

<script type="text/javascript">
require([
    'jquery'
], function ($) {
    $(document).ready(function(){
       // $(".product-label.sale-label").appendTo(".price-final_price.price-box .old-price");   
     });
});
</script>
<style>
	.notfortransform{text-transform:uppercase;}
	.products-grid .product-item:hover .product-item-details .product-item-actions .tocartone{background-color:#808080 !important;color:#fff !important;}
	.products-grid .product-item .product-item-actions .tocartone{color:#808080 !important;}
	.products-grid .product-item .product-item-actions .tocartone{color:#808080 !important;}
	</style>
