<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list template
 *
 * @var $block \Smartwave\Filterproducts\Block\
 */
?>
<?php
$parentCatogeryId = $block->getCatogeryId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$categoryObj = $objectManager->create('Magento\Catalog\Model\Category')->load($parentCatogeryId);
$subcategories = $categoryObj->getChildrenCategories();
$count =  count($subcategories);
$i = 1 ;
$lineItemsCount = 9;
foreach($subcategories as $subcategorie) {
	if($i <= $lineItemsCount){
		if($i == 1){
		?>
			<div class="col">
	        <ul class="footer-list">
		<?php 
			}
	   	?>
	   		<li><a href="<?php echo $subcategorie->getUrl();?>"><?php echo $subcategorie->getName();?></a></li>
	   	<?php
	   	 if($i == $lineItemsCount){
		?>
	        </ul>
	        </div>
		<?php 
			}
	}
	if($i > $lineItemsCount && $i <= $count){
		if($i == $lineItemsCount+1){
		?>
			<div class="col">
	        <ul class="footer-list">
		<?php 
			}
	   	?>
	   		<li><a href="<?php echo $subcategorie->getUrl();?>"><?php echo $subcategorie->getName();?></a></li>
	   	<?php
	   	 if($i == $count){
		?>
			<li><a href="<?php echo $baseUrl;?>otc/healthcare-products.html">More +</a></li>
			
	        </ul>
	        </div>
	    <?php
	 	}
 	}
    $i++;
}
?>