<!--
/**
 * Copyright © Ecomteck. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="shipping-address-item" data-bind="attr: { id: 'zoylo-med-shipping-address-id-'+address().customerAddressId }">
    <input type="radio"  class="radio" data-bind="click: selectAddress, css: isSelected() ? 'selected-item' : 'not-selected-item',attr: { id: 'zoylo-cust-ship-'+address().customerAddressId }"  />
    <div class="custom-ship-add-chk" data-bind="attr: { id: 'zoylo-checkout-ship-addr-cust-id-'+address().customerAddressId }">
    <!-- ko text: address().prefix --><!-- /ko --> <p class="customer-title"><!-- ko text: address().firstname --><!-- /ko --><!-- ko text: address().middlename --><!-- /ko -->
    <!-- ko text: address().lastname --><!-- /ko --></p> <!-- ko text: address().suffix --><!-- /ko -->
    <!-- ko text: _.values(address().street).join(", ") --><!-- /ko -->
    <!-- ko text: address().city --><!-- /ko -->, <span data-bind="html: address().region"></span> <!-- ko text: address().postcode --><!-- /ko -->
    <!-- ko text: getCountryName(address().countryId) --><!-- /ko --></br>
    <p class="  ">Phone Number:<!-- ko if: (address().telephone) -->
    <a data-bind="text: address().telephone, attr: {'href': 'tel:' + address().telephone}"></a>

    <!-- /ko --></p><br/>
    <!-- ko foreach: { data: address().customAttributes, as: 'element' } -->
        <!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
            <!-- ko if: (typeof element[attribute] === "object") -->
            <!-- ko if: (element[attribute].value) -->
            <span class="address-type"> <!-- ko text: element[attribute].value --><!-- /ko --> </span>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: (typeof element[attribute] === "string") -->
            <span class="address-type"> <!-- ko text: element[attribute] --><!-- /ko --> </span>
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
    </div>
    <!-- ko if: (!address().isEditable()) -->
    <button type="button"
            class="edit-ship-address-link"
            data-bind="attr: { id: address().customerAddressId }">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
    <button type="button"
            class="delete-ship-address-link"
            data-bind="css: isSelected() ? 'not-deleted-address-item' : 'deleted-address-item',attr: { id: address().customerAddressId }">
        <span data-bind="i18n: 'Delete'"></span>
    </button>
    <!-- /ko -->
    <!-- ko if: (address().isEditable()) -->
    <button type="button"
            class="action edit-address-link"
            data-bind="click: editAddress, visible: address().isEditable()">
        <span data-bind="i18n: 'Edit'"></span>
    </button>
    <!-- /ko -->
  
</div>


