<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
<form method="POST" >
    Order ID:<input type="text" id="id_increment_id" name="increment_id" />&nbsp;&nbsp;
    <label for="is_return_order" >Is Return Order?</label>&nbsp;&nbsp;
    <input type="checkbox" id="is_return_order" name="is_return_order" />&nbsp;&nbsp;
    <input type="button" id="id_sync_btn" value="Sync" />
    
</form>

<script type="text/javascript">
        require([
            'jquery', 'jquery/ui'
        ], function ($) {
            $('#id_sync_btn').on('click',function(){
                var isReturn = "off";
                if($('#is_return_order').is(':checked'))
                {
                    isReturn = "on";
                }
                $.ajax({
                    url:"<?php echo $this->getUrl('csquare/clickpost/syncfaileddata'); ?>",
                    method: "GET",
                    data: {increment_id : $('#id_increment_id').val(),is_return_order:isReturn},
                    showLoader: true,
                    success: function(response)
                    {
                        alert(response);
                    },
                    fail: function(response)
                    {
                        alert(response);
                    }
                }); 
            });
        });
</script>