<!-- ko if: isEnabled() -->
<div class="order-comment">
    <div class="field">
        <div class="control">
            <textarea  class="input-text" data-bind="attr:{placeholder:getPlaceholder()}" rows="3" cols="10" name="order-comment" id="order-comment"></textarea>
        </div>
    </div>
</div>
<!-- /ko -->