<!-- ko if: isEnabled() -->
<div class="newsletter-subscribe">
    <div class="field">
        <div class="control">
            <input class="input-text" type="checkbox" data-bind="checked: isCheckedByDefault()" name="newsletter-subscribe" id="newsletter-subscribe" />
            <label class="label" for="newsletter-subscribe">
                <span data-bind="i18n: getCheckoutLabel"></span>
            </label>
        </div>
    </div>
</div>
<!-- /ko -->