<!-- ko if: isEnabled() -->
<form id="form-term-condition">
    <div class="term-condition">
        <div class="field">
            <div class="control">
                <input class="checkbox" type="checkbox" data-validate="{'validate-one-required-by-name':true}" data-bind="checked: isCheckedByDefault()" name="term-condition[]" id="term-condition" />
                <label class="label" for="term-condition">
                    <a data-bind="i18n: getCheckoutLabel,click:showPopup"></a>
                </label>
            </div>
        </div>
    </div>
</form>

<!-- /ko -->