<?php 
$finalCatName =  $this->getCategoryNameForClevertap();
$subCatStatus = $this->getParamsStatusForSubcat();
if($subCatStatus!=''){ ?>
    <script type="text/javascript">
                    clevertap.event.push('Medicine_SubCategory',{
                        "Cat_Name" : "<?php echo $finalCatName; ?>"
                    });
                </script>
<?php }else{ ?>
    <script type="text/javascript">
                    clevertap.event.push('Medicine_Category_Home',{
                        "Cat_Name" : "<?php echo $finalCatName; ?>"
                    });
                </script>
<?php } ?>               
                