<?php
//Rx order placed only
$rxOrderItemStatus = $this->checkRxOrderItem();
//echo "<pre>";print_r($rxOrderItemStatus);
$customerNumber = $this->getCustomerMobileNo();
$orderIncrementId = $this->getIncrementId();
?>
<?php if($rxOrderItemStatus==1){ ?>
    <script type="text/javascript">
        clevertap.event.push('Medicine_UploadRx_OrderPlaced',{
                "Order_id":"<?php echo $orderIncrementId; ?>",
                "Mobile_Number":"<?php echo $customerNumber; ?>"
        });
        clevertap.event.push("Charged",{
            "med_upload_mobile_no": "<?php echo $customerNumber; ?>",
            "med_upload_Order_id": "<?php echo $orderIncrementId; ?>"
        });
    </script>
<?php }else{ ?>

<?php
//event trigger for order paylater items
$orderSuccessPayLaterStatus = $this->getClevertapPaylaterStatus();
	if($orderSuccessPayLaterStatus==1){
		$orderDefaultItems = $this->checkDefaultOrderItems();
		$customerNumber = $this->getCustomerMobileNo();
	?>
		<script type="text/javascript"> 
			clevertap.event.push("Medicine_Order",{
                            "Type":"<?php echo $orderDefaultItems['finalSkuType']; ?>",
                            "SKU_Name":"<?php echo $orderDefaultItems['implodeItemNames']; ?>",
                            "Salt":"<?php echo $orderDefaultItems['implodeSaltValues']; ?>",
                            "Symptom":"NA",
                            "SKU_Class":"NA",
                            "SKU_Price":"<?php echo $orderDefaultItems['implodeItemPrices']; ?>",
			                "Order_Id": "<?php echo $orderDefaultItems['incrementId'];?>",
                            "Mobile_Number":"<?php echo $customerNumber; ?>",
			                "Order_Total": "<?php echo round($orderDefaultItems['orderTotal']); ?>"
			  });
		</script>
	<?php } ?>

    <?php /* Ajesh written*/ ?>

    <?php $orderSuccessPayLaterStatus = $this->getClevertapPaylaterStatus();
if($orderSuccessPayLaterStatus==1){
        $orderDefaultItemsCharged = $this->checkDefaultOrderItems();
        $customerNumber = $this->getCustomerMobileNo();
        $chargeArray = $orderDefaultItemsCharged['charged'];
        //echo "<pre>";print_r($chargeArray);exit;
        ?>
                    
<script type="text/javascript">
    var dic=[];
    var saltArray=[];
    <?php foreach($chargeArray as $item) { ?>
        var meditemflag = 'meditem';
        var saltflag = 'salt';
        dic.push({
        "med_Type": "<?php echo $item['skutype'];?>",
        "med_SKU_Name": "<?php echo $item['name'];?>",
        "med_Symptom": "<?php echo "NA";?>",
        "med_SKU_Class": "<?php echo "NA";?>",
        "med_SKU_Price": "<?php echo $item['price'];?>",
        "med_Flag": meditemflag
        });
        <?php if(count($item['salt'])>0){
                foreach($item['salt'] as $saltValue){ ?>
                    <?php if($saltValue!='NA'){ ?>      
        saltArray.push({
            "med_Salt": "<?php echo $saltValue; ?>",
            "med_Flag": saltflag
        });
        <?php } ?>
         <?php } } ?>
    <?php } ?>

    clevertap.event.push("Charged",{
        "Items":dic.concat(saltArray),
        "med_Order_id": "<?php echo $orderDefaultItemsCharged['incrementId']; ?>",
        "med_Mobile_Number": "<?php echo $customerNumber; ?>",
        "med_Order_Total": "<?php echo $orderDefaultItemsCharged['orderTotal']; ?>",
        "business_type": "<?php echo "medicine";?>"
    });
</script> 
<?php } ?>
<?php } ?>
<script type="text/javascript">
    var len = localStorage.length;
    jQuery(document).ready(function() {
        var clevrarray = [];
        for ( var i = 0; i < len; i++ ) {
        var resultValue = localStorage.getItem( localStorage.key( i ) );
        var res = resultValue.match(/clevertaptrue/i);
        if(res){
            var removeKey = localStorage.key( i );
            clevrarray.push(removeKey);
            //localStorage.removeItem(removeKey);
        }
    }
    //console.log('Removed array'+clevrarray);
    if(clevrarray.length > 0){
        clevrarray.forEach(function(entry) {
        if(entry !='mage-cache-storage'){
             localStorage.removeItem(entry);
             //localStorage.clear();
             //console.log('Removed array'+entry);
        }
    });
    }
    
});
</script>