<?php $clevertapAccountId = $this->getClevertapAccountId();?>
<?php if(!empty($clevertapAccountId)): ?>
    <script type="text/javascript">
       var clevertap = {event:[], profile:[], account:[], onUserLogin:[], notifications:[], privacy:[]};
       clevertap.account.push({"id": "<?php echo (string)$clevertapAccountId; ?>"});
       clevertap.privacy.push({optOut: false}); //set the flag to true, if the user of the device opts out of sharing their data
       clevertap.privacy.push({useIP: false}); //set the flag to true, if the user agrees to share their IP data
        (function () {
                        var wzrk = document.createElement('script');
                        wzrk.type = 'text/javascript';
                        wzrk.async = true;
                        wzrk.src = ('https:' == document.location.protocol ? 'https://d2r1yp2w7bby2u.cloudfront.net' : 'http://static.clevertap.com') + '/js/a.js';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(wzrk, s);
         })();
       </script>
       
       <?php
       $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
       $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
       $siteBaseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
       $explodeBaseUrl = explode("/medicines",$siteBaseUrl);
       if(isset($explodeBaseUrl)){
        $rootUrl = $explodeBaseUrl[0];
       }
       ?>
       <link rel="manifest" href="<?php echo $rootUrl."/manifest.json"; ?>" />
<?php endif; ?>