<?php $currentProduct = $this->getCurrentProduct(); ?>
<?php if($currentProduct!=''): ?>
	<?php 
		$productType = $this->getCurrentProductType();
		$salt = $this->getSaltValue();
	?>
    <script type="text/javascript">
        clevertap.event.push("Medicine_Product_Detail", {
            "Type":"<?php echo $productType; ?>",
            "SKU_Name":"<?php echo $currentProduct->getName(); ?>",
            "Salt":"<?php echo $salt; ?>",
            "Symptom":"NA",
            "SKU_Class":"NA"
        });
    </script>
<?php endif; ?>

<?php
$currentCatIds = $this->getCurrentProductCategoryId();
if(isset($currentCatIds) && !empty($currentCatIds)){
    if(isset($currentCatIds['parentcat_id']) && $currentCatIds['parentcat_id']!=''){
    $finalParentCatName = $currentCatIds['parentcat_id'];?>
        <?php if($finalParentCatName!=''){ ?>
                <script type="text/javascript">
                    clevertap.event.push('Medicine_Category_Home',{
                        "Cat_Name" : "<?php echo $finalParentCatName; ?>"
                    });
                </script>
        <?php  } ?>
   <?php  } ?>

   <?php
   if(isset($currentCatIds['subcat_id']) && $currentCatIds['subcat_id']!=''){ ?>
   <?php $finalSubcatCatName = $currentCatIds['subcat_id']; ?>
   <?php if($finalSubcatCatName!=''){ ?>
                <script type="text/javascript">
                    clevertap.event.push('Medicine_SubCategory',{
                        "Cat_Name" : "<?php echo $finalSubcatCatName; ?>"
                    });
                </script>
    <?php  } ?>
   <?php  } ?>
<?php } ?>