<?php
$rxItemExists = $this->checkRxItemExistsOrNot();
$customerNumber = $this->getCustomerMobileNo();
    if($rxItemExists!=''){ 
        //echo "rxItemExists sku exists";
        if($customerNumber!=''){
        ?>
        <script type="text/javascript">
            clevertap.event.push("Medicine_UploadRx_InitiateCheckout",{
                "Cust_Mobile_Number" : "<?php echo $customerNumber; ?>"
            });
        </script>
    	<?php } ?>
    <?php }else{
    	//code for medicines
    	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	 	$cart = $objectManager->get('\Magento\Checkout\Model\Cart');
	 	$itemsCollection = $cart->getQuote()->getItemsCollection();
		$itemsVisible = $cart->getQuote()->getAllVisibleItems();
	 	$items = $cart->getQuote()->getAllItems();
        $couponCode = $cart->getQuote()->getCouponCode();
        if($couponCode!=''){
            $finalCouponCode = $couponCode;
        }else{
            $finalCouponCode = "NA";
        }

 		$itemNamesArray = $itemPriceArray = $itemQtyArray = $itemSkuNamesArray = $rxValueArray = array();
 		
		foreach($items as $item) {
			$sku = $item->getSku();
			$rxValue = 'NA';
            $finalSaltNames = "NA";
			if($sku !=''){
				$productCollectionFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
                    $collection = $productCollectionFactory->create();
                    $collection->addAttributeToSelect('*');
                    $collection->addAttributeToFilter('sku', array('eq' => $sku));
                    $count = count($collection->getData());
                    if($count>0){
                        $fcol = $collection->getData();
                        foreach($fcol as $product){
                        $productEntityId = $product['entity_id'];
                            if(!empty($productEntityId)){
                                $productInfo = $objectManager->create('Magento\Catalog\Model\Product')->load($productEntityId);
                                $rxValue = 'NA';
                                if($productInfo->getPrescriptionRequired() == 'required') {
                                   $rxValue = "Rx";
                                }elseif($productInfo->getPrescriptionRequired() == 'not_required'){
                                   $rxValue = "OTC";
                                }
                                //$rxValueArray[] = $rxValue;
                                    $finalSaltNames = $productInfo->getSaltComposition();
                                if($finalSaltNames!=''){
                                    $finalSaltNames = $finalSaltNames;
                                }else{
                                    $finalSaltNames = "NA";
                                }
                            }
                        }
                    }
			}
			$skuName = $item->getName();
		    $itemPrice = round($item->getPrice());
		    $itemQty = $item->getQty();
                    ?>
		<script type="text/javascript">clevertap.event.push("Medicine_InitiateCheckout",{
            "Type":"<?php echo $rxValue; ?>",
		    "SKU_Name":"<?php echo $skuName; ?>",
            "Salt":"<?php echo $finalSaltNames; ?>",
            "Symptom":"<?php echo "NA"; ?>",
            "SKU_Class":"<?php echo "NA"; ?>",
		    "SKU_Price": "<?php echo $itemPrice; ?>",
		    "SKU_Qty":"<?php echo $itemQty; ?>",
		    "Mobile_Number":"<?php echo $customerNumber; ?>",
            "Coupon_Name":"<?php echo $finalCouponCode; ?>"
		  });
		</script>
<?php 
}
  } ?>